<template>
  <!--教材推荐管理-->
  <div>
    <workBench></workBench>
    <div class="recommend" :style="`min-height:${tableHeigh(546)}`">
      <!--筛选-->
      <div class="re_screen">
        <ul>
          <!-- <li>
            <Screen :listData="recomList" title="状态" prop="name" :status="listQuery.status" :len="5" @changeStatus='changeStatus'></Screen>
          </li> -->
          <li v-if="semeStatus == '0'">
            <Screen :listData="semesterList" title="学期" prop="name" :status="semeStatus" :len="5" @changeStatus='changeSemester'></Screen>
          </li>
          <li v-if="semeStatus == '1'">
            <Screen :listData="semList" title="学期" prop="name" :status="semeOtherStatus" :len="5" @changeStatus='changeOtherSemester'></Screen>
          </li>
          <li>
            <Screen :listData="academicList" title="学级"  :status="acaStatus" :len="5" :showAll="true" @changeStatus='changeAca'></Screen>
          </li>
          <li>
            <Screen :listData="deptList" title="部门" prop="name" :status="deptStatus" :len="5" :showAll="true" @changeStatus='changeDept'></Screen>
          </li>
          <li v-show="isOpen">
            <Screen :listData="majorList" title="专业" prop="majorName" :status="majStatus" :len="5" :showAll="true" @changeStatus='changeMaj'></Screen>
          </li>
          <li v-show="isOpen">
            <Screen :listData="trainList" title="培养层次" prop="name" :status="traStatus" :showAll="true" :len="5" @changeStatus='changeTra'></Screen>
          </li>
        </ul>
        <div class="re_open" @click="openBtn">
          <h2>{{isOpen ? '收起' : '展开'}}</h2>
          <span class="typeImg">
                <img src="@/assets/img/bom.png" alt="" :class="isOpen?'inverted':''">
          </span>
        </div>
      </div>
      <!--提交按钮-->
      <div class="re_Submission">
        <span v-if="semeStatus == '0'&&bookRecomList&&bookRecomList.length>0" @click="submit()">提交</span>
      </div>
      <!--列表-->
      <div class="re_list"  v-loading="listLoading">
        <div v-if="Object.keys(bookRecomList).length == 0">
          <nullData></nullData>
        </div>
        <div v-else class="reList_item" v-for="(item,index) in bookRecomList" :key="index">
          <div class="item_tit">{{item.basicPlanName}}</div>

          <div class="item_list">
            <!-- 审核人-->
            <ul class="item_Olist" v-for="(it,ind) in item.details" :key="ind">
                <li>
                    <div class="majTitle">
                        <div class="index">{{ind+1}}</div>
                        <div class="academic">{{it.academicLevel}}</div>
                        <div class="deptName">{{it.departmentName}}</div>
                        <div class="lesName">{{it.lessonName}}</div>
                        <!-- <span>(</span><span class="book_num">{{it.books?it.books.length:'0'}}</span><span>)</span> -->
                        <div class="opera">
                            <span class="opera_span" v-if="it.openStatus" @click="openList(it,false)">收起</span>
                            <span class="opera_span" v-else @click="openList(it,true)">展开</span>
                            <span class="opera_span" @click="recommendBook(it,1)" v-if="it.isSubmitted == '0'&&semeStatus == '0'">选择</span>
                            <span class="opera_span" @click="returnBtn(it)" v-show="it.books&&it.books.length > 0&&it.isSubmitted == '0'">退回</span>
                        </div>
                    </div>
                    <ul class="examine-list"  v-for="(book,bookInd) in it.books" :key="bookInd" v-if="it.openStatus">
                      <!-- v-if="it.books&&it.openStatus?bookInd<it.books.length:bookInd<1" -->
                        <li >
                          <div class="examine-item">
                            <div class="item_img">
                                <img :src="imgUrl(book.cover)" alt=""   @error="imgError(book)">
                            </div>
                            <div class="item_name">
                                <h1>{{book.status  == '0'?'待定教材':'已定教材'}}</h1>
                                <p  :title="book.resourceName">{{book.resourceName}}</p>
                                <p :title="book.author">作者：{{book.author}}</p>
                            </div>
                            <div class="item_recom" @click="lookRemark(book,it)" >
                                <h1>推荐人：{{book.name}}</h1>
                                <p v-if="book.remark"><span>推荐理由</span>：{{filterWord(book.remark,15)}}</p>
                            </div>
                            <div class="item_explain" >
                                <!-- <span v-show="listQuery.status == '2'"><h1>说明</h1>
                                  <span v-if="book.reason&&book.reason.length>15">：{{filterWord(book.reason, 14)}}... <h2 @click="lookDetail(book.reason)">查看详情>></h2></span>
                                  <span v-else-if="book.reason">：{{book.reason}}</span>
                                  <span v-else>：暂无退回理由</span>
                                </span> -->
                            </div>
                            <div class="item_btn" v-if="it.isSubmitted == '0'&&semeStatus == '0'">
                              <span class="look" v-if="flowDepth==2&&book.confirmStatus == null" @click="submitConfirm(item,book,it)">确认</span>
                              <span class="haveLook" v-if="flowDepth==2&&book.confirmStatus === '1'">已确认</span>
                              <span class="haveLook" v-if="flowDepth==2&&book.confirmStatus === '0'">确认</span>
                              <!-- <span class="return" v-if="flowDepth!=1&&(book.confirmStatus === '0'||book.confirmStatus === '1')"  @click="returnBtn(it)">退回</span> -->
                                <!-- <span class="alLook" v-if="listQuery.status == 0">已提交</span> -->
                            </div>
                            <div class="item_btn" v-else></div>
                          </div>
                            <!-- 教参 -->
                          <div class="examine-exercise" v-if="book.exercises">
                              <div class="item_img">
                                <img :src="imgUrl(book.exercises.cover)" alt=""  @error="imgError(book.exercises)">
                            </div>
                            <div class="item_name">
                                <h1>{{book.status  == '0'?'待定教材':'已定教材'}}</h1>
                                <p  :title="book.exercises.name">{{book.exercises.name}}</p>
                                <p :title="book.exercises.author">作者：{{book.exercises.author}}</p>
                            </div>
                            <div class="item_recom" @click="lookRemark(book,it)" >
                                <h1>推荐人：{{book.name}}</h1>
                                <p v-if="book.remark"><span>推荐理由</span>：{{filterWord(book.remark,20)}}</p>
                            </div>
                            <div class="item_explain" >
                            </div>
                            <div class="item_btn">
                            </div>
                          </div>
                          <!-- 习题册 -->
                          <div class="examine-guide" v-if="book.guide">
                            <div class="item_img">
                                <img :src="imgUrl(book.guide.cover)" alt=""  @error="imgError(book.guide)">
                            </div>
                            <div class="item_name">
                                <h1>{{book.status  == '0'?'待定教材':'已定教材'}}</h1>
                                <p  :title="book.guide.name">{{book.guide.name}}</p>
                                <p  :title="book.guide.author">作者：{{book.guide.author}}</p>
                            </div>
                            <div class="item_recom" @click="lookRemark(book,it)" >
                                <h1>推荐人：{{book.name}}</h1>
                                <p v-if="book.remark"><span>推荐理由</span>：{{filterWord(book.remark,20)}}</p>
                            </div>
                            <div class="item_explain" >
                            </div>
                            <div class="item_btn">
                            </div>
                          </div>
                        </li>
                    </ul>
                    <div v-show="it.books&&it.books.length == 0" class="no_lesson">此课程未推荐教材</div>
                </li>
            </ul>
          </div>
        </div>
      </div>
      <!--弹窗-->
      <div class="infoAlert" v-if="isShowR">
        <div class="infoAlertC"  :style="{'width':isType==4?'632px':'482px'}">
          <div class="infoAlertT"  :style="{'width':isType==4?'602px':'452px'}">
            <h1>提示<span class="titleCont" v-if="isType==4&&hasLesson">提交后推荐教材将暂时无法更改请确认!</span></h1>
            <span  @click="resetShow" v-if="isType==2||isType==4" >×</span>
            <!-- <span  @click="isType=3" v-if="isType ==4">×</span> -->
          </div>
          <div class="isTypeTwo" v-if="isType==1"><h1>说明</h1>：{{reason}}
          </div>
          <div class="isTypeTwo" v-if="isType==2">
            <p>如不使用该教材，教师将重新发起推荐</p>
            <div class="isTypeinput"><span>退回理由：</span><input type="text" v-model="remark"></div>
          </div>
          <div class="isTypeTwo" v-if="isType==4"  :style="{'width':isType==4?'552px':'402px'}">
            <el-table v-if="hasLesson" ref="multipleTable" :key='tableKey' :data="submitList" v-loading="listLoading"  border highlight-current-row stripe height="400">
              <el-table-column prop="departmentName" label="部门" min-width="200" align="center"></el-table-column>
              <el-table-column prop="majorName" label="专业" width="200" align="center"></el-table-column>
              <el-table-column label="课程" width="140" align="center" prop="lessonName"></el-table-column>
            </el-table>
            <div v-else class="submitCont">提交后推荐教材将暂时无法更改请确认!</div>
          </div>
          <div class="isTypeTwo" v-if="isType==5"  :style="{'width':isType==4?'552px':'402px'}">
            <div class="submitCont">确定要使用该教材吗？</div>
          </div>
          <div class="infoevaluateB"  :style="{'width':isType==4?'202px':'402px'}">
            <span class="commit" @click="submitBook">确定</span>
            <span class="cancel" @click="resetShow" v-if="isType==2||isType==4">取消</span>
            <!-- <span class="cancel" @click="isType=3" v-if="isType ==4">取消</span> -->
          </div>
        </div>
      </div>
      <!-- 推荐人弹窗 -->
      <div class="infoAlert" v-show="showRecomend">
        <div class="infoAlertC">
          <div class="infoAlertT">
            <h1>推荐理由</h1>
            <span  @click="showRecomend=false">×</span>
          </div>
          <div  class="recommendList">
            <div v-for="(item,index) in recommendList" :key="index">
              <div class="recommendPersonal">
                <span v-if="item.name">推荐人：</span><span>{{item.name}}</span>
              </div>
              <div class="recommendRemark">
                <span v-if="item.remark">推荐理由：</span><span>{{item.remark}}</span>
              </div>
            </div>
          </div>
          <div class="infoevaluateB">
            <span class="commit" @click="showRecomend=false">确定</span>
            <!-- <span class="cancel" @click="resetShow" >取消</span> -->
          </div>
        </div>
      </div>
    </div>
  </div>

</template>
<script>
import {getBookRecomListAPI,getOtherBookRecomListAPI,getAcademicListAPI,getDeptListAPI,getMajListAPI,getTrainListAPI,submitLastBookAPI,returnBookAPI,submitConfirmAPI,getRecommendListAPI,getOtherListAPI,getSubmitListAPI } from '@/api/workbench/examine.js';
import { isBindAPI} from "@/api/resources.js";
import Screen from '@/view/workbench/components/screen.vue';
import nullData from '../components/nullData'
import Cookies from 'js-cookie';
  export default {
    data() {
      return {
        listQuery:{
          status:'1',
          isValid:1,
          academicLevel:'',
          majorId:'',
          basicPlanId:'',
          departmentId:''
        },
        bookRecomList:{},
        trainQuery:{
          status:1
        },
        majQuery:{
          departmentId:'',
          status:1
        },
        semesterList:[
          {
            index:'1',
            name:'当前学期'
          },
          {
            index:'0',
            name:'其他学期'
          }
        ],
        academicList:[],
        deptList:[],
        majorList:[],
        trainList:[],
        acaStatus:'',
        deptStatus:'',
        majStatus:'',
        traStatus:'',
        semeStatus:'0',
        bookData:{
          bookId:'',
          lessonId:'',
          basicPlanId:''
        },
        lessonStatus:{},
        returnBook:{},
        remark:'',
        isOpen:false,
        isShowR:false,
        isType:2,
        showRecomend:false,
        recommendList:[],
        reason:'',
        listLoading:false,
        flowDepth:null,
        confirmData:{},
        semList:[],
        semeOtherStatus:'',
        tableKey:0,
        submitList:[],
        confirm:false,
        list:[ {
            name:'第一学期',
            value:'1',
          }, {
            name:'第二学期',
            value:'2',
          }, {
            name:'第三学期',
            value:'3',
          },{
            name:'第四学期',
            value:'4',
          }, {
            name:'第五学期',
            value:'5',
          },{
            name:'第六学期',
            value:'6',
          }, {
            name:'第七学期',
            value:'7',
          }, {
            name:'第八学期',
            value:'8',
          }, {
            name:'第九学期',
            value:'9',
          }, {
            name:'第十学期',
            value:'10',
          }],
          hasLesson:false,
      };
    },
    created() {
      this.getAcademicList()
      this.getDeptList()
      this.getMajorList()
      this.flowDepth = Cookies.get('flowDepth');
      //从浏览器中拿到保存的筛选数据
      if(window.localStorage.getItem('recommendData')){
        let data = JSON.parse(window.localStorage.getItem('recommendData'))
        let list = this.listQuery
        this.acaStatus = data.acaStatus,
        this.majStatus = data.majStatus,
        this.traStatus = data.traStatus,
        this.semeStatus = data.semeStatus,
        this.semeOtherStatus = data.semeOtherStatus,
        list.isValid = data.isValid,
        list.academicLevel = data.academicLevel,
        list.majorId = data.majorId,
        list.basicPlanId = data.basicPlanId
        this.trainQuery.academicLevel= data.academicLevel,
        this.trainQuery.majorId = data.majorId,
        this.getTrainList()
        list.basicPlanId = data.basicPlanId
        if(list.isValid == '0'){
          this.getOtherList()
        }
        window.localStorage.removeItem('recommendData')
      }else{
        this.getTrainList()
      }
    },
    mounted() {
      const query = this.$route.query
      // 注册刷新事件，向浏览器中保存相关的数据
      window.addEventListener('beforeunload', e => {
        const data = {
          acaStatus:this.acaStatus,
          majStatus:this.majStatus,
          traStatus:this.traStatus,
          semeStatus:this.semeStatus,
          semeOtherStatus:this.semeOtherStatus,
          isValid:this.listQuery.isValid,
          academicLevel:this.listQuery.academicLevel,
          majorId:this.listQuery.majorId,
          basicPlanId:this.listQuery.basicPlanId,
        }
          window.localStorage.setItem('recommendData',JSON.stringify(data))
      });
      if(this.semeStatus == '0'){
        this.getBookRecomList()
      }else{
        this.getOtherBookRecomList()
      }
    },
    methods: {
      imgError(item) {
       item.cover = '/img/01-图书.png'
      },

        // 获取数据列表
        getAcademicList(){
            getAcademicListAPI(1).then(res=>{
                if(res.data.code == 0 ){
                    this.academicList = res.data.data
                }
            })
        },
        // 部门列表
        getDeptList(){
          getDeptListAPI(1).then(res=>{
                if(res.data.code == 0 ){
                    this.deptList = res.data.data
                }
            })
        },
        // 专业列表
        getMajorList(){
            getMajListAPI(this.majQuery).then(res=>{
                if(res.data.code == 0 ){
                    this.majorList = res.data.data
                }
            })
        },
        // 培养层次列表
        getTrainList(){
            getTrainListAPI(this.trainQuery).then(res=>{
                if(res.data.code == 0 ){
                    this.trainList = res.data.data
                }
            })
        },
        // 教材推荐列表
        getBookRecomList(){
          this.listLoading= true
          this._getList(getBookRecomListAPI(this.listQuery))
        },
        // 其他学期推荐列表
        getOtherBookRecomList(){
          this.bookRecomList = []
          this.listLoading= true
          this._getList(getOtherBookRecomListAPI(this.listQuery))
        },
        _getList(api){
          api.then(res=>{
              if(res.data.code == 0){
                this.bookRecomList = res.data.data||[]
                this.bookRecomList.forEach(item => {
                    item.details.forEach(el=>{
                        el.openStatus =false
                    })
                });
                this.listLoading= false
              }else{
                this.$message.error(res.data.msg)
              }
          })
        },
        // 其他学期
      getOtherList(){
        this.semeOtherStatus = ''
        this.semList = []
        this.semList.push({
            name:'当前学期',
            value:'0',
          })
        getOtherListAPI(this.listQuery.academicLevel).then( res=>{
          const data = res.data.data
          if(res.data.code == 0){
            data.forEach(item => {
              this.list.forEach(el=>{
                if(el.value == item){
                  this.semList.push(el)
                }

              })
            });
          }
        })
      },
      // 切换学期
      changeSemester(value,index){
        this.semeStatus = index
        this.listQuery.isValid = value.index
        if(value.index == '0'){
          this.getOtherList()
          this.getOtherBookRecomList();
        }else{
          this.getBookRecomList();
        }
      },
      // 切换其他学期
      changeOtherSemester(value,index){
        this.semeOtherStatus = index
        this.listQuery.isValid = '0'
        if(value.value == '0'){
          this.listQuery.isValid = '1'
          this.semeStatus = '0'
          this.listQuery.semester = ''
          this.getBookRecomList();
        }else{
          this.listQuery.semester = value.value
          this.getOtherBookRecomList();
        }
      },
     
        // 更改学级状态
        changeAca(value,index){
          let list = this.listQuery
          let trainAca = this.trainQuery.academicLevel
          value?list.academicLevel = value:list.academicLevel = ''
          value?trainAca = value:trainAca = ''
          this.acaStatus = index
          this.changeTra(false,'')
          if(list.isValid == '0'){
            this.getOtherList()
          }
        },
         // 更改部门状态
      changeDept(value,index){
          if(value){
            let departmentId = value.departmentId
            this.listQuery.departmentId = departmentId
            this.majQuery.departmentId = departmentId
            this.trainQuery.departmentId = departmentId
          }else{
            this.listQuery.departmentId = ''
            this.trainQuery.departmentId = ''
            this.majQuery.departmentId = ''
          }
          this.deptStatus = index
          this.changeMaj(false,'')
        },
        
        // 更改专业状态
        changeMaj(value,index){
          if(value){
            let majorId = value.majorId
            this.listQuery.majorId = majorId
            this.trainQuery.majorId = majorId
          }else{
            this.listQuery.majorId = ''
            this.trainQuery.majorId = ''
          }
          this.majStatus = index
          this.getTrainList()
          this.changeTra(false,'')
        },
        // 更改培养层次
        changeTra(value,index){
          this.traStatus = index
          if(value){
            this.listQuery.basicPlanId = value.basicPlanId
          }else{
            this.listQuery.basicPlanId = ''
          }
          this.getBookRecomList()
        },
        // 查看推荐人员
        lookRemark(value,item){
          const data = {
            bookId: value.bookId,
            lessonId: item.lessonId,
            isValid:this.listQuery.isValid
          }
          getRecommendListAPI(data).then(res=>{
            if(res.data.code == 0){
              this.recommendList = res.data.data
              this.showRecomend = true
            }else{
                  this.$message.error(res.data.msg)
                }
          })
        },
        // 查看书籍
        viewBook(it){
            isBindAPI({oid: it.resourceId}).then(res => {
                if (res.data.status) {
                    if (res.data.data) {//绑定资源
                        let routeUrl1 = this.$router.resolve({
                        path: "/resources/info",
                        query: {id: it.resourceId}
                        });
                        window.open(routeUrl1.href, '_blank');
                        //this.$router.push({path:'/resources/info',query:{id:item.id}});
                    } else {//没有绑定
                        let routeUrl2 = this.$router.resolve({
                        path: "/resources/vocation",
                        query: {id: it.resourceId}
                        });
                        window.open(routeUrl2.href, '_blank');
                        //this.$router.push({path:'/resources/vocation',query:{id:item.id}});
                    }
                }
            })
        },
        // 推荐
        recommendBook(it,status){
            const info = {
                lessonId :it.lessonId,
                listId:it.id,
                resourceType:1,
                searchWord: it.courseDesign,
                status:status
            }
            window.localStorage.setItem('recommend',JSON.stringify(info))
            this.$router.push({path: '/materialType', query: {searchWord: it.courseDesign}})
        },
            // 筛选条件展开收起
        openBtn() {
          this.isOpen = !this.isOpen;
        },

        /*查看详情*/
        lookDetail(val){
          this.reason =val
          this.isShowR=true;
          this.isType=1;
        },
        /*退回*/
        returnBtn(val){
            this.returnBook ={
                lessonId:val.lessonId,
                status:this.listQuery.status
            }
            this.isShowR=true;
            this.isType=2;
            this.remark = ''
        },
        // 展开收起列表
        openList(it,status){
            it.openStatus = status
            this.$forceUpdate()
        },

        _status(list){
          list.forEach(item=>{
              let array = item.details
              array.forEach(arr=>{
                arr.books.forEach(book=>{
                  if(book.confirmStatus ===null){
                    this.confirm = true
                    this.$message.error('有未确认的课程')
                    return false
                  }
                })
              })
            })
        },
        /*打开提交*/
        submit(){
          this.hasLesson = false
          this.confirm = false
          if(this.flowDepth==2){
            this._status(this.bookRecomList)
            if(!this.confirm){
              this.isShowR=true;
              this.isType=4;
              getSubmitListAPI(2).then(res=>{
                if(res.data.code == 0){
                  this.submitList = res.data.data
                  if(this.submitList.length > 0){
                    this.hasLesson = true
                  }
                }else{
                  this.$message.error(res.data.msg)
                }
            })
            }
          }else{
            this.isShowR=true;
            this.isType=4;
            getSubmitListAPI().then(res=>{
                if(res.data.code == 0){
                  this.submitList = res.data.data
                  if(this.submitList.length > 0){
                    this.hasLesson = true
                  }
                }else{
                  this.$message.error(res.data.msg)
                }
            })
          }
        },

        
        // 两个征订流程的时候出现确认
        submitConfirm(item,val,it){
          this.confirmData = {
            bookId:val.bookId,
            lessonId:it.lessonId,
            id:it.id
          }
          this.isShowR=true;
          this.isType=5;
        },
        //   提交审核
        submitBook(){
            if(this.isType == 1){
            }else if(this.isType == 2){
                this.returnBook.remark = this.remark
                returnBookAPI(this.returnBook).then(res=>{
                  if(res.data.code == 0){
                      this.isShowR = false
                      this.$message.success('退回成功')
                      this.getBookRecomList()
                  }else{
                      this.$message.error(res.data.msg)
                  }
                })
            }else if(this.isType == 3){
              this.isType = 4
            }else if(this.isType == 4){
              submitLastBookAPI().then(res=>{
                if(res.data.code == 0){
                    this.isShowR = false
                    this.$message.success('提交成功')
                    this.getBookRecomList()
                }else{
                    this.$message.error(res.data.msg)
                }
              })
            }else if(this.isType == 5){
              submitConfirmAPI(this.confirmData).then(res=>{
                if(res.data.code == 0){
                  this.isShowR = false
                  this.$message.success('确认成功')
                  this.getBookRecomList()
                }else{
                    this.$message.error(res.data.msg)
                }
              })
            }
        },

        // 关闭弹窗重置
        resetShow(){
          this.isShowR=false
        //   if(this.isType==3){
        //     this.bookData={
        //       isExercise:0,
        //       isGuides:0,
        //       bookId:'',
        //       lessonId:''
        //     }
        //   }
        },
    },
    components: {Screen,nullData},
  };
</script>
<style scoped lang="less">
  .recommend {
    width: 100%;
    background: #fff;
    overflow: hidden;
    height: auto;
    /*筛选*/
    .re_screen {
      padding: 27px 27px 0px 27px;
      overflow: hidden;
      ul {
        li {
          width: 100%;
          display: flex;
          justify-content: space-between;
          // .re_screenTit {
          //   width: 85px;
          //   font-size: 14px;
          //   color: #454545;
          //   line-height: 34px;
          //   height: 34px;
          //   display: flex;
          //   justify-content: flex-start;
          //   h1 {
          //     width: 61px;
          //     text-align: justify;
          //     text-justify: distribute-all-lines;
          //     font-weight: bold;
          //   }
          //   h1:after {
          //     content: '.';
          //     width: 100%;
          //     display: inline-block;
          //     overflow: hidden;
          //     height: 0;
          //   }
          // }
          // .re_screenCont {
          //     padding-right: 80px;
          //   width: 750px;
          //   font-size: 14px;
          //   color: #454545;
          //   line-height: 34px;
          //   span {
          //     margin-right: 30px;
          //     display: inline-block;
          //     cursor: pointer;
          //   }
          //   .screenCont_hover {
          //     color: #3279FF;
          //     font-weight: bold;

          //   }
          //   .inverted {
          //     transform: rotate(180deg);
          //     -ms-transform: rotate(180deg); /* Internet Explorer */
          //     -moz-transform: rotate(180deg); /* Firefox */
          //     -webkit-transform: rotate(180deg); /* Safari 和 Chrome */
          //     -o-transform: rotate(180deg); /* Opera */

          //   }
          // }

        }
      }
      .re_open {
        margin-top: -10px;
        float: right;
        width: 100px;
        line-height: 20px;
        font-size: 14px;
        font-weight: bold;
        color: rgba(50, 121, 255, 1);
        display: flex;
        justify-content: flex-end;
        align-items: center;
        cursor: pointer;
        h2 {
          float: left;
          padding-right: 3px;font-size: 14px;
          font-weight: bold;
        }
        .typeImg {
          padding-top: 0;;
          margin-top: -4px;
          img {
            padding-top: 0;
          }
          .inverted {
            transform: rotate(180deg);
            -ms-transform: rotate(180deg); /* Internet Explorer */
            -moz-transform: rotate(180deg); /* Firefox */
            -webkit-transform: rotate(180deg); /* Safari 和 Chrome */
            -o-transform: rotate(180deg); /* Opera */

          }
        }
      }
    }
    /*提交按钮*/
    .re_Submission {
      width: 100%;
      text-align: right;
      padding-top: 32px;
      padding-bottom: 20px;
      span {
        margin-right: 27px;
        width: 89px;
        height: 30px;
        background: rgba(50, 121, 255, 1);
        border-radius: 4px;
        cursor: pointer;
        text-align: center;
        line-height: 30px;
        font-size: 14px;
        display: inline-block;
        color: #fff;
      }
    }
    /*列表数据*/
    .re_list {
      margin: 0 27px 27px 27px;
      border: 1px solid rgba(238, 238, 238, 1);
      .reList_item {
        font-size: 14px;
        font-weight: bold;
        color: rgba(69, 69, 69, 1);
        line-height: 30px;
        .item_tit {
          width: 100%;
          height: 56px;
          line-height: 56px;
          text-align: center;
          background: rgba(250, 250, 250, 1);
        }
        .item_list {
          border-top: 1px solid rgba(238, 238, 238, 1);
          .item_Olist {
            border: 1px solid #fff;
            line-height: 42px;
            li {
                .majTitle{
                    background: #F3F8FF;
                    height: 42px;
                    div{
                    float: left;
                    display: block;
                    text-align: center;
                    border-right: 1px solid rgba(238, 238, 238, 1);

                }
                .index{
                width: 122px;
                }
                .academic:nth-child(2) {
                width: 140px;
                }
                .deptName {
                // width: 200px;
                width: 260px;
                }
                .lesName {
                    width: 222px;
                    .book_num{
                        color: #EB666B;
                    }
                }
                .opera {
                width: 230px;
                border-right: none;
                .opera_span {
                        color: #3279FF;
                        padding: 0 12px;
                        cursor: pointer;
                    }
                }
            }
            .examine-list {

                li {
                    border-top: 1px solid #EEEEEE;


                    .examine-item{
                      padding: 20px 0px 20px 50px;
                      display: flex;
                      justify-content: flex-start;
                      /*border-bottom: 1px solid #EEEEEE;*/
                      align-items: center;

                    }
                    .examine-exercise{
                      padding: 20px 0px 20px 50px;
                      display: flex;
                      justify-content: flex-start;
                      /*border-bottom: 1px solid #EEEEEE;*/
                      align-items: center;
                    }
                    .examine-guide{
                      padding: 20px 0px 20px 50px;
                      display: flex;
                      justify-content: flex-start;
                      /*border-bottom: 1px solid #EEEEEE;*/
                      align-items: center;

                    }
                    .item_img {
                          width: 61px;
                          height: 82px;
                          img {
                          width: 61px;
                          height: 82px;
                          }
                      }
                      .item_name {
                          // width: 170px;
                          width: 230px;
                          padding-left: 15px;
                          h1 {
                          font-size: 16px;
                          font-weight: 400;
                          color: rgba(51, 51, 51, 1);
                          line-height: 18px;
                          height: 37px;
                          text-overflow: ellipsis;
                          overflow: hidden;
                          white-space: nowrap;
                          }
                          p {
                          font-size: 14px;
                          font-weight: 400;
                          color: rgba(102, 102, 102, 1);
                          line-height: 18px;
                          height: 23px;
                          text-overflow: ellipsis;
                          overflow: hidden;
                          white-space: nowrap;
                          }
                      }

                      .item_recom {
                          padding-left: 35px;
                          width: 170px;
                          line-height: 24px;
                          font-size: 14px;
                          color: #666666;

                          h1 {
                            font-size: 14px;
                          text-overflow: ellipsis;
                          overflow: hidden;
                          white-space: nowrap;
                          padding-top: 5px;
                          }
                          p {
                          span {
                              color: #3279FF
                          }
                          font-weight: normal;
                          }
                      }
                      .item_recom:hover{
                        cursor: pointer;
                      }
                      .item_explain {
                          padding-left: 35px;
                          width: 180px;
                          // padding-left: 30px;
                          // width: 185px;
                          // color: #666;
                          // font-size: 14px;
                          // font-weight: normal;
                          // display: flex;
                          // align-items: center;
                          h1 {
                            font-size: 14px; font-weight:normal;
                            display: inline-block;
                            color: #02B4D0;
                          }
                          h2 {
                            font-size: 14px; font-weight:normal;
                            display: inline;
                            color: #EB666B;
                            cursor: pointer
                          }
                      }
                      .item_btn {
                          width: 150px;
                          padding-left: 34px;
                          display: flex;
                          align-items: center;
                          justify-content:center;
                          span{
                            display: inline-block;
                            width:60px;
                            height:28px;
                            line-height: 28px;
                            text-align: center;
                            border-radius: 3px;
                            font-size: 12px;
                            font-weight: 400;
                            cursor: pointer;
                            margin: 0 5px;
                          }
                          .return {
                            background: rgba(255, 240, 241, 1);
                            border: 1px solid rgba(255, 213, 215, 1);
                            color: rgba(235, 102, 107, 1);
                          }
                          /*推荐人*/
                          .look{
                            background:rgba(236,245,255,1);
                            border:1px solid rgba(198,226,255,1);
                            color:rgba(64,158,255,1);
                          }
                          .alLook{
                            background:rgb(136, 127, 127);
                            border:1px solid rgba(198,226,255,1);
                            color:#fff;
                          }
                          // .recommend{
                          //   background:rgba(235,252,255,1);
                          //   border:1px solid rgba(208,249,255,1);
                          //   color:rgba(2,180,208,1);
                          // }

                      }
                      /*推荐人*/
                      .item_msg {

                          width: 170px;
                          padding-right: 30px;
                          h1 {
                              font-size: 16px;
                              font-weight: 400;
                              color: rgba(51, 51, 51, 1);
                              line-height: 18px;
                              height: 37px;
                              text-overflow: ellipsis;
                              overflow: hidden;
                              white-space: nowrap;
                          }
                          p {
                              font-size: 14px;
                              font-weight: 400;
                              color: rgba(102, 102, 102, 1);
                              line-height: 18px;
                              height: 23px;
                              text-overflow: ellipsis;
                              overflow: hidden;
                              white-space: nowrap;
                          }
                      }
                }
            }
            .no_lesson{
                line-height: 120px;
                height: 120px;
                text-align: center;

            }
            }
          }
        }
      }
    }




    /*弹出框*/
    .infoAlert {
      width: 100%;
      height: 100%;
      position: fixed;
      top: 0;
      left: 0;
      background: rgba(0, 0, 0, 0.2);
      display: flex;
      align-items: center;
      justify-content: center;

      .infoAlertC {
        width: 482px;
        height: auto;
        background: rgba(255, 255, 255, 1);
        box-shadow: 0px 2px 8px 0px rgba(170, 170, 170, 0.49);
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-bottom: 30px;
        overflow: hidden;
        .infoAlertT {
          width: 452px;
          height: 36px;
          padding: 0 15px;
          background: rgba(244, 244, 244, 1);
          display: flex;
          justify-content: space-between;
          line-height: 36px;
          h1 {
            font-size: 14px;
            font-family: "Microsoft Yahei","simsun","arial","tahoma";
            font-weight: bold;
            color: rgba(68, 68, 68, 1);
            .titleCont{
              font-size: 14px;
              color: rgba(68, 68, 68, 1);
            }
          }
          span {
            color: #999999;
            font-size: 20px;
            cursor: pointer;

          }

        }
        .recommendList{
          width: 402px;
          margin:20px 40px;
          text-align: left;
          .recommendPersonal{
            margin:10px 0;
          }
          .recommendRemark{
            span{
              color: #909399;
            }

          }
        }
        .isTypeTwo {
          width: 402px;
          margin: 32px auto 20px;
          font-size: 14px;
          color: #454545;
          line-height: 26px;
          a {
            color: #3279FF;
          }
          h1{
            font-size: 14px;
            display: inline-block;
            font-weight: bold;
          }
          p{font-size:14px;
            font-weight:400;
            color:rgba(102,102,102,1);
            line-height:30px;
            padding-bottom: 10px;
          }
          .isTypeinput{
            span{
              font-size:14px;
              font-weight:400;
              color:rgba(102,102,102,1);
              line-height:40px;
            }
            input{
              float: right;
              width:316px;
              height:38px;
              background:rgba(255,255,255,1);
              border:1px solid rgba(220,223,230,1);
              border-radius:3px;

            }
          }
          .submitCont{
            width: 100%;
            text-align:center;
            font-size:18px;
          }
        }
        .isTypeTwoBtn {
          width: 100%;
          display: flex;
          justify-content: center;
          .commit {
            display: inline-block;
            cursor: pointer;
            width: 96px;
            height: 32px;
            background: rgba(50, 121, 255, 1);
            border-radius: 4px;
            font-size: 12px;
            font-family: "Microsoft Yahei","simsun","arial","tahoma";
            font-weight: 400;
            color: rgba(255, 255, 255, 1);
            line-height: 32px;
            text-align: center;
            margin-right: 5px;
          }

        }
        /*p {
          width: 378px;
          font-size: 18px;
          font-family: "Microsoft Yahei","simsun","arial","tahoma";
          font-weight: 400;
          color: rgba(69, 69, 69, 1);
          margin-top: 40px;
          margin-bottom: 25px;
          line-height: 30px;
          a {
            color: #3279FF;

          }
        }*/
        .infoAlertB {
          width: 96px;
          height: 32px;
          background: rgba(50, 121, 255, 1);
          border-radius: 4px;
          font-size: 12px;
          font-family: "Microsoft Yahei","simsun","arial","tahoma";
          font-weight: 400;
          color: rgba(255, 255, 255, 1);
          text-align: center;
          line-height: 32px;
          cursor: pointer;

        }

        .errorMsg {
          width: 444px;
          height: 20px;
          padding: 0;
          margin-top: 5px;
          text-align: left;
          font-size: 12px;
          color: #f40303;
        }
        .infoevaluateB {
          width: 402px;
          margin: 0 auto;
          display: flex;
          justify-content: flex-end;
          /*margin-top: 20px;*/
          .commit {
            display: inline-block;
            cursor: pointer;
            width: 96px;
            height: 32px;
            background: rgba(50, 121, 255, 1);
            border-radius: 4px;
            font-size: 12px;
            font-family: "Microsoft Yahei","simsun","arial","tahoma";
            font-weight: 400;
            color: rgba(255, 255, 255, 1);
            line-height: 32px;
            text-align: center;
            margin-right: 5px;
          }
          .cancel {
            display: inline-block;
            cursor: pointer;
            width: 94px;
            height: 30px;
            border: 1px solid rgba(220, 223, 230, 1);
            border-radius: 4px;
            font-size: 12px;
            font-family: "Microsoft Yahei","simsun","arial","tahoma";
            font-weight: 400;
            color: rgba(153, 153, 153, 1);
            line-height: 30px;
            text-align: center;
          }
        }
      }
    }
  }

</style>
