<template>
  <!--教辅资源详情-->
  <div class="info" id="hCss">
    <div class="infoOne">
      <div class="infoOneLf">
        <div class="infoOneImg">
          <img :src="imgUrl(detail.cover)" alt="" :onerror="errorImg(detail)" v-if="detail.cover">
          <img src="../../../static/img/imgWidth.png" alt="" v-if="detail.cover==null">
        </div>
        <ul class="infoOneCollection">
          <li v-if="!detail.isCollection" @click="collectionsBtn(detail)"><span><img src="@/assets/img/add.png" alt=""></span>加入收藏
          </li>
          <li v-if="detail.isCollection" @click="collectionsBtn(detail)"><span><img src="@/assets/img/cancel.png"
                                                                                    alt=""></span>取消收藏
          </li>
        </ul>
      </div>
      <div class="infoOneRt">
        <div class="infoOneTit" :title="detail.name"><span  id="infoOneTit">{{Ellipsis('infoOneTit',2,detail.name,35)}}</span></div>
        <div class="infoOneAuthor">
          <ul>
            <li>
              <div class="infoTit">作者</div>
              ：<span :title="detail.author">{{detail.author ? filterWord(detail.author, 11) : '--'}}</span></li>
            <li style="width: 322px;">
              <div class="infoTit">出版社</div>
              ：<span :title="detail.publisher">{{detail.publisher ? filterWord(detail.publisher, 11) : '--'}}</span>
            </li>
          </ul>
        </div>
        <div class="infoOnePic">
          <div class="infoOnePicTit">
            <div class="infoTit">定价</div>
            ：
          </div>
          <span><i>￥</i>{{detail.price ? filterPrice(detail.price) : '--'}}</span>
        </div>
        <div class="infoOneBookOther">
          <ul>
            <!-- <li><div class="infoTit">发行书代号</div>：{{detail.bookNo||'--'}}</li> -->
            <li>
              <div class="infoTit">I S B N</div>
              ：{{detail.isbn || '--'}}
            </li>
            <!-- <li><div class="infoTit">装订</div>：{{detail.bindid||'--'}}</li> -->
            <!-- <li><div class="infoTit2">开本</div>：{{detail.bookformat||'--'}}</li> -->
            <li>
              <div class="infoTit">出版时间</div>
              ：{{filterTime(detail.publishTime) || '--'}}
            </li>
            <li><div class="infoTit">发行书代号</div>：{{detail.bookNo||'--'}}</li>
            <!-- <li><span class="infoTit2">字数</span>：{{detail.wordCount||'--'}}{{detail.wordCount?'千字':''}}</li> -->
          </ul>
        </div>
        <div class="infoOneBtns">
          <ul>
            <li class="infoOneBtns1" @click="applyBook" v-if="detail.applyStatus==1&&$store.getters.userType != 'supervise'">申请样书</li>
            <li class="infoOneBtns2" @click="evaluate">评价</li>
            <!-- <li class="infoOneBtns3" v-if="detail.bindings">下载配套资源</li> -->
            <li class="infoOneBtns3" v-if="flowCode&&userFlowStatus ==='0'&&recommend.status" @click="recommendOpen">推荐教材</li>
            <!--<li class="infoOneBtns4" v-if="detail.buyUrl" @click="buyBtn(detail.buyUrl)">立即购买</li>-->
          </ul>
        </div>
      </div>
    </div>
    <div class="infoTwo">
      <div class="infoTwotits">
        <ul>
          <li :class="typeIn==tit.type?'hover':''" v-for="(tit,ind) in bindType" :key="ind" @click="clickTit(tit)">
            {{tit.name}}
          </li>
        </ul>
      </div>
      <!--基本信息-->
      <div class="essentialInfor" v-if="typeIn=='bookInfo'">
        <div class="essentialInforTit" v-if="detail.introduction">
          <span></span>图书简介
        </div>
        <div class="essentialInforCont" v-html="detail.introduction">
        </div>
        <div class="essentialInforTit" v-if="detail.menu">
          <span></span>图书目录
        </div>
        <div class="essentialCatalogCont" v-if="detail.menu">
          <p ref="menuHeight" :style="{height:!isShowMC?'200px':'auto'}" v-html="detail.menu"></p>
          <h2 v-if="isShowM&&!isShowMC" @click="isShowMC=true">查看更多<img src="@/assets/img/more.png" alt=""></h2>
          <h2 v-if="isShowM&&isShowMC" @click="isShowMC=false">收起更多<img src="@/assets/img/more.png" alt=""
                                                                        style="transform: rotate(180deg); "></h2>

        </div>
      </div>

      <!--教材体系-->
      <div class="essentialInfor" v-if="typeIn=='textbook'">
        <div class="essentialInforTit" v-if="detail.textbookSystem">
          <span></span>教材体系
        </div>
        <div class="essentialInforCont" v-html="detail.textbookSystem">
        </div>
      </div>

      <!--章节试读-->
      <div class="chapterRead" v-if="typeIn=='2-1'">
        <div class="chapterReadTit" v-if="curpptVideo">{{curpptVideo.name}}</div>
        <div class="chapterReadCont" v-if="curpptVideo">
          <!--<embed :src="curpptVideo.fileUrl" palette="'#ccc'|'#ededed'" type="application/pdf" width="100%"
                 height="600"></embed>-->

          <!--<pdf :src="imgUrl(curpptVideo.fileUrl)"
               style="width: 100%; height: 600px;overflow-y: scroll;overflow-x: hidden;"></pdf>-->
          <pdf
            v-for="i in numPages"
            :key="i"
            :page="i"
            :src="pdfUrl" style="width: 100%; height: auto;">
          </pdf>
        </div>

      </div>

      <!--教参-->
      <div class="guidebooks" v-if="typeIn=='1-3'">
        <ul>

          <li v-if="bindData[typeIn]" @click="linkHref('1',bindData[typeIn])">
            <div class="listImg">
              <div class="listText listTextHover">

                <img :src="imgUrl(bindData[typeIn].cover)" alt="" :onerror="errorImg(bindData[typeIn])"
                     v-if="bindData[typeIn].cover">
                <img src="../../../static/img/imgHeight.png" alt="" v-if="bindData[typeIn].cover==null">
              </div>
              <h1 v-if="bindData[typeIn].publishTime">{{filterTime(bindData[typeIn].publishTime)}} 出版</h1>
            </div>
            <div class="listTitle">
              <h1 :title="bindData[typeIn].name">
                {{bindData[typeIn].name}}
              </h1>
              <p :title="bindData[typeIn].author">作者: {{bindData[typeIn].author}}  </p>
              <p :title="bindData[typeIn].isbn">ISBN: {{bindData[typeIn].isbn}}</p>
              <p :title="bindData[typeIn].publisher">出版社: {{bindData[typeIn].publisher}}</p>
              <div class="listTitleLast"><span>￥{{filterPrice(bindData[typeIn].price)}}</span></div>
            </div>
          </li>

        </ul>
      </div>

      <!--习题册-->
      <div class="guidebooks" v-if="typeIn=='1-4'">
        <ul>
          <li v-if="bindData[typeIn]" @click="linkHref('1',bindData[typeIn])">
            <div class="listImg">
              <div class="listText listTextHover">
                <img :src="imgUrl(bindData[typeIn].cover)" alt="" :onerror="errorImg(bindData[typeIn])"
                     v-if="bindData[typeIn].cover">
                <img src="../../../static/img/imgHeight.png" alt="" v-if="bindData[typeIn].cover==null">
              </div>
              <h1 v-if="bindData[typeIn].publishTime">{{filterTime(bindData[typeIn].publishTime)}} 出版</h1>
            </div>
            <div class="listTitle">
              <h1 :title="bindData[typeIn].name">
                {{bindData[typeIn].name}}
              </h1>
              <p :title="bindData[typeIn].author">作者: {{bindData[typeIn].author}}  </p>
              <p :title="bindData[typeIn].isbn">ISBN: {{bindData[typeIn].isbn}}</p>
              <p :title="bindData[typeIn].publisher">出版社: {{bindData[typeIn].publisher}}</p>
              <div class="listTitleLast"><span>￥{{filterPrice(bindData[typeIn].price)}}</span></div>
            </div>
          </li>
        </ul>
      </div>

      <!--PPT-->
<!--      <div class="ppt" v-if="typeIn=='2-2'">
        <div class="pptVideo">
          <div class="ziprarImg"><img src='../../assets/img/ziprar.png' alt=""></div>
          <div class="ziprarWord">
            <h1 title="">电工仪表与测量（第四版）教学视频 </h1>
            <ul><li>资源大小：1.17MB</li><li>上传日期：2018-09-06</li></ul>
            <button>下载压缩包</button>
          </div>
          &lt;!&ndash;<video :src="imgUrl(curpptVideo.otherFileUrl)" controls="controls" v-if="curpptVideo.otherFileUrl"></video>
          <img src="../../../static/img/imgWidth.png" v-if="curpptVideo.otherFileUrl==null"/>&ndash;&gt;
        </div>
        &lt;!&ndash;<div class="pptVideoTit" @click="linkHref('2',curpptVideo)" :title="curpptVideo.name">
          {{curpptVideo.name}}
        </div>&ndash;&gt;
        &lt;!&ndash;<div class="pptVideoOther">
          <ul>
            <li><span>资源大小：</span>{{curpptVideo.fileSize}}</li>
            <li><span>上传日期：</span>{{filterTime(curpptVideo.uploadTime)}}</li>
            <li><span>下载次数：</span>{{curpptVideo.downloadCount}}</li>
          </ul>
        </div>&ndash;&gt;
        &lt;!&ndash;<div class="pptVideoBtn">
          <ul>
            <li class="uploadBtn" @click="uploadBtn(curpptVideo.fileUrl,curpptVideo)" v-if="curpptVideo.fileUrl">
              <a :href="uploadUrl+'download?filePath='+curpptVideo.fileUrl" target="_blank">下载</a></li>
            <li class="CollectionBtn" v-if="!curpptVideo.isCollection" @click="collectionsBtn(curpptVideo)"><a>收藏</a>
            </li>
            <li class="noCollectionBtn" v-if="curpptVideo.isCollection" @click="collectionsBtn(curpptVideo)">取消收藏</li>
          </ul>
        </div>&ndash;&gt;
        <div class="pptVideoSwiper">
          <div class="pptVideoSwiperLf fl" @click="leftBtn" v-if="bindData[typeIn]&&bindData[typeIn].length>4">
            <img src="@/assets/img/left.png" alt="">
          </div>
          <div class="pptVideoSwiperList">
            <ul :style="{marginLeft:marginLeft+'px'}">
              <li v-for="(pptOne,indexOne) in bindData[typeIn]" :key="pptOne.id">
                <h1>&lt;!&ndash;{{pptOne.otherFileLength ? pptOne.otherFileLength : '0:00'}}&ndash;&gt;<img src="../../assets/img/xiazai.png" alt=""></h1>
                <div class="pptVideoSwiperListimg">
                  <img :src="filterImg(pptOne)" alt="" v-if="pptOne&&pptOne.cover">&lt;!&ndash; :onerror="errorImg(pptOne)"&ndash;&gt;
                  <img class="noImg" :src="filterImg(pptOne)" alt="" v-else>
                </div>
                <p :title="pptOne.name">{{pptOne.name}}</p>
              </li>

            </ul>
          </div>

          <div class="pptVideoSwiperRt fr" @click="rightBtn" v-if="bindData[typeIn]&&bindData[typeIn].length>4">
            <img src="@/assets/img/right.png" alt="">
          </div>

        </div>
        <div class="pptVideoSwiperText">&lt;!&ndash;{{curindexOne}}/&ndash;&gt;{{bindData[typeIn] ? bindData[typeIn].length : 0}}
        </div>
      </div>

      &lt;!&ndash;视频&ndash;&gt;
      <div class="ppt" v-if="typeIn=='2-3'">
        <div class="pptVideo">
          <video :src="imgUrl(curpptVideo.fileUrl)" controls="controls" v-if="curpptVideo.fileUrl"></video>

          <img src="../../../static/img/imgWidth.png" v-if="curpptVideo.fileUrl==null"/>
        </div>
        <div class="pptVideoTit" @click="linkHref('2',curpptVideo)">
          {{curpptVideo.name}}
        </div>
        <div class="pptVideoOther">
          <ul>
            <li><span>资源大小：</span>{{curpptVideo.fileSize}}</li>
            <li><span>上传日期：</span>{{filterTime(curpptVideo.uploadTime)}}</li>
          </ul>
        </div>
        <div class="pptVideoBtn">
          <ul>
            &lt;!&ndash;<li class="uploadBtn" @click="uploadBtn(curpptVideo.fileUrl)" v-if="curpptVideo.fileUrl">下载</li>&ndash;&gt;
            <li class="CollectionBtn" v-if="!curpptVideo.isCollection" @click="collectionsBtn(curpptVideo)"><a>收藏</a>
            </li>
            <li class="noCollectionBtn" v-if="curpptVideo.isCollection" @click="collectionsBtn(curpptVideo)">取消收藏</li>
          </ul>
        </div>
        <div class="pptVideoSwiper">
          <div class="pptVideoSwiperLf fl" @click="leftBtn" v-if="bindData[typeIn]&&bindData[typeIn].length>4">
            <img src="@/assets/img/left.png" alt="">
          </div>
          <div class="pptVideoSwiperList">
            <ul :style="{marginLeft:marginLeft+'px'}">
              <li v-for="(pptOne,indexOne) in bindData[typeIn]" :key="pptOne.id" @click="pptVideo(pptOne,indexOne)">
                <h1>{{pptOne.fileLength ? pptOne.fileLength : '0:00'}}</h1>
                &lt;!&ndash;<h1>{{pptOne.fileLength}}</h1>&ndash;&gt;
                <div class="pptVideoSwiperListimg">
                  <img :src="imgUrl(pptOne.cover)" alt="" :onerror="errorImg(pptOne)" v-if="pptOne.cover">
                  <img src="../../../static/img/imgWidth.png" alt="" v-if="pptOne.cover==null">
                </div>
                <p :title="pptOne.name">{{pptOne.name}}</p>
              </li>

            </ul>
          </div>

          <div class="pptVideoSwiperRt fr" @click="rightBtn" v-if="bindData[typeIn]&&bindData[typeIn].length>4">
            <img src="@/assets/img/right.png" alt="">
          </div>

        </div>
        <div class="pptVideoSwiperText">{{curindexOne}}/{{bindData[typeIn] ? bindData[typeIn].length : 0}}
        </div>
      </div>

      &lt;!&ndash;音频&ndash;&gt;
      <div class="ppt" v-if="typeIn=='2-4'">
        &lt;!&ndash; :style="{backgroundImage: 'url(' + imgUrl(curpptVideo.cover) + ')', backgroundSize:'contain'}"&ndash;&gt;
        <div class="pptVideo"
             :style="{backgroundImage: 'url(' + audioBg(curpptVideo.cover) + ')', backgroundSize:curpptVideo.cover?'100%':'auto'}">
          <audio :src="imgUrl(curpptVideo.fileUrl)" controls>
            您的浏览器不支持 audio 标签。
          </audio>
        </div>
        <div class="pptVideoTit" @click="linkHref('2',curpptVideo)">
          {{curpptVideo.name}}
        </div>
        <div class="pptVideoOther">
          <ul>
            <li><span>资源大小：</span>{{curpptVideo.fileSize}}</li>
            <li><span>上传日期：</span>{{filterTime(curpptVideo.uploadTime)}}</li>
            <li><span>下载次数：</span>{{curpptVideo.downloadCount}}</li>
          </ul>
        </div>
        <div class="pptVideoBtn">
          <ul>
            <li class="uploadBtn" @click="uploadBtn(curpptVideo.fileUrl,curpptVideo)" v-if="curpptVideo.fileUrl">
              <a :href="uploadUrl+'download?filePath='+curpptVideo.fileUrl" target="_blank">下载</a>
            </li>
            <li class="CollectionBtn" v-if="!curpptVideo.isCollection" @click="collectionsBtn(curpptVideo)"><a>收藏</a>
            </li>
            <li class="noCollectionBtn" v-if="curpptVideo.isCollection" @click="collectionsBtn(curpptVideo)">取消收藏</li>
          </ul>
        </div>
        <div class="pptVideoSwiper">
          <div class="pptVideoSwiperLf fl" @click="leftBtn" v-if="bindData[typeIn]&&bindData[typeIn].length>4">
            <img src="@/assets/img/left.png" alt="">
          </div>
          <div class="pptVideoSwiperList">
            <ul :style="{marginLeft:marginLeft+'px'}">
              <li v-for="(pptOne,indexOne) in bindData[typeIn]" :key="pptOne.id" @click="pptVideo(pptOne,indexOne)">
                <div class="pptVideoSwiperListimg">
                  <img :src="filterImg(pptOne)" alt="" :onerror="errorImg(pptOne)">
                </div>

                &lt;!&ndash;<img src="../../../static/img/imgWidth.png" alt="" v-if="pptOne.cover==null">&ndash;&gt;
                <p :title="pptOne.name">{{pptOne.name}}</p>
              </li>

            </ul>
          </div>

          <div class="pptVideoSwiperRt fr" @click="rightBtn" v-if="bindData[typeIn]&&bindData[typeIn].length>4">
            <img src="@/assets/img/right.png" alt="">
          </div>

        </div>
        <div class="pptVideoSwiperText">{{curindexOne}}/{{bindData[typeIn] ? bindData[typeIn].length : 0}}
        </div>
      </div>

      &lt;!&ndash;图形/图像&ndash;&gt;
      <div class="img" v-if="typeIn=='2-5'">

        <ul class="imgCont">
          <li class="imgItem" v-for="imgOne in bindData[typeIn]" :key="imgOne.id" @mouseover="curImgid=imgOne.id"
              @mouseleave="curImgid=null">
            <img class="imgImg" :src="imgUrl(imgOne.fileUrl)" alt="" :onerror="errorImg(imgOne)" v-if="imgOne.fileUrl">
            <img src="../../../static/img/imgWidth.png" alt="" class="imgImg"
                 v-if="imgOne.fileUrl==null||imgOne.fileUrl==''">
            <div class="onmose" v-if="curImgid==imgOne.id">
              <h1 @click="linkHref('2',imgOne)" :title="imgOne.name">{{imgOne.name}}</h1>
              <h2>文件大小：{{imgOne.fileSize}}</h2>
              <ul class="ImgOther">
                <li>{{filterTime(imgOne.uploadTime)}}</li>
                <li>下载次数：{{imgOne.downloadCount}}</li>
              </ul>
              <ul class="imgBtns">
                <li class="ImgLoad" @click="uploadBtn(imgOne.fileUrl,imgOne)">
                  <a :href="uploadUrl+'download?filePath='+imgOne.fileUrl" target="_blank">下载</a></li>
                <li class="ImgnoColl" v-if="!imgOne.isCollection" @click="collectionsBtn(imgOne)">收藏</li>
                &lt;!&ndash;<li class="ImgColl">收藏</li>&ndash;&gt;
                <li class="ImgcancelColl" v-if="imgOne.isCollection" @click="collectionsBtn(imgOne)">取消收藏</li>
              </ul>
            </div>
          </li>

        </ul>
        <div class="page">
          <pagination class="paddingTop" @change="pageChangeImg"
                      :current-page="pageNumImg"
                      :page-size="pageSizeImg" :total-page="lastPageImg" v-if="comTotalImg"></pagination>
        </div>

      </div>

      &lt;!&ndash;文本&ndash;&gt;
      <div class="text" v-if="typeIn=='2-6'">
        <ul>
          <li v-for="textOne in bindData[typeIn]" :key="textOne.id">
            <div class="textImg">
              <img :src="filterTextImg(textOne)" alt="" :onerror="errorImg(textOne)">
            </div>
            <div class="textTit" @click="linkHref('2',textOne)" :title="textOne.name">{{textOne.name}}</div>
            <h2>文件大小：{{textOne.fileSize}}</h2>
            <div class="textOther">
              <span>{{filterTime(textOne.uploadTime)}}</span>
              <span>下载次数：{{textOne.downloadCount}}</span>
            </div>
            <div class="textBtn">
              <div class="TextLoad" @click="uploadBtn(textOne.fileUrl,textOne)">
                <a :href="uploadUrl+'download?filePath='+textOne.fileUrl" target="_blank">下载</a></div>
              <div class="TextnoColl" v-if="!textOne.isCollection" @click="collectionsBtn(textOne)">收藏</div>
              <div class="TextcancelColl" v-if="textOne.isCollection" @click="collectionsBtn(textOne)">取消收藏</div>
            </div>
          </li>

        </ul>
      </div>

      &lt;!&ndash;网页课件&ndash;&gt;
      <div class="text" v-if="typeIn=='2-8'">
        <ul>
          <li v-for="webOne in bindData[typeIn]" :key="webOne.id">
            <div class="textImg">
              <img :src="filterTextImg(webOne)" alt="" :onerror="errorImg(webOne)">
            </div>
            <div class="textTit" @click="linkHref('2',webOne)" :title="webOne.name">{{webOne.name}}</div>
            <h2>文件大小：{{webOne.fileSize}}</h2>
            <div class="textOther">
              <span>{{filterTime(webOne.uploadTime)}}</span>
              <span>下载次数：{{webOne.downloadCount}}</span>
            </div>
            <div class="textBtn">
              <div class="TextLoad" @click="uploadBtn(webOne.fileUrl,webOne)">
                <a :href="uploadUrl+'download?filePath='+webOne.fileUrl" target="_blank">下载</a>
              </div>
              <div class="TextnoColl" v-if="!webOne.isCollection" @click="collectionsBtn(webOne)">收藏</div>
              <div class="TextcancelColl" v-if="webOne.isCollection" @click="collectionsBtn(webOne)">取消收藏</div>
            </div>
          </li>

        </ul>
      </div>

      &lt;!&ndash;动画&ndash;&gt;
      <div class="ppt" v-if="typeIn=='2-9'">
        <div class="pptVideo">
          <video :src="imgUrl(curpptVideo.fileUrl)" controls="controls" v-if="curpptVideo.fileUrl"></video>
          <img src="../../../static/img/imgWidth.png" v-if="curpptVideo.fileUrl==null"/>
        </div>
        <div class="pptVideoTit" @click="linkHref('2',curpptVideo)" :title="curpptVideo.name">
          {{curpptVideo.name}}
        </div>
        <div class="pptVideoOther">
          <ul>
            <li><span>资源大小：</span>{{curpptVideo.fileSize}}</li>
            <li><span>上传日期：</span>{{filterTime(curpptVideo.uploadTime)}}</li>
          </ul>
        </div>
        <div class="pptVideoBtn">
          <ul>
            &lt;!&ndash;<li class="uploadBtn" @click="uploadBtn(curpptVideo.fileUrl)" v-if="curpptVideo.fileUrl">下载</li>&ndash;&gt;
            <li class="CollectionBtn" v-if="!curpptVideo.isCollection" @click="collectionsBtn(curpptVideo)"><a>收藏</a>
            </li>
            <li class="noCollectionBtn" v-if="curpptVideo.isCollection" @click="collectionsBtn(curpptVideo)">取消收藏</li>
          </ul>
        </div>
        <div class="pptVideoSwiper">
          <div class="pptVideoSwiperLf fl" @click="leftBtn" v-if="bindData[typeIn]&&bindData[typeIn].length>4">
            <img src="@/assets/img/left.png" alt="">
          </div>
          <div class="pptVideoSwiperList">
            <ul :style="{marginLeft:marginLeft+'px'}">
              <li v-for="(pptOne,indexOne) in bindData[typeIn]" :key="pptOne.id" @click="pptVideo(pptOne,indexOne)">
                <div class="pptVideoSwiperListimg">
                  <img :src="imgUrl(pptOne.cover)" alt="" :onerror="errorImg(pptOne)" v-if="pptOne.cover">
                  <img src="../../../static/img/imgWidth.png" alt="" v-if="pptOne.cover==null">
                </div>
                <p :title="pptOne.name">{{pptOne.name}}</p>
              </li>

            </ul>
          </div>

          <div class="pptVideoSwiperRt fr" @click="rightBtn" v-if="bindData[typeIn]&&bindData[typeIn].length>4">
            <img src="@/assets/img/right.png" alt="">
          </div>

        </div>
        <div class="pptVideoSwiperText">{{curindexOne}}/{{bindData[typeIn] ? bindData[typeIn].length : 0}}
        </div>
      </div>-->




      <!--9月25更改所有绑定资源的样式改成一样的-->
      <div class="ppt" v-if="typeIn=='2-2'||typeIn=='2-3'||typeIn=='2-4'||typeIn=='2-5'||typeIn=='2-6'||typeIn=='2-7'||typeIn=='2-8'||typeIn=='2-9'||typeIn=='2-10'||typeIn=='2-11'||typeIn=='2-12'">
        <div class="pptVideo" v-if="ziprar&&ziprar.fileUrl">
          <div class="ziprarImg"><img src='../../assets/img/ziprar.png' alt=""></div>
          <div class="ziprarWord">
            <h1 :title="ziprar.name">{{ziprar.name}}</h1>
            <ul><li>资源大小：{{ziprar.fileSize}}</li><li>上传日期：{{filterTime(ziprar.uploadTime)}}</li></ul>
            <button v-if="ziprar.isAllowDownload == 1"><a :href="uploadUrl+'download?filePath='+ziprar.fileUrl" target="_blank">下载压缩包</a></button>
          </div>
        </div>

        <div class="pptVideoSwiper">
          <div class="pptVideoSwiperLf fl" @click="leftBtn" v-if="bindData[typeIn]&&bindData[typeIn].length>4">
            <img src="@/assets/img/left.png" alt="">
          </div>
          <div class="pptVideoSwiperList">
            <ul :style="{marginLeft:marginLeft+'px'}">
              <li v-for="(pptOne,indexOne) in bindData[typeIn]" :key="pptOne.id">
                <h1  v-if="pptOne.isAllowDownload == 1"><a :href="uploadUrl+'download?filePath='+pptOne.fileUrl" target="_blank"><img src="../../assets/img/xiazai.png" alt=""></a></h1>
                <div class="pptVideoSwiperListimg">
                  <!-- {{pptOne&&pptOne.cover}} -->
                  <img :src="fileImg(pptOne)" alt="" v-if="pptOne&&pptOne.cover"><!-- :onerror="errorImg(pptOne)"-->
                  <img class="noImg" :src="fileImg(pptOne)" alt="" v-else>
                </div>
                <p :title="pptOne.name">{{pptOne.name}}</p>
              </li>

            </ul>
          </div>

          <div class="pptVideoSwiperRt fr" @click="rightBtn" v-if="bindData[typeIn]&&bindData[typeIn].length>4">
            <img src="@/assets/img/right.png" alt="">
          </div>

        </div>
        <div class="pptVideoSwiperText" v-if="bindData[typeIn]&&bindData[typeIn].length!=0">{{curindexOne}}/{{bindData[typeIn] ? Math.ceil(bindData[typeIn].length/4) : 0}}
        </div>
      </div>

      <!--图书评价-->
      <div class="evaluate" v-if="typeIn=='evaluate'">
        <div class="loadingCss" v-if="isLoading">
          <img src="../../../static/img/loading.gif" alt="">
        </div>
        <ul v-if="commentList.length>0&&!isLoading">
          <li v-for="(item,index) in commentList" :key="index">
            <div class="evalHeader">
              <img :src="imgUrl(item.avatar)" alt="" :onerror="errorImg(item)" v-if="item.avatar">
              <img src="@/assets/img/header.png" alt="" v-if="!item.avatar||item.avatar==''">
            </div>
            <div class="evalWord">
              <div class="evalTit">
                <h1>{{filterName(item.createrName)}}</h1>
                <h2>{{filterTime(item.createTime)}}</h2>
              </div>
              <div class="evalCont">{{item.comment}}
              </div>
              <div class="evalTriangle" v-if="item.reply"></div>
              <div class="evalReply" v-if="item.reply">
                <h1>回复：</h1>
                <p>{{item.reply}}</p>
              </div>
            </div>
          </li>
        </ul>
        <div class="nohaveCss" v-if="commentList.length==0&&!isLoading"><img src="../../../static/img/noHave.jpg"
                                                                             alt=""></div>

        <div class="page" v-if="commentList.length>0&&!isLoading">
          <pagination class="paddingTop" @change="pageChange"
                      :current-page="pageNum"
                      :page-size="pageSize" :total-page="lastPage" v-if="comTotal"></pagination>
        </div>
      </div>

    </div>
    <v-alert :alertModelOptions="alertOptions"></v-alert>
    <!-- 推荐 -->
    <div class="vocationEla" v-if="isShow">
      <div class="vocationECont">
        <div class="vocationECTit">
          <h1>推荐意见</h1>
          <span @click="isShow=false">×</span>
        </div>
        <div class="vocationTextA">
          <textarea name="" v-model="remark" id="" cols="30" rows="10" placeholder="请输入推荐理由，限制100个字符"></textarea>
        </div>
        <div class="vocationBtn">
          <ul>
            <li class="saveBtn" @click="submitRecom">提交</li>
            <li class="cancelBtn" @click="isShow=false">跳过</li>
          </ul>
        </div>
      </div>
    </div>

    <!--评价-->
    <div class="infoAlert" v-if="isShowR">
      <div class="infoAlertC" v-if="isType==1">
        <div class="infoAlertT">
          <h1>评价图书</h1>
          <span @click="isShowR=false">×</span>
        </div>
        <textarea id="" cols="30" rows="10" placeholder="请输入您要留下的评论，限制500个字符" maxlength="500" v-model="comment"
                  v-validate="{required:true,max:500}" name="commentCont"></textarea>
        <div class="errorMsg" v-if="errorBags.has('commentCont')">请填写评价内容</div>
        <div class="infoevaluateB">
          <span class="commit" @click="setComment">提交</span>
          <span class="cancel" @click="isShowR=false">取消</span>
        </div>
      </div>

      <div class="infoAlertC" v-if="isType==2||isType==3">
        <div class="infoAlertT">
          <h1>申请样书</h1>
          <span @click="isShowR=false">×</span>
        </div>
        <div class="isTypeTwo" v-if="isType==2">您的样书申请已提交，您可在
          <router-link to="/personal/book">个人中心</router-link>
          内查看样书申请进度。
        </div>
        <div class="isTypeTwo" v-if="isType==3">您的样书券不足，快去
          <router-link to="/personal/book">个人中心</router-link>
          兑换样书券吧。
        </div>
        <div class="isTypeTwoBtn">
          <span class="commit" @click="isShowR=false">关闭</span>
        </div>
      </div>

    </div>


  </div>
</template>

<script>
  import {
    getMainphyAPI,
    setCommentAPI,
    getCommentListAPI,
    cancelCollectionsAPI,
    collectionsAPI,
    getEleAPI,
    getAidphyAPI,
    isBindAPI,
    samplebookapplyAPI,
    saveBatchAPI,
    addHitAPI,
    samplebooknumAPI,
    uploadFile,
    addDownloadAPI,
    addRecommendAPI,
    resetAddRecommendAPI,
    coverRecommendAPI,
    examineRecommendAPI
  } from '@/api/resources.js';
  import Cookies from 'js-cookie';
  import {uploadUrl} from '@/utils/global.js';
  import audioBgimg from '../../../static/img/audioD.jpg';
  import pdf from 'vue-pdf'

  export default {
    name: 'resourceSearch',
    data() {
      return {
        typeIn: 'bookInfo',
        title: ['基本信息', '章节试读', '教参', '习题册', '电子课件', '素材', '试卷', '电子书', '电子教案', '网页课件', '资料', '图书评价'],
        swiperList: [1, 2, 3, 4, 5, 6],
        marginLeft: 0,
        alertOptions: {},
        show: false,
        isShowC: false,
        isShowR: false,
        id: null,
        detail: {
          cover: '',
          name:'',
        },
        comment: '',
        pageNum: 1,
        pageSize: 7,
        lastPage: 0,
        commentList: [],
        bindType: [{name: '基本信息', type: 'bookInfo'}],
        bindData: null,
        curpptVideo: {
          fileUrl: '',
          name: '',
          fileSize: '',
          uploadTime: '',
        },
        curindexOne: 1,
        curPage: 1,
        curImgid: null,
        isShowM: false,
        isShowMC: false,
        comTotal: 0,
        isType: null,
        pageNumImg: 1,
        pageSizeImg: 9,
        lastPageImg: 0,
        comTotalImg: 0,
        titType: null,
        isLoading:true,
        uploadUrl:uploadUrl,
        audioBgimg:audioBgimg,
        isShow:false,
        remark:"",
        recommend:{},
        flowCode:'',
        flowDepth:'',
        userFlowStatus:'',
        recommendPath:{
          '4':'recommend',
          '3':'examine',
          '2':'middleExamine',
          '1':'judgment',
        },
        pdfUrl:'',
        src: '', // pdf文件地址
        numPages:0,
        pageCount:0,
        ziprar:{},
      }

    },

    created() {
      this.id = this.$route.query.id;
      this.getDetail();
      this.getCommentList();
      this.flowCode = Cookies.get('flowCode')
      this.userFlowStatus = Cookies.get('userFlowStatus')
      this.flowDepth = Cookies.get('flowDepth');

    },
    mounted() {
      addHitAPI(this.id).then(res => {
      })

      if (window.localStorage.getItem('recommendInfo')) {
        this.recommend = JSON.parse(window.localStorage.getItem('recommendInfo'))
        // window.localStorage.removeItem('recommendInfo')

      }
    },
    watch: {
      $route() {
        this.typeIn = 'bookInfo';
        this.id = this.$route.query.id;
        this.bindType = [{name: '基本信息', type: 'bookInfo'}];
        this.getDetail();
        this.getCommentList();

      }
    },
    components: {
      pdf
    },
    methods: {
      async loadPdfHandler () {

        this.pdfUrl = pdf.createLoadingTask(process.env.BASE_API+this.curpptVideo.fileUrl);
        this.pdfUrl.then(pdf => {
          this.numPages = pdf.numPages
        })
      },
      /*保存历史记录*/
      saveBatch() {
        if (Cookies.get('Y-Token')) {
          let ary = [];
          ary = [{
            goodsId: this.id,
            goodsType: this.detail.type
          }];
          saveBatchAPI(ary).then(res => {
            if (res.data.status) {

            }
          })
        }

      },
      /*获取详情*/
      getDetail() {
        let self = this;
        getMainphyAPI({oid: this.id}).then(res => {
          if (res.data.status) {
            this.detail = res.data.data;
            if (res.data.data.textbookSystem) {
              let cueOne = {};
              /*{name: '基本信息', type: 'bookInfo'}*/
              cueOne.name = '教材体系';
              cueOne.type = 'textbook';
              this.bindType.push(cueOne);
            }
            let types = res.data.data.bindings;
            for (let item in types) {
              let cueOne = {};
              switch (item) {
                case '1-3':
                  cueOne.name = '教参';
                  cueOne.type = '1-3';
                  cueOne.oid = types[item][0];
                  this.bindType.push(cueOne);
                  break;
                case '1-4':
                  cueOne.name = '习题册';
                  cueOne.type = '1-4';
                  cueOne.oid = types[item][0];
                  this.bindType.push(cueOne)
                  break;
                case '2-1':
                  cueOne.name = '章节试读';
                  cueOne.type = '2-1';
                  cueOne.oids = types[item];
                  this.bindType.push(cueOne);

                  break;
                case '2-2':
                  cueOne.name = '电子课件';
                  cueOne.type = '2-2';
                  cueOne.oids = types[item];
                  this.bindType.push(cueOne)
                  break;
                case '2-3':
                  cueOne.name = '素材';
                  cueOne.type = '2-3';
                  cueOne.oids = types[item];
                  this.bindType.push(cueOne)
                  break;
                case '2-4':
                  cueOne.name = '试卷';
                  cueOne.type = '2-4';
                  cueOne.oids = types[item];
                  this.bindType.push(cueOne)
                  break;
                case '2-5':
                  cueOne.name = '电子书';
                  cueOne.type = '2-5';
                  cueOne.oids = types[item];
                  this.bindType.push(cueOne)
                  break;
                case '2-6':
                  cueOne.name = '电子教案';
                  cueOne.type = '2-6';
                  cueOne.oids = types[item];
                  this.bindType.push(cueOne)
                  break;
                case '2-8':
                  cueOne.name = '网页课件';
                  cueOne.type = '2-8';
                  cueOne.oids = types[item];
                  this.bindType.push(cueOne)
                  break;
                case '2-9':
                  cueOne.name = '资料';
                  cueOne.type = '2-9';
                  cueOne.oids = types[item];
                  this.bindType.push(cueOne)
                  break;
              }

            }
            if (!this.detail.introduction && !this.detail.menu) {

              this.bindType.splice(0, 1);

              if (this.bindType.length == 0) {
                this.typeIn = 'evaluate';
              } else {
                this.typeIn = this.bindType[0].type;
              }
            }

            let lastOne = {name: '图书评价', type: 'evaluate'}
            this.bindType.push(lastOne)
            this.saveBatch();

            switch (this.detail.type) {
              case '1-1':
                this.$route.meta.title = '教育教材';
                break
              case '1-2':
                this.$route.meta.title = '职业培训';
                break
              case '1-3':
              case '1-4':
                this.$route.meta.title = '教辅资源';
                break
              case '1-5':
                this.$route.meta.title = '职业能力提升';
                break
            }
            if (this.bindType[0].type != 'evaluate' && this.bindType[0].type != 'bookInfo') {
              this.clickTit(this.bindType[0]);
            }


          }
        }).then(function () {
          if (self.detail.menu) {
            if (self.$refs.menuHeight.scrollHeight > 200) {
              self.isShowM = true;
            } else {
              self.isShowM = false;
            }
          }

        })
      },

      clickTit(tit) {
        this.bindData = {};
        /*this.bindData[tit.type] = {
          cover:'',
          publishTime:'',
          name:'',
          author:'',
          isbn:'',
          publisher:'',
          price:'',
        };*/
        this.typeIn = tit.type;
        this.curPage = 1;
        this.curindexOne = 1;
        this.marginLeft = 0;
        if (tit.type.indexOf('2-') >= 0) {
          let data = {};
          if (tit.type == '2-5') {
            data = {
              oids: tit.oids,
              pageNum: this.pageNumImg,
              pageSize: this.pageSizeImg,
            }
          } else {
            data = {
              oids: tit.oids,
              pageNum: this.pageNumImg,
              pageSize: tit.oids.length,
            }
          }
          getEleAPI(data).then(res => {
            this.titType = tit;
            let num=res.data.data?res.data.data.length:0;
            if(res.data.data&&res.data.data.length>0){

              let len =res.data.data[num-1].fileUrl.length - 4;
              let fileType = res.data.data[num-1].fileUrl.substring(len).toLowerCase();
              if(fileType=='.zip'||fileType=='.rar'){
                this.ziprar=res.data.data.splice(num-1,num)[0];
              }
            }


            this.$set(this.bindData, tit.type, res.data.data);
            this.comTotalImg = res.data.data?res.data.data.total:0;
            this.lastPageImg = Math.ceil(Number(num) / Number(this.pageSizeImg));
            if (tit.type == '2-2' || tit.type == '2-3' || tit.type == '2-4' || tit.type == '2-9' || tit.type == '2-1') {
              this.curpptVideo = this.bindData[tit.type] ? this.bindData[tit.type][0] : null;
              if (this.bindData[tit.type]) {
                this.curindexOne = 1;
              } else {
                this.curindexOne = 0;
              }
              if(tit.type == '2-1'){
                this.loadPdfHandler();
              }
            }
          })
        } else if (tit.type.indexOf('1-') >= 0) {
          getAidphyAPI(tit.oid).then(res => {
            this.$set(this.bindData, tit.type, res.data.data);
          })
        }
      },
      leftBtn() {

        if (this.curPage == 1) {//第一页
          this.marginLeft = 0;
        } else {
          this.marginLeft = Number(this.marginLeft) + 904;
          this.curPage--;

        }
        this.curindexOne = this.curPage*4-3
      },
      rightBtn() {
        if (this.bindData[this.typeIn].length * 226 <= this.curPage * 904) {
        } else {
          this.marginLeft = `-${904 * this.curPage}`;
          this.curPage++
        }
        this.curindexOne = this.curPage*4-3

      },
      /*申请样书*/
      applyBook() {
        let self = this;
        if (Cookies.get('Y-Token')) {//登录

          samplebooknumAPI().then(res => {
            if (res.data.status && res.data.data > 0) {
              this.alertOptions = {
                show: true,
                warning: '申请样书',
                msg: '申请样书将消耗您1个样书券，确认申请样书吗？',
                sureText: '确定',
                cancelText: '取消',
                showClose: true,
                width: 482,
                textWidth: 390,
                btn: 3,
                sure() {
                  this.show = false;
                  this.isShowC = true;

                  let obj = {
                    resourceName: self.detail.name,
                    cover: self.detail.cover,
                    author: self.detail.author,
                    press: self.detail.publisher,
                    price: self.detail.price,
                    isbn: self.detail.isbn,
                    publishDate: self.detail.publishTime,
                    resourceType: self.detail.type,
                    goodsId: self.detail.id,
                  };
                  samplebookapplyAPI(obj).then(res => {
                    if (res.data.status) {
                      self.isShowR = true;
                      self.isType = 2;
                    } else {
                      self.msg(res.data.msg)
                    }


                  })

                },
                cancel() {
                  this.show = false;
                }
              }
            } else {
              if (res.data.data == 0) {
                self.isShowR = true;
                self.isType = 3;
              }

            }

          })


        } else {
          this.$router.push('/login')
        }

      },
      /*评价*/
      evaluate() {
        this.comment = '';
        if (Cookies.get('Y-Token')) {
          this.isShowR = true;
          this.isType = 1;
        } else {
          this.$router.push('/login')
        }

      },
      /*推荐*/
      recommendOpen() {
        this.isShow = true;
      },
      // 推荐提交
      submitRecom() {
        const data = {
          bookId: this.detail.id,
          id: this.recommend.listId,
          lessonId: this.recommend.lessonId,
          remark: this.remark
        }
        const status = this.recommend.status;
        const flowCode  = this.flowCode
        if(flowCode == 1||flowCode == 2){//征订流程是终审或者中审，调用覆盖
          this._coverRecommend(data)
        }else if(flowCode == 3){//征订流程是初审，调用创建审核
          this._examineRecommend(data)
        }else if(flowCode == 4){//征订流程是推荐
          if(status == 1){//未提交，调用推荐
            this._recommend(data)
          }else if(status == 2){//退回，调用重新推荐
            this._resetRecommend(data)
          }

        }
      },
      // 推荐
      _recommend(data){
        addRecommendAPI(data).then(res=>{//推荐
          if(res.data.code == 0){
            this._backRecommend()
          }
        })
      },
      // 重新推荐
      _resetRecommend(data){
        resetAddRecommendAPI(data).then(res=>{//重新推荐
          if(res.data.code == 0){
            this._backRecommend()
          }
        })
      },
      // 覆盖推荐
      _coverRecommend(data){
        coverRecommendAPI(data).then(res=>{//重新推荐
          if(res.data.code == 0){
            this._backRecommend()
          }
        })
      },

      // 初审创建推荐
      _examineRecommend(data){
        examineRecommendAPI(data).then(res=>{//重新推荐
          if(res.data.code == 0){
            this._backRecommend()
          }
        })
      },
      _backRecommend(){
        this.$message.success("推荐成功")
        window.localStorage.removeItem('recommendInfo')
        const status = Cookies.get('flowCode')
        let path = this.recommendPath[status]
        this.remork = ''
        this.$router.push({path: '/workbench/'+path, query: {status: this.recommend.listStatus}})
      },
      /*购买链接*/
      buyBtn(link) {
        window.open(link)
      },
      /*发表评论*/
      setComment() {
        if (Cookies.get('Y-Token')) {
          this.$validator.validate().then(result => {
            if (result) {
              setCommentAPI({
                comment: this.comment,
                resourceId: this.id,
                resourceType: this.detail.type,
              }).then(res => {
                if (res.data.status) {
                  this.isShowR = false;
                  this.msg('已提交审核，感谢您的评价');
                  this.getCommentList();
                } else {
                  this.msg(res.data.msg);
                }
              })
            }
          })
        } else {
          this.$router.push('/login')
        }


      },
      /*获取评论列表*/
      getCommentList() {
        /*获取评论列表*/
        getCommentListAPI({
          oid: this.id,
          pageNum: this.pageNum,
          pageSize: this.pageSize,
        }).then(res => {
          if (res.data.status) {
            this.isLoading = false;
            this.commentList = res.data.data.list;
            this.lastPage = Math.ceil(Number(res.data.data.total) / Number(this.pageSize));
            this.comTotal = res.data.data.total;
          }
        })
      },
      /*切换page*/
      pageChange(val) {
        this.pageNum = val
        this.getCommentList();
      },
      /*图形图像切换page*/
      pageChangeImg(val) {
        this.pageNumImg = val
        this.clickTit(this.titType);
      },
      /*收藏*/
      collectionsBtn(item) {
        if (Cookies.get('Y-Token')) {//登录
          let obj = null, ary = [];
          obj = {
            goodsId: item.id,
            goodsType: item.type
          };
          ary.push(obj);
          if (item.isCollection) {
            cancelCollectionsAPI(item.id).then(res => {
              if (res.data.status) {
                item.isCollection = false;
                this.msg('已取消收藏');
              }

            })
          } else {
            collectionsAPI(ary).then(res => {
              if (res.data.status) {
                item.isCollection = true;
                this.msg('已加入收藏');
              }

            })
          }

        } else {
          this.$router.push('/login')

        }

      },
      /*ppt绑定文件*/
      pptVideo(item, num) {
        this.curpptVideo = item;
        this.curindexOne = num + 1;

      },
      /*跳转链接*/
      linkHref(num, item) {
        if (num == 2) {
          this.$router.push({path: '/resources/teaching', query: {id: item.id}})
        } else {
          isBindAPI({oid: item.id}).then(res => {
            if (res.data.status) {
              if (res.data.data) {//绑定资源
                this.$router.push({path: '/resources/info', query: {id: item.id}});
              } else {//没有绑定
                this.$router.push({path: '/resources/vocation', query: {id: item.id}});
              }

            }
          })

        }
      },
      /*下载按钮*/
      uploadBtn(link, item) {
        if (link) {
          uploadFile(link).then(res => {
            addDownloadAPI(item.id).then(res => {
              /*window.open(this.uploadUrl+'download?filePath='+link);*/
              item ? item.downloadCount++ : true;
            })
          })

        }

      },
      /*过滤评价姓名*/
      filterName(str) {
        if (str.length > 1) {
          let aa = '';
          for (let a = 0; a < str.length - 1; a++) {
            aa = aa + '*';
          }

          let nameS = str.substring(0, 1) + aa;
          return nameS;
        } else {
          return str
        }
      },
      /*音频图片*/
      audioBg(item) {
        return item ? this.imgUrl(item) : audioBgimg;
        /*?curpptVideo.cover:'../../../static/img/audioD.jpg'*/
      },
      /*下载压缩包*/
      downloadZIP(){},
      /*单个电子资源下载*/
      downloadONE(item){

      },
    },
  }
</script>

<style scoped lang="less">

  .info {
    width: auto;
    overflow: hidden;
    background: #f4f5f9;
    ul, li {
      list-style: none;
      padding: 0;
      margin: 0;
    }
    .infoOne {
      width: 1200px;
      height: 440px;
      background: rgba(255, 255, 255, 1);
      box-shadow: 0px 1px 8px 0px rgba(197, 197, 197, 0.3);
      margin: 0 auto 24px;
      display: flex;
      justify-content: space-between;

      .infoTit {
        width: 80px;
        float: left;
        text-align: justify;
        text-justify: distribute-all-lines;
        span{
          cursor: auto;
        }
      }
      .infoTit:after {
        content: '.';
        width: 100%;
        display: inline-block;
        overflow: hidden;
        height: 0;
      }
      .infoTit2 {
        width: 54px;
        float: left;
        text-align: justify;
        text-justify: distribute-all-lines;
      }
      .infoTit2:after {
        content: '.';
        width: 100%;
        display: inline-block;
        overflow: hidden;
        height: 0;
      }

      .infoOneLf {
        width: 292px;
        margin: 41px 0 0 50px;
        .infoOneImg {
          width: 290px;
          height: 333px;
          background: rgba(255, 255, 255, 1);
          border: 1px solid rgba(240, 240, 240, 1);
          display: flex;
          align-items: center;
          justify-content: center;
          img {
            max-width: 186px;
            max-height: 248px;
            background: rgba(51, 51, 51, 1);
            box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.1);
          }
        }
        .infoOneCollection {
          margin-top: 15px;
          font-size: 12px;
          font-family: "Microsoft Yahei", "simsun", "arial", "tahoma";
          font-weight: 400;
          color: rgba(168, 165, 161, 1);
          line-height: 20px;
          cursor: pointer;
          span {
            img {
              width: 12px;
              height: 12px;
              margin-top: 4px;
              margin-right: 5px;
              float: left;
              display: block
            }
          }
        }
      }
      .infoOneRt {
        width: 760px;
        margin-right: 41px;
        margin-top: 70px;
        .infoOneTit {
          height: 75px;
          word-wrap:break-word;
          font-size: 24px;
          font-family: "Microsoft Yahei", "simsun", "arial", "tahoma";
          font-weight: 400;
          color: rgba(51, 51, 51, 1);
          width: 605px;
          /*overflow: hidden;
          text-overflow: ellipsis;
          display:-webkit-box;
          -webkit-line-clamp:2;*/
          /* !autoprefixer: off */
          /*-webkit-box-orient: vertical;*/
          /* !autoprefixer: on */
          line-height:35px;
          cursor: auto;
        }
        .infoOneAuthor {
          padding-top: 0px;
          width: 100%;
          display: block;
          height: 28px;
          overflow: hidden;
          ul {
            li {
              float: left;
              display: block;
              padding-right: 0px;
              font-size: 14px;
              font-family: "Microsoft Yahei", "simsun", "arial", "tahoma";
              font-weight: 400;
              color: rgba(102, 102, 102, 1);
              line-height: 18px;
              width: 280px;
              span {
                color: #3279FF;
                width: 180px;
                display: inline-block;
                cursor: auto;
              }
            }
          }

        }
        .infoOnePic {
          /*margin-top: 20px;*/
          width: 604px;
          height: 52px;
          background: rgba(249, 250, 255, 1);
          font-size: 14px;
          font-family: "Microsoft Yahei", "simsun", "arial", "tahoma";
          padding-left: 12px;
          font-weight: 400;
          color: rgba(102, 102, 102, 1);
          margin-left: -12px;
          .infoOnePicTit {
            float: left;
            display: block;
            margin-top: 16px;
            line-height: 24px;
            height: 24px;
          }
          span {
            line-height: 52px;
            font-size: 24px;
            color: rgba(244, 59, 55, 1);
            i {
              font-size: 16px;
              font-family: "Microsoft Yahei", "simsun", "arial", "tahoma";
              font-weight: 400;
              color: rgba(244, 59, 55, 1);
              line-height: 24px;
            }

          }
        }
        .infoOneBookOther {
          width: 100%;
          display: block;
          height: auto;
          overflow: hidden;
          padding-bottom: 55px;
          padding-top: 0px;
          ul {
            li {
              width: 280px;
              float: left;
              display: block;
              line-height: 32px;
              height: 32px;
              color: #666666;
              font-size: 14px;
            }
          }
        }
        .infoOneBtns {
          width: 100%;
          height: auto;
          overflow: hidden;
          ul {
            li {
              float: left;
              display: block;
              width: 116px;
              height: 30px;
              line-height: 30px;
              text-align: center;
              margin-right: 15px;
              font-size: 14px;
              font-family: "Microsoft Yahei", "simsun", "arial", "tahoma";
              font-weight: 400;
              cursor: pointer;
            }
            .infoOneBtns1 {
              /*border-radius: 30px;*/
              background: #3279FF;
              border: 1px solid #3279FF;
              color: #fff;
            }
            .infoOneBtns2 {
              /*border-radius: 30px;*/
              background: #EB666A;
              border: 1px solid #EB666A;
              color: #fff;
            }
            .infoOneBtns3 {
              background: rgba(250, 234, 235, 1);
              border: 1px solid rgba(235, 102, 106, 1);
              /*border-radius: 30px;*/
              color: #EB666A;
            }
            .infoOneBtns4 {
              background: rgba(253, 239, 221, 1);
              border: 1px solid rgba(248, 175, 89, 1);
              /*border-radius: 30px;*/
              color: #ED6704;
            }
          }
        }
      }

    }
    .infoTwo {
      width: 1200px;
      height: auto;
      background: rgba(255, 255, 255, 1);
      box-shadow: 0px 1px 8px 0px rgba(197, 197, 197, 0.3);
      margin: 0 auto 30px;
      .infoTwotits {
        width: 1140px;
        border-bottom: 1px solid #E6E6E6;
        margin: 0 auto;
        padding-top: 30px;
        height: 34px;
        cursor: pointer;
        ul {
          display: flex;
          justify-content: flex-start;
          list-style: none;
          li {
            list-style: none;
            height: 34px;
            line-height: 34px;
            padding: 0 15px;
            font-size: 16px;
            color: #333333;
          }
          .hover {
            background: #3279FF;
            color: #fff
          }
        }
      }
      /*基本信息*/
      .essentialInfor {
        padding-bottom: 90px;

        .essentialInforTit {
          padding-left: 48px;
          height: auto;
          margin-bottom: 15px;
          font-size: 18px;
          font-family: "Microsoft Yahei", "simsun", "arial", "tahoma";
          font-weight: 400;
          color: rgba(51, 51, 51, 1);
          line-height: 24px;
          margin-top: 30px;
          span {
            width: 4px;
            height: 16px;
            background: rgba(50, 121, 255, 1);
            float: left;
            display: block;
            margin-top: 4px;
            margin-right: 10px;

          }
        }
        .essentialInforCont {
          width: 1080px;
          height: auto;
          overflow: hidden;
          font-size: 14px;
          font-family: "Microsoft Yahei", "simsun", "arial", "tahoma";
          font-weight: 400;
          color: rgba(85, 85, 85, 1);
          line-height: 30px;
          padding-left: 62px;
        }

        .essentialCatalogCont {
          width: 1080px;
          height: auto;
          overflow: hidden;
          font-size: 14px;
          font-family: "Microsoft Yahei", "simsun", "arial", "tahoma";
          font-weight: 400;
          color: rgba(85, 85, 85, 1);
          line-height: 30px;
          padding-left: 62px;
          h1 {
            height: 12px;
            font-size: 14px;
            font-family: "Microsoft Yahei", "simsun", "arial", "tahoma";
            font-weight: 400;
            color: rgba(51, 51, 51, 1);
            line-height: 48px;
            height: 50px;
          }
          p {
            font-size: 14px;
            font-family: "Microsoft Yahei", "simsun", "arial", "tahoma";
            font-weight: 400;
            color: rgba(51, 51, 51, 1);
            /*height: 50px;*/
            line-height: 50px;
            overflow: hidden;
          }
          h2 {
            font-size: 14px;
            font-family: "Microsoft Yahei", "simsun", "arial", "tahoma";
            font-weight: 400;
            color: rgba(50, 121, 255, 1);
            line-height: 42px;
            cursor: pointer;
            img {
              padding-left: 4px;
              width: 6px;
              height: 10px;
            }
          }

        }
      }
      /*章节试读*/
      .chapterRead {
        width: 1049px;
        margin: 0 auto;
        padding-bottom: 60px;
        .chapterReadTit {
          height: 50px;
          font-size: 20px;
          font-family: "Microsoft Yahei", "simsun", "arial", "tahoma";
          font-weight: bold;
          color: rgba(51, 51, 51, 1);
          line-height: 30px;
          padding-top: 80px;
          text-align: center;
        }
        .chapterReadCont {
          font-size: 14px;
          font-family: "Microsoft Yahei", "simsun", "arial", "tahoma";
          font-weight: 400;
          color: rgba(51, 51, 51, 1);
          line-height: 36px;
          height: 600px;
          overflow-y: scroll;
          overflow-x: hidden;
          p {
            text-indent: 2em;
          }

        }
        .chapterReadShow {
          color: #F46D38;
          font-size: 16px;
          font-family: "Microsoft Yahei", "simsun", "arial", "tahoma";
          font-weight: bold;
          line-height: 48px;
          text-align: center;
          padding-top: 30px;
          padding-bottom: 110px;
          span {
            color: #555;
          }

        }
      }
      /*教参 习题册*/
      .guidebooks {
        width: 1200px;
        min-height: 400px;
        overflow: hidden;
        margin: 0 auto 30px;
        background: rgba(255, 255, 255, 1);
        /*box-shadow: 0px 2px 8px 0px rgba(1, 2, 2, 0.06);*/
        .itemhover {
          box-shadow: 0px 2px 8px 0px rgba(1, 2, 2, 0.1);
          .listTextHover {
            width: 150px;
            height: 200px;
            overflow: hidden;
            box-shadow: 0px 2px 8px 0px rgba(170, 170, 170, 0.49);
            display: flex;
            justify-content: center;
            align-items: center;
            img {
              max-width: 150px;
              max-height: 200px;
            }
          }
          .listTitle h1 {font-size: 16px;
            font-weight: 400;
            color: #3279FF;
          }
        }
        ul {
          overflow: hidden;
          margin: 29px 15px;
          li {
            width: 220px;
            height: 405px;
            float: left;
            display: block;
            padding: 35px 33px 0;
            margin: 5px 3px 9px 3px;

            .listImg {
              width: 150px;
              height: 200px;
              left: 35px;
              position: relative;
              display: flex;
              justify-content: center;
              align-items: center;
              background: #e3eefd;
              img {
                max-width: 150px;
                max-height: 200px;
              }
              .listText {
                width: 150px;
                height: 200px;
                overflow: hidden;
                background: rgba(227, 238, 253, 1);
                display: flex;
                justify-content: center;
                align-items: center;
              }

              h1 {
                position: absolute;
                right: 0;
                bottom: 0;
                width: 150px;
                height: 25px;
                background: rgba(0, 0, 0, 1);
                opacity: 0.7;
                font-size: 14px;
                font-family: "Microsoft Yahei", "simsun", "arial", "tahoma";
                font-weight: 400;
                color: rgba(255, 255, 255, 1);
                line-height: 26px;
                text-align: center;
              }

            }
            .listTitle {
              h1 {
                margin-top: 20px;
                height: 40px;
                font-size: 16px;
                font-family: "Microsoft Yahei", "simsun", "arial", "tahoma";
                font-weight: 400;
                color: rgba(51, 51, 51, 1);
                line-height: 30px;
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;
                cursor: pointer;
              }
              p {
                font-size: 14px;
                font-family: "Microsoft Yahei", "simsun", "arial", "tahoma";
                font-weight: 400;
                color: rgba(102, 102, 102, 1);
                line-height: 28px;
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;
              }
              .listTitleLast {
                padding-top: 10px;
                width: 100%;
                color: #F44D4A;
                line-height: 26px;
              }
            }
          }
          li:hover {
            .itemhover
          }

        }

      }
      /*PPT*/
      .ppt {
        width: 959px;
        margin: 0 auto;
        height: auto;
        overflow: hidden;
        padding-top: 61px;
        .pptVideo {
          width: 959px;
          height: auto;
          overflow: hidden;
          display: flex;
          justify-content: space-between;
          padding-bottom: 30px;
          border-bottom: 1px solid #EEEEEE;
          .ziprarImg{
            width: 111px;
            height:112px;
            border:1px solid rgba(50,121,255,1);
            display: flex;
            justify-content: center;
            align-items: center;
            img{
              width: 48px;
              height:47px;
            }
          }
          .ziprarWord{
            width: 814px;
            height: auto;
            h1{
              font-size:20px;
              font-family:Microsoft YaHei;
              font-weight:400;
              color:rgba(51,51,51,1);
              line-height:26px;
              overflow: hidden;
              text-overflow: ellipsis;
              white-space: nowrap;
              cursor: inherit;
              height: 40px;
            }
            ul{
              width: 100%;
              display: block;
              height: 33px;
              li{
                float: left;
                display: block;

                font-size:14px;
                font-family:Microsoft YaHei;
                font-weight:400;
                color:rgba(102,102,102,1);
                line-height:26px;
                padding-right: 72px;
              }
            }
            button{
              width:110px;
              height:35px;
              background:rgba(50,121,255,1);
              border-radius:18px;
              font-size:16px;
              font-family:Microsoft YaHei;
              font-weight:400;
              color:rgba(255,255,255,1);
              line-height:26px;
              border: none;
              float: left;
              display: block;
              cursor: pointer;
            }
          }
          /*background-color: #ededed;
          display: flex;
          justify-content: center;
          align-items: center;
          background-repeat: no-repeat;
          background-position: center;
          video {
            width: 959px;
            height: 515px;
          }
          audio {
            width: 959px;
            height: 515px;
          }*/
        }
/*        .pptVideoTit {
          width: 100%;
          height: auto;
          line-height: 30px;
          font-size: 20px;
          font-family: "Microsoft Yahei", "simsun", "arial", "tahoma";
          font-weight: 400;
          color: rgba(51, 51, 51, 1);
          !*line-height: 26px;*!
          padding-top: 34px;
          cursor: pointer;
          margin-bottom: 15px;
        }
        .pptVideoOther {
          font-size: 14px;
          font-family: "Microsoft Yahei", "simsun", "arial", "tahoma";
          font-weight: 400;
          color: rgba(102, 102, 102, 1);
          line-height: 26px;
          width: 100%;
          height: 40px;
          ul {
            li {
              float: left;
              display: block;
              padding-right: 40px;
            }
          }
        }
        .pptVideoBtn {
          width: 100%;
          height: 65px;

          border-bottom: 1px solid #EEEEEE;
          ul {
            li {
              float: left;
              display: block;
              width: 100px;
              height: 35px;
              text-align: center;
              line-height: 35px;
              border-radius: 18px;
              font-size: 16px;
              cursor: pointer;
              margin-right: 20px;
            }
            .uploadBtn {
              background: #3279FF;
              color: #fff
            }
            .CollectionBtn {
              height: 33px;
              line-height: 33px;
              border: 1px solid rgba(185, 208, 253, 1);
              background: url("../../assets/img/nocoll.png") no-repeat;
              background-position: 20px 9px;
              color: #3279FF;
              a {
                color: #3279FF;
                margin-left: 10px;
              }
            }
            .CollectionBtn:hover {
              background: url("../../assets/img/star.png") no-repeat #3279FF;
              background-position: 20px 9px;
              a {
                color: #fff;
                margin-left: 10px;
              }
            }
            .noCollectionBtn {
              height: 33px;
              line-height: 33px;
              border: 1px solid rgba(185, 208, 253, 1);
              background-position: 20px 9px;
              color: #3279FF;

            }
            .noCollectionBtn:hover {
              background: #3279FF;
              color: #fff;
            }
          }

        }*/

        .pptVideoSwiper {
          margin-top: 32px;
          display: flex;
          justify-content: space-between;
          .pptVideoSwiperLf, .pptVideoSwiperRt {
            width: 17px;
            height: 25px;
            background: rgba(194, 194, 194, 1);
            text-align: center;
            line-height: 25px;
            margin-top: 48px;
            cursor: pointer;
            img {
              width: 8px;
              height: 14px;
              margin-top: 0;
              padding-top: 0;
            }

          }
          .pptVideoSwiperList {
            width: 882px;
            overflow: hidden;
            ul {
              width: 100000px;
              li {
                width: 206px;
                float: left;
                display: block;
                margin-right: 20px;
                position: relative;

                h1 {
                  position: absolute;
                  top: 92px;
                  width:206px;
                  height:28px;

                  background:rgba(0,0,0,1);
                  opacity:0.3;
                  display: flex;
                  justify-content: flex-end;
                  a{ margin: 0; padding: 0;
                    width: 30px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                  }
                  img{
                    background: none;
                    width: 10px;
                    height: 11px;
                    cursor: pointer;
                    display: inline-block;
                  }
                }
                .pptVideoSwiperListimg {
                  width: 206px;
                  height: 120px;
                  background: #E3EEFD;
                  display: flex;
                  justify-content: center;
                  align-items: center;
                  img {
                    max-width: 206px;
                    max-height: 120px;
                  }
                  .noImg{
                    width: 120px;
                    height: 89px;
                  }

                }
                img {
                  max-width: 206px;
                  max-height: 120px;
                }
                p {
                  margin-top: 8px;
                  font-size: 16px;
                  color: #333;
                  overflow: hidden;
                  text-overflow: ellipsis;
                  white-space: nowrap;
                }
              }
              li:hover {
                p {
                  color: #3279FF;
                }
              }
            }
          }

        }
        .pptVideoSwiperText {
          width: 100%;
          text-align: center;
          font-size: 16px;
          font-family: "Microsoft Yahei", "simsun", "arial", "tahoma";
          font-weight: 400;
          color: rgba(153, 153, 153, 1);
          line-height: 36px;
          padding-top: 40px;
          padding-bottom: 60px;
        }

      }

      /*图形/图像*/
      .img {
        width: 1170px;
        min-height: 400px;
        margin: 0 0 0 20px;
        padding-bottom: 50px;
        overflow: hidden;
        .imgCont {
          /*display: flex;
          justify-content: space-between;*/
          margin-top: 19px;
          display: block;
          padding-bottom: 20px;
          overflow: hidden;
          .imgItem {
            float: left;
            display: block;
            margin-right: 30px;
            margin-top: 30px;
            width: 360px;
            height: 268px;
            /*background:rgba(227,238,253,1);*/
            /*border:10px solid rgba(255,255,255,1);*/
            box-shadow: 0px 2px 8px 0px rgba(170, 170, 170, 0.49);
            position: relative;
            display: flex;
            justify-content: center;
            align-items: center;
            .imgImg {
              width: 340px;
              height: 248px;
            }
            .onmose {
              position: absolute;
              left: 0;
              top: 0;
              width: 240px;
              height: 208px;
              background: rgba(0, 0, 0, 0.6);
              padding: 60px 60px 0 60px;
              color: #fff;
              font-size: 14px;

              h1 {
                font-size: 16px;
                font-weight: normal;
                height: 42px;
                cursor: pointer;
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;
              }
              h2 {
                height: 27px;
                font-size:14px;
                font-weight:400;
              }
              .ImgOther {
                display: flex;
                justify-content: space-between;
                height: 40px;
              }
              .imgBtns {
                display: flex;
                justify-content: space-between;
                li {
                  float: left;
                  height: 35px;
                  width: 100px;
                  border-radius: 18px;
                  text-align: center;
                  line-height: 35px;
                }
                .ImgLoad {
                  font-size: 16px;
                  color: #3279FF;
                  background: #fff;
                  cursor: pointer;
                }
                .ImgnoColl {
                  background: url("../../assets/img/writeStar.png") no-repeat;
                  background-position: 20px center;
                  padding-left: 10px;
                  border: 1px solid #fff;
                  height: 33px;
                  line-height: 33px;
                  width: 88px;
                }
                .ImgnoColl:hover {
                  .ImgColl
                }
                .ImgColl {
                  background: url("../../assets/img/blueStar.png") no-repeat #fff;
                  background-position: 20px center;
                  padding-left: 10px;
                  border: 1px solid #fff;
                  height: 33px;
                  line-height: 33px;
                  width: 90px;
                  color: #3279FF;
                  cursor: pointer;
                }
                .ImgcancelColl {
                  width: 98px;
                  height: 33px;
                  text-align: center;
                  line-height: 33px;
                  color: #fff;
                  border: 1px solid #fff;
                  cursor: pointer;
                }
                .ImgcancelColl:hover {
                  width: 98px;
                  background: #fff;
                  border: 1px solid #fff;
                  height: 33px;
                  line-height: 33px;
                  color: #3279FF;
                  cursor: pointer;
                }
              }
            }
          }
        }

      }

      /*文本*/
      .text {
        width: 1150px;
        margin: 39px auto 0;
        min-height: 400px;
        overflow: hidden;
        padding-bottom: 100px;
        .itemhover {
          box-shadow: 0px 2px 8px 0px rgba(1, 2, 2, 0.1);
          .listTextHover {
            width: 150px;
            height: 200px;
            overflow: hidden;
            box-shadow: 0px 2px 8px 0px rgba(170, 170, 170, 0.49);
            display: flex;
            justify-content: center;
            align-items: center;
            img {
              max-width: 150px;
              max-height: 200px;
            }
          }
          .listTitle h1 {font-size: 16px;
            font-weight: 400;
            color: #3279FF;
          }
        }
        ul {
          li {
            width: 230px;
            height: 400px;
            float: left;
            display: block;
            overflow: hidden;
            padding: 35px 25px 0;
            margin: 5px 3px 9px 3px;
            .textImg {
              width: 230px;
              height: 170px;
              background: rgba(227, 238, 253, 1);
              box-shadow: 0px 2px 8px 0px rgba(170, 170, 170, 0.49);
              display: flex;
              justify-content: center;
              align-items: center;
              img {
                width: 120px;
                height: 89px;
              }
            }
            .textTit {
              font-size: 16px;
              width: 100%;
              color: #3279FF;
              height: 42px;
              padding-top: 24px;
              cursor: pointer;
              text-overflow: ellipsis;
              overflow: hidden;
              white-space: nowrap;
            }
            h2 {
              color: #666666;
              font-size: 14px;
              font-weight: normal;
              padding-bottom: 10px;
            }
            .textOther {
              display: flex;
              justify-content: space-between;
              font-size: 14px;
              color: #999999;
              padding-bottom: 20px;
            }
            .textBtn {
              width: 100%;
              display: flex;
              justify-content: space-between;
              div {
                float: left;
                height: 35px;
                width: 100px;
                border-radius: 18px;
                text-align: center;
                line-height: 35px;
                cursor: pointer;
              }
              .TextLoad {
                width: 98px;
                height: 33px;
                line-height: 33px;
                font-size: 16px;
                color: #3279FF;
                background: #fff;
                border: 1px solid #3279FF;
              }
              .TextLoad:hover {
                font-size: 16px;
                color: #fff;
                background: #3279FF;
              }
              .TextnoColl {
                background: url("../../assets/img/nocoll.png") no-repeat #fff;
                border: 1px solid #3279FF;
                background-position: 20px center;
                color: #3279FF;
                padding-left: 10px;
                height: 33px;
                line-height: 33px;
                width: 88px;
              }
              .TextnoColl:hover {
                background: url("../../assets/img/writeStar.png") no-repeat #3279FF;
                border: 1px solid #3279FF;
                background-position: 20px center;
                color: #fff;
                padding-left: 10px;
                height: 33px;
                line-height: 33px;
                width: 88px;
              }
              .TextcancelColl {
                width: 98px;
                height: 33px;
                text-align: center;
                line-height: 33px;
                color: #3279FF;
                border: 1px solid #3279FF;
              }
              .TextcancelColl:hover {
                width: 98px;
                height: 33px;
                text-align: center;
                line-height: 33px;
                color: #fff;
                background: #3279FF;
                border: 1px solid #3279FF;
              }
            }

          }
          li:hover {
            .itemhover
          }
        }
      }

      /*图书评价*/
      .evaluate {
        width: 1140px;
        margin: 17px auto 0;
        padding-bottom: 110px;
        ul {
          li {
            width: 100%;
            height: auto;
            margin: 30px 0 0 0;
            display: flex;
            justify-content: space-between;
            padding-bottom: 30px;
            border-bottom: 1px solid #E6E6E6;
            .evalHeader {
              width: 54px;
              height: 54px;

              img {
                width: 54px;
                height: 54px;
                border-radius: 50%;
              }
            }
            .evalWord {
              width: 1063px;
              .evalTit {
                height: 33px;
                h1 {
                  width: 150px;
                  font-size: 14px;
                  height: 12px;
                  font-family: "Microsoft Yahei", "simsun", "arial", "tahoma";
                  font-weight: bold;
                  color: rgba(51, 51, 51, 1);
                  line-height: 34px;
                  float: left;
                }
                h2 {
                  font-size: 12px;
                  font-family: "Microsoft Yahei", "simsun", "arial", "tahoma";
                  font-weight: 400;
                  color: rgba(183, 183, 183, 1);
                  line-height: 34px;
                }

              }
              .evalCont {
                height: auto;
                font-size: 14px;
                overflow: hidden;
                padding-bottom: 5px;
                font-family: "Microsoft Yahei", "simsun", "arial", "tahoma";
                font-weight: 400;
                color: rgba(85, 85, 85, 1);
                line-height: 26px;
              }
              .evalTriangle {
                border-width: 0 10px 10px;
                border-style: solid;
                border-color: transparent transparent #F9FAFF; /*透明 透明  灰*/
                width: 0;
                height: 0;
                margin-left: 30px;
              }
              .evalReply {
                width: 1050px;
                height: auto;
                border-radius: 5px;
                background: #F9FAFF;
                padding: 20px 0;
                h1 {
                  font-size: 14px;
                  font-weight: normal;
                  color: #3279FF;
                  padding: 0 20px;

                }
                p {
                  padding: 0 20px;
                  font-size: 14px;
                  font-family: "Microsoft Yahei", "simsun", "arial", "tahoma";
                  font-weight: 400;
                  color: rgba(102, 102, 102, 1);
                  line-height: 28px;
                  padding-top: 10px;
                }
              }
            }
          }
        }

      }
    }
    /*弹窗*/
    .vocationEla {
      width: 100%;
      height: 100%;
      position: fixed;
      top: 0;
      left: 0;
      z-index: 1;
      background: rgba(0, 0, 0, 0.2);
      display: flex;
      justify-content: center;
      align-items: center;
      .vocationECont {
        width: 482px;
        height: auto;
        overflow: hidden;
        background: #fff;
        .vocationECTit {
          width: 100%;
          height: 36px;
          line-height: 36px;
          background: rgba(244, 244, 244, 1);
          border-radius: 3px 3px 0px 0px;
          display: flex;
          justify-content: space-between;
          h1 {
            font-size: 14px;
            font-family: "Microsoft Yahei", "simsun", "arial", "tahoma";
            font-weight: bold;
            color: rgba(69, 69, 69, 1);
            padding-left: 15px;
          }
          span {
            font-size: 16px;
            font-family: "Microsoft Yahei", "simsun", "arial", "tahoma";
            color: #999999;
            margin-right: 15px;
            cursor: pointer;

          }
        }
        .vocationTextA {
          width: 443px;
          height: 166px;
          margin: 20px auto;
          textarea {
            width: 417px;
            height: 142px;
            border: 1px solid rgba(220, 223, 230, 1);
            resize: none;
            font-size: 14px;
            font-family: "Microsoft Yahei", "simsun", "arial", "tahoma";
            font-weight: 400;
            padding: 13px 12px;
            color: #333;
            line-height: 24px;
          }

        }
        .vocationBtn {
          overflow: hidden;
          padding-left: 340px;
          margin-bottom: 20px;
          ul {
            li {
              float: left;
              display: block;
              width: 56px;
              height: 32px;
              border-radius: 4px;
              font-size: 12px;
              font-family: "Microsoft Yahei", "simsun", "arial", "tahoma";
              font-weight: 400;
              text-align: center;
              cursor: pointer;
            }
            .saveBtn {
              background: #3279FF;
              color: #fff;
              margin-right: 10px;
              line-height: 32px;
            }
            .cancelBtn {
              width: 54px;
              height: 30px;
              border: 1px solid rgba(220, 223, 230, 1);
              border-radius: 4px;
              color: #999999;
              line-height: 30px;
            }
          }
        }
      }
    }
    /*申请样书*/
    .infoAlert {
      width: 100%;
      height: 100%;
      position: fixed;
      top: 0;
      left: 0;
      background: rgba(0, 0, 0, 0.2);
      display: flex;
      align-items: center;
      justify-content: center;

      .infoAlertC {
        width: 482px;
        height: auto;
        background: rgba(255, 255, 255, 1);
        box-shadow: 0px 2px 8px 0px rgba(170, 170, 170, 0.49);
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-bottom: 30px;
        overflow: hidden;
        .infoAlertT {
          width: 452px;
          height: 36px;
          padding: 0 15px;
          background: rgba(244, 244, 244, 1);
          display: flex;
          justify-content: space-between;
          line-height: 36px;
          h1 {
            font-size: 14px;
            font-family: "Microsoft Yahei", "simsun", "arial", "tahoma";
            font-weight: bold;
            color: rgba(68, 68, 68, 1);
          }
          span {
            color: #999999;
            font-size: 20px;
            cursor: pointer;

          }

        }
        .isTypeTwo {
          width: 380px;
          margin: 40px auto 20px;
          font-size: 18px;
          color: #454545;
          line-height: 30px;
          a {
            color: #3279FF;
          }
        }
        .isTypeTwoBtn {
          width: 100%;
          display: flex;
          justify-content: center;
          .commit {
            display: inline-block;
            cursor: pointer;
            width: 96px;
            height: 32px;
            background: rgba(50, 121, 255, 1);
            border-radius: 4px;
            font-size: 12px;
            font-family: "Microsoft Yahei", "simsun", "arial", "tahoma";
            font-weight: 400;
            color: rgba(255, 255, 255, 1);
            line-height: 32px;
            text-align: center;
            margin-right: 5px;
          }

        }
        p {
          width: 378px;
          font-size: 18px;
          font-family: "Microsoft Yahei", "simsun", "arial", "tahoma";
          font-weight: 400;
          color: rgba(69, 69, 69, 1);
          margin-top: 40px;
          margin-bottom: 25px;
          line-height: 30px;
          a {
            color: #3279FF;

          }
        }
        .infoAlertB {
          width: 96px;
          height: 32px;
          background: rgba(50, 121, 255, 1);
          border-radius: 4px;
          font-size: 12px;
          font-family: "Microsoft Yahei", "simsun", "arial", "tahoma";
          font-weight: 400;
          color: rgba(255, 255, 255, 1);
          text-align: center;
          line-height: 32px;
          cursor: pointer;

        }
        textarea {
          width: 419px;
          height: 140px;
          border: 1px solid rgba(220, 223, 230, 1);
          resize: none;
          padding: 13px 12px;
          margin-top: 20px;

          font-family: "Microsoft Yahei", "simsun", "arial", "tahoma";
          font-size: 14px;
        }
        .errorMsg {
          width: 444px;
          height: 20px;
          padding: 0;
          margin-top: 5px;
          text-align: left;
          font-size: 12px;
          color: #f40303;
        }
        .infoevaluateB {
          width: 100%;
          display: flex;
          justify-content: flex-end;
          margin-top: 20px;
          .commit {
            display: inline-block;
            cursor: pointer;
            width: 96px;
            height: 32px;
            background: rgba(50, 121, 255, 1);
            border-radius: 4px;
            font-size: 12px;
            font-family: "Microsoft Yahei", "simsun", "arial", "tahoma";
            font-weight: 400;
            color: rgba(255, 255, 255, 1);
            line-height: 32px;
            text-align: center;
            margin-right: 5px;
          }
          .cancel {
            display: inline-block;
            cursor: pointer;
            width: 94px;
            height: 30px;
            border: 1px solid rgba(220, 223, 230, 1);
            border-radius: 4px;
            font-size: 12px;
            font-family: "Microsoft Yahei", "simsun", "arial", "tahoma";
            font-weight: 400;
            color: rgba(153, 153, 153, 1);
            line-height: 30px;
            text-align: center;
            margin-right: 18px;
          }
        }
      }
    }
  }
</style>
