<template>
  <!--教辅资源详情-->
  <div class="teaching" id="hCss">
    <div class="teachingInfo">
      <div class="teachingInfoLf">
        <div class="teachingInfoImg">
          <img :src="imgUrl(detail.fileUrl)" alt="" v-if="detail&&detail.type=='2-5'" :onerror="errorImg(detail)">
          <img :src="filterImg(detail)" alt="" v-if="detail&&detail.type!='2-5'"
               :onerror="detail.type=='2-3'?video2:errorImg(detail)">

          <!--<img src="@/assets/img/shu1.png" alt="">-->
        </div>

      </div>
      <div class="teachingInfoRt">
        <div class="teachingInfoTit">
          <div class="teachingInfoTitWord" :title="detail.name" ><span  id="teachingInfoTitWord">{{Ellipsis('teachingInfoTitWord',2,detail.name,35)}}</span>
            <span class="icon8" v-if="detail.type=='2-7'||detail.type=='2-3'"><img src="../../assets/img/video.png" alt=""></span>
          </div>
          <!--<span class="video"><img src="../../assets/img/video.png" alt=""></span>-->

          <span class="icon8" v-if="detail.type=='2-8'"><img src="../../assets/img/icon8.png" alt=""></span>
        </div>
        <div class="teachingInfoBookOther">
          <ul>
            <li><span>资源大小：</span>{{detail.fileSize || '--'}}</li>
            <li><span>上传日期：</span>{{detail.uploadTime ? filterTime(detail.uploadTime) : '--'}}</li>
            <li><span>下载次数：</span>{{detail.downloadCount || '--'}}</li>
            <li><span>载体类型：</span>
              <h3>{{detail.typeZh || '--'}}</h3></li>
            <li><span>资源分类：</span><i v-for="(valOne,inOne) in detail.diyTypeZhs" :key="inOne" v-if="detail.diyTypeZhs">{{valOne}}</i><i
              v-if="!detail.diyTypeZhs||detail.diyTypeZhs.length==0">--</i></li>
            <li v-if="bindBook.length>0"><span>关联图书：</span> <a @click="linkHref(bindBook[0])" class="teachingInfoTit2">{{bindBook[0].name || '--'}}</a>
            </li>
          </ul>
        </div>
        <div class="teachingInfoBtns">
          <ul class="teachingInfoCollection">
            <li class="teachingInfoBtns5" @click="uploadBtn(detail.fileUrl,detail)"
                v-if="detail.fileUrl&&(detail.type!='2-9'&&detail.type!='2-3')&&detail.isAllowDownload == 1">
              <a :href="uploadUrl+'download?filePath='+detail.fileUrl" target="_blank">下载</a></li>
            <li class="teachingInfoBtns1" v-if="!detail.isCollection" @click="collectionsBtn">收藏</li>
            <li class="teachingInfoBtns3" v-else @click="collectionsBtn">取消收藏</li>
            <!--<li class="teachingInfoBtns4">立即购买</li>-->
          </ul>
          <!--<ul>
            <li class="vocationInfoBtns1">申请样书</li>
            <li class="vocationInfoBtns2">评价</li>
            <li class="vocationInfoBtns3">下载配套资源</li>
            <li class="vocationInfoBtns4">立即购买</li>
          </ul>-->
        </div>
      </div>
    </div>
    <div class="teachingCont">
      <div class="teachingLf fl">
        <div class="teachingT">
          <span></span>相关资源
        </div>
        <div class="teachingC">
          <div class="teachingA" v-for="(book,index1) in relation" :key="index1">
            <div class="teachingOne" @click="linkHref(book)">
              <!--<img src="../../assets/img/shu1.png" alt="">-->
              <img :src="imgUrl(book.cover)" alt="" :onerror="teachingOne">
              <!--<img src="../../../static/img/cankaoshu.png" alt="" v-if="book.cover==null">-->
              <h1 :title="book.name">{{book.name}}</h1>
            </div>
          </div>
          <!--<div class="teachingA">
            <div class="teachingOne">
              <img src="../../assets/img/shu1.png" alt="">
              <h1>时代峰峻适得府...</h1>
            </div>
          </div>
          <div class="teachingA">
            <div class="teachingOne">
              <img src="../../assets/img/shu1.png" alt="">
              <h1>时代峰峻适得府...</h1>
            </div>
          </div>
          <div class="teachingA">
            <div class="teachingOne">
              <img src="../../assets/img/shu1.png" alt="">
              <h1>时代峰峻适得府...</h1>
            </div>
          </div>-->
        </div>
      </div>
      <div class="teachingRt fr">
        <div class="teachingT">
          <ul>
            <li :class="curTit==index?'teachingTHover':''" v-for="(item,index) in titList" :key="index"
                @click="clickTit(index)" v-if="index==0?detail.fileUrl:true">{{item}}
            </li>
          </ul>
        </div>
        <div class="teachingAll">
          <!--内容详情-->

          <div class="teachingVo" v-if="curTit==(detail.fileName?1:null)">
            <div v-if="fileType=='视频'">
              <!--视频-->
              <div class="teachingVoC" v-if="detail.type!='2-4'">
                <video :src="imgUrl(detail.type=='2-2'?detail.otherFileUrl:detail.fileUrl)" controls></video>
                <!--otherFileUrl-->
              </div>
              <!--音频-->
              <div class="teachingMusic"
                   :style="{backgroundImage: 'url(' + audioBg(detail.fileUrl) + ')', backgroundSize:detail.fileUrl?'100%':'cover'}"
                   v-if="detail.type=='2-4'">
                <audio :src="imgUrl(detail.fileUrl)" controls></audio>
              </div>
              <h1>{{detail.type == '2-2' ? detail.otherFileName : detail.fileName}}</h1>
            </div>
            <!--图片-->
            <div v-if="fileType=='图片'" class="imgCont">
              <div class="imgItem" @mouseover="curImgid=true" @mouseleave="curImgid=false">
                <!-- v-for="imgOne in bindData[typeIn]" :key="imgOne.id" -->
                <img class="imgImg" :src="imgUrl(detail.fileUrl)" alt="" :onerror="errorImg(detail)"
                     v-if="detail.fileUrl">
                <div class="onmose" v-if="curImgid">
                  <h2 :title="detail.name">{{detail.fileName}}</h2>
                  <h2>文件大小：{{detail.fileSize}}</h2>
                  <ul class="ImgOther">
                    <li>{{filterTime(detail.uploadTime)}}</li>
                    <li>下载次数：{{detail.downloadCount}}</li>
                  </ul>
                </div>
              </div>
            </div>
            <!--pdf-->
            <div class="chapterRead" v-if="fileType=='PDF'">
              <div class="chapterReadTit" v-if="detail">{{detail.fileName}}</div>

              <div class="chapterReadCont" v-if="detail">

                <pdf
                  v-for="i in numPages"
                  :key="i"
                  :page="i"
                  :src="pdfUrl" style="width: 100%; height: auto;" @num-pages="pageCount=$event">
                </pdf>

              </div>

            </div>
            <!--文本 网页课件-->
            <div class="text" v-if="fileType=='FILE'">
              <ul>
                <li>
                  <div class="textImg">
                    <img :src="filterTextImg(detail)" alt="" :onerror="errorImg(detail,true)">
                  </div>
                  <div class="textTit" :title="detail.fileName">{{detail.fileName}}</div>
                  <h2>文件大小：{{detail.fileSize}}</h2>
                  <div class="textOther">
                    <span>{{filterTime(detail.uploadTime)}}</span>
                    <span>下载次数：{{detail.downloadCount}}</span>
                  </div>
                </li>

              </ul>
            </div>
          </div>
          <!--内容简介-->
          <div class="teachingIn" v-if="curTit==0">
            <div class="teachingInTit" v-if="detail.content"><span></span>内容简介</div>
            <p v-html="detail.content" v-if="detail.content"></p>
            <div class="nohave" v-if="!detail.content||detail.content==''">
              <img src="../../../static/img/noHave.jpg" alt="">
            </div>

          </div>
          <!--关联图书 v-if="bindBook.length>0"-->
          <div class="teachingRe" v-if="curTit==(detail.fileName?2:null)">
            <div v-if="bindBook.length>0">
              <div class="loadingCss" v-if="isLoading">
                <img src="../../../static/img/loading.gif" alt="">
              </div>
              <ul v-if="bindBook.length>0&&!isLoading">
                <li v-for="item in bindBook" :key="item.id" @click="linkHref(item)">
                  <div class="listImg">
                    <div class="listTextHover">
                      <img :src="imgUrl(item.cover)" alt="" :onerror="errorImg(item)">
                      <!--<img src="../../../static/img/imgWidth.png" alt="" v-if="item.cover==null">-->
                    </div>
                    <h1 v-if="item.publishTime">{{filterTime(item.publishTime)}} 出版</h1>
                  </div>
                  <div class="listTitle">
                    <h1><a :title="item.name">{{item.name}}</a></h1>
                    <p :title="item.author">作者: {{item.author}}</p>
                    <p :title="item.isbn">ISBN: {{item.isbn}}</p>
                    <p :title="item.publisher">出版社: {{item.publisher}}</p>
                    <div class="listTitleLast"><span>￥{{filterPrice(item.price)}}</span></div>
                  </div>
                </li>
              </ul>
              <div class="nohaveCss" v-if="bindBook.length==0&&!isLoading"><img src="../../../static/img/noHave.jpg"
                                                                                alt=""></div>
            </div>

            <div class="nohave" v-if="bindBook.length==0">
              <img src="../../../static/img/noHave.jpg" alt="">
            </div>
          </div>


        </div>
      </div>
    </div>

  </div>
</template>

<script>
  import {
    getEleAPI,
    getRelationAPI,
    getbindingAPI,
    collectionsAPI,
    cancelCollectionsAPI,
    isBindAPI,
    saveBatchAPI,
    addHitAPI,
    uploadFile,
    addDownloadAPI
  } from "@/api/resources.js";
  import {uploadUrl} from '@/utils/global.js';
  import Cookies from 'js-cookie';
  import qs from 'qs';
  import pdf from 'vue-pdf'
  import audioBgimg from '../../../static/img/audioD.jpg';
  /*import video2 from '../../../static/img/video2.png';*/
  export default {
    name: 'HelloWorld',
    data() {
      return {
        titList: ['内容简介', '内容详情', '关联图书'],
        curTit: 0,
        id: null,
        detail: {
          cover: '',
          name:'',
        },
        relation: [],
        bindBook: [],
        isLoading: true,
        uploadUrl: uploadUrl,
        audioBgimg: audioBgimg,
        video2: 'this.src="' + require('../../../static/img/video2.png') + '"',
        teachingOne: 'this.src="' + require('../../../static/img/cankaoshu.png') + '"',
        errorGoodsImg: 'this.src="' + require('../../../static/img/imgHeight.png') + '"',
        isDownload: false,
        fileType: null,
        curImgid: false,
        currentPage: 0,
        pageCount: 0,
        pdfUrl: '',
        src: '', // pdf文件地址
        numPages: 0,
      }
    },
    created() {
      this.id = this.$route.query.id;
      this.getDetails();
    },
    components: {
      pdf
    },
    mounted() {
      addHitAPI(this.id).then(res => {
      })

      /*this.src = pdf.createLoadingTask('http://192.168.2.230:8296/file//2019/09/18/68f4c46ba12043beb28da2174d325303.pdf');*/

    },
    watch: {
      $route() {
        this.id = this.$route.query.id;
        this.getDetails();
      },
    },
    methods: {
      async loadPdfHandler () {
        //src为你服务器上存放pdf的路径
        this.pdfUrl = pdf.createLoadingTask(process.env.BASE_API + this.detail.fileUrl);
        this.pdfUrl.then(pdf => {
          this.numPages = pdf.numPages
        })
      },



      /*保存历史记录*/
      saveBatch() {
        if (Cookies.get('Y-Token')) {
          let ary = [];
          ary = [{
            goodsId: this.id,
            goodsType: this.detail.type
          }];
          saveBatchAPI(ary).then(res => {
            if (res.data.status) {

            }
          })
        }

      },
      /*切换*/
      clickTit(index) {
        this.curTit = index;
        if(index == 1){
          this.loadPdfHandler();
        }
      },
      /*获取详情*/
      getDetails() {

        let obj = [];
        obj.push(this.id)
        getEleAPI({
          oids: obj,
          pageNum: 1,
          pageSize: 1,
        }).then(res => {
          if (res.data.status) {
            this.detail = res.data.data[0];
            /*titList*/
            /*if(this.detail.type=='2-8'||this.detail.type=='2-5'){
              this.titList.splice(1,1)
            }else{
              this.detail.type=='2-4'?this.titList[0]='音频':this.detail.type=='2-9'?this.titList[0]='动画':true;
            }*/

            if (this.detail.fileUrl) {
              this.curTit = 0;
              let typeString = (this.detail.fileUrl.substring(this.detail.fileUrl.length - 4)).toLocaleUpperCase();
              /*fileType*/
              /*if(this.detail.type=='2-2'){
                this.fileType='视频';
              }*/
              if (typeString.indexOf('JPG') >= 0 || typeString.indexOf('JPEG') >= 0 || typeString.indexOf('PNG') >= 0) {//图片
                this.fileType = '图片';
              } else if (typeString.indexOf('MP4') >= 0 || typeString.indexOf('MP3') >= 0) {//视频
                this.fileType = '视频';
              } else if (typeString.indexOf('PDF') >= 0) {//PDF
                this.fileType = 'PDF';
                this.loadPdfHandler();
              } else {//WORD
                this.fileType = 'FILE';
              }

            } else {
              this.curTit = 1;
            }
            this.getRelation();
            this.getbinding();
            this.saveBatch();


          }
        })

      },
      /*相关资源*/
      getRelation() {
        getRelationAPI({
          resourceId: this.id,
          type: this.detail.type,
        }).then(res => {
          if (res.data.status) {
            this.relation = res.data.data;
          }
        })
      },
      /*关联图书*/
      getbinding() {

        getbindingAPI({
          resourceId: this.id,
        }).then(res => {

          if (res.data.status) {
            this.isLoading = false;
            if (res.data.data.length > 0) {
              this.bindBook = res.data.data;
            } else {
              this.bindBook = [];

              if (this.detail.type == '2-8' || this.detail.type == '2-5') {
                this.titList.splice(1, 1)
              } else {
                this.titList.splice(2, 1)
              }
            }


          }
        })
      },


      /*收藏*/
      collectionsBtn() {
        if (Cookies.get('Y-Token')) {//登录
          let obj = null, ary = [];
          obj = {
            goodsId: this.id,
            goodsType: this.detail.type
          };
          ary.push(obj);
          if (this.detail.isCollection) {
            cancelCollectionsAPI(this.id).then(res => {
              if (res.data.status) {
                this.detail.isCollection = false;
                this.msg('已取消收藏');
              }

            })
          } else {
            collectionsAPI(ary).then(res => {
              if (res.data.status) {
                this.detail.isCollection = true;
                this.msg('已加入收藏');
              }

            })
          }

        } else {
          this.$router.push('/login')

        }

      },
      /*下载按钮*/
      uploadBtn(link, item) {
        this.isDownload = false;
        if (link) {
          uploadFile(link).then(res => {
            /*window.open(this.uploadUrl+'download?filePath='+link);
            item?item.downloadCount++:true;*/
            addDownloadAPI(item.id).then(res => {
              if (res.data.status) {
                this.isDownload = true;
                item ? item.downloadCount++ : true;
              } else {
                this.msg('下载失败')
              }

            })
          })

        }

      },
      /*跳转详情*/
      /*相关资源跳转详情*/
      linkHref(item) {
        if (item.type.indexOf('2-') >= 0) {//电子
          this.$router.push({path: '/resources/teaching', query: {id: item.id}});
        } else {
          isBindAPI({oid: item.id}).then(res => {
            if (res.data.status) {
              if (res.data.data) {//绑定资源
                this.$router.push({path: '/resources/info', query: {id: item.id}});
              } else {//没有绑定
                this.$router.push({path: '/resources/vocation', query: {id: item.id}});
              }

            }
          })

        }

      },
      /*音频图片*/
      audioBg(item) {
        return item ? this.imgUrl(item) : audioBgimg;
        /*?curpptVideo.cover:'../../../static/img/audioD.jpg'*/
      },
      // 改变PDF页码,val传过来区分上一页下一页的值,0上一页,1下一页
      changePdfPage(val) {
        if (val === 0 && this.currentPage > 1) {
          this.currentPage--
        }
        if (val === 1 && this.currentPage < this.pageCount) {
          this.currentPage++
        }
      },

      // pdf加载时
      /*loadPdfHandler (e) {
        this.currentPage = 1 // 加载的时候先加载第一页
      },*/


    },
  }
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped lang="less">
  .chapterReadCont embed {
    /*-webkit-transform: translate(30px, -50px);
    transform: translate(30px, -50px);*/
    width: 100%;
    height: 100%;

  }

  .teaching {
    width: auto;
    margin: 0 auto;
    overflow: hidden;
    background: #f4f5f9;
    ul, li {
      list-style: none;
      padding: 0;
      margin: 0;
    }
    .teachingInfo {
      width: 1200px;
      height: 420px;
      background: rgba(255, 255, 255, 1);
      box-shadow: 0px 1px 8px 0px rgba(197, 197, 197, 0.3);
      margin: 0 auto 20px;
      display: flex;
      justify-content: space-between;

      /*.teachingInfoQTit {
        width: 80px;
        float: left;
        text-align-last: justify;
      }*/
      /*.teachingInfoTit2 {
        width: 54px;
        float: left;
        text-align-last: justify;
      }*/
      .teachingInfoTit2 {
        a {
          cursor: pointer;
        }
      }

      .teachingInfoLf {
        width: 292px;
        margin: 41px 0 0 34px;
        .teachingInfoImg {
          width: 420px;
          height: 330px;
          background: rgba(255, 255, 255, 1);
          border: 1px solid rgba(240, 240, 240, 1);
          display: flex;
          align-items: center;
          justify-content: center;
          img {
            max-width: 252px;
            max-height: 176px;
            /*background: rgba(51, 51, 51, 1);*/
            box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.1);
          }
        }
        .teachingInfoCollection {
          margin-top: 15px;
          font-size: 12px;
          font-weight: 400;
          color: rgba(168, 165, 161, 1);
          line-height: 20px;
          span {
            img {
              width: 12px;
              height: 12px;
              margin-top: 4px;
              margin-right: 5px;
              float: left;
              display: block
            }
          }
        }
      }
      .teachingInfoRt {
        width: 650px;
        margin-right: 41px;
        margin-top: 70px;
        .teachingInfoTit {
          height: 47px;
          font-size: 24px;
          font-weight: 400;
          color: rgba(51, 51, 51, 1);
          line-height: 26px;

          .teachingInfoTitWord{
            /*height:70px;*/
            max-width: 605px;
            word-wrap:break-word;
            /*overflow: hidden;
            text-overflow: ellipsis;
            display:-webkit-box;
            -webkit-line-clamp:2;*/
            /* !autoprefixer: off */
            /*-webkit-box-orient: vertical;*/
            /* !autoprefixer: on */
            line-height:35px;
            // float: left;
            // display: block;
            cursor: auto;
            }

          .video {
            width: 21px;
            height: 17px;
            padding-left: 8px;

            img {
              width: 21px;
              height: 17px;
            }
          }
          .icon8 {
            width: 21px;
            height: 17px;
            padding-left: 8px;
            img {
              max-width: 21px;
              max-height: 17px;
            }
          }
        }
        /*.teachingInfoAuthor {
          width: 100%;
          display: block;
          height: 25px;
          ul {
            li {
              float: left;
              display: block;
              padding-right: 40px;
              font-size: 14px;
              font-family: MicrosoftYaHei;
              font-weight: 400;
              color: rgba(102, 102, 102, 1);
              line-height: 14px;
              span {
                color: #3279FF
              }
            }
          }

        }*/
        /*        .teachingInfoPic {
                  width: 604px;
                  height: 52px;
                  background: rgba(249, 250, 255, 1);
                  font-size: 14px;
                  font-family: MicrosoftYaHei;
                  padding-left: 12px;
                  font-weight: 400;
                  color: rgba(102, 102, 102, 1);
                  margin-left: -12px;
                  .vocationInfoPicTit {
                    float: left;
                    display: block;
                    margin-top: 16px;
                    line-height: 24px;
                    height: 24px;
                  }
                  span {
                    line-height: 52px;
                    font-size: 24px;
                    color: rgba(244, 59, 55, 1);
                    i {
                      font-size: 16px;
                      font-family: MicrosoftYaHei;
                      font-weight: 400;
                      color: rgba(244, 59, 55, 1);
                      line-height: 24px;
                    }

                  }
                }*/
        .teachingInfoBookOther {
          width: 100%;
          display: block;
          height: 157px;
          overflow: hidden;
          padding-bottom: 30px;
          padding-top: 32px;
          ul {
            li {
              width: 280px;
              float: left;
              display: block;
              line-height: 30px;
              color: #666666;
              font-size: 14px;
              span {
                width: 72px;
                float: left;
                display: block;
              }
              h3 {
                color: #3279FF;
                font-weight: normal;
                line-height: 30px;
                height: 30px;
                display: inline-block;
                margin: 0;
                padding: 0;
                font-size: 14px;
              }
              i {
                color: #FF871C;
              }
            }
          }
        }
        .teachingInfoBtns {
          width: 100%;
          height: auto;
          overflow: hidden;
          ul {
            li {
              float: left;
              display: block;
              width: 128px;
              height: 36px;
              line-height: 36px;
              text-align: center;
              margin-right: 15px;
              font-size: 16px;
              font-weight: 400;
              cursor: pointer;
            }
            .teachingInfoBtns1 {
              width: 110px;
              border: 1px solid rgba(185, 208, 253, 1);
              border-radius: 19px;
              color: #3279FF;
              padding-left: 18px;
              background: url("../../assets/img/nocoll.png") no-repeat;
              background-position: 32px center;
            }
            .teachingInfoBtns1:hover {
              width: 110px;
              color: #fff;
              border-radius: 19px;
              border: 1px solid #3279FF;
              background: url("../../assets/img/star.png") no-repeat #3279FF;
              background-position: 30px center;
              padding-left: 18px;
            }
            .teachingInfoBtns3 {
              border: 1px solid rgba(185, 208, 253, 1);
              border-radius: 19px;
              color: #3279FF;
            }
            .teachingInfoBtns3:hover {
              background: #3279FF;
              color: #fff;
            }
            /*.teachingInfoBtns4 {
              background: rgba(253, 239, 221, 1);
              border: 1px solid rgba(248, 175, 89, 1);
              border-radius: 19px;
              color: rgba(237, 103, 4, 1);
            }*/
            .teachingInfoBtns5 {
              width: 130px;
              height: 38px;
              background: rgba(50, 121, 255, 1);
              border-radius: 18px;
              color: #fff;
              a {
                width: 130px;
                height: 38px;
                display: block;
                border-radius: 18px;
                color: #fff;
                cursor: pointer;
              }

            }
          }
        }
      }

    }
    .teachingCont {
      width: 1210px;
      height: auto;
      overflow: hidden;
      margin: 0 auto 30px;
      .teachingRt {
        width: 880px;
        min-height: 610px;
        background: #fff;
        box-shadow: 0px 2px 19px 0px rgba(197, 197, 197, 0.29);
        margin: 5px;
        padding: 0 25px;
        .teachingT {
          height: 54px;
          line-height: 54px;
          font-size: 16px;

          border-bottom: 1px solid #F0F0F0;
          ul {
            li {
              float: left;
              display: block;
              padding: 0 5px;
              margin-right: 25px;
              cursor: pointer;
            }
            .teachingTHover {
              padding-top: 1px;
              line-height: 52px;
              color: rgba(50, 121, 255, 1);
              font-weight: bold;
              border-bottom: 2px solid #3279FF;
            }
          }

        }
        .teachingAll {
          .teachingVo {
            width: 100%;
            height: auto;
            margin: 25px auto 0px;
            .teachingVoC {
              width: 820px;
              height: 440px;
              video {
                width: 820px;
                height: 440px;
              }
              // audio {
              //   width: 820px;
              //   height: 80px;
              // }

            }
            .teachingMusic{
              width: 820px;
              height: 80px;
              audio {
                width: 820px;
                height: 80px;
              }
            }
            h1 {
              font-size: 18px;
              font-weight: 400;
              color: rgba(51, 51, 51, 1);
              line-height: 26px;
              padding-top: 27px;
            }
            /*图片*/
            .imgCont {
              /*display: flex;
              justify-content: space-between;*/
              margin-top: 19px;
              display: block;
              padding-bottom: 20px;
              overflow: hidden;
              .imgItem {
                float: left;
                display: block;
                margin-left: 5px;
                margin-top: 5px;
                width: 360px;
                height: 268px;
                /*background:rgba(227,238,253,1);*/
                /*border:10px solid rgba(255,255,255,1);*/
                box-shadow: 0px 2px 8px 0px rgba(170, 170, 170, 0.49);
                position: relative;
                display: flex;
                justify-content: center;
                align-items: center;
                .imgImg {
                  width: 340px;
                  height: 248px;
                }
                .onmose {
                  position: absolute;
                  left: 0;
                  top: 0;
                  width: 240px;
                  height: 178px;
                  background: rgba(0, 0, 0, 0.6);
                  padding: 90px 60px 0 60px;
                  color: #fff;
                  font-size: 14px;

                  h2 {
                    font-size: 16px;
                    height: 42px;
                    cursor: pointer;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    white-space: nowrap;
                    font-weight: normal;
                    /*cursor: auto;*/
                  }
                  .ImgOther {
                    display: flex;
                    justify-content: space-between;
                    height: 40px;
                  }
                  .imgBtns {
                    display: flex;
                    justify-content: space-between;
                    li {
                      float: left;
                      height: 35px;
                      width: 100px;
                      border-radius: 18px;
                      text-align: center;
                      line-height: 35px;
                    }
                    .ImgLoad {
                      font-size: 16px;
                      color: #3279FF;
                      background: #fff;
                      cursor: pointer;
                    }
                    .ImgnoColl {
                      background: url("../../assets/img/writeStar.png") no-repeat;
                      background-position: 20px center;
                      padding-left: 10px;
                      border: 1px solid #fff;
                      height: 33px;
                      line-height: 33px;
                      width: 88px;
                    }
                    .ImgnoColl:hover {
                      .ImgColl
                    }
                    .ImgColl {
                      background: url("../../assets/img/blueStar.png") no-repeat #fff;
                      background-position: 20px center;
                      padding-left: 10px;
                      border: 1px solid #fff;
                      height: 33px;
                      line-height: 33px;
                      width: 90px;
                      color: #3279FF;
                      cursor: pointer;
                    }
                    .ImgcancelColl {
                      width: 98px;
                      height: 33px;
                      text-align: center;
                      line-height: 33px;
                      color: #fff;
                      border: 1px solid #fff;
                      cursor: pointer;
                    }
                    .ImgcancelColl:hover {
                      width: 98px;
                      background: #fff;
                      border: 1px solid #fff;
                      height: 33px;
                      line-height: 33px;
                      color: #3279FF;
                      cursor: pointer;
                    }
                  }
                }
              }
            }
            /*PDF*/
            .chapterRead {
              width: 100%;
              margin: 0 auto;
              padding-bottom: 60px;
              .chapterReadTit {
                height: auto;
                font-size: 20px;
                font-family: "Microsoft Yahei", "simsun", "arial", "tahoma";
                font-weight: bold;
                color: rgba(51, 51, 51, 1);
                line-height: 30px;
                padding-top: 60px;
                padding-bottom: 15px;
                text-align: center;
                line-height: 30px;
                overflow: hidden;
              }
              .chapterReadCont {
                height: 600px;
                font-size: 14px;
                font-family: "Microsoft Yahei", "simsun", "arial", "tahoma";
                font-weight: 400;
                color: rgba(51, 51, 51, 1);
                line-height: 36px;
                overflow-y: scroll;
                overflow-x: hidden;
                p {
                  text-indent: 2em;
                }

              }
              .chapterReadShow {
                color: #F46D38;
                font-size: 16px;
                font-family: "Microsoft Yahei", "simsun", "arial", "tahoma";
                font-weight: bold;
                line-height: 48px;
                text-align: center;
                padding-top: 30px;
                padding-bottom: 110px;
                span {
                  color: #555;
                }

              }
            }
            /*文本*/
            .text {
              width: 930px;
              margin: 39px auto 0;
              min-height: 400px;
              overflow: hidden;
              padding-bottom: 100px;
              .itemhover {
                box-shadow: 0px 2px 8px 0px rgba(1, 2, 2, 0.1);
                .listTextHover {
                  width: 150px;
                  height: 200px;
                  overflow: hidden;
                  box-shadow: 0px 2px 8px 0px rgba(170, 170, 170, 0.49);
                  display: flex;
                  justify-content: center;
                  align-items: center;
                  img {
                    max-width: 150px;
                    max-height: 200px;
                  }
                }
                .listTitle h1 {
                  font-size: 16px;
                  font-weight: 400;
                  color: #3279FF;
                }
              }
              ul {
                li {
                  width: 230px;
                  height: 400px;
                  float: left;
                  display: block;
                  overflow: hidden;
                  padding: 35px 25px 0;
                  margin: 5px 3px 9px 3px;
                  .textImg {
                    width: 230px;
                    height: 170px;
                    background: rgba(227, 238, 253, 1);
                    box-shadow: 0px 2px 8px 0px rgba(170, 170, 170, 0.49);
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    img {
                      width: 120px;
                      height: 89px;
                    }
                  }
                  .textTit {
                    font-size: 16px;
                    width: 100%;
                    color: #3279FF;
                    height: 42px;
                    padding-top: 24px;
                    text-overflow: ellipsis;
                    overflow: hidden;
                    white-space: nowrap;
                    cursor: pointer;
                  }
                  h2 {
                    color: #666666;
                    font-size: 14px;
                    padding-bottom: 10px;
                    font-weight: normal;
                  }
                  .textOther {
                    display: flex;
                    justify-content: space-between;
                    font-size: 14px;
                    color: #999999;
                    padding-bottom: 20px;
                  }
                  .textBtn {
                    width: 100%;
                    display: flex;
                    justify-content: space-between;
                    div {
                      float: left;
                      height: 35px;
                      width: 100px;
                      border-radius: 18px;
                      text-align: center;
                      line-height: 35px;
                      cursor: pointer;
                    }
                    .TextLoad {
                      width: 98px;
                      height: 33px;
                      line-height: 33px;
                      font-size: 16px;
                      color: #3279FF;
                      background: #fff;
                      border: 1px solid #3279FF;
                    }
                    .TextLoad:hover {
                      font-size: 16px;
                      color: #fff;
                      background: #3279FF;
                    }
                    .TextnoColl {
                      background: url("../../assets/img/nocoll.png") no-repeat #fff;
                      border: 1px solid #3279FF;
                      background-position: 20px center;
                      color: #3279FF;
                      padding-left: 10px;
                      height: 33px;
                      line-height: 33px;
                      width: 88px;
                    }
                    .TextnoColl:hover {
                      background: url("../../assets/img/writeStar.png") no-repeat #3279FF;
                      border: 1px solid #3279FF;
                      background-position: 20px center;
                      color: #fff;
                      padding-left: 10px;
                      height: 33px;
                      line-height: 33px;
                      width: 88px;
                    }
                    .TextcancelColl {
                      width: 98px;
                      height: 33px;
                      text-align: center;
                      line-height: 33px;
                      color: #3279FF;
                      border: 1px solid #3279FF;
                    }
                    .TextcancelColl:hover {
                      width: 98px;
                      height: 33px;
                      text-align: center;
                      line-height: 33px;
                      color: #fff;
                      background: #3279FF;
                      border: 1px solid #3279FF;
                    }
                  }

                }
                li:hover {
                  .itemhover
                }
              }
            }

          }
          .teachingIn {
            padding-bottom: 30px;
            .teachingInTit {
              font-size: 18px;
              font-weight: 400;
              color: rgba(51, 51, 51, 1);
              line-height: 24px;
              padding-left: 25px;
              padding-top: 35px;
              height: 40px;
              span {
                width: 4px;
                height: 16px;
                background: rgba(50, 121, 255, 1);
                float: left;
                display: block;
                margin-top: 5px;
                margin-right: 8px;
              }
            }
            .nohave {
              width: 100%;
              text-align: center;
            }
            p {
              width: 832px;
              height: auto;
              font-size: 14px;
              font-weight: 400;
              color: rgba(85, 85, 85, 1);
              line-height: 30px;
              margin-left: 38px;
            }

          }
          /*关联图书*/
          .teachingRe {
            .itemhover {

              box-shadow: 0px 2px 8px 0px rgba(1, 2, 2, 0.1);
              .listTextHover {
                width: 150px;
                height: 200px;
                overflow: hidden;
                box-shadow: 0px 2px 8px 0px rgba(170, 170, 170, 0.49);
                background: #efefef;
                display: flex;
                justify-content: center;
                align-items: center;
                margin-top: -8px;
                margin-bottom: -2px;
                img {
                  max-width: 150px;
                  max-height: 200px;
                }
              }
              a {
                color: #3279FF;
              }
            }
            ul {
              overflow: hidden;
              margin: 29px 0px;
              li {
                width: 220px;
                height: 405px;
                float: left;
                display: block;
                padding: 35px 33px 0;
                margin: 3px 3px 9px 3px;
                cursor: pointer;
                .listImg {
                  width: 150px;
                  height: 200px;
                  left: 35px;
                  position: relative;
                  background: #efefef;
                  display: flex;
                  justify-content: center;
                  align-items: center;
                  .listTextHover {
                    width: 150px;
                    height: 200px;
                    overflow: hidden;
                    box-shadow: 0px 2px 8px 0px rgba(170, 170, 170, 0.49);
                    background: #efefef;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    margin-top: -8px;
                    margin-bottom: -2px;
                    img {
                      max-width: 150px;
                      max-height: 200px;
                    }
                  }
                  .listText {
                    width: 150px;
                    height: 200px;
                    overflow: hidden;
                    background: rgba(227, 238, 253, 1);
                    display: flex;
                    justify-content: center;
                    align-items: center;

                  }

                  h1 {
                    position: absolute;
                    right: 0;
                    bottom: 0;
                    width: 150px;
                    height: 25px;
                    background: rgba(0, 0, 0, 1);
                    opacity: 0.7;
                    font-size: 14px;
                    font-weight: 400;
                    color: rgba(255, 255, 255, 1);
                    line-height: 26px;
                    text-align: center;
                  }
                }
                .listTitle {
                  h1 {
                    margin-top: 20px;
                    height: 40px;
                    font-size: 16px;
                    font-weight: 400;
                    color: rgba(51, 51, 51, 1);
                    line-height: 30px;
                    text-overflow: ellipsis;
                    overflow: hidden;
                    white-space: nowrap;
                  }
                  p {
                    font-size: 14px;
                    font-weight: 400;
                    color: rgba(102, 102, 102, 1);
                    line-height: 28px;
                    text-overflow: ellipsis;
                    overflow: hidden;
                    white-space: nowrap;
                  }
                  .listTitleLast {
                    padding-top: 10px;
                    width: 100%;
                    color: #F44D4A;
                    line-height: 26px;
                  }
                }
              }
              li:hover {
                .itemhover
              }

            }
            .nohave {
              width: 100%;
              text-align: center;
            }
          }
        }
      }
      .teachingC {
        .teachingA {
          width: 210px;
          border-bottom: 1px solid #F0F0F0;
          margin: 17px auto 0;
          padding-bottom: 22px;
          .teachingOne {
            margin: 0 auto;
            width: 170px;
            height: 211px;
            background: rgba(246, 246, 246, 1);
            position: relative;
            display: flex;
            justify-content: center;
            align-items: center;
            img {
              width: 124px;
              height: 166px;
            }
            h1 {
              position: absolute;
              bottom: 0;
              left: 0;
              width: 156px;
              height: 30px;
              line-height: 30px;
              padding: 0 7px;
              background: rgba(51, 51, 51, 1);
              opacity: 0.5;
              font-size: 14px;
              font-weight: 400;
              color: rgba(255, 255, 255, 1);
              text-align: center;
              overflow: hidden;
              text-overflow: ellipsis;
              white-space: nowrap;
              cursor: pointer;

            }

          }
        }

        .teachingTwo {
          width: 210px;
          margin: 0 auto;
          height: 42px;
          line-height: 42px;
          font-size: 14px;
          font-weight: 400;
          color: rgba(51, 51, 51, 1);
          border-bottom: 1px solid #F0F0F0;
          span {
            width: 5px;
            height: 5px;
            background: rgba(50, 121, 255, 1);
            border-radius: 50%;
            float: left;
            display: block;
            margin-right: 6px;
            margin-top: 18px;
            margin-left: 11px;
          }

        }
        .teachingTwo:last-child {
          border-bottom: none;
        }

      }
      .teachingLf {
        width: 250px;
        height: auto;
        background: #fff;
        box-shadow: 0px 2px 19px 0px rgba(197, 197, 197, 0.29);
        margin: 5px;
        padding-bottom: 50px;
        .teachingT {
          height: 54px;
          line-height: 54px;
          font-size: 16px;
          font-weight: bold;
          color: rgba(50, 121, 255, 1);
          border-bottom: 1px solid #F0F0F0;
          span {
            width: 3px;
            height: 16px;
            float: left;
            display: block;
            margin-top: 19px;
            margin-left: 20px;
            margin-right: 10px;
            background: rgba(50, 121, 255, 1);
            border-radius: 2px;
          }

        }

      }

    }

  }
</style>
