<template>

  <div id="app1"><!-- :class="{'on':isVisibleFirst}"-->

    <!--    <div class="select-box" @click="showFirstLayer">
          <div class="curr" :class="{'on':isVisibleFirst}"><span v-if="selectionBoxDisplay">请选择</span><span v-else>{{theString}}</span><span class="arrow"></span></div>
          <div class="list-box clearfix" v-if="isVisibleFirst">
            <div class="list">
              <div class="item" v-for="(theitem,index) in list" @click="givenValueOfCurr(index)" :class="{'active':index==curr}">{{theitem.name}}

              </div>

            </div>
            <div class="list" v-if="isVisibleSecond">

              <div class="item" v-for="(theSeItem,index1) in list[curr].children" @click="clickingSecondLayer(index1)" :class="{'active':index1==currSec}">
                {{theSeItem.name}}</div>


            </div>
            <div class="icon"></div>
          </div>
        </div>-->
    <!--{{getdata("overflowhidden",3,data)}}-->

    <p ref="word" :id="'overflowhidden'+index" v-for="(item,index) in data">{{subWord('overflowhidden'+index, index+1, item)}}
      <!--S处理的基本思路是获取到文本中设置的line-height属性。在获取到相关属性后，根据传入的显示行数来计算整个文本的高度。A package is a combination of metadata, configuration, and software that is prepared in a way that a package management program (for example: apt on Ubuntu, yum on Redhat Enterprise Linux, pip for Python packages and gem for RubyGems) can use to properly and reliably install software and related configuration data on a computer.-->
    </p>


  </div>
</template>

<script>
  export default {
    name: 'HelloWorld',
    data() {
      return {
        data: null,
        list: [{
          name: '粤菜',
          children: [{
            name: '清蒸桂花鱼'
          }, {
            name: '梅菜扣肉'
          }]
        }, {
          name: '湘菜',
          children: [{
            name: '小炒肉'
          }, {
            name: '剁椒鱼头'
          }, {
            name: '水煮鱼'
          }]
        }, {
          name: '甜品',
          children: [{
            name: '西米露'
          }, {
            name: '双皮奶'
          }, {
            name: '凉粉'
          }]
        }],
        curr: -1,
        currSec: -1,

        firstTimeClick: 0,

        isVisibleFirst: false,

        isVisibleSecond: false,

        theString: "",

        selectionBoxDisplay: true,
      }

    },
    created() {

    },
    mounted() {

      let self = this;
      setTimeout(function () {
        self.data = ['S处理的基本思路是获取到文本中设置的line-height属性。在获取到相关属性后，根据传入的显示行数来计算整个文本的高度。A package is a combination of metadata, configuration, and software that is prepared in a way that a package management program (for example: apt on Ubuntu, yum on Redhat Enterprise Linux, pip for Python packages and gem for RubyGems) can use to properly and reliably install software and related configuration data on a computer.', 'h处理的基本思路是获取到文本中设置的line-height属性。在获取到相关属性后，根据传入的显示行数来计算整个文本的高度。A package is a combination of metadata, configuration, and software that is prepared in a way that a package management program (for example: apt on Ubuntu, yum on Redhat Enterprise Linux, pip for Python packages and gem for RubyGems) can use to properly and reliably install software and related configuration data on a computer.', 'k处理的基本思路是获取到文本中设置的line-height属性。在获取到相关属性后，根据传入的显示行数来计算整个文本的高度。A package is a combination of metadata, configuration, and software that is prepared in a way that a package management program (for example: apt on Ubuntu, yum on Redhat Enterprise Linux, pip for Python packages and gem for RubyGems) can use to properly and reliably install software and related configuration data on a computer.'];
      }, 1000)
    },
    methods: {

      subWord(id, rows, str) {
        if (!str || str == '') {
          return ''
        }
        this.$nextTick(function () {
          var text = document.getElementById(id);
          var lineHeight = 24;   //获取到line-height样式设置的值 必须要有
          var at = rows * parseInt(lineHeight);      //计算包含文本的div应该有的高度
          var tempstr = str;                       //获取到所有文本
          text.innerHTML = tempstr;                //将所有文本写入html中
          var len = tempstr.length;
          var i = 0;
          if (text.offsetHeight <= at) {             //如果所有文本在写入html后文本没有溢出，那不需要做溢出处理
            /*text.innerHTML = tempstr;*/
          }
          else {                                   //否则 一个一个字符添加写入 不断判断写入后是否溢出
            var temp = "";
            text.innerHTML = temp;

            while (text.offsetHeight <= at) {

              temp = tempstr.substring(0, i + 1);
              i++;
              text.innerHTML = temp;
            }
            var slen = temp.length;
            tempstr = temp.substring(0, slen - 1);
            len = tempstr.length
            text.innerHTML = tempstr.substring(0, len - 3) + "...";     //替换string后面三个字符
            text.height = at + "px";                                  //修改文本高度 为了让CSS样式overflow：hidden生效
          }
        })


      },


      getCss(curEle, attr) {
        var val = null;
        var reg = null;
        if (/MSIE (6|7|8)/.test(navigator.userAgent)) {
          if (attr === "opacity") {
            val = curEle.currentStyle["filter"];
            //把获取到的结果剖析，获取里面的数字，让数字除以100才和标准浏览器保持一致
            reg = /^alpha\(opacity=(\d+(?:\.\d+)?)\)$/i;
            val = reg.test(val) ? reg.exec(val)[1] / 100 : 1

          } else {
            val = curEle.currentStyle[attr];
          }
        }
        /*else{
                    //如果传递进来的结果是opacity，说明我想获得的是透明度，但是在IE6-8下获取透明度需要使用filter
                    val = window.getComputedStyle(curEle,null)[attr];
                  }*/
      },


      showFirstLayer() {
        this.isVisibleFirst = true;
        this.firstTimeClick += 1;
        if (this.firstTimeClick > 1) {
          this.isVisibleSecond = true;
        }
        this.selectionBoxDisplay = false;

      },
      givenValueOfCurr(index) {
        this.curr = index;
        this.isVisibleSecond = true;
        this.currSec = -1;
        this.theString = this.list[this.curr].name + "\/";
      },
      clickingSecondLayer(index1) {
        this.isVisibleFirst = false;
        this.currSec = index1;
        this.isVisibleSecond = false;
        event.stopPropagation();
        this.theString += this.list[this.curr].children[this.currSec].name;
      }

    },
  }
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped lang="less">
  * {
    padding: 0;
    margin: 0;
  }

  * {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }

  a {
    text-decoration: none;
  }

  .clearfix:before,
  .clearfix:after {
    content: ' ';
    display: table;
  }

  .clearfix:after {
    clear: both;
  }

  input {
    outline: none;
  }

  ol,
  ul {
    list-style: none;
  }

  body {
    padding: 20px;
  }

  #app1 {
    line-height: 24px;
    p {
      margin: 40px auto;
      width: 400px;
      line-height: 24px;
      font-size: 12px;
    }
  }

  .select-box {
    position: relative;
  }

  .select-box .curr {
    width: 240px;
    padding-left: 15px;
    padding-right: 30px;
    border: 1px solid #ddd;
    border-radius: 5px;
    height: 40px;
    line-height: 40px;
    font-size: 14px;
    position: relative;
    z-index: 15;
    background-color: white;
  }

  .select-box .curr:hover {
    border-color: #aaa;
    cursor: pointer;
  }

  .arrow {
    position: absolute;
    right: 10px;
    top: 17px;
    display: block;
    width: 10px;
    height: 10px;
    border-left: 1px solid #aaa;
    border-top: 1px solid #aaa;
    transform: rotate(225deg);
    transform-origin: 2px 2px;
    transition: 200ms;
  }

  .on .arrow {
    transform: rotate(45deg);
  }

  .list-box {
    position: absolute;
    top: 30px;
    left: 0;
    border: 1px solid #ddd;
    box-shadow: 0px 0px 8px 0px #ccc;
    padding: 5px 0;
    z-index: 10;
    transition: 200ms;
  }

  .on .list-box {
    top: 50px;
  }

  .list-box .list {
    float: left;
    width: 180px;
    height: 204px;
    overflow: auto;
    border-left: 1px solid #ccc;
  }

  .list-box .list.first {
    border: none;
  }

  .list .item {
    height: 38px;
    line-height: 38px;
    padding-left: 15px;
    font-size: 14px;
    cursor: pointer;
    position: relative;
  }

  .list .item:hover {
    background-color: rgb(245, 247, 250);
  }

  .list .item.active {
    color: #409EFF;
    font-weight: bold;
  }

  .list .icon {
    position: absolute;
    top: -6px;
    left: 30px;
    width: 10px;
    height: 10px;
    border-left: 1px solid #ddd;
    border-top: 1px solid #ddd;
    z-index: 20;
    transform: rotate(45deg);
    background-color: white;
  }

  .list .arrow-icon {
    position: absolute;
    right: 10px;
    top: 17px;
    display: block;
    width: 10px;
    height: 10px;
    border-left: 1px solid #aaa;
    border-top: 1px solid #aaa;
    transform: rotate(135deg);
    transform-origin: 2px 2px;
    transition: 200ms;

  }
</style>
