<template>
  <!--职业培训详情-->
  <div class="vocation" id="hCss">
    <div class="vocationInfo">
      <div class="vocationInfoLf">
        <div class="vocationInfoImg">
          <img :src="imgUrl(detail.cover)" alt="" v-if="detail.cover"  :onerror="errorImg(detail)">
          <img src="../../../static/img/imgWidth.png" alt="" v-if="detail.cover==null">
        </div>

      </div>
      <div class="vocationInfoRt">
        <div class="vocationInfoTit"  :title="detail.name"><span id="vocationInfoTit">{{Ellipsis('vocationInfoTit',2,detail.name,35)}}</span></div>
        <div class="vocationInfoAuthor">
          <ul>
            <li>
              <div class="vocationInfoQTit">作者</div>
              ：<span :title="detail.author">{{detail.author?filterWord(detail.author,11):'--'}}</span></li>
            <li style="width: 322px;">
              <div class="vocationInfoQTit">出版社</div>
              ：<span :title="detail.publisher">{{detail.publisher?filterWord(detail.publisher,11):'--'}}</span></li>
          </ul>
        </div>
        <div class="vocationInfoPic">
          <div class="vocationInfoPicTit">
            <div class="vocationInfoQTit">定价</div>
            ：
          </div>
          <span><i>￥</i>{{detail.price?filterPrice(detail.price):'--'}}</span>
        </div>
        <div class="vocationInfoBookOther">
          <ul>
            <!--<li><span class="vocationInfoQTit">发行书代号</span>：{{detail.bookNo}}</li>-->
            <!-- <li><div class="vocationInfoQTit">装订</div>：{{detail.bindid||'--'}}</li> -->
            <li><div class="vocationInfoQTit">I S B N</div>：{{detail.isbn||'--'}}</li>
            <li><div class="vocationInfoQTit">出版时间</div>：{{detail.publishTime?filterTime(detail.publishTime):'--'}}</li>
            <li><span class="vocationInfoQTit">发行书代号</span>：{{detail.bookNo}}</li>
            <!-- <li><div class="vocationInfoTit2">开本</div>：{{detail.bookformat||'--'}}</li> -->
            <!-- <li><div class="vocationInfoQTit">字数</div>：{{detail.wordCount||'--'}}{{detail.wordCount?'千字':''}}</li> -->
          </ul>
        </div>
        <div class="vocationInfoBtns">
          <ul class="vocationInfoCollection">
            <li class="vocationInfoBtns2" @click="applyBook" v-if="detail.applyStatus==1&&$store.getters.userType != 'supervise'">申请样书</li>
            <li class="vocationInfoBtns5" v-if="flowCode&&userFlowStatus ==='0'&&recommend" @click="recommendOpen">推荐教材</li>
            <li class="vocationInfoBtns1" v-if="!detail.isCollection" @click="collectionsBtn">收藏</li>
            <li class="vocationInfoBtns3" v-if="detail.isCollection" @click="collectionsBtn">取消收藏</li>
            <li class="infoOneBtns2" @click="evaluate">评价</li>
            <!--<li class="vocationInfoBtns4" v-if="detail.buyUrl" @click="buyBtn(detail.buyUrl)">立即购买</li>-->
          </ul>
          <!--<ul>

            <li class="vocationInfoBtns2">评价</li>
            <li class="vocationInfoBtns3">下载配套资源</li>
            <li class="vocationInfoBtns4">立即购买</li>
          </ul>-->
        </div>
      </div>
    </div>
    <div class="vocationCont">
      <div class="vocationLf fl">
        <div class="vocationT">
          <span></span>浏览记录
        </div>
        <div class="vocationC" v-if="recordList&&recordList.length>0">
          <div :class="curlookBook==index?'vocationA':'vocationTwo'" v-for="(valCur,index) in recordList" :key="index" @mouseover="mouseOn(index)" v-if="index<5">
            <div class="vocationOne" @click="linkHref(valCur)" v-if="curlookBook==index">
              <img :src="filterImg(valCur)" alt="" :onerror="errorImg(valCur)">
              <!--<img src="../../../static/img/imgHeight.png" alt="" v-else>-->
              <h1>{{valCur.name}}</h1>
            </div>
            <div v-if="curlookBook!=index" class="vocationTwo">
              <span></span>{{valCur.name}}
            </div>
          </div>

        </div>
      </div>
      <div class="vocationRt fr">
        <div class="vocationT">
          相关图书
        </div>
        <div class="vocationS">
          <div class="loadingCss" v-if="isLoading">
            <img src="../../../static/img/loading.gif" alt="">
          </div>
          <ul v-if="bindBook.length>0&&!isLoading">
            <li v-for="(book,index) in bindBook" :key="index" @click="linkHref(book)">
              <div class="listImg">
                <div class="listText listTextHover">
                  <img :src="imgUrl(book.cover)" alt="" v-if="book.cover"  :onerror="errorImg(book)">
                  <img src="../../../static/img/imgHeight.png" alt="" v-if="book.cover==null">
                </div>
                <h1 v-if="book.publishTime">{{filterTime(book.publishTime)}} 出版</h1>
              </div>
              <div class="listTitle">
                <h1>
                  <a :title="book.name">{{book.name}}</a>
                </h1>
                <p :title="book.author">作者: {{book.author}}</p>
                <p :title="book.isbn">ISBN: {{book.isbn}}</p>
                <p :title="book.publisher">出版社: {{book.publisher}}</p>
                <div class="listTitleLast"><span>￥{{filterPrice(book.price)}}</span></div>
              </div>
            </li>

          </ul>
          <div class="nohaveCss" v-if="bindBook.length==0&&!isLoading"><img src="../../../static/img/noHave.jpg" alt=""></div>
        </div>
      </div>
    </div>
    <!-- 推荐 -->
    <div class="vocationEla" v-if="isShow">
      <div class="vocationECont">
        <div class="vocationECTit">
          <h1>推荐意见</h1>
          <span @click="isShow=false">×</span>
        </div>
        <div class="vocationTextA">
          <textarea name="" v-model="remark" id="" cols="30" rows="10" placeholder="请输入推荐理由，限制100个字符"></textarea>
        </div>
        <div class="vocationBtn">
          <ul>
            <li class="saveBtn" @click="submitRecom">提交</li>
              <li class="cancelBtn" @click="isShow=false">跳过</li>
          </ul>
        </div>
      </div>
    </div>

    <v-alert :alertModelOptions="alertOptions"></v-alert>
    <!--评价-->
    <div class="infoAlert" v-if="isShowR">
      <div class="infoAlertC"  v-if="isType==1">
        <div class="infoAlertT">
          <h1>评价图书</h1>
          <span @click="isShowR=false">×</span>
        </div>
        <textarea cols="30" rows="10" placeholder="请输入您要留下的评论，限制500个字符" maxlength="500" v-model="comment"
                  v-validate="{required:true,max:500}" name="commentCont"></textarea>
        <div class="errorMsg" v-if="errorBags.has('commentCont')">请填写评价内容</div>
        <div class="infoevaluateB">
          <span class="commit" @click="setComment">提交</span>
          <span class="cancel" @click="isShowR=false">取消</span>
        </div>
      </div>
      <div class="infoAlertC" v-if="isType==2||isType==3">
        <div class="infoAlertT">
          <h1>申请样书</h1>
          <span @click="isShowR=false">×</span>
        </div>
        <div class="isTypeTwo" v-if="isType==2">您的样书申请已提交，您可在
          <router-link to="/personal/book">个人中心</router-link>
          内查看样书申请进度。
        </div>
        <div class="isTypeTwo" v-if="isType==3">您的样书券不足，快去
          <router-link to="/personal/book">个人中心</router-link>
          兑换样书券吧。
        </div>
        <div class="isTypeTwoBtn">
          <span class="commit" @click="isShowR=false">关闭</span>
        </div>
      </div>
    </div>

  </div>
</template>

<script>
  import {
    getMainphyAPI,
    setCommentAPI,
    getCommentListAPI,
    cancelCollectionsAPI,
    collectionsAPI,
    getbindingAPI,
    isBindAPI,
    saveBatchAPI,
    addHitAPI,
    getRelationAPI,
    samplebooknumAPI,
    samplebookapplyAPI,
    addRecommendAPI,
    resetAddRecommendAPI,
    coverRecommendAPI,
    examineRecommendAPI
  } from '@/api/resources.js';
  import { getRecordListAPI} from '@/api/personal/record'
  import Cookies from 'js-cookie';

  export default {
    name: 'HelloWorld',
    data() {
      return {
        id: null,
        isShow: false,
        detail: {
          cover: '',
          name:'',
        },
        bindBook: [],
        isLoading:true,
        lookBook: null,
        curlookBook:0,
        recordList:[],
        isShowR:false,
        comment:'',
        alertOptions:{},
        show: false,
        isShowC: false,
        isType: null,
        remark:"",
        recommend:'',
        flowCode:'',
        flowDepth:'',
        userFlowStatus:'',
        recommendPath:{
          '4':'recommend',
          '3':'examine',
          '2':'middleExamine',
          '1':'judgment',
        }
      }
    },
    created() {
      this.id = this.$route.query.id;
      this.lookBook = Cookies.get('lookBook') ? JSON.parse(Cookies.get('lookBook')) : [];
      if (Cookies.get('lookBook')) {
        if (JSON.parse(Cookies.get('lookBook')).length > 5) {
          let aa=JSON.parse(Cookies.get('lookBook')).splice(0,5);
          /*aa.splice(0,5);*/
          this.lookBook = aa;
        } else {
          this.lookBook = JSON.parse(Cookies.get('lookBook'))
        }
      }else{
        this.lookBook=[];
      }
      this.getRecordList();
      this.getDetail();
      this.flowCode = Cookies.get('flowCode')
      this.userFlowStatus = Cookies.get('userFlowStatus')
      this.flowDepth = Cookies.get('flowDepth');
    },
    mounted(){
      addHitAPI(this.id).then(res=>{})
      if(window.localStorage.getItem('recommendInfo')){
        this.recommend = JSON.parse(window.localStorage.getItem('recommendInfo'))
        window.localStorage.removeItem('recommendInfo')
      }
    },


    watch: {
      $route() {
        this.id = this.$route.query.id;
        this.getDetail();
        this.getRecordList();
      },
    },
    methods: {
      /*保存历史记录*/
      saveBatch(){
        if (Cookies.get('Y-Token')) {
          let ary=[];
          ary=[{
            goodsId:this.id,
            goodsType:this.detail.type
          }];
          saveBatchAPI(ary).then(res=>{
            if(res.data.status){

            }
          })
        }

      },
      /*获取详情*/
      getDetail() {
        getMainphyAPI({oid: this.id}).then(res => {
          if (res.data.status) {
            this.detail = res.data.data;
            this.getbinding();
            let obj = {
              id: this.id,
              name: this.detail.name,
              cover: this.detail.cover,
              type: this.detail.type,
            };
            this.lookBook.forEach((item, index) => {
              if (item.id == this.id) {
                this.lookBook.splice(index, 1)
              }
            })
            this.lookBook.unshift(obj)
            Cookies.set('lookBook', JSON.stringify(this.lookBook))
            switch (this.detail.type) {
              case '1-1':
                this.$route.meta.title = '教育教材';
                break
              case '1-2':
                this.$route.meta.title = '职业培训';
                break
              case '1-3':
              case '1-4':
                this.$route.meta.title = '教辅资源';
                break
              case '1-5':
                this.$route.meta.title = '职业能力提升';
                break
            }

            this.saveBatch();
          }
        })
      },
      /*推荐*/
      recommendOpen() {
        this.isShow = true;
      },
      // 推荐提交
      submitRecom() {
        const data = {
          bookId: this.detail.id,
          id: this.recommend.listId,
          lessonId: this.recommend.lessonId,
          remark: this.remark
        }
        const status = this.recommend.status
        const flowCode  = this.flowCode
        if(flowCode == 1||flowCode == 2){
          this._coverRecommend()
        }else if(flowCode == 3){
          this._examineRecommend(data)
        }else if(flowCode == 4){
          if(status == 1){
            this._recommend()
          }else if(status == 2){
            this._resetRecommend()
          }
        }
      },
      // 推荐
      _recommend(){
        addRecommendAPI(data).then(res=>{//推荐
          if(res.data.code == 0){
            this._backRecommend()
          }
        })
      },
      // 重新推荐
      _resetRecommend(){
        resetAddRecommendAPI(data).then(res=>{//重新推荐
          if(res.data.code == 0){
            this._backRecommend()
          }
        })
      },
      // 覆盖推荐
      _coverRecommend(){
        coverRecommendAPI(data).then(res=>{//重新推荐
          if(res.data.code == 0){
            this._backRecommend()
          }
        })
      },
      // 初审创建推荐
      _examineRecommend(data){
        examineRecommendAPI(data).then(res=>{//重新推荐
          if(res.data.code == 0){
            this._backRecommend()
          }
        })
      },

      _backRecommend(){
        this.$message.success("推荐成功")
        window.localStorage.removeItem('recommendInfo')
        const status = Cookies.get('flowCode')
        let path = this.recommendPath[status]
        this.remork = ''
        this.$router.push({path: '/workbench/'+path, query: {status:  this.recommend.listStatus}})
      },
      /*购买链接*/
      buyBtn(link) {
        window.open(link)
      },
      /*申请样书*/
      applyBook() {

        let self = this;
        if (Cookies.get('Y-Token')) {//登录

          samplebooknumAPI().then(res => {

            if (res.data.status && res.data.data > 0) {
              self.alertOptions = {
                show: true,
                warning: '申请样书',
                msg: '申请样书将消耗您1个样书券，确认申请样书吗？',
                sureText: '确定',
                cancelText: '取消',
                showClose: true,
                width: 482,
                textWidth: 390,
                btn: 3,
                sure() {
                  this.show = false;
                  this.isShowC = true;
                  let obj = {
                    resourceName: self.detail.name,
                    cover: self.detail.cover,
                    author: self.detail.author,
                    press: self.detail.publisher,
                    price: self.detail.price,
                    isbn: self.detail.isbn,
                    publishDate: self.detail.publishTime,
                    resourceType: self.detail.type,
                    goodsId: self.detail.id,
                  };
                  samplebookapplyAPI(obj).then(res => {

                    if (res.data.status) {
                      self.isShowR = true;
                      self.isType = 2;
                    } else {
                      self.msg(res.data.msg)
                    }


                  })

                },
                cancel() {
                  this.show = false;
                }
              }
            } else {
              if (res.data.data == 0) {
                self.isShowR = true;
                self.isType = 3;
              }

            }

          })


        } else {

          self.$router.push('/login')
        }

      },
      /*收藏*/
      collectionsBtn() {
        if (Cookies.get('Y-Token')) {//登录
          let obj = null, ary = [];
          obj = {
            goodsId: this.id,
            goodsType: this.detail.type
          };
          ary.push(obj);
          if (this.detail.isCollection) {
            cancelCollectionsAPI(this.id).then(res => {
              if (res.data.status) {
                this.detail.isCollection = false;
                this.msg('已取消收藏');
              }

            })
          } else {
            collectionsAPI(ary).then(res => {
              if (res.data.status) {
                this.detail.isCollection = true;
                this.msg('已加入收藏');
              }

            })
          }
        } else {
          this.$router.push('/login')
        }
      },
      /*关联图书*/
      getbinding() {
        getRelationAPI({
          resourceId: this.id,
          type:this.detail.type
        }).then(res => {
          if (res.data.status) {
            this.isLoading=false;
            this.bindBook = res.data.data;
          }
        })
      },
      /*相关资源跳转详情*/
      linkHref(item) {
        if (item.type.indexOf('2-') >= 0) {//电子
          this.$router.push({path: '/resources/teaching', query: {id: item.id}});
        } else {
          isBindAPI({oid: item.id}).then(res => {
            if (res.data.status) {
              if (res.data.data) {//绑定资源
                this.$router.push({path: '/resources/info', query: {id: item.id}});
              } else {//没有绑定
                this.$router.push({path: '/resources/vocation', query: {id: item.id}});
              }

            }
          })

        }

      },
      /*移到浏览记录*/
      mouseOn(index){
        this.curlookBook=index;

      },
      /*获取历史记录*/
      getRecordList(){

        let self=this;
        getRecordListAPI({
          pageNum:1,
          pageSize:5
        }).then(res=>{

          if(res.data.status){

            /*this.recordList=res.data.map;*/
            let data=res.data.data.map;
            for(let i in data){

              if(data[i].length>5&&self.recordList.length<5){
                data[i].forEach((item,index)=>{
                  self.recordList.push(item)
                })
                return false;
              }else if(self.recordList.length<5){

                for(let k=0;k<data[i].length;k++){
                  if(data[i][k].goodsType.indexOf('1-')>=0){
                    self.recordList.push(data[i][k].fgPhySysResourceVo)
                  }else{
                    self.recordList.push(data[i][k].fgEleSysResourceVo)
                  }
                }
              }
            }
          }
        })
      },
      /*评价*/
      evaluate() {
        this.comment = '';
        if (Cookies.get('Y-Token')) {
          this.isShowR = true;
          this.isType = 1;
        } else {
          this.$router.push('/login')
        }

      },
      /*发表评论*/
      setComment() {
        if (Cookies.get('Y-Token')) {
          this.$validator.validate().then(result => {
            if (result) {
              setCommentAPI({
                comment: this.comment,
                resourceId: this.id,
                resourceType: this.detail.type,
              }).then(res => {
                if (res.data.status) {
                  this.isShowR = false;
                  this.msg('已提交审核，感谢您的评价');
                  /*this.$router.push('/personal/evaluate');*/
                } else {
                  this.msg(res.data.msg);
                }
              })
            }
          })
        } else {
          this.$router.push('/login')
        }


      },
    },
  }
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped lang="less">

  .vocation {
    width: auto;
    margin: 0 auto;
    overflow: hidden;
    background: #f4f5f9;
    ul,li{
      list-style: none;
      padding: 0;
      margin: 0;
    }
    .vocationInfo {
      width: 1200px;
      height: 440px;
      background: rgba(255, 255, 255, 1);
      box-shadow: 0px 1px 8px 0px rgba(197, 197, 197, 0.3);
      margin: 0 auto 20px;
      display: flex;
      justify-content: space-between;

      .vocationInfoQTit {
        width: 80px;
        float: left;
        text-align: justify;
        text-justify:distribute-all-lines;
        height: 24px;
        span{
          cursor: auto;
        }
      }
      .vocationInfoQTit:after{
        content:'.';
        width: 100%;
        display: inline-block;
        overflow: hidden;
        height: 0;
      }
      .vocationInfoTit2 {
        width: 54px;
        float: left;
        text-align: justify;
        text-justify:distribute-all-lines;
        height: 24px;
      }
      .vocationInfoTit2:after{
        content:'.';
        width: 100%;
        display: inline-block;
        overflow: hidden;
        height: 0;
      }

      .vocationInfoLf {
        width: 292px;
        margin: 41px 0 0 50px;
        .vocationInfoImg {
          width: 290px;
          height: 333px;
          background: rgba(255, 255, 255, 1);
          border: 1px solid rgba(240, 240, 240, 1);
          display: flex;
          align-items: center;
          justify-content: center;
          img {
            max-width: 186px;
            max-height: 248px;
            background: rgba(51, 51, 51, 1);
            box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.1);
          }
        }
        .vocationInfoCollection {
          margin-top: 15px;
          font-size: 12px;
          font-family: "Microsoft Yahei","simsun","arial","tahoma";
          font-weight: 400;
          color: rgba(168, 165, 161, 1);
          line-height: 20px;
          span {
            img {
              width: 12px;
              height: 12px;
              margin-top: 4px;
              margin-right: 5px;
              float: left;
              display: block
            }
          }
        }
      }
      .vocationInfoRt {
        width: 760px;
        margin-right: 41px;
        margin-top: 70px;
        .vocationInfoTit {
          height:70px;
          font-size: 24px;
          font-family: "Microsoft Yahei","simsun","arial","tahoma";
          font-weight: 400;
          color: rgba(51, 51, 51, 1);
          line-height: 26px;
          /*overflow: hidden;
          text-overflow: ellipsis;*/
          word-wrap:break-word;
          cursor: auto;
        }
        .vocationInfoAuthor {
          width: 100%;
          display: block;
          height: 25px;
          ul {
            li {
              float: left;
              display: block;
              padding-right: 0px;
              font-size: 14px;
              font-family: "Microsoft Yahei","simsun","arial","tahoma";
              font-weight: 400;
              color: rgba(102, 102, 102, 1);
              line-height: 14px;
              width: 280px;
              span {
                color: #3279FF;
                /*min-width: 144px;
                max-width: 144px;*/
                /*overflow: hidden;
                white-space: nowrap;
                text-overflow: ellipsis;
                display: inline-block;*/
                cursor: auto;
                width: 180px;
                /*overflow: hidden;
                white-space: normal;
                text-overflow: ellipsis;*/
              }
            }
          }

        }
        .vocationInfoPic {
          width: 604px;
          height: 52px;
          background: rgba(249, 250, 255, 1);
          font-size: 14px;
          font-family: "Microsoft Yahei","simsun","arial","tahoma";
          padding-left: 12px;
          font-weight: 400;
          color: rgba(102, 102, 102, 1);
          margin-left: -12px;
          .vocationInfoPicTit {
            float: left;
            display: block;
            margin-top: 16px;
            line-height: 24px;
            height: 24px;
          }
          span {
            line-height: 52px;
            font-size: 24px;
            color: rgba(244, 59, 55, 1);
            i {
              font-size: 16px;
              font-family: "Microsoft Yahei","simsun","arial","tahoma";
              font-weight: 400;
              color: rgba(244, 59, 55, 1);
              line-height: 24px;
            }

          }
        }
        .vocationInfoBookOther {
          width: 100%;
          display: block;
          height: auto;
          overflow: hidden;
          padding-bottom: 52px;
          padding-top: 5px;
          ul {
            li {
              width: 280px;
              float: left;
              display: block;
              line-height: 32px;
              color: #666666;
              font-size: 14px;
            }
          }
        }
        .vocationInfoBtns {
          width: 100%;
          height: auto;
          overflow: hidden;
          ul {
            li {
              float: left;
              display: block;
              width: 128px;
              height: 36px;
              line-height: 36px;
              text-align: center;
              margin-right: 15px;
              font-size: 16px;
              font-family: "Microsoft Yahei","simsun","arial","tahoma";
              font-weight: 400;
              cursor: pointer;
            }
            .vocationInfoBtns1 {
              width: 110px;
              border: 1px solid rgba(185, 208, 253, 1);
              border-radius: 19px;
              color: #3279FF;
              padding-left: 18px;
              background: url("../../assets/img/nocoll.png") no-repeat;
              background-position: 32px center;
            }
            .vocationInfoBtns1:hover {
              width: 110px;
              color: #fff;
              border-radius: 19px;
              border: 1px solid #3279FF;
              background: url("../../assets/img/star.png") no-repeat #3279FF;
              background-position: 30px center;
              padding-left: 18px;
            }
            .vocationInfoBtns2 {
              width: 128px;
              border: 1px solid rgba(185, 208, 253, 1);
              border-radius: 19px;
              color: #3279FF;
            }
            .vocationInfoBtns2:hover {
              width: 128px;
              color: #fff;
              border-radius: 19px;
              border: 1px solid #3279FF;
              background:#3279FF;
            }
            .infoOneBtns2 {
              height: 38px;
              background: #EB666A;
              color: #fff;
              border-radius: 19px;
            }
            .vocationInfoBtns3 {
              border: 1px solid rgba(185, 208, 253, 1);
              border-radius: 19px;
              color: #3279FF;
            }
            .vocationInfoBtns4 {
              background: rgba(253, 239, 221, 1);
              border: 1px solid rgba(248, 175, 89, 1);
              border-radius: 19px;
              color: rgba(237, 103, 4, 1);
            }
            .vocationInfoBtns5 {
              width: 130px;
              height: 38px;
              background: rgba(50, 121, 255, 1);
              border-radius: 18px;
              color: #fff;

            }
          }
        }
      }

    }
    .vocationCont {
      width: 1210px;
      height: auto;
      overflow: hidden;
      margin: 0 auto 30px;
      .vocationT {
        height: 54px;
        line-height: 54px;
        font-size: 16px;
        font-family: "Microsoft Yahei","simsun","arial","tahoma";
        font-weight: bold;
        color: rgba(50, 121, 255, 1);
        border-bottom: 1px solid #F0F0F0;
        span {
          width: 3px;
          height: 16px;
          float: left;
          display: block;
          margin-top: 19px;
          margin-left: 20px;
          margin-right: 10px;
          background: rgba(50, 121, 255, 1);
          border-radius: 2px;
        }

      }
      .vocationC {
        padding-top: 20px;
        .vocationA {
          width: 210px;
          border-bottom: 1px solid #F0F0F0;
          margin: 17px auto 0;
          padding-bottom: 22px;
          .vocationOne {
            margin: 0 auto;
            width: 170px;
            height: 211px;
            background: rgba(246, 246, 246, 1);
            position: relative;
            display: flex;
            justify-content: center;
            align-items: center;
            img {
              max-width: 124px;
              max-height: 166px;
            }
            h1 {
              position: absolute;
              bottom: 0;
              left: 0;
              width: 160px;
              height: 30px;
              padding: 0 5px;
              line-height: 30px;
              background: rgba(51, 51, 51, 1);
              opacity: 0.5;
              font-size: 14px;
              font-family: "Microsoft Yahei","simsun","arial","tahoma";
              font-weight: 400;
              color: rgba(255, 255, 255, 1);
              text-align: center;
              overflow: hidden;
              text-overflow: ellipsis;
              white-space: nowrap;
              cursor: pointer;
            }

          }

        }
        .vocationA:last-child {
          border-bottom: none;
        }

        .vocationTwo {
          width: 210px;
          margin: 0 auto;
          height: 44px;
          line-height: 44px;
          font-size: 14px;
          font-family: "Microsoft Yahei","simsun","arial","tahoma";
          font-weight: 400;
          color: rgba(51, 51, 51, 1);
          border-bottom: 1px solid #F0F0F0;
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;
          span {
            width: 5px;
            height: 5px;
            background: rgba(50, 121, 255, 1);
            border-radius: 50%;
            float: left;
            display: block;
            margin-right: 6px;
            margin-top: 18px;
            margin-left: 11px;
          }

        }
        .vocationTwo:last-child {
          border-bottom: none;
        }

      }
      .vocationLf {
        width: 250px;
        height: auto;
        background: #fff;
        box-shadow: 0px 2px 19px 0px rgba(197, 197, 197, 0.29);
        margin: 5px;
        padding-bottom: 50px;
      }
      .vocationRt {
        width: 880px;
        height: auto;
        background: #fff;
        box-shadow: 0px 2px 19px 0px rgba(197, 197, 197, 0.29);
        margin: 5px;
        padding: 0 25px;
        .vocationS {

          .itemhover {
            box-shadow: 0px 2px 8px 0px rgba(1, 2, 2, 0.1);
            .listTextHover {
              width: 150px;
              height: 200px;
              overflow: hidden;
              box-shadow: 0px 2px 8px 0px rgba(170, 170, 170, 0.49);
            }
            a {
              color: #3279FF;
            }
          }
          ul {
            overflow: hidden;
            margin: 24px 0px;
            li {
              width: 220px;
              height: 405px;
              float: left;
              display: block;
              padding: 35px 33px 0;
              margin: 3px 3px 9px 3px;
              cursor: pointer;
              .listImg {
                width: 150px;
                height: 200px;
                left: 35px;
                position: relative;
                .listText {
                  width: 150px;
                  height: 200px;
                  overflow: hidden;
                  background: rgba(227, 238, 253, 1);
                  display: flex;
                  justify-content: center;
                  align-items: center;
                  img{
                    max-width: 150px;
                    max-height: 200px;
                  }
                }

                h1 {
                  position: absolute;
                  right: 0;
                  bottom: 0;
                  width: 150px;
                  height: 25px;
                  background: rgba(0, 0, 0, 1);
                  opacity: 0.7;
                  font-size: 14px;
                  font-family: "Microsoft Yahei","simsun","arial","tahoma";
                  font-weight: 400;
                  color: rgba(255, 255, 255, 1);
                  line-height: 26px;
                  text-align: center;
                }
              }
              .listTitle {
                h1 {
                  margin-top: 20px;
                  height: 40px;
                  font-size: 16px;
                  font-family: "Microsoft Yahei","simsun","arial","tahoma";
                  font-weight: 400;
                  color: rgba(51, 51, 51, 1);
                  line-height: 30px;
                  overflow: hidden;
                  text-overflow: ellipsis;
                  white-space: nowrap;
                }
                p {
                  font-size: 14px;
                  font-family: "Microsoft Yahei","simsun","arial","tahoma";
                  font-weight: 400;
                  color: rgba(102, 102, 102, 1);
                  line-height: 28px;
                  overflow: hidden;
                  text-overflow: ellipsis;
                  white-space: nowrap;
                  cursor: pointer;
                }
                .listTitleLast {
                  padding-top: 10px;
                  width: 100%;
                  color: #F44D4A;
                  line-height: 26px;
                }
              }
            }
            li:hover{
              .itemhover
            }

          }

        }
      }
    }
    /*弹窗*/
    .vocationEla {
      width: 100%;
      height: 100%;
      position: fixed;
      top: 0;
      left: 0;
      z-index: 1;
      background: rgba(0, 0, 0, 0.2);
      display: flex;
      justify-content: center;
      align-items: center;
      .vocationECont {
        width: 482px;
        height: auto;
        overflow: hidden;
        background: #fff;
        .vocationECTit {
          width: 100%;
          height: 36px;
          line-height: 36px;
          background: rgba(244, 244, 244, 1);
          border-radius: 3px 3px 0px 0px;
          display: flex;
          justify-content: space-between;
          h1 {
            font-size: 14px;
            font-family: "Microsoft Yahei","simsun","arial","tahoma";
            font-weight: bold;
            color: rgba(69, 69, 69, 1);
            padding-left: 15px;
          }
          span {
            font-size: 16px;
            font-family: "Microsoft Yahei","simsun","arial","tahoma";
            color: #999999;
            margin-right: 15px;
            cursor: pointer;

          }
        }
        .vocationTextA {
          width: 443px;
          height: 166px;
          margin: 20px auto;
          textarea {
            width: 417px;
            height: 142px;
            border: 1px solid rgba(220, 223, 230, 1);
            resize: none;
            font-size: 14px;
            font-family: "Microsoft Yahei","simsun","arial","tahoma";
            font-weight: 400;
            padding: 13px 12px;
            color: #333;
            line-height: 24px;
          }

        }
        .vocationBtn {
          overflow: hidden;
          padding-left: 340px;
          margin-bottom: 20px;
          ul {
            li {
              float: left;
              display: block;
              width: 56px;
              height: 32px;
              border-radius: 4px;
              font-size: 12px;
              font-family: "Microsoft Yahei","simsun","arial","tahoma";
              font-weight: 400;
              text-align: center;
              cursor: pointer;
            }
            .saveBtn {
              background: #3279FF;
              color: #fff;
              margin-right: 10px;
              line-height: 32px;
            }
            .cancelBtn {
              width: 54px;
              height: 30px;
              border: 1px solid rgba(220, 223, 230, 1);
              border-radius: 4px;
              color: #999999;
              line-height: 30px;
            }
          }
        }
      }
    }
    /*评价*/
    .infoAlert {
      width: 100%;
      height: 100%;
      position: fixed;
      top: 0;
      left: 0;
      background: rgba(0, 0, 0, 0.2);
      display: flex;
      align-items: center;
      justify-content: center;

      .infoAlertC {
        width: 482px;
        height: auto;
        background: rgba(255, 255, 255, 1);
        box-shadow: 0px 2px 8px 0px rgba(170, 170, 170, 0.49);
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-bottom: 30px;
        overflow: hidden;
        .infoAlertT {
          width: 452px;
          height: 36px;
          padding: 0 15px;
          background: rgba(244, 244, 244, 1);
          display: flex;
          justify-content: space-between;
          line-height: 36px;
          h1 {
            font-size: 14px;
            font-family: "Microsoft Yahei","simsun","arial","tahoma";
            font-weight: bold;
            color: rgba(68, 68, 68, 1);
          }
          span {
            color: #999999;
            font-size: 20px;
            cursor: pointer;

          }

        }
        p {
          width: 378px;
          font-size: 18px;
          font-family: "Microsoft Yahei","simsun","arial","tahoma";
          font-weight: 400;
          color: rgba(69, 69, 69, 1);
          margin-top: 40px;
          margin-bottom: 25px;
          line-height: 30px;
          a {
            color: #3279FF;

          }
        }
        textarea {
          width: 419px;
          height: 140px;
          border: 1px solid rgba(220, 223, 230, 1);
          resize: none;
          padding: 13px 12px;
          margin-top: 20px;

          font-family: "Microsoft Yahei","simsun","arial","tahoma";
          font-size: 14px;
        }
        .errorMsg {
          width: 444px;
          height: 20px;
          padding: 0;
          margin-top: 5px;
          text-align: left;
          font-size: 12px;
          color: #f40303;
        }
        .infoevaluateB {
          width: 100%;
          display: flex;
          justify-content: flex-end;
          margin-top: 20px;
          .commit {
            display: inline-block;
            cursor: pointer;
            width: 96px;
            height: 32px;
            background: rgba(50, 121, 255, 1);
            border-radius: 4px;
            font-size: 12px;
            font-family: "Microsoft Yahei","simsun","arial","tahoma";
            font-weight: 400;
            color: rgba(255, 255, 255, 1);
            line-height: 32px;
            text-align: center;
            margin-right: 5px;
          }
          .cancel {
            display: inline-block;
            cursor: pointer;
            width: 94px;
            height: 30px;
            border: 1px solid rgba(220, 223, 230, 1);
            border-radius: 4px;
            font-size: 12px;
            font-family: "Microsoft Yahei","simsun","arial","tahoma";
            font-weight: 400;
            color: rgba(153, 153, 153, 1);
            line-height: 30px;
            text-align: center;
            margin-right: 18px;
          }
        }
        .isTypeTwo {
          width: 380px;
          margin: 40px auto 20px;
          font-size: 18px;
          color: #454545;
          line-height: 30px;
          a {
            color: #3279FF;
          }
        }
        .isTypeTwoBtn {
          width: 100%;
          display: flex;
          justify-content: center;
          .commit {
            display: inline-block;
            cursor: pointer;
            width: 96px;
            height: 32px;
            background: rgba(50, 121, 255, 1);
            border-radius: 4px;
            font-size: 12px;
            font-family: "Microsoft Yahei","simsun","arial","tahoma";
            font-weight: 400;
            color: rgba(255, 255, 255, 1);
            line-height: 32px;
            text-align: center;
            margin-right: 5px;
          }

        }
      }
    }
  }
</style>
