<template>
    <div class="app-container calendar-list-container">
        <div class="nav-buttons-container">
            <el-button v-if="authBtns.filter(i => i.idName=='addBtn').length>0 && authBtns.filter(i => i.idName=='addBtn')[0].icon" @click="addBtn">{{authBtns.filter(i => i.idName=='addBtn')[0].name}}<i  :class="[authBtns[authBtns.map(i => i.idName).indexOf('addBtn')].icon, 'el-icon--right']"></i></el-button>
            <el-button  v-if="authBtns.filter(i => i.idName=='batchImportBtn').length>0 && authBtns.filter(i => i.idName=='batchImportBtn')[0].icon" @click="importBtn">{{authBtns.filter(i => i.idName=='batchImportBtn')[0].name}}<i :class="[authBtns[authBtns.map(i => i.idName).indexOf('batchImportBtn')].icon, 'el-icon--right']"></i></el-button>
            <el-button  v-if="authBtns.filter(i => i.idName=='batchPrintBtn').length>0 && authBtns.filter(i => i.idName=='batchPrintBtn')[0].icon" @click="printBtn">{{authBtns.filter(i => i.idName=='batchPrintBtn')[0].name}}<i :class="[authBtns[authBtns.map(i => i.idName).indexOf('batchPrintBtn')].icon, 'el-icon--right']"></i></el-button>
        </div>
        <!-- 部门列表 -->
        <el-table
            :key="tableKey"
            :data="list"
            v-loading="listLoading"
            element-loading-text="给我一点时间"
            border=""
            highlight-current-row
            stripe
            @selection-change="chioceList"
        >
            <el-table-column type="selection" align="center"></el-table-column>
            <el-table-column type="index"  label="序号" width="60" align="center"></el-table-column>
            <el-table-column label="部门名称" min-width="160" align="center">
                <template slot-scope="scope">
                    <span>{{scope.row.name}}</span>
                </template>
            </el-table-column>
            <el-table-column label="排序号" min-width="120" align="center">
                <template slot-scope="scope">
                    <span>{{scope.row.sort}}</span>
                </template>
            </el-table-column>
            <el-table-column label="所属学校" min-width="140" align="center">
                <template slot-scope="scope">
                    <span>{{scope.row.schoolName}}</span>
                </template>
            </el-table-column>
            <el-table-column label="添加人" min-width="140" align="center">
                <template slot-scope="scope">
                    <span>{{scope.row.updaterName}}</span>
                </template>
            </el-table-column>
            <el-table-column label="添加时间" min-width="140" align="center">
                <template slot-scope="scope">
                    <span v-if="scope.row.createTime">{{scope.row.createTime.substr(0,10)}}</span>
                    <span v-else>——</span>
                </template>
            </el-table-column>
            <el-table-column class-name="small-padding fixed-width" width="180" label="操作"  align="center">
                <template slot-scope="scope">
                  <i v-if="authBtns.filter(i => i.idName=='editBtn').length>0 && authBtns.filter(i => i.idName=='editBtn')[0].icon"  @click="editBtn(scope.row)"  :class="authBtns.filter(i => i.idName=='editBtn')[0].icon" :title="authBtns.filter(i => i.idName=='editBtn')[0].name"></i>
                  <i v-if="authBtns.filter(i => i.idName=='deleteBtn').length>0 && authBtns.filter(i => i.idName=='deleteBtn')[0].icon&&scope.row.status !=1" @click="batchDeleteBtn(scope.row)" :class="authBtns.filter(i => i.idName=='deleteBtn')[0].icon" :title="authBtns.filter(i => i.idName=='deleteBtn')[0].name"></i>
                </template>
            </el-table-column>
        </el-table>
        <div class="pagination-container">
            <el-pagination
                @size-change="handleSizeChange"
                @current-change="handleCurrentChange"
                :current-page="listQuery.pageNum"
                :page-sizes="[30,50,100,200,500]"
                :page-size="listQuery.pageSize"
                layout="total, sizes, prev, pager, next, jumper"
                :total="total"
                align="center"
            ></el-pagination>
        </div>
        <!-- 添加 -->
        <el-dialog :title="title" :visible.sync="dialogAddVisible" @closed="handleClose" width="30%">
            <el-form
                :rules="rules"
                ref="departForm"
                :model="formList"
                label-position="right"
                label-width="80px"
                class="form-container"
            >
                <el-form-item label="部门名称" prop="name">
                    <el-col :span="20">
                        <el-input v-model="formList.name" placeholder="请输入部门名称"></el-input>
                    </el-col>
                </el-form-item>
                <el-form-item label="排序号" prop="sort">
                    <el-col :span="20">
                        <el-input v-model="formList.sort" placeholder="请输入排序号"></el-input>
                    </el-col>
                </el-form-item>
                <el-form-item label="所属学校" prop="schoolName">
                    <el-col :span="20">
                        <el-input v-model="userCompanyt.relationName" disabled></el-input>
                    </el-col>
                </el-form-item>
                <el-form-item >
                    <el-button v-if="subHidden" class="form-submit" @click="addDepartFrom('departForm')">确定</el-button>
                    <el-button v-if="!subHidden" plain @click="reset">关闭</el-button>
                    <el-button v-if="subHidden" plain @click="reset">取消</el-button>
                </el-form-item>
            </el-form>
        </el-dialog>
        <!-- 导入 -->
        <el-dialog
          title="导入Excel"
          :visible.sync="importExcDialog"
          width="25%"
          style="height:auto !important;"
        >
          <p>请选择要导入的文件，文件类型只支持Excel。</p>
          <div class="importExc">
            <input type="file" @change="fileSelect" ref="file">
            <a class="fake-download" :href="`${baseUrl}/bg-member/%E9%83%A8%E9%97%A8%E5%AF%BC%E5%85%A5%E6%A8%A1%E6%9D%BF.xls`">下载模板文件</a>
          </div>
          <!-- <el-progress :percentage="downLoadVal" :stroke-width="12" color="#67C23A"></el-progress> -->
          <div slot="footer" class="dialog-footer">
            <el-button @click="confirmImport">确 定</el-button>
            <el-button @click="importExcDialog = false">取 消</el-button>
          </div>
        </el-dialog>
        <!-- 批量设置 -->
        <!-- <el-dialog title="批量设置状态" :visible.sync="dialogPvVisible" width="30%">
            <el-form>
                <h4>请选择要批量设置的状态。</h4>
                <el-form-item label="状态：">
                    <el-radio-group v-model="status">
                        <el-radio :label="1" value="1">启用</el-radio>
                        <el-radio :label="0" value="0">禁用</el-radio>
                    </el-radio-group>
                </el-form-item>
            </el-form>
            <span slot="footer" class="dialog-footer">
                <el-button @click="setSubmit">确定</el-button>
                <el-button @click="dialogPvVisible=false">取消</el-button>
            </span>
        </el-dialog> -->
    </div>
</template>

<script>
import { getListAPI,saveAPI, batchDeleteAPI,detailsAPI,updateAPI,excelImportAPI,printAPI,getMaxSortAPI } from "@/api/backstage/basicInfo/department";
import { getUserCompanytAPI } from '@/api/global'
import { getMultipleSelectionIDs } from "@/filters/getIds";
import { requestMsg, confirm } from "@/utils/publicFunctions";
import {baseUrl} from '@/utils/global'
import store from "@/store";

export default {
  data() {
    // 排序数
    const validateSort = (rule, value, callback) => {
      let reg = /^([1-9]\d{0,10000000000000}||0)$/;
      if (!reg.test(value)) {
        callback(new Error("请输入正整数"));
      } else {
        callback();
      }
    };
    return {
      baseUrl:baseUrl,
      subHidden:true,
      authBtns: [],
      tableKey: 0,
      list: null,
      total: null,
      listLoading: true,
      title: "添加",
      dialogAddVisible: false,
      formList: {
        name: "",
        relationId: "",
        sort: "",
        type: 0
      },
      rules: {
        name: [
          { required: true, message: "请输入部门名称", trigger: "change",  },{max:20, message: "请输入20字以内的部门名称", trigger: "change"}
        ],

        sort: [{ required: true, trigger: "change", validator: validateSort }]
      },
      schoolName: "",
      listQuery: {
        pageNum: 1,
        pageSize: 100,
      },
      batchList: [],
      userCompanyt:{},
      importExcDialog: false
    };
  },
  created() {
    this.authBtns = store.getters.pageBtn[this.$route.meta.routerIds[0]];
    this.getList();
    this.getUserCompanyt()
  },
  mounted() {
    
  },
  methods: {
    // 获取登录用户单位信息
      getUserCompanyt(){
        if(this.$store.getters.userToken){
          getUserCompanytAPI().then(res =>{
          if(res.data.code === 0){
            this.userCompanyt = res.data.data
          }else{
            this.$message.error(res.data.msg)
          }
        })
        }
      },
    //   获取部门列表
    getList() {
      this.listLoading = true;
      let info = this.$route.query;
      getListAPI(this.listQuery).then(res => {
        if (res.data.code === 0) {
          this.list = res.data.data.list;
          this.total = res.data.data.total;
        } else {
          this.$message.error("获取数据失败");
        }
        this.listLoading = false;
      });
    },

    // 添加部门
    addBtn() {

      this.dialogAddVisible = true;
      this.title = "添加部门";
      this.subHidden = true
      this.getMaxSort()
    },
    getMaxSort(){
      getMaxSortAPI().then(res=>{
        if(res.data.code == 0 ){
          this.formList.sort = res.data.data
        }

      })
    },



    // 确认添加
    addDepartFrom(departForm) {
      this.$refs[departForm].validate(valid => {
        if (valid) {
            if(this.title =='添加部门'){
                saveAPI(this.formList).then(res => {
                    if(res.data.code == 0){
                      this.getList();
                      this.reset();
                      this.$message.success('添加成功')
                    }else{
                        this.$message.error(res.data.msg)
                    }

                });
            }else{
                updateAPI(this.formList).then(res => {
                    // requestMsg.apply(this, [res.data, "修改部门"]);
                    if(res.data.code == 0){
                      this.getList();
                      this.reset();
                      this.$message.success('修改成功')
                    }else{
                        this.$message.error(res.data.msg)
                    }
                });
            }

        }
      });
    },
    // 取消
    reset() {
      this.dialogAddVisible = false;
      this.formList.relationId = this.formList.relationId;
    },
     handleClose () {
      this.$refs.departForm.resetFields()
      this.formList.name = null;
      this.formList.sort = null;

    },


    // 导入
    importBtn() {
      this.importExcDialog = true
      this.$refs.file ? this.$refs.file.value = null : true
    },
    // 文件选择
    fileSelect() {
      if (this.$refs.file.files[0]) {
        let file = this.$refs.file.files[0];
        if (file.type !=="application/vnd.ms-excel"&&file.type !=='application/vnd.openxmlformats-officedocument.spreadsheetml.sheet') {
          this.$message.warning("导入文件只能是 xls/xlsx 格式！");
          this.$refs.file.value = null
        }else{
          let formData = new FormData();
          formData.append("file", file);
          // excelImportAPI(formData).then(res =>{
          //   if(res.data.code!= 0){
          //     this.$message.error(JSON.parse(res.data.msg).msg)
          //   }else{
          //   }
          // })
        }
      }
    },
    // 确认导入
    confirmImport(){
      if (this.$refs.file.files[0]) {
        let formData = new FormData();
        formData.append("file", this.$refs.file.files[0]);
        excelImportAPI(formData).then(res => {
          if (res.data.status) {
            this.$message.success("导入成功！");
            this.importExcDialog = false;
            this.getList()
          } else {
            this.$message.error(res.data.msg);
          }
        });
      } else {
        this.$message.warning("请选择文件后再执行导入！");
      }
    },
    // 导出
    printBtn(){
       if(this.list.length > 0){
        let obj = this.listQuery

        var test=this.baseUrl + '/fg-member/fg/department/export?token='+this.$store.getters.userToken+'&'
        for(var prop in obj){
            if(obj[prop]){
                test = test+prop+'='+obj[prop]+'&'
            }
        }
        test = test.substr(0,test.length-1)
        window.open(test,'_blank')
        this.$message.success("数据导出成功")
      }else{
          this.$message.error('当前暂无数据可供导出')
      }
    },
    // 删除
    batchDeleteBtn(item) {
        const ids = [item.id]
        confirm.apply(this, ["确认删除吗？"]).then(() => {
          batchDeleteAPI(ids).then(res => {
            requestMsg.apply(this, [res.data, "删除"]);
            this.getList();
          });
        });
    },
    // 修改
    editBtn(item) {
        this.title = "修改部门";
        this.subHidden = true;
        this.getDetail(item)
    },
    // 获取部门详情
    getDetail(item){
        this.dialogAddVisible = true;
        const id = item.id
        detailsAPI(id).then(res => {
          res.data.code ===0?
          (this.formList = res.data.data)
          :this.$message.error("获取部门详情失败");
        });
    },


    chioceList(val) {
      //勾选
      this.batchList = val;
    },
    // 筛选
    handleFilter() {
      store.dispatch("SetSupplierSerKeys", this.listQuery).then(res => {

      });
      this.listQuery.pageNum = 1;
      this.getList();
    },
    //重置
    resetFilter() {
      this.listQuery = {
        pageNum: 1,
        pageSize: this.listQuery.pageSize
      };
      this.getList();
    },
    // 改变分页大小
    handleSizeChange(val) {
      this.listQuery.pageSize = val;
      this.getList();
    },
    // 页数改变
    handleCurrentChange(val) {
      this.listQuery.pageNum = val;
      this.getList();
    }
  }
};
</script>

<style>
.el-tabs__header,
.el-tabs--card > .el-tabs__header {
  border: 0;
  margin-bottom: 0;
}
.aa {
  margin-left: 80px;
}
.aa input {
  height: 30px;
}
</style>
