<template>
  <el-menu class="navbar" mode="horizontal">

    <!-- <img :src="Logo" alt="logo" class="logo"> -->
    <span class="text-medium logo-text">技工教育和职业培训资源服务平台</span>
    <breadcrumb class="breadcrumb-container"></breadcrumb>

    <div class="right-menu">
        <!-- <div class="avatar-wrapper">
          <el-select v-model="nationsType" placeholder="请选择活动区域"  @change="selectNation()">
            <el-option :label="typeItem" :value="index" v-for="(typeItem,index) in nationList" :key="index"></el-option>
          </el-select>
        </div> -->
        <ul>
          <li @click="linkHref('/index')">主页</li>
          <li @click="linkHref('/stationList')">站内消息 <span class="messageInfo" v-if="messageNum">{{messageNum}}</span></li>
          <li @click="linkHref('/personal/detail')">
             <img :src="imgUrl(this.$store.getters.userImg)" alt="" v-if="this.$store.getters.userImg&&this.$store.getters.userImg!='null'&&this.$store.getters.userImg!=''">
            <img src="../../../../static/img/defoultHS.png" alt="" v-if="this.$store.getters.userImg=='null'||this.$store.getters.userImg==''||!this.$store.getters.userImg">
            <span>{{$store.getters.userName}}</span>
          </li>
          <li  @click="loginOut">
            <i class="el-icon-error"></i>
          <a>退出</a>
          </li>
        </ul>
    </div>
  </el-menu>
</template>

<script>
import { mapGetters } from 'vuex'
import {getMessageNumAPI} from '@/api/global'
// import { nationsListAPI } from '@/api/website-management/position'
import Breadcrumb from '@/components/Breadcrumb'
import ErrorLog from '@/components/ErrorLog'
// import Screenfull from '@/components/Screenfull'
import LangSelect from '@/components/LangSelect'
import ThemePicker from '@/components/ThemePicker'
// import Logo from '@/assets/img/ciic_logo.png'
import Cookies from 'js-cookie'

export default {
  components: {
    Breadcrumb,
    ErrorLog,
    // Screenfull,
    LangSelect,
    ThemePicker,
    // Logo
  },
  data() {
    return {
      nationsType:'2',
      nationList:[],
      messageNum:0,
      // nationShow: null,
    }
  },
  computed: {
    ...mapGetters([
      'sidebar',
      'name',
      'avatar'
    ])
  },
  mounted() {
    this.getMessageNum()
    // this.getNations()
  },
  // watch: {
  //   $route( to , from ){
  //     if(to.name == 'order'){

  //     }
  //   }
  // },
  methods: {
    getMessageNum(){
        getMessageNumAPI().then(res =>{

          res.data.code === 0?
          this.messageNum = res.data.data:
          this.$message.error('请求用户未读数量失败')
        })
      },
    /*权限跳转*/
      linkHref(link){
        this.$router.push(link)
      },
      /*退出登录*/
      loginOut(){
        this.$store.commit('SET_ROLES', [])
        this.$store.dispatch('LoginOut')
        this.$router.push('/index')
      },
  }
}
</script>

<style rel="stylesheet/scss" lang="scss" scoped>
.avatar-wrapper{
  float: left;
  font-size: 14px;
  margin-right: 20px;
  &:nth-of-type(2){
    cursor: pointer;
    &:hover{color: #97a8be;}
  }
}
.navbar {
  .logo-text{
    color:aliceblue;
    float: left;
    margin: 0 10px;
  }
  // .logo{
  //   float: left;
  //   margin-top: 13px;
  // }
  height: 50px;
  line-height: 50px;
  border-radius: 0px !important;
  background: #373d41;

  .breadcrumb-container{
    float: left;
  }
  .errLog-container {
    display: inline-block;
    vertical-align: top;
  }
  .right-menu {
    float: right;
    height: 100%;
    color:#fff;
    &:focus{
     outline: none;
    }
    // .right-menu-item {
    //   display: inline-block;
    //   margin: 0 8px;
    // }
    // .screenfull {
    //   height: 20px;
    // }
    // .international{
    //   vertical-align: top;
    // }
    // .theme-switch {
    //   vertical-align: 15px;
    // }
    // .avatar-container {
    //   height: 50px;
    //   margin-right: 30px;
    //   .avatar-wrapper {
    //     cursor: pointer;
    //     margin-top: 5px;
    //     position: relative;
    //     .user-avatar {
    //       width: 40px;
    //       height: 40px;
    //       border-radius: 10px;
    //     }
    //     .el-icon-caret-bottom {
    //       position: absolute;
    //       right: -20px;
    //       top: 25px;
    //       font-size: 12px;
    //     }
    //   }
    // }
    ul {
          display: flex;
          justify-content: flex-end;
          li {
            position: relative;
            float: left;
            display: block;
            height: 16px;
            line-height: 14px;
            margin-top: 15px;
            padding: 0 15px;
            border-right: 2px solid #999;
            cursor: pointer;
            i {
              font-size: 12px;
              color: #F2332F;
            }
            .messageInfo{
              position: absolute;
              top: -10px;
              left: 80px;
              display: inline-block;
              padding: 0px 4px 0 2px;
              border-radius: 20px;
              background: #F2332F;
              font-size: 12px;
              color: #fff;
            }
            img {
              width: 26px;
              height: 26px;
              border-radius: 50%;
              background: #bbb;
              margin-top: -5px;
              float: left;
              margin-right: 6px;
            }
          }
          li:last-child {
            border-right: none;
          }
        }
  }
}
</style>
