<template>
  <div class="app-container calendar-list-container">
    <div class="nav-buttons-container">
      <Screen :listData="statusList" title="状态" prop="name" :status="listQuery.payStatus" :len="5" @changeStatus='changeStatus'></Screen>
    </div>

    <el-form inline class="form-inline">
      <el-form-item label="姓名:">
        <el-input @keyup.enter.native="handleFilter" type="text" placeholder="请输入姓名" v-model="listQuery.name" clearable></el-input>
      </el-form-item>
      <el-form-item label="学号:">
        <el-input @keyup.enter.native="handleFilter" type="text" placeholder="请输入学号" v-model="listQuery.studentNum" clearable></el-input>
      </el-form-item>
      <el-form-item>
        <el-button @click="handleFilter">检索</el-button><el-button @click="printBtn">批量导出</el-button>
      </el-form-item>
    </el-form>

    <el-table :key='tableKey' :data="list" v-loading="listLoading" element-loading-text="给我一点时间" border highlight-current-row stripe  >
      <el-table-column type="selection" align="center"></el-table-column>
      <el-table-column type="index" label="序号" width="60" align="center"></el-table-column>
      <el-table-column label="姓名" min-width="100" align="center">
        <template slot-scope="scope">
          <span>{{scope.row.name}}</span>
        </template>
      </el-table-column>

      <el-table-column label="班级" min-width="140" align="center">
        <template slot-scope="scope">
          <span>{{scope.row.className}}</span>
        </template>
      </el-table-column>
      <el-table-column label="学号" min-width="120" align="center">
        <template slot-scope="scope">
          <span>{{scope.row.studentNum}}</span>
        </template>
      </el-table-column>
      <el-table-column label="性别" min-width="40" align="center">
        <template slot-scope="scope">
          <span>{{scope.row.sex == '0'?'女':'男'}}</span>
        </template>
      </el-table-column>
      <el-table-column label="身份证" min-width="160" align="center">
        <template slot-scope="scope">
          <span>{{scope.row.idnumber}}</span>
        </template>
      </el-table-column>
      <el-table-column label="状态" min-width="80" align="center">
        <template slot-scope="scope">
          <span>{{scope.row.payStatus == '0'?'未支付':'已支付'}}</span>
        </template>
      </el-table-column>
    </el-table>

    <div class="pagination-container">
      <el-pagination @size-change="handleSizeChange" @current-change="handleCurrentChange" :current-page="listQuery.pageNum" :page-sizes="[30,50,100,200,500]" :page-size="listQuery.pageSize" layout="total, sizes, prev, pager, next, jumper" :total="total" align="center">
      </el-pagination>
    </div>

  </div>
</template>

<script>
import { getPayListAPI} from '@/api/backstage/payMenege/payRecord'
import Screen from '@/view/workbench/components/screen.vue';
import store from "@/store";
import {baseUrl} from '@/utils/global'
export default {
  components: {Screen},
  data() {
    return {
      baseUrl:baseUrl,
      tableKey: 0,
      list: null,
      total: null,
      listLoading: true,
      listQuery: {
        pageNum: 1,
        pageSize: 100,
        payStatus:'0'
      },
      statusList:[{index:'0',name:'未支付'},{ index:'1', name:'支付' }],


    }
  },
  created(){
    this.getList()
  },
  mounted() {
  },
  methods: {
    //   获取数据字典列表
    getList() {
      this.listLoading = true
      getPayListAPI(this.listQuery).then(res => {
        if(res.data.code === 0){
          this.list = res.data.data.list
          this.total = res.data.data.total
          this.listLoading = false
        } else {
          this.$message.error('获取数据失败');
        }
        
      })
    },
    changeStatus(value,index){
      this.listQuery.payStatus = index
      this.getList()
    },
    // 筛选
    handleFilter(){
      this.listQuery.pageNum = 1
      this.getList()
    },
    printBtn(){
      if(this.list.length > 0){
        let obj = this.listQuery
        var test=this.baseUrl + '/school-sysuser/fg/pay/set/export?token='+this.$store.getters.userToken+'&'
        for(var prop in obj){
            if(obj[prop]){
                test = test+prop+'='+obj[prop]+'&'
            }
        }
        test = test.substr(0,test.length-1)
        window.open(test,'_blank')
        this.$message.success("数据导出成功")
      }else{
          this.$message.error('当前暂无数据可供导出')
      }
    },
    //重置
    // resetFilter(){
    //   this.listQuery = {
    //     pageNum: 1,
    //     pageSize: this.listQuery.pageSize,
    //   }
    //   this.getList()
    // },
    // 改变分页大小
    handleSizeChange(val) {
      this.listQuery.pageSize = val
      this.getList()
    },
    // 页数改变
    handleCurrentChange(val) {
      this.listQuery.pageNum = val
      this.getList()
    }
  }
}
</script>

<style>
.el-tabs__header,.el-tabs--card>.el-tabs__header{
  border: 0;
  margin-bottom: 0;
}
.aa{
  margin-left: 80px;
}
.aa input{
  height: 30px;
}
</style>
