<template>
    <div class="container-set">
        <el-form :rules="rules" ref="dataForm" :model="formList" label-position="right" label-width="150px" class="form-container">
            <el-form-item label="选择支付方式：" prop="payType">
                <el-checkbox-group v-model="formList.payType">
                    <el-checkbox label="1" >支付宝</el-checkbox>
                    <el-checkbox label="2" >微信</el-checkbox>
                    <el-checkbox label="3" >银联</el-checkbox>
                </el-checkbox-group>
            </el-form-item>
            <el-form-item label="是否开启支付：" prop="isNot">
                <el-radio-group v-model="formList.isNot">
                    <el-radio label="1">是</el-radio>
                    <el-radio label="0">否</el-radio>
                </el-radio-group>
            </el-form-item>
            <el-form-item>
                <el-button class="form-submit" @click="submitFrom('dataForm')">保存</el-button>
            </el-form-item>
        </el-form>
    </div>
</template>

<script>
import {savePaySetAPI,getPayDetailAPI} from "@/api/backstage/payMenege/paySet";

export default {
  data() {
    return {
        formList:{
            payType:[],
            isNot:'0'
        },
      rules: {
        // payType: [{ required: true,  message: "请选择支付方式", trigger: "change"}],
        isNot: [{ required: true, trigger: "change",  }],
      },
    };
  },
  created(){
  },
  mounted() {
    this.getDetail();
  },
  methods: {

    // 获取支付详情
    getDetail(){
        getPayDetailAPI({type:'0'}).then(res => {
            let data = res.data.data
          if(res.data.code == 0){
              this.formList= data
              this.formList.payType= data.payType?data.payType.split(""):[]
            // this.formList.payType= []
          }
        });
    },
    // 添加学校 修改学校
    submitFrom(dataForm) {
      this.$refs["dataForm"].validate(valid => {
        if (valid) {
            let obj = JSON.parse(JSON.stringify(this.formList))
            obj.payType = obj.payType.join("")
            savePaySetAPI(obj).then(res => {
              if (res.data.code === 0) {
                  // this.getDetail()
                this.$message.success("支付设置成功");
                
              }
              else {
                this.$message.error(res.data.msg);
              }
            })
        }
      })
    },
    
  }
};
</script>

<style rel="stylesheet/scss" lang="scss" scoped>
.container-set{
    margin-top: 60px;
}
</style>

