<template>
  <!--活动详情-->
  <div class="activityD">
    <div class="activityDetail">
      <div class="activityDetailTit">
        <h1>{{detail.title}}</h1>
        <div>

          <h2 v-if="detail.createTime">发布时间：{{detail.createTime.substr(0,10)}}</h2><h2 v-if="detail.startTimedate">报名时间：{{detail.startTimedate}}——{{detail.endTimedate}}</h2><h2 v-if="detail.num">活动名额：{{detail.num}}人</h2>
        </div>
      </div>
      <div class="activityDetailCont">
        <div v-html="detail.content" class="noticeDetailCont"></div>
      </div>
      <div class="activityBtn">
        <span v-if="detail.applyStatus==3" @click="signUp">报名</span>
        <span v-else @click="noSignUp" class="nofrom">{{status[detail.applyStatus]}}</span>

      </div>
    </div>

    <div v-if="signUpShow">
      <activity-sign :list="list" :form="form" :title="title" @onSubmit="onSubmit" @closeSign="signUpShow=false"></activity-sign>
    </div>
  </div>
</template>

<script>
import activityList from "./../components/activityList";
import {getActivityDetailAPI,getApplyFromAPI,saveActApplyAPI} from "@/api/personal/activity"
import activitySign from "../components/activitySign"
import {changeFromData,judgeValue} from "@/utils/changedata"
  export default {
    components: {activitySign,activityList},
    data() {
      return {
        status:{
        '0':'已报名',
        '1':'已过期',
        '2':'报名人满',
        '3':'可报名',
        '4':'未开启'
        },
        title:'填写报名信息',
        isShow: false,
        detail:{
          title:'',
          releaseTime:'',
          content:''
        },
        signUpShow:false,
        list:[],
        form:{
          activityId:'',
          value:""
        },
      }
    },
    mounted(){
      this.getDetail()
    },
    methods: {
      // 获取活动详情
      getDetail(){
        const id = this.$route.query.id
        getActivityDetailAPI(id).then(res =>{
          res.data.code === 0 ?
          (this.detail = res.data.data)
          :this.$message.error('获取活动详情失败')
        })
      },
      // 不可以报名
      noSignUp(){
        this.$message.error('当前活动不可以进行报名')
      },
      //报名弹窗
    signUp(){
      this.activityId = ''
        getApplyFromAPI(this.detail.formId).then(res=>{
          const data = res.data
          if(data.code === 0){
            this.list = data.data
            this.list.forEach(element => {
              if(element.type =='checkbox'){
                this.form[element.name] = []
              }
            });
          }else{
            this.$message.error(data.msg)
          }
        })
        this.activityId = this.detail.id
        this.signUpShow = true
    },
    // // 判断活动中的所有字段是否都填完整
    // judgeValue(value,list){
    //   let status = list.length
    //   for(var prop in value){
    //     if(value[prop]){
    //       status -= 1
    //     }
    //   }

    //   return status ===0
    // },
    // 报名创建
    onSubmit(value){
      if(judgeValue(value,this.list)){
        const data = {
          'activityId':this.activityId,
          'value':JSON.stringify(changeFromData(this.list,value))
        }
        saveActApplyAPI(JSON.stringify(data)).then(res=>{
          if(res.data.code == 0){
            this.form = {}
            this.signUpShow = false
            this.getDetail()
            this.$message.success('报名信息提交成功')
          }else{
            this.$message.error(res.data.msg)
            this.signUpShow = false
          }
        })
        }else{
          this.$message.error("所有项目为必填")
        }
    },
    }
  }
</script>

<style scoped lang="less">
  .activityD {
    // height: auto;
    min-height: 500px;
    overflow: hidden;
    box-shadow: 0px 2px 8px 0px rgba(1, 2, 2, 0.06);
    .activityDetail {
      width: 1140px;
      min-height: 430px;
      margin: 0 auto 30px;
      border-top: 3px solid #3279FF;
      padding: 40px 30px 80px 30px;
      overflow: hidden;
      .activityDetailTit {
        display: flex;
        align-items: center;
        flex-direction: column;
        border-bottom: 1px dashed #CCCCCC;
        padding-bottom: 10px;
        h1 {
          font-size: 18px;
          font-family: 'Microsoft YaHei';
          font-weight: bold;
          color: rgba(85, 85, 85, 1);
          line-height: 50px;

        }
        div {
          font-size: 12px;
          font-family: 'Microsoft YaHei';
          font-weight: 400;
          color: rgba(153, 153, 153, 1);
          line-height: 30px;
          display: flex;
          flex-direction: row;
          h2 {
            margin-right: 30px;font-size: 12px;
            font-family: 'Microsoft YaHei';
            font-weight: 400;
          }
        }
      }
      .activityDetailCont {
        padding-top: 40px;
        p {
          text-indent: 2em;
          font-size: 14px;
          font-family: 'Microsoft YaHei';
          font-weight: 400;
          color: rgba(85, 85, 85, 1);
          line-height: 36px;
        }
      }
      .activityBtn {
        width: 100%;
        margin-top: 50px;
        display: flex;
        justify-content: center;
        cursor: pointer;
        span {
          width: 162px;
          height: 36px;
          background: rgba(50, 121, 255, 1);
          border-radius: 18px;
          font-size: 14px;
          font-family: 'Microsoft YaHei';
          font-weight: 400;
          color: rgba(255, 255, 255, 1);
          text-align: center;
          line-height: 36px;
        }
        .nofrom{
          background: #E3E3E3;
        }
      }
    }
    /*弹出框*/
    .activityEla {
      width: 100%;
      height: 100%;
      position: fixed;
      top: 0;
      left: 0;
      z-index: 1;
      background: rgba(0, 0, 0, 0.2);
      display: flex;
      justify-content: center;
      align-items: center;
      .activityECont {
        width: 600px;
        height: auto;
        background: #fff;
        .activityECTit {
          width: 100%;
          height: 36px;
          line-height: 36px;
          background: rgba(244, 244, 244, 1);
          border-radius: 3px 3px 0px 0px;
          display: flex;
          justify-content: space-between;
          h1 {
            font-size: 14px;
            font-family: 'Microsoft YaHei';
            font-weight: bold;
            color: rgba(69, 69, 69, 1);
            padding-left: 15px;
          }
          span {
            font-size: 16px;
            font-family: 'Microsoft YaHei';
            color: #999999;
            margin-right: 15px;
            cursor: pointer;

          }
        }
        .activityMess {
          padding-left: 50px;
          padding-top: 25px;
          padding-right: 50px;
          padding-bottom: 20px;
          ul {
            li {
              height:auto;
              overflow: hidden;
              display: flex;
              justify-content: space-between;
              overflow: hidden;
              margin-bottom: 10px;
              h1 {
                width: 87px;font-size: 14px;
                font-family: 'Microsoft YaHei';
                font-weight: 400;
              }
              h2 {font-size: 14px;
                font-family: 'Microsoft YaHei';
                font-weight: 400;
                width: 50px;

              }
              h1, h2 {
                font-size: 14px;
                font-family: 'Microsoft YaHei';
                font-weight: 400;
                color: rgba(102, 102, 102, 1);
                line-height: 38px;
                text-align: right;
              }
              h3 {
                width: 403px;
                font-size: 14px;
                font-family: 'Microsoft YaHei';
                font-weight: 400;
                color: rgba(102, 102, 102, 1);
                line-height: 38px;
              }
              p {
                width: 403px;
                font-size: 14px;
                font-family: 'Microsoft YaHei';
                font-weight: 400;
                color: rgba(102, 102, 102, 1);
                line-height: 24px;
              }
              .activityM1, .activityM2 {
                height: 40px;
                input {
                  width: 158px;
                  height: 38px;
                  background: rgba(255, 255, 255, 1);
                  border: 1px solid rgba(220, 223, 230, 1);
                  border-radius: 3px;
                  padding-left: 5px;
                }
              }
              .activityM3 {
                width: 255px;
                display: flex;
                justify-content: space-between;
                height: 40px;
                .activityTime{
                  width: 158px;
                  height: 38px;
                  background: rgba(255, 255, 255, 1);
                  border: 1px solid rgba(220, 223, 230, 1);
                  border-radius: 3px;
                  padding-left: 5px;
                  display: flex;
                  justify-content:
                space-between;
                  align-items: center;
                  input{
                    width:135px;
                    float: left;
                    display: block;
                    height:38px;
                    border: none;
                    line-height: 38px;
                  }
                  span{
                    cursor: pointer;
                    margin-right: 10px;
                    img{
                      width:11px;
                      height:6px;
                    }
                  }

                }
              }
              .activityM4 {
                width: 220px;
                display: flex;
                justify-content: space-between;
                height: 40px;
                .activityCity{
                  width: 158px;
                  height: 38px;
                  background: rgba(255, 255, 255, 1);
                  border: 1px solid rgba(220, 223, 230, 1);
                  border-radius: 3px;
                  padding-left: 5px;
                  display: flex;
                  justify-content:
                    space-between;
                  align-items: center;
                  input{
                    width:135px;
                    float: left;
                    display: block;
                    height:38px;
                    border: none;
                    line-height: 38px;
                  }
                  span{
                    cursor: pointer;
                    margin-right: 10px;
                    img{
                      width:11px;
                      height:6px;
                    }
                  }

                }
              }

              .activityM1 {
                width: 255px;
                display: flex;
                justify-content: space-between;

              }
              .activityM2 {
                width: 220px;
                display: flex;
                justify-content: space-between;
                .activitySex {
                  width: 150px;
                  line-height: 40px;
                  div {
                    width: 58px;
                    float: left;
                    display: block;
                    font-size:14px;
                    font-family:'Microsoft YaHei';
                    font-weight:400;
                    color:rgba(50,121,255,1);
                    img {
                      float: left;
                      display: block;
                      margin-top: 13px;
                      margin-right: 3px;
                      width:14px;
                      height:14px;
                    }
                  }
                }
              }
              .forumUpload{
                width:410px;
                display: block;
                overflow: hidden;
                .button{
                  cursor: pointer;
                  width:165px;
                  height:38px;
                  background:rgba(236,242,252,1);
                  border:1px solid rgba(50,121,255,1);
                  border-radius:3px;
                  font-size:14px;
                  font-family:'Microsoft YaHei';
                  font-weight:400;
                  color:rgba(50,121,255,1);
                  line-height:38px;
                  text-align: center;
                  margin-bottom: 8px;
                  float: left;
                  margin-right: 8px;
                }
                h1{
                  height:48px;
                  line-height: 40px;
                  font-size:12px;
                  font-family:'Microsoft YaHei';
                  font-weight:400;
                  color:rgba(242,161,45,1);
                }
                p{
                  width:100%;
                  height:auto;
                  font-size:14px;
                  font-family:'Microsoft YaHei';
                  font-weight:400;
                  color:rgba(153,153,153,1);
                  line-height:28px;
                }

              }
              .activityM5{
                display: flex;
                justify-content: space-between;

                input{
                  width:403px;
                  height: 38px;
                  background: rgba(255, 255, 255, 1);
                  border: 1px solid rgba(220, 223, 230, 1);
                  border-radius: 3px;
                  padding-left: 5px;
                }
                textarea{
                  width:398px;
                  height: 66px;
                  background: rgba(255, 255, 255, 1);
                  border: 1px solid rgba(220, 223, 230, 1);
                  border-radius: 3px;
                  padding: 5px;
                  resize: none;
                }
              }
            }
          }
        }

      }
      .activityEBtn {
        width: 100%;
        height: 32px;
        line-height: 32px;
        margin-bottom: 30px;
        .submint{
          display: inline-block;
          margin-left:340px;
          width: 96px;
          height: 32px;
          background: rgba(50, 121, 255, 1);
          border-radius: 4px;
          font-size: 12px;
          font-family: 'Microsoft YaHei';
          font-weight: 400;
          color: rgba(255, 255, 255, 1);
          cursor: pointer;
          text-align: center;
          margin-right: 10px;
        }
        .cancel{
          width:96px;
          height:32px;
          border:1px solid rgba(220,223,230,1);
          border-radius: 4px;
          font-size: 12px;
          font-family: 'Microsoft YaHei';
          font-weight: 400;
          cursor: pointer;
          color:rgba(153,153,153,1);
          display: inline-block;
          text-align: center;
        }
      }

    }
  }

</style>
