<template>
    <div class="activity">
        <div class="activity-new">
            <titleNav :titleMsg="activityTitle" @toActivity="toActivity"></titleNav>
            <loading v-if="LoadStatus"></loading>
            <div v-else>
              <div v-if="actList.length > 0">
                <activityList :list="actList" :disabled="disabled" @signUp="signUp"></activityList>
              </div>
              <div v-else class="act-none">
                <img  src="@/assets/img/12-暂无内容.jpg" alt="">
              </div>
            </div>
        </div>
        <div class="activity-all">
            <titleNav :titleMsg="regisRecord"></titleNav>
            <div class="regis-record">
                <div class="activity-nav">
                    <span class="nav-title title1">活动名称</span>
                    <span class="nav-title title2">报名日期</span>
                    <span class="nav-title title3">状态</span>
                    <span class="nav-title title4">操作</span>
                </div>
                <loading v-if="isLoading"></loading>
                <div v-else>
                  <ul v-if="entryRecordList.length > 0">
                    <li v-for="(item, index) in entryRecordList" :key="index">
                        <div class="activity-con">
                            <div class="activity-table con1"><router-link :to="{name:'activityDetail',query:{id:item.activityId}}" :title="item.name">{{item.name}}</router-link></div>
                            <div class="activity-table con2">{{item.createTime}}</div>
                            <div class="activity-table con3 unpass" v-if="item.status=='-1'" >
                                {{status[item.status]}}
                                <img v-show="item.remake" src="@/assets/img/noOk.png" alt="" style="margin-left:9px;" @click="checkReason(item)">
                            </div>
                            <div class="activity-table con3" v-else>
                                {{status[item.status]}}
                            </div>
                            <div class="activity-table con4" v-if="item.status=='-1'" @click="signUp(item,1)">修改报名信息</div>
                            <div class="activity-table con4" v-else @click="signUp(item,2)">查看报名信息</div>
                        </div>
                    </li>
                  </ul>
                  <div v-else class="activity-none">
                    <img  src="@/assets/img/12-暂无内容.jpg" alt="">
                  </div>
                </div>

                <div class="pagination-container">
                  <pagination class="paddingTop" @change="pageChange" :current-page="listQuery.pageNum" :page-size="listQuery.pageSize" :total-page="lastPage" v-if="total&&total>0"></pagination>
                </div>
            </div>
        </div>
        <!-- 报名 -->
        <div v-if="signUpShow">
        <activity-sign :list="list" :title="title" :disabled="disabled" :form="form" @onSubmit="onSubmit" @closeSign="signUpShow=false"></activity-sign>
        </div>

      <v-alert :alertModelOptions="alertOptions"></v-alert>

    </div>
</template>
<script>
import titleNav from "../components/title";
import Loading from "../components/loading";
import activityList from "../components/activityList";
import activitySign from "../components/activitySign"
import {getNewActListAPI,getApplyFromAPI,editActApplyAPI,getEntryRecordAPI,getactivityDetailAPI,saveActApplyAPI} from "@/api/personal/activity"
import {changeContent} from "@/utils/changeContent"
import {changeFromData,changeFromList,judgeValue} from "@/utils/changedata"

export default {
  data() {
    return {
      title:'填写报名信息',
      activityTitle: "活动报名",
      regisRecord: "报名记录",
      actList:[],
      isShow: false,
      reasonShow:false,
      signUpShow:false,
      form:{
      },
      applyDetail:{},
      list:[],
      alertOptions: {},
      show:false,
      listQuery:{
        pageNum:1,
        pageSize:10,
      },
      entryRecordList:[],
      status:{
        '-1':'未通过',
        '0':'待审核',
        '1':'已通过',
      },
      activityApplyId:"",
      disabled:false,
      total:null,
      lastPage:0,
      isLoading:false,
      LoadStatus:false,
    };
  },
  mounted(){
    this.getActList()
    this.getEntryRecord()
  },
  methods: {
    // 最近活动列表
    getActList(){
      this.LoadStatus = true
      getNewActListAPI(2).then(res =>{
        if(res.data.code === 0){
          this.actList = changeContent(res.data.data)
          this.LoadStatus = false
        }else{
          this.$message.error('请求活动列表数据失败')
        }
      })
    },
    // 报名记录
    getEntryRecord(){
      this.isLoading = true
      getEntryRecordAPI(this.listQuery).then(res=>{
        if(res.data.code === 0){
          this.entryRecordList = res.data.data.list
          this.total = res.data.data.total;
          this.lastPage = Math.ceil(Number(res.data.data.total) / Number(this.listQuery.pageSize));
          this.isLoading = false
        }else{
          this.$message.error('请求活动列表数据失败')
        }
      })
    },
    // 跳转活动列表
    toActivity(val){
      this.$router.push({
        name:'activityList'
      })
    },

    // 报名
    signUp(item,status){
      this.activityId = ''
      this.activityApplyId = ''


      if(status ==0){
        this.title = '填写报名信息'
        this.form = {}
        this.disabled = false
        getApplyFromAPI(item.formId).then(res=>{
        if(res.data.code === 0){
          this.list = res.data.data
          this.list.forEach(element => {
            if(element.type =='checkbox'){
              this.form[element.name] = []
            }
          });
          this.activityId = item.id
          this.signUpShow = true


        }else{
          this.$message.error('获取报名表单失败')
          }
        })

      }else if(status ==1){

        getApplyFromAPI(item.formId).then(res=>{
        if(res.data.code === 0){
          this.list = res.data.data

        }else{
          this.$message.error('获取报名表单失败')
          }
        })
        this.title = '修改报名信息'
        this.disabled = false
        this.activityApplyId = item.id
        this.applyDetail = JSON.parse(item.value)
        this.list = changeFromList(JSON.parse(item.value))
        this.changeDetail()
      }else if(status == 2){
        this.title = '查看报名信息'
        this.disabled = true
        this.activityApplyId = item.id
        this.applyDetail = JSON.parse(item.value)
        this.list = changeFromList(JSON.parse(item.value))

        this.changeDetail()
      }
    },
    // 修改返显数据
    changeDetail(){

      let obj ={}
      for(var prop in this.applyDetail){
        obj[prop] = this.applyDetail[prop].value
      }

        this.form = obj
        this.signUpShow = true
    },
    // // 判断活动中的所有字段是否都填完整
    // judgeValue(value,list){

    //   let status = list.length

    //   for(var prop in value){


    //     if(value[prop]){
    //       status -= 1
    //     }
    //     if(typeof(value[prop])=='object'&&value[prop].length==0){
    //       status += 1
    //     }

    //   return status ===0
    // },
    // 报名信息
    onSubmit(value){
      if(judgeValue(value,this.list)){
      if(this.activityId !== ''){

          const data = {
            'activityId':this.activityId,
            'value':JSON.stringify(changeFromData(this.list,value))
          }
          saveActApplyAPI(JSON.stringify(data)).then(res=>{
            if(res.data.code == 0){
              this.form = {}
              this.signUpShow = false
              this.getActList()
              this.getEntryRecord()
              this.$message.success('报名信息提交成功')
            }else{
              this.$message.error(res.data.msg)
              this.signUpShow = false
            }
          })

      }else if(this.activityApplyId !==''){

        const data = {
          'activityApplyId':this.activityApplyId,
          'value':JSON.stringify(changeFromData(this.list,value))
        }
        editActApplyAPI(JSON.stringify(data)).then(res=>{
          if(res.data.data){
            this.form = {}
            this.signUpShow = false
            this.$message.success('报名信息提交成功')
            this.getEntryRecord()
          }else{
            this.$message.error(res.data.msg)
            this.signUpShow = false
          }
        })
      }
      }else{
          this.$message.error("所有项目为必填")
        }
    },
    // 查看未通过
    checkReason(item){
        /*this.reasonShow = true;*/
      this.alertOptions = {
        show: true,
        warning:'报名未通过',
        msg: item.remake,
        sureText: false,
        cancelText: '关闭',
        showClose:true,
        width:360,
        btn:2,
        sure() {
        },
        cancel() {
          this.show = false;
        }
      }
    },

    // 页数改变
    pageChange(val) {
      this.listQuery.pageNum = val
      this.getActList()
    },
    /*切换page*/
    pageChange(val) {

      this.listQuery.pageNum = val
      this.getEntryRecord();
    },
  },
  components: { titleNav, activityList,activitySign,Loading }
};
</script>
<style scoped>
.activity-all{
  /* width: 100%; */
  width: 978px;
}
.activity-new {
  width: 978px;
  border-bottom: 27px solid #f4f5f9;
}
/* 报名记录 */
.regis-record {
  margin: 21px 27px;
}
.activity-nav {
  width: 924px;
  line-height: 36px;
  height: 36px;
  font-size: 0px;
  background: #f5f5f5;
}
.nav-title {
  display: inline-block;
  font-size: 14px;
  font-family: 'Microsoft YaHei';
  color: #454545;
  font-weight: bold;
  text-align: center;
}
.title1 {
  width: 344px;
}
.title2 {
  width: 230px;
}
.title3 {
  width: 170px;
}
.title4 {
  width: 180px;
}

.activity-con {
  display: flex;
  font-size: 0px;
  line-height: 60px;
}
.activity-table {
  text-align: center;
  font-size: 14px;
  border-left: 1px solid #eee;
  border-bottom: 1px solid #eee;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.con4:hover{
  cursor: pointer;
}
.con1 {
  padding: 0 10px;
  width: 342px;
}
.con1:hover{
  color: #3279ff;
}
.con2 {
  width: 229px;
  color: #454545;
}
.con3 {
  width: 169px;
}
.unpass {
  color: #3279ff;
}
.con4 {
  width: 179px;
  color: #ffa32b;
  border-right: 1px solid #eee;
}
.act-none{
  display: flex;
  justify-content: center;
  height: 400px;
  margin: 0 auto;
}
.activity-none{
  width: 100%;
  display: flex;
  justify-content: center;
}
</style>
<style scoped lang="less">

/* 查看报名信息 */
.feedbackEla {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  background: rgba(0, 0, 0, 0.2);
  display: flex;
  justify-content: center;
  align-items: center;
  .feedbackECont {
    width: 600px;
    height: auto;
    background: #fff;
    .feedbackECTit {
      width: 100%;
      height: 36px;
      line-height: 36px;
      background: rgba(244, 244, 244, 1);
      border-radius: 3px 3px 0px 0px;
      display: flex;
      justify-content: space-between;
      h1 {
        font-size: 14px;
        font-family: 'Microsoft YaHei';
        font-weight: bold;
        color: rgba(69, 69, 69, 1);
        padding-left: 15px;
      }
      span {
        font-size: 16px;
        font-family: 'Microsoft YaHei';
        color: #999999;
        margin-right: 15px;
        cursor: pointer;
      }
    }
    .feedbackMess {
      padding-left: 50px;
      padding-top: 25px;
      padding-right: 50px;
      padding-bottom: 20px;
      ul {
        li {
          display: flex;
          justify-content: space-between;
          overflow: hidden;
          h1 {
            width: 85px;
          }
          h2 {
            width: 50px;
          }
          h1,
          h2 {
            font-size: 14px;
            font-family: 'Microsoft YaHei';
            font-weight: 400;
            color: rgba(102, 102, 102, 1);
            line-height: 38px;
            text-align: right;
          }
          h3 {
            width: 403px;
            font-size: 14px;
            font-family: 'Microsoft YaHei';
            font-weight: 400;
            color: rgba(102, 102, 102, 1);
            line-height: 38px;
          }
          p {
            width: 403px;
            font-size: 14px;
            font-family: 'Microsoft YaHei';
            font-weight: 400;
            color: rgba(102, 102, 102, 1);
            line-height: 24px;
          }
          .feedbackM1,
          .feedbackM2 {
            height: 38px;
            span {
              width: 160px;
              line-height: 38px;
              font-size: 14px;
              font-family: 'Microsoft YaHei';
              font-weight: 400;
              color: rgba(102, 102, 102, 1);
            }
          }
          .feedbackM1 {
            width: 255px;
            display: flex;
            justify-content: space-between;
          }
          .feedbackM2 {
            width: 215px;
            display: flex;
            justify-content: space-between;
          }
        }
      }
    }
  }
  .sign-up{
      width: 360px;
  }
  .feedbackEBtn {
    width: 100%;
    text-align: center;
    height: 32px;
    line-height: 32px;
    margin-bottom: 30px;
    span {
      display: inline-block;
      width: 96px;
      height: 32px;
      background: rgba(50, 121, 255, 1);
      border-radius: 4px;
      font-size: 12px;
      font-family: 'Microsoft YaHei';
      font-weight: 400;
      color: rgba(255, 255, 255, 1);
      cursor: pointer;
    }
  }
}
</style>
<style>
.formSubmit .el-button--primary{
     padding: 11px 36px;
     background: #3279FF;
     font-size: 12px;
}
.formSubmit .el-button--default{
    color:#999999;
    padding: 11px 36px;
    font-size: 12px;
}
</style>


