<template>
  <!--活动列表-->
  <div class="activityList">
    <titleNav :titleMsg="bookTitle"></titleNav>
    <div v-if="isLoading" class="activityItem">
      <loading></loading>
    </div>
    <div v-else class="activityItem">
      <!-- <ul>
        <li v-for="(item,index) in actList" :key="index">
          <div class="activityItemTit">
            <h1><router-link :to="{name:'activityDetail',query:{id:item.id}}">{{item.title}}</router-link></h1>
            <span :style="{backgroundColor:1?'#3279FF':'#E3E3E3',color:1?'#ffffff':'#333333'}" @click="signUp">报名</span>
          </div>
          <p><router-link :to="{name:'activityDetail',query:{id:item.id}}">{{item.content}}</router-link></p>
          <h2>发布时间：{{item.createTime}}</h2>
        </li>
      </ul> -->
      <activityList v-if="actList.length > 0" :list="actList" @signUp="signUp"></activityList>
      <div v-else class="none">
              <img class="none-img" src="@/assets/img/12-暂无内容.jpg" alt="">
          </div>
    </div>
      <div class="pagination-container">
        <pagination class="paddingTop" @change="pageChange"
          :current-page="obj.pageNum"
          :page-size="obj.pageSize" :total-page="lastPage"></pagination>
        </div>

    <!-- 报名弹窗 -->
    <div v-if="signUpShow">
      <activity-sign :list="list" :form="form" :title="title" @onSubmit="onSubmit" @closeSign="signUpShow=false"></activity-sign>
    </div>

  </div>
</template>
<script>
import titleNav from '../components/title';
import activityList from "./../components/activityList";
import Loading from "../components/loading";
import {changeContent} from "@/utils/changeContent"
import activitySign from "../components/activitySign"
import {getActListAPI,getApplyFromAPI,saveActApplyAPI} from "@/api/personal/activity"
import {changeFromData,judgeValue} from "@/utils/changedata"
  export default {
    data() {
      return {
        obj:{
          pageNum:1,
          pageSize:4,
        },
        title:'填写报名信息',
        bookTitle: '所有活动',
        isShow: false,
        listQuery:{
          pageNum:1,
          pageSize:4,
        },
        actList:[],
        total:null,
        signUpShow:false,
        list:[],
        form:{
          activityId:'',
          value:""
        },
        lastPage:null,
        isLoading:false,
      }
    },
    created() {
    },
    mounted(){
      this.getActList(this.obj)
    },
    methods: {

      // 获取活动列表
      getActList(obj){
        this.obj = obj
        this.isLoading = true
        getActListAPI(obj).then(res =>{
          const data = res.data.data
          if(res.data.code === 0){
            this.actList = changeContent(data.list)
            this.isLoading = false
            this.lastPage = Math.ceil(Number(res.data.data.total) / Number(this.obj.pageSize));
          }else{
            this.$message.error('请求活动列表数据失败')
          }
        })
      },
    checkT() {
      this.isShow = true;
    },
    //报名弹窗
    signUp(item){
      this.activityId = ''
        getApplyFromAPI(item.formId).then(res=>{
        if(res.data.code === 0){
          this.list = res.data.data
          this.list.forEach(element => {
            if(element.type =='checkbox'){
              this.form[element.name] = []
            }
          });
        }else{
          this.$message.error('获取报名表单失败')
          }
        })
        this.activityId = item.id
        this.signUpShow = true
    },
    // // 判断活动中的所有字段是否都填完整
    // judgeValue(value,list){
    //   let status = list.length
    //   for(var prop in value){
    //     if(value[prop]){
    //       status -= 1
    //     }
    //   }
    //   return status ===0
    // },
    // 报名创建
    onSubmit(value){

      if(judgeValue(value,this.list)){
        const data = {
          'activityId':this.activityId,
          'value':JSON.stringify(changeFromData(this.list,value))
        }
        saveActApplyAPI(JSON.stringify(data)).then(res=>{
          if(res.data.code == 0){
            this.form = {}
            this.signUpShow = false
            this.getActList(this.obj)
            this.$message.success('报名信息提交成功')
            this.getActList(this.obj)
          }else{
            this.$message.error(res.data.msg)
            this.signUpShow = false
          }
        })
      }else{
        this.$message.error("所有项目为必填")
      }

    },
    // 页数改变
    pageChange(val) {
      this.obj.pageNum = val
      this.getActList(this.obj)
    }
    },
    components: { activityList,activitySign,titleNav,Loading }
  }
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped lang="less">
  .activityList {
    height: auto;
    .activityItem {
      padding: 0 27px;
      min-height: 450px;
      ul {
        li {
          padding-top: 21px;
          display: block;
          overflow: hidden;
          border-bottom: 1px solid #EEEEEE;
          .activityItemTit{
            height:32px;
            line-height: 32px;
            display: flex;
            justify-content: space-between;
            padding-bottom:13px;
            a:hover{
              color:#3279FF
            }
            h1{
              font-size:16px;
              font-family:'Microsoft YaHei';
              font-weight:400;
              color:rgba(51,51,51,1);
            }
            span{
              width:83px;
              height:32px;
              border-radius:16px;
              font-size:14px;
              font-family:'Microsoft YaHei';
              font-weight:400;
              color:rgba(255,255,255,1);
              line-height:32px;
              text-align: center;
              cursor: pointer;
            }
          }
          p{
            height:40px;
            font-size:14px;
            font-family:'Microsoft YaHei';
            font-weight:400;
            color:rgba(102,102,102,1);
            line-height:26px;
            padding-bottom: 16px;
          }
          a:hover{
              color:#3279FF
            }
          h2{
            font-size:14px;
            font-family:'Microsoft YaHei';
            font-weight:400;
            color:rgba(153,153,153,1);
            line-height:26px;
            padding-bottom: 30px;
          }
        }
      }
      .none{
        width: 1200px;
        margin: 0 300px;
        .none-img{
          display: flex;
          justify-content: center;
          width: 100%;
        }
      }
    }
    .pagination-container{
      margin: 50px;
      .btn-prev{
        border: 1px solid #DADADA;
        margin: 0 4px;
      }
    }
  }
</style>
