<template>

  <div class="createPost-container"  id="addMajorCss">
    <div class="createPost-main-container">
      <el-form
        :rules="rules"
        ref="dataForm"
        :model="formList"
        label-position="right"
        label-width="150px"
        class="form-container"
      >
        <el-row>
          <el-form-item label="部门名称：" prop="departmentId">
            <el-select v-model="formList.departmentId" style="width:300px" clearable placeholder="请选择部门">
              <el-option
                v-for="item in deptList"
                :key="item.id"
                :label="item.name"
                :value="item.id">
              </el-option>
            </el-select>
          </el-form-item>
          <el-form-item label="专业名称：" prop="name">
            <el-input
              v-model="formList.name" style="width:300px"
              placeholder="请输入专业名称"
            ></el-input>
          </el-form-item>
          <el-form-item label="专业代码：" class="major" v-if="major">
            <input type="text"  class="modifyCss" v-model="formList.code" disabled style="background: #fff" v-if="isModify"  placeholder="请选择专业代码">
            <el-cascader
              :options="major"
              :show-all-levels="false"
              :props="{
             value: 'id',
            label: 'name',
            children: 'children'}"
              v-model="distributor"
              class="cascaderCss"
              :style="{border:(isdistributorAdd?'1px solid #F56C6C':'1px solid #DCDFE6'),'border-radius':' 4px'}" placeholder="请选择专业代码"
              @change="handleChange"  ></el-cascader>
            <div class="provinceCont"><i>*</i></div>
            <div class="provinceError" v-if="isdistributorAdd">请选择专业代码</div>
          </el-form-item>
          <!-- <el-form-item label="专业代码：">
            <el-cascader
              :options="major"
              :show-all-levels="false"
              :props="{
                value: 'id',
                label: 'name',
                children: 'children'
              }"
              @change="handleChange"
            ></el-cascader>
          </el-form-item> -->



          <el-form-item label="映射专业名称：" prop="mappingMajorName">
            <el-input
              v-model="formList.mappingMajorName" style="width:300px" :disabled="true"
              placeholder="请输入映射专业名称"
            ></el-input>
          </el-form-item>
          <el-form-item label="描述：" prop="text" :style="widthStatus?'width:800px;':'width:450px;'">
            <span v-html="formList.text" class="describe" style=""></span>
          </el-form-item>
          <el-form-item>
            <el-button class="form-submit" @click="submitFrom">保存</el-button>
            <el-button @click="close">取消</el-button>
          </el-form-item>
        </el-row>
      </el-form>
    </div>
  </div>
</template>

<script>
  import {getDepListAPI, saveAPI, getDetailAPI, updateAPI, getMajorAPI,getMajorDetailAPI} from "@/api/backstage/basicInfo/major";
  import store from "@/store";
  export default {
    data() {
      return {
        formList: {
          departmentId:'',
          name:'',
          mappingMajorName:'',
          text:''

        },
        deptList: [],
        departListQuery: {
          pageNum: 1,
          pageSize: 100
        },
        isModify:false,
        cityProps: {
          value: 'all', label: 'name', all: {
            value: 'id',
            label: 'name'
          }
        },
        majorDetail:{},
        major: [{
          children: [{id: 1, name: "机床切削加工（车工）",children: [{id: 1, name: "机床切削加工（车工）"}]}],
          id:19,
          name:"　机　械　类",
        }],
        distributor:null,
        isdistributorAdd: false,
        rules: {
          departmentId: [{required: true, message: "请选择部门名称", trigger: "change"}],
          name: [{required: true, message: "请输入专业名称", trigger: "change"}, {
            max: 20,
            message: "请输入20字以内的专业名称",
            trigger: "change"
          }],
          value: [{required: true, message: "请输入专业代码", trigger: "change"}],
          mappingMajorName: [{required: true, message: "请输入映射专业名称", trigger: "change"}],
          /*sort: [ {required: true,message: "请输入排序",trigger: "change"}],*/
        },
        widthStatus:false,

      };
    },
    created() {
      this.getMajor();
    },
    mounted() {
      this.getDepartmentList()

      this.title = this.$route.query.title;
      this.$route.meta.title = this.title;
      if(this.$route.query.id!=undefined){
        this.getDetail();
      }
    },
    methods: {
      //   获取部门列表
      getDepartmentList() {
        // this.departListQuery.token = this.$store.getters.userToken
        getDepListAPI(this.departListQuery).then(res => {
          res.data.code === 0
            ? (this.deptList = res.data.data)
            : this.$message.error("请求出错啦");
        });
      },
      // 获取详情
      getDetail() {
        let id = this.$route.query.id;
        if (id && this.title != "添加专业") {
          getDetailAPI(id).then(res => {
            const data = res.data.data
            if (res.data.code === 0) {
              this.formList = data
              this.formList.codes = JSON.parse(data.codes)
              this.distributor = this.formList.codes
              this.widthStatus = true
              this.getMajorDetail(this.distributor[2])
            } else {
              this.$message.error("请求出错啦");
            }
          });
        }
        this.isModify=true;
      },


      // 保存
      submitFrom() {
        if(typeof(this.formList.codes)=='object'){
            this.formList.codes = JSON.stringify(this.formList.codes)
        }
        this.$refs["dataForm"].validate(valid => {
          if(this.distributor&&this.distributor.length>0){
            this.isdistributorAdd=false;
            this.formList.code=this.majorDetail.code;

          }else{
            this.isdistributorAdd=true;
          }
          if (valid && !this.isdistributorAdd) {
            if (this.title == "添加专业") {
              saveAPI(this.formList).then(res => {
                const code = res.data.code
                if (code === 0) {
                  this.$message.success("添加专业成功");
                  this.$router.back();
                } else {
                  this.$message.error(res.data.msg);
                }
              })
            } else if (this.title == "修改专业") {
              this.formList.id = this.$route.query.id,
              updateAPI(this.formList).then(res => {
                const code = res.data.code
                if (code === 0) {
                  this.$message.success("修改专业成功");
                  this.$router.back();
                } else {
                  this.$message.error(res.data.msg);
                }
              })
            }
          }
        });
      },

      /*专业分类*/
      getMajor() {
        getMajorAPI().then(res => {
          if (res.data.code == 0) {
            this.major = res.data.data;
          }
        })
      },
      getMajorDetail(id){
        getMajorDetailAPI(id).then(res=>{
          if(res.data.code==0){
            this.majorDetail=res.data.data;
            this.$set(this.formList,'mappingMajorName',res.data.data.pname);
            this.$set(this.formList,'text',res.data.data.ability);
          }
        })
      },

      /*选择专业分类*/
      handleChange(value) {
        if(this.distributor&&this.distributor.length>0){
          this.isdistributorAdd=false;
          this.formList.code=this.majorDetail.code;
          this.widthStatus = true
        }else{
          this.isdistributorAdd=true;
        }
        this.isModify=false;
        let id=value[2];
        this.formList.codes = JSON.stringify(value)
        this.getMajorDetail(id);

      },
      close() {
        this.$router.back()
      },


      // 查看返回
      backBtn() {
        this.$router.back();
      }
    }
  };
</script>

<style rel="stylesheet/scss" lang="scss" scoped>
  @import "src/style/mixin.scss";

  .createPost-container {
    position: relative;
    .createPost-main-container {
      padding: 50px;
      .el-dialog__header {
        background: #15d;
        color: #fff;
      }
    }
  }

  .upload-demo {
    margin-left: 10px;
  }
  .major {
    position: relative;
    .modifyCss {
      position: absolute;
      z-index: 11;
      border-radius: 4px;
      border: 1px solid #DCDFE6;
      box-sizing: border-box;
      color: #606266;
      display: inline-block;
      font-size: inherit;
      height: 40px;
      line-height: 40px;
      width: 300px;
      padding: 0 15px;
    }
    .provinceCont {
      position: absolute;
      top: 0;
      left: -93px;
      i {
        color: #F56C6C;
      }
    }
    .provinceError {
      color: #F56C6C;
      font-size: 12px;
      line-height: 1;
      padding-top: 4px;
      position: absolute;
      top: 100%;
      left: 0;
    }

  }
  .createPost-container .describe{
    border:1px solid rgb(220, 223, 230);
    overflow: hidden;
    display: block;
    border-radius: 4px;
    padding:10px 15px;
    min-height: 18px;

  }
</style>

