<template>
    <div class="app-container calendar-list-container">
        <div class="nav-buttons-container">

            <!-- <el-button @click="addBtn">添加</el-button>
            <el-button @click="importBtn">批量导入</el-button>


            <el-button @click="pringBtn">批量导出</el-button> -->
            <router-link :to="{ path:`addMajor`,query:{title:'添加专业'}}" ><el-button v-if="authBtns.filter(i => i.idName=='addBtn').length>0 && authBtns.filter(i => i.idName=='addBtn')[0].icon">{{authBtns.filter(i => i.idName=='addBtn')[0].name}}<i  :class="[authBtns[authBtns.map(i => i.idName).indexOf('addBtn')].icon, 'el-icon--right']"></i></el-button></router-link>
            <el-button v-if="authBtns.filter(i => i.idName=='batchDeleteBtn').length>0 && authBtns.filter(i => i.idName=='batchDeleteBtn')[0].icon" @click="batchDelete">{{authBtns.filter(i => i.idName=='batchDeleteBtn')[0].name}}<i  :class="[authBtns[authBtns.map(i => i.idName).indexOf('batchDeleteBtn')].icon, 'el-icon--right']"></i></el-button>
            <el-button v-if="authBtns.filter(i => i.idName=='batchImportBtn').length>0 && authBtns.filter(i => i.idName=='batchImportBtn')[0].icon" @click="importBtn">{{authBtns.filter(i => i.idName=='batchImportBtn')[0].name}}<i  :class="[authBtns[authBtns.map(i => i.idName).indexOf('batchImportBtn')].icon, 'el-icon--right']"></i></el-button>
            <el-button v-if="authBtns.filter(i => i.idName=='batchPrintBtn').length>0 && authBtns.filter(i => i.idName=='batchPrintBtn')[0].icon" @click="printBtn">{{authBtns.filter(i => i.idName=='batchPrintBtn')[0].name}}<i  :class="[authBtns[authBtns.map(i => i.idName).indexOf('batchPrintBtn')].icon, 'el-icon--right']"></i></el-button>


        </div>

        <el-form inline class="form-inline">
    <el-row>
      <el-col :span="20">
      <el-form-item>
        <div class="choise">
          <div class="menu-choise" >部门：</div>
          <div class="con-choise">
            <div class="all-choise" :class="deptStatus == -1 ? 'blue' :''"  @click="choisedept()"  v-if="deptList" >全部</div>
            <ul>
                <li v-if="status?index<deptList.length:index<10" v-for="(item,index) in deptList" :key="index" @click="choisedept(item,index)" :class="deptStatus == index ?'blue':''">{{item.name}}</li>
                <li v-show="deptList.length >10&&status == false" @click="status=true">更多</li>
                <li v-show="deptList.length >10&&status ==true" @click="status=false">收起</li>
            </ul>
          </div>
        </div>
      </el-form-item>
      </el-col>
    </el-row>
    </el-form>


        <!-- 部门列表 -->
        <el-table
            :key="tableKey"
            :data="list"
            v-loading="listLoading"
            element-loading-text="给我一点时间"
            border=""
            highlight-current-row
            stripe
            @selection-change="chioceList"
        >
            <el-table-column type="selection" align="center"></el-table-column>
            <el-table-column type="index" label="序号" width="60" align="center"></el-table-column>
            <el-table-column label="部门名称" min-width="120" align="center">
                <template slot-scope="scope">
                    <span>{{scope.row.departmentName }}</span>
                </template>
            </el-table-column>
            <el-table-column label="专业名称" min-width="120" align="center">
                <template slot-scope="scope">
                    <span>{{scope.row.name}}</span>
                </template>
            </el-table-column>
            <el-table-column label="专业代码" min-width="140" align="center">
                <template slot-scope="scope">
                    <span>{{scope.row.code}}</span>
                </template>
            </el-table-column>
            <el-table-column label="专业介绍" min-width="240" align="center">
              <!-- <template slot-scope="scope">
              <el-popover

                placement="top-start"
                ref="popover1"
                width="300"
                trigger="hover"
                content="">
                <span v-html="scope.row.text"></span>
              </el-popover>
                <span v-popover:popover1>{{filterWord(scope.row.text,50)}}</span>
              </template> -->
                <!-- <template slot-scope="scope">
                    <span :title="scope.row.text">{{filterWord(scope.row.text,50)}}</span>
                </template> -->
                <template slot-scope="scope">

                <el-tooltip placement="top" effect="light">
                  <div style="width:400px;" slot="content"><span v-html="scope.row.text"></span></div>

                    <span>{{filterWord(scope.row.text,50)}}</span>
                </el-tooltip>

                </template>
            </el-table-column>
            <el-table-column class-name="small-padding fixed-width" width="100" label="操作"  align="center">
                <template slot-scope="scope">
                  <router-link  :to="{ path:`addMajor`, query:{id:scope.row.id,title:'修改专业'}}" v-if="authBtns.filter(i => i.idName=='editBtn').length > 0">
                    <i v-if="authBtns.filter(i => i.idName=='editBtn').length > 0" :class="authBtns.filter(i => i.idName=='editBtn')[0].icon" :title="authBtns.filter(i => i.idName=='editBtn')[0].name"></i>
                  </router-link>
                  <i v-if="authBtns.filter(i => i.idName=='deleteBtn').length > 0" :class="authBtns.filter(i => i.idName=='deleteBtn')[0].icon" :title="authBtns.filter(i => i.idName=='deleteBtn')[0].name" @click="deleteBtn(scope.row)"></i>

            <!-- <i @click="deleteBtn(scope.row)" :class="authBtns.filter(i => i.idName=='deletebtn')[0].icon" :title="authBtns.filter(i => i.idName=='deletebtn')[0].name"></i> -->
                  <!-- <el-button @click="editBtn">修改</el-button>
                  <el-button @click="viewBtn">查看</el-button>
                  <el-button @click="batchDeleteBtn">删除</el-button> -->
                </template>
            </el-table-column>
        </el-table>
        <div class="pagination-container">
            <el-pagination
                @size-change="handleSizeChange"
                @current-change="handleCurrentChange"
                :current-page="listQuery.pageNum"
                :page-sizes="[30,50,100,200,500]"
                :page-size="listQuery.pageSize"
                layout="total, sizes, prev, pager, next, jumper"
                :total="total"
                align="center"
            ></el-pagination>
        </div>
        <!-- 添加 -->
        <!-- <el-dialog :title="title" :visible.sync="dialogAddVisible" width="30%">
            <el-form
                :rules="rules"
                ref="departForm"
                :model="formList"
                label-position="right"
                label-width="80px"
                class="form-container"
            >
                <el-form-item label="部门名称" prop="name">
                    <el-col :span="20">
                        <el-input v-model="formList.name" placeholder="请输入部门名称"></el-input>
                    </el-col>
                </el-form-item>
                <el-form-item label="排序号" prop="sort">
                    <el-col :span="20">
                        <el-input v-model="formList.sort" placeholder="请输入排序号"></el-input>
                    </el-col>
                </el-form-item>
                <el-form-item label="所属学校" prop="schoolName">
                    <el-col :span="20">
                        <el-input v-model="userCompanyt.relationName" disabled></el-input>
                    </el-col>
                </el-form-item>
                <el-form-item >
                    <el-button v-if="subHidden" class="form-submit" @click="addDepartFrom('departForm')">确定</el-button>
                    <el-button v-if="!subHidden" plain @click="reset">关闭</el-button>
                    <el-button v-if="subHidden" plain @click="reset">取消</el-button>
                </el-form-item>
            </el-form>
        </el-dialog> -->
        <!-- 导入 -->
        <el-dialog
          title="导入Excel"
          :visible.sync="importExcDialog"
          width="25%"
          style="height:auto !important;"
        >
          <p>请选择要导入的文件，文件类型只支持Excel。</p>
          <div class="importExc">
            <input type="file" @change="fileSelect" ref="file">
            <a class="fake-download" :href="`${baseUrl}/school-sysuser/%E4%B8%93%E4%B8%9A%E5%AF%BC%E5%85%A5%E6%A8%A1%E6%9D%BF.xlsx`">下载模板文件</a>
          </div>
          <!-- <el-progress :percentage="downLoadVal" :stroke-width="12" color="#67C23A"></el-progress> -->
          <div slot="footer" class="dialog-footer">
            <el-button @click="confirmImport">确 定</el-button>
            <el-button @click="importExcDialog = false">取 消</el-button>
          </div>
        </el-dialog>
        <!-- 导入错误信息 -->
        <el-dialog
          title="错误信息"
          :visible.sync="errorExcDialog"
          width="55%"
          style="height:auto !important;"
        >

          <div class="importExc">
             <!-- 错误列表 -->
            <el-table
                :key="tableKey1"
                :data="errorList"
                v-loading="listLoading"
                element-loading-text="给我一点时间"
                border=""
                highlight-current-row
                stripe
                @selection-change="chioceList"
            >

                <el-table-column label="部门" min-width="100" align="center">
                    <template slot-scope="scope">
                        <span>{{scope.row.departmentName}}</span>
                    </template>
                </el-table-column>
                <el-table-column label="专业名称" min-width="120" align="center">
                    <template slot-scope="scope">
                        <span>{{scope.row.name}}</span>
                    </template>
                </el-table-column>
                <el-table-column label="专业代码" min-width="80" align="center">
                    <template slot-scope="scope">
                        <span>{{scope.row.code}}</span>
                    </template>
                </el-table-column>
                <el-table-column label="错误信息" min-width="140" align="center">
                    <template slot-scope="scope">
                        <span>{{scope.row.msg}}</span>
                    </template>
                </el-table-column>
            </el-table>
          </div>
          <div slot="footer" class="dialog-footer">
            <!-- <el-button @click="confirmImport">确 定</el-button> -->
            <el-button @click="printError">导出信息</el-button>
            <el-button @click="errorExcDialog = false">取 消</el-button>
          </div>
        </el-dialog>
    </div>
</template>

<script>
import { getDepartmentListAPI,getListAPI,batchDeleteAPI,excelImportAPI  } from "@/api/backstage/basicInfo/major";
import { getMultipleSelectionIDs } from "@/filters/getIds";
import { requestMsg, confirm } from "@/utils/publicFunctions";
import {baseUrl} from '@/utils/global'
import store from "@/store";

export default {
  data() {
    // 排序数
    const validateSort = (rule, value, callback) => {
      let reg = /^([1-9]\d{0,4})$/;
      if (!reg.test(value)) {
        callback(new Error("请输入1-9999之间的整数"));
      } else {
        callback();
      }
    };
    return {
      deptList:[],
      authBtns: [],
      batchList: [],
      listQuery: {
        pageNum: 1,
        pageSize: 100,
        departmentId:''
      },
      deptStatus:-1,
      status:false,
      baseUrl:baseUrl,
      subHidden:true,

      tableKey: 0,
      tableKey1: 0,
      list: null,
      total: null,
      listLoading: true,
      title: "添加",
      dialogAddVisible: false,
      formList: {
        name: "",
        relationId: "",
        sort: "",
        type: 0
      },
      importExcDialog: false,
      errorExcDialog:false,
      errorList:[],
      errorId:''
    };
  },
  created() {
    this.authBtns = store.getters.pageBtn[this.$route.meta.routerIds[0]];
  },
  mounted() {
    this.getDepartmentList()
    this.getList();
  },
  methods: {
    //   获取用户列表
    getList() {
      this.listLoading = true;
      const info = this.$route.query
      getListAPI(this.listQuery).then(res => {
        if (res.data.code === 0) {
          this.list = res.data.data.list;
            this.total = res.data.data.total;
          } else {
            this.$message.error("获取数据失败");
          }
          this.listLoading = false;
        });
     },

    //   获取部门列表
    getDepartmentList(){
      getDepartmentListAPI().then(res => {
          res.data.code === 0
            ? (this.deptList = res.data.data)
            : this.$message.error("请求出错啦");
        });
    },
    // 选择部门
    choisedept(item,index){
      this.deptStatus = index
      this.listQuery.departmentId = ''
      item ? (this.listQuery.departmentId = item.id):(this.deptStatus = -1)
      this.getList()

    },

    // 批量删除
    batchDelete(){
      if (this.batchList.length == 0) {
        this.$message.error("请选择至少一条记录进行操作");
      } else {
        const ids = getMultipleSelectionIDs(this.batchList);
        confirm.apply(this, ["确认删除吗？"]).then(() => {
          batchDeleteAPI(ids).then(res => {
            requestMsg.apply(this, [res.data, "删除"]);
            this.getList();
          });
        });
      }
    },
    // 删除一条
    deleteBtn(item){

      const ids = [item.id]
        confirm.apply(this, ["确认删除吗？"]).then(() => {
          batchDeleteAPI(ids).then(res => {
            requestMsg.apply(this, [res.data, "删除"]);
            this.getList();
          });
        });
    },
    // 导出
    printBtn(){
      if(this.list.length > 0){
        let obj = this.listQuery
        var test=this.baseUrl + '/school-sysuser/fg/major/export?token='+this.$store.getters.userToken+'&'
        for(var prop in obj){
            if(obj[prop]){
                test = test+prop+'='+obj[prop]+'&'
            }
        }
        test = test.substr(0,test.length-1)
        window.open(test,'_blank')
        this.$message.success("数据导出成功")
      }else{
          this.$message.error('当前暂无数据可供导出')
      }
    },
    // 错误导出
    printError(){
      this.errorExcDialog = false
      var test=this.baseUrl + '/school-sysuser/fg/major/error?id='+this.errorId
      window.open(test,'_blank')

    },

    chioceList(val) {
      //勾选
      this.batchList = val;
    },

    // 导入
    importBtn() {
      // this.$message('导入功能开发中')
      this.importExcDialog = true
      this.$refs.file ? this.$refs.file.value = null : true
    },
    // 文件选择
    fileSelect() {
      if (this.$refs.file.files[0]) {
        let file = this.$refs.file.files[0];
        if (file.type !=="application/vnd.ms-excel"&&file.type !=='application/vnd.openxmlformats-officedocument.spreadsheetml.sheet') {
          this.$message.warning("导入文件只能是 xls/xlsx 格式！");
          this.$refs.file.value = null
        }else{
          let formData = new FormData();
          formData.append("file", file);
          // excelImportAPI(formData).then(res =>{
          //   if(res.data.code!= 0){
          //     this.$message.error(JSON.parse(res.data.msg).msg)
          //   }else{
          //   }
          // })
        }
      }
    },
    // 确认导入
    confirmImport(){
      if (this.$refs.file.files[0]) {
        let formData = new FormData();
        formData.append("file", this.$refs.file.files[0]);
        excelImportAPI(formData).then(res => {
          if (res.data.status) {
            const data = res.data.data
            if(data.list.length > 0){
              this.errorExcDialog = true;
              this.errorList = data.list
              this.errorId = data.errId
            }else{
              this.$message.success("导入成功！");
              this.importExcDialog = false;
              this.getList()
            }

          } else {
            this.$message.error(res.data.msg);
          }
        });
      } else {
        this.$message.warning("请选择文件后再执行导入！");
      }
    },

    // 筛选
    handleFilter() {
      store.dispatch("SetSupplierSerKeys", this.listQuery).then(res => {

      });
      this.listQuery.pageNum = 1;
      this.getList();
    },
    //重置
    resetFilter() {
      this.listQuery = {
        pageNum: 1,
        pageSize: this.listQuery.pageSize
      };
      this.getList();
    },
    // 改变分页大小
    handleSizeChange(val) {
      this.listQuery.pageSize = val;
      this.getList();
    },
    // 页数改变
    handleCurrentChange(val) {
      this.listQuery.pageNum = val;
      this.getList();
    }
  }
};
</script>

<style scoped>
.el-tabs__header,
.el-tabs--card > .el-tabs__header {
  border: 0;
  margin-bottom: 0;
}
.aa {
  margin-left: 80px;
}
.aa input {
  height: 30px;
}
.blue{
  color:blue;
}
ul{
    margin:0;
    padding:0;
}
li{
    float:left;
    list-style-type: none;
    margin:0 6px;
}
li:hover{
    cursor: pointer;
}
</style>
