<template>
    <div class="contain">
      <ul>
        <li v-for="(item,index) in list" :key="index" >
          <div class="border">
            <div class="act-title">
              <h1><router-link target="_blank" :to="{name:'activityDetail',query:{id:item.id}}" :title="item.title">{{item.title}}</router-link></h1>
              <span v-if="item.applyStatus==3"  class="sign-btn" @click="signUp(item)">报名</span>
              <!-- <span v-else-if="item.haveSignUp"  class="sign-btn noSign">已报名</span> -->
              <span v-else class="sign-btn noSign" @click="openTip(status[item.applyStatus])">{{status[item.applyStatus]}}</span>
            </div>
            <p><router-link :to="{name:'activityDetail',query:{id:item.id}}">{{filterWord(item.content,120)}}</router-link></p>
            <h2>发布时间：{{item.createTime.substr(0,10)}}</h2>
          </div>
        </li>
      </ul>
    </div>
</template>
<script>
export default {
  name: "activityList",
  props: {
    list: {
      type: Array
    }
  },
  data() {
    return {
      status:{
        '0':'已报名',
        '1':'已过期',
        '2':'报名人满',
        '3':'可报名',
        '4':'未开启'
        }
        // list:[]
    };
  },
  methods:{
      signUp(item){
          this.$emit('signUp',item,0)
      },
      openTip(info){
        this.$message(info)
      }
  }
};
</script>
<style  scoped>
.contain{
  padding: 0 28px;
}
.border{

    padding: 20px 0;
    border-bottom: 1px solid #eee;
}
.act-title{
    display: flex;
    justify-content: space-between;
    font-size: 16px;
    line-height: 34px;
    color: #333;
    margin-bottom: 10px;
}
.act-title h1{
  font-size: 16px; font-weight: normal;
}
.act-title a:hover{
    /* color:#3279FF; */
    text-decoration: underline;
}
p{
    font-size: 14px;
    line-height: 26px;
    color: #666;
    /* overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient:vertical;
    -webkit-line-clamp:2;
    overflow:hidden;
    text-overflow: ellipsis; */
}
p a:hover{
  /* color:#3279FF */
    text-decoration: underline;

}
h2{
    color: #999999;
    font-size: 14px; font-weight:normal;
    line-height: 26px;
}
.sign-btn{
    height: 34px;
    width: 93px;
    border-radius: 41px;
    background: #3279FF;
    color: #fff;
    font-size: 14px;
    line-height: 34px;
    text-align: center;
}
.noSign{
  background: #E3E3E3;
  color: #333333;
}
.sign-btn:hover{
  cursor:pointer;
}
.sign-btn-alr{
    background: #e3e3e3;
    color: #333;
}

</style>
