<template>
    <div class="exchange-fail">
        <el-dialog title="系统提示" :visible.sync="dialogFail" width="360px" top="40vh">
            <div class="fail-title1">兑换失败</div>
            <div class="fail-title2">您的积分不足哦，快去攒积分吧</div>
            <span slot="footer" class="dialog-footer">
                <el-button @click="excFailBtn">确定</el-button>
            </span>
        </el-dialog>
    </div>
</template>
<script>
export default {
  name: "exchangeFail",
  props: {
    dialogFail: {
      type: Boolean,
      default:false
    }
  },
  data(){
      return{
      }

  },
  methods:{
      excFailBtn(){
        this.$emit('excFailBtn','兑换失败')
      }
  },
};
</script>

<style>
.exchange-fail .el-dialog__body{
  text-align: center;
  line-height: 30px;
}
.exchange-fail .el-dialog__body .fail-title1 {
  color: #454545;
  font-size: 18px;
}
.exchange-fail .el-dialog__body .fail-title2 {
  color: #888;
  font-size: 16px;
}
.exchange-fail .el-button--default {
  display: inline-block;
  padding: 11px 36px;
  color: #fff;
  background: #3279ff;
}

.el-dialog__footer {
  line-height: 34px;
  font-size: 12px;
  text-align: center;
}
.el-dialog__header {
  padding: 0;
  line-height: 36px;
  background: #f4f4f4;
}
.el-dialog__title {
  margin-left: 15px;
  font-family: 'Microsoft YaHei';
  font-weight: bold;
  color: #444;
  font-size: 14px;
}
</style>
