<template>
    <div class="feedBack">
            <div class="feedBackCont">
                <div class="feedBackTit">
                    <h1>{{title}}</h1>
                    <span @click="closeSign">×</span>
                </div>
                <div class="feedBackForm">
                    <el-form ref="form" :model="form" label-width="110px">
                    <ul>
                        <li v-for="(item,index) in list" :key="index">
                            <el-form-item v-if="item.type == 'text'" class="width160" :label="item.name+':'" >
                                <el-input :placeholder="'请填写'+item.name" v-model="form[item.name]" :disabled="disabled"></el-input>
                            </el-form-item>
                            <el-form-item v-if="item.type == 'radio'" class="width160" :label="item.name+':'" >
                                <el-radio-group v-model="form[item.name]" :disabled="disabled">
                                    <el-radio v-for="radio in JSON.parse(item.value)" :label="radio" :key="radio"></el-radio>
                                </el-radio-group>
                            </el-form-item>
                            <el-form-item v-if="item.type == 'select'" class="width160" :label="item.name+':'">
                                <el-select v-model="form[item.name]" :placeholder="'请选择'+item.name" :disabled="disabled">
                                <el-option
                                v-for="item in JSON.parse(item.value)"
                                :key="item"
                                :label="item"
                                :value="item">
                                </el-option>
                            </el-select>
                            </el-form-item>
                            <el-form-item  v-if="item.type == 'textarea'" :label="item.name+':'">
                                <el-input
                                type="textarea"
                                :rows="2"
                                v-model="form[item.name]"
                                :placeholder="'请填写'+item.name"
                                :disabled="disabled">
                                </el-input>
                            </el-form-item>
                            <el-form-item v-if="item.type == 'checkbox'" class="width160" :label="item.name+':'" >
                                <el-checkbox-group
                                    v-model="form[item.name]"
                                    @change="changeSpecItem(form[item.name])"
                                    :disabled="disabled">
                                    <el-checkbox v-for="checkbox in JSON.parse(item.value)" :label="checkbox" :key="checkbox">
                                      <span>{{checkbox}}</span>
                                    </el-checkbox>
                                  </el-checkbox-group>
                              </el-form-item>
                            <el-form-item v-if="item.type == 'file'" class="width160" :label="item.name+':'">
                                <el-upload
                                class="upload-demo"
                                :action="`${uploadUrl}upload/file`"
                                :disabled="disabled"
                                :multiple="false"
                                :show-file-list="false"
                                :before-upload="beforeUpload(item)"
                                :on-success="uploadSuccess"
                                >
                                <el-button size="small" type="primary">选择文件</el-button><span class="tipInfo">提示：如需上传多个文件请上传压缩包</span>
                                </el-upload>
                                <span v-if="!fileName&&title != '填写反馈消息'">{{form[item.name][1]}}</span>
                                <h3 style="color:#606255">{{fileName}}</h3>
                                <el-button size="small" type="primary" @click="downLoad(form[item.name][0])" v-if="title != '意见反馈'">下载文件</el-button>
                            </el-form-item>
                        </li>
                    </ul>
                <el-form-item>
                    <div class="formSubmit" :class="title == '查看反馈信息'? 'center':''">
                    <el-button type="primary" @click="onSubmit" v-if="!disabled">提交</el-button>
                    <el-button @click="closeSign">关闭</el-button>
                    </div>
                </el-form-item>
                </el-form>
                </div>
            </div>

        </div>
</template>
<script>
import { uploadUrl } from "@/utils/global.js";
export default {
  name: "feedBack",
  props: {
    title:{
      type:String
    },
    list:{
        type:Array
    },
    form:{
        type:Object,
    },
    disabled:{
      type:Boolean,
      type:false
    }
  },
  data() {
    return {
        feedBackShow:this.feedBackShow,
        uploadUrl: uploadUrl,
        fileName:null,
        name:null,
    };
  },
  computed:{

  },
  methods:{
      onSubmit(){
          this.$emit('onSubmit',this.form)
      },
      closeSign(){
          this.$emit('closeSign',false)
      },
      beforeUpload(item){

        this.name = item.name
      },
      uploadSuccess(response, file, fileList){

        this.fileName = response.originalFileName
        this.form[this.name]=[response.filePath,response.originalFileName]
      },
      changeSpecItem(value){

          this.$forceUpdate()
      },
      // 文件下载
      downLoad(url){
        const address = this.uploadUrl+'/download?filePath='+url
        window.open(address,'_blank')
      },
  }
};
</script>
<style scoped lang="less">

.feedBack {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  background: rgba(0, 0, 0, 0.2);
  display: flex;
  justify-content: center;
  align-items: center;
  .feedBackCont {
    width: 600px;
    height: auto;
    background: #fff;
    .feedBackTit {
      width: 100%;
      height: 36px;
      line-height: 36px;
      background: rgba(244, 244, 244, 1);
      border-radius: 3px 3px 0px 0px;
      display: flex;
      justify-content: space-between;
      h1 {
        font-size: 14px;
        font-family: 'Microsoft YaHei';
        font-weight: bold;
        color: rgba(69, 69, 69, 1);
        padding-left: 15px;
      }
      span {
        font-size: 16px;
        font-family: 'Microsoft YaHei';
        color: #999999;
        margin-right: 15px;
        cursor: pointer;
      }
    }
  }
  .feedBackBtn {
    width: 100%;
    text-align: center;
    height: 32px;
    line-height: 32px;
    margin-bottom: 30px;
    span {
      display: inline-block;
      width: 96px;
      height: 32px;
      background: rgba(50, 121, 255, 1);
      border-radius: 4px;
      font-size: 12px;
      font-family: 'Microsoft YaHei';
      font-weight: 400;
      color: rgba(255, 255, 255, 1);
      cursor: pointer;
    }
  }
}
.feedBackForm{
    margin:28px 50px;
}
.feedBackForm .width160 {
  width: 89%;
  display: inline-block;
}
.feedBackForm .el-form-item .el-form-item__label{
    padding-right:5px;
}
.feedBackForm .el-form-item .formSubmit{
    display: flex;
    justify-content: flex-end;
    font-size: 12px;
    .el-button--primary{
      background: #3279FF;
      color: #fff;
      border-radius: 4px;
      padding: 10px 40px;
    }
    .el-button--default{
      background: #ddd;
      color: #777;
      border-radius: 4px;
      padding: 10px 40px;
      border:0px solid 
    }
    .el-button--primary{
      border: 0px solid #999;
    }
    .el-button--default:hover{
      border: 0px solid #999;
      background: #999;
      color: #fff;
    }
}
.feedBackForm .el-form-item .center{
    display: flex;
    justify-content: center;
    .el-button--default{
      background: #3279FF;
      color: #fff;
      border-radius: 4px;
    }
}
.tipInfo{
  color: #F2A12D;
}
.el-upload{
  .el-button--small{
    border: 1px solid #3279FF;
    border-radius: 2px;
    background: #ECF2FC;
    color: #3279FF;
  }
}
</style>

