<template>
    <div class="integral">
        <div class="integral-info">
            <div class="integral-num">{{integralNum}}</div>
            <div class="integral-text">当前积分</div>
        </div>
        <div class="integral-btn" @click="toExchange">兑换礼品或样书券</div>
    </div>
</template>
<script>
export default {
    name:'interalMode',
    props:{
        integralNum:{
            type:Number
        }
    },
    methods:{
        toExchange(){
            this.$emit('toExchange','跳转积分兑换')
        }
    }
}
</script>
<style scoped>
.integral{
position: relative;
width: 180px;
height: 132px;
color: #333;
}
.integral-info{
margin-left: 56px;
margin-top: 16px;
}
.integral-num{
  font-family: 'Microsoft YaHei';
line-height: 38px;
font-size: 28px;
font-weight: bold;
}
.integral-text{
line-height: 24px;
font-size: 14px;
}
.integral-btn{
position: absolute;
bottom: 15px;
left: 16px;
display: inline-block;
font-size: 14px;
color: #eee;
line-height: 14px;
padding: 10px 11px;
background: #3279FF;
border-radius: 4px;
}
.integral-btn:hover{
    cursor: pointer;
}
</style>
