<template>
    <div class="loading">
        <img src="@/assets/img/加载.gif" alt="">
    </div>
</template>
<script>
export default {
  name: "Loading",
//   props: {
//     loading: {
//       type: Boolean,
//       default:false
//     }
//   },
  data(){
      return{
      }
      
  },
  methods:{

  },
};
</script>

<style scoped>

img{
    margin-top:100px ;
}
</style>
