<template>
  <div class="title">
    <div class="title-msg">{{titleMsg}}</div>
    <div class="icon" v-if="isShowIcon">
      <img src="../../../assets/img/more3.png" alt="" v-if="$route.name!='activity'" @click="toActivity(titleMsg)">
      <span v-if="$route.name=='activity'" @click="toActivity">更多></span>
    </div>
  </div>
</template>
<script>
  export default {
    name: 'titleNav',
    props: {
      titleMsg: {
        type: String,
      }
    },
    data() {
        return {
            isShowIcon:true,
            // isShowMore:false,
        }
    },
    created(){

        if(this.$route.name=='integral'||this.$route.name=='book'||this.$route.name=='collection'||this.$route.name=='record'||this.$route.name=='account'||this.$route.name=='feedback'||this.$route.name=='infomess'||this.$route.name=='evaluate'||this.$route.name=='gift'||this.titleMsg=='报名记录'){
          this.isShowIcon=false;
        }else{
          this.isShowIcon=true;
        }
    },
    methods:{
      toActivity(){
        if(this.titleMsg=='最近样书申请'){
          this.$router.push('/personal/book')
        }else if(this.titleMsg=='最新活动'){
          this.$router.push('/personal/activityList')
        }
        this.$emit('toActivity',this.titleMsg)
      }
    }
}

</script>
<style scoped>
.title {
  height: 70px;
  display: flex;
  justify-content: space-between;
  line-height: 70px;
  border-bottom: 1px solid #eee;
}

.title-msg {
  position: relative;
  display: inline-block;
  font-size: 18px;
  font-weight: bold;
  color: #444;
  margin-left: 14px;
}

.title-msg::before {
  position: absolute;
  content: '';
  top: 27px;
  left: -14px;
  border: 2px solid #3279FF;
  height: 12px;
}

.icon {
  display: inline-block;
  margin-right: 27px;
  cursor: pointer;
}
span{
    font-size: 14px;
    color: #999999;
}
span:hover{
  cursor:pointer;
}
</style>
