<template>
    <div class="contain" >
        <div class="regulatory">
            <div class="choise-container">
              <div class="title">状态：</div>
              <div class="choise-item">
                <span :class="choiseStatus?'active':''" @click="changeStatus(true)">实施性教学计划</span>
                <span :class="choiseStatus?'':'active'" @click="changeStatus(false)">征订教材目录管理</span>
              </div>
            </div>

            <div class="list-container" :style="`min-height:${minHeight}`">
                <div class="reList_item" v-if="choiseStatus"  v-for="(item,index) in list" :key="index">
                    <div class="item_tit">部门：<span>{{JSON.parse(index).dptName}}</span>专业：<span>{{JSON.parse(index).majorName}}</span>代码：<span>{{JSON.parse(index).code}}</span>生源：<span>{{JSON.parse(index).studentResource}}</span>职业资格：<span>{{JSON.parse(index).professionalQualification}}</span></div>
                    <el-table  :key="tableKey" :data="item" v-loading="listLoading" element-loading-text="给我一点时间"  border=""  highlight-current-row stripe>
                        <!-- <el-table-column type="selection" align="center"></el-table-column> -->
                        <el-table-column type="index" label="序号" align="center" width="50"></el-table-column>
                        <el-table-column prop="courseDesign" label="课程设置" min-width="160" align="center"></el-table-column>
                        <el-table-column prop="theoryClassHour" label="理论课时" width="80" align="center"></el-table-column>
                        <el-table-column prop="trainingHours" label="实训课时" width="80" align="center"></el-table-column>
                        <el-table-column :label='"第一学期"+weekData(list[index],0)+"周"' width="110" align="center" >
                            <template slot-scope="scope">
                                <span v-if="scope.row.pcrs[0]&&scope.row.pcrs[0].weeklyHours">{{scope.row.pcrs[0].weeklyHours}}</span>
                                <span v-else>-</span>
                            </template>
                        </el-table-column>
                        <el-table-column :label='"第二学期"+weekData(list[index],1)+"周"'  width="110" align="center" v-if="len > 1">
                            <template slot-scope="scope">
                                <span  v-if="scope.row.pcrs[1]&&scope.row.pcrs[1].weeklyHours">{{scope.row.pcrs[1].weeklyHours}}</span>
                                <span v-else>-</span>
                            </template>
                        </el-table-column>
                        <el-table-column :label='"第三学期"+weekData(list[index],2)+"周"' width="110" align="center" v-if="len > 2">
                            <template slot-scope="scope">
                                <span  v-if="scope.row.pcrs[2]&&scope.row.pcrs[2].weeklyHours">{{scope.row.pcrs[2].weeklyHours}}</span>
                                <span v-else>-</span>
                            </template>
                        </el-table-column>
                        <el-table-column :label='"第四学期"+weekData(list[index],3)+"周"' width="110" align="center" v-if="len > 3">
                            <template slot-scope="scope">
                                <span  v-if="scope.row.pcrs[3]&&scope.row.pcrs[3].weeklyHours">{{scope.row.pcrs[3].weeklyHours}}</span>
                                <span v-else>-</span>
                            </template>
                        </el-table-column>
                        <el-table-column :label='"第五学期"+weekData(list[index],4)+"周"' width="110" align="center" v-if="len > 4">
                            <template slot-scope="scope">
                                <span  v-if="scope.row.pcrs[4]&&scope.row.pcrs[4].weeklyHours">{{scope.row.pcrs[4].weeklyHours}}</span>
                                <span v-else>-</span>
                            </template>
                        </el-table-column>
                        <el-table-column :label='"第六学期"+weekData(list[index],5)+"周"' width="110" align="center" v-if="len > 5">
                            <template slot-scope="scope">
                                <span  v-if="scope.row.pcrs[5]&&scope.row.pcrs[5].weeklyHours">{{scope.row.pcrs[5].weeklyHours}}</span>
                                <span v-else>-</span>
                            </template>
                        </el-table-column>
                        <el-table-column :label='"第七学期"+weekData(list[index],6)+"周"' width="110" align="center" v-if="len > 6">
                            <template slot-scope="scope">
                                <span  v-if="scope.row.pcrs[6]&&scope.row.pcrs[6].weeklyHours">{{scope.row.pcrs[6].weeklyHours}}</span>
                                <span v-else>-</span>
                            </template>
                        </el-table-column>
                        <el-table-column :label='"第八学期"+weekData(list[index],7)+"周"' width="110" align="center" v-if="len > 7">
                            <template slot-scope="scope">
                                <span  v-if="scope.row.pcrs[7]&&scope.row.pcrs[7].weeklyHours">{{scope.row.pcrs[7].weeklyHours}}</span>
                                <span v-else>-</span>
                            </template>
                        </el-table-column>
                        <el-table-column :label='"第九学期"+weekData(list[index],8)+"周"' width="110" align="center" v-if="len > 8">
                            <template slot-scope="scope">
                                <span  v-if="scope.row.pcrs[8]&&scope.row.pcrs[8].weeklyHours">{{scope.row.pcrs[8].weeklyHours}}</span>
                                <span v-else>-</span>
                            </template>
                        </el-table-column>
                        <el-table-column :label='"第十学期"+weekData(list[index],9)+"周"' width="110" align="center" v-if="len > 9">
                            <template slot-scope="scope">
                                <span  v-if="scope.row.pcrs[9]&&scope.row.pcrs[9].weeklyHours">{{scope.row.pcrs[9].weeklyHours}}</span>
                                <span v-else>-</span>
                            </template>
                        </el-table-column>
                    </el-table>
                </div>
                <div class="reList_item" v-if="!choiseStatus"  v-for="(item,index) in orderList" :key="index">
                  <div class="item_tit">部门：<span>{{JSON.parse(index).dptName}}</span>专业：<span>{{JSON.parse(index).majorName}}</span>代码：<span>{{JSON.parse(index).code}}</span>生源：<span>{{JSON.parse(index).studentResource}}</span>职业资格：<span>{{JSON.parse(index).professionalQualification}}</span></div>
                  <el-table  :key="tableKey1" :data="item" v-loading="orderListLoading" element-loading-text="给我一点时间"  border=""  highlight-current-row stripe>
                      <!-- <el-table-column type="selection" align="center"></el-table-column> -->
                      <el-table-column type="index" label="序号" align="center" width="50"></el-table-column>
                        <el-table-column prop="courseDesign" label="课程设置" min-width="160" align="center"></el-table-column>
                      <el-table-column prop="theoryClassHour" label="理论课时" width="100" align="center"></el-table-column>
                      <el-table-column prop="trainingHours" label="实训课时" width="100" align="center"></el-table-column>
                      <el-table-column prop="semester" label="学期" width="100" align="center"></el-table-column>
                      <el-table-column prop="resName" label="教材" width="160" align="center"></el-table-column>
                      <el-table-column prop="isbn" label="ISBN" width="180" align="center"></el-table-column>
                  </el-table>
                </div>
                <div v-show="(choiseStatus&&Object.keys(list).length == 0)||(!choiseStatus&&Object.keys(orderList).length == 0)">
                  <nullData></nullData>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
import { getDepListAPI,getMajListAPI,getDetailListAPI,getOrderListAPI,getStudentResourceListAPI  } from "@/api/supervise";
import { requestMsg, confirm } from "@/utils/publicFunctions";
import {baseUrl} from '@/utils/global'
import store from "@/store";
import nullData from '../workbench/components/nullData'

export default {
    components: {nullData},

  data() {
    return {
      choiseStatus:true,
      deptList:[],
      majorList:[],
      studentResourceList:[],
      authBtns: [],
      batchList: [],
      listQuery: {
        relationId:'',
        departmentId:'',
        majorId:'',
        studentResource:'',
        academicLevel:'',
        status:'2',
      },
      orderQuery: {
        relationId:'',
        departmentId:'',
        majorId:'',
        studentResource:'',
        academicLevel:'',
        status:'2',
      },
        deptListQuery:{
            academicLevel:'',
            relationId:'',
            status:'3'
        },
        majListQuery:{
            academicLevel:'',
            relationId:'',
            departmentId:'',
            status:'3'
        },
      deptStatus:-1,
      majorStatus:-1,
      studentResourceStatus: -1,
      majorstatus:false,
      deptstatus:false,
      studentResourcestatus:false,
      baseUrl:baseUrl,
      subHidden:true,
      tableKey1: 1,
      tableKey: 0,
      list: null,
      total: null,
      listLoading: true,
      title: "添加",
      importExcDialog:false,
       errorExcDialog:false,
      errorList:[],
      errorId:'',
      len:'',
      submitStatus:'',//0 通过 1 退回 2 未提交
      orderListLoading:false,
      orderList:[],
      minHeight:100+'px',
    };
  },
  created() {
    this.minHeight =this.tableHeigh(570)
    const query = this.$route.query
    // const dept = this.deptListQuery
    // const maj = this.majListQuery
    const order = this.orderQuery
    const list = this.listQuery
    list.academicLevel = query.aca
    list.relationId = query.id
    order.academicLevel = query.aca
    order.relationId = query.id
    // dept.relationId = query.id
    // dept.academicLevel = query.aca
    // maj.relationId = query.id
    // maj.academicLevel = query.aca
    
  },
  mounted() {
    if(this.choiseStatus){
      this.getList();
    }else{
      this.getOrderList()
    }
    
    // this.getDepartmentList()
    // this.getMajorList()
    // this.getStudentResourceList()
  },
  methods: {
    weekData(data,num){
      let str = 0
      if(data.length>0){
        data.forEach(item=>{
          let obj = item.pcrs[num]
          let len = Object.keys(obj).length
          if(len>0){
            str = obj.week
          }
        })
      }
      return str
    },
    //   获取用户列表
    getList() {
      this.listLoading = true;
      getDetailListAPI(this.listQuery).then(res => {
          const array = res.data.data
        if (res.data.code === 0) {
          this.list = array;
          if(Object.keys(array).length > 0){
            this.submitStatus = JSON.parse(Object.keys(array)[0]).status
            this.len = JSON.parse(Object.keys(array)[0]).educationalSystem*2
          }else{
            this.submitStatus = ''
            this.len = 0
          }
          Object.values(array).forEach(item => {
            item.forEach(el => {
              let arr = []
              let list = []
              for(var i = 0;i<this.len;i++){
                arr[i] = {}
                list[i] = {}
              }
              arr.forEach((it,ind) =>{
                el.pcrs.forEach((item,index) =>{
                  if(item.semester-1 == ind){
                    list[ind] ={
                      semester:item.semester,
                      weeklyHours:item.weeklyHours,
                      week:item.week
                      }
                  }
                })
              }) 
              el.pcrs = list
            });
          })
        } else {
          this.$message.error("获取数据失败");
        }
        this.listLoading = false;
      })
    },
    // 更改列表
    changeStatus(status){
      this.choiseStatus = status
      if(status){
        this.getList();
      }else{
        this.getOrderList()
      }
    },
    getOrderList(){
      this.orderListLoading = true
      getOrderListAPI(this.orderQuery).then(res => {
        if(res.data.code == 0){
          this.orderList = res.data.data
          this.orderListLoading = false
        }else{
          this.$message.error(res.data.msg)
        }
      })
    },




    // //   获取部门列表
    // getDepartmentList(){
    //   getDepListAPI(this.deptListQuery).then(res => {
    //       res.data.code === 0
    //         ? (this.deptList = res.data.data)
    //         : this.$message.error("请求出错啦");
    //     });
    // },
    
    // //   获取专业列表
    // getMajorList(){
    //   getMajListAPI(this.majListQuery).then(res => {
    //       res.data.code === 0
    //         ? (this.majorList = res.data.data)
    //         : this.$message.error("请求出错啦");
    //     });
    // },
    // //   获取生源列表
    // getStudentResourceList(){
    //   getStudentResourceListAPI().then(res => {
    //       res.data.code === 0
    //         ? (this.studentResourceList = res.data.data)
    //         : this.$message.error("请求出错啦");
    //     });
    // },
    // // 选择部门
    // choisedept(item,index){
    //   this.deptStatus = index
    //   this.listQuery.departmentId = ''
    //   this.listQuery.majorId = ''
    //   item ? (this.listQuery.departmentId = item.id):(this.deptStatus = -1)
    //   this.getMajorList()
    //   this.majorStatus = -1
    //   this.getList()
    // },
    // // 选择专业
    // choisemajor(item,index){
    //   this.majorStatus = index
    //   this.listQuery.majorId = ''
    //   item ? (this.listQuery.majorId = item.id):(this.majorStatus = -1)
    //   this.getList()
    // },
    // // 选择生源
    // choiseStudentResource(item,index){    //   this.studentResourceStatus = index
    //   this.listQuery.studentResourceStatus = ''
    //   if(item){
    //       this.listQuery.studentResource = item.value
    //   }else{
    //     this.listQuery.studentResource =''
    //     this.studentResourceStatus = -1
    //   }
    //   this.getList()
    // },

  }
};
</script>

<style scoped lang="less">
.contain{
    width: 100%;
    background: #F4F5F9;
    .regulatory{
        width: 1200px;
        margin: auto;
        position: relative;
        .choise-container{
            display: flex;
            padding: 27px 20px;
            margin-bottom: 20px;
            border-top: 3px solid #3279FF;
            background: #fff;
            .title{
              flex: 0 0 50px
            }
            .choise-item{
              span{
                margin:0 10px;
              }
              span:hover{
                cursor: pointer;
              }
              .active{
                color: #3279FF;
              }
            }
        }
        .list-container{
            position: relative;
            background: #fff;
            border-bottom: 30px solid #F4F5F9;
            padding:20px 28px 0px 24px;
        }

    }
}

.el-tabs__header,
.el-tabs--card > .el-tabs__header {
  border: 0;
  margin-bottom: 0;
}
.reList_item {
    font-size: 14px;
    font-weight: bold;
    color: rgba(69, 69, 69, 1);
    line-height: 30px;
    margin-bottom: 10px;
    .item_tit {
        // width: 922px;
        padding-left: 20px;
        width: auto;
        height: 56px;
        line-height: 56px;
        text-align: left;
        background: rgba(250, 250, 250, 1);
        border: 1px solid #eeeeee;
        border-bottom: none;
        position: relative;
        span{
          margin-right: 40px;
        }
    }
}
</style>
