<template>
  <div class="contain" >
    <div class="regulatory">

        <ul>
            <li>
            <Screen :listData="schoolList" title="学校" prop="name" :status="schoolStatus" :len="5" :showAll="true" @changeStatus='changeSchool'></Screen>
            </li>
            <li>
            <Screen :listData="academicList" title="学级"  :status="acaStatus" :len="5" :showAll="true" @changeStatus='changeAca'></Screen>
            </li>
        </ul>

        <div class="list-container">
            <div class="down" @click="batchDownLoad">
                <span>批量下载</span>
            </div>

            <el-table :data="list"  border v-loading="listLoading" highlight-current-row element-loading-text="给我一点时间" style="width: 100%" :height="minHeight" @selection-change="chioceList">
                <el-table-column align="center" type="selection"></el-table-column>
                <el-table-column type="index" label="序号" align="center" width="55"></el-table-column>
                <el-table-column prop="schoolName" label="学校" align="center" min-width="170"></el-table-column>
                <el-table-column prop="academicLevel" label="学级" align="center" min-width="80"></el-table-column>
                <el-table-column prop="userName" label="联系人" align="center" min-width="80"></el-table-column>
                <el-table-column prop="phone" label="联系方式" align="center" min-width="100"></el-table-column>
                <el-table-column label="状态" align="center" width="80">
                    <template slot-scope="scope">
                        <span v-if="scope.row.status === '0'||scope.row.status === '1'">{{scope.row.status === '0'?'通过':'退回'}}</span>
                        <span v-else>--</span> 
                    </template>
                </el-table-column>
                <el-table-column label="操作" align="center" width="180">
                    <template slot-scope="scope">
                        <router-link class="view" :to="{name:'regulatoryDetail',query:{aca:scope.row.academicLevel,id:scope.row.relationId}}">查看</router-link>
                        <span class="view" v-if="scope.row.status != '0'&&scope.row.status != '1'" @click="changeStatus(scope.row,'0')">通过</span>
                        <span class="view" v-if="scope.row.status != '0'&&scope.row.status != '1'" @click="changeStatus(scope.row,'1')">退回</span>
                        <span class="view" @click="downLoad(scope.row)">下载</span>
                    </template>
                </el-table-column>
            </el-table>
            
            <div class="pagination-list" v-if="total&&total> 0">
                <pagination class="paddingTop" @change="pageChange"
                :current-page="listQuery.pageNum"
                :page-size="listQuery.pageSize" :total-page="lastPage"></pagination>
            </div>

            <el-dialog title="提示" :visible.sync="dialogPvVisible" width="30%">
                <el-form>
                    <h4 style="text-align:center">如不使用该教材，教师将重新发起推荐</h4>
                    <el-form-item label="退回原因">
                    <el-col :span="17">
                        <el-input type="textarea" v-model="fromObj.remark"></el-input>
                    </el-col>
                    </el-form-item>
                </el-form>
                <span slot="footer" class="dialog-footer">
                    <el-button @click="setSubmit">确定</el-button>
                    <el-button @click="dialogPvVisible=false">取消</el-button>
                </span>
            </el-dialog>

            <form  method="post" class="downFrom">
            </form>
        </div>
    </div>
  </div>
</template>

<script>
import {getSchoolListAPI,getListAPI,getAcademicListAPI,changeStatusAPI,downLoadAPI} from '@/api/supervise';
import Screen from '@/view/component/screen.vue';
import { requestMsg, confirm } from "@/utils/publicFunctions";
import store from '@/store'
import {baseUrl} from '@/utils/global'
//   import router from '../../router'
  export default {
    name: 'login',
    data() {
      return {
        baseUrl:baseUrl,
        schoolList:[],
        academicList:[],
        list:[],
        acaStatus:'',
        schoolStatus:'',
        listLoading:false,
        dialogPvVisible:false,
        listQuery:{
            pageNum:1,
            pageSize:10,
          relationId:"",
          academicLevel:"",
          status:"",
          remark:"",
        },
        fromObj:{
          relationId:"",
          academicLevel:"",
          status:"",
          remark:"",
        },
        batchList:[],
        minHeight:100+'px',
        total:0,
        lastPage:0,
      }
    },
    created() {
        this.minHeight =this.tableHeigh(670)
    },
    mounted() {
      this.getList()
      this.getSchoolList()
      this.getAcademicList('')
    },
    methods: {
      getList(){
        getListAPI(this.listQuery).then(res =>{
          const data = res.data.data
          if(res.data.code == 0){
            this.list = data.list
            this.total = data.total;
            this.lastPage = Math.ceil(Number(data.total) / Number(this.listQuery.pageSize));
            this.listLoading = false
          }else{
            this.$message.error(data.msg)
          }
        })
      },
      // 获取学级列表
      getAcademicList(id){
        getAcademicListAPI(id).then(res=>{
          if(res.data.code == 0 ){
            this.academicList = res.data.data
          }else{
            this.$message.error(res.data.msg)
          }
        })
      },
      // 学校列表
      getSchoolList(){
        getSchoolListAPI().then(res=>{
          if(res.data.code == 0 ){
            this.schoolList = res.data.data
          }else{
            this.$message.error(res.data.msg)
          }
        })
      },
      // 更改学级
      changeAca(value,index){
        this.acaStatus = index
        this.listQuery.academicLevel = value
        this.getList()
      },
      // 更改学校
      changeSchool(value,index){
        const id = value.id?value.id:''
        this.schoolStatus = index
        this.listQuery.relationId = id
        this.acaStatus = ''
        this.listQuery.academicLevel = ''
        this.getAcademicList(id)
        this.getList()
      },
      // 通过 拒绝
      changeStatus(row,status){
        this.fromObj.relationId=row.relationId,
        this.fromObj.academicLevel= row.academicLevel
        this.fromObj.remark = ''
        if(status == '0'){
          confirm.apply(this, ["确认通过吗？"]).then(() => {
            this.fromObj.status = '0'
            this._change()
          });
        }else{
          this.fromObj.status = '1'
          this.dialogPvVisible = true
        }
      },
      // 拒绝
      setSubmit(){
        this._change(1)
      },
      _change(index){
        changeStatusAPI(this.fromObj).then(res=>{
          if(res.data.code == 0 ){
            this.dialogPvVisible = false
            this.$message.success(index == 1?'拒绝':"通过")
            this.getList()
            
          }else{
            this.$message.error(res.data.msg)
          }
        })
      },
      chioceList(val) {//勾选
        this.batchList = val;
      },
      // 批量下载
      batchDownLoad(){
        var fromClass = document.getElementsByClassName('downFrom')[0]
        let child = fromClass.childNodes
        if(child&&child.length > 0){
          for(let i = child.length - 1; i >= 0; i--) {
            fromClass.removeChild(child[i]);
          }
        }
        if(this.batchList.length == 0){
          this.$message.error('请至少选择一条数据')
        }else{
            fromClass.action = `${this.baseUrl}/school-sysuser/fg/supervise/exportList`
            this.batchList.forEach((item,index)=>{
              let input0 = document.createElement("input");
              let input1 = document.createElement("input");
              let input2 = document.createElement("input");
                input0.name = `list[${index}].relationId`
                input0.value = item.relationId
                input1.name = `list[${index}].academicLevel`
                input1.value = item.academicLevel
                input2.name = `list[${index}].status`
                input2.value = 2
              fromClass.appendChild(input0); 
              fromClass.appendChild(input1); 
              fromClass.appendChild(input2); 
            })
          let button = document.createElement("button");
          fromClass.appendChild(button); 
          fromClass.submit()
        }
      },
      // 下载
      downLoad(row){
        // this.$message('功能开发中')
        // if(this.list.length > 0){
          // let obj = this.listQuery
          var test=this.baseUrl + `/school-sysuser/fg/supervise/export?status=2&academicLevel=${row.academicLevel}&relationId=${row.relationId}`
          // for(var prop in obj){
          //     if(obj[prop]){
          //         test = test+prop+'='+obj[prop]+'&'
          //     }
          // }
          // test = test.substr(0,test.length-1)
          window.open(test,'_blank')
          this.$message.success("数据导出成功")
        // }else{
        //     this.$message.error('当前暂无数据可供导出')
        // }
      },
        /*切换page*/
        pageChange(val) {

            this.listQuery.pageNum = val
            this.getList();
        },
    },
    components: {Screen},

  }
</script>

<style lang="less" scoped>
.downFrom{
  display: none;
}
.contain{
    width: 100%;
    background: #F4F5F9;
    .regulatory{
        width: 1200px;
        margin: auto;
        position: relative;
        ul{
            padding: 27px 20px;
            margin-bottom: 20px;
            border-top: 3px solid #3279FF;
            background: #fff;
        }
        .list-container{
            position: relative;
            background: #fff;
            border-bottom: 30px solid #F4F5F9;
            padding:60px 28px 0px 24px;
            .down{
                position: absolute;
                right: 28px;
                top: 20px;
                margin-bottom: 6px;
                width: 89px;
                height: 34px;
                line-height: 34px;
                background: #3279FF;
                color: #fff;
                font-size: 14px;
                text-align: center;
            }
            .down:hover{
                cursor: pointer;
            }
            .pagination-list{
                margin: 15px 0 ;
            }
        }







        .view{
        color: #3279FF;
        }
        .view:hover{
        cursor: pointer;
        }
        .out{
        position: absolute;
        top: 10px;
        right: 40px;
        }
        .out:hover {
        cursor: pointer;
        color: #3279FF;
        }
    }
}
</style>
