<template>
  <!--征订流程管理-->
  <div class="process">
    <el-container>
      <el-main>
        <div class="stepCss"><img src="../../../../../static/img/step.png" alt=""></div>
        <el-form inline class="form-inline">
          <el-form-item>
            <!-- <el-button @click="dialogFormVisible=true,title='设置征订步骤'">设置征订步骤</el-button>
            <el-button @click="addOne">新增征订部门</el-button> -->
            <el-button v-if="authBtns.map(i => i.idName).indexOf('setBtn') >= 0" @click="editBtn"> {{authBtns.filter(i => i.idName=='setBtn')[0].name}}<i v-if="authBtns.filter(i => i.idName=='setBtn').length>0 && authBtns.filter(i => i.idName=='setBtn')[0].icon" :class="[authBtns[authBtns.map(i => i.idName).indexOf('setBtn')].icon, 'el-icon--right']"></i></el-button>
            <el-button v-if="authBtns.map(i => i.idName).indexOf('addBtn') >= 0&&list" @click="addOne"> {{authBtns.filter(i => i.idName=='addBtn')[0].name}}<i v-if="authBtns.filter(i => i.idName=='addBtn').length>0 && authBtns.filter(i => i.idName=='addBtn')[0].icon" :class="[authBtns[authBtns.map(i => i.idName).indexOf('addBtn')].icon, 'el-icon--right']"></i></el-button>
          </el-form-item>
        </el-form>


        <tree-table :data="list" :evalFunc="func" :evalArgs="args" :expandAll="expandAll" border v-loading="listLoading" :par-selection="handleSelection" :getFormatData="getFormatData" label-name="步骤名称" first-column="stepName">
          <el-table-column align="center" label="流程" width="100">
            <template slot-scope="scope">
              <span>{{scope.row.stageName}}</span>
            </template>
          </el-table-column>

          <el-table-column align="center" label="操作" min-width="150" class-name="small-padding fixed-width">
            <template slot-scope="scope">
               <i v-if="authBtns.filter(i => i.idName=='addbtn').length > 0" @click="addBtn(scope.row)" :class="authBtns.filter(i => i.idName=='addbtn')[0].icon" :title="authBtns.filter(i => i.idName=='addbtn')[0].name"></i>
               <i v-if="authBtns.filter(i => i.idName=='editBtn').length > 0" @click="editName(scope.row)" :class="authBtns.filter(i => i.idName=='editBtn')[0].icon" :title="authBtns.filter(i => i.idName=='editBtn')[0].name"></i>
               <i v-if="authBtns.filter(i => i.idName=='viewBtn').length > 0" @click="lookBtn(scope.row)" :class="authBtns.filter(i => i.idName=='viewBtn')[0].icon" :title="authBtns.filter(i => i.idName=='viewBtn')[0].name"></i>
              <!-- <i class="el-icon-plus" title="添加" @click="addBtn(scope.row)"></i>
              <i class="el-icon-edit" title="修改" @click="editBtn(scope.row)"></i>
              <i class="el-icon-view" title="查看" @click="lookBtn(scope.row)"></i> -->
              <!--<i class="el-icon-delete" title="删除" @click="deleteBtn(scope.row)"></i>-->
            </template>
          </el-table-column>
        </tree-table>
        <!--<el-table :key='tableKey' :data="list" v-loading="listLoading" element-loading-text="给我一点时间" border
                  highlight-current-row stripe>

          <el-table-column type="index" label="序号" width="60" align="center"></el-table-column>
          <el-table-column label="步骤名称" min-width="160" align="center">
            <template slot-scope="scope">
              <span>{{scope.row.resourceName}}</span>
            </template>
          </el-table-column>
          <el-table-column label="流程" min-width="150" align="center">
            <template slot-scope="scope">
              <span>{{scope.row.memberName}}</span>
            </template>
          </el-table-column>

          <el-table-column class-name="small-padding fixed-width" label="操作" width="150" align="center">
            <template slot-scope="scope">
              <i class="el-icon-plus" title="添加" @click="addBtn(scope.row)"></i>
              <i class="el-icon-edit" title="修改" @click="editBtn(scope.row)"></i>
              <i class="el-icon-view" title="查看" @click="lookBtn(scope.row)"></i>
              <i class="el-icon-delete" title="删除" @click="deleteBtn(scope.row)"></i>


            </template>
          </el-table-column>
        </el-table>-->
        <!--<div class="pagination-container">
          <el-pagination @size-change="handleSizeChange" @current-change="handleCurrentChange"
                         :current-page="listQuery.pageNum" :page-sizes="[30,50,100,200,500]"
                         :page-size="listQuery.pageSize" layout="total, sizes, prev, pager, next, jumper" :total="total"
                         align="center">
          </el-pagination>
        </div>-->
      </el-main>
    </el-container>

    <!--添加步骤-->
    <el-dialog :title="`${title}步骤`" :visible.sync="dialogFormVisible" width="30%">
      <el-form style="height: 40px;"
               :rules="rules"
               ref="departForm"
               :model="formList">
        <el-form-item label="步骤数量：" label-width="100px" prop="step">
          <el-input v-model="formList.step"></el-input>
        </el-form-item>

      </el-form>
      <div slot="footer" class="dialog-footer">
        <el-button type="primary" @click="stepOkBtn">确 定</el-button>
        <el-button @click="dialogFormVisible = false">取 消</el-button>
      </div>
    </el-dialog>

    <!--添加部门-->
    <el-dialog title="选择部门" :visible.sync="addPeople" width="1000px">
      <div class="displayChange">
        <el-table
          ref="multipleTable"
          :data="departmentData"
          border
          tooltip-effect="dark"
          max-height="500"

          @selection-change="handleSelectionChange"
          style="width:600px;float: left">
          <el-table-column
            type="selection"
            width="100"
            align="center">
          </el-table-column>

          <el-table-column
            prop="name"
            label="部门"
            align="center">
          </el-table-column>

        </el-table>
        <div class="displayPeople">
          <span>已选择{{multipleSelection.length}}个部门，点击删除</span>
          <ul>
            <li v-for="(item,index) in multipleSelection" :key="index" @mouseenter="onmouseDelete(item)"
                @mouseleave="ismouse=null">
              <h3 :title="item.name">{{item.name}}</h3><i class="el-icon-error" v-if="ismouse==item.id" @click="detleteBtn(item,1)"></i></li>
          </ul>
        </div>
      </div>

      <div slot="footer" class="dialog-footer">
        <el-button type="primary" @click="addDepartment">确 定</el-button>
      </div>
    </el-dialog>

    <!--添加步骤人员-->
    <el-dialog :title="islook?'查看':'新增'" :visible.sync="isAdd" :width="islook?'600px':'1000px'">
      <el-form style="height: 40px;" class="demo-form-inline" :inline="true" v-if="!islook">
        <el-form-item label="角色：" label-width="80px">
          <el-select v-model="selete.role" placeholder="请选择" style="width: 140px;">
            <el-option
              v-for="item in rolelist"
              :key="item.id"
              :label="item.name"
              :value="item.id">
            </el-option>
          </el-select>
        </el-form-item>
      </el-form>
      <div class="displayChange">
        <el-table
          ref="seleteTable"
          :data="tableData"
          border
          tooltip-effect="dark"
          max-height="500"
          @selection-change="handleChange"
          style="width:600px;float: left">
          <el-table-column
            type="selection"
            width="45"
            align="center" v-if="!islook">
          </el-table-column>
          <el-table-column
            label="教职工号"
            width="130"
            align="center">
            <template slot-scope="scope">{{ scope.row.num}}</template>
          </el-table-column>
          <el-table-column
            prop="departmentName"
            label="部门"
            align="center">
          </el-table-column>
          <el-table-column
            prop="name"
            label="姓名"
            width="100"
            align="center"
            show-overflow-tooltip>
          </el-table-column>
          <el-table-column
            label="性别"
            width="60"
            align="center"
            show-overflow-tooltip>
            <template slot-scope="scope">{{scope.row.sex==1?'男':'女'}}</template>
          </el-table-column>
          <el-table-column
            prop="phone"
            label="手机号"
            width="144"
            align="center"
            show-overflow-tooltip>
          </el-table-column>
        </el-table>
        <div class="displayPeople" v-if="!islook">
          <span>已选择{{selectlist.length}}个用户，点击删除</span>
          <ul>
            <li v-for="(item,index) in selectlist" :key="index" @mouseenter="onmouseDel(item)"
                @mouseleave="isDel=null">
              <h1 :title="item.num">{{item.num}}</h1>
              <h2 :title="item.departmentName">{{item.departmentName}}</h2>
              <h3 :title="item.name">{{item.name}}</h3>
              <i class="el-icon-error" v-if="isDel==item.id"
                 @click="detleteBtn(item,2)"></i></li>
          </ul>
        </div>
      </div>

      <div slot="footer" class="dialog-footer">
        <el-button type="primary" @click="submitBtn">确 定</el-button>
      </div>
    </el-dialog>
    <!--修改名称-->
    <el-dialog title="修改步骤名称" :visible.sync="editNameVisible" width="30%">
      <el-form style="height: 40px;"
               :rules="rules"
               ref="editNameForm"
               :model="editNameList">
        <el-form-item label="步骤名称：" label-width="100px" prop="count">
          <el-input v-model="editNameList.count"></el-input>
        </el-form-item>

      </el-form>
      <div slot="footer" class="dialog-footer">
        <el-button type="primary" @click="editNameBtn">确 定</el-button>
        <el-button @click="editNameVisible = false">取 消</el-button>
      </div>
    </el-dialog>

  </div>
</template>

<script>
  import {getListAPI,departmentAPI,addAPI,saveAPI,deleteAPI,lookAPI,flowMemberPageAPI,rolePageAPI,bindUserAPI,updateAPI,biddingDlowAPI,editNameAPI} from '@/api/backstage/biddingProcess.js';
  import {requestMsg, confirm} from '@/utils/publicFunctions'
  import {getMultipleSelectionIDs} from '@/filters/getIds'
  import store from '@/store'
  import {mapGetters} from 'vuex'
  import treeTable from '@/components/TreeTable';
  import treeToArray from '@/components/TreeTable/customEval';
  export default {
    data() {
      const validateSort = (rule, value, callback) => {
        let reg = /^([1-9]\d{0,4})$/;
        if (!reg.test(value)) {
          callback(new Error("请输入1-9999之间的整数"));
        } else {
          callback();
        }
      };
      return {
        formList:{step:''},
        editNameList:{count:''},
        editNameItem:{},
        //   checkVisible:false,
        //   bookVisible:false,
        //   authBtns: [],
        func: treeToArray,
        args: [null, null, 'timeLine'],
        expandAll: false,
        tableKey: 0,
        list: [],
        total: null,
        listLoading: true,
        editNameVisible: false,
        listQuery: {
          pageNum: 1,
          pageSize: 100,
          schoolName: null,
          userName: null,
          phone: null,
          applyNumber: null
        },
        batchList: [],
        departmentData: [],
        activeName: 'books',
        departList: [],
        timeLimit: null,
        dialogFormVisible: false,
        step: '',
        addPeople: false,
        tableData: [{id: 1, code: '20180398', bm: '机械系', name: '栓斌', sex: '男', phone: '1388888888'}],
        flowMemberdata:{},
        multipleSelection: [],
        selectlist: [],
        rolelist: [{value: 0, label: '老师'}, {label: '系教务', value: 1}, {label: '校教务', value: 2}],
        departmentlist: [{label: '机械系', value: 0}, {label: '计算机工东方闪电程系', value: 1}],
        selete: {role: '', department: ''},
        ismouse: null,
        isDel: null,
        title: '',
        islook: false,
        isAdd: false,
        isMItem:null,
        changType:'',
        rules:{
          step:[{required: true, message: "请填写步骤的数量（数字）", trigger: 'change'},
            {
            validator: validateSort,
            message: "请输入1-9999之间的整数",
            trigger: 'change'
          }],
          count:[{required: true, message: "请填写修改的步骤名称", trigger: 'change'}]

        },
      }
    },
    components: { treeTable },
    watch: {
      multipleSelection(n, o) {
        let self = this;
        self.departmentData.filter(function (val, index) {
          if (val.id == self.ismouse) {
            self.$refs.multipleTable.toggleRowSelection(self.departmentData[index], false);
          }
        })
      },
      selectlist(n, o){
        let self = this;
        self.tableData.filter(function (val, index) {
          if (val.id == self.isDel) {
            self.$refs.seleteTable.toggleRowSelection(self.tableData[index], false);
          }
        })
      },
      addPeople(n,o){
        let self=this;
        if(!n){
          self.tableData.filter(function (val, index) {
            self.$refs.multipleTable.toggleRowSelection(self.tableData[index], false);
          })
        }
      },
      dialogFormVisible(o,n){
        if(!o){
          this.$refs["departForm"].resetFields();
        }
      },
      'selete.role': {
        deep: true,
        handler: function (newVal,oldVal){
          this.flowMemberdata.roleId=newVal;
          this.flowMember()
        }
      },
      isAdd(o,n){
        if(!o){
          this.selete.department = '';
          this.selete.role = '';
          this.flowMemberdata={};
        }

      },
      editNameVisible(o,n){
        if(!o){
          this.$refs["editNameForm"].resetFields();
        }

      },
    },
    created() {
      this.authBtns = store.getters.pageBtn[this.$route.meta.routerIds[0]]
    },
    mounted() {
      this.getList()
    },
    methods: {

      getList() {
        this.listLoading = true
        getListAPI().then(res => {
          if (res.data.code === 0) {
            const originalData = JSON.stringify(res.data.data)
            this.list = JSON.parse( originalData.replace(/list/ig, "children"))
          } else {
            this.$message.error('获取数据失败');
          }
          this.listLoading = false
        })
      },
      addOne(){
        /*if(this.list.length==0){
          this.$message.warning('沒有步驟');
          return
        }*/
        this.addPeople=true;
        this.title='新增征订部门';
        this.changType='新增征订部门';
        this.getData(2);
      },
      handleSizeChange(val) {
        this.listQuery.pageSize = val
        this.listQuery.applyStatus = this.listQuery.applyStatus
        this.getList()
      },
      handleCurrentChange(val) {
        this.listQuery.pageNum = val
        this.listQuery.applyStatus = this.listQuery.applyStatus
        this.getList()
      },

      /*新增步骤*/
      stepOkBtn() {
        let str = this.step.replace(/(^\s*)|(\s*$)/g, '');
        this.$refs["departForm"].validate((valid) => {
          if (valid) {
            this.addPeople=true;
            this.dialogFormVisible=false;
            this.changType='设置征订步骤';
            this.step=this.formList.step;
            this.getData(1);
          }
        })

      },
      getData(num){
        let self=this;
        if(num==1){
          departmentAPI().then(res=>{
            if(res.data.code==0){
              this.departmentData=res.data.data;
            }
          })
        }else{
          biddingDlowAPI().then(res=>{
            if(res.data.code==0){
              this.departmentData=res.data.data;
              this.departmentData.forEach((item,index)=>{
                this.$nextTick(()=>{
                  self.$refs.multipleTable.toggleRowSelection(self.departmentData[index], item.isBinding);
                })

              })

            }
          })
        }

      },


      /*筛选改变部门*/
      changeDepartment(){
      },
      /*添加*/
      addBtn(val) {
        let self=this;
        /*this.getData();*/
        this.rolePage();
        this.islook = false;
        this.isAdd = true;
        this.multipleSelection=[];
        this.isMItem = null;
        this.flowMemberdata.flowId=val.id;
        this.flowMemberdata.dptId=val.deptId;
        this.flowMember()

      },
      /*修改*/
      editBtn(val) {
       /* if(this.list.length>0&&val=='新增'){
          this.$message.warning('请勿重复添加征订流程');
          return
        }*/
        this.dialogFormVisible = true;
        this.list.length>0?this.title ='修改':this.title = '新增';
      },
      /*查看*/
      lookBtn(val) {
        lookAPI(val.id).then(res=>{
          if(res.data.code==0){
            /*this.getData();*/
            /*this.rolePage();*/
            this.isAdd = true;
            this.islook = true;
            this.selete.department='';
            this.selete.role='';
            this.tableData=res.data.data;
          }
        })
      },
      /*删除*/
      deleteBtn(val) {
        this.$confirm('确定要删除该步骤吗？', '删除提示', {
          confirmButtonText: '确定',
          cancelButtonText: '取消',
          type: 'warning'
        }).then(() => {

          deleteAPI(val.id).then(res=>{
            if(res.data.code==0){
              this.$message({
                type: 'success',
                message: '删除成功!'
              });
            }else{
              this.$message.error(res.data.msg)
            }
          })

        })
      },
      /*获取人物*/
      flowMember() {
        flowMemberPageAPI(this.flowMemberdata).then(res => {
          if (res.data.code == 0) {/*flowId*/
            this.tableData = res.data.data;
            this.tableData.forEach((item,index)=>{
              let boo=item.bind==0?false:true;
                this.$nextTick(()=>{
                  this.$refs.seleteTable.toggleRowSelection(this.tableData[index], boo);
                })

              })
          }
        })
      },
      /*获取角色*/
      rolePage(){
        rolePageAPI().then(res=>{
          if(res.data.code==0){
            this.rolelist=res.data.data.list;
          }
        })
      },
      /*勾选数据*/
      handleSelectionChange(val) {
        this.multipleSelection = val;
        this.ismouse = null;
      },
      /*新增用户 勾选*/
      handleChange(val) {
        this.selectlist = val;
        this.isDel = null;
      },
      /*放上显示删除*/
      onmouseDelete(item) {
        this.ismouse = item.id;
      },
      /*新增用户 弹窗删除*/
      onmouseDel(item) {
        this.isDel = item.id;
      },
      /*删除*/
      detleteBtn(item,num) {
        let boo=num,data=null;
        boo==1?data=this.multipleSelection:data=this.selectlist;
        let aa = data.filter(function (teacher) {
          return teacher.id != item.id
        });
        boo==1?this.multipleSelection = aa:this.selectlist=aa;
      },
      submitBtn(){
        if(this.islook){this.isAdd=false;return}

        let data=getMultipleSelectionIDs(this.selectlist);
        if(data.length==0){
          this.$message.warning('请选择用户');
          return
        }
        bindUserAPI({
          flowId:this.flowMemberdata.flowId,
          ids:data
        }).then(res=>{
          if(res.data.code==0){
            this.$message.success('绑定成功');
            this.isAdd=false;
          }else{
            this.$message.error(res.data.msg);
          }
        })
      },
      /*添加部门*/
      addDepartment(){
        let ids=[],boo=false;
        if(this.multipleSelection.length==0){
          this.$message.warning('请选择部门')
          return
        }
        this.multipleSelection.forEach(item=>{
          ids.push(item.id);
        })
        if(this.changType=='新增征订部门'){
          addAPI(ids).then(res=>{
            res.data.code==0?boo=true:boo=false;
            this.booFun(boo,res.data.msg);
          })
        }else if(this.title == '修改'){
          updateAPI({
            count:this.step,
            ids: ids
          }).then(res=>{
            res.data.code==0?boo=true:boo=false;
            this.booFun(boo,res.data.msg);
          })

        }else{
          saveAPI({
            count:this.step,
            ids: ids
          }).then(res=>{
            res.data.code==0?boo=true:boo=false;
            this.booFun(boo,res.data.msg);
          })
        }
      },
      booFun(boo,msg){
        let self=this;
        if(boo){
          self.$message.success('修改成功');
          self.addPeople=false;
          self.getList()
        }else{
          self.$message.error(msg);
        }
      },

      handleSelection(val) {
        /*this.multipleSelection = val*/

        /*this.ids = getTreeId(this.multipleSelection,'children','mpId')*/

      },
      getFormatData(data){
        /*this.formatList = data*/
      },
      /*单条修改按钮*/
      editName(item){
        this.editNameVisible=true;
        this.editNameItem=item;
      },
      editNameBtn(){

        this.$refs["editNameForm"].validate((valid) => {
          if (valid) {
            editNameAPI({
              flowId:this.editNameItem.id,
              flowName:this.editNameList.count
            }).then(res=>{
              if(res.data.code==0){
                this.$message.success('修改成功');
                this.getList();
                this.editNameVisible=false;
              }else{
                this.$message.error(res.data.msg);
              }
            })

          }
})

      },
    }
  }
</script>

<style lang="less">
  .el-tabs__header, .el-tabs--card > .el-tabs__header {
    border: 0;
    margin-bottom: 0;
  }

  .process .el-dialog__body {
    padding: 15px 20px 30px 20px !important;
  }

  .stepCss {
    width: 100%;
    text-align: center;
    margin-top: 30px;
    height: 120px;
  }

  .stepCss img {
    width: 622px;
    height: 101px;
  }

  .process .displayChange {
    width: 100%;
    display: block;
    overflow: hidden;
    padding-top: 20px;
  }

  .process .displayPeople {
    float: right;
    display: block;
    span {
      height: 40px;
      line-height: 40px;
    }
    ul {
      width: 320px;
      min-height: 40px;
      max-height: 600px;
      overflow-y: scroll;
      border: 1px solid #ccc;
      padding: 0px 10px;
      li {
        height: 40px;
        display: block;
        overflow: hidden;
        line-height: 40px;
        h1, h2 {
          padding-right: 10px;
          font-size: 14px;
          font-weight: normal;
          float: left;
          display: block;
          width: 85px;
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap
        }
        h3 {
          padding-right: 5px;
          font-size: 14px;
          font-weight: normal;
          float: left;
          display: block;
          /*width: 90px;*/
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap
        }
        i {
          cursor: pointer;
        }
      }
    }
  }
</style>
