<template>
  <div class="container">
    <div class="header">
      <span class="info">当前用户 >  学号：</span><span>{{detail.stuNumber}}</span><span class="info">姓名：</span><span>{{detail.name}}</span><span class="info">班级：</span><span>{{detail.className}}</span><span class="info">专业：</span><span>{{detail.majorName}}</span>
      <span class="login-out" @click="loginOut">退出</span>
    </div>
    
    <div class="title">
      <span >我的教材详情 >  支付</span>
    </div>
    <div class="main" :style="{'min-height':tableHeigh(134)}">
      <div class="pay-list" v-if="isNot == '1'">
        <el-table
            :data="detail.list"
            border
            v-loading="listLoading"
            highlight-current-row
            element-loading-text="给我一点时间"
            style="width: 100%"  >
            <el-table-column type="index" label="序号" width="60"  align="center" ></el-table-column>
            <el-table-column prop="resName" label="教材名称" align="center" min-width="160"></el-table-column>
            <el-table-column prop="orderNum" label="数量" align="center" min-width="80"></el-table-column>
            <el-table-column prop="publisher" label="出版社" align="center" min-width="120"></el-table-column>
            <el-table-column prop="price" label="单价" align="center" min-width="80"></el-table-column>
          </el-table>
      </div>
      <div class="pay-detail" v-if="isNot == '1'">
        <div class="detail-status">
          <span>教材金额：</span><span class="sum-money">{{sumMoney}}元</span><span>支付状态：</span><span class="status">{{detail.payStatus == '1'?'已支付':"未支付"}}</span>
        </div>
        <div class="detail-pay" v-if="detail.payStatus == '0'">
          <span >
            支付方式：
          </span>
          <div class="pay-choise">
            <div v-for="(item,index) in payType" :key="index" class="pay-type" >
              <el-radio  v-model="radio" :label="item[0]"  @change="changePay(item[0])"><img :src="item[1]" alt=""  ></el-radio>
              
            </div>
          </div>
        </div>
        <div class="qr-code" v-if="choiseType == '微信支付'">

          <!-- 二维码图片 -->
          <img :src="picture" alt="">
        </div>
      </div>
      <div v-if="isNot == '0'">
        <div class="null">暂未开启支付</div>
      </div>
    </div>
  </div>
</template>

<script>
import { getOrderDetailAPI,submitPayAPI } from '@/api/studentPay';
import {getPayDetailAPI} from "@/api/backstage/payMenege/paySet";
import wePay from '@/assets/img/wePay.png'
import aliPay from '@/assets/img/aliPay.png'
import chinaPay from '@/assets/img/chinaPay.png'
import picture from '@/assets/img/picture.png'
export default {
  data() {
    return {
      wePay:wePay,
      aliPay:aliPay,
      chinaPay:chinaPay,
      picture:picture,
      listLoading:false,
      payType:{
        1:['支付宝',aliPay],
        2:['微信支付',wePay],
        3:['中国银联',chinaPay] 
      },
      listQuery:{
        pageSize:1,
        pageNum:1000
      },
      detail:{},
      sumMoney:0,
      radio:'',
      choiseType:'',
      isNot:'1'
    }
  },
  created() {
    this.getDetail()
    this.getPaySet()
  },
  mounted() {
    
  },
  methods: {
    // 获取学生订单详情
    getDetail(){
      this.sumMoney = 0
      getOrderDetailAPI(this.listQuery).then(res=>{
        const data = res.data.data
        if(res.data.code == 0){
          this.detail = data
          if(data.list&&data.list.length > 0){
            data.list.forEach(item => {
              this.sumMoney+=item.orderNum*item.price
            });
          }
        }
      })
    },
    // 支付设置
    getPaySet(){
      getPayDetailAPI({type:'1'}).then(res => {
          let data = res.data.data
          let payData = {}
        if(res.data.code == 0){
            this.isNot = data.isNot
            let type= data.payType?data.payType.replace(/,/g,'').split(""):[]
            type.forEach(item=>{
              payData[item] = this.payType[item]
            })
            this.payType = payData
        }
      });
    },
    changePay(index){
      const data = {
        id:this.detail.id,
        payment:this.sumMoney,
        payType:2
      }
      this.choiseType = index
      if(index == '支付宝'){
        this.$message('跳转支付宝')
        data.payType =1
        // this._confirmPay(data)
      }else if(index == '中国银联'){
        this.$message('跳转中国银联')
        data.payType =3
        // this._confirmPay(data)
      }
      this._confirmPay(data)
    },
    _confirmPay(data){
      submitPayAPI(data).then(res=>{
        if(res.data.code == 0){
          this.$message.success('支付成功')
          this.getDetail()
        }else{
          this.$message.error('支付失败')
        }
      })
    },
    loginOut() {
      // this.userCompanyt = {}
      // this.$store.commit('SET_ROLES', [])
      this.$store.dispatch('LoginOut')
    },
  }
}
</script>

<style lang="less" scoped>
.container{
  width: 100%;
  height: 100%;
  background: #EEF0F3;
  .header{
    position: relative;
    width: 100%;
    height: 60px;
    background: #fff;
    span{
      line-height: 60px;
      color: #A0AEBD;
    }
    .info{
      padding-left: 30px;
    }
    .login-out{
      position: absolute;
      top: 0px;
      right: 60px;
    }
    .login-out:hover{
      cursor: pointer;
    }
  }
  .title{
    margin: 20px 30px ;
    height: 34px;
    span{
      padding: 11px 17px;
      color: #666666;
      font-size: 14px;
      line-height: 34px;
      background: #fff;
    }
  }
  .main{
    margin: 0 30px;
    background: #fff;
    .pay-list{

    }
    .pay-detail{
      padding: 40px 0 0 75px;
      font-size: 14px;
      color: #333;
      font-family: MicrosoftYaHei;
      .detail-status{
        line-height: 34px;
        .sum-money{
          padding-right: 40px;
          color: #EB666B;
        }
        .status{
          color: #3279FF;
        }
      }
      .detail-pay{
        display: flex;
        line-height: 90px;
        .pay-choise{
          .pay-type{
            display: inline-block;
            padding: 0 10px;
            .el-radio{
              position: relative;
              img{
                position: relative;
                top: 20px;
                right: 0px;
              }
            }
          }
        }
      }
      .qr-code{
        padding-left:80px; 
      }
    }
  }
}
.null{
    line-height: 100px;
    text-align: center;
    color: #909399;
}
</style>
