<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>技工教育网</title>
    <link rel="stylesheet" href="static/css/index.css" type="text/css">
  </head>
  <!-- <style type="text/css">
    
  </style> -->
  <body>
      <script src=<%= htmlWebpackPlugin.options.path %>/tinymce4.7.5/tinymce.min.js></script>
      <!-- <script src='https://cloud.tinymce.com/stable/tinymce.min.js'></script> -->
    <div id="app"></div>

  </body>
</html>
