<template>
  <div class="createPost-container">
    <div class="createPost-main-container">
      <div class="backBtn" @click="backBtn">
        <i class="el-icon-arrow-left"></i>
        返回
      </div>
      <el-form
        :rules="rules"
        ref="dataForm"
        :model="formList"
        label-position="right"
        label-width="150px"
        class="form-container"
      >
        <el-row>
          <el-form-item label="角色名称：" prop="name">
            <el-col :span="12">
              <el-input
                v-model="formList.name"
                placeholder="请输入角色名称"
              ></el-input>
            </el-col>
          </el-form-item>
          <el-form-item label="角色介绍：" prop="text">
            <el-col :span="12">
              <el-input
                type="textarea"
                v-model="formList.text"
                placeholder="请输入角色介绍"
              ></el-input>
            </el-col>
          </el-form-item>
          <el-form-item label="权限设置：" prop="checkedIds" class="addRoleCss" v-if="status">
            <el-col :span="12">
              <el-tree :data="modules" ref="tree" @check-change='change' show-checkbox check-strictly node-key="id"
                       :default-checked-keys="checkedIds" :props="defaultProps" @setChecked="setChecked">
              </el-tree>
            </el-col>
            <div class="redStart">*</div>


          </el-form-item>
          <el-form-item>
            <div class="errorMess" v-if="iserrorMess">请选择权限设置</div>
          </el-form-item>
          <el-form-item>
            <el-button class="form-submit" @click="submitFrom()">保存</el-button>
            <!-- <el-button @click="close">取消</el-button> -->
          </el-form-item>
        </el-row>
      </el-form>

    </div>
  </div>
</template>

<script>
  import {uploadUrl, baseUrl, uploadUrlT} from "@/utils/global.js";
  import {getModuleListAPI, getDetailAPI, getBtnsAPI, addAPI, updateAPI} from '@/api/backstage/permissions/role'
  import {getMaxSort, getMultipleSelectionIDs, insertBtnRes} from '@/filters/getIds'
  import store from "@/store";

  export default {
    data() {


      return {
        formList: {},
        iserrorMess: false,
        title: null,
        checkedIds: [],
        moduleIds: [],//模块集合
        opreatIds: [],//按钮集合
        modules: [],
        defaultProps: {
          children: 'children',
          label: 'moduleName',
        },
        status: false,
        rules: {
          name: [{required: true, max: 20, message: "请输入20字以内的角色名称", trigger: "change"}],
          text: [{required: false, max: 100, trigger: "change", message: "请输入100字以内的角色介绍"}],
          // checkedIds: [{ required: true, trigger: "change", message: "请选择权限" }],
        },
      };
    },
    created() {
      this.getModule().then(() => {
        this.getBtn()
      })
    },
    mounted() {
      this.getDetail()
  },
    methods: {
      //   选中节点
      change(obj, check, val) {
        if (obj.hasOwnProperty('buttonText')) {
          if (check) {
            if(this.opreatIds.indexOf(obj.id) == -1){
              this.opreatIds.push(obj.id)
            }
          } else {
            const index = this.opreatIds.indexOf(obj.id)
            if(index != -1){
              this.opreatIds.splice(index, 1)
            }
          }
        } else {
          if (check) {
            const index = this.moduleIds.indexOf(obj.id)
            if(index == -1){
              this.moduleIds.push(obj.id)
            }else{
              
            }
              if(obj.children.length > 0){
                  obj.children.forEach(el => {
                      const index = this.opreatIds.indexOf(el.id)
                      if(index == -1){
                          this.opreatIds.push(el.id)                    
                      }
                  });
              }
          } else {
            const index = this.moduleIds.indexOf(obj.id)
            this.moduleIds.splice(index, 1)
            if(obj.children.length > 0){
                  obj.children.forEach(el => {
                      const index = this.opreatIds.indexOf(el.id)
                      if(index == -1){
                      }else{
                        this.opreatIds.splice(index, 1)
                      }
                  });
            }
          }
        }
        this.checkedIds = this.opreatIds.concat(this.moduleIds)
        if (this.moduleIds.length > 0) {
          this.iserrorMess = false;
        } else {
          this.iserrorMess = true;
        }
      },
      //   模块列表
      getModule() {
        // return
        return getModuleListAPI().then(res => {
          if (res.data.code === 0) {
            const originalData = JSON.stringify(res.data.data)
            this.modules = JSON.parse(originalData.replace(/mpId/ig, "id"))
          } else {
            this.$message.error('获取模块失败');
          }
        })
      },
      //   按钮列表
      getBtn() {
        getBtnsAPI().then(res => {
          if (res.data.code === 0) {
            const formatData = res.data.data.map(el => {
              const {opId: id, name: moduleName, ...temp} = el
              return {id, moduleName, ...temp}
            })
            insertBtnRes(this.modules, formatData)
            this.status = true
          } else {
            this.$message.error('获取全部按钮失败')
          }
        })
      },
      // 当选框被点击时修改已选id
      setChecked() {

      },
      // 获取详情
      getDetail() {
        const info = this.$route.query
        this.title = info.title;
        let id = info.id;
        this.$route.meta.title = this.title;
        if (id && this.title != "添加角色") {
          getDetailAPI(id).then(res => {
            if (res.data.code === 0) {
              this.formList = res.data.data
              this.opreatIds = this.formList.opreatIds,
              this.moduleIds = this.formList.moduleIds
              this.checkedIds = this.formList.moduleIds.concat(this.formList.opreatIds)
            } else {
              this.$message.error("请求出错啦");
            }
          });
        }
      },
      submitFrom() {
        this.$refs["dataForm"].validate(valid => {
          if (this.moduleIds.length == 0) {
            this.iserrorMess = true;
          } else {
            this.iserrorMess = false;
          }
          if (valid && !this.iserrorMess) {
            if (this.moduleIds.length > 0) {
              if (this.title == "添加角色") {
                this.formList.opreatIds = this.opreatIds,
                  this.formList.moduleIds = this.moduleIds
                addAPI(this.formList).then(res => {
                  const code = res.data.code
                  if (code === 0) {
                    this.$message.success("添加角色成功");
                    this.$router.back();
                  } else {
                    this.$message.error(res.data.msg);
                  }
                })
              } else if (this.title == "修改角色") {
                this.formList.id = this.$route.query.id,
                  this.formList.opreatIds = this.opreatIds,
                  this.formList.moduleIds = this.moduleIds
                updateAPI(this.formList).then(res => {
                  const code = res.data.code
                  if (code === 0) {
                    this.$message.success("修改角色成功");
                    this.$router.back();
                  } else {
                    this.$message.error(res.data.msg);
                  }
                })
              }
            } else {
              this.$message.error('请选择模块权限');
            }

          } 
        });
      },

      // 查看返回
      backBtn() {
        this.$router.back();
      }
    }
  };
</script>

<style rel="stylesheet/scss" lang="scss" scoped>
  @import "src/style/mixin.scss";

  .createPost-container {
    position: relative;
    .createPost-main-container {
      padding: 50px;
      .el-dialog__header {
        background: #15d;
        color: #fff;
      }
    }
  }

  .backBtn {
    margin-bottom: 20px;
    font-weight: bold;
  }

  .backBtn:hover {
    cursor: pointer;
  }

  .picture-tip {
    color: gray;
    font-size: 12px;
    margin-top: 7px;
    line-height: 20px;
  }

  .avatar-uploader-icon {
    font-size: 28px;
    color: #8c939d;
    width: 178px;
    height: 178px;
    line-height: 178px;
    text-align: center;
  }

  .avatar {
    width: 100px;
    height: 100px;
    border-radius: 50%;
  }

  .upload-demo {
    margin-left: 10px;
  }

  .addRoleCss {
    position: relative;
    .redStart {
      position: absolute;
      color: #F56C6C;
      left: -92px;
    }

  }

  .errorMess {
    /*position: absolute;*/
    color: #F56C6C;
    font-size: 12px;
    line-height: 1;
    padding-top: 0px;
    margin-top: -5px;
    /*position: absolute;
    top: 100%;
    left: 0;*/
  }

</style>

