<template>
  <div class="app-container calendar-list-container">
    <div class="nav-buttons-container">
      <!-- <router-link :to="{ path:`addRole`,query:{title:'添加角色'}}"><el-button>添加</el-button></router-link> -->
      <!-- <el-button @click="handleCreate">创建</el-button>
            <el-button @click="massDelete">批量删除</el-button> -->
        <router-link v-if="authBtns.filter(i => i.idName=='addBtn').length>0 && authBtns.filter(i => i.idName=='addBtn')[0].icon" :to="{ path:`addRole`,query:{title:'添加角色'}}"><el-button>{{authBtns.filter(i => i.idName=='addBtn')[0].name}}<i  :class="[authBtns[authBtns.map(i => i.idName).indexOf('addBtn')].icon, 'el-icon--right']"></i></el-button></router-link>
        <el-button v-if="authBtns.filter(i => i.idName=='batchDeleteBtn').length>0 && authBtns.filter(i => i.idName=='batchDeleteBtn')[0].icon" @click="batchDelete">{{authBtns.filter(i => i.idName=='batchDeleteBtn')[0].name}}<i  :class="[authBtns[authBtns.map(i => i.idName).indexOf('batchDeleteBtn')].icon, 'el-icon--right']"></i></el-button>
        <el-button v-if="authBtns.filter(i => i.idName=='batchPrintBtn').length>0 && authBtns.filter(i => i.idName=='batchPrintBtn')[0].icon" @click="printBtn">{{authBtns.filter(i => i.idName=='batchPrintBtn')[0].name}}<i  :class="[authBtns[authBtns.map(i => i.idName).indexOf('batchPrintBtn')].icon, 'el-icon--right']"></i></el-button>

    </div>
    <el-table :key='tableKey' :data="list" v-loading="listLoading" element-loading-text="给我一点时间" border highlight-current-row stripe @selection-change="handleSelectionChange">
      <el-table-column type="selection" align="center"></el-table-column>
      <el-table-column type="index" label="序号" width="60" align="center"></el-table-column>
      <el-table-column label="角色名" min-width="160" align="center">
        <template slot-scope="scope">
          <span>{{scope.row.name}}</span>
        </template>
      </el-table-column>
      <el-table-column label="创建人" min-width="160" align="center">
        <template slot-scope="scope">
          <span>{{scope.row.createrName}}</span>
        </template>
      </el-table-column>
      <el-table-column label="创建时间" min-width="180" align="center">
        <template slot-scope="scope">
          <span>{{scope.row.createTime.substr(0,10)}}</span>
        </template>
      </el-table-column>
      <el-table-column label="修改人" min-width="160" align="center">
        <template slot-scope="scope">
          <span v-if="scope.row.updaterName">{{scope.row.updaterName}}</span>
          <span v-else>--</span>
        </template>
      </el-table-column>
      <el-table-column label="修改时间" min-width="180" align="center">
        <template slot-scope="scope">
          <span v-if="scope.row.updateTime">{{scope.row.updateTime.substr(0,10)}}</span>
          <span v-else>--</span>
        </template>
      </el-table-column>
      <el-table-column class-name="small-padding fixed-width" label="操作" width="140" align="center">
        <template slot-scope="scope">

            <router-link :to="{ path:`addRole`,query:{title:'修改角色',id:scope.row.id}}"><i :class="authBtns.filter(i => i.idName=='editBtn')[0].icon" :title="authBtns.filter(i => i.idName=='editBtn')[0].name" v-if="authBtns.filter(i => i.idName=='editBtn').length > 0"></i></router-link>

        </template>
      </el-table-column>
    </el-table>

    <div class="pagination-container">
      <el-pagination @size-change="handleSizeChange" @current-change="handleCurrentChange" :current-page="listQuery.pageNum" :page-sizes="[30,50,100,200,500]" :page-size="listQuery.pageSize" layout="total, sizes, prev, pager, next, jumper" :total="total" align="center">
      </el-pagination>
    </div>

    <!-- <el-dialog :title="textMap[dialogStatus]" :visible.sync="dialogFormVisible" width="40%">
      <el-form ref="dataForm" :rules="rules" :model="temp" label-position="right" label-width="100px" style='margin-right:10px;'>
        <el-form-item label="角色名称：" prop="roleName">
          <el-input v-model="temp.roleName"></el-input>
        </el-form-item>
        <el-form-item label="角色介绍：" prop="intro">
          <el-input v-model="temp.intro"></el-input>
        </el-form-item>
      </el-form>
      <div slot="footer" class="dialog-footer">
        <el-button v-if="dialogStatus=='create'" @click="createData">保存</el-button>
        <el-button v-else @click="updateData" >保存</el-button>
        <el-button @click="dialogFormVisible = false">取消</el-button>
      </div>
    </el-dialog> -->

    <!-- <el-dialog title="设置权限" :visible.sync="dialogPvVisible" width="30%">
      <el-tree :data="modules" ref="tree" show-checkbox check-strictly node-key="id" :default-checked-keys="checkedIds" :props="defaultProps" @check="setChecked">
      </el-tree>
      <span slot="footer" class="dialog-footer">
        <el-button @click="moduleSubmit">确定</el-button>
      </span>
    </el-dialog> -->

  </div>
</template>

<script>

import { getListAPI, batchDeleteAPI, updateAPI, addAPI, authorityAPI, getModuleAPI, getRoleBtnAPI, getBtnsAPI } from '@/api/backstage/permissions/role'
import { operationMsg, confirm } from '@/utils/publicFunctions'
import { getMaxSort, getMultipleSelectionIDs, insertBtnRes } from '@/filters/getIds'
import store from '@/store'
import {baseUrl} from '@/utils/global'
export default {
  data() {

    return {
      baseUrl:baseUrl,
      authBtns: [],
      tableKey: 0,
      list: null,
      total: null,
      type: '',
      listLoading: true,
      listQuery: {
        pageNum: 1,
        pageSize: 100
      },
      checked: false,
      maxSort: 0,
      ids: [],
      multipleSelection:[]
    }
  },
  created() {
    this.authBtns = store.getters.pageBtn[this.$route.meta.routerIds[0]]
  },
  mounted() {

    this.getList()
  },
  methods: {
    // 当选框被点击时修改已选id
    setChecked(){
      this.checkedIds = this.$refs.tree.getCheckedKeys()
    },
    openRoleList(id){
      // let roleId = row.roleId
      this.dialogPvVisible = true
      getRoleBtnAPI(id).then(res => {
        if (res.data.code === 0) {
          res.data.data.length>0 ? this.checkedIds = getMultipleSelectionIDs(res.data.data,'opId') : this.checkedIds = []
          this.$refs.tree.setCheckedKeys(this.checkedIds)
          this.formData.roleId = id
        } else {
          this.$message.error('获取已有按钮失败')
        }
      })
    },
    moduleSubmit(){
      this.formData.idList = this.$refs.tree.getCheckedKeys()
      authorityAPI(this.formData).then(res => {
        operationMsg.apply(this,[res.data.code,'修改角色权限'])
        res.data.status ? this.dialogPvVisible = false : true
      })
    },
    handleSelectionChange(val) {
      this.multipleSelection = val
      this.multipleSelection.length>0 ? this.ids = getMultipleSelectionIDs(this.multipleSelection,'id') : true
    },
    getList() {
      this.listLoading = true
      getListAPI(this.listQuery).then(response => {
        if(response.data.code === 0){
          this.list = response.data.data.list
          this.total = response.data.data.total
        } else {
          this.$message.error('获取数据失败');
        }
        this.listLoading = false
      })
    },
    handleSizeChange(val) {
      this.listQuery.pageSize = val
      this.getList()
    },
    handleCurrentChange(val) {
      this.listQuery.pageNum = val
      this.getList()
    },
    batchDelete(){
      if(this.multipleSelection.length!=0){
        confirm.apply(this,['确认删除选择的用户吗？']).then(() => {
          batchDeleteAPI(this.ids).then(res => {
            operationMsg.apply(this,[res.data.code,`批量删除${this.multipleSelection.length}项`])
          })
        });
      } else {
        this.$message.warning('请先选择需要删除的内容')
      }
    },
    resetTemp() {
      this.temp = {
        roleName: '',
        intro: '',
        creater: 'admin'
      };
    },
    // 导出
    printBtn(){
      // this.$message('功能开发中')
       if(this.list.length > 0){
        let obj = this.listQuery
        var test=this.baseUrl + '/fg-member/fg/role/export?token='+this.$store.getters.userToken+'&'
        for(var prop in obj){
            if(obj[prop]){
                test = test+prop+'='+obj[prop]+'&'
            }
        }
        test = test.substr(0,test.length-1)

        window.open(test,'_blank')
        this.$message.success("数据导出成功")
      }else{
          this.$message.error('当前暂无数据可供导出')
      }
    },
    // handleCreate(){
    //     this.$router.push({name:`addRole`,params:{title:'添加角色'}})
    //   this.resetTemp()
    //   this.dialogStatus = 'create'
    //   this.dialogFormVisible = true
    //   this.$nextTick(() => {
    //     this.$refs['dataForm'].clearValidate()
    //   })
    // },
    // createData() {
    //   this.$refs['dataForm'].validate((valid) => {
    //     if (valid) {
    //       addAPI(this.temp).then(res => {
    //         operationMsg.apply(this,[res.data.code,'角色创建'])
    //         res.data.code === 0 ? this.dialogFormVisible = false : true
    //       })
    //     }
    //   })
    // },
    // handleUpdate(row) {
    //   let { roleName, intro, roleId } = row
    //   this.temp = { roleName, intro, roleId }
    //   this.temp.modifIer = 'admin'
    //   this.dialogStatus = 'update'
    //   this.dialogFormVisible = true
    //   this.$nextTick(() => {
    //     this.$refs['dataForm'].clearValidate()
    //   })
    // },
    // updateData() {
    //   this.$refs['dataForm'].validate((valid) => {
    //     if (valid) {
    //       const tempData = Object.assign({}, this.temp)
    //       updateAPI(tempData).then(res => {
    //         operationMsg.apply(this,[res.data.code,'角色更新'])
    //         res.data.code === 0 ? this.dialogFormVisible = false : true
    //       })
    //     }
    //   })
    // },
  }
}
</script>
