<template>
  <!--分单管理-->
  <div>
    <workBench></workBench>
    <div class="branchCss" :style="`min-height:${tableHeigh(546)}`">
      <span class="btn2" @click="exportOrder">导出</span>
      <!--筛选-->
      <div class="re_screen">
        <ul>
          <li>
            <Screen :listData="semesterList" title="学期" prop="name" :status="semeStatus" :len="5" @changeStatus='changeSemester'></Screen>
          </li>
          <li v-if="semeStatus == '1'">
            <Screen :listData="academicList" title="学级"  :status="acaStatus" :len="5" :showAll="true" @changeStatus='changeAca'></Screen>
          </li>
          <li>
            <Screen :listData="disList" title="经销商" prop="distributorName" :status="disStatus" :showAll="true" :len="5" @changeStatus='changeDis'></Screen>
          </li>
          <li v-if="listQuery.isNot == 1">
          </li>
        </ul>
      </div>
      <!--搜索-->

      <!--列表-->
      <div class="re_list">
        <div class="reList_item">
          <el-table
            :data="list"
            border
            v-loading="listLoading"
            highlight-current-row
            element-loading-text="给我一点时间"
            style="width: 100%" @selection-change="chioceList" >
            <el-table-column type="index" label="序号" width="60"  align="center" ></el-table-column>
            <el-table-column prop="orderNumber" label="订单号" align="center" min-width="170"></el-table-column>
            <el-table-column prop="createTime" label="下单时间" align="center" min-width="160"></el-table-column>
            <el-table-column prop="supplierName" label="经销商" align="center" min-width="100"></el-table-column>
            <el-table-column prop="num" label="教材种类" align="center" min-width="80"></el-table-column>
            <el-table-column fixed="right" label="操作" align="center" width="160">
                <template slot-scope="scope">
                    <span class="view" @click="viewDetail(scope.row)">查看</span>
                </template>
            </el-table-column>
          </el-table>
        </div>
      </div>


      <!--弹窗-->
      <div class="infoAlert" v-if="isShowR">
        <div class="infoAlertC">
          <div class="infoAlertT">
            <h1>查看订单</h1>
            <span @click="isShowR=false">×</span>
          </div>
          <div class="isTypeTwo">
            <template>
              <el-table :data="orderList" border v-loading="smallLoading" highlight-current-row element-loading-text="给我一点时间"
                style="width: 100%" @selection-change="smallList">
                <el-table-column type="index" label="序号" width="60" align="center" ></el-table-column>
                <el-table-column prop="lessonName" label="课程" align="center" min-width="160"></el-table-column>
                <el-table-column prop="bookName" label="教材" align="center" min-width="160"></el-table-column>
                <el-table-column prop="isbn" label="ISBN" align="center" min-width="100"></el-table-column>
                <el-table-column prop="publisher" label="出版社" align="center" min-width="120"></el-table-column>
                <el-table-column prop="supplierName" label="经销商" align="center" min-width="120"></el-table-column>
                <el-table-column prop="discount"  label="折扣" align="center" min-width="60">
                  <template slot-scope="scope">
                    <span>{{scope.row.discount}}折</span>
                  </template>
                </el-table-column>
                <el-table-column prop="price" label="书价" align="center" min-width="80"></el-table-column>
                <el-table-column prop="num" label="数量" align="center" min-width="80"></el-table-column>
              </el-table>
            </template>
          </div>
          <div class="infoevaluateB">
            <span class="cancel" @click="isShowR=false">取消</span>
          </div>
        </div>
      </div>
    </div>
  </div>

</template>
<script>
  import {getListAPI,getDisSlectListAPI,updateAPI,getDetailAPI ,getOtherListAPI} from '@/api/workbench/supplements.js';
import Screen from '@/view/workbench/components/screen.vue';
import {baseUrl} from '@/utils/global'
  export default {
    data() {
      return {
        baseUrl:baseUrl,
        // orderStatus:0,//订单状态，0：待处理  1：已处理  2：处理中   3：待确认
        isMore: {
          'dis':false
        },//是否展开更多的筛选项
        isShowR: false,//弹窗打开与关闭
        listQuery:{
          pageNum:1,
          pageSize:100,
          isNot:0,
          variety:'2'
        },
        disListquery:['2'],//经销商请求列表
        orderListQuery:{
          pageNum:1,
          pageSize:1000
        },
        disList:[],//经销商列表
        semeStatus:'0',//学期状态
        orderStatus:'0',//订单状态
        disStatus:'',
        list:[],
        listLoading: true,
        smallLoading: false,
        batchList: [],
        // typeList: ['分单订单', '确认折扣', '疑问订单', '待收货订单'],
        typeList: ['分单订单', '确认折扣', '疑问订单'],

        typeIn: 0,
        edit: false, 
        semesterList:[
          {
            index:'0',
            name:'当前学期'
          },
          {
            index:'1',
            name:'其他学期'
          }
        ],
        orderList:[],
        orderId:'',
        academicList:[],
        acaStatus:'',
      };
    },
    created() {
      this.getList();
      this.getDisList()
      //从浏览器中拿到保存的筛选数据
      if(window.localStorage.getItem('supplements')){
        let data = JSON.parse(window.localStorage.getItem('supplements'))
        this.listQuery.isNot=data.isNot
        this.disStatus = data.disStatus
        this.listQuery.supplierId = data.supplierId
        this.typeIn = data.typeIn
        window.localStorage.removeItem('supplements')
      }
    },
    mounted() {
      // 注册刷新事件，向浏览器中保存相关的数据
      window.addEventListener('beforeunload', e => {
        const data = {
          isNot:this.listQuery.isNot,
          disStatus:this.disStatus,
          supplierId:this.listQuery.supplierId,
          typeIn:this.typeIn,
        }
          window.localStorage.setItem('supplements',JSON.stringify(data))
      });
    },
    methods: {
      
      getList(){
        getListAPI(this.listQuery).then(res =>{
          const data = res.data
          if(data.code == 0){
            this.list = data.data.list
            this.listLoading = false
          }else{
            this.$message.error(data.msg)
          }
        })
      },
      // 经销商列表
      getDisList() {
        getDisSlectListAPI(this.disListquery).then(res=>{
          const data = res.data
          if(data.code == 0){
            this.disList = data.data
          }else{
            this.$message.error(data.msg)
          }
        })
      },
      // 其他学级
      getOtherList(){
        const data = {
          isNot:'1',
          variety:'0'
        }
        getOtherListAPI(data).then( res=>{
          const data = res.data.data 
          if(res.data.code == 0){
            this.academicList = data
          }
        })
      },

      /*点击切换类型*/
      // clickType(val) {
      //   this.typeIn = val;
      //   this.listQuery.orderType = val
      //   // this.semeStatus = 0
      //   this.listQuery.isNot = 0
      //   this.disStatus = ''
      //   this.listQuery.supplierId = ''
      //   if(val == 0){
      //     this.changeStatus(0)
      //   }else if(val ==1||val==2){
      //     this.changeStatus(3)
      //   }else if(val == 3){
      //     this.changeStatus(6)
      //   }
      //   this.getList();
      // },
      // 筛选条件更多和收起
      moreBtn(val) {
        this.isMore[val] = !this.isMore[val];
      },
      // 切换经销商
      changeDis(value,index){
        this.disStatus = index
        this.listQuery.supplierId = value?value.distributorId:''
        this.getList();
      },
      // 切换学期
      changeSemester(value,index){
        this.semeStatus = index
        this.listQuery.isNot = value.index
        if(value.index == '1'){
          this.getOtherList()
        }else{
          this.acaStatus = ''
          this.listQuery.academicLevel = ''
        }
        this.getList();
      },
      // 切换学级
      changeAca(value,index){
        this.acaStatus = index
        value?this.listQuery.academicLevel = value:this.listQuery.academicLevel = ''
        // this.listQuery.departmentId = ''
        // this.listQuery.publisher = ''
        // this.deptStatus = ''
        // this.pressStatus = ''
        // this.trainStatus =''
        this.getList()
      },

      // 导出
      exportOrder(){
        // this.$message('功能开发中')
        if(this.list.length > 0){
          let obj = this.listQuery
          var test=this.baseUrl + '/school-sysuser/fg/order/export?token='+this.$store.getters.userToken+'&'
          for(var prop in obj){
              if(obj[prop] != undefined){
                  test = test+prop+'='+obj[prop]+'&'
              }
          }
          test = test.substr(0,test.length-1)
          window.open(test,'_blank')
          this.$message.success("数据导出成功")
        }else{
            this.$message.error('当前暂无数据可供导出')
        }
      },

      
      /*查看详情*/
      viewDetail(val) {
        this.orderList = []
        this.isShowR = true;
        this.isType = 1;
        this.orderListQuery.orderId = val.id
        getDetailAPI(this.orderListQuery).then(res=>{
          const data = res.data
          if(data.code == 0){
            this.orderList = data.data.list
            this.smallLoading = false
          }else{
            this.$message.error(data.msg)
          }
        })
      },
      // 同意，拒绝折扣
      changeOrder(row,index){
        this.orderId = row.id
        this.isShowR=true,
        this.isType=index
        
      },
      // 同意订单
      agreeOrder(){
        this._order(4)
      },
      // 拒绝订单
      refuseOrder(){
        this._order(5)
      },


      /*提交*/
      submit(val) {
        this.isShowR = true;
      },
      /*勾选事件*/
      chioceList(val) {
        this.batchList = val;
      },
      
      /*更改数量*/
      handleChange(value) {
      },
      /*小列表弹出框勾选事件*/
      smallList(val){

      },

    },
    components: {Screen},
  };
</script>
<style scoped lang="less">

  .branchCss {
    position: relative;
    width: 100%;
    background: #fff;
    overflow: hidden;
    // height: auto;
    /*筛选*/
    .re_screen {
      padding: 27px 27px 6px 27px;
      overflow: hidden;
      ul {
        li {
          width: 100%;
          display: flex;
          justify-content: space-between;
          .re_screenTit {
            width: 85px;
            font-size: 14px;
            color: #454545;
            line-height: 34px;
            height: 34px;
            display: flex;
            justify-content: flex-start;
            h1 {
              width: 61px;
              text-align: justify;
              text-justify: distribute-all-lines;
              font-weight: bold;
            }
            h1:after {
              content: '.';
              width: 100%;
              display: inline-block;
              overflow: hidden;
              height: 0;
            }
          }
          .re_screenCont {
            width: 900px;
            font-size: 14px;
            color: #454545;
            line-height: 34px;
            span {
              margin-right: 30px;
              display: inline-block;
              cursor: pointer;
            }
            .screenCont_hover {
              color: #3279FF;
              font-weight: bold;

            }
            .inverted {
              transform: rotate(180deg);
              -ms-transform: rotate(180deg); /* Internet Explorer */
              -moz-transform: rotate(180deg); /* Firefox */
              -webkit-transform: rotate(180deg); /* Safari 和 Chrome */
              -o-transform: rotate(180deg); /* Opera */

            }
          }

        }
      }
      .re_open {
        float: right;
        width: 100px;
        line-height: 20px;
        font-size: 14px;
        font-weight: bold;
        color: rgba(50, 121, 255, 1);
        display: flex;
        justify-content: flex-end;
        align-items: center;
        cursor: pointer;
        h2 {font-size: 14px;
          font-weight: bold;
          float: left;
          padding-right: 3px;
        }
        .typeImg {
          padding-top: 0;;
          margin-top: -4px;
          img {
            padding-top: 0;
          }
          .inverted {
            transform: rotate(180deg);
            -ms-transform: rotate(180deg); /* Internet Explorer */
            -moz-transform: rotate(180deg); /* Firefox */
            -webkit-transform: rotate(180deg); /* Safari 和 Chrome */
            -o-transform: rotate(180deg); /* Opera */

          }
        }
      }
    }
    .btn2 {
            position:absolute;
            right: 40px;
            top: 30px;
            width: 57px;
            text-align: center;
            height: 26px;
            line-height: 26px;
            background: rgba(250, 234, 235, 1);
            border: 1px solid rgba(247, 177, 179, 1);
            border-radius: 2px;
            color: #EB666A;
          }
    /*提交按钮*/
    // .re_Submission {
    //   width: 982px;
    //   margin: 10px auto -16px;
    //   height: 55px;
    //   line-height: 55px;
    //   background: rgba(255, 255, 255, 1);
    //   border: 1px solid rgba(238, 238, 238, 1);
    //   display: flex;
    //   justify-content: space-between;
    //   .branchLeft {
    //     margin-left: 15px;
    //     ul {
    //       display: flex;
    //       justify-content: flex-start;
    //       align-items: center;
    //       li {

    //         .typeB {
    //           float: left;
    //           margin: 0 9px;
    //           h2 {
    //             padding: 0 10px;
    //             font-size: 14px;
    //             font-weight: 400;
    //             color: rgba(102, 102, 102, 1);
    //             cursor: pointer;

    //           }
    //         }
    //         span {
    //           content: '';
    //           border-right: 1px solid #eee;
    //           overflow: hidden;
    //           padding: 0;
    //           margin: 0 8px;
    //         }
    //       }
    //       .clickHover {
    //         .typeB{
    //           h2 {
    //             height: 51px;
    //             color: #3279FF;
    //             font-weight: bold;
    //             border-bottom: 4px solid #3279FF;
    //           }
    //         }
    //       }
    //     }
    //   }
    //   .branchRight {
    //     width: auto;
    //     padding-top: 15px;
    //     display: flex;
    //     font-size: 14px;
    //     .branchRR {
    //       width: auto;
    //       height: 28px;
    //       line-height: 28px;
    //       border-radius: 2px;
    //       text-align: center;
    //       margin-right: 10px;
    //       cursor: pointer;
    //       span {
    //         width: 59px;
    //         display: inline-block;
    //       }
    //       .btn1 {
    //         background: rgba(235, 102, 106, 1);
    //         color: #fff;
    //       }
          
    //     }
    //   }

    // }
    /*列表数据*/
    .re_list {
      margin: 0 27px 27px 27px;
      /*border: 1px solid rgba(238, 238, 238, 1);*/
      .reList_item {
        font-size: 14px;
        font-weight: bold;
        color: rgba(69, 69, 69, 1);
        line-height: 30px;
        margin-bottom: 10px;
        .view{
            color: #000;
        }
        .refuse{
            color: #f40303;
        }
        .agree{
            color: #3279FF;
        }
        .logistics{
            color: #3279FF;
        }
        span:hover{
            cursor:pointer
        }

       
      }
      .branchBtn {
        display: flex;
        justify-content: center;
        padding-top: 15px;
        padding-bottom: 3px;
        span {
          width: 89px;
          height: 34px;
          border-radius: 4px;
          font-size: 14px;
          display: inline-block;
          text-align: center;
          line-height: 34px;
          cursor: pointer;
          margin: 0 10px;
        }
        .submit {
          background: rgba(50, 121, 255, 1);
          color: #fff;
        }
        .cancel {
          width: 89px;
          height: 32px;
          line-height: 32px;
          background: rgba(255, 255, 255, 1);
          border: 1px solid rgba(220, 223, 230, 1);
          border-radius: 4px;
          color: #999999;
        }
      }

    }

    /*弹出框*/
    .infoAlert {
      width: 100%;
      height: 100%;
      position: fixed;
      z-index: 111;
      top: 0;
      left: 0;
      background: rgba(0, 0, 0, 0.2);
      display: flex;
      align-items: center;
      justify-content: center;

      .infoAlertC {
        width: auto;
        height: auto;
        background: rgba(255, 255, 255, 1);
        box-shadow: 0px 2px 8px 0px rgba(170, 170, 170, 0.49);
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-bottom: 30px;
        overflow: hidden;
        .infoAlertT {
          width:96%;
          height: 36px;
          padding: 0 2%;
          background: rgba(244, 244, 244, 1);
          display: flex;
          justify-content: space-between;
          line-height: 36px;
          h1 {
            font-size: 14px;
            font-family: "Microsoft Yahei", "simsun", "arial", "tahoma";
            font-weight: bold;
            color: rgba(68, 68, 68, 1);
          }
          span {
            color: #999999;
            font-size: 20px;
            cursor: pointer;

          }

        }
        .isTypeTwo {
          width: auto;
          margin: 32px auto 20px;
          font-size: 14px;
          color: #454545;
          line-height: 26px;
          padding: 0 20px;
          a {
            color: #3279FF;
          }
          h1 {
            font-size: 14px;
            display: inline-block;
            font-weight: bold;
          }
          p {
            font-size: 14px;
            font-weight: 400;
            color: rgba(102, 102, 102, 1);
            line-height: 30px;
            padding-bottom: 10px;
          }
          .isTypeinput {
            span {
              font-size: 14px;
              font-weight: 400;
              color: rgba(102, 102, 102, 1);
              line-height: 40px;
            }
            input {
              float: right;
              width: 316px;
              height: 38px;
              background: rgba(255, 255, 255, 1);
              border: 1px solid rgba(220, 223, 230, 1);
              border-radius: 3px;

            }
          }
          .submitCont {
            width:350px;
            height: 50px;
            line-height: 50px;
            text-align: center;
            font-size: 18px;
          }
        }
        .isTypeTwoBtn {
          width: 100%;
          display: flex;
          justify-content: center;
          .commit {
            display: inline-block;
            cursor: pointer;
            width: 96px;
            height: 32px;
            background: rgba(50, 121, 255, 1);
            border-radius: 4px;
            font-size: 12px;
            font-family: "Microsoft Yahei", "simsun", "arial", "tahoma";
            font-weight: 400;
            color: rgba(255, 255, 255, 1);
            line-height: 32px;
            text-align: center;
            margin-right: 5px;
          }

        }
        /*p {
          width: 378px;
          font-size: 18px;
          font-family: "Microsoft Yahei","simsun","arial","tahoma";
          font-weight: 400;
          color: rgba(69, 69, 69, 1);
          margin-top: 40px;
          margin-bottom: 25px;
          line-height: 30px;
          a {
            color: #3279FF;

          }
        }*/
        .infoAlertB {
          width: 96px;
          height: 32px;
          background: rgba(50, 121, 255, 1);
          border-radius: 4px;
          font-size: 12px;
          font-family: "Microsoft Yahei", "simsun", "arial", "tahoma";
          font-weight: 400;
          color: rgba(255, 255, 255, 1);
          text-align: center;
          line-height: 32px;
          cursor: pointer;

        }

        .errorMsg {
          width: 444px;
          height: 20px;
          padding: 0;
          margin-top: 5px;
          text-align: left;
          font-size: 12px;
          color: #f40303;
        }
        .infoevaluateB {
          width: 100%;
          margin: 0 auto;
          display: flex;
          justify-content:center;
          /*margin-top: 20px;*/
          span{
            margin: 0 10px;
          }
          .commit {
            display: inline-block;
            cursor: pointer;
            width: 96px;
            height: 32px;
            background: rgba(50, 121, 255, 1);
            border-radius: 4px;
            font-size: 12px;
            font-family: "Microsoft Yahei", "simsun", "arial", "tahoma";
            font-weight: 400;
            color: rgba(255, 255, 255, 1);
            line-height: 32px;
            text-align: center;
          }
          .cancel {
            display: inline-block;
            cursor: pointer;
            width: 94px;
            height: 30px;
            border: 1px solid rgba(220, 223, 230, 1);
            border-radius: 4px;
            font-size: 12px;
            font-family: "Microsoft Yahei", "simsun", "arial", "tahoma";
            font-weight: 400;
            color: rgba(153, 153, 153, 1);
            line-height: 30px;
            text-align: center;
          }
        }
      }
    }
  }

</style>
