<template>
  <div id="frogetPass">
    <div class="forgetPassCenter">
      <h1>忘记密码</h1>
      <input type="text" placeholder="请输入手机号" class="forgetPassInput1" v-model="phone"
             v-validate="{required:true,length:11}" name="phone">
      <div v-if="errorBags.has('phone')" class="loginInputTips">请输入手机号</div>
      <div class="forgetPassInput2">
        <input type="text" placeholder="验证码" class="fl" v-model="code" v-validate="{required:true}" name="code">

        <div class="forgetPassCode fr">
          <img :src='captcha64' @click="switchCaptcha">
        </div>

      </div>
      <div v-if="errorBags.has('code')" class="loginInputTips">请输入验证码</div>
      <div class="forgetPassChange">

        <span class="fr" @click="switchCaptcha">换一张</span>
      </div>
      <div class="forgetPassBtn" @click="submit">
        提交
      </div>
    </div>
  </div>
</template>

<script>
  import {getCapAPI} from '@/api/login';
  import {checkAccountAPI,getQuestionAPI} from '@/api/resources.js';

  export default {
    name: 'froget',
    data() {
      return {
        captcha64: "",
        uuid: null,
        code: null,
        phone: null,
        usermsg:{},
      }
    },
    /*watch: {
      '$store.state.search.content':function(val,oldVal) {
      }
    },*/
    computed: {
      getUserIcons() {
        return this.$store.state.search;
      }
    },
    watch: {
      getUserIcons: {
        handler(newName, oldName) {
        },
        immediate: true,
        deep: true,

      }
    },
    created() {
      this.switchCaptcha()

    },
    methods: {
      // 重新获取验证码
      switchCaptcha() {
        // 防止连续点击
        /*clearTimeout(this.getCap)
        this.getCap = setTimeout(() => {*/
        getCapAPI(Math.random()).then(res => {
          this.captcha64 = res.data.img
          this.uuid = res.data.uuid
        })
        /*}, 500)*/
      },
      /*提交按钮*/
      submit() {
        this.$validator.validate().then(result => {
          if (result) {
            checkAccountAPI({
              account: this.phone,
              code: this.code,
              uuid: this.uuid
            }).then(res => {
              if (res.data.status) {
                this.usermsg=res.data.data;
                if(!this.usermsg.isExist){
                  this.msg('用户不存在')
                  return;
                }
                if(!this.usermsg.isEmail&&!this.usermsg.isSecretSecurity){
                  this.msg('用户没有验证方式')
                  return;
                }
                this.$router.push({path:'/forgetchange',query:{user:this.usermsg.token,emailType:this.usermsg.isEmail?1:0,quesType:this.usermsg.isSecretSecurity?1:0}});
              }else{
                this.switchCaptcha()
                this.msg(res.data.msg)
              }
            })
          }
        })


      },

    },
  }
</script>

<style lang="less" scoped>
  #frogetPass {

    padding-top: 70px;
    .forgetPassCenter {
      width: 320px;
      height: 400px;
      box-sizing: initial;
      padding: 51px 40px 0;
      background: rgba(255, 255, 255, 1);
      margin: 0 auto;
      input::-webkit-input-placeholder, textarea::-webkit-input-placeholder {
        color: #C1C5CD
      }
      input:-moz-placeholder, textarea:-moz-placeholder {
        color: #C1C5CD
      }
      input::-moz-placeholder, textarea::-moz-placeholder {
        color: #C1C5CD
      }
      input:-ms-input-placeholder, textarea:-ms-input-placeholder {
        color: #C1C5CD
      }
      h1 {
        width: 100%;
        text-align: center;
        height: 22px;
        font-size: 22px;
        font-family: "Microsoft Yahei", "simsun", "arial", "tahoma";
        font-weight: bold;
        color: rgba(51, 51, 51, 1);
        line-height: 22px;
      }
      .forgetPassInput1 {
        width: 100%;
        margin-top: 40px;
        height: 41px;
        line-height: 41px;
        border-bottom: 1px solid #DCDFE6;
        border-left: none;
        border-top: none;
        border-right: none;
      }
      .forgetPassInput1::-ms-clear{display: none;}
      .forgetPassInput1::-ms-reveal{display: none;}
      .forgetPassInput2 {
        width: 100%;
        margin-top: 22px;
        height: 41px;
        border-bottom: 1px solid #DCDFE6;
        input {
          width: 180px;
          height: 41px;
          line-height: 41px;
          border: none;
        }
        input::-ms-clear{display: none;}
        input::-ms-reveal{display: none;}
        .forgetPassCode {
          width: 85px;
          height: 30px;
          margin-top: 5px;
          img {
            width: 85px;
            height: 30px;

          }
        }
      }
      .forgetPassChange {
        width: 100%;
        height: 87px;
        span {
          cursor: pointer;
          margin-top: 19px;
          height: 14px;
          line-height: 14px;
          padding-left: 18px;
          background: url("../../assets/img/change.png") no-repeat;
          font-size: 14px;
          font-family: "Microsoft Yahei", "simsun", "arial", "tahoma";
          font-weight: 400;
          color: rgba(170, 185, 210, 1);
        }
        .captcha-img {
          position: absolute;
          right: 6px;
          top: 8px;
        }
      }
      .forgetPassBtn {
        width: 320px;
        height: 44px;
        background: rgba(50, 121, 255, 1);
        border-radius: 4px;
        margin: 0 auto;
        text-align: center;
        font-size: 16px;
        font-family: "Microsoft Yahei", "simsun", "arial", "tahoma";
        font-weight: 400;
        color: rgba(255, 255, 255, 1);
        line-height: 44px;
        cursor: pointer;
      }

    }
    .loginInputTips {
      font-size: 14px;
      font-family: "Microsoft Yahei", "simsun", "arial", "tahoma";
      color: rgba(244, 3, 3, 1);
      height:24px;
      line-height: 24px;
      font-weight: normal;
    }
  }

</style>
