<template>
  <!--通过邮件找回密码-->
  <div id="frogetChangEmail" :style="{'paddingTop':frogetTop}">
    <div class="ChangEmailCenter" v-if="isShow=='email'">
      <h1>忘记密码</h1>
      <input type="text" placeholder="请输入您的邮箱" v-model="ememail" class="ChangEmailInput1" v-validate="{required:true,email:true}"
             name="ememail" data-vv-scope="vvemail">
      <p class="tsy" v-if="errorBags.has('vvemail.ememail')">请输入正确的邮箱格式</p>
      <div class="ChangEmailInput2">
        <input type="text" v-model="emCode" placeholder="请输入验证码" class="fl"  v-validate="'required'" name="emCode" data-vv-scope="vvemail">

        <div class="ChangEmailCode fr" @click="getEmailcode" v-if="sendAuthCode">
          获取验证码
        </div>
        <div class="ChangEmailCode fr" v-if="!sendAuthCode">{{time}}秒之后重发</div>
      </div>
      <p class="tsy" v-if="errorBags.has('vvemail.emCode')">请输入验证码</p>
      <div class="ChangEmailNext" @click="nextBtn">下一步</div>
      <div class="ChangEmailBtn" @click="linkHref('/login')">返回登录</div>
    </div>

    <div class="forgetReset" v-show="isShow=='reset'"><!--frogetTop=129-->
      <h1>重置密码</h1>
      <input type="password" placeholder="设置新密码 建议使用至少两种字符组合" v-model="newPassword"
             v-validate="{required:true,regex :/^[_0-9A-Za-z]{6,20}$/}"  data-vv-scope="resetPass" name="newPass">
      <p class="tsy" v-if="errorBags.has('resetPass.newPass')">请输入您的新密码</p>
      <input type="password" placeholder="请再次输入密码" v-model="twoPassword" v-validate="{required:true,confirmed:newPassword}"
             name="confirmPass"  data-vv-scope="resetPass">
      <p class="tsy" v-if="newPassword!=''&&errorBags.has('resetPass.confirmPass')">密码不一致</p>


      <div class="forgetResetBtn" @click="resetPassword">保存设置</div>
    </div>
    <!--问题-->
    <div class="forgetAnswer" v-if="isShow=='answer'"><!--frogetTop=40-->
      <h1>忘记密码</h1>
      <div class="forgetAnswerCont">
        <ul>
          <li v-for="(item,index) in quesList" :key="index">
            <div class="question">
              <span>密保问题{{index + 1}}:</span>
              <div class="QuestionOne">
                <input type="text" v-model="item.question" disabled>
                <!--<img src="@/assets/img/triangle.png" alt="">-->
              </div>
            </div>
            <div class="answer">
              <span>答案:</span>
              <div class="answersOne">
                <input type="text" v-model="item.answer" v-validate="{required:true}" :name="'answer'+index" :data-vv-scope="'answers'">
              </div>
            </div>
            <div class="errorMsg" v-if="errorBags.has('answers.'+('answer'+index))">请输入问题{{index + 1}}的答案</div>
          </li>
          <!--<li v-for="(answ,index1) in quesList" :key="index1">

          </li>-->
          <!--<li>
            <span>密保问题2:</span>
            <div class="QuestionOne">
              <input type="text" placeholder="您母亲的生日是？" v-model="quesList[1].question" disabled>
              &lt;!&ndash;<img src="@/assets/img/triangle.png" alt="">&ndash;&gt;
            </div>
          </li>
          <li>
            <span>答案:</span>
            <div class="answersOne">
              <input type="text" v-model="quesList[1].answer">
            </div>
          </li>-->
        </ul>
      </div>
      <div class="ChangEmailNext" @click="nextQuesBtn">下一步</div>
      <div class="ChangEmailBtn" @click="linkHref('/login')">返回登录</div>
    </div>

  </div>
</template>

<script>
  import {resetPasswordAPI, getQuestionAPI, secretSecurityAPI ,checkEmailAPI,getEmailCode} from '@/api/resources.js';
  import Cookies from 'js-cookie';
  import md5 from 'blueimp-md5'
  export default {
    name: 'froget',
    data() {
      return {
        frogetTop: '40px',
        isShow: 'answer',
        user: null,
        quesList: [{
          answer: '',
          id: '',
          question: '',
          questionCode: '',
        }],
        answersOne: null,
        answersTwo: null,
        newPassword: '',
        twoPassword: '',
        ememail:'',
        emCode:'',
        uuid:'',
        time:60,
        sendAuthCode:true,
      }
    },
    created() {
      this.isShow = this.$route.query.type;
      this.user = this.$route.query.user;
      Cookies.set('Y-Token', this.user);
      if (this.$route.query.type == 'answer') {
        this.getQuestion();
      }

    },

    destroyed: function () {
      Cookies.remove('Y-Token')
    },
    methods: {
      // 获取邮箱验证码
      getEmailcode() {
        this.$validator.validate('ememail').then(result => {
          if(result){
            this.getCode();
            getEmailCode(this.ememail).then(res=>{
              this.uuid=res.data;
            })
          }
        })
      },
      /*获取验证码*/
      getCode() {
        this.uuid = '';
        this.sendAuthCode = false;
        this.time = 60;
        let auth_timetimer = setInterval(() => {
          this.time--;
          if (this.time < 0) {
            this.sendAuthCode = true;
            clearInterval(auth_timetimer);
          }
        }, 1000);

      },
      /*邮箱下一步*/
      nextBtn() {
        this.$validator.validateAll('vvemail').then(result => {
          if(result){
            checkEmailAPI({
              code: this.emCode,
              email: this.ememail,
              uuid: this.uuid
            }).then(res=>{
              if(res.data.data){
                this.isShow='reset';
                 /*this.$router.push({path: '/forgetchangeemail', query: {type: 'reset'}})*/
              }else{
                this.msg('验证失败')
              }
            })

          }
        })
      },
      /*问题下一步*/
      nextQuesBtn() {
        this.$validator.validateAll('answers').then(result => {
          if (result) {
            secretSecurityAPI(this.quesList).then(res => {
              if (res.data.status) {
                if (res.data.data==true) {
                  this.isShow='reset';
                } else {
                  this.msg('回答错误')
                }
              }
            })
          }
        })


      },
      /*返回登录*/
      linkHref(link) {
        Cookies.remove('Y-Token')
        this.$router.push(link)
      },
      /*重置密码*/
      resetPassword() {
        this.$validator.validateAll('resetPass').then(result => {
          if (result) {
            resetPasswordAPI(md5(this.newPassword)).then(res => {
            if (res.data.status) {
              this.$router.push('/login');
            }else{
              this.msg('设置失败');
            }
          })
          }
        })

      },
      /*获取密保问题*/
      getQuestion() {
        getQuestionAPI().then(res => {
          if (res.data.status) {
            this.quesList = res.data.data.splice(0, 2);
          }
        })
      },
    },
    watch: {
      $route() {
        this.isShow = this.$route.query.type;
        this.$router.push({path: '/forgetchangeemail', query: {type: this.isShow, user: this.user}});
        if (this.$route.query.type == 'answer') {
          Cookies.set('Y-Token', this.user)
          this.getQuestion();
        }
      },
    },
  }
</script>

<style lang="less" scoped>
  #frogetChangEmail {
    /*padding-top: 103px;*/
    .ChangEmailCenter {
      width: 320px;
      height: 371px;
      box-sizing: initial;
      padding: 51px 40px 0;
      background: rgba(255, 255, 255, 1);
      margin: 0 auto;

      h1 {
        width: 100%;
        text-align: center;
        height: 22px;
        font-size: 22px;
        font-family: "Microsoft Yahei", "simsun", "arial", "tahoma";
        font-weight: bold;
        color: rgba(51, 51, 51, 1);
        line-height: 22px;
      }
      .ChangEmailInput1 {
        width: 100%;
        margin-top: 40px;
        height: 41px;
        line-height: 41px;
        border-bottom: 1px solid #DCDFE6;
        border-left: none;
        border-top: none;
        border-right: none;
      }
      .ChangEmailInput1::-ms-clear{display: none;}
      .ChangEmailInput1::-ms-reveal{display: none;}
      .ChangEmailInput2 {
        width: 100%;
        margin-top: 22px;
        height: 41px;
        border-bottom: 1px solid #DCDFE6;
        input {
          width: 180px;
          height: 41px;
          line-height: 41px;
          border: none;
        }
        input::-ms-clear{display: none;}
        input::-ms-reveal{display: none;}
        .ChangEmailCode {
          width: 100px;
          height: 22px;
          margin-top: 8px;
          font-size: 14px;
          font-family: "Microsoft Yahei", "simsun", "arial", "tahoma";
          font-weight: 400;
          color: rgba(50, 121, 255, 1);
          line-height: 22px;
          border-left: 1px solid #DCDFE6;
          padding-left: 26px;
          cursor: pointer;
        }
      }
      .ChangEmailChange {
        width: 100%;
        height: 87px;
        span {
          cursor: pointer;
          margin-top: 19px;
          height: 14px;
          line-height: 14px;
          padding-left: 18px;
          background: url("../../assets/img/change.png") no-repeat;
          font-size: 14px;
          font-family: "Microsoft Yahei", "simsun", "arial", "tahoma";
          font-weight: 400;
          color: rgba(170, 185, 210, 1);
        }
      }
      .tsy {
        float: left;
        display: block;
        padding-left: 0px;
        color: red;
        font-size: 14px;
      }

    }
    .ChangEmailNext {
      width: 320px;
      height: 44px;
      background: rgba(50, 121, 255, 1);
      border-radius: 4px;
      margin: 30px auto 16px;
      text-align: center;
      font-size: 16px;
      font-family: "Microsoft Yahei", "simsun", "arial", "tahoma";
      font-weight: 400;
      color: rgba(255, 255, 255, 1);
      line-height: 44px;
      cursor: pointer;

    }
    .ChangEmailBtn {
      width: 318px;
      height: 42px;
      background: #fff;
      border: 1px solid #3279FF;
      border-radius: 4px;
      margin: 0 auto;
      text-align: center;
      font-size: 16px;
      font-family: "Microsoft Yahei", "simsun", "arial", "tahoma";
      font-weight: 400;
      color: #3279FF;
      line-height: 44px;
      cursor: pointer;
    }
    .forgetReset {
      width: 320px;
      height: 329px;
      box-sizing: initial;
      padding: 51px 40px 0;
      background: rgba(255, 255, 255, 1);
      margin: 0 auto;
      h1 {
        width: 100%;
        text-align: center;
        height: 22px;
        font-size: 22px;
        font-family: "Microsoft Yahei", "simsun", "arial", "tahoma";
        font-weight: bold;
        color: rgba(51, 51, 51, 1);
        line-height: 22px;
      }
      input {
        width: 100%;
        height: 41px;
        line-height: 41px;
        margin-top: 22px;
        border-left: none;
        border-top: none;
        border-right: none;
        border-bottom: 1px solid #DCDFE6;
      }
      .forgetResetBtn {
        width: 320px;
        height: 44px;
        background: rgba(50, 121, 255, 1);
        border-radius: 4px;
        margin: 38px auto 16px;
        text-align: center;
        font-size: 16px;
        font-family: "Microsoft Yahei", "simsun", "arial", "tahoma";
        font-weight: 400;
        color: rgba(255, 255, 255, 1);
        line-height: 44px;
        cursor: pointer;

      }
      .tsy {
        display: block;
        padding-left: 0px;
        color: red;
        font-size: 14px;
      }
    }

    .forgetAnswer {
      width: 412px;
      height: 489px;
      box-sizing: initial;
      padding: 51px 44px 0;
      background: rgba(255, 255, 255, 1);
      margin: 0 auto;
      h1 {
        width: 100%;
        text-align: center;
        height: 22px;
        font-size: 22px;
        font-family: "Microsoft Yahei", "simsun", "arial", "tahoma";
        font-weight: bold;
        color: rgba(51, 51, 51, 1);
        line-height: 22px;
      }

      .forgetAnswerCont {
        height: auto;
        overflow: hidden;

        li {
          width: 100%;
          /*display: flex;
          justify-content: space-between;*/
          height: auto;
          .question {
            width: 100%;
            display: flex;
            justify-content: space-between;
          }
          .answer {
            width: 100%;
            display: flex;
            justify-content: space-between;
          }
          span {
            width: 80px;
            text-align: right;
            font-size: 16px;
            font-family: "Microsoft Yahei", "simsun", "arial", "tahoma";
            font-weight: 400;
            color: rgba(85, 85, 85, 1);
            height: 53px;
            margin-top: 10px;
            line-height: 50px;
          }
          input {
            border-left: none;
            border-right: none;
            border-top: none;
            border-bottom: none;
            height: 40px;
            background: none
          }
          .errorMsg {
            font-size: 14px;
            font-family: "Microsoft Yahei", "simsun", "arial", "tahoma";
            font-weight: 400;
            color: rgba(244, 3, 3, 1);
            height: 30px;
            line-height: 24px;
            padding-left: 92px;
          }
        }
        .QuestionOne, .answersOne {
          width: 320px;
          height: 53px;
          display: block;
          border-bottom: 1px solid #DCDFE6;
          margin-top: 10px;
        }
        .QuestionOne {
          display: flex;
          justify-content: space-between;
          input {
            width: 290px;
            margin-top: 4px;
          }
          img {
            width: 10px;
            height: 6px;
            margin-top: 20px;
          }
        }
        .answersOne {
          input {
            width: 100%;
            margin-top: 4px;
          }
        }
      }
    }

  }

</style>
