<template>
  <!--忘记密码 选择方式-->
  <div id="frogetChange">
    <div class="frogetChangeCenter">
      <h1>忘记密码</h1>

      <div class="frogetChangeBtn">
        <div class="forgetChangEmail" @click="changType('email')" v-if="emailType==1"><span>邮箱找回</span></div>
        <div class="forgetChangAns" @click="changType('answer')" v-if="quesType==1"><span>密码问题找回</span></div>
      </div>
    </div>
  </div>
</template>

<script>
  export default {
    name: 'froget',
    data() {
      return {
        emailType:1,
        quesType:1,
      }
    },
    created() {
      this.emailType=this.$route.query.emailType;
      this.quesType=this.$route.query.quesType;
    },
    methods: {
      changType(str){
        this.$router.push({path:'/forgetchangeemail',query:{type:str,user:this.$route.query.user}})
      },
    },
  }
</script>

<style lang="less" scoped>
  #frogetChange {

    padding-top: 141px;
    .frogetChangeCenter {
      width: 612px;
      height: 254px;
      padding: 51px 0 0;
      background: rgba(255, 255, 255, 1);
      margin: 0 auto;
      h1 {
        width: 100%;
        text-align: center;
        height: 88px;
        font-size: 22px;
        font-family: "Microsoft Yahei", "simsun", "arial", "tahoma";
        font-weight: bold;
        color: rgba(51, 51, 51, 1);
        line-height: 22px;
      }
      .frogetChangeBtn{

        display: flex;
        justify-content: center;
        .forgetChangEmail{
          width:182px;
          height:66px;
          padding:7px;
          background:rgba(50,121,255,1);
          box-shadow:0px 2px 8px 0px rgba(170,170,170,0.49);
          cursor: pointer;
          margin: 0 50px;
          span{
            width:178px;
            height:62px;
            border: 2px solid #fff;
            display: block;
            text-align: center;
            line-height: 64px;
            color: white;
            font-size:16px;
            font-family: "Microsoft Yahei", "simsun", "arial", "tahoma";
            font-weight:400;

          }

        }
        .forgetChangAns{
          width:182px;
          height:66px;
          padding:7px;
          background:rgba(255,255,255,1);
          box-shadow:0px 2px 8px 0px rgba(170,170,170,0.49);
          cursor: pointer;
          margin: 0 50px;
          span{
            width:178px;
            height:62px;
            border: 2px solid #A9C2F3;
            display: block;
            text-align: center;
            line-height: 64px;
            color: #3279FF;
            font-size:16px;
            font-family: "Microsoft Yahei", "simsun", "arial", "tahoma";
            font-weight:400;

          }

        }

      }

    }
  }

</style>
