<template>
  <div id="froget">
    <div class="forgetTop">
      <div class="forgetLogo">

          <router-link to="/">
          <!-- <img src="@/assets/img/logoblur.png" alt=""> -->
          <span class="noSignLogo">
            <img class="img" src="@/assets/img/logoHome.png" alt="">
            <span>技工教育和职业培训资源服务平台</span>
          </span>
            <!--<h1>技工教育平台</h1>-->
          </router-link>
        <span>
          <a @click="linkHref">
            返回登录>>
          </a>
        </span>
      </div>
    </div>

    <div class="frogetBg">
      <router-view></router-view>
    </div>


    <LoginFooter></LoginFooter>
  </div>
</template>

<script>
  import Cookies from 'js-cookie'
  export default {
    name: 'forget',
    data() {
      return {}
    },
    created() {
    },
    methods: {
      linkHref(){
        Cookies.remove('Y-Token')
        this.$router.push("/login")
      },
    },
  }
</script>

<style lang="less" scoped>
  #froget {
    .forgetTop {
      height: 120px;
      width: auto;
      .forgetLogo {
        width: 1200px;
        height: 120px;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
        line-height: 120px;

        a{
          // width:250px;
          /*display: flex;*/
          .noSignLogo {
            margin-top: 40px;
            display: flex;
            height: 64px;
            img{
              height: 64px;
            }
            span{
              margin-left: 12px;
              font-size: 24px;
              line-height: 64px;
              color: #3279FF;
            }
          }
          // img {
          //   margin-top: 40px;
          //   /*width: 248px;*/
          //   /*height: 41px;*/
          //   float: left;
          //   display: block;
          //   /*width:41px;*/
          //   margin-right: 3px;
          // }
          h1{
            margin-top: 40px;
            font-size: 26px;
            font-weight: normal;
            color:#3279FF;
            line-height: 41px;
          }
        }
        span {
          color: #3279FF;
          a {
            color: #3279FF;
            font-size: 14px;
            font-family: "Microsoft Yahei", "simsun", "arial", "tahoma";
            font-weight: 400;
          }
        }
      }
    }
    .frogetBg {
      background: url("../../assets/img/forgetbg.png") no-repeat;
      width: auto;
      height: 638px;
    }

  }

</style>
