<template>
  <div id="login">
    <div class="loginPartOne" :style="`min-height:${minHeight}`">
      <div class="loginLogo">
        <router-link to="/">
        <span class="noSignLogo">
          <img class="img" src="@/assets/img/logoHome.png" alt="">
          <span>技工教育和职业培训资源服务平台</span>
        </span>
          <!-- <img src="@/assets/img/logolong.png" alt=""> -->
          <!--<h1>技工教育平台</h1>-->
        </router-link>


      </div>
      <div class="loginInput">
        <div class="loginInputCont fr">
          <div class="login-title">
            <span :class="choiseStatus == '1'?'login-choise':''" @click="changeUser('1')">学校用户登录</span><span :class="choiseStatus == '2'?'login-choise':''" @click="changeUser('2')">学生用户登录</span>
          </div>
        
          <form action="" style="width:310px">
            <!-- 学校登录 -->
            <input v-if="choiseStatus == '1'" class="cap-input" type="text" placeholder="请用手机号登录" v-model="loginForm.account" v-validate="{required:true,length:11}"
                   name="account" @input="inputChange(1)">
            <input  v-if="choiseStatus == '2'" class="cap-input" type="text" placeholder="请用身份证号登录" v-model="loginForm.account" v-validate="{required:true,length:18}"
                   name="account" @input="inputChange(1)">
            <input type="password" placeholder="密码" v-model="loginForm.password"
                   v-validate="{ required: true, regex: /^[_0-9A-Za-z]{6,20}$/}" name="password"  @input="inputChange(2)">
            <div class="captcha">
              <input class="captcha-input" type="text" @keyup.enter="loginBtn" v-model="loginForm.code"
                     placeholder="验证码" v-validate="'required'" name="code"   @input="inputChange"/>
              <img class="captcha-img" :src='captcha64' alt="captcha" @click="switchCaptcha">
            </div>
            <div class="LoginforgetPass">
              <div class="loginInputTips fl">
                <span v-if="isShowError">{{errorMsg}}</span>
                <!--<span v-if="errorBags.has('account')||errorBags.has('password')||errorBags.has('code')"></span>-->
                <b v-if="errorBags.has('account')">{{choiseStatus =='1'?'请输入11位正确格式的手机号':'请输入18位正确格式的身份证号'}}<br></b>
                <b v-if="errorBags.has('password')">请输入6-20为密码<br></b>
                <b v-if="errorBags.has('code')">请输入验证码<br></b>
              </div>
              <div class="loginInputforgetPass fr">
                <router-link to="/forgetPass" v-show="choiseStatus == '1'">忘记密码</router-link>
              </div>
            </div>
          </form>
          <div class="loginInputBtn" @click="isLoginBtn&&loginBtn()" :style="{background:isLoginBtn?'#3279FF':'#DCDFE6'}">
            登录
          </div>
        </div>
      </div>
    </div>
    <LoginFooter></LoginFooter>
  </div>
</template>

<script>
  import {getCapAPI, loginAPI} from '@/api/login';
  import {haveAccount} from "@/api/resources.js";
  import md5 from 'blueimp-md5'
  import Cookies from 'js-cookie';
  import {resetRouter} from '../../router';
  import store from '../../store'
  import router from '../../router'
  export default {
    name: 'login',
    data() {
      return {
        loginForm: {
          account: "",
          code: "",
          password: "",
          type: "",
          uuid: ""
        },
        captcha64: "",
        errorMsg: '',
        isShowError: false,
        isLogin:false,
        isHaveAccount:true,
        isLoginBtn:true,
        minHeight:100+'px',
        choiseStatus:'1'
      }
    },
    created() {
      this.loginForm.type = this.$route.query.type != null ? this.$route.query.type : 0;
      this.minHeight =this.tableHeigh(226)
    },
    mounted() {
      this.switchCaptcha()
    },
    methods: {
      // 更改登录用户
      changeUser(index){
        this.choiseStatus = index
        
        this.loginForm={
          account: "",
          code: "",
          password: "",
          type: "",
          uuid: ""
        }
        this.errorBags.clear('account');
      },
      inputChange(num){
        document.getElementById('id').chid
        this.isShowError=false;
        if(num==1&&this.loginForm.account.length==11){
          haveAccount(this.loginForm.account).then(res=>{
            res.data.data?this.isHaveAccount=true:this.isHaveAccount=false;
          })
        }else if(this.loginForm.account.length!=11){
          this.isHaveAccount=true;
        }
        if(this.loginForm.account.length>0&&this.loginForm.password.length>0){
          this.isLogin=true;
        }else{
          this.isLogin=false;
        }

      },
      // 重新获取验证码
      switchCaptcha() {

        // 防止连续点击
        clearTimeout(this.getCap)
        this.getCap = setTimeout(() => {
          getCapAPI(Math.random()).then(res => {
            this.captcha64 = res.data.img
            this.loginForm.uuid = res.data.uuid
          })
        }, 500)
      },
      handleLogin() {
        // this.$refs.loginForm.validate(valid => {
        //   if (valid) {
        this.loading = true
        this.$store.dispatch('Login', this.loginForm).then((res) => {

          if (res !== 0) {
            this.$message({message: res.msg, type: 'error'})
            this.loading = false
            this.switchCaptcha()
            return
          }
          this.loading = false

          this.$router.push({path: '/welcome'})
        }).catch(() => {
          this.loading = false
        })
        // } else {
        //   return false
        // }
        // })
      },
      loginBtn() {
        // const data = {
        //           account: this.loginForm.account,
        //           code: this.loginForm.code,
        //           memberType:0,
        //           password: md5(this.loginForm.password),
        //           type: 'PC', /*this.loginForm.type*/
        //           uuid: this.loginForm.uuid
        //         }
        resetRouter()
        this.$validator.validate().then(result => {
          if (result) {
            this.isLoginBtn=false;
            loginAPI({
              account: this.loginForm.account,
              code: this.loginForm.code,
              memberType:0,
              password: md5(this.loginForm.password),
              type: 'PC', /*this.loginForm.type*/
              uuid: this.loginForm.uuid
            }).then(res => {
              if (res.data.status) {
                let _Token= res.data.data.token
                this.isShowError = false;
                this.$store.dispatch('LoginBtn',res.data.data).then(()=>{
                  this.msg('登录成功')
                  if(this.choiseStatus =='1'){
                    Cookies.set('Y-Token', _Token);
                    Cookies.remove('S-Token')
                    let timerIn=setTimeout(()=>{
                    // this.$store.commit('SET_ROLES', [])
                    store.dispatch('GetRouterList').then(res => { // 拉取user_info
                      const routerIds = res.data.data.mList // res.data.roles note: roles must be a array! such as: ['editor','develop']
                      store.dispatch('GenerateRoutes', { routerIds }).then(() => { // 根据roles权限生成可访问的路由表
                        router.addRoutes(store.getters.addRouters) // 动态添加可访问路由表
                        // console.log(store.getters.addRouters)
                      })
                    }).catch((err) => {
                      store.dispatch('LoginOut').then(() => {
                        Message.error(err || 'Verification failed, please login again')
                        next({ path: '/login' })
                      })
                    })
                      const history = this.$store.getters.history
                      console.log(2222222)
                      if(history){
                        console.log(history)
                        if(history.indexOf('forget')!= -1){
                          this.$router.push('/index')
                        }else{
                          this.$router.push(history)
                        }
                      }else{
                        this.$router.push('/index')
                      }
                      clearTimeout(timerIn)
                      this.isLoginBtn=true;
                    },2000)
                  }else if(this.choiseStatus =='2'){
                    Cookies.set('S-Token', _Token);
                    Cookies.remove('Y-Token')
                    this.$router.push('/studentPay')
                  }
                })
              }else {
                this.isShowError = true;
                this.errorMsg = res.data.msg;
                this.switchCaptcha();
                this.isLoginBtn=true;
              }
            })
          }
        })
      },
    }
  }
</script>

<style lang="less" scoped>
  #login {
    width: 100%;
    height: auto;
    /*display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;*/
    .loginPartOne {
      width: 100%;
      height: 700px;
      background: #5A8CED;
      .loginLogo {
        width: 1200px;
        display: block;
        padding-top: 40px;
        margin: 0 auto;
        height: 41px;
        .noSignLogo {
          display: flex;
          height: 64px;
          img{
            height: 64px;
          }
          span{
            margin-left: 12px;
            font-size: 24px;
            line-height: 64px;
            color: #fff;
          }
        }
        h1{
          font-size: 26px;
          font-weight: normal;
          color:#fff;
          line-height: 41px;
        }

      }
      .loginInput {
        width: 1250px;
        margin: 86px auto 0;
        background: url("../../assets/img/loginBg.png") no-repeat;
        height: 430px;
        .loginInputCont {
          width: auto;
          height: 420px;
          padding: 45px 35px 0;
          background: rgba(255, 255, 255, 1);
          box-shadow: 0px 2px 20px 0px rgba(7, 10, 75, 0.1);
          border-radius: 4px;
          margin-top: 33px;
          margin-right: 50px;
          .login-title {
            // display: flex;
            // justify-content: center;
            height: 47px;
            font-size: 18px;
            font-family: "Microsoft Yahei", "simsun", "arial", "tahoma";
            font-weight: 400;
            color: rgba(38, 43, 51, 1);
            line-height: 36px;
            text-align: center;
            span{
              padding-right: 30px;
            }
            span:hover{
              cursor:pointer;
              color: #0089EE;
            }
            .login-choise{
              color: #0089EE;
            }
          }
          input {
            width: 100%;
            height: 59px;
            line-height: 59px;
            box-shadow: none;
            border-top: none;
            border-left: none;
            border-right: none;
            border-bottom: 1px solid #DCDFE6;

          }
          // input::-ms-clear{display: none;}
          // input::-ms-reveal{display: none;}
          input::-webkit-input-placeholder, textarea::-webkit-input-placeholder {
            color: #C1C5CD
          }
          input:-moz-placeholder, textarea:-moz-placeholder {
            color: #C1C5CD
          }
          input::-moz-placeholder, textarea::-moz-placeholder {
            color: #C1C5CD
          }
          input:-ms-input-placeholder, textarea:-ms-input-placeholder {
            color: #C1C5CD
          }
          .captcha {
            position: relative;
          }
          .captcha-img {
            position: absolute;
            right: 6px;
            top: 8px;
          }
          .LoginforgetPass {
            width: 100%;
            height: 64px;
            overflow: hidden;
            .loginInputTips {
              font-size: 14px;
              font-family: "Microsoft Yahei", "simsun", "arial", "tahoma";
              font-weight: 400;
              color: rgba(244, 3, 3, 1);
              line-height: 60px;
              b {
                font-weight: normal;
              }

            }
            .loginInputforgetPass {
              width: 48px;
              height: 11px;
              font-size: 12px;
              font-family: "Microsoft Yahei", "simsun", "arial", "tahoma";
              font-weight: 400;
              color: rgba(170, 185, 210, 1);
              line-height: 60px;
              a {
                color: rgba(170, 185, 210, 1);
              }
            }
          }
          .loginInputBtn {
            width: 310px;
            height: 44px;
           /* background: rgba(50, 121, 255, 1);*/
            border-radius: 4px;
            text-align: center;
            line-height: 44px;
            font-size: 16px;
            font-family: "Microsoft Yahei", "simsun", "arial", "tahoma";
            font-weight: 400;
            color: rgba(255, 255, 255, 1);
            cursor: pointer;
          }
        }

      }

    }

  }
.captcha-input::-ms-clear{display: none;}
.captcha-input::-ms-reveal{display: none;}
.cap-input::-ms-clear{display: none;}
.cap-input::-ms-reveal{display: none;}
</style>
