<template>
  <!--意见征集详情-->
    <div>
      <ComHeader></ComHeader>
      <router-view/>

      <LoginFooter></LoginFooter>

    </div>
</template>

<script>
    export default {
        name: 'HelloWorld',
        data() {
            return {}
        },
        created() {
        },
        watch: {},
        methods: {},
    }
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>

</style>
