<template>
    <div v-cloak>
        <div class="integral-top">
            <integral-mode :integralNum="integralNum"  @toExchange="toExchange"></integral-mode>
        </div>
        <div>
            <title-nav :titleMsg ="bookTitle"></title-nav>
            <div class="apply-record">
                <div class="integral-nav" v-if="list.length > 0">
                    <span class="nav-title title1">来源/用途</span>
                    <span class="nav-title title2">积分变化</span>
                    <span class="nav-title title3">日期</span>
                </div>
                <loading v-if="isLoading"></loading>
                <div v-else>
                    <ul v-if="list.length > 0">
                        <li v-for="(item,index) in list" :key="index">
                            <div class="integral-con">
                                <div class="integral-table con1">{{sourceType[item.source]}}</div>
                                <div class="integral-table" :class="item.info > 0? 'con3':'con2'">{{item.info > 0 ?'+':''}}{{item.info}}</div>
                                <div class="integral-table con4">{{item.createTime}}</div>
                            </div>
                        </li>
                    </ul>
                    <div v-else class="integral-none">
                    <img  src="@/assets/img/12-暂无内容.jpg" alt="">
                    </div>
                    <div class="pagination-container">
                        <pagination class="paddingTop" @change="pageChange"
                                    :current-page="listQuery.pageNum"
                                    :page-size="listQuery.pageSize" :total-page="lastPage" v-if="total&&total>0">222</pagination>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>
<script>
import titleNav from '../components/title'
import integralMode from '../components/integralMode'
import Loading from "../components/loading";

import {getUserIntegrallNumAPI,getIntegralListAPI} from "@/api/personal/integral"
export default {
    data(){
        return{
            bookTitle:'我的积分记录',
            integralNum:null,
            list:[],
            listQuery:{
                pageNum:1,
                pageSize:12
            },
          lastPage:0,
            total:null,
            sourceType:{
                "1":"签到",
                "2": "样书反馈",
                "3":"样书券兑换",
                "4":"礼物兑换",
                "5":"后台发放",
                '6':'图书评价'
            },
            lastPage:null,
            isLoading:false,

        }
    },
    mounted(){
        this.getIntegralNum()
        this.getIntegralList()
    },
    methods:{
        // 当前积分数量
        getIntegralNum(){
            getUserIntegrallNumAPI().then(res =>{
                res.data.code === 0 ? (this.integralNum = res.data.data):this.$message.error('请求用户积分数据失败')
            })
        },
        // 积分记录
        getIntegralList(){
            this.isLoading = true
            getIntegralListAPI(this.listQuery).then(res =>{
                const data = res.data.data
                if(res.data.code === 0){
                    this.list = data.list
                    this.total = data.total
                    this.lastPage = Math.ceil(Number(data.total) / Number(this.listQuery.pageSize));
                    this.isLoading = false
                }else{
                    this.$message.error('获取报名表单失败')
                }
            })
        },
        toExchange(val){
            this.$router.push({
                name:'integralExchange'
            })
        },

        // 页数改变
        pageChange(val) {
        this.listQuery.pageNum = val
        this.getIntegralList()
        },
      /*切换page*/
      pageChange(val) {
        this.listQuery.pageNum = val
        this.getIntegralList();
      },
    },
    components:{titleNav,integralMode,Loading}
}
</script>
<style scoped>
.integral-top{
    height: 132px;
    border-bottom: 8px solid #f4f5f9;
    padding-left:26px;
}
/* 样书申请记录 */
.apply-record{
    margin: 21px 27px;
}
.integral-none{
    display: flex;
    justify-content: center;
    width: 100%;
}
.integral-nav{
    line-height: 36px;
    height: 36px;
    font-size: 0px;
    background: #f5f5f5;
}
.nav-title{
    display: inline-block;
    font-size: 14px;
  font-family: 'Microsoft YaHei';
    color: #333;
    font-weight: bold;
    text-align: center;
}
.title1{
    width: 384px;
}
.title2{
    width: 245px;
}
.title3{
    width: 295px;
}

.integral-con{
    display: flex;
    font-size: 0px;
    line-height: 60px;
}
.integral-table{
    text-align: center;
    font-size: 14px;
    border-left: 1px solid #eee;
    border-bottom: 1px solid #eee;
}
.con1{
    font-size: 16px;
    width: 382px;
    color: #333;
}
.con2{
    font-weight: bold;
    width: 244px;
    color: #EB666B;
}
.con3{
    font-weight: bold;
    width: 244px;
    color: #4BB932;
}
.con4{
    width: 294px;
    color: #666;
  font-family: 'Microsoft YaHei';
    border-right: 1px solid #eee;
}
</style>
<style>
</style>


