<template>
    <div class="intExcha" v-cloak>
        <ul>
            <li>
                <div class="top-img">
                  <img src="../../../assets/img/picy.png" alt="">
                </div>
                <div class="intExcha-con">
                    <h1>样书券</h1>
                    <h2>用积分换样书券</h2>
                    <span class="integral-num">{{integralSet.score}}积分</span>
                    <div class="change-btn" @click="openChangeBook" style='cursor:pointer'>兑换</div>
                </div>
            </li>
            <!-- <li>
                <div class="top-img">
                  <img src="../../../assets/img/picl.png" alt="">
                </div>
                <div class="intExcha-con">
                    <h1>样书券</h1>
                    <h2>用积分换样书券</h2>
                    <span class="integral-num">200积分</span>
                    <div class="change-btn" @click="changBtn">兑换</div>
                </div>
            </li> -->
            <li>
                <div class="top-img">
                  <img src="../../../assets/img/picj.png" alt="">
                </div>
                <div class="intExcha-none">敬请期待</div>
            </li>
        </ul>
        <!-- 兑换样书券 -->
        <div class="exchange">
          <el-dialog title="兑换样书券" :visible.sync="dialogExchange" width="500px" top="40vh">
            <span>兑换样书券将消耗您{{integralSet.score}}积分，您的积分为{{userIntegralNum}} 确认兑换吗？</span>
            <span slot="footer" class="dialog-footer">
                      <div>
                        <el-button type="primary" @click="submitExchange">确定</el-button>
                        <el-button @click="dialogExchange = false">取消</el-button>
                        </div>
                        <div class="exchange-footer-tip">提示：样书券使用时间截止为{{integralSet.endTime}}，请尽早使用，过期将自动作废</div>
                    </span>

          </el-dialog>
        </div>
        <exchange-fail :dialogFail="dialogFail" @excFailBtn="excFailBtn"></exchange-fail>
      <!-- <v-alert :alertModelOptions="alertOptions"></v-alert> -->
    </div>
</template>
<script>
import {getUserIntegrallNumAPI,changeIntegralAPI ,getIntegralSetAPI } from "@/api/personal/integral"
import exchangeFail from "../components/exchangeFail";

export default {
    data(){
        return{
          dialogExchange:false,
          alertOptions: {},
          show:false,
          userIntegralNum:'',
          integralSet:'',
          dialogFail:false,
        }
    },
    mounted(){
      // this.openChangeBook()
      this.getIntegralSet()
    },
  methods:{
    // 打开兑换样书券
    // openChangeBook(){
    //   getUserIntegrallNumAPI().then(res =>{
    //     res.data.code === 0 ? (this.userIntegralNum = res.data.data):this.$message.error('请求用户积分数据失败')
    //   })
    // },
    // 获取积分设置详情
    getIntegralSet(){
      getIntegralSetAPI().then(res=>{
        res.data.code === 0 ? (this.integralSet = res.data.data):this.$message.error('请求积分设置数据失败')
      })
    },
    // 打开样书券兑换
    openChangeBook() {
        getUserIntegrallNumAPI().then(res => {
          res.data.code === 0 ? (this.userIntegralNum = res.data.data) : this.$message.error('请求用户积分数据失败')
          this.$nextTick(() => {
            if(this.integralSet.score > this.userIntegralNum){
              this.dialogFail = true
              this.dialogExchange = false
            }else{
              this.dialogExchange = true
            }

          })
        })
      },

    // 兑换样书券
      submitExchange() {
          let value = -this.integralSet.score
          changeIntegralAPI(value, 3).then(res => {
            if (res.data.code == 0) {
              this.dialogExchange = false
              this.$my_message('样书券兑换成功 已发放到您的帐户')
              this.getIntegralSet()
              this.getBookCouponNum()
            } else {
              this.$message.error('样书券兑换失败')
            }
          })
      },
      // 兑换失败
      excFailBtn() {
        this.dialogFail = false
      },
















      // changBtn(){
      //   let self=this;
      //   self.msg('样书券兑换成功')
      //   this.alertOptions = {
      //     show: true,
      //     warning:'兑换礼品',
      //     msg: '兑换礼品将消耗您'+this.integralSet.score+'积分，您的积分为'+this.userIntegralNum+'确认兑换吗？',
      //     sureText: '确定',
      //     cancelText: '关闭',
      //     showClose:true,
      //     width:482,
      //     textWidth:353,
      //     btn:3,
      //     sure() {
      //       let status = self.submitExchange()
      //       this.show = status

      //     },
      //     cancel() {
      //       this.show = false;
      //     },

      //   }
      // },
    // submitExchange(self){
    //   if(this.integralSet.score > this.userIntegralNum){
    //     let self=this;
    //     this.alertOptions = {
    //       show: true,
    //       warning: '兑换失败',
    //       msg: '您的积分不足哦，快去攒积分吧',
    //       showClose: true,
    //       width: 360,
    //       textWidth: 230,
    //       btn:1,
    //       sure() {
    //         this.show = false;
    //       },
    //       cancel() {
    //         this.show = false;
    //       }
    //     }
    //   }else{
    //     let value = -this.integralSet.score
    //     changeIntegralAPI(value,3).then(res=>{
    //       if(res.data.code==0){
    //         return true
    //         this.$my_message('样书券兑换成功 已发放到您的帐户')
    //         this.getIntegralSet()
    //         this.openChangeBook()
    //       }else{
    //         this.$message.error('样书券兑换失败')
    //       }
    //     })
    //   }







    // },
  },
  components: { exchangeFail}
}
</script>
<style scoped>
.intExcha{
    min-height: 350px;
    margin: 106px 52px;

}
li{
  float: left;
  width: 260px;
  height: 345px;
  margin: 0 52px;
  box-shadow: 0 0 6px #888888;
  border-radius:6px;
}
.top-img{
    display: inline-block;
    height: 160px;
    width: 100%;
}
.intExcha-con{
    display: flex;
    flex-direction: column;
    text-align: center;

}
h1{
    margin-top: 18px;
    color: #333333;
    font-size: 20px;
    line-height: 26px;
}
h2{
    margin: 5px;
    color: #999;
    font-size: 14px;font-weight:normal;
    line-height: 26px;
}
.integral-num{
    margin: 8px 0;
    color: #3279ff;
    font-size: 14px;
    line-height: 26px;
}
.change-btn{
    margin: 0 20px;
    padding: 7px 0;
    background: #4A71F1;
    color: #fff;
    border-radius: 5px;
}
.intExcha-none{
    vertical-align: middle;
    line-height: 170px;
    text-align: center;
}
.exchange .el-button--primary {
    padding: 7px 31px;
    background: #3279ff;
    color: #fff;
}
</style>
<style lang="less" scoped>
.el-dialog__body{
  h1{
    font-size:18px;
    text-align:center;
  }
}
.dialog-link_footer{
  font-size: 12px;
  .el-button--primary{
    background:#3279FF;
    color: #fff;
  }
  .el-button--default{
    background: #fff;
    color: #999999;
  }
}
.el-dialog__headerbtn {
    top: 10px;
  }

.el-dialog .el-dialog__headerbtn{
    padding:10px 10px 0 0 ;
  }

  .exchange .el-dialog__body {
    padding: 40px 60px 25px 51px;
    line-height: 30px;
  }

  .exchange .el-dialog__body span {
    color: #454545;
    font-size: 18px;

  }

  .exchange .el-input__inner {
    width: 443px;
  }

  .exchange .el-dialog__footer {
    padding: 10px 15px 15px 15px;
    font-size: 12px;
  }

  .exchange .el-button--primary {
    padding: 7px 31px;
    background: #3279ff;
    color: #fff;
  }

  .exchange .el-button--default {
    display: inline-block;
    padding: 7px 31px;
    color: #999999;
  }

  .exchange-footer-tip {
    text-align: center;
    margin-top: 30px;
    padding: 0px 0px;
    height: 40px;
    line-height: 40px;
    background: #FDFBED;
    color: #959386;
    font-size: 12px;

  }

  .el-dialog__footer {
    line-height: 34px;
    font-size: 12px;
    text-align: center;
  }



  .el-dialog__title {
    margin-left: 15px;
    font-family: 'Microsoft YaHei';
    font-weight: bold;
    color: #444;
    font-size: 14px;
  }
</style>

