<template>
  <div style="widht:100%" v-cloak>
    <div class="book-coupon">
      <div class="coupon">
        <div class="coupon-num">{{bookCouponNum}}<span>张</span>
        </div>
        <div class="coupon-book">样书券</div>
      </div>
      <img class="bg-img" src="../../../assets/img/separate1.png" alt="">
      <div class="exchange">
        <div class="exchange-coupon" @click="openChangeBook">兑换样书券</div>
        <div class="exchange-tip">提示：兑换样书券将消耗{{integralSet.score}}积分，样书券使用时间截止为{{integralSet.endTime}}，请尽早使用，过期将自动作废！
        </div>
      </div>
    </div>
    <div>
      <title-nav :titleMsg="bookTitle"></title-nav>
      <div class="book-record">
        <div class="book-nav" v-if="list.length > 0">
          <span class="nav-title title1">图书信息</span>
          <span class="nav-title title2">单号</span>
          <span class="nav-title title2">申请时间</span>
          <span class="nav-title title3">状态</span>
        </div>
        <loading v-if="isLoading"></loading>
        <div v-else>
          <ul v-if="list.length > 0">
            <li v-for="(item,index) in list" :key="index">
              <div class="book-con">
                <div class="book-seat con1">
                  <div class="book-img">

                    <img class="img" v-if="item.cover" :src="imgUrl(filterImgAddress(item.cover))" alt="" @error="imgError(item)">
                    <img class="img" v-else src="@/assets/img/01-图书.png" alt="">
                  </div>
                  <div class="book-info">
                    <div class="info-title" :title="item.resourceName">{{item.resourceName}}</div>
                    <span class="info-text">{{item.author}}著 | {{item.press}}</span>
                    <span v-if="item.publishDate" class="info-text">出版时间 ：{{item.publishDate.substr(0,10)}}</span>
                    <span v-else class="info-text">出版时间 ：——</span>
                    <span class="info-text">ISBN :{{item.isbn}}</span>
                    <span class="info-text">
                                          定价
                                          <span class="info-price">￥{{filterPrice(item.price)}}</span>
                                      </span>
                  </div>
                </div>
                <div class="book-seat con2">{{item.applyNumber}}</div>
                <div class="book-seat con2">{{item.applyDate}}</div>
                <div class="book-seat con3">
                  <div class="con3-container">
                    <div class="con3-con">
                      <div class="con3-status" v-if="item.applyStatus==4||item.applyStatus==5" @click="applyStatusBtn(item)">{{status[item.applyStatus]}}</div>
                      <div v-else>{{status[item.applyStatus]}}</div>
                      <div class="con3-integral" v-if="item.applyStatus==4||item.applyStatus==5">
                        +{{integralSet.feedBack}}积分
                      </div>
                      <div class="con3-express" v-if="item.expressType" @click="openExpress(item)">快递信息</div>
                      <div class="con3-express" v-if="item.examineFail" @click="openExamineFail(item)">查看原因</div>
                      <div @click="applyStatusBtn(item)" class="con3-text" v-if="item.applyStatus==4||item.applyStatus==5">
                        <img src="@/assets/img/编辑.png" alt="">
                      </div>
                    </div>
                    <!-- <div class="con3-status" v-if="item.applyStatus==4||item.applyStatus==5" @click="applyStatusBtn(item)">{{status[item.applyStatus]}}</div>
                    <div v-else>{{status[item.applyStatus]}}</div>
                    <div class="con3-integral" v-if="item.applyStatus==4||item.applyStatus==5">
                      +{{integralSet.feedBack}}积分
                    </div>
                    <div class="con3-express" v-if="item.expressType" @click="openExpress(item)">快递信息</div>
                    <div class="con3-express" v-if="item.examineFail" @click="openExamineFail(item)">查看原因</div>
                    <div @click="applyStatusBtn(item)" class="con3-text" v-if="item.applyStatus==4||item.applyStatus==5">
                      <img src="@/assets/img/编辑.png" alt="">
                    </div> -->
                    
                    
                  </div>
                </div>
              </div>
            </li>
          </ul>
          <div v-else class="book-none">
            <img  src="@/assets/img/12-暂无内容.jpg" alt="">
          </div>
        </div>
        <div class="pagination-container">
          <pagination class="paddingTop" @change="pageChange" :current-page="listQuery.pageNum" :page-size="listQuery.pageSize" :total-page="lastPage" v-if="total&&total>0"></pagination>
        </div>
      </div>
    </div>
    <!-- 兑换样书券 -->
    <div class="exchange">
      <el-dialog title="兑换样书券" :visible.sync="dialogExchange" width="500px" top="40vh">
        <span>兑换样书券将消耗您{{integralSet.score}}积分，您的积分为{{userIntegralNum}} 确认兑换吗？</span>
        <span slot="footer" class="dialog-footer">
          <div>
            <el-button type="primary" @click="submitExchange">确定</el-button>
            <el-button @click="dialogExchange = false">取消</el-button>
            </div>
            <div class="exchange-footer-tip">提示：样书券使用时间截止为{{integralSet.endTime}}，请尽早使用，过期将自动作废</div>
        </span>
      </el-dialog>
    </div>
    <exchange-fail :dialogFail="dialogFail" @excFailBtn="excFailBtn"></exchange-fail>
    <!-- 填写反馈 -->
    <div class="comment">
      <el-dialog title="填写反馈" :visible.sync="dialogVisible" width="500px" top="40vh">
        <el-input
          type="textarea"
          v-model="inputComment"
          placeholder="请输入您要留下的评论，限制500个字符"
          maxlength="500"
          rows="6"
        ></el-input>
        <span slot="footer" class="dialog-footer">
                    <el-button type="primary" @click="submitComment">提交</el-button>
                    <el-button @click="closeFeedBack">取消</el-button>
                </span>
      </el-dialog>
    </div>
    <!-- 确认收货 -->
    <div class="receipt">
      <el-dialog title="确认收货" :visible.sync="dialogReceipt" width="360px" top="40vh">
        <div class="receipt">
          <el-dialog title="确认收货" :visible.sync="innerVisible" append-to-body top="40vh" width="360px">
            <h1>确认收货成功</h1>
            <span slot="footer" class="dialog-link_footer">
                            <el-button type="primary" @click="writeFeedback">写反馈+{{integralSet.feedBack}}积分</el-button>
                            <el-button @click="closeReceipt">关闭</el-button>
                        </span>
          </el-dialog>
        </div>
        <span class="con-text">您已经收到了样书吗？</span>
        <span slot="footer" class="dialog-footer">
                    <el-button type="primary" @click="submitReceipt">是的</el-button>
                    <el-button @click="notReceived">没收到</el-button>
                </span>
      </el-dialog>
      <!-- 查看快递信息 -->
        <div class="expressInfo">
      <el-dialog title="快递信息" :visible.sync="dialogExpress" width="30%" top="40vh">
        <div class="express">
          <el-form label-width="10px" label-position="right">
            <el-form-item label="快递方式：">
              <el-col :span="20">
                <el-input type="text" disabled v-model="expressInfo.expressType" clearable></el-input>
                </el-col>
            </el-form-item>
            <el-form-item label="快递单号：">
              <el-col :span="20">
                <el-input type="text" disabled v-model="expressInfo.expressNumber" clearable></el-input>
                </el-col>
            </el-form-item>
            <el-form-item>
              <el-button @click="dialogExpress=false">关闭</el-button>
            </el-form-item>
          </el-form>
           </div>
        </el-dialog>
      </div>
        <!-- 查看未通过原因 -->
        <div class="examineFail">
          <el-dialog title="未通过原因" :visible.sync="dialogExamineFail" width="30%" top="40vh">
            <div class="examine">
              <el-form label-width="10px" label-position="right">
                <el-form-item label="未通过原因：">
                  <el-col :span="20">
                    <el-input type="textarea" rows='3' disabled v-model="examineFail"></el-input>
                    </el-col>
                </el-form-item>
                <el-form-item>
                  <el-button @click="dialogExamineFail=false">关闭</el-button>
                </el-form-item>
              </el-form>
           </div>
        </el-dialog>
      </div>
    </div>
  </div>
</template>
<script>
import titleNav from "../components/title";
import Loading from "../components/loading";
import exchangeFail from "../components/exchangeFail";
import {getBookCouponNumAPI,getBookCouponListAPI,getIntegralSetAPI,saveFeedbackInfoAPI,saveReceiveGoodsAPI,getUserIntegrallNumAPI,changeIntegralAPI  } from "@/api/personal/book"
export default {
  // name:'bookApply'
  data() {
    return {
      bookTitle: "样书申请记录",
      dialogExchange:false,
      dialogFail:false,
      dialogVisible: false,
      inputComment: "",
      dialogReceipt: false,
      innerVisible: false,
      bookCouponNum:0,
      total:null,
      list:[],
      listQuery:{
        pageNum:1,
        pageSize:3
      },
      isLoading:false,
      status:[// 0：待审核 1：审核中 2：已通过 3：未通过 4：已发货 5：已收货 ,6：已反馈 ,7：已取消
        // '待审核',
        '审核中',
        '审核中',
        '待发货',
        '未通过',
        '待收货',
        '待反馈',
        '已反馈',
        '已取消',

      ],

      integralSet:'',
      userIntegralNum:'',
      applyInfo:'',
      lastPage:null,
      dialogExpress:false,
      expressInfo:{},
      dialogExamineFail:false,
      examineFail:{},
    };
  },
  mounted(){
    this.getBookCouponNum()
    this.getIntegralSet()
    this.getBookCouponList()

  },
  methods: {
    imgError(item) {
       item.cover = '/img/01-图书.png'
      },
    // 获取用户样书券数量
    getBookCouponNum(){
      getBookCouponNumAPI().then(res =>{
        res.data.code === 0 ? (this.bookCouponNum = res.data.data):this.$message.error('请求用户样书券失败')
      })
    },
      // 获取样书申请列表
      getBookCouponList() {
        this.isLoading = true
        getBookCouponListAPI(this.listQuery).then(res => {
          if (res.data.code === 0) {
            this.list = res.data.data.list
            this.total = res.data.data.total;
            this.lastPage = Math.ceil(Number(res.data.data.total) / Number(this.listQuery.pageSize));
            this.isLoading = false
          } else {
            this.$message.error('获取报名表单失败')
          }
        })
      },
      // 获取积分设置详情
      getIntegralSet() {
        getIntegralSetAPI().then(res => {
          res.data.code === 0 ? (this.integralSet = res.data.data) : this.$message.error('请求积分设置数据失败')
        })
      },

      // 样书申请状态
      // 0：审核中 1：已通过 2：未通过 3：待收货 4：待审核 5：已收货 待反馈 ,6：已反馈 ,7：待反馈,8：已取消, 以前旧规则
      applyStatusBtn(item) {//0：待审核 1：审核中 2：已通过 3：未通过 4：已发货 5：已收货 ,6：已反馈 ,7：已取消
        switch (item.applyStatus) {
          case '0':

            break;
          case '1':

            break;
          case '2':

            break;
          case '3':


            break;
          case '4':
              this.dialogReceipt = true
              this.applyInfo = item
            break;
          case '5':
            this.applyInfo = item
            this.dialogVisible = true
            this.inputComment = ''
            break;
          case '6':

            break;
          case '7':

            break;
          case '8':

            break;

        }
      },

      // 打开兑换样书券
      openChangeBook() {
        getUserIntegrallNumAPI().then(res => {
          res.data.code === 0 ? (this.userIntegralNum = res.data.data) : this.$message.error('请求用户积分数据失败')
          this.$nextTick(() => {
            if (this.integralSet.score > this.userIntegralNum) {
              this.dialogFail = true
              this.dialogExchange = false
            } else {
                this.dialogExchange = true
            }
          })
        })
      },

      // 兑换样书券
      submitExchange() {

          let value = -this.integralSet.score
          changeIntegralAPI(value, 3).then(res => {
            if (res.data.code == 0) {
              this.dialogExchange = false
              this.$my_message('样书券兑换成功 已发放到您的帐户')
              this.getIntegralSet()
              this.getBookCouponNum()
            } else {
              this.$message.error('样书券兑换失败')
            }
          })
      },
      // 兑换失败
      excFailBtn() {
        this.dialogFail = false
      },
      //   进行反馈
      submitComment() {
        if (this.inputComment == '') {
          this.$message.error("请填写反馈内容")
        } else {
          this.applyInfo.value = this.inputComment
          this.applyInfo.recordId = this.applyInfo.id
          saveFeedbackInfoAPI(this.applyInfo).then(res => {
            if (res.data.code == 0) {
              this.dialogVisible = false
              this.inputComment = ''
              this.$my_message("提交成功，感谢你的反馈")
              this.getBookCouponList()
            } else {
              this.$message.error("反馈信息失败")
            }
          })
        }
      },
      // 反馈关闭
      closeFeedBack(){
        this.dialogVisible = false
        this.inputComment = ''
      },

      //   确认收货
      submitReceipt() {
        const data = {
          id: this.applyInfo.id
        }
        saveReceiveGoodsAPI(data).then(res => {
          res.data.code === 0 ? this.innerVisible = true : this.$message.error("确认收货失败")
          this.getBookCouponList()
        })
        // this.innerVisible = true
      },
      //   没收到货
      notReceived() {
        this.dialogReceipt = false;
      },
      // 写反馈
      writeFeedback(){
        this.dialogVisible = true,
        this.dialogReceipt = false;
        this.innerVisible = false
      },
      // 关闭
      closeReceipt(){
          this.dialogReceipt= false
          this.innerVisible= false
      },
      // 查看快递信息
      openExpress(item){
        this.dialogExpress = true
        this.expressInfo = item
      },
      // 查看未通过原因
      openExamineFail(item){
        this.dialogExamineFail = true
        this.examineFail = item.examineFail
      },
      // 页数改变
      pageChange(val) {
      this.listQuery.pageNum = val
      this.getBookCouponList()
      },

    },
    components: {titleNav, exchangeFail,Loading}
  };
</script>
<style scoped>
  .book-coupon {
    display: flex;
    border-bottom: 8px solid #f4f5f9;
  }

  /* 样书券数量 */
  .coupon {
    width: 152px;
    height: 132px;
    padding-left: 64px;
    color: #333;
    vertical-align: center;
  }

  .coupon-num {
    padding-top: 25px;
    line-height: 42px;
    font-weight: bold;
    font-size: 28px;
  }

  .coupon-num span {
    font-size: 20px;
  }

  .coupon-text {
    line-height: 30px;
    font-size: 14px;
  }

  .bg-img {
    width: 26px;
    background: #eee;
  }

  .exchange {
    display: block;
    padding-left: 30px;
    font-size: 14px;
    line-height: 66px;
  }

  .exchange-coupon {
    margin-top: 19px 0px 20px;
    display: inline-block;
    padding: 10px 16px 11px 14px;
    background: #3279ff;
    color: #fff;
    line-height: 14px;
  }
  .exchange-coupon:hover{
    cursor: pointer;
  }

  .exchange-tip {
    display: block;
    padding: 13px 25px 13px 14px;
    margin-right: 26px;
    background: #fffdee;
    color: #ff6600;
    line-height: 14px;
  }

  /* 图书信息 */
  .book-record {
    box-sizing:border-box;
    -moz-box-sizing:border-box;
    -webkit-box-sizing:border-box;
    margin: 21px 27px;
  }
  .book-none{
    width: 100%;
    display: flex;
    justify-content: center;
  }
  .book-nav {
    width: 924px;
    line-height: 36px;
    height: 36px;
    font-size: 0px;
    background: #eee;
  }

  .nav-title {
    display: inline-block;
    font-size: 14px;
    color: #454545;
    font-weight: bold;
    text-align: center;
  }

  .title1 {
    width: 412px;
  }

  .title2 {
    width: 180px;
  }

  .title3 {
    width: 152px;
  }

  .book-con {
    display: flex;
    font-size: 0px;
    line-height: 188px;
  }

  .book-seat {
    display: flex;
    align-items: center;
    justify-content: center;
    /* text-align: center; */
    font-size: 14px;
    border-left: 1px solid #eee;
    border-bottom: 1px solid #eee;
  }

  .con1 {
    display: flex;
    width: 410px;
  }

  .book-img {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 26px 16px 22px 26px;
    height: 140px;
    width: 104px;
    /* background: #333; */
  }
  .img{
    max-width: 90px;
    /* margin:  auto; */
    max-height: 120px;
  }

  .book-info {
    display: flex;
    flex-direction: column;
    text-align: left;
    width: 240px;
    margin: 26px 22px 22px 0px;
  }

  .info-text {
    color: #666666;
    font-size: 14px;
    line-height: 26px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }

  .info-title {
    color: #333333;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    font-size: 16px;
    line-height: 36px;
  }

  .info-price {
    color: #fd4444;
    font-weight: bold;
  }

  .con2 {
    width: 179px;
    color: #454545;
  }

  .con3 {
    width: 151px;
    color: #ffa32b;
    border-right: 1px solid #eee;
  }

  .con3-container{
    display: flex;
    justify-content: center;
    align-content: center;
  }
  .con3-con {
    position: relative;
    display: inline-block;
    line-height: 26px;
  }
  .con3-status:hover{
    cursor: pointer;
  }
  .con3-integral {
    color: #666;
  }
  .con3-express{
    color: #666;
  }
  .con3-express:hover{
    cursor: pointer;
  }

  .con3-text {
    position: absolute;
    top: 1px;
    right: -14px;
    width: 12px;
    height: 12px;
  }
  .exchange .el-dialog {
    height: 297px;
  }
  .el-dialog__header {
    padding: 0;
    line-height: 36px;
    background: #f4f4f4;
  }
</style>
<style>
  /* 图片 */
  .bg-img {
    width: 26px;
    height: 132px;
    background: #eee;
  }

  /* 兑换样书券 */
  .el-dialog__headerbtn {
    top: 10px;
  }



  .exchange .el-dialog__body {
    padding: 40px 60px 25px 51px;
    line-height: 30px;
  }

  .exchange .el-dialog__body span {
    color: #454545;
    font-size: 18px;

  }

  .exchange .el-input__inner {
    width: 443px;
  }

  .exchange .el-dialog__footer {
    padding: 10px 15px 15px 15px;
    font-size: 12px;
  }

  .exchange .el-button--primary {
    padding: 7px 31px;
    background: #3279ff;
    color: #fff;
  }

  .exchange .el-button--default {
    display: inline-block;
    padding: 7px 31px;
    color: #999999;
  }

  .exchange-footer-tip {
    text-align: center;
    margin-top: 30px;
    padding: 0px 0px;
    height: 40px;
    line-height: 40px;
    background: #FDFBED;
    color: #959386;
    font-size: 12px;

  }

  .el-dialog__footer {
    line-height: 34px;
    font-size: 12px;
    text-align: center;
  }



  .el-dialog__title {
    margin-left: 15px;
    font-family: 'Microsoft YaHei';
    font-weight: bold;
    color: #444;
    font-size: 14px;
  }

  /* 反馈提示 */
  .comment .el-dialog {
    height: 297px;
  }

  .comment .el-dialog__body {
    padding: 20px;
  }

  .comment .el-input__inner {
    width: 443px;
  }

  .comment .el-dialog__footer {
    padding: 10px 20px 20px 20px;
    font-size: 12px;
  }

  .comment .el-button--primary {
    padding: 7px 31px;
    background: #3279ff;
    color: #fff;
  }

  .comment .el-button--default {
    padding: 7px 31px;
    color: #999999;
  }

  /* 确认收货 */
  .receipt .el-dialog {
    width: 360px;
    height: 200px;
  }

  .receipt .con-text{
    font-size:18px;
  }

  .receipt .el-dialog__body {
    text-align: center;
    margin: auto;
    padding: 0;
    line-height: 92px;

  }

  .receipt .el-dialog__footer {
    padding: 10px 65px 28px;
  }

  .receipt .el-button--primary {
    display: inline-block;
    padding: 7px 31px;
    background: #3279ff;
    color: #fff;
  }

  .receipt .el-button--default {
    display: inline-block;
    padding: 7px 31px;
    color: #999999;
  }
  /* 查看快递信息 */
  .expressInfo .el-dialog {
    height:250px;
  }
  .express{
    padding:20px 0;
  }
  .el-dialog .el-dialog__headerbtn{
    padding:10px 10px 0 0 ;
  }
  .examineFail .el-dialog {
    height:200px;
  }
  .examine{
    padding:20px 0;
  }
</style>

<style lang="less" scoped>
.el-dialog__body{
  h1{
    font-size:18px;
    font-weight: 400;
    text-align:center;
  }
}
.dialog-link_footer{
  font-size: 12px;
  .el-button--primary{
    background:#3279FF;
    color: #fff;
  }
  .el-button--default{
    background: #fff;
    color: #999999;
  }
}

</style>
