<template>
  <!--浏览记录-->
  <div class="record" style="min-height:700px;">
    <titleNav :titleMsg="bookTitle"></titleNav>
    <div class="recordTitRt">
      <ul>
        <li><input type="checkbox" v-model="checked" @click="choiseAll">全部</li>
        <li class="cencalAll" @click="cencalAll">批量删除</li>
      </ul>
    </div>
    <div class="recordList">
      <loading v-if="isLoading"></loading>
      <div v-else>
        <ul v-if="total>0">
          <li v-for="(outItem,key) in recordList" :key="key">
            <div class="recordDay">
              <div class="recordListTime" >
                <span class="time" v-if="key">{{key.substr(0,10)}}</span>
                <span @click="cencalToday(key)"><img src="@/assets/img/delete.png" alt="">删除当天</span>
              </div>
              <ul class="recordCont">
                <li class="itemhover" v-for="(item,index) in outItem" :key="index" :track-by="index">
                <div v-if="item.fgEleSysResourceVo">
                  <input type="checkbox" class="checkItem" v-model="item.choise" @click="check(item,index)">
                  <div class="listImg"   @mouseenter="enter(item.id)" @mouseleave="leave()">
                    <div class="listTextHover">
                      <img class="img" v-if="item.fgEleSysResourceVo.cover" :src="imgUrl(item.fgEleSysResourceVo.cover)" alt="">
                      <img class="img" v-else :src="`${type[item.fgEleSysResourceVo.typeZh]}`" alt="">
                    </div>
                    <p>{{item.fgEleSysResourceVo.typeZh}}</p>
                    <div class="showChoise" v-if="item.id == showIndex">
                      <div class="bg4" @click="closeCollection(item)">删除</div>
                    </div>
                  </div>
                  <div class="listTitle"  @click="linkHref(item.fgEleSysResourceVo)">
                    <h1 :title="item.fgEleSysResourceVo.name">
                      <div>{{item.fgEleSysResourceVo.name}}</div>
                    </h1>
                    <p>文件大小:{{item.fgEleSysResourceVo.fileSize}}</p>
                    <div class="listTitleLast"><span v-if="item.fgEleSysResourceVo.uploadTime">{{item.fgEleSysResourceVo.uploadTime.substr(0,10)}}</span><span>下载次数：{{item.fgEleSysResourceVo.downloadCount}}</span></div>
                  </div>
                </div>
                <div v-else>
                  <input type="checkbox" class="checkItem" v-model="item.choise" @click="check(item,index)">
                  <div class="listImg" @mouseenter="enter(item.id)" @mouseleave="leave()">
                    <div class="listText">
                      <div v-if="item.fgPhySysResourceVo.cover">
                        <img class="img"  :src="imgUrl(filterImgAddress(item.fgPhySysResourceVo.cover))" alt="" @error="imgError(item.fgPhySysResourceVo)">
                      </div>
                      <div v-else>
                        <img class="img"  :src="`${type['图书']}`" alt="">
                      </div>

                    </div>
                    <p>图书</p>
                    <div class="showChoise" v-if="item.id == showIndex">
                      <div class="bg1" v-if="item.fgPhySysResourceVo.isHaveBinding">有配套资源</div>
                      <div class="bg2" v-if="item.fgPhySysResourceVo.applyStatus&&$store.getters.userType != 'supervise'">可申请样书</div>
                      <div class="bg3" v-if="item.fgPhySysResourceVo.isTrialReading">可试读</div>
                      <div class="bg4" @click="closeCollection(item)">删除</div>
                    </div>
                  </div>
                  <div class="listTitle" @click="linkHref(item.fgPhySysResourceVo)">
                    <h1 :title="item.fgPhySysResourceVo.name">
                      <div>{{item.fgPhySysResourceVo.name}}</div>
                    </h1>
                    <p>作者: {{item.fgPhySysResourceVo.author}}</p>
                    <p>出版社:{{item.fgPhySysResourceVo.publisher}}</p>
                  </div>
                </div>
              </li>
              </ul>
            </div>
          </li>
        </ul>
        <div v-else class="record-none">
          <img src="@/assets/img/12-暂无内容.jpg" alt="">
        </div>
      </div>
      <div class="pagination-container">
        <pagination class="paddingTop" @change="pageChange"
                    :current-page="listQuery.pageNum"
                    :page-size="listQuery.pageSize" :total-page="lastPage" v-if="total&&total>0"></pagination>
      </div>
    </div>
  </div>
</template>
<script>
import titleNav from './../components/title';
import {isBindAPI} from "@/api/resources.js";
import { getRecordListAPI,batchDeleteRecordAPI,batchDeleteTodayRecordAPI } from '@/api/personal/record'
import Loading from "../components/loading";
import book from '@/assets/img/01-图书.png'
import Execl from '@/assets/img/Excel.png'
import  pdf from  '@/assets/img/PDF.png'
import  ppt from  '@/assets/img/ppt.png'
import  video from  '@/assets/img/视频.png'
import  audio from  '@/assets/img/音频.png'
import  picture from  '@/assets/img/03-图片1.png'
import  text from  '@/assets/img/word.png'
import  smallVideo from  '@/assets/img/视频.png'
import  web from  '@/assets/img/课件.png'
import  gif from  '@/assets/img/视频.png'
import  simulation from  '@/assets/img/附件.png'
import  richMedia from  '@/assets/img/视频.png'
import  other from  '@/assets/img/附件.png'
import  pictureH from  '@/assets/img/04-图片2.png'
  export default {
    data() {
      return {
        book:book,
        bookTitle: '浏览记录',
        recordList:[],
        listQuery:{
          pageNum:1,
          pageSize:9
        },
        // checkeds:[],
        checked:false,
        list:[],
        showIndex:{},
        total:null,
        lastPage:0,
        isLoading:false,
        type:{
          '图书':book,
          'Excel':Execl,
          'pdf':ppt,
          'ppt':ppt,
          '视频':video,
          '音频':audio,
          '图形/图像':picture,
          '文本':text,
          '微课视频':smallVideo,
          '网页课件':web,
          '动画':gif,
          '虚拟仿真':simulation,
          '富媒体':richMedia,
          '其他':other,
        },
      }
    },
    components: {titleNav,Loading},
    created() {

    },
    mounted(){
      this.getRecordList()
    },
    methods: {
      imgError(item) {
       item.cover = '/img/01-图书.png'
      },
      // 浏览记录列表
      getRecordList(){
        this.isLoading = true
        getRecordListAPI(this.listQuery).then(res=>{
          const data = res.data.data
          if(res.data.code === 0){
            this.isLoading = false
            this.recordList = data.map
            this.total = data.total
            this.lastPage = Math.ceil(Number(data.total) / Number(this.listQuery.pageSize));
            let obj = this.recordList
            for(var prop in obj){
              obj[prop].forEach(item=>{
                item.choise=false
              })
            }
              this.isLoading = false
          }else{
            this.$message.error("请求用户浏览记录失败")
          }
        })
      },
      enter(index){
        this.showIndex = index
      },
      leave(){
        this.showIndex = {}
      },
      /*跳转链接*/
      linkHref(item){
        let routeData = ''
        if(item.type.indexOf('2-')>=0){//电子

          // this.$router.push({path:'/resources/teaching',query:{id:item.id}});
          routeData = this.$router.resolve({path:'/resources/teaching',query:{id:item.id}});
          window.open(routeData.href, '_blank');
        }else{

          isBindAPI({oid:item.id}).then(res=>{
            if(res.data.status){

              if(res.data.data){//绑定资源

                // this.$router.push({path:'/resources/info',query:{id:item.id}});
                routeData = this.$router.resolve({path:'/resources/info',query:{id:item.id}});
                window.open(routeData.href, '_blank');

              }else{//没有绑定

                // this.$router.push({path:'/resources/vocation',query:{id:item.id}});
                routeData = this.$router.resolve({path:'/resources/vocation',query:{id:item.id}});
                window.open(routeData.href, '_blank');

              }

            }
          })
        }


        // if(item.type.indexOf('2-')>=0){//电子
        //   this.$router.push({path:'/resources/teaching',query:{id:item.id}});
        // }else{
        //   isBindAPI({oid:item.id}).then(res=>{
        //     if(res.data.status){
        //       if(res.data.data){//绑定资源
        //         this.$router.push({path:'/resources/info',query:{id:item.id}});
        //       }else{//没有绑定
        //         this.$router.push({path:'/resources/vocation',query:{id:item.id}});
        //       }

        //     }
        //   })
        // }
      },
      // 选中全部数据
      choiseAll(){
        this.list =[]
        if(this.checked){
          this._changeData(false)
        }else{
          this._changeData(true)
        }
      },
      _changeData(status){
        let obj = this.recordList
        for(var prop in obj){
          obj[prop].forEach(item=>{
            item.choise = status
            // if(item.fgEleSysResourceVo){
            //   item.fgEleSysResourceVo.choise = status
            // }else if(item.fgPhySysResourceVo){
            //   item.fgPhySysResourceVo.choise = status
            // }
            this.list.push(item.id)
          })
        }
      },
      // 选中数据
      check(item){
        if(item.choise){
          this._changeOneData(false,item)
        }else{
          this._changeOneData(true,item)
        }
      },
      _changeOneData(status,data){
        let obj = this.recordList
        for(var prop in obj){
          obj[prop].forEach(item=>{
            if(item == data){
              item.choise = status
              if(status){
                this.list.push(item.id)
              }else{
                this.closeChoise(this.list,item.id)
              }
            }

          })
        }
      },
      // 取消选中
      closeChoise(list,val){
        var index = list.indexOf(val);
        if (index > -1) {
        list.splice(index, 1);
        }
      },
      // 取消单个收藏
      closeCollection(item){
        const arr = [item.id]
        batchDeleteRecordAPI(arr).then(res=>{
            if(res.data.code === 0){
              this.$message.success('删除成功')
              this.list = []
              this.getRecordList()
            }else{
              this.$message.error('删除失败')
            }
          })
      },
      // 批量取消
      cencalAll(){
        if(this.list.length == 0){
          this.$message.error('请至少选择一项')
        }else{
          batchDeleteRecordAPI(this.list).then(res=>{
            if(res.data.code === 0){
              this.$message.success('批量删除成功')
              this.list = []
              this.getRecordList()
            }else{
              this.$message.error('批量删除失败')
            }
          })
        }
      },

      // 删除当天
      cencalToday(index){
        batchDeleteTodayRecordAPI(index.substr(0,10)).then(res=>{
          if(res.data.code === 0){
            this.$message.success('删除当天成功')
            this.getRecordList()
          }else{
            this.$message.error('删除当天失败')
          }
        })
      },
      // 页数改变
      pageChange(val) {
        this.checked = false
        this.listQuery.pageNum = val
        this.getRecordList()
      },
    }
  }
</script>
<style scoped lang="less">
  .record {
    width: 978px;
    height: auto;
    position: relative;
    .recordTitRt {
      position: absolute;
      top: 10px;
      right: 0;
      ul {
        li {
          height: 55px;
          line-height: 55px;
          float: left;
          margin: 0 11px;
          font-size: 14px;
          font-family: 'Microsoft YaHei';
          font-weight: 400;
          color: rgba(51, 51, 51, 1);

          input {
            margin-right: 3px;
            float: left;
            margin-top: 22px;

          }
        }
        .cencalAll {
          color: #3279FF;
          text-decoration: underline;
        }
        .cencalAll:hover{
          cursor: pointer;
        }

      }

    }

    .recordList{
      width:925px;
      margin: 34px auto;
      /*每天的记录*/
      .recordDay{
        .recordListTime{
          height:30px;
          line-height: 30px;
          background: #F5F5F5;
          font-size:14px;
          font-family: 'Microsoft YaHei';
          font-weight:400;
          color:rgba(102,102,102,1);
          display: flex;
          justify-content: space-between;
          .time{
            font-size:14px;
            font-weight: normal;
            padding-left: 13px;
          }
          span{
            cursor: pointer;
            padding-right: 13px;
            img{
              width:16px;
              height:14px;
              float: left;
              display: block;
              margin-top: 8px;
              margin-right: 3px;
            }
          }
        }
        .recordCont{
          overflow: hidden;
          margin: 29px 0px 20px 20px;
          li {
            width: 286px;
            height: 340px;
            float: left;
            display: block;
            margin: 3px 5px 9px 5px;
            position: relative;
            .checkItem{
              position: absolute;
              top:13px;
              left:13px;
            }
            .listImg {
              position: relative;
              width: 230px;
              height: 170px;
              padding-left: 28px;
              margin-top: 35px;
              // cursor: pointer;
              .listText {
                width: 230px;
                height: 170px;
                overflow: hidden;
                background: rgba(227, 238, 253, 1);
                display: flex;
                justify-content: center;
                align-items: center;
                .img{
                  max-width: 210px;
                  max-height: 150px;
                }
              }
              // .imgBig {
              //   width: 230px;
              //   height: 170px;
              // }
              // .imgSmall{
              //   width: 120px;
              //   height: 89px;
              // }
              p {
                position: absolute;
                // width: 46px;
                padding: 0 6px;
                height: 24px;
                background: rgba(43, 203, 115, 1);
                text-align: center;
                line-height: 24px;
                font-size: 14px;
                font-family: 'Microsoft YaHei';
                font-weight: 400;
                color: rgba(255, 255, 255, 1);
                top: 0;
                right: 0;
              }
              .showChoise{
              position: absolute;
              left: 76px;
              top: 0px;
              width: 94px;
              margin-top: 23px;
              overflow: hidden;
              padding-left: 20px;
              .bg1, .bg2, .bg3, .bg4 {
                height: 24px;
                line-height: 24px;
                border-radius: 12px;
                width: 94px;
                color: #fff;
                font-size: 14px;
                font-family: 'Microsoft YaHei';
                font-weight: 400;
                text-align: center;
                // cursor: pointer;
                margin-bottom: 10px;
              }
              .bg1 {
                background: #3ACDD6;
              }
              .bg2 {
                background: #6FB2FF;
              }
              .bg3 {
                background: #E1B87D;
              }
              .bg4 {
                cursor: pointer;
                background: rgb(51, 94, 214);
              }
            }
            }
            .listTitle {
              width: 230px;
              margin-left: 28px;
              cursor: pointer;
              h1 {
                margin-top: 15px;
                height: 35px;
                font-size: 16px;
                font-family: 'Microsoft YaHei';
                font-weight: 400;
                color: rgba(51, 51, 51, 1);
                line-height: 30px;
                overflow:hidden;
                text-overflow:ellipsis;
                white-space:nowrap;
                div{
                  overflow: hidden;
                  text-overflow: ellipsis;
                  white-space: nowrap;
                }
                div:hover{
                  color: #3279FF;
                }
              }
              p {
                font-size: 14px;
                font-family: 'Microsoft YaHei';
                font-weight: 400;
                color: rgba(102, 102, 102, 1);
                line-height: 30px;
                width: 220px;
                overflow:hidden;
                white-space:nowrap;
                text-overflow:ellipsis;
              }
              .listTitleLast {
                padding-top: 0px;
                line-height: 30px;
                width: 100%;
                font-size: 14px;
                font-family: 'Microsoft YaHei';
                font-weight: 400;
                color: rgba(153, 153, 153, 1);
                display: flex;
                justify-content: space-between;

              }
            }
          }
          .itemhover {

            .listTextHover {
              display: flex;
              justify-content: center;
              align-items: center;
              width: 230px;
              height: 170px;
              overflow: hidden;
              box-shadow: 0px 2px 8px 0px rgba(170, 170, 170, 0.49);
              background: #E3EEFD;
              .img {
                margin: auto;
                max-width: 230px;
                max-height: 170px;
              }
            }
            a {
              color: #3279FF;
            }
          }
          .itemhover:hover{
            box-shadow: 0px 2px 8px 0px rgba(1, 2, 2, 0.1);
          }
        }
      }
    }
    .record-none{
      display: flex;
      justify-content: center;
      width: 100%;
    }




  }

</style>
