<template>
  <!--学校信息管理-->
  <div class="updateSchool">
    <!-- 添加 -->
    <!--<div class="backBtn" @click="backBtn">
      <i class="el-icon-arrow-left"></i>
      返回
    </div>-->
    <el-form
      :rules="rules"
      ref="departForm"
      :model="formList"
      label-position="right"
      label-width="130px"
      class="double-column-form clearfix"
    >
      <el-row>
        <el-form-item label="学校名称：" prop="name" style="width:100%;">
          <el-col :span="10">
            <el-input v-model="formList.name" placeholder="请输入学校名称"></el-input>
          </el-col>
        </el-form-item>
        <el-form-item label="学校图标："  style="width:100%;"  class="province">
          <!--<img class="img" src="@/assets/img/logoHome.png" alt="">-->
          <div v-if="fileListF.length==0" class="avatar">
            <img src="@/assets/img/logoHome.png" >
          </div>
          <el-upload :action="`${uploadUrl}upload/img`" list-type="picture-card"
                     :before-upload="beforeAvatarUpload" :on-remove="handleAvatarRemove" :on-success="handleAvatarSuccess" :file-list="fileListF">

            <i class="el-icon-plus"></i>
            <div slot="tip" class="el-upload__tip">只能上传一张并且是jpg/png文件，且不超过2M</div>
          </el-upload>
          <div class="provinceCont"><i>*</i></div>
          <!-- <div class="provinceError" v-if="islogo">请填写学校图标</div> -->
        </el-form-item>

        <el-form-item label="省份：" style="width:100%;" class="province" prop="provinces">
          <el-select value-key="code" v-model="formList.provinces" placeholder="请选择"  @change="provinceChanged">
            <el-option
              :key="''"
              :label="'省'"
              :value="''">
            </el-option>
            <el-option
              v-for="item in provinces"
              :key="item.code"
              :label="item.name"
              :value="item">
            </el-option>
          </el-select>
        </el-form-item>
        <el-form-item label="地区：" prop="city">
          <el-col :span="12">

            <el-select v-model="formList.city" placeholder="请输入地区">
              <el-option
                :key="''"
                :label="'市'"
                :value="''">
              </el-option>
              <el-option
                v-for="item in cities"
                :key="item.code"
                :label="item.name"
                :value="item.name">
              </el-option>
            </el-select>
          </el-col>
        </el-form-item>

        <el-form-item label="地址：" prop="address" style="width:100%;">
          <el-col :span="10">
            <el-input v-model="formList.address" placeholder="请输入地址"></el-input>
          </el-col>

        </el-form-item>
        <el-form-item label="秋季教学时间：" style="width:50%;height:42px;" class="autumnTime">
          <el-date-picker
            v-model="autumnTime"
            type="datetimerange"
            range-separator="至"
            start-placeholder="开始日期"
            end-placeholder="结束日期"
            value-format="yyyy-MM-dd hh:mm:ss"  @change="getSTime">
          </el-date-picker>
          <div class="provinceCont"><i>*</i></div>
          <div class="provinceError" v-if="isautumnTime">请填写秋季教学时间</div>

        </el-form-item>

        <el-form-item label="教学周：" prop="autumnWeek" style="width:50%;height:42px;">
          <el-input v-model="formList.autumnWeek" clearable type="number"
                    style="width:250px;margin-right:10px"></el-input>
        </el-form-item>

        <el-form-item label="春季教学时间：" class="autumnTime">
          <el-date-picker
            v-model="springTime"
            type="datetimerange"
            range-separator="至"
            start-placeholder="开始日期"
            end-placeholder="结束日期"
            value-format="yyyy-MM-dd hh:mm:ss">
          </el-date-picker>

          <div class="provinceCont"><i>*</i></div>
          <div class="provinceError" v-if="isspringTime">请填写春季教学时间</div>

        </el-form-item>

        <el-form-item label="教学周：" prop="springWeek">
          <el-input v-model="formList.springWeek" clearable type="number"
                    style="width:250px;margin-right:10px"></el-input>
        </el-form-item>


        <el-form-item style="margin-top: 20px;">
          <el-button class="form-submit" @click="submitBtn(formList)">确定</el-button>
          <!-- <el-button plain @click="cancelBtn">取消</el-button> -->
        </el-form-item>
      </el-row>
    </el-form>

  </div>
</template>

<script>

  import {getSchoolAPI, updateAPI} from '@/api/backstage/school.js';
  import { uploadUrl } from '@/utils/global.js';
  import provinceCity from '../../../../../static/provinceCity.json';
  import logoHome from '@/assets/img/logoHome.png';
  export default {
    components: {},
    name: 'HelloWorld',
    data() {
      // 排序数
      const validateSort = (rule, value, callback) => {
        let reg = /^([1-9]\d{0,4})$/;
        if (!reg.test(value)) {
          callback(new Error("请输入1-9999之间的整数"));
        } else {
          callback();
        }
      };

      return {
        formList: {
          name: '',
          logo: '',
          city: '',
          provinces: '',
          province: '',
          address: '',
          autumnWeek: null,
          springWeek: null,
        },
        provinces:[],
        cities:[],
        autumnTime: [],
        springTime: [],
        fileListF: [],
        logoHome: logoHome,
        uploadUrl:uploadUrl,

        isprovince: false,
        isautumnTime: false,
        isspringTime: false,
        islogo: false,
        userCompanyt: {},
        dialogAddVisible: false,
        options: [{
          value: '选项1',
          label: '黄金糕'
        }, {
          value: '选项2',
          label: '双皮奶'
        }, {
          value: '选项3',
          label: '蚵仔煎'
        }, {
          value: '选项4',
          label: '龙须面'
        }, {
          value: '选项5',
          label: '北京烤鸭'
        }],
        value: '',
        pickerOptions0: {
          disabledDate(time) {
            return time.getTime() < Date.now() - 8.64e7;
          }
        },
        rules: {
          name: [
            {required: true, message: "请输入学校名称", trigger: "change"}
          ],

          logo: [{required: true, message: "请输入学校图标", trigger: "change",}],
          city: [{required: true, message: "请输入地区", trigger: "change",}],
          provinces: [{required: true, message: "请输入省份", trigger: "change",}],
          address: [{required: true, message: "请输入地址", trigger: "change",}],
          /*autumnTime: [{ required: true, message: "请输入秋季教学时间",trigger: 'change'}],*/
          autumnWeek: [{required: true, message: "请输入秋季教学周", trigger: 'change'}, {
            validator: validateSort,
            message: "请输入1-9999之间的整数",
            trigger: 'change'
          }],
          /*springTime: [{ required: true, message: "请输入春季教学时间",trigger: 'change'}],*/
          springWeek: [{required: true, message: "请输入春季教学周", trigger: 'change'}, {
            validator: validateSort,
            message: "请输入1-9999之间的整数",
            trigger: 'change'
          }],
        },
      }
    },
    created() {
      this.getSchool();
      this.provinces = provinceCity.provinces;
    },
    watch: {
      autumnTime(o, n) {
        if (!o) {
          this.isautumnTime = true;
        } else {
          this.isautumnTime = false;
        }
      },
      springTime(o, n) {
        if (!o) {
          this.isspringTime = true;
        } else {
          this.isspringTime = false;
        }
      },
      // fileListF(o, n) {
      //   if (!o.length) {
      //     this.islogo = true;
      //   } else {
      //     this.islogo = false;
      //   }
      // },
    },
    methods: {
      /*获取学校信息*/
      getSchool() {
        getSchoolAPI().then(res => {
          if (res.data.code == 0) {
            this.formList = res.data.data;
            this.formList.provinces=this.formList.province?this.formList.province:'';
            if (this.formList.autumnTeachingStartTime && this.formList.autumnTeachingEndTime) {
              this.autumnTime.push(this.formList.autumnTeachingStartTime);
              this.autumnTime.push(this.formList.autumnTeachingEndTime);
            }
            if (this.formList.springTeachingStartTime && this.formList.springTeachingEndTime) {
              this.springTime.push(this.formList.springTeachingStartTime);
              this.springTime.push(this.formList.springTeachingEndTime);
            }
            if(res.data.data.logo){
              let objF = {url: `${process.env.BASE_API}/file${res.data.data.logo}`};
              this.fileListF.push(objF)
            }

          }
        })
      },
      // 省份更改
      provinceChanged(value) {
        if (value !== '') {
          /*this.loadingCity = true*/
          this.cities = value.cities;
          this.formList.city = ''
        } else {
          this.cities = []
          /*this.city = ''*/
          this.formList.city = ''
        }
        // this.$emit('selectChange', this.province, this.city)
      },
      getSTime(value){
        /*this.autumnTime=value;*/
      },
      // 查看返回
      backBtn() {
        this.$router.back();
      },
      submitBtn() {
        /*if (this.formList.province == '' || this.formList.city == '' || this.formList.province == '省' || this.formList.city == '市') {
          this.isprovince = true;
        }*/
        if (!this.autumnTime.length) {
          this.isautumnTime = true;
        }
        if (!this.springTime.length) {
          this.isspringTime = true;
        }
        if(!this.fileListF.length){
          this.formList.logo='';
        }
        this.$refs["departForm"].validate((valid) => {
          // ||this.islogo
          if (this.isspringTime || this.isautumnTime) return;
          this.formList.springWeek = Number(this.formList.springWeek);
          this.formList.autumnWeek = Number(this.formList.autumnWeek);
          this.formList.autumnTeachingStartTime = this.autumnTime[0];
          this.formList.autumnTeachingEndTime = this.autumnTime[1];
          this.formList.springTeachingStartTime = this.springTime[0];
          this.formList.springTeachingEndTime = this.springTime[1];

          if (valid) {
            // alert()
            let aa=this.formList.provinces.name?this.formList.provinces.name:this.formList.provinces;
            this.formList.province=aa;
            /*delete this.formList.provinces;*/
            this.formList.password='******';//不更改的话后台会对返回的密码再次加密

            updateAPI(this.formList).then(res => {
              if(res.data.code==0){
                this.$message.success('修改成功');
              }else{
                this.$message.error(res.data.msg);
              }

            })
          } else {
            return false;
          }
        });

      },
      // cancelBtn() {
      //   this.fileListF=[];
      //   this.autumnTime=[];
      //   this.springTime=[];
      //   this.getSchool();
      //   this.$refs["departForm"].clearValidate()
      // },

      beforeAvatarUpload(file) {
        const isJPG = file.type === 'image/jpeg' || file.type === 'image/png';
        const isLt2M = file.size / 1024 / 1024 < 2;

        if (!isJPG) {
          this.$message.error('上传图片只能是 JPG PNG 格式!');
        }
        if (!isLt2M) {
          this.$message.error('上传图片大小不能超过 2MB!');
        }
        return isJPG && isLt2M;
      },
      /*移除封面*/
      handleAvatarRemove(file) {
        this.fileListF = [];
        this.formList.logo='';
      },
      handleAvatarSuccess(res, file) {
        this.fileListF = [];
        this.fileListF.push(file);
        this.formList.logo=file.response.filePath;
      },

    },
  }
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped lang="less">
  .updateSchool {
    padding: 50px;
    .backBtn {
      margin-bottom: 20px;
      font-weight: bold;
    }

    .backBtn:hover {
      cursor: pointer;
    }

    .province {
      position: relative;
      .provinceCont {
        position: absolute;
        top: 0;
        left: -92px;
        i {
          color: #F56C6C;
        }
      }
      .provinceError {
        color: #F56C6C;
        font-size: 12px;
        line-height: 1;
        padding-top: 4px;
        position: absolute;
        top: 100%;
        left: 0;
      }
      .avatar{
        float: left;
        overflow: hidden;
        background-color: #fff;
        border: 1px solid #c0ccda;
        border-radius: 6px;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
        width: 148px;
        height: 148px;
        margin: 0 8px 0px 0;
        display: flex;
        justify-content: center;
        align-items: center;
        img{
          transition: opacity .3s;
          width: 100px;
          height: 100px;
        }
      }
    }

    .autumnTime {
      position: relative;
      .provinceCont {
        position: absolute;
        top: 0;
        left: -119px;
        i {
          color: #F56C6C;
        }
      }
      .provinceError {
        color: #F56C6C;
        font-size: 12px;
        line-height: 1;
        padding-top: 4px;
        position: absolute;
        top: 100%;
        left: 0;
      }
    }
  }

</style>
