<template>
    <div class="createPost-container">
        <div class="createPost-main-container">
            <el-form
                :rules="rules"
                ref="dataForm"
                :model="formList"
                label-position="right"
                label-width="100px"
                class="form-container"
            >
                <el-form-item label="标识" prop="code">
                    <el-col :span="12">
                        <el-input v-model="formList.code" placeholder="请输入标识" :disabled="title == '修改字典'"></el-input>
                    </el-col>
                </el-form-item>
                <el-form-item label="中文键" prop="cnkey">
                    <el-col :span="12">
                        <el-input v-model="formList.cnkey" placeholder="请输入中文键"></el-input>
                    </el-col>
                </el-form-item>
                <el-form-item label="英文键" prop="enkey">
                    <el-col :span="12">
                        <el-input v-model="formList.enkey" placeholder="请输入英文键"></el-input>
                    </el-col>
                </el-form-item>
                <el-form-item label="显示值" prop="value">
                    <el-col :span="12">
                        <el-input v-model="formList.value" placeholder="请输入显示值"></el-input>
                    </el-col>
                </el-form-item>
                <el-form-item label="说明" prop="description">
                    <el-col :span="12">
                        <el-input type="textarea" v-model="formList.description" placeholder="请输入说明"></el-input>
                    </el-col>
                </el-form-item>

                <el-form-item>
                <el-button class="form-submit" @click="submitFrom('dataForm')">保存</el-button>
                <el-button @click="$router.back()">取消</el-button>
              </el-form-item>
            </el-form>
        </div>
    </div>
</template>

<script>
import {
  saveAPI,
  detailsAPI,
  editAPI
} from "@/api/backstage/system/dicManage";
import Tinymce from "@/components/Tinymce";

export default {
  components: { Tinymce },
  data() {
    return {
        title:'添加字典',
      formList: {
          cnkey:'',
          enkey:'',
          value:'',
          description:'',
      },
      rules: {
        cnkey: [{ required: true, message: '请输入中文键', trigger: 'change' ,max:50}],
        code : [{ required: true, message: '请输入标识', trigger: 'change' ,max:50}],
        enkey: [{ required: true, message: '请输入英文键', trigger: 'change' ,max:50}],
        value: [{ required: true, message: '请输入显示值', trigger: 'change' ,max:50}],
        description: [{ required: true, message: '请输入说明', trigger: 'change' ,max:100}],


      },
    };
  },
  mounted() {
    this.getOid();
  },
  methods: {
    //   判断添加还是修改
    getOid() {
      this.title = this.$route.query.title;
      let id = this.$route.query.id;
      this.$route.meta.title = this.title;
      if (id && this.title != "添加字典") {
        detailsAPI(id).then(res => {
          res.data.code === 0
            ? (this.formList = res.data.data)
            : this.$message.error("请求出错啦");
        });
         
      }
    },
    
    // 添加字典 修改字典
    submitFrom() { 
      this.$refs["dataForm"].validate(valid => {
        if (valid) {
          if (this.title == "添加字典") {   
            saveAPI(this.formList).then(res => {
              if (res.data.code === 0) {
                this.$message.success("添加字典成功");
                this.$router.back();
              } else {
                this.$message.error("添加字典失败");
              }
            });
          } else if (this.title == "修改字典") {
            editAPI(this.formList).then(res => {
              if (res.data.code === 0) {
                this.$message.success("修改字典成功");
                this.$router.back();
              } else {
                this.$message.error("修改字典失败");
              }
            });
          }
        }
      });
    },
    // 查看返回
    backBtn(){
        this.$router.back();
    }
  }
};
</script>

<style rel="stylesheet/scss" lang="scss" scoped>
@import "src/style/mixin.scss";

.createPost-container {
  position: relative;
  .createPost-main-container {
    padding: 50px;
    .el-dialog__header {
      background: #15d;
      color: #fff;
    }
  }
}
.backBtn{
    margin-bottom: 20px;
    font-weight: bold;
}
.backBtn:hover{
    cursor: pointer;

}
</style>

