<template>
  <div class="app-container calendar-list-container">
    <div class="nav-buttons-container">
       <router-link :to="{ path:`addDic`,query:{title:'添加字典'}}" v-if="authBtns.filter(i => i.idName=='addBtn').length > 0">
      <el-button v-if="authBtns.map(i => i.idName).indexOf('addBtn') >= 0"> {{authBtns.filter(i => i.idName=='addBtn')[0].name}}<i v-if="authBtns.filter(i => i.idName=='addBtn').length>0 && authBtns.filter(i => i.idName=='addBtn')[0].icon" :class="[authBtns[authBtns.map(i => i.idName).indexOf('addBtn')].icon, 'el-icon--right']"></i></el-button>
       </router-link>

    </div>

    <el-form inline class="form-inline">
      <el-form-item label="标识:">
        <el-input @keyup.enter.native="handleFilter" type="text" placeholder="请输入标识" v-model="listQuery.code" clearable></el-input>
      </el-form-item>
      <el-form-item label="中文键:">
        <el-input @keyup.enter.native="handleFilter" type="text" placeholder="请输入中文键" v-model="listQuery.cnkey" clearable></el-input>
      </el-form-item>
      <el-form-item label="英文键:">
        <el-input @keyup.enter.native="handleFilter" type="text" placeholder="请输入英文键" v-model="listQuery.enkey" clearable></el-input>
      </el-form-item>
      <el-form-item label="中文值:">
        <el-input @keyup.enter.native="handleFilter" type="text" placeholder="请输入中文值" v-model="listQuery.value" clearable></el-input>
      </el-form-item>
      <el-form-item>
        <el-button @click="handleFilter">检索</el-button><el-button @click="resetFilter">重置</el-button>
      </el-form-item>
    </el-form>

    <el-table :key='tableKey' :data="list" v-loading="listLoading" element-loading-text="给我一点时间" border highlight-current-row stripe @selection-change="chioceList" >
      <el-table-column type="selection" align="center"></el-table-column>
      <el-table-column type="index" label="序号" width="60" align="center"></el-table-column>
      <el-table-column label="标识" min-width="160" align="center">
        <template slot-scope="scope">
          <span>{{scope.row.code}}</span>
        </template>
      </el-table-column>

      <el-table-column label="中文标题" min-width="140" align="center">
        <template slot-scope="scope">
          <span>{{scope.row.cnkey}}</span>
        </template>
      </el-table-column>
      <el-table-column label="英文键" min-width="120" align="center">
        <template slot-scope="scope">
          <span>{{scope.row.enkey}}</span>
        </template>
      </el-table-column>
      <el-table-column label="中文值" min-width="120" align="center">
        <template slot-scope="scope">
          <span>{{scope.row.value}}</span>
        </template>
      </el-table-column>

      <el-table-column class-name="small-padding fixed-width" width="180" label="操作"  align="center">
        <template slot-scope="scope">
          <router-link @click.native="saveHandleFilter" :to="{ path:`addDic`, query:{id:scope.row.id,title:'修改字典'}}" v-if="authBtns.filter(i => i.idName=='editbtn').length > 0">
            <i :class="authBtns.filter(i => i.idName=='editbtn')[0].icon" :title="authBtns.filter(i => i.idName=='editbtn')[0].name" v-if="authBtns.filter(i => i.idName=='editbtn').length > 0"></i>
          </router-link>
           <i :class="authBtns.filter(i => i.idName=='deleteBtn')[0].icon" :title="authBtns.filter(i => i.idName=='deleteBtn')[0].name"  @click="deleteBtn(scope.row)" v-if="authBtns.filter(i => i.idName=='deleteBtn').length > 0"></i>
        </template>
      </el-table-column>
    </el-table>

    <div class="pagination-container">
      <el-pagination @size-change="handleSizeChange" @current-change="handleCurrentChange" :current-page="listQuery.pageNum" :page-sizes="[30,50,100,200,500]" :page-size="listQuery.pageSize" layout="total, sizes, prev, pager, next, jumper" :total="total" align="center">
      </el-pagination>
    </div>

  </div>
</template>

<script>
import { getListAPI,deleteAPI} from '@/api/backstage/system/dicManage'
import { getMultipleSelectionIDs } from '@/filters/getIds'
import { requestMsg, confirm } from '@/utils/publicFunctions'
import Cookies from 'js-cookie'
import store from '@/store'

export default {
  data() {
    return {
      authBtns: [],
      tableKey: 0,
      list: null,
      total: null,
      listLoading: true,
      listQuery: {
        pageNum: 1,
        pageSize: 100,
      },
      timeLimit: null,
      batchList: [],
    }
  },
  created(){
    this.authBtns = store.getters.pageBtn[this.$route.meta.routerIds[0]]
  },
  mounted() {
    if(window.localStorage.getItem('notice')){

      this.listQuery = JSON.parse(window.localStorage.getItem('notice'))
      window.localStorage.removeItem("notice")
    }
    this.getList()
  },
  methods: {
    // 跳转保存数据
    saveHandleFilter(){
      window.localStorage.setItem('notice',JSON.stringify(this.listQuery))
    },
    //
    //   获取数据字典列表
    getList() {
      this.listLoading = true
      getListAPI(this.listQuery).then(res => {
        if(res.data.code === 0){
          this.list = res.data.data.list
          this.total = res.data.data.total
        } else {
          this.$message.error('获取数据失败');
        }
        this.listLoading = false
      })
    },
    //单条删除
    deleteBtn(row){
      confirm.apply(this,['确定要删除吗？']).then(() => {
        deleteAPI([row.id]).then(res => {
            requestMsg.apply(this,[res.data,'删除'])
            this.getList()
          })
      })
    },

    chioceList(val) {//勾选
      this.batchList = val;
    },
    // 筛选
    handleFilter(){
      this.listQuery.pageNum = 1
      this.getList()
    },
    //重置
    resetFilter(){
      this.listQuery = {
        pageNum: 1,
        pageSize: this.listQuery.pageSize,
      }
      this.getList()
    },
    // 改变分页大小
    handleSizeChange(val) {
      this.listQuery.pageSize = val
      this.getList()
    },
    // 页数改变
    handleCurrentChange(val) {
      this.listQuery.pageNum = val
      this.getList()
    }
  }
}
</script>

<style>
.el-tabs__header,.el-tabs--card>.el-tabs__header{
  border: 0;
  margin-bottom: 0;
}
.aa{
  margin-left: 80px;
}
.aa input{
  height: 30px;
}
</style>
