<template>
  <!--首页-->
  <div class="homeIndex" @click.stop="isSuggestList=false">
    <div class="homeBan" :style="{ background:`url(${$store.getters.userToken ? bg2 : bg1}) no-repeat center top`,}">
      <div class="homeLogo">
        <div class="homeLogoImg">
          <span v-if="$store.getters.userCompanyt">
            <img class="haveSignLogo" v-if="$store.getters.userCompanyt.logo" :src="imgUrl($store.getters.userCompanyt.logo)" alt="">
            <img class="haveSignLogo" v-else src="@/assets/img/logo.png" alt="">
            <h1>{{$store.getters.userCompanyt.relationName}}</h1>
          </span>
          <span class="noSignLogo"  v-else>
            <img class="img" src="@/assets/img/logoHome.png" alt="">
            <h1>技工教育和职业培训资源服务平台</h1>
          </span>

          <!-- <img :src="imgUrl(this.$store.getters.userImg)" alt="" v-if="this.$store.getters.userImg&&this.$store.getters.userImg!='null'&&this.$store.getters.userImg!=''">
            <img class="personal-avatar" src="@/assets/img/05-个人中心头像.png" v-if="this.$store.getters.userImg=='null'||this.$store.getters.userImg==''||!this.$store.getters.userImg"> -->

        </div>
        <ul class="homeLogoMess" v-if="$store.getters.userToken">
          <li class="HomeColor"><span>主页</span>|</li>
          <li @click="linkHref('/stationList')"><span class="messageInfoText">站内消息</span><span class="messageInfo" v-if="messageNum">{{messageNum}}</span>|
          </li><!--stationList-->
          <li @click="linkHref('/personal/detail')">

            <img :src="imgUrl(this.$store.getters.userImg)" alt="" v-if="this.$store.getters.userImg&&this.$store.getters.userImg!='null'&&this.$store.getters.userImg!=''">
            <img class="personal-avatar" src="@/assets/img/05-个人中心头像.png" v-if="this.$store.getters.userImg=='null'||this.$store.getters.userImg==''||!this.$store.getters.userImg">

            <span>{{$store.getters.userName}}</span>|
          </li>
          <li @click="loginOut">退出</li>
        </ul>
        <div class="homeMessRit" v-else>
          <div class="homeMessRit2 fl" @click="pressLogin">
            <img src="@/assets/img/press.png" alt="">
            <div class="messRitWord">
              <h1>出版社登录</h1>
            </div>
          </div>
          <div class="homeMessRit3 fr" @click="disLogin">
            <img src="@/assets/img/buy.png" alt="">
            <div class="messRitWord">
              <h1>经销商登录</h1>
            </div>
          </div>
        </div>

      </div>
      <div class="homeMess" v-if="!$store.getters.userToken">
        <div class="homeMessLeft fl">

          <div class="homeMessLeftTop">
            <input type="text" class="homeSearch fl" placeholder="请输入关键字查询" v-model="searchWord"
                   @keyup.enter="searchBtn"
                   @input="inputChange">
            <div class="homtSearchBtn fr" @click="searchBtn">
              <img src="@/assets/img/search.png" alt="">
            </div>
          </div>


        </div>
        <div class="homeMessRight fr" style='float:left;margin-left:95px;'>
          <!-- <div class="homeMessRit2 fl">
            <img src="@/assets/img/press.png" alt="">
            <div class="messRitWord">
              <h1>出版社登录</h1>
              <p>PRESS LOGIN</p>
            </div>
          </div>
          <div class="homeMessRit3 fr">
            <img src="@/assets/img/buy.png" alt="">
            <div class="messRitWord">
              <h1>经销商登录</h1>
              <p>DEALER LOGIN</p>
            </div>
          </div> -->
          <router-link :to="{path:'/login'}" class="homeMessRit1">
            <img src="@/assets/img/school.png" alt="">
            <div class="messRitWord">
              <h1>学校登录</h1>
              <p>SCHOOL LOGIN</p>
            </div>
          </router-link>

        </div>
      </div>
      <div class="schoolSuggest1" :style="{left:isSuggestWidth+'px'}"
           v-if=" !$store.getters.userToken&&searchWord!=''&&suggest.length>0&&isSuggestList">
        <ul>
          <li v-for="(iv,indO) in suggest" :key="indO" @click="searchSuggest(iv)">
            <img :src="`${uploadUrlT}`+ iv.cover" alt=""  style='width:26px;height:34px;float:left;margin-top:10px' :onerror="errorGoodsImg">
            <span style='width:45%;margin-left:8px;'>{{iv.term}}</span>
            <h1 style='width:45%;'>{{iv.publisher}}</h1>
          </li>
        </ul>
      </div>


      <!--教师 用户登录-->

      <div class="schoolLogin" v-if="$store.getters.userToken">
        <div class="schoolSearch">

          <div class="schoolSearchTop">
            <input type="text" class="homeSearch fl" placeholder="请输入关键字查询" v-model="searchWord"
                   @keyup.enter="searchBtn"
                   @input="inputChange">

            <div class="homtSearchBtn fr" @click="searchBtn">
              <img src="@/assets/img/search.png" alt="">
            </div>
          </div>
          <div class="schoolSuggest" v-if="searchWord!=''&&suggest.length>0&&isSuggestList">
            <ul>
              <li v-for="(iv,indO) in suggest" :key="indO" @click="searchSuggest(iv)">
                <img :src="`${uploadUrlT}`+ iv.cover" alt="" style='width:26px;height:34px;float:left;margin-top:10px' :onerror="errorGoodsImg">
                <span style='width:45%;margin-left:8px'>{{iv.term}}</span>
                <h1 style='width:45%;'>{{iv.publisher}}</h1>
              </li>
            </ul>
          </div>
        </div>

        <!-- <ul class="schoolSearchUl">
          <li class="schoolSearch2">
            <img src="@/assets/img/icon1.png" alt="">
            <div class="schoolSearchWord">
              <h1>教材推荐</h1>
              <p>RECOMMENDED</p>
            </div>

          </li>
          <li class="schoolSearch2" @click="linkHref('/personal/detail')">
            <img src="@/assets/img/icon2.png" alt="">
            <div class="schoolSearchWord">
              <h1>个人中心</h1>
              <p>PERSONAL CENTER</p>
            </div>

          </li>
          <li class="schoolSearch2" @click="linkHref('/personal/book')">
            <i>3</i>
            <img src="@/assets/img/icon3.png" alt="">
            <div class="schoolSearchWord">
              <h1>样书申请</h1>
              <p>SAMPLE APPLICATION</p>
            </div>

          </li>
          <li class="schoolSearch2" @click="linkHref('/personal/activity')">
            <img src="@/assets/img/icon4.png" alt="">
            <div class="schoolSearchWord">
              <h1>活动报名</h1>
              <p>ENROLLMENT</p>
            </div>

          </li>
        </ul> -->
        <ul class="educationalUl">
          <li v-if="userFlow.flowCode =='4'&&userFlow.status == '0'" class="educationa1" @click="linkHref(`/workbench/${userFlowRouter[userFlow.flowCode]}`)">
            <img src="@/assets/img/icon5.png" alt="">
            <div class="educationaWord">
              <h1>教材征订</h1>
              <p>TO SUBSCRIBE</p>
            </div>
          </li>
          <li @click="linkHref('/personal/book')">
            <img src="@/assets/img/icon3.png" alt="">
            <div class="educationaWord">
              <h1>样书申请</h1>
              <p>SAMPLE APPLICATION</p>
              <span v-if="bookReadNum != 0">{{bookReadNum}}</span>
            </div>
          </li>
          <!-- <li class="educationa2" @click="linkHref('/workbench')">
            <img src="@/assets/img/icon1.png" alt="">
            <div class="educationaWord">
              <h1>教材推荐</h1>
              <p>RECOMMENDED</p>
            </div>
          </li> -->
          <!-- <li @click="linkHref('/personal/activity')">
            <img src="@/assets/img/icon4.png" alt="">
            <div class="educationaWord">
              <h1>活动报名</h1>
              <p>ENROLLMENT</p>
            </div>
          </li> -->
          <li @click="linkHref('/personal/detail')">
            <img src="@/assets/img/icon2.png" alt="">
            <div class="educationaWord">
              <h1>个人中心</h1>
              <p>PERSONAL CENTER</p>
            </div>
          </li>
          <li v-if="linkIndex&&linkIndex !='4'" @click="linkHref(`/workbench/${userFlowRouter[linkIndex]}`)" >
            <img src="@/assets/img/icon6.png" alt="" >
            <div class="educationaWord">
              <h1>推荐管理</h1>
              <p>RECOMMENDED</p>
            </div>
          </li>
          <!-- $store.getters.addRouters[0].path+$store.getters.addRouters[0].path.children[0].path -->
          <li @click="linkHref($store.getters.addRouters[0].path+'/'+$store.getters.addRouters[0].children[0].path)" v-if="$store.getters.addRouters.length > 0">
            <img src="@/assets/img/icon7.png" alt="">
            <div class="educationaWord">
              <h1>管理系统</h1>
              <p>MANAGEMENT SYSTEM</p>
            </div>
          </li>
        </ul>
      </div>
      <!--教务 用户登录-->
      <!-- <div class="educationalLogin" v-if="isLogin">
         <div class="schoolSearch">
           <input type="text" class="homeSearch fl" placeholder="请输入关键字查询">
           <div class="homtSearchBtn fr">
             <img src="@/assets/img/search.png" alt="">
           </div>
         </div>
         <ul class="schoolSearchUl">
           <li class="schoolSearch1">
             <img src="@/assets/img/icon1.png" alt="">
             <div class="schoolSearchWord">
               <h1>学校登录</h1>
               <p>SCHOOL LOGIN</p>
             </div>
           </li>
           <li class="schoolSearch2">
             <img src="@/assets/img/icon2.png" alt="">
             <div class="schoolSearchWord">
               <h1>学校登录</h1>
               <p>SCHOOL LOGIN</p>
             </div>
           </li>
           <li class="schoolSearch2">
             <i>3</i>
             <img src="@/assets/img/icon3.png" alt="">
             <div class="schoolSearchWord">
               <h1>学校登录</h1>
               <p>SCHOOL LOGIN</p>
             </div>
           </li>
           <li class="schoolSearch2">
             <img src="@/assets/img/icon4.png" alt="">
             <div class="schoolSearchWord">
               <h1>学校登录</h1>
               <p>SCHOOL LOGIN</p>
             </div>
           </li>
         </ul> -->
      <div class="homeBom">
        <!-- <div class="homeBom-con" :style="{marginTop:$store.getters.userToken?'101px':'101px'}" @click="viewInfo">
          <img src="@/assets/img/dropdown.gif" alt="" >
        </div> -->
      </div>
    </div>
    <!-- 闻动态-->
    <!-- <div class="homeNewsTit" ref="content">
      <div class="horizontalLine"></div>
      <div class="homeNewsTitCenter">
        <p>THE NEWS ANDTRENDS</p>
        <h1>新闻动态</h1>
      </div>
      <div class="horizontalLine"></div>
    </div> -->
    <!-- 广告 -->
    <!-- <div class="homeNews">
      <div class="NewsPartOne">
        <div class="partOneLeft fl">
          <div id="picBox" class="picBox yiyin02">
              <ul id="show_pic" class="show_pic" >
                <li v-for="(item,index) in adList" :key="index" class="swiperItem" :class="actIndex==index?'showPic':''">
                  <a @click="toAdDetail(item)"><img :src="imgUrl(item.picture)" :alt="item.signValue"></a>
                  <div class="picBoxTit">
                    <span>{{item.signValue}}</span>
                  </div>
                </li>
              </ul>
              <div class="picBoxTitDesc">
                <ul>
                  <li v-for="(val,index1) in adList" :key="index1" :class="actIndex==index1?'curIndex':''"
                      @click="clickItem(index1)"></li>
                </ul>
              </div>
            </div>
          </div>
        <div class="partOneRight fr">
          <div class="partOneRitOne">
            <div class="homeLittleT">
              <span>公告通知</span>
              <h1>
                <router-link to="noticeList">More>></router-link>
              </h1>
            </div>
            <div class="partOneRitLst">
              <ul>
                <li v-if="noticeList.length > 0" v-for="(item,index) in noticeList" :key="index">
                  <router-link :to="{path:'/noticeIndex/noticeDetail',query:{id:item.id,title:'公告详情'}}">
                    <span :title="item.title"><h3></h3>{{item.title}}</span><span>{{item.releaseTime.substr(0, 10)}}</span>
                  </router-link>
                </li>
              </ul>
            </div>
          </div>
          <div class="partOneRitTwo">
            <div class="homeLittleT">
              <span>技工动态</span>
              <h1>
                <router-link to="mechanicList">More>></router-link>
              </h1>
            </div>
            <div class="partOneRitLst">
              <ul>
                <li v-if="techList.length > 0" v-for="(item,index) in techList" :key="index">
                  <router-link :to="{path:'/mechanicIndex/mechanicDetail',query:{id:item.id}}">
                    <span :title="item.title"><h3></h3>{{item.title}}</span><span>{{item.updateTime.substr(0, 10)}}</span>
                  </router-link>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="NewsPartTwo">
        <div class="partTwoLf fl">
          <div class="homeLittleT">
            <span>联盟之声</span>
            <h1>
              <router-link to="unionList">More>></router-link>
            </h1>
          </div>
          <div class="partTwoLfList">
            <ul>
              <li class="haveImg" v-if="unionObj.length > 0" v-for="(item,index) in unionObj" :key="index">
                <img v-if="item.pictureUrl" :src="imgUrl(item.pictureUrl)" alt="">
                <img v-else src="@/assets/img/img1.png" alt="">
                <div class="haveImgWord">
                  <div class="haveImgWordTit">
                    <h1 :title="item.title">
                      <router-link :to="{path:'/unionIndex/unionDetail',query:{id:item.id}}">{{item.title}}
                      </router-link>
                    </h1>
                  </div>
                  <p>{{filterWord(item.content, 30)}}</p>
                  <h2>{{item.updateTime.substr(0, 10)}}</h2>
                </div>
              </li>
              <li class="nohaveImg" v-if="unionList.length > 0" v-for="(item,index) in unionList" :key="1+index">
                <div class="nohaveImgTit">
                  <router-link :to="{path:'/unionIndex/unionDetail',query:{id:item.id}}">
                    <span class="title" :title="item.title"><h3></h3>{{item.title}}</span>
                    <span v-if="item.updateTime">{{item.updateTime.substr(0, 10)}}</span>
                  </router-link>
                </div>
                <p>{{filterWord(item.content, 66)}}</p>
              </li>
            </ul>
          </div>
        </div>
        <div class="partTwoRit fr">
          <div class="homeLittleT">
            <span>论坛之音</span>
            <h1>
              <router-link to="forumList">More>></router-link>
            </h1>
          </div>
          <div class="partTwoRitRitList">
            <ul>
              <li class="haveImg" v-if="forUmObj.length > 0" v-for="(item,index) in forUmObj" :key="index">
                <img v-if="item.pictureUrl" :src="imgUrl(item.pictureUrl)" alt="">
                <img v-else src="@/assets/img/img1.png" alt="">

                <div class="haveImgWord">
                  <div class="haveImgWordTit">
                    <h1 :title="item.title">
                      <router-link :to="{path:'/forumIndex/forumDetail',query:{id:item.id}}">{{item.title}}
                      </router-link>
                    </h1>
                    <div><span>NEW</span></div>
                  </div>
                  <p>{{filterWord(item.content, 30)}}</p>
                  <h2>{{item.updateTime.substr(0, 10)}}</h2>
                </div>
              </li>
              <li class="nohaveImg" v-if="forUmList.length > 0" v-for="(item,index) in forUmList" :key="1+index">
                <div class="nohaveImgTit">
                  <router-link :to="{path:'/forumIndex/forumDetail',query:{id:item.id}}">
                    <span class="title" :title="item.title"><h3></h3>{{item.title}}</span>
                    <span>{{item.updateTime.substr(0, 10)}}</span>
                  </router-link>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div> -->
    <!-- footer -->
    <div class="homeFooter">
      <div class="footerPartOne">
        <div class="footerPartOneCenter" v-if="list.length > 0">
          <div class="CenterTit">
            <span>友情链接</span>FRIENDLINK
          </div>
          <div class="CenterUl">
            <ul>
              <li v-for="(item,index) in list" :key="index">
                <a @click="toLink(item)" :title="item.title">{{item.title}}</a>
              </li>
            </ul>
          </div>
        </div>
        <div class="footerPartTwoCenter">
          <ul>
            <li v-for="(item,index) in footList" :key="index">
              <span>|</span><a @click="toDetail(item)">{{item.title}}</a>
            </li>
          </ul>
          <div v-html="copyRight" class="footerTwoCenterS"></div>
        </div>
        <div class="footerPartThreeCenter">
          温馨提示，为了获得最佳用户体验，建议您使用Chrome，Firefox，IE9+，360浏览器极速模式
        </div>
      </div>
      <div class="footerPartTwo">
      </div>
    </div>
  </div>
</template>

<script>
  import {getsuggestAPI} from '@/api/resources.js';
  import {changeContent, changeValue} from "@/utils/changeContent"
  import bg1 from '@/assets/img/banner.png';
  import bg2 from '@/assets/img/bannerb.png';
  import store from '../../store';
  import {
    getAdListAPI,
    getNoticeListAPI,
    getNewsListAPI,
    getForumListAPI,
    getUnionListAPI,
    getBookReadNumAPI
  } from '@/api/home/info'
  import {
    getFriendLinkAPI,
    getFooterListAPI,
    changeClickNumAPI,
    getFooterCopyrightAPI,
    getUserCompanytAPI,
    getMessageNumAPI,
    getUserFlowAPI
  } from '@/api/global'
  import Cookies from 'js-cookie';
  import { uploadUrlT } from "@/utils/global";
  export default {
    data() {
      return {
        adList: [],// 轮播广告位
        actIndex: 0,
        isLogin: true,
        signValue: 'SY_lb1',//广告位标识
        adNum: 5,//广告列表数量
        noticeList: [],//公告通知列表
        columnName: encodeURIComponent('公告通知'),//栏目名称
        techList: [],//技工动态
        unionObj: [],
        unionList: [],//联盟之声
        forUmList: [],//论坛之音
        forUmObj: [],
        list: [],
        footList: [],
        copyRight: '',
        messageNum: 0,
        bg1: bg1,
        bg2: bg2,
        searchWord: '',
        timeout:null,
        suggest: [],
        bookReadNum: 0,
        isSuggestList: false,
        isSuggestWidth: 0,
        uploadUrlT:uploadUrlT,
        errorGoodsImg:'this.src="' + require('../../../src/assets/img/01-searList.png') + '"',
        userFlow:'',
        linkIndex:'',
        userFlowRouter:{ //1：终审， 2：中审， 3：初审， 4：推荐，null：未绑定征订流程
          '4':'recommend',
          '3':'examine',
          '2':'middleExamine',
          '1':'judgment',
          '0402':'branch',
          '0403':'order',
          '0405':'supplements',
          '0406':'unsubscribe',
          '0407':'trainBook',
          '0408':"organizationOrder"
        },
        trainStatus:''

      }
    },
    components: {},
    created() {
      /*Cookies.get('Y-Token')*/
      window.addEventListener('scroll', this.changeMargin);
      window.onresize = () => {
        this.changeMargin()
      };

      if(this.$store.getters.userToken){
        getUserCompanytAPI().then(res => {
          if (res.data.code === 0) {
            this.trainStatus = res.data.data.trainStatus
            if(this.trainStatus == '1'){
              this.getTrainRouter()
            }else{

              this.getUserFlow()
              this.getUserCompanyt()
            }
          }
        })
      }
    },
    mounted() {
      this.getMessageNum()
      this.getFriendLink()
      this.getFooterList()
      this.getFooterCopyright()
      this.getBookReadNum()
    },
    methods: {
      getUserFlow(){
        getUserFlowAPI().then(res => {

          const list = res.data.data
          if (res.data.code === 0) {
            console.log(this.$store.getters)
            this.$store.dispatch('setUserFlow',list)
            this.userFlow =  list
            const routerList = this.$store.state.user.routerList
            let data = this.userFlowRouter
            let obj = {}
            Object.keys(data).forEach(function(key){
              if(list.flowCode == key&&list.status === '0'){
                obj[key] = data[key]
                return
              }else{
                // if(this.trainStatus )
                if(list.status === '0'){//征订季开启
                  routerList.forEach(item=>{
                    if(item ==key){
                      obj[item] = data[key]
                      return
                    }
                  })
                }else{
                  routerList.forEach(item=>{
                    if(item =='0407'){
                      obj[item] = data[key]
                      return
                    }
                  })
                }

              }
            })
            this.linkIndex = Object.keys(obj)[0]
            Cookies.set('flowDepth', list.flowDepth);
            Cookies.set('flowCode', list.flowCode);
            Cookies.set('userFlowStatus', list.status);
          }
          // if(res.data.msg =="征订周期尚未开启"){
          //   if(this.trainStatus == '1'){

          // }
        })
      },
      // 机构用户路由
      getTrainRouter(){
        const routerList = this.$store.state.user.routerList
          routerList.forEach(item=>{
            if(item =='0408'){
              this.linkIndex = '0408'
              return
            }
          })

          Cookies.set('userFlowStatus', '1');
      },

      /*获取屏幕宽度*/
      changeMargin() {
        let widthA = window.innerWidth || document.documentElement.clientWidth || document.body.clientWidth;
        //获取元素距离屏幕左边的距离
        this.isSuggestWidth = Number(widthA - 1200) > 0 ? Number(widthA - 1212) / 2 : 0;
      },
      // 用户未读消息数量
      getMessageNum() {
        getMessageNumAPI().then(res => {
          res.data.code === 0 ?
            this.messageNum = res.data.data :
            this.$message.error('请求用户未读数量失败')
        })
      },
      // 用户样书申请未通过数量
      getBookReadNum() {
        getBookReadNumAPI().then(res => {
          res.data.code === 0 ?
            this.bookReadNum = res.data.data :
            this.$message.error('请求用户样书未通过数量失败')
        })
      },
      /*搜索*/
      searchBtn() {
        if (this.searchWord != '') {
          this.$router.push({path: '/materialType', query: {searchWord: this.searchWord}})
        } else {
          this.$router.push({path: '/searchDefault'})
        }
        this.isSuggestList = false;
      },
      /*自动补全搜索*/
      searchSuggest(val) {
        if (val) {
          this.searchWord = val.term;
        }
        var result = this.filterSpace(this.searchWord);
        if (result != '') {
          this.$router.push({path: '/materialType', query: {searchWord: this.searchWord, publisher: val.publisher}})
        } else {
          this.$router.push({path: '/searchDefault'})
        }
        this.isSuggestList = false;
      },
      /*自动补全*/
      inputChange() {
        if (this.searchWord != '') {

          var that = this
          this.antiShaking(this.getInputChange,400,that)()
        } else {
          this.suggest = [];
          this.isSuggestList = false;
        }
      },
      getInputChange(){
        getsuggestAPI({
            term: this.searchWord,
            num: 8
          }).then(res => {
            if (res.data.status) {
              this.suggest = res.data.data;
              this.isSuggestList = true;
              this.changeMargin();
            }
          })
      },
      antiShaking(fn,wait,that){
        return function(){
          clearTimeout(that.timeout)
            that.timeout = window.setTimeout(function(){
              fn.apply(that)
            },wait)
        }
      },
      // 锚点定位
      viewInfo() {
        let top = this.$refs.content.offsetTop
        document.documentElement.scrollTop = top
      },
      // // 获取登录用户单位信息
      getUserCompanyt() {
        this.$store.dispatch('GetUserCompany')
      },
      // 获取广告列表
      getAdList() {
        getAdListAPI(this.signValue, this.adNum).then(res => {
          if (res.data.code === 0) {
            this.adList = res.data.data
            this.autoplay();
          } else {
            this.$message.error("请求广告列表失败")
          }
        })
      },
      /*点击轮播*/
      clickItem(index) {
        this.actIndex = index;
      },
      // 自动轮播
      autoplay(clearTimer) {
        if (this.adList.length > 1) {
          var timer = setInterval(() => {
            this.actIndex++;
            if (this.actIndex > this.adList.length - 1) {
              this.actIndex = 0;
            }
          }, 5000)
          // 停止自动轮播
          /*document.getElementById('picBox').onmouseover = () => {
            clearInterval(timer)
          }
          document.getElementById('picBox').onmouseout = () => {
            timer = setInterval((maxL) => {
              this.actIndex++;
              if (this.actIndex > this.adList.length - 1) {
                this.actIndex = 0;
              }
            }, 5000)
          }*/
          if (clearTimer) {
            clearInterval(timer)
          }
        }
      },
      // 跳转广告详情
      toAdDetail(item){
        window.open(item.url,"_blank")
      },
      // 公告通知列表
      getNoticeList() {
        getNoticeListAPI(this.columnName, 3).then(res => {
          if (res.data.code === 0) {
            this.noticeList = res.data.data
          } else {
            this.$message.error("请求公告通知出错")
          }
        })
      },
      // 技工动态
      getTeachList() {
        getNewsListAPI(encodeURIComponent('技工动态'), 5).then(res => {
          if (res.data.code === 0) {
            this.techList = res.data.data
          } else {
            this.$message.error("请求技工动态出错")
          }
        })
      },
      // 联盟之声
      getUnionList() {
        getUnionListAPI(encodeURIComponent('联盟之声'), 3).then(res => {
          const data = res.data.data
          if (res.data.code === 0) {
            this.unionList = data
            this.unionList = changeContent(data)
            this.unionObj = [this.unionList.shift()]
          } else {
            this.$message.error("请求联盟之声出错")
          }
        })
      },
      // 论坛之音
      getForumList() {
        getForumListAPI(encodeURIComponent('论坛之音'), 7).then(res => {
          const data = res.data.data
          if (res.data.code === 0) {
            this.forUmList = data
            this.forUmList = changeContent(data)
            this.forUmObj = [this.forUmList.shift()]
          } else {
            this.$message.error("请求论坛之音出错")
          }
        })
      },
      /*权限跳转*/
      linkHref(link) {

        this.$router.push(link)
      },
      // 获取友情链接
      getFriendLink() {
        getFriendLinkAPI().then(res => {
          res.data.code === 0 ?
            this.list = res.data.data
            : this.$message.error("请求友情链接出错")
        })
      },
      // 跳转友情链接
      toLink(item) {
        const data = {
          clickNum: item.clickNum + 1,
          id: item.id
        }
        changeClickNumAPI(data).then(res => {
          res.data.data == true ?
            window.open(item.url) : this.$message.error('跳转友情链接失败')
          this.getFriendLink()
        })
      },
      // 页脚详情
      toDetail(item) {
        this.$router.push({name: 'footerDetail', query:{name:item.title,id:item.id}})
      },
      // 页脚说明
      getFooterList() {
        getFooterListAPI().then(res => {
          const data = res.data.data;
          if (res.data.code === 0) {
            this.footList = data
            this.footList.content = changeContent(data)
          } else {
            this.$message.error("请求页脚出错")
          }
        })
      },
      // 底部版权信息
      getFooterCopyright() {
        getFooterCopyrightAPI().then(res => {
          res.data.code === 0 ?
            (this.copyRight = res.data.data.value) : this.$message.error("请求页脚出错")
        })
      },
      /*退出登录*/
      loginOut() {
        this.$store.commit('SET_ROLES', [])
        this.$store.dispatch('LoginOut')
      },
      /*经销商登录*/
      disLogin(){
        window.open(process.env.BASE_API+'/supplier/index.html#/login')
      },
      // 出版社登录
      pressLogin(){
        window.open(process.env.BASE_API+'/bg/index.html#/login')
      },
    }
  }
</script>

<style scoped lang="less">
  .homeIndex {
    width: 100%;
    height: 100%;
    .homeLittleT {
      width: 100%;
      height: 51px;
      display: flex;
      justify-content: space-between;
      span {
        background: url("../../assets/img/littleTit.png");
        width: 120px;
        height: 51px;
        display: block;
        text-align: center;
        font-size: 18px;
        font-family: "Microsoft Yahei", "simsun", "arial", "tahoma";
        font-weight: bold;
        color: rgba(255, 255, 255, 1);
        line-height: 40px;
      }
      h1 {
        width: 63px;
        height: 12px;
        font-size: 16px;
        font-family: "Microsoft Yahei", "simsun", "arial", "tahoma";
        font-weight: 400;
        color: rgba(74, 74, 74, 1);
        padding-right: 10px;
        padding-top: 6px;
      }
      h1:hover {
        color: #2B72F5;font-size: 16px;
        font-family: "Microsoft Yahei", "simsun", "arial", "tahoma";
        font-weight: 400;
      }
    }
    .homeBan {

      width: 100%;
      height: 100%;
      min-width: 625px;
      zoom: 1;
      background-color: #fff;
      background-position: center;
      background-size: cover;
      -moz-background-size: cover;
      -webkit-background-size: cover;
      -o-background-size: cover;
      .homeLogo {
        width: 1200px;
        height: 41px;
        padding-top: 40px;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
        .homeLogoImg {
          display: flex;
          .noSignLogo {
            height: 64px;
            img{
              height: 64px;
            }
            h1 {
            margin-left: 12px;
            font-size: 24px;
            line-height: 64px;
              font-weight: normal;
            color: #000;
          }
          }
          span{
            display: flex;
            .haveSignLogo {
              width: 44px;
              height: 41px;
            }
            h1 {
              margin-left: 12px;
              font-size: 24px;
              height: 41px;
              line-height: 41px;
              font-weight: normal;
              color: #fff;
            }
          }



        }
        .homeLogoMess {
          height: 26px;
          display: flex;
          align-items: center;
          li {
            position: relative;
            float: left;
            display: block;
            line-height: 12px;
            margin-top: 0;
            margin-left: 30px;
            color: #fff;
            font-size: 14px;
            font-family: "Microsoft Yahei", "simsun", "arial", "tahoma";
            font-weight: 400;
            cursor: pointer;
            span {
              padding: 0 10px 0 0px;
              height: 26px;
              line-height: 26px;
            }
            img {
              width: 26px;
              height: 26px;
              float: left;
              display: block;
              margin-right: 5px;
              border-radius: 50%;
            }
            .messageInfoText {
              margin-right: 10px;
            }
            .messageInfo {
              position: absolute;
              top: -8px;
              left: 54px;
              padding: 0 6px;
              text-align: center;
              line-height: 20px;
              height: 20px;
              display: inline-block;
              border-radius: 20px;
              background: #F2332F;
              font-size: 12px;
              color: #fff;
            }
          }
          .HomeColor {
            span {
              // color: #3279FF;
              color:#fff;
            }
          }
        }
        .homeMessRit{
          margin-right: 40px;
          .homeMessRit2 {
            margin: 0 20px;
            width: 160px;
            height: 40px;
            background: rgba(0, 0, 0, 0.2);
            // background: #fff;
            // color: #2B72F5;
            color: #fff;
            display: flex;
            justify-content: center;
            align-items: center;
            img {
              padding-right: 10px;
              max-width: 20px;
              max-height: 30px;
            }
            h1{
              font-size: 16px;
              font-weight: normal;
            }
          }
          .homeMessRit2:hover {
            cursor: pointer;
            background: rgba(50, 121, 255, 0.8);
            color: #fff;
          }
          .homeMessRit3 {
            width: 160px;
            height: 40px;
            background: rgba(0, 0, 0, 0.2);
            // background: #fff;
            // color: #2B72F5;
            color: #fff;
            display: flex;
            justify-content: center;
            align-items: center;
            img {
              padding-right: 10px;
              max-width: 20px;
              max-height: 30px;
            }
            h1{
              font-size: 16px;
              font-weight: normal;
            }
          }
          .homeMessRit3:hover {
            cursor: pointer;
            background: rgba(50, 121, 255, 0.8);
            color: #fff;
          }
        }

      }
      /*没有登录*/
      .homeMess {
        width: 1200px;
        margin: 140px auto 0;
        display: block;
        overflow: hidden;
        position: relative;
        .homeMessLeft {
          width: 685px;
          .homeMessLeftTop {
            width: 685px;
            height: 55px;
            margin-top: 152px;
            background: rgba(255, 255, 255, 1);
            border-radius: 28px 28px 28px 28px;
            .homeSearch {
              margin-left: 25px;
              height: 55px;
              line-height: 55px;
              width: 532px;
              border: none;
              font-size: 14px;
            }
            .homeSearch::-ms-clear{display: none;}
            .homeSearch::-ms-reveal{display: none;}
            .homtSearchBtn {
              width: 128px;
              height: 55px;
              background: linear-gradient(90deg, rgba(86, 158, 255, 1) 0%, rgba(50, 121, 255, 1) 100%);
              border-radius: 0px 28px 28px 0px;
              cursor: pointer;
              img {
                display: block;
                margin: 12px auto 0;
                width: 32px;
                height: 32px;

              }
            }

          }
        }
        .homeMessRight {
          width: 420px;
          padding:80px 0;
          .homeMessRit1 {
            width: 420px;
            height: 222px;
            background: rgba(0, 0, 0, 0.2);
            display: flex;
            justify-content: center;
            align-items: center;
            margin-bottom: 20px;
            img {
              width: 97px;
              height: 97px;
            }
            .messRitWord {
              height: 96px;
              padding-left: 24px;
              h1 {
                height: 26px;
                font-size: 26px;
                font-family: "Microsoft Yahei", "simsun", "arial", "tahoma";
                font-weight: 400;
                color: rgba(255, 255, 255, 1);
                line-height: 38px;
                padding-top: 15px;
                padding-bottom: 3px;
              }
              p {
                height: 13px;
                font-size: 18px;
                font-family: "Microsoft Yahei", "simsun", "arial", "tahoma";
                font-weight: 400;
                color: rgba(255, 255, 255, 1);
                line-height: 49px;

              }
            }

          }
          .homeMessRit1:hover {
            cursor: pointer;
            background: rgba(50, 121, 255, 0.8);
          }
          .messRitWord {
            height: 96px;
            padding-left: 14px;
            h1 {
              height: 26px;
              font-size: 22px;
              font-family: "Microsoft Yahei", "simsun", "arial", "tahoma";
              font-weight: 400;
              color: rgba(255, 255, 255, 1);
              line-height: 38px;
              padding-top: 15px;
              padding-bottom: 3px;
            }
            p {
              height: 13px;
              font-size: 14px;
              font-family: "Microsoft Yahei", "simsun", "arial", "tahoma";
              font-weight: 400;
              color: rgba(255, 255, 255, 1);
              line-height: 49px;

            }
          }
          // .homeMessRit2 {
          //   width: 240px;
          //   height: 156px;
          //   background: rgba(0, 0, 0, 0.2);
          //   display: flex;
          //   justify-content: center;
          //   align-items: center;
          //   img {
          //     width: 70px;
          //     height: 70px;
          //   }
          // }
          // .homeMessRit2:hover {
          //   cursor: pointer;
          //   background: rgba(50, 121, 255, 0.8);
          // }
          // .homeMessRit3 {
          //   width: 240px;
          //   height: 156px;
          //   background: rgba(0, 0, 0, 0.2);
          //   display: flex;
          //   justify-content: center;
          //   align-items: center;
          //   img {
          //     width: 70px;
          //     height: 70px;
          //   }
          // }
          // .homeMessRit3:hover {
          //   cursor: pointer;
          //   background: rgba(50, 121, 255, 0.8);
          // }
        }

      }
      .schoolSuggest1 {
        position: absolute;
        width: 537px;
        height: auto;
        margin-left: 20px;
        top: 428px;
        // border: 1px solid #ededed;
        background: #fff;
        display: block;
        float: left;
        ul {
          padding: 10px 0;padding: 10px 0;
          li {
            line-height: 54px;
            margin: 0 10px;
            border-bottom: 1px solid #f5f5f5;
            height: 54px;
            cursor: pointer;
            span {
              float: left;
              width: 400px;
              white-space: nowrap;
              overflow: hidden;
              text-overflow: ellipsis;
            }
            h1 {
              float: right;
              display: block;
              width: 170px;
              text-align: right;
              white-space: nowrap;
              overflow: hidden;
              text-overflow: ellipsis;
              font-size:16px;
              font-family:Microsoft YaHei;
              font-weight:400;
            }
            img{
              max-height: 40px;
              max-width: 40px;
            }
          }
          li:hover {
            color: #3279FF;
          }
          li:last-child {
            border-bottom: none;
          }
        }

      }

      /*教师 用户登录*/
      .schoolLogin {
        .schoolSearch {
          width: 1057px;
          margin: 0 auto;
          position: relative;
          .schoolSearchTop {
            width: 1057px;
            height: 55px;
            background: rgba(255, 255, 255, 1);
            border-radius: 28px 28px 28px 28px;
            margin: 192px auto 120px;
            .homeSearch {
              margin-left: 25px;
              height: 55px;
              line-height: 55px;
              width: 867px;
              border: none;
              font-size: 14px;
            }
            .homeSearch::-ms-clear{display: none;}
            .homeSearch::-ms-reveal{display: none;}
            .homtSearchBtn {
              width: 128px;
              height: 55px;
              cursor: pointer;
              background: linear-gradient(90deg, rgba(86, 158, 255, 1) 0%, rgba(50, 121, 255, 1) 100%);
              border-radius: 0px 28px 28px 0px;
              img {
                display: block;
                margin: 12px auto 0;
                width: 32px;
                height: 32px;

              }
            }

          }
          .schoolSuggest {
            position: absolute;
            width: 907px;
            margin-left: 20px;
            top: 55px;
            margin-top: 0px;
            // border: 1px solid #ededed;
            background: #fff;
            display: block;
            float: left;
            z-index: 11;
            ul {
              padding: 8px 0;
              li {
                line-height: 54px;
                margin: 0 10px;
                border-bottom: 1px solid #f5f5f5;
                height: 54px;
                cursor: pointer;
                span {
                  float: left;
                  width: 500px;
                  white-space: nowrap;
                  overflow: hidden;
                  text-overflow: ellipsis;
                }
                h1 {
                  float: right;
                  display: block;
                  width: 380px;
                  text-align: right;
                  white-space: nowrap;
                  overflow: hidden;
                  text-overflow: ellipsis;
                  font-size:16px;
                  font-family:Microsoft YaHei;
                  font-weight:400;
                }
                  img{
                  max-height: 40px;
                  max-width: 40px;
                }
              }
              li:hover {
                color: #3279FF;
              }
              li:last-child {
                // border-bottom: none;
              }
            }

          }

          /*.schoolSuggest:before {
            content: " ";
            border-bottom: 10px solid #fff;
            border-left: 10px solid transparent;
            border-right: 10px solid transparent;
            margin-left: 30px;
          }*/
        }
        .schoolSearchUl {
          width: 1320px;
          margin: 120px auto 0;
          display: flex;
          justify-content: space-between;
          li {
            width: 300px;
            height: 160px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            opacity: 0.8;
            border-radius: 4px;
            cursor: pointer;
            img {
              width: 60px;
              height: 60px;
              margin-left: 46px;
            }
            .schoolSearchWord {
              width: 185px;
              height: 50px;
              overflow: hidden;
              h1 {
                height: 24px;
                font-size: 20px;
                font-family: "Microsoft Yahei", "simsun", "arial", "tahoma";
                font-weight: 400;
                color: rgba(255, 255, 255, 1);
                line-height: 25px;
              }
              p {
                height: 10px;
                font-size: 14px;
                font-family: "Microsoft Yahei", "simsun", "arial", "tahoma";
                font-weight: 400;
                color: rgba(255, 255, 255, 1);
                line-height: 36px;
              }
            }
          }
          /*.schoolSearch1 {
            background: #2B72F5;

          }*/
          .schoolSearch2 {
            background: rgba(0, 0, 0, 0.3);
            position: relative;
            i {
              position: absolute;
              min-width: 18px;
              height: 18px;
              text-align: center;
              line-height: 18px;
              background: rgba(242, 51, 47, 1);
              border-radius: 50%;
              font-size: 14px;
              font-family: "Microsoft Yahei", "simsun", "arial", "tahoma";
              font-weight: 400;
              color: rgba(255, 255, 255, 1);
              top: 53px;
              left: 93px;
            }
          }
          li:hover {
            background: #2B72F5;
          }

        }
        /*教务*/
        .educationalUl {
          width: 1200px;
          margin: 0 auto;
          display: flex;
          justify-content: space-between;
          li {
            position: relative;
            width: 150px;
            height: 140px;
            background: rgba(0, 0, 0, 0.3);
            padding-top: 18px;
            border-radius: 4px;
            display: flex;
            flex-direction: column;
            align-items: center;
            cursor: pointer;
            img {
              width: 54px;
              height: 54px;
            }
            .educationaWord {

              padding-top: 10px;
              text-align: center;
              h1 {
                height: 24px;
                font-size: 18px;
                font-family: "Microsoft Yahei", "simsun", "arial", "tahoma";
                font-weight: 400;
                color: rgba(255, 255, 255, 1);
                line-height: 24px;
              }
              p {
                font-size: 12px;
                font-family: "Microsoft Yahei", "simsun", "arial", "tahoma";
                font-weight: 400;
                color: rgba(255, 255, 255, 1);
                line-height: 20px;
              }
              span {
                position: absolute;
                top: 20px;
                left: 100px;
                padding: 0px 6px;
                background: #F2332F;
                color: #fff;
                font-size: 14px;
                border-radius: 18px;
              }
            }
          }
          li:hover {
            background: rgba(43, 114, 245, 0.8);
          }
          /*
                    .educationa1 {
                      background: rgba(43, 114, 245, 0.8);
                    }*/
          .educationa2 {
            position: relative;
            i {
              position: absolute;
              min-width: 16px;
              height: 16px;
              background: rgba(242, 51, 47, 1);
              border-radius: 50%;
              font-size: 12px;
              font-family: "Microsoft Yahei", "simsun", "arial", "tahoma";
              font-weight: 400;
              color: rgba(255, 255, 255, 1);
              text-align: center;
              line-height: 16px;
              top: 25px;
              left: 106px;
            }
          }
        }
      }

      .homeBom {
        // padding-bottom: 30px;
        padding-bottom: 186px;
        .homeBom-con {
          margin: 0 auto;

          width: 66px;
          height: 66px;
          background: rgba(67, 67, 67, 0.8);
          border-radius: 50%;
          display: flex;
          justify-content: center;
          align-items: center;

          img {
            // width: 200px;
            // height: 100px;
            padding-bottom:10px;
          }
        }

      }

    }
    .homeNewsTit {
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;
      height: 100px;
      margin-top: 70px;
      margin-bottom: 70px;
      .homeNewsTitCenter {
        flex: 0 0 280px;
        position: relative;
        width:280px;
        height:66px;
        margin:auto;
        // background:url(../../assets/img/标题-新闻动态.png) no-repeat center;
        p {
          width: 190px;
          height: 24px;
          font-size: 16px;
          font-family: "Microsoft Yahei", "simsun", "arial", "tahoma";
          font-weight: 400;
          color: rgba(153, 153, 153, 1);
          line-height: 18px;
          padding-top: 0;
          margin-top: 0;
          margin:auto;
        }
        h1 {
          width: 190px;
          height: 32px;
          text-align: center;
          font-size: 32px;
          font-family: "Microsoft Yahei", "simsun", "arial", "tahoma";
          font-weight: 400;
          color: rgba(51, 51, 51, 1);
          line-height: 38px;
          margin:auto;
        }
        img {
          margin-top: 5px;
        }
      }
      .homeNewsTitCenter:before ,.homeNewsTitCenter:after{
        content: "";
        position: absolute;
        top: 6px;
        width: 1px;
        background: #DDD;
        height: 56px;
        transform: rotate(30deg);
        -ms-transform: rotate(30deg);		/* IE 9 */
        -webkit-transform: rotate(30deg);	/* Safari and Chrome */
        -o-transform: rotate(30deg);		/* Opera */
        -moz-transform: rotate(30deg);
      }
      .homeNewsTitCenter:before{
        left: 0;
      }
      .homeNewsTitCenter:after{
        right: 0;
      }
      .horizontalLine{
        width: 100%;
        height: 1px;
        background: #DDD;
        // border: 1px solid #DDD;
      }
    }
    .homeNews {
      width: 1200px;
      display: block;
      height: auto;
      margin: 0 auto 60px;
      overflow: hidden;
      .NewsPartOne {
        width: 100%;
        height: 551px;
        border-bottom: 1px solid rgba(237, 237, 237, 1);
        // .partOneLeft {
        //   width: 350px;
        //   height: 481px;
        //   overflow: hidden;
        //   position: relative;
        //   .picBox {
        //     width: 560px;
        //     height: 481px;
        //     overflow: hidden;

        //     .show_pic {
        //       transition: 1s linear;
        //       margin: 0;
        //       padding: 0;
        //       width: 10000px;
        //       height: 481px;
        //       position: absolute;
        //       float: left;
        //       .swiperItem {
        //         float: left;
        //         width: 560px;
        //         height: 481px;
        //         position: relative;
        //       }
        //       img {
        //         width: 560px;
        //         height: 481px;
        //         cursor: pointer;

        //       }
        //       .picBoxTit {
        //         position: absolute;
        //         bottom: 0;
        //         left: 0;
        //         width: 560px;
        //         height: 54px;
        //         line-height: 54px;
        //         background: rgba(0, 0, 0, 1);
        //         opacity: 0.7;
        //         color: #fff;
        //         span {
        //           padding-left: 20px;
        //           font-size: 16px;
        //           font-family: MicrosoftYaHei;
        //           font-weight: 400;
        //         }

        //       }
        //     }
        //   }

        //   .picBoxTitDesc {
        //     position: absolute;
        //     right: 10px;
        //     bottom: 22px;
        //     ul {
        //       li {
        //         float: left;
        //         width: 10px;
        //         height: 10px;
        //         border-radius: 50%;
        //         background: rgba(255, 255, 255, 1);
        //         opacity: 0.3;
        //         border-radius: 50%;
        //         margin-right: 10px;
        //       }
        //       .curIndex {
        //         width: 10px;
        //         height: 10px;
        //         border-radius: 50%;
        //         background: rgba(255, 255, 255, 1);
        //         opacity: 0.7;
        //         border-radius: 50%;
        //       }
        //     }
        //   }

        // }




        .partOneLeft {
          width: 630px;
          height: 460px;
          overflow: hidden;
          position: relative;
          .picBox {
            width: 630px;
            height: 460px;
            overflow: hidden;

            .show_pic {
              padding: 0;
              width: 630px;
              height: 460px;
              position: absolute;
              float: left;
              .swiperItem {
                transition: visibility 1s;
                -moz-transition: visibility 1s;	/* Firefox 4 */
                -webkit-transition: visibility 1s;	/* Safari 和 Chrome */
                -o-transition: visibility 1s;
                transition: 1s;
                opacity: 0;
                visibility: hidden;
                z-index: 0;
                width: 630px;
                height: 460px;
                position: relative;
              }
              .showPic{
                transition: visibility 1s;
                -moz-transition: visibility 1s;	/* Firefox 4 */
                -webkit-transition: visibility 1s;	/* Safari 和 Chrome */
                -o-transition: visibility 1s;
                transition: 1s;
                position: absolute;
                top: 0;
                left: 0;
                z-index: 1;
                opacity: 1;
                visibility: visible;
              }
              img {
                width: 630px;
                height: 460px;
                cursor: pointer;

              }
              .picBoxTit {
                position: absolute;
                bottom: 0;
                left: 0;
                width: 630px;
                height: 54px;
                line-height: 54px;
                background: rgba(0, 0, 0, 1);
                opacity: 0.7;
                color: #fff;
                span {
                  padding-left: 20px;
                  font-size: 16px;
                  font-family: "Microsoft Yahei", "simsun", "arial", "tahoma";
                  font-weight: 400;
                }

              }
            }
          }

          .picBoxTitDesc {
            position: absolute;
            z-index: 100;
            right: 10px;
            bottom: 22px;
            ul {
              li {
                float: left;
                width: 10px;
                height: 10px;
                border-radius: 50%;
                background: rgba(255, 255, 255, 1);
                opacity: 0.3;
                border-radius: 50%;
                margin-right: 10px;
              }
              .curIndex {
                width: 10px;
                height: 10px;
                border-radius: 50%;
                background: rgba(255, 255, 255, 1);
                opacity: 0.7;
                border-radius: 50%;
              }
            }
          }

        }






        .partOneRight {
          width: 530px;
          .partOneRitOne {

            .partOneRitLst {
              width: 100%;
              height: 145px;
              font-size: 16px;
              font-family: "Microsoft Yahei", "simsun", "arial", "tahoma";
              font-weight: 400;
              line-height: 44px;
              margin-top: 10px;
              display: block;
              border-bottom: 1px solid rgba(237, 237, 237, 1);
              margin-bottom: 34px;
              ul {
                li {
                  float: none;
                  list-style-type: none;
                  margin: 0;
                  width: 530px;

                  a {
                    width: 100%;
                    display: flex;
                    justify-content: space-between;
                    white-space: nowrap;
                    span:first-child {
                      overflow: hidden;
                      white-space: nowrap;
                      text-overflow: ellipsis;
                      /*h3 {
                        float: left;
                        display: block;
                        line-height: 44px;
                        width: 5px;
                        height: 5px;
                        background: rgba(50, 121, 255, 1);
                        margin-top: 20px;
                        margin-right: 10px;
                      }*/
                    }
                    span:first-child {
                      margin-left: 10px;
                    }
                    span {
                      margin-left: 60px;
                    }
                  }
                  a:hover {
                    color: rgba(50, 121, 255, 1);
                  }
                }
              }
            }
          }
          .partOneRitTwo {

            .partOneRitLst {
              width: 100%;
              height: 148px;
              font-size: 16px;
              font-family: "Microsoft Yahei", "simsun", "arial", "tahoma";
              font-weight: 400;
              line-height: 44px;
              margin-top: 10px;
              display: block;
              ul {
                li {
                  float: none;
                  list-style-type: none;
                  margin: 0;
                  width: 530px;

                  a {
                    width: 100%;
                    display: flex;
                    justify-content: space-between;
                    white-space: nowrap;
                    span:first-child {
                      overflow: hidden;
                      white-space: nowrap;
                      text-overflow: ellipsis;
                      /*h3 {
                        float: left;
                        display: block;
                        line-height: 44px;
                        width: 5px;
                        height: 5px;
                        background: rgba(50, 121, 255, 1);
                        margin-top: 20px;
                        margin-right: 10px;
                      }*/
                    }
                    span:first-child {
                      margin-left: 10px;
                    }
                    span {
                      margin-left: 60px;
                    }
                  }
                  a:hover {
                    color: rgba(50, 121, 255, 1);
                  }
                }
              }
            }
          }

        }
      }
      .NewsPartTwo {
        margin-top: 50px;
        width: 100%;
        height: auto;
        .partTwoLf {
          width: 560px;
          .partTwoLfList {
            width: 100%;
            margin-top: 28px;
            ul {
              li {
                list-style: square;
                // color: #3279FF;
              }

              .haveImg {
                width: 100%;
                height: 181px;
                display: flex;
                justify-content: space-between;
                img {
                  width: 247px;
                  height: 166px;
                }
                .haveImgWord {
                  width: 308px;
                  .haveImgWordTit {
                    height: 47px;
                    h1 {
                      width: 278px;
                      font-size: 22px;
                      font-family: "Microsoft Yahei", "simsun", "arial", "tahoma";
                      font-weight: 400;
                      color: rgba(22, 22, 22, 1);
                      line-height: 40px;
                      float: right;
                      margin-right: 8px;
                      overflow: hidden;
                      white-space: nowrap;
                      text-overflow: ellipsis;
                      a:hover {
                        color: #3279FF
                      }
                    }
                    div {
                      width: 39px;
                      height: 18px;
                      background: rgba(255, 163, 43, 1);
                      border-radius: 9px;
                      margin-top: 10px;
                      display: inline-block;
                      text-align: center;
                      span {
                        display: block;
                        font-size: 12px;
                        font-family: "Microsoft Yahei", "simsun", "arial", "tahoma";
                        font-weight: 400;
                        color: rgba(255, 255, 255, 1);
                        line-height: 20px;
                        margin-top: 0;
                        padding-top: 0;
                      }
                    }
                  }
                  p {
                    width: 283px;
                    height: 60px;
                    margin-bottom: 37px;
                    font-size: 16px;
                    font-family: "Microsoft Yahei", "simsun", "arial", "tahoma";
                    font-weight: 400;
                    color: rgba(102, 102, 102, 1);
                    line-height: 30px;
                    //联盟之声内容换行
                    /*text-overflow: -o-ellipsis-lastline;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    display: -webkit-box;
                    -webkit-line-clamp: 2;
                    line-clamp: 2;
                    -webkit-box-orient: vertical;*/
                    float:right;
                  }
                  h2 {
                    width: 100%;
                    height: 12px;
                    font-size: 16px;
                    font-family: "Microsoft Yahei", "simsun", "arial", "tahoma";
                    font-weight: 400;
                    color: rgba(153, 153, 153, 1);
                    line-height: 30px;
                    margin-left:30px;
                  }
                }
              }
              .nohaveImg {
                box-sizing: border-box;
                width: 100%;
                height: 136px;
                margin-top: 20px;
                // padding-bottom: 20px;
                border-bottom: 1px solid rgba(237, 237, 237, 1);
                .nohaveImgTit {
                  width: 100%;
                  height: 45px;

                  a {
                    display: flex;
                    justify-content: space-between;
                    font-size: 16px;
                    font-family: "Microsoft Yahei", "simsun", "arial", "tahoma";
                    font-weight: 400;
                    color: rgba(51, 51, 51, 1);
                    line-height: 40px;
                    white-space: nowrap;
                    span:first-child {
                      font-size: 22px;
                    }
                    .title {
                      width: 400px;
                      overflow: hidden;
                      white-space: nowrap;
                      text-overflow: ellipsis;
                      font-size: 22px;
                      margin-right: 10px;
                      /*h3 {
                        float: left;
                        display: block;
                        line-height: 44px;
                        width: 5px;
                        height: 5px;
                        background: rgba(50, 121, 255, 1);
                        margin-top: 17px;
                        margin-right: 10px;
                      }*/
                    }

                  }
                  a:hover {
                    color: #3279FF
                  }

                }
                p {
                  width: 560px;
                  font-size: 16px;
                  font-family: "Microsoft Yahei", "simsun", "arial", "tahoma";
                  font-weight: 400;
                  color: rgba(102, 102, 102, 1);
                  line-height: 30px;
                  /*overflow: hidden;
                  display: -webkit-box;
                  -webkit-box-orient: vertical;
                  -webkit-line-clamp: 2;
                  overflow: hidden;
                  text-overflow: ellipsis;*/
                }
              }
              li:last-child {
                border: none;
              }
            }
          }
        }
        .partTwoRit {
          width: 558px;

          .partTwoRitRitList {
            width: 100%;
            margin-top: 28px;
            ul {
              li {
                /*list-style: square;*/
                // color: #3279FF;
              }

              .haveImg {
                width: 100%;
                height: 181px;
                display: flex;
                justify-content: space-between;
                margin-bottom: 15px;
                img {
                  width: 247px;
                  height: 166px;
                }
                .haveImgWord {
                  width: 321px;

                  .haveImgWordTit {
                    height: 47px;
                    h1 {
                      width: 219px;
                      font-size: 22px;
                      font-family: "Microsoft Yahei", "simsun", "arial", "tahoma";
                      font-weight: 400;
                      color: rgba(22, 22, 22, 1);
                      line-height: 40px;
                      float: left;
                      margin-right: 14px;
                      margin-left:30px;
                      overflow: hidden;
                      white-space: nowrap;
                      text-overflow: ellipsis;
                      a:hover {
                        color: #3279FF
                      }
                    }
                    div {
                      width: 39px;
                      height: 18px;
                      background: rgba(255, 163, 43, 1);
                      border-radius: 9px;
                      margin-top: 10px;
                      display: inline-block;
                      text-align: center;
                      span {
                        display: block;
                        font-size: 12px;
                        font-family: "Microsoft Yahei", "simsun", "arial", "tahoma";
                        font-weight: 400;
                        color: rgba(255, 255, 255, 1);
                        line-height: 20px;
                        margin-top: 0;
                        padding-top: 0;

                      }
                    }
                  }
                  p {
                    width: 280px;
                    height: 60px;
                    margin-bottom: 37px;
                    font-size: 16px;
                    font-family: "Microsoft Yahei", "simsun", "arial", "tahoma";
                    font-weight: 400;
                    color: rgba(102, 102, 102, 1);
                    line-height: 30px;
                    //论坛之音内容换行
                    text-overflow: -o-ellipsis-lastline;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    display: -webkit-box;
                    -webkit-line-clamp: 2;
                    line-clamp: 2;
                    -webkit-box-orient: vertical;
                    float:right;
                  }
                  h2 {
                    width: 100%;
                    height: 12px;
                    font-size: 16px;
                    font-family: "Microsoft Yahei", "simsun", "arial", "tahoma";
                    font-weight: 400;
                    color: rgba(153, 153, 153, 1);
                    line-height: 30px;
                    margin-left:30px;
                  }
                }
              }

              .nohaveImg {
                width: 100%;
                font-size: 16px;
                font-family: "Microsoft Yahei", "simsun", "arial", "tahoma";
                font-weight: 400;
                line-height: 44px;

                a {
                  white-space: nowrap;
                  width: 100%;
                  display: flex;
                  justify-content: space-between;
                  .title {
                    overflow: hidden;
                    text-overflow: ellipsis;
                    white-space: nowrap;
                    /*h3 {
                      float: left;
                      display: block;
                      line-height: 44px;
                      width: 5px;
                      height: 5px;
                      background: rgba(50, 121, 255, 1);
                      margin-top: 20px;
                      margin-right: 10px;
                    }*/
                  }
                  span:first-child {
                    margin-left: 0px;
                  }
                  span {
                    margin-left: 60px;
                  }
                }
                a:hover {
                  color: rgba(50, 121, 255, 1);
                }
              }
              li:last-child {
                border: none;
              }
            }
          }

        }
      }

    }
    .homeFooter {
      width: 100%;
      height: auto;
      .footerPartOne {
        width: 100%;
        height: 145px;
        background: rgba(244, 244, 244, 1);
        .footerPartOneCenter {
          width: 1200px;
          height: 145px;
          margin: 0 auto;
          .CenterTit {
            height: 55px;
            padding-top: 23px;
            font-size: 16px;
            font-family: "Microsoft Yahei", "simsun", "arial", "tahoma";
            font-weight: 400;
            color: rgba(102, 102, 102, 1);
            line-height: 40px;
            border-bottom: 1px solid rgba(237, 237, 237, 1);
            span {
              font-size: 20px;
              font-family: "Microsoft Yahei", "simsun", "arial", "tahoma";
              font-weight: bold;
              color: rgba(51, 51, 51, 1);
              line-height: 21px;
              padding-right: 9px;
            }

          }
          .CenterUl {
            margin-top: 20px;
            ul {
              width: 1200px;
              list-style: disc;
              li {
                float: left;
                /*display: block;*/
                color: #333333;
                list-style: disc;
                padding-left: 30px;

                a {
                  display: block;
                  color: #333333;
                  margin-right: 60px;
                  /* overflow: hidden;*/
                  float: left;
                }
                a:hover {
                  cursor: pointer;
                  color: rgba(50, 121, 255, 1);
                }
              }
              li:first-child {
                list-style: none;
                margin: 0;
                padding: 0
              }
            }
          }
        }
        .footerPartTwoCenter {
          width: 100%;
          height: 148px;
          background: rgba(65, 65, 65, 1);
          /*display: flex;
          flex-direction:row;*/
          /*justify-content: center;
          align-items: center;*/
          ul {
            width: 100%;
            height: 50px;
            padding-top: 20px;
            display: flex;
            justify-content: center;
            align-items: center;
            li {
              float: left;
              display: block;
              color: #FFFFFF;
              a {
                color: #FFFFFF;
                font-size: 14px;
                font-family: "Microsoft Yahei", "simsun", "arial", "tahoma";
                font-weight: 400;
                line-height: 22px;
                padding: 0 20px;
              }
              a:hover {
                cursor: pointer;
                color: rgba(50, 121, 255, 1);
              }
              span {
                vertical-align: text-top;
                font-size: 10px;
              }
            }
            li:first-child {
              span {
                font-size: 0px;
              }
            }
          }
          .footerTwoCenterS {
            width: 100%;
            text-align: center;
            color: #A7A7A7;
            font-size: 14px;
            height: 31px;
            line-height: 31px;

          }
        }
        .footerPartThreeCenter {
          width: 100%;
          height: 34px;
          background: rgba(34, 34, 34, 1);
          font-size: 14px;
          font-family: "Microsoft Yahei", "simsun", "arial", "tahoma";
          font-weight: 400;
          color: rgba(94, 94, 94, 1);
          line-height: 34px;
          text-align: center;
        }
      }
    }

  }
</style>
