<template>
  <!--首页-->
  <div>
    <router-view/>
  </div>
</template>

<script>
  export default {
    data() {
      return {
        advertising: [], // 轮播广告位
        actIndex: 0,
      }
    },
    components: {},
    created(){

    },
    methods: {




    }
  }
</script>

<style scoped lang="less">
  .homeIndex {
    width: auto;
    height: auto;
    .homeLittleT {
      width: 100%;
      height: 51px;
      display: flex;
      justify-content: space-between;
      span {
        background: url("../../assets/img/littleTit.png");
        width: 120px;
        height: 51px;
        display: block;
        text-align: center;
        font-size: 18px;
        font-family: "Microsoft Yahei", "simsun", "arial", "tahoma";
        font-weight: bold;
        color: rgba(255, 255, 255, 1);
        line-height: 38px;
      }
      h1 {
        width: 53px;
        height: 12px;
        font-size: 16px;
        font-family: "Microsoft Yahei", "simsun", "arial", "tahoma";
        font-weight: 400;
        color: rgba(74, 74, 74, 1);
        padding-top: 6px;
      }
    }
    .homeBan {
      width: auto;
      height: 810px;
      background: url("../../assets/img/banner.png") no-repeat;
      background-size: 100% 100%;
      .homeLogo {
        width: 1480px;
        height: 41px;
        padding-top: 40px;
        margin: 0 auto;
        img {
          width: 222px;
          height: 41px;
        }
      }
      .homeMess {
        width: 1390px;
        margin: 140px auto 0;
        display: block;
        overflow: hidden;
        .homeMessLeft {
          width: 750px;
          height: 55px;
          margin-top: 152px;
          background: rgba(255, 255, 255, 1);
          border-radius: 28px 28px 28px 28px;
          .homeSearch {
            margin-left: 25px;
            height: 55px;
            line-height: 55px;
            width: 867px;
            border: none
          }
          .homtSearchBtn {
            width: 128px;
            height: 55px;
            background: linear-gradient(90deg, rgba(86, 158, 255, 1) 0%, rgba(50, 121, 255, 1) 100%);
            border-radius: 0px 28px 28px 0px;
            img {
              display: block;
              margin: 12px auto 0;
              width: 32px;
              height: 32px;

            }
          }
        }
        .homeMessRight {
          width: 500px;
          .homeMessRit1 {
            width: 500px;
            height: 182px;
            background: rgba(0, 0, 0, 0.2);
            display: flex;
            justify-content: center;
            align-items: center;
            margin-bottom: 20px;
            img {
              width: 97px;
              height: 97px;
            }
            .messRitWord {
              height: 96px;
              padding-left: 24px;
              h1 {
                height: 26px;
                font-size: 26px;
                font-family: "Microsoft Yahei", "simsun", "arial", "tahoma";
                font-weight: 400;
                color: rgba(255, 255, 255, 1);
                line-height: 38px;
                padding-top: 15px;
                padding-bottom: 3px;
              }
              p {
                height: 13px;
                font-size: 18px;
                font-family: "Microsoft Yahei", "simsun", "arial", "tahoma";
                font-weight: 400;
                color: rgba(255, 255, 255, 1);
                line-height: 49px;

              }
            }

          }
          .messRitWord {
            height: 96px;
            padding-left: 14px;
            h1 {
              height: 26px;
              font-size: 22px;
              font-family: "Microsoft Yahei", "simsun", "arial", "tahoma";
              font-weight: 400;
              color: rgba(255, 255, 255, 1);
              line-height: 38px;
              padding-top: 15px;
              padding-bottom: 3px;
            }
            p {
              height: 13px;
              font-size: 14px;
              font-family: "Microsoft Yahei", "simsun", "arial", "tahoma";
              font-weight: 400;
              color: rgba(255, 255, 255, 1);
              line-height: 49px;

            }
          }
          .homeMessRit2 {
            width: 240px;
            height: 156px;
            background: rgba(0, 0, 0, 0.2);
            display: flex;
            justify-content: center;
            align-items: center;
            img {
              width: 70px;
              height: 70px;
            }
          }
          .homeMessRit3 {
            width: 240px;
            height: 156px;
            background: rgba(50, 121, 255, 0.8);
            display: flex;
            justify-content: center;
            align-items: center;
            img {
              width: 70px;
              height: 70px;
            }
          }
        }
      }
      .homeBom {
        margin: 0 auto;
        width: 66px;
        height: 66px;
        background: rgba(67, 67, 67, 0.8);
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 135px;
        img {
          width: 22px;
          height: 12px;
        }
      }

    }
    .homeNewsTit {
      width: auto;
      display: flex;
      justify-content: space-between;
      align-items: center;
      height: 100px;
      margin-top: 70px;
      margin-bottom: 70px;
      img {
        margin-top: 5px;
      }
      .homeNewsTitCenter {
        p {
          width: 190px;
          height: 24px;
          font-size: 16px;
          font-family: "Microsoft Yahei", "simsun", "arial", "tahoma";
          font-weight: 400;
          color: rgba(153, 153, 153, 1);
          line-height: 18px;
          padding-top: 0;
          margin-top: 0;
        }
        h1 {
          width: 190px;
          height: 32px;
          text-align: center;
          font-size: 32px;
          font-family: "Microsoft Yahei", "simsun", "arial", "tahoma";
          font-weight: 400;
          color: rgba(51, 51, 51, 1);
          line-height: 38px;
        }
      }
    }
    .homeNews {
      width: 1487px;
      display: block;
      height: auto;
      margin: 0 auto 60px;
      overflow: hidden;
      .NewsPartOne {
        width: 100%;
        height: 551px;
        border-bottom: 1px solid rgba(237, 237, 237, 1);
        .partOneLeft {
          width: 800px;
          height: 481px;
          position: relative;
          .picBox{
            .show_pic{
              img{

              }
              .picBoxTit{
                position: absolute;
                bottom:0;
                left:0;
                width:800px;
                height:54px;
                line-height: 54px;
                background:rgba(0,0,0,1);
                opacity:0.7;
                color:#fff;
                span{
                  padding-left: 20px;
                  font-size:16px;
                  font-family: "Microsoft Yahei", "simsun", "arial", "tahoma";
                  font-weight:400;
                }
                .picBoxTitDesc{
                  position: absolute;
                  right: 10px;
                  top:22px;
                  ul{
                    li{
                      float: left;
                      width: 10px;
                      height:10px;
                      border-radius: 50%;
                      background:rgba(255,255,255,1);
                      opacity:0.3;
                      border-radius:50%;
                      margin-right: 10px;
                    }
                    .curIndex{
                      width:10px;
                      height:10px;
                      border-radius: 50%;
                      background:rgba(255,255,255,1);
                      opacity:0.7;
                      border-radius:50%;
                    }
                  }
                }
              }
            }
          }




        }
        .partOneRight {
          width: 564px;
          .partOneRitOne {

            .partOneRitLst {
              width: 100%;
              height: 145px;
              font-size: 16px;
              font-family: MicrosoftYaHei;
              font-weight: 400;
              line-height: 44px;
              margin-top: 10px;
              display: block;
              border-bottom: 1px solid rgba(237, 237, 237, 1);
              margin-bottom: 34px;
              ul {
                li {
                  color: #3279FF;

                  a {
                    width: 100%;
                    display: flex;
                    justify-content: space-between;
                    /*span{
                      h3{
                        float: left; display: block;
                        line-height: 44px;
                        width:5px;
                        height:5px;
                        background:rgba(50,121,255,1);
                        margin-top: 20px;
                        margin-right: 10px;
                      }
                    }*/
                  }
                  a:hover {
                    color: rgba(50, 121, 255, 1);
                  }
                }
              }
            }
          }
          .partOneRitTwo {

            .partOneRitLst {
              width: 100%;
              height: 148px;
              font-size: 16px;
              font-family: MicrosoftYaHei;
              font-weight: 400;
              line-height: 44px;
              margin-top: 10px;
              display: block;
              ul {
                li {
                  color: #3279FF;

                  a {
                    width: 100%;
                    display: flex;
                    justify-content: space-between;
                    /*span{
                      h3{
                        float: left; display: block;
                        line-height: 44px;
                        width:5px;
                        height:5px;
                        background:rgba(50,121,255,1);
                        margin-top: 20px;
                        margin-right: 10px;
                      }
                    }*/
                  }
                  a:hover {
                    color: rgba(50, 121, 255, 1);
                  }
                }
              }
            }
          }

        }
      }
      .NewsPartTwo {
        margin-top: 50px;
        width: 100%;
        height: auto;
        .partTwoLf {
          width: 800px;
          .partTwoLfList {
            width: 100%;
            margin-top: 28px;
            ul {
              li {
                list-style: square;
                color: #3279FF;
              }

              .haveImg {
                height: 181px;
                display: flex;
                justify-content: space-between;
                img {
                  width: 247px;
                  height: 166px;
                }
                .haveImgWord {
                  width: 523px;
                  .haveImgWordTit {
                    height: 47px;
                    h1 {
                      height: 22px;
                      font-size: 22px;
                      font-family: MicrosoftYaHei;
                      font-weight: 400;
                      color: rgba(22, 22, 22, 1);
                      line-height: 40px;
                      float: left;
                      margin-right: 8px;
                    }
                    div {
                      width: 39px;
                      height: 18px;
                      background: rgba(255, 163, 43, 1);
                      border-radius: 9px;
                      margin-top: 10px;
                      display: inline-block;
                      text-align: center;
                      span {
                        display: block;
                        font-size: 12px;
                        font-family: ArialMT;
                        font-weight: 400;
                        color: rgba(255, 255, 255, 1);
                        line-height: 20px;
                        margin-top: 0;
                        padding-top: 0;
                      }
                    }
                  }
                  p {
                    width: 100%;
                    height: 97px;
                    font-size: 16px;
                    font-family: MicrosoftYaHei;
                    font-weight: 400;
                    color: rgba(102, 102, 102, 1);
                    line-height: 30px;
                  }
                  h2 {
                    width: 100%;
                    height: 12px;
                    font-size: 16px;
                    font-family: ArialMT;
                    font-weight: 400;
                    color: rgba(153, 153, 153, 1);
                    line-height: 30px;

                  }
                }
              }
              .nohaveImg {
                width: 100%;
                height: 116px;
                margin-top: 20px;
                padding-bottom: 5px;
                border-bottom: 1px solid rgba(237, 237, 237, 1);
                .nohaveImgTit {
                  width: 100%;
                  height: 45px;

                  a {
                    display: flex;
                    justify-content: space-between;
                    height: 22px;
                    font-size: 22px;
                    font-family: MicrosoftYaHei;
                    font-weight: 400;
                    color: rgba(51, 51, 51, 1);
                    line-height: 40px;
                    /*span{
                      h3{
                        float: left; display: block;
                        line-height: 44px;
                        width:5px;
                        height:5px;
                        background:rgba(50,121,255,1);
                        margin-top: 17px;
                        margin-right: 10px;
                      }
                    }*/
                  }
                  a:hover {
                    color: #3279FF
                  }

                }
                p {
                  width: 800px;
                  height: 46px;
                  font-size: 16px;
                  font-family: MicrosoftYaHei;
                  font-weight: 400;
                  color: rgba(102, 102, 102, 1);
                  line-height: 30px;
                }
              }
              li:last-child {
                border: none;
              }
            }
          }
        }
        .partTwoRit {
          width: 601px;

          .partTwoRitRitList {
            width: 100%;
            margin-top: 28px;
            ul {
              li {
                /*list-style: square;*/
                color: #3279FF;
              }

              .haveImg {
                width: 100%;
                height: 181px;
                display: flex;
                justify-content: space-between;
                margin-bottom: 15px;
                img {
                  width: 247px;
                  height: 166px;
                }
                .haveImgWord {
                  width: 321px;

                  .haveImgWordTit {
                    height: 47px;
                    h1 {
                      height: 22px;
                      font-size: 22px;
                      font-family: MicrosoftYaHei;
                      font-weight: 400;
                      color: rgba(22, 22, 22, 1);
                      line-height: 40px;
                      float: left;
                      margin-right: 8px;
                    }
                    div {
                      width: 39px;
                      height: 18px;
                      background: rgba(255, 163, 43, 1);
                      border-radius: 9px;
                      margin-top: 10px;
                      display: inline-block;
                      text-align: center;
                      span {
                        display: block;
                        font-size: 12px;
                        font-family: ArialMT;
                        font-weight: 400;
                        color: rgba(255, 255, 255, 1);
                        line-height: 20px;
                        margin-top: 0;
                        padding-top: 0;
                      }
                    }
                  }
                  p {
                    width: 100%;
                    height: 97px;
                    font-size: 16px;
                    font-family: MicrosoftYaHei;
                    font-weight: 400;
                    color: rgba(102, 102, 102, 1);
                    line-height: 30px;
                  }
                  h2 {
                    width: 100%;
                    height: 12px;
                    font-size: 16px;
                    font-family: ArialMT;
                    font-weight: 400;
                    color: rgba(153, 153, 153, 1);
                    line-height: 30px;

                  }
                }
              }
              .nohaveImg {
                width: 100%;
                font-size: 16px;
                font-family: MicrosoftYaHei;
                font-weight: 400;
                line-height: 44px;

                a {
                  width: 100%;
                  display: flex;
                  justify-content: space-between;
                  /*span{
                    h3{
                      float: left; display: block;
                      line-height: 44px;
                      width:5px;
                      height:5px;
                      background:rgba(50,121,255,1);
                      margin-top: 20px;
                      margin-right: 10px;
                    }
                  }*/
                }
                a:hover {
                  color: rgba(50, 121, 255, 1);
                }
              }
              li:last-child {
                border: none;
              }
            }
          }

        }
      }

    }
    .homeFooter {
      width: 100%;
      height: auto;
      .footerPartOne {
        width: 100%;
        height: 145px;
        background: rgba(244, 244, 244, 1);
        .footerPartOneCenter {
          width: 1480px;
          height: 145px;
          margin: 0 auto;
          .CenterTit {
            height: 55px;
            padding-top: 23px;
            font-size: 16px;
            font-family: ArialMT;
            font-weight: 400;
            color: rgba(102, 102, 102, 1);
            line-height: 40px;
            border-bottom: 1px solid rgba(237, 237, 237, 1);
            span {
              font-size: 20px;
              font-family: MicrosoftYaHei-Bold;
              font-weight: bold;
              color: rgba(51, 51, 51, 1);
              line-height: 21px;
              padding-right: 9px;
            }

          }
          .CenterUl{
            margin-top: 20px;
            ul{
              width:1480px;
              list-style: disc;
              li{
                float:left ;
                /*display: block;*/
                color:#333333;
                list-style: disc;
                padding-left: 30px;

                a{
                  display:block;
                  color:#333333;
                  margin-right: 60px;
                 /* overflow: hidden;*/
                  float: left;
                }
              }
              li:first-child{list-style: none;margin: 0;padding: 0}
            }
          }
        }
        .footerPartTwoCenter{
          width:100%;
          height:148px;
          background:rgba(65,65,65,1);
          /*display: flex;
          flex-direction:row;*/
          /*justify-content: center;
          align-items: center;*/
          ul{
            width:auto;
            height:50px;
            padding-top: 20px;
            /*display: block;
            text-align: center;*/
            display: flex;
            justify-content: center;
            align-items: center;
            /*height:50px;
            flex-direction:row;*/

            li{
              float: left;
              display: block;
              color:#FFFFFF;
              a{
                color:#FFFFFF;
                font-size:14px;
                font-family:MicrosoftYaHei;
                font-weight:400;
                line-height:22px;
                padding: 0 20px;
              }
            }
          }
          .footerTwoCenterS{
            width:auto;
            text-align: center;
            color: #A7A7A7;
            font-size: 14px;
            height:31px;
            line-height: 13px;

          }
        }
        .footerPartThreeCenter{
          width:auto;
          height:34px;
          background:rgba(34,34,34,1);
          font-size:14px;
          font-family:MicrosoftYaHei;
          font-weight:400;
          color:rgba(94,94,94,1);
          line-height:34px;
          text-align: center;
        }
      }
    }

  }
</style>
