<template>
  <!--首页-->
  <div class="homeIndex" @click.stop="isSuggestList=false">
    <div class="homeBan" :style="{ background:`url(${bg2}) no-repeat center top`,}">
      <div class="homeLogo">
        <div class="homeLogoImg">
          <!-- <span>
            <img class="haveSignLogo"  :src="imgUrl()" alt="">
            <img class="haveSignLogo" src="@/assets/img/logo.png" alt="">
            <h1></h1>
          </span> -->
          <span class="noSignLogo" >
            <img class="NoLogo" src="@/assets/img/logolong.png" alt="">
            <!-- <img class="img" src="@/assets/img/logoHome.png" alt=""> -->
            <!-- <h1>技工教育和职业培训资源服务平台</h1> -->
          </span>
        </div>
        <ul class="homeLogoMess">
          <li class="HomeColor"><span>主页</span>|</li>
          <li @click="linkHref('/personal/detail')">

            <!-- <img :src="imgUrl(this.$store.getters.userImg)" alt="" v-if="this.$store.getters.userImg&&this.$store.getters.userImg!='null'&&this.$store.getters.userImg!=''"> -->
            <img class="personal-avatar" src="@/assets/img/05-个人中心头像.png" >

            <span>{{$store.getters.userName}}</span>|
          </li>
          <li @click="loginOut">退出</li>
        </ul>
      </div>

      <!--教师 用户登录-->

      <div class="schoolLogin" v-if="$store.getters.userToken">
        <div class="schoolSearch">

          <div class="schoolSearchTop">
            <input type="text" class="homeSearch fl" placeholder="请输入关键字查询" v-model="searchWord"
                   @keyup.enter="searchBtn"
                   @input="inputChange">

            <div class="homtSearchBtn fr" @click="searchBtn">
              <img src="@/assets/img/search.png" alt="">
            </div>
          </div>
          <div class="schoolSuggest" v-if="searchWord!=''&&suggest.length>0&&isSuggestList">
            <ul>
              <li v-for="(iv,indO) in suggest" :key="indO" @click="searchSuggest(iv)">
                <img :src="`${uploadUrlT}`+ iv.cover" alt="" style='width:26px;height:34px;float:left;margin-top:10px' :onerror="errorGoodsImg">
                <span style='width:45%;margin-left:8px'>{{iv.term}}</span>
                <h1 style='width:45%;'>{{iv.publisher}}</h1>
              </li>
            </ul>
          </div>
        </div>

        <ul class="educationalUl">
          <li @click="linkHref('/materialType')" class="">
            <img src="@/assets/img/icon1.png" alt="">
            <div class="educationaWord">
              <h1>资源检索</h1>
              <p>RESOURCES RETRIEVAL</p>
            </div>
          </li>
          <li @click="linkHref('/regulatoryIndex')">
            <img src="@/assets/img/icon11.png" alt="">
            <div class="educationaWord">
              <h1>审核监管</h1>
              <p>AUDIT SUPERVISION</p>
            </div>
          </li>
          <li  @click="linkHref('/trainIndex')">
            <img src="@/assets/img/icon11.png" alt="">
            <div class="educationaWord">
              <h1>培训机构</h1>
              <p>TRAIN INSTITUTIONS</p>
            </div>
          </li>
          <li @click="linkHref('/dataIndex')">
            <img src="@/assets/img/icon12.png" alt="">
            <div class="educationaWord">
              <h1>数据统计</h1>
              <p>DATA STATISITICS</p>
            </div>
          </li>
          <li @click="linkHref('/personal/evaluate')">
            <img src="@/assets/img/icon2.png" alt="">
            <div class="educationaWord">
              <h1>个人中心</h1>
              <p>PERSONAL CENTER</p>
            </div>
          </li>
        </ul>
      </div>
      <div class="homeBom">

      </div>
    </div>
    <!-- footer -->
    <div class="homeFooter">
      <div class="footerPartOne">
        <div class="footerPartOneCenter" v-if="list.length > 0">
          <div class="CenterTit">
            <span>友情链接</span>FRIENDLINK
          </div>
          <div class="CenterUl">
            <ul>
              <li v-for="(item,index) in list" :key="index">
                <a @click="toLink(item)" :title="item.title">{{item.title}}</a>
              </li>
            </ul>
          </div>
        </div>
        <div class="footerPartTwoCenter">
          <ul>
            <li v-for="(item,index) in footList" :key="index">
              <span>|</span><a @click="toDetail(item)">{{item.title}}</a>
            </li>
          </ul>
          <div v-html="copyRight" class="footerTwoCenterS"></div>
        </div>
        <div class="footerPartThreeCenter">
          温馨提示，为了获得最佳用户体验，建议您使用Chrome，Firefox，IE9+，360浏览器极速模式
        </div>
      </div>
      <div class="footerPartTwo">
      </div>
    </div>
  </div>
</template>

<script>
  import {getsuggestAPI} from '@/api/resources.js';
  import {changeContent, changeValue} from "@/utils/changeContent"
  import bg2 from '@/assets/img/bannerb.png';
  import store from '../../store';
  import {
    getFriendLinkAPI,
    getFooterListAPI,
    changeClickNumAPI,
    getFooterCopyrightAPI,
  } from '@/api/global'
  import Cookies from 'js-cookie';
  import { uploadUrlT } from "@/utils/global";
  export default {
    data() {
      return {
        isLogin: true,
        list: [],
        footList: [],
        copyRight: '',
        bg2: bg2,
        searchWord: '',
        timeout:null,
        suggest: [],
        isSuggestList: false,
        isSuggestWidth: 0,
        uploadUrlT:uploadUrlT,
        errorGoodsImg:'this.src="' + require('../../../src/assets/img/01-searList.png') + '"',
      }
    },
    components: {},
    created() {

      /*Cookies.get('Y-Token')*/
      window.addEventListener('scroll', this.changeMargin);
      window.onresize = () => {
        this.changeMargin()
      };
    },
    mounted() {
      this.getFriendLink()
      this.getFooterList()
      this.getFooterCopyright()
    },
    methods: {

      /*获取屏幕宽度*/
      changeMargin() {
        let widthA = window.innerWidth || document.documentElement.clientWidth || document.body.clientWidth;
        //获取元素距离屏幕左边的距离
        this.isSuggestWidth = Number(widthA - 1200) > 0 ? Number(widthA - 1212) / 2 : 0;
      },
      /*搜索*/
      searchBtn() {
        if (this.searchWord != '') {
          this.$router.push({path: '/materialType', query: {searchWord: this.searchWord}})
        } else {
          this.$router.push({path: '/searchDefault'})
        }
        this.isSuggestList = false;
      },
      /*自动补全搜索*/
      searchSuggest(val) {
        if (val) {
          this.searchWord = val.term;
        }
        var result = this.filterSpace(this.searchWord);
        if (result != '') {
          this.$router.push({path: '/materialType', query: {searchWord: this.searchWord, publisher: val.publisher}})
        } else {
          this.$router.push({path: '/searchDefault'})
        }
        this.isSuggestList = false;
      },
      /*自动补全*/
      inputChange() {
        if (this.searchWord != '') {
          var that = this
          this.antiShaking(this.getInputChange,400,that)()
        } else {
          this.suggest = [];
          this.isSuggestList = false;
        }
      },
      getInputChange(){
        getsuggestAPI({
            term: this.searchWord,
            num: 8
          }).then(res => {
            if (res.data.status) {
              this.suggest = res.data.data;
              this.isSuggestList = true;
              this.changeMargin();
            }
          })
      },
      antiShaking(fn,wait,that){
        return function(){
          clearTimeout(that.timeout)
            that.timeout = window.setTimeout(function(){
              fn.apply(that)
            },wait)   
        }
      },
      /*权限跳转*/
      linkHref(link) {

        this.$router.push(link)
      },
      // 获取友情链接
      getFriendLink() {
        getFriendLinkAPI().then(res => {
          res.data.code === 0 ?
            this.list = res.data.data
            : this.$message.error("请求友情链接出错")
        })
      },
      // 跳转友情链接
      toLink(item) {
        const data = {
          clickNum: item.clickNum + 1,
          id: item.id
        }
        changeClickNumAPI(data).then(res => {
          res.data.data == true ?
            window.open(item.url) : this.$message.error('跳转友情链接失败')
          this.getFriendLink()
        })
      },
      // 页脚详情
      toDetail(item) {
        this.$router.push({name: 'footerDetail', query:{name:item.title,id:item.id}})
      },
      // 页脚说明
      getFooterList() {
        getFooterListAPI().then(res => {
          const data = res.data.data;
          if (res.data.code === 0) {
            this.footList = data
            this.footList.content = changeContent(data)
          } else {
            this.$message.error("请求页脚出错")
          }
        })
      },
      // 底部版权信息
      getFooterCopyright() {
        getFooterCopyrightAPI().then(res => {
          res.data.code === 0 ?
            (this.copyRight = res.data.data.value) : this.$message.error("请求页脚出错")
        })
      },
      /*退出登录*/
      loginOut() {
        this.userCompanyt = {}
        this.$store.commit('SET_ROLES', [])
        this.$store.dispatch('LoginOut')
      },
    }
  }
</script>

<style scoped lang="less">
.homeIndex {
    width: 100%;
    height: 100%;
    .homeBan {
      width: 100%;
      height: 100%;
      min-width: 625px;
      zoom: 1;
      background-color: #fff;
      background-position: center;
      background-size: cover;
      -moz-background-size: cover;
      -webkit-background-size: cover;
      -o-background-size: cover;
      .homeLogo {
        width: 1200px;
        height: 41px;
        padding-top: 40px;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
        .homeLogoImg {
          display: flex;
          .noSignLogo {
            height: 64px;

            img{
              height: 64px;
            }
            h1 {
                margin-left: 12px;
                font-size: 24px;
                line-height: 64px;
                font-weight: normal;
                color: #000;
            }
            .NoLogo{
              width: auto;
              height: 64px;
            }
          }
          span{
            display: flex;
            .haveSignLogo {
              width: 44px;
              height: 41px;
            }
            h1 {
              margin-left: 12px;
              font-size: 24px;
              height: 41px;
              line-height: 41px;
              font-weight: normal;
              color: #fff;
            }
          }



        }
        .homeLogoMess {
          height: 26px;
          display: flex;
          align-items: center;
          li {
            position: relative;
            float: left;
            display: block;
            line-height: 12px;
            margin-top: 0;
            margin-left: 30px;
            color: #fff;
            font-size: 14px;
            font-family: "Microsoft Yahei", "simsun", "arial", "tahoma";
            font-weight: 400;
            cursor: pointer;
            span {
              padding: 0 10px 0 0px;
              height: 26px;
              line-height: 26px;
            }
            img {
              width: 26px;
              height: 26px;
              float: left;
              display: block;
              margin-right: 5px;
              border-radius: 50%;
            }
          }
          .HomeColor {
            span {
              // color: #3279FF;
              color:#fff;
            }
          }
        }
      }

        /*教师 用户登录*/
        .schoolLogin {
          height: 537px;
          .schoolSearch {
            width: 1057px;
            margin: 0 auto;
            position: relative;
            .schoolSearchTop {
                width: 1057px;
                height: 55px;
                background: rgba(255, 255, 255, 1);
                border-radius: 28px 28px 28px 28px;
                margin: 192px auto 120px;
                .homeSearch {
                margin-left: 25px;
                height: 55px;
                line-height: 55px;
                width: 867px;
                border: none;
                font-size: 14px;
                }
                .homeSearch::-ms-clear{display: none;}
                .homeSearch::-ms-reveal{display: none;}
                .homtSearchBtn {
                width: 128px;
                height: 55px;
                cursor: pointer;
                background: linear-gradient(90deg, rgba(86, 158, 255, 1) 0%, rgba(50, 121, 255, 1) 100%);
                border-radius: 0px 28px 28px 0px;
                img {
                    display: block;
                    margin: 12px auto 0;
                    width: 32px;
                    height: 32px;

                }
                }

            }
            .schoolSuggest {
                position: absolute;
                width: 907px;
                margin-left: 20px;
                top: 55px;
                margin-top: 0px;
                // border: 1px solid #ededed;
                background: #fff;
                display: block;
                float: left;
                z-index: 11;
                ul {
                padding: 8px 0;
                li {
                    line-height: 54px;
                    margin: 0 10px;
                    border-bottom: 1px solid #f5f5f5;
                    height: 54px;
                    cursor: pointer;
                    span {
                    float: left;
                    width: 500px;
                    white-space: nowrap;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    }
                    h1 {
                    float: right;
                    display: block;
                    width: 380px;
                    text-align: right;
                    white-space: nowrap;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    font-size:16px;
                    font-family:Microsoft YaHei;
                    font-weight:400;
                    }
                    img{
                    max-height: 40px;
                    max-width: 40px;
                    }
                }
                li:hover {
                    color: #3279FF;
                }
                li:last-child {
                    // border-bottom: none;
                }
                }

            }
          }
          //跳转按钮
          .educationalUl{
            width: 1200px;
            height: 160px;
            margin: 0 auto;
            display: flex;
            justify-content: space-between;
            li {
              width: 218px;
              height: 60px;
              background: rgba(0, 0, 0, 0.3);
              margin-right: 30px;
              padding: 50px 15px;
              border-radius: 4px;
              display: flex;
              flex-direction:row;
              align-items: center;
              img{
                width: 60px;
                height: 60px;
              }
              .educationaWord{
                padding-left: 20px;
                width: 108px;
                color: #FFFFFF;
                font-family: MicrosoftYaHei;
                h1{
                  font-size: 20px;
                }
                p{
                  font-size: 14px;
                }
              }
            }
            li:last-child{
              margin: 0;
            }
            li:hover {
              background: rgba(43, 114, 245, 0.8);
            }
          }
          .homeBom {
              padding-top: 186px;
          }

        }
        
    }
    .homeFooter {
      width: 100%;
      height: auto;
      .footerPartOne {
        width: 100%;
        height: 145px;
        background: rgba(244, 244, 244, 1);
        .footerPartOneCenter {
          width: 1200px;
          height: 145px;
          margin: 0 auto;
          .CenterTit {
            height: 55px;
            padding-top: 23px;
            font-size: 16px;
            font-family: "Microsoft Yahei", "simsun", "arial", "tahoma";
            font-weight: 400;
            color: rgba(102, 102, 102, 1);
            line-height: 40px;
            border-bottom: 1px solid rgba(237, 237, 237, 1);
            span {
              font-size: 20px;
              font-family: "Microsoft Yahei", "simsun", "arial", "tahoma";
              font-weight: bold;
              color: rgba(51, 51, 51, 1);
              line-height: 21px;
              padding-right: 9px;
            }

          }
          .CenterUl {
            margin-top: 20px;
            ul {
              width: 1200px;
              list-style: disc;
              li {
                float: left;
                /*display: block;*/
                color: #333333;
                list-style: disc;
                padding-left: 30px;

                a {
                  display: block;
                  color: #333333;
                  margin-right: 60px;
                  /* overflow: hidden;*/
                  float: left;
                }
                a:hover {
                  cursor: pointer;
                  color: rgba(50, 121, 255, 1);
                }
              }
              li:first-child {
                list-style: none;
                margin: 0;
                padding: 0
              }
            }
          }
        }
        .footerPartTwoCenter {
          width: 100%;
          height: 148px;
          background: rgba(65, 65, 65, 1);
          /*display: flex;
          flex-direction:row;*/
          /*justify-content: center;
          align-items: center;*/
          ul {
            width: 100%;
            height: 50px;
            padding-top: 20px;
            display: flex;
            justify-content: center;
            align-items: center;
            li {
              float: left;
              display: block;
              color: #FFFFFF;
              a {
                color: #FFFFFF;
                font-size: 14px;
                font-family: "Microsoft Yahei", "simsun", "arial", "tahoma";
                font-weight: 400;
                line-height: 22px;
                padding: 0 20px;
              }
              a:hover {
                cursor: pointer;
                color: rgba(50, 121, 255, 1);
              }
              span {
                vertical-align: text-top;
                font-size: 10px;
              }
            }
            li:first-child {
              span {
                font-size: 0px;
              }
            }
          }
          .footerTwoCenterS {
            width: 100%;
            text-align: center;
            color: #A7A7A7;
            font-size: 14px;
            height: 31px;
            line-height: 31px;

          }
        }
        .footerPartThreeCenter {
          width: 100%;
          height: 34px;
          background: rgba(34, 34, 34, 1);
          font-size: 14px;
          font-family: "Microsoft Yahei", "simsun", "arial", "tahoma";
          font-weight: 400;
          color: rgba(94, 94, 94, 1);
          line-height: 34px;
          text-align: center;
        }
      }
    }

  }
</style>
