<template>
  <!--个人信息-->
  <div class="perInfo">
    <titleNav :titleMsg="bookTitle"></titleNav>
    <ul>
      <li>
        <h1>头像：</h1>
        <div class="perInfoHeader">
          <img src="../../../assets/img/defoult.png" alt="" class="defoult" v-if="imgLink==null||imgLink==''">
          <img :src="imgUrl(imgLink)" alt="" class="defoult" v-else>
          <div class="textesd">
            <div class="djfoi-h1">
              <div class="fhkjrdg">
                <a href="#">{{tupian}}</a>
                <input name="ext_field" @change="uploadImg($event)"
                       ref="file" type="file" class="djkfnj-sc">
              </div>
            </div>
            <p class="djfoi-h2">建议100*100px，支持jpg/jpeg/png/gif格式，大小不超过2M</p>
          </div>
        </div>

      </li>
      <el-form
        :rules="rules"
        ref="dataForm"
        :model="userMsg"
        label-position="right"
        label-width="200px"
        class="form-container"
      >
        <el-form-item label="姓名：" >
          <el-col :span="12">
            <el-input v-model="$store.getters.userName" disabled></el-input>
            </el-col>
        </el-form-item>
        <el-form-item label="性别：" prop="sex">
            <el-col :span="20">
                <el-radio-group v-model="userMsg.sex" disabled>
                  <el-radio :label="'0'">男</el-radio>
                  <el-radio :label="'1'">女</el-radio>
                </el-radio-group>
            </el-col>
        </el-form-item>
        <el-form-item label="邮箱：" prop="email">
          <el-col :span="12">
            <el-input v-model="userMsg.email" disabled></el-input>
          </el-col>
        </el-form-item>
        <el-form-item label="学校名称：" prop="relationName">
          <el-col :span="12">
            <el-input  v-model="userMsg.relationName" disabled></el-input>
          </el-col>
        </el-form-item>
        <el-form-item label="部门：" prop="departmentName">
          <el-col :span="12">
            <el-input  v-model="userMsg.departmentName" disabled></el-input>
          </el-col>
        </el-form-item>
        <el-form-item>
          <div class="perInfoBtn" @click="saveBtn">
            <h2>保存</h2>
          </div>
        </el-form-item>
      </el-form>
    </ul>
  </div>
</template>
<script>
  import titleNav from './../components/title';
  import {getmemberAPI, uploadImgAPI, updateMemberAPI} from '@/api/resources.js';
  import Cookies from 'js-cookie';

  export default {
    name: 'HelloWorld',
    data() {
      return {
        bookTitle: '个人信息',
        isShow: false,
        userMsg: {},
        tupian: '选择您要上传的图片',
        imgData: {
          type: 'image/gif, image/jpeg, image/png, image/jpg',
        },
        imgLink: '',
        rules: {
        // relationName: [ {required: true, type:'string',message: "",trigger: "change"}],
        // departmentName: [ {required: true,message: "",trigger: "change"}],

      },
      }
    },
    components: {titleNav},
    created() {
      this.getmember()
    },
    watch: {},
    methods: {
      /*上传图片*/
      uploadImg(e) {
        let file = e.target.files[0];
        let that = this;
        console.log(file.type)
        let isJPG = (file.type == 'image/jpeg' || file.type == 'image/png' || file.type == 'image/bmp' || file.type == 'image/gif');
        console.log(isJPG)
        if (!isJPG) {
          this.$message.error('上传图片只能是 JPG/JPEG/PNG/GIF/BMP 格式!');
          return isJPG
        }
        /*var reader = new FileReader();
        reader.readAsDataURL(file);

        reader.onload = function (e) {
          that.imgLink = e.target.result
        }*/
        let formData = new FormData()

        formData.append('file', file)
        uploadImgAPI(formData).then(res => {
          if(res.statusText == 'OK'){
            this.$message.success('上传头像成功')
            that.imgLink = res.data.filePath;
          }else{
            this.$message.error(res.data.msg)
          }
          
        })
      },

      /*获取个人信息*/
      getmember() {
        getmemberAPI().then(res => {
          if (res.data.status) {
            this.userMsg = res.data.data;
            this.imgLink = res.data.data.img;

          }
        })
      },

      saveBtn() {


        updateMemberAPI({
          departmentId: this.userMsg.departmentId,
          email: this.userMsg.email,
          img: this.imgLink,
          name: this.userMsg.name,
          relationId: this.userMsg.relationId
        }).then(res => {
          if (res.data.status&&res.data.data) {
            this.msg('修改信息成功')
            this.$store.dispatch('UploadImg', this.imgLink)
            Cookies.set('userImg', this.imgLink)

          }else{
            this.msg('修改信息失败')
          }
        })
      },
    },
  }
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped lang="less">
  .perInfo {
    ul {
      padding-top: 43px;
      li {
        width: 800px;
        overflow: hidden;
        line-height: 40px;
        margin-bottom: 20px;
        margin-left: 109px;
        h1 {
          line-height: 40px;
          width: 75px;
          text-align: right;
          font-size: 14px;
          font-family: 'Microsoft YaHei';
          font-weight: 400;
          color: rgba(51, 51, 51, 1);
          float: left;
          display: block;
          margin-right: 8px;
        }
        span {
          width: 360px;
          font-size: 14px;
          font-family: 'Microsoft YaHei';
          font-weight: 400;
          color: rgba(51, 51, 51, 1);
        }

        .perInfoHeader {
          width: 750px;
          height: auto;
          overflow: hidden;
          margin: 0;
          padding: 0;
          display: block;
          .defoult {
            float: left;
            display: block;
            width: 130px;
            height: 130px;
            border: 1px dashed #555;
          }

          .textesd {
            width: 450px;
            float: left;
            display: block;
            margin-top: 35px;
            margin-left: 22px;
          }

          .textesd .djfoi-h1 {
            width: 100%;
            float: left;
          }

          .textesd .djfoi-h1 .fhkjrdg {
            width: 200px;
            /*min-width: 213px;
            max-width: 370px;*/
            height: 34px;
            background-color: #f7f7f7;
            border: 1px solid #d2d2d2;
            float: left;
            position: relative;
          }

          .textesd .djfoi-h1 .fhkjrdg .djkfnj-sc {
            width: 147px;
            /*min-width: 213px;
            max-width: 300px;*/
            height: 34px;
            position: absolute;
            left: 0;
            top: 0;
            opacity: 0;
            cursor: pointer;
          }
          .djkfnj-sc::-ms-clear{display: none;}
          .djkfnj-sc::-ms-reveal{display: none;}

          .textesd .djfoi-h1 .fhkjrdg a {
            line-height: 34px;
            float: left;
            background: url(../../../assets/img/imgsqw.jpg) left center no-repeat;
            padding-left: 30px;
            margin-left: 26px;
            font-size: 14px;
            color: #026cc0;
            min-width: 151px;
            max-width: 300px;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
            padding-right: 10px;
          }

          .textesd .djfoi-h2 {
            font-size: 12px; font-weight:normal;
            color: #999;
            margin-top: 5px;
            float: left;
          }

        }

      }
    }
    .perInfoBtn {
      width: 100%;
      margin-top: 10px;
      cursor: pointer;
      h2 {
        width: 116px;
        height: 34px;
        line-height: 34px;
        text-align: center;
        background: rgba(50, 121, 255, 1);
        border-radius: 4px;
        font-size: 14px;
        font-family: 'Microsoft YaHei';
        font-weight: 400;
        color: rgba(255, 255, 255, 1);
        display: inline-block;
        margin-left: 100px;
      }
    }

  }
</style>
