<template>
    <div class="createPost-container">
        <div class="createPost-main-container">
            <el-form
                :rules="rules"
                ref="dataForm"
                :model="formList"
                label-position="right"
                label-width="150px"
                class="form-container"
            >
            <el-row>
                <el-form-item label="学级：" prop="academicLevel">
                    <el-select v-model="formList.academicLevel" @change="choiseasademic" style="width:300px" clearable placeholder="请选择学级">
                        <el-option
                        v-for="item in academicList"
                        :key="item"
                        :label="item"
                        :value="item">
                        </el-option>
                    </el-select>
                </el-form-item>
                <el-form-item label="班级名称：" prop="name">
                    <el-input
                        v-model="formList.name" style="width:300px"
                        placeholder="请输入班级名称"
                    ></el-input>
                </el-form-item>
                <el-form-item label="部门名称：" prop="departmentId">
                    <el-select v-model="formList.departmentId" @change="choisedept" style="width:300px" clearable placeholder="请选择部门">
                        <el-option
                        v-for="item in deptList"
                        :key="item.id"
                        :label="item.name"
                        :value="item.id">
                        </el-option>
                    </el-select>
                </el-form-item>
                <el-form-item label="专业名称：" prop="majorId">
                    <el-select v-model="formList.majorId" @change="choisemajor" style="width:300px" clearable placeholder="请选择专业">
                        <el-option
                        v-for="item in majorList"
                        :key="item.id"
                        :label="item.name"
                        :value="item.id">
                        </el-option>
                    </el-select>
                </el-form-item>
                <el-form-item label="培养层次：" prop="bptId">
                    <el-select v-model="formList.bptId" clearable style="width:300px" placeholder="请选择培养层次">
                        <el-option
                        v-for="item in trainList"
                        :key="item.id"
                        :label="item.name"
                        :value="item.id">
                        </el-option>
                    </el-select>
                </el-form-item>
                <el-form-item label="入学时间：" prop="enrollmentTime">
                    <el-select v-model="formList.enrollmentTime" style="width:300px" clearable placeholder="请选择入学时间">
                        <el-option label="春季" value="1"></el-option>
                        <el-option label="秋季" value="0"></el-option>
                    </el-select>
                </el-form-item>
                <el-form-item label="班级人数：" prop="num">
                  <el-input
                      v-model="formList.num" style="width:300px"
                      placeholder="请输入班级人数"
                  ></el-input>
                </el-form-item>
                <el-form-item>
                    <el-button class="form-submit" @click="submitFrom()">保存</el-button>
                    <el-button @click="$router.go(-1)">取消</el-button>
                </el-form-item>
                </el-row>
            </el-form>

        </div>
    </div>
</template>

<script>
import { getDepartmentListAPI,getMajorListAPI ,saveAPI,getDetailAPI,updateAPI,getAddAcademicListAPI,getTrainListAPI,getLastDetAPI } from "@/api/backstage/basicInfo/class";
import store from "@/store";

export default {
  data() {

    return {
        formList:{
          academicLevel:'',
          departmentId:'',
          majorId:'',
          bptId:"",
          educationalSystem:null,
          enrollmentTime:'0',
          num:null
        },
        deptList:[],
        majorList:[],
        trainList:[],
        academicList:[],
        listQuery: {
          pageNum: 1,
          pageSize: 100,
          departmentId:''
        },
        trainListQuery: {
          pageNum: 1,
          pageSize: 100,
          departmentId:''
        },
        dataList:[],
        rules: {
            academicLevel: [ {required: true,message: "请选择学级",trigger: "change"}],
            name: [ {required: true,max:20,message: "请输入20字以内的班级名称",trigger: "change"}],

            departmentId: [ {required: true,message: "请选择部门",trigger: "change"}],
            majorId: [ {required: true,message: "请选择专业",trigger: "change"}],
            bptId: [ {required: true,message: "请选择培养层次",trigger: "change"}],
            enrollmentTime: [ {required: true,message: "请选择入学时间",trigger: "change"}],
            num: [ {required: true, pattern: /^([1-9]\d{0,1})$/ ,message: "请输入整数的班级人数",trigger: "change"}],
             

      },
    };
  },
  created(){

  },
  mounted() {
      this.getDetail()
      this.getAcademicList()
      this.getDepartmentList()
      // this.getMajorList(this.listQuery.departmentId)
      // this.getTrainList()
      
  },
  methods: {
    // 获取学级
    getAcademicList(){
       getAddAcademicListAPI().then(res => {
          res.data.code === 0
            ? (this.academicList = res.data.data)
            : this.$message.error("请求出错啦");
        }); 
    },
    //   获取部门列表
    getDepartmentList(){
      getDepartmentListAPI().then(res => {
          res.data.code === 0
            ? (this.deptList = res.data.data)
            : this.$message.error("请求出错啦");
        });
    },
    
    //   获取专业列表
    getMajorList(id){
        
      getMajorListAPI({departmentId:id}).then(res => {
          res.data.code === 0
            ? (this.majorList = res.data.data.list)
            : this.$message.error("请求出错啦");
        });
    },
    //   获取培养层次列表
    getTrainList(){
      getTrainListAPI(this.trainListQuery).then(res => {
          res.data.code === 0
            ? (this.trainList = res.data.data.list)
            : this.$message.error("请求出错啦");
        });
    },
    // 选择学级
    choiseasademic(val){
        this.formList.bptId = ''
        this.trainListQuery.academicLevel = val
        this.getTrainList()
    },
    // 选择部门
    choisedept(val){
      this.formList.majorId = ''
      this.formList.bptId = ''
      this.trainListQuery.departmentId = val
      this.getMajorList(val)
        this.getTrainList()
    },
    // 选择专业
    choisemajor(val){
        this.formList.bptId = ''
        this.trainListQuery.majorId = val
        this.getTrainList()
    },


    // 获取详情
      getDetail() {
      const info = this.$route.query
      this.title = info.title;
      let id = info.id;
      this.$route.meta.title = this.title;
      if (id && this.title != "添加基础教学计划") {
        getDetailAPI(id).then(res => {
          const data  = res.data.data
          if(res.data.code === 0){
            this.formList = data
            this._reappearance(data)
            }else{
              this.$message.error("请求出错啦");
            }
        })
      }else{
        getLastDetAPI().then(res =>{
          const data  = res.data.data
          this.formList={
            academicLevel:data.academicLevel,
            departmentId:data.departmentId,
            majorId:data.majorId,
            bptId:data.bptId,
            enrollmentTime:'0',
          }
          this._reappearance(data)
        })
      }
    },
    _reappearance(data){
      this.trainListQuery.academicLevel = data.academicLevel
      this.trainListQuery.departmentId = data.departmentId
      this.trainListQuery.majorId = data.majorId
      this.getMajorList(data.departmentId)
      this.getTrainList()
    },


    // 保存
    submitFrom() {
      this.$refs["dataForm"].validate(valid => {
        if (valid) {
              this.formList.educationalSystem = +this.formList.educationalSystem
            if (this.title == "添加班级"){
              saveAPI(this.formList).then(res=>{
                  const code = res.data.code
                if (code === 0) {
                  this.$message.success("添加班级成功");
                  this.$router.back();
                } else {
                  this.$message.error(res.data.msg);
                }
              })
          } else if (this.title == "修改班级") {
            this.formList.id=this.$route.query.id, 
            this.formList.opreatIds=this.opreatIds, 
            this.formList.moduleIds=this.moduleIds
            updateAPI(this.formList).then(res=>{
                const code = res.data.code
                if (code === 0) {
                  this.$message.success("修改班级成功");
                  this.$router.back();
                } else {
                  this.$message.error(res.data.msg);
                }
            })
          }
        }
      });
    },



    // 查看返回
    backBtn() {
      this.$router.back();
    }
  }
};
</script>

<style rel="stylesheet/scss" lang="scss" scoped>
@import "src/style/mixin.scss";

.createPost-container {
  position: relative;
  .createPost-main-container {
    padding: 50px;
    .el-dialog__header {
      background: #15d;
      color: #fff;
    }
  }
}
.upload-demo {
  margin-left: 10px;
}
</style>

