<template>
    <div class="app-container calendar-list-container">
        <div class="nav-buttons-container">

            <router-link :to="{ path:`addClass`,query:{title:'添加班级'}}" ><el-button  v-if="authBtns.filter(i => i.idName=='addBtn').length>0 && authBtns.filter(i => i.idName=='addBtn')[0].icon">{{authBtns.filter(i => i.idName=='addBtn')[0].name}}<i :class="[authBtns[authBtns.map(i => i.idName).indexOf('addBtn')].icon, 'el-icon--right']"></i></el-button></router-link>
            <el-button v-if="authBtns.filter(i => i.idName=='batchDeleteBtn').length>0 && authBtns.filter(i => i.idName=='batchDeleteBtn')[0].icon" @click="batchDelete">{{authBtns.filter(i => i.idName=='batchDeleteBtn')[0].name}}<i  :class="[authBtns[authBtns.map(i => i.idName).indexOf('batchDeleteBtn')].icon, 'el-icon--right']"></i></el-button>
            <el-button  v-if="authBtns.filter(i => i.idName=='batchImportBtn').length>0 && authBtns.filter(i => i.idName=='batchImportBtn')[0].icon" @click="importBtn">{{authBtns.filter(i => i.idName=='batchImportBtn')[0].name}}<i :class="[authBtns[authBtns.map(i => i.idName).indexOf('batchImportBtn')].icon, 'el-icon--right']"></i></el-button>
            <el-button v-if="authBtns.filter(i => i.idName=='batchPrintBtn').length>0 && authBtns.filter(i => i.idName=='batchPrintBtn')[0].icon" @click="printBtn">{{authBtns.filter(i => i.idName=='batchPrintBtn')[0].name}}<i  :class="[authBtns[authBtns.map(i => i.idName).indexOf('batchPrintBtn')].icon, 'el-icon--right']"></i></el-button>


        </div>

        <el-form inline class="form-inline">
    <el-row>
      <el-col :span="20">
        <el-form-item>
        <div class="choise">
          <div class="menu-choise" >学级：</div>
          <div class="con-choise">
            <div class="all-choise" :class="academicStatus == -1 ? 'blue' :''"  @click="choiseAcademicResource()"  v-if="deptList" >全部</div>
            <ul>
                <li v-if="academicstatus?index<academicList.length:index<10" v-for="(item,index) in academicList" :key="index" @click="choiseAcademicResource(item,index)" :class="academicStatus == index ?'blue':''">{{item}}</li>
                <li v-show="academicList.length >10&&academicstatus == false" @click="academicstatus=true">更多</li>
                <li v-show="academicList.length >10&&academicstatus ==true" @click="academicstatus=false">收起</li>
            </ul>
          </div>
        </div>
      </el-form-item>
      <el-form-item>
        <div class="choise">
          <div class="menu-choise" >部门：</div>
          <div class="con-choise">
            <div class="all-choise" :class="deptStatus == -1 ? 'blue' :''"  @click="choisedept()"  v-if="deptList" >全部</div>
            <ul>
                <li v-if="depstatus?index<deptList.length:index<10" v-for="(item,index) in deptList" :key="index" @click="choisedept(item,index)" :class="deptStatus == index ?'blue':''">{{item.name}}</li>
                <li v-show="deptList.length >10&&depstatus == false" @click="depstatus=true">更多</li>
                <li v-show="deptList.length >10&&depstatus ==true" @click="depstatus=false">收起</li>
            </ul>
          </div>
        </div>
      </el-form-item>
      <el-form-item>
        <div class="choise">
          <div class="menu-choise" >专业：</div>
          <div class="con-choise">
            <div class="all-choise" :class="majorStatus == -1 ? 'blue' :''"  @click="choisemajor()"  v-if="deptList" >全部</div>
            <ul>
                <li v-if="majstatus?index<majorList.length:index<10" v-for="(item,index) in majorList" :key="index" @click="choisemajor(item,index)" :class="majorStatus == index ?'blue':''">{{item.name}}</li>
                <li v-show="majorList.length >10&&majstatus == false" @click="majstatus=true">更多</li>
                <li v-show="majorList.length >10&&majstatus ==true" @click="majstatus=false">收起</li>
            </ul>
          </div>
        </div>
      </el-form-item>

      </el-col>
    </el-row>
    </el-form>


        <!-- 部门列表 -->
        <el-table
            :key="tableKey"
            :data="list"
            v-loading="listLoading"
            element-loading-text="给我一点时间"
            border=""
            highlight-current-row
            stripe
            @selection-change="chioceList"
        >
            <el-table-column type="selection" align="center"></el-table-column>
            <el-table-column type="index"  label="序号" width="60" align="center"></el-table-column>
            <el-table-column label="学级" min-width="160" align="center">
                <template slot-scope="scope">
                    <span>{{scope.row.academicLevel}}</span>
                </template>
            </el-table-column>
            <el-table-column label="部门" min-width="160" align="center">
                <template slot-scope="scope">
                    <span>{{scope.row.departmentName}}</span>
                </template>
            </el-table-column>
            <el-table-column label="专业名称" min-width="160" align="center">
                <template slot-scope="scope">
                    <span>{{scope.row.majorName}}</span>
                </template>
            </el-table-column>
            <el-table-column label="生源" min-width="160" align="center">
                <template slot-scope="scope">
                    <span>{{scope.row.studentSource}}</span>
                </template>
            </el-table-column>
            <el-table-column label="班级名称" min-width="120" align="center">
                <template slot-scope="scope">
                    <span>{{scope.row.name}}</span>
                </template>
            </el-table-column>
            <el-table-column label="人数" min-width="140" align="center">
                <template slot-scope="scope">
                    <span>{{scope.row.num}}</span>
                </template>
            </el-table-column>
            <el-table-column class-name="small-padding fixed-width" width="180" label="操作"  align="center">
                <template slot-scope="scope">

                  <router-link  :to="{ path:`addClass`, query:{id:scope.row.id,title:'修改班级'}}" v-if="authBtns.filter(i => i.idName=='editBtn').length > 0">
                    <i :class="authBtns.filter(i => i.idName=='editBtn')[0].icon" :title="authBtns.filter(i => i.idName=='editBtn')[0].name"  v-if="authBtns.filter(i => i.idName=='editBtn').length > 0"></i>
                  </router-link>

                  <i @click="deleteBtn(scope.row)" :class="authBtns.filter(i => i.idName=='deleteBtn')[0].icon" :title="authBtns.filter(i => i.idName=='deleteBtn')[0].name" v-if="authBtns.filter(i => i.idName=='deleteBtn').length > 0"></i>
                  <router-link  :to="{ path:`LinkTeach`, query:{id:scope.row.id}}" v-if="authBtns.filter(i => i.idName=='linkBtn').length > 0">
                    <i :class="authBtns.filter(i => i.idName=='linkBtn')[0].icon" :title="authBtns.filter(i => i.idName=='linkBtn')[0].name"  v-if="authBtns.filter(i => i.idName=='linkBtn').length > 0"></i>
                  </router-link>
                  <!-- <el-button @click="editBtn">修改</el-button>
                  <el-button @click="viewBtn">查看</el-button>
                  <el-button @click="batchDeleteBtn">删除</el-button> -->
                </template>
            </el-table-column>
        </el-table>
        <div class="pagination-container">
            <el-pagination
                @size-change="handleSizeChange"
                @current-change="handleCurrentChange"
                :current-page="listQuery.pageNum"
                :page-sizes="[30,50,100,200,500]"
                :page-size="listQuery.pageSize"
                layout="total, sizes, prev, pager, next, jumper"
                :total="total"
                align="center"
            ></el-pagination>
        </div>

        <!-- 导入 -->
        <el-dialog
          title="导入Excel"
          :visible.sync="importExcDialog"
          width="25%"
          style="height:auto !important;"
        >
          <p>请选择要导入的文件，文件类型只支持Excel。</p>
          <div class="importExc">
            <input type="file" @change="fileSelect" ref="file">
            <a class="fake-download" :href="`${baseUrl}/school-sysuser/%E7%8F%AD%E7%BA%A7%E7%AE%A1%E7%90%86.xlsx`">下载模板文件</a>
          </div>
          <!-- <el-progress :percentage="downLoadVal" :stroke-width="12" color="#67C23A"></el-progress> -->
          <div slot="footer" class="dialog-footer">
            <el-button @click="confirmImport">确 定</el-button>
            <el-button @click="importExcDialog = false">取 消</el-button>
          </div>
        </el-dialog>
        <!-- 导入错误信息 -->
        <el-dialog
          title="错误信息"
          :visible.sync="errorExcDialog"
          width="65%"
          style="height:auto !important;"
        >

          <div class="importExc">
             <!-- 错误列表 -->
            <el-table
                :key="tableKey1"
                :data="errorList"
                v-loading="listLoading"
                element-loading-text="给我一点时间"
                border=""
                highlight-current-row
                stripe
                @selection-change="chioceList"
            >

                <el-table-column label="学级" min-width="60" align="center">
                    <template slot-scope="scope">
                        <span>{{scope.row.academicLevel}}</span>
                    </template>
                </el-table-column>
                <el-table-column label="班级名字" min-width="60" align="center">
                    <template slot-scope="scope">
                        <span>{{scope.row.name}}</span>
                    </template>
                </el-table-column>
                <el-table-column label="部门" min-width="80" align="center">
                    <template slot-scope="scope">
                        <span>{{scope.row.departmentName}}</span>
                    </template>
                </el-table-column>
                <el-table-column label="招生时间" min-width="80" align="center">
                    <template slot-scope="scope">
                        <span>{{scope.row.enrollmentTime}}</span>
                    </template>
                </el-table-column>
                <el-table-column label="专业名称" min-width="120" align="center">
                    <template slot-scope="scope">
                        <span>{{scope.row.majorName}}</span>
                    </template>
                </el-table-column>
                <el-table-column label="人数" min-width="80" align="center">
                    <template slot-scope="scope">
                        <span>{{scope.row.num}}</span>
                    </template>
                </el-table-column>

                <el-table-column label="错误信息" min-width="120" align="center">
                    <template slot-scope="scope">
                        <span>{{scope.row.msg}}</span>
                    </template>
                </el-table-column>
            </el-table>
          </div>
          <div slot="footer" class="dialog-footer">
            <!-- <el-button @click="confirmImport">确 定</el-button> -->
            <el-button @click="printError">导出信息</el-button>
            <el-button @click="errorExcDialog = false">取 消</el-button>
          </div>
        </el-dialog>
    </div>
</template>

<script>
import { getDepListAPI,getMajListAPI,getListAPI,batchDeleteAPI,getClassAcademicListAPI ,excelImportAPI   } from "@/api/backstage/basicInfo/class";
import { getMultipleSelectionIDs } from "@/filters/getIds";
import { requestMsg, confirm } from "@/utils/publicFunctions";
import {baseUrl} from '@/utils/global'
import store from "@/store";

export default {
  data() {
    // 排序数
    const validateSort = (rule, value, callback) => {
      let reg = /^([1-9]\d{0,4})$/;
      if (!reg.test(value)) {
        callback(new Error("请输入1-9999之间的整数"));
      } else {
        callback();
      }
    };
    return {
      deptList:[],
      majorList:[],
      academicList:[],
      authBtns: [],
      batchList: [],
      listQuery: {
        pageNum: 1,
        pageSize: 100,
        departmentId:''
      },
      deptStatus:-1,
      majorStatus:-1,
      academicStatus: -1,
      academicstatus:false,
      depstatus:false,
      majstatus:false,
      status:false,
      baseUrl:baseUrl,
      subHidden:true,
      tableKey: 0,
      tableKey1:1,
      list: null,
      total: null,
      listLoading: true,
      title: "添加",
      importExcDialog:false,
      errorExcDialog:false,
      errorList:[],
      errorId:''
    };
  },
  created() {
    this.authBtns = store.getters.pageBtn[this.$route.meta.routerIds[0]];
  },
  mounted() {
    this.getList();
    this.getAcademicList()
    this.getDepartmentList()
    this.getMajorList()
  },
  methods: {
    // 获取学级
    getAcademicList(){
       getClassAcademicListAPI().then(res => {
          res.data.code === 0
            ? (this.academicList = res.data.data)
            : this.$message.error("请求出错啦");
        });
    },
    //   获取用户列表
    getList() {
      this.listLoading = true;
      const info = this.$route.query
      getListAPI(this.listQuery).then(res => {
        if (res.data.code === 0) {
          this.list = res.data.data.list;

            this.total = res.data.data.total;
          } else {
            this.$message.error("获取数据失败");
          }
          this.listLoading = false;
        });
     },


    //   获取部门列表
    getDepartmentList(){
      getDepListAPI().then(res => {
          res.data.code === 0
            ? (this.deptList = res.data.data)
            : this.$message.error("请求出错啦");
        });
    },

    //   获取专业列表
    getMajorList(){
      getMajListAPI({departmentId:this.listQuery.departmentId}).then(res => {
          res.data.code === 0
            ? (this.majorList = res.data.data)
            : this.$message.error("请求出错啦");
        });
    },
    // 选择学级
    choiseAcademicResource(item,index){
      this.academicStatus = index
      this.listQuery.academicLevel = ''
      item ? (this.listQuery.academicLevel = Number(item)):(this.academicStatus = -1)
      this.getMajorList()
      this.majorStatus = -1
      this.getList()
    },
    // 选择部门
    choisedept(item,index){
      this.deptStatus = index
      this.listQuery.departmentId = ''
      item ? (this.listQuery.departmentId = item.id):(this.deptStatus = -1)
      this.getMajorList()
      this.majorStatus = -1
      this.getList()
    },
    // 选择专业
    choisemajor(item,index){
      this.majorStatus = index
      this.listQuery.majorId = ''
      item ? (this.listQuery.majorId = item.id):(this.majorStatus = -1)
      this.getList()
    },
    // 批量删除
    batchDelete(){
      if (this.batchList.length == 0) {
        this.$message.error("请选择至少一条记录进行操作");
      } else {
        const ids = getMultipleSelectionIDs(this.batchList);
        confirm.apply(this, ["确认删除吗？"]).then(() => {
          batchDeleteAPI(ids).then(res => {
            requestMsg.apply(this, [res.data, "删除"]);
            this.getList();
          });
        });
      }
    },
    // 删除一条
    deleteBtn(item){
      const ids = [item.id]
        confirm.apply(this, ["确认删除吗？"]).then(() => {
          batchDeleteAPI(ids).then(res => {
            requestMsg.apply(this, [res.data, "删除"]);
            this.getList();
          });
        });
    },
    // 导出
    printBtn(){
      // this.$message('导入功能开发中')
      if(this.list.length > 0){
        let obj = this.listQuery
        var test=this.baseUrl + '/school-sysuser/fg/class-management/export?token='+this.$store.getters.userToken+'&'
        for(var prop in obj){
            if(obj[prop]){
                test = test+prop+'='+obj[prop]+'&'
            }
        }
        test = test.substr(0,test.length-1)
        window.open(test,'_blank')
        this.$message.success("数据导出成功")
      }else{
          this.$message.error('当前暂无数据可供导出')
      }
    },

  chioceList(val) {
      //勾选
      this.batchList = val;
    },
    // 错误导出
    printError(){
      this.errorExcDialog = false
      var test=this.baseUrl + '/school-sysuser/fg/class-management/error?id='+this.errorId
      window.open(test,'_blank')

    },

    // 导入
    importBtn() {
      // this.$message('导入功能开发中')
      this.importExcDialog = true
      this.$refs.file ? this.$refs.file.value = null : true
    },
    // 文件选择
    fileSelect() {
      if (this.$refs.file.files[0]) {
        let file = this.$refs.file.files[0];
        if (file.type !=="application/vnd.ms-excel"&&file.type !=='application/vnd.openxmlformats-officedocument.spreadsheetml.sheet') {
          this.$message.warning("导入文件只能是 xls/xlsx 格式！");
          this.$refs.file.value = null;
        }else{
          let formData = new FormData();
          formData.append("file", file);
          // excelImportAPI(formData).then(res =>{
          //   if(res.data.code!= 0){
          //     this.$message.error(JSON.parse(res.data.msg).msg)
          //   }else{
          //   }
          // })
        }
      }
    },
    // 确认导入
    confirmImport(){
      if (this.$refs.file.files[0]) {
        let formData = new FormData();
        formData.append("file", this.$refs.file.files[0]);
        excelImportAPI(formData).then(res => {
          if (res.data.status) {
            const data = res.data.data
            if(data.list.length > 0){
              this.errorExcDialog = true;
              this.errorList = data.list
              this.errorId = data.errId
            }else{
              this.$message.success("导入成功！");
              this.importExcDialog = false;
              this.getList()
            }

          } else {
            this.$message.error(res.data.msg);
          }
        });
      } else {
        this.$message.warning("请选择文件后再执行导入！");
      }
    },
    // 筛选
    handleFilter() {
      store.dispatch("SetSupplierSerKeys", this.listQuery).then(res => {

      });
      this.listQuery.pageNum = 1;
      this.getList();
    },
    //重置
    resetFilter() {
      this.listQuery = {
        pageNum: 1,
        pageSize: this.listQuery.pageSize
      };
      this.getList();
    },
    // 改变分页大小
    handleSizeChange(val) {
      this.listQuery.pageSize = val;
      this.getList();
    },
    // 页数改变
    handleCurrentChange(val) {
      this.listQuery.pageNum = val;
      this.getList();
    }
  }
};
</script>

<style scoped>
.el-tabs__header,
.el-tabs--card > .el-tabs__header {
  border: 0;
  margin-bottom: 0;
}
.aa {
  margin-left: 80px;
}
.aa input {
  height: 30px;
}

.blue{
  color:blue;
}
ul{
    margin:0;
    padding:0;
}
li{
    float:left;
    list-style-type: none;
    margin:0 6px;
}
li:hover{
    cursor: pointer;
}
</style>
