html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike,
strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody,
tfoot, thead, tr, th, td ,textarea,input { margin:0; padding:0;  }
address,cite,dfn,em,var, i {font-style:normal;}
body {font-size: 16px; line-height: 1.5; font-family:'Microsoft Yahei','simsun','arial','tahoma';  color: #222; background: #fff; }
table { border-collapse:collapse; border-spacing:0; }
/*h1, h2, h3, h4, h5, h6,*/ th { font-size: 100%; font-weight: normal; }
button,input,select,textarea{font-size:100%;}
fieldset,img{border:0;}
a { text-decoration: none; color: #666;}
ul, ol { list-style: none; }
:focus{ outline:none;}
.clearfix{ clear: both; content: ""; display: block; overflow: hidden }
.clear{clear: both;}
.fl{ float: left; }
.fr{float: right;}
input::-webkit-input-placeholder, textarea::-webkit-input-placeholder {
  color:#C1C5CD
}
input:-moz-placeholder, textarea:-moz-placeholder {
  color:#C1C5CD
}
input::-moz-placeholder, textarea::-moz-placeholder {
  color:#C1C5CD
}
input:-ms-input-placeholder, textarea:-ms-input-placeholder {
  color:#C1C5CD
}
body,html{
  width:100%;
  height:100%;
}


.page{
  width:100%;
  text-align: center;
  height:38px;
  margin-top: 10px;
  margin-bottom: 65px;
}
.loading{
  width: 100%;
  height:100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
#hCss .essentialInfor a,#hCss .teachingIn a{
  text-decoration: underline;
  color: blue;
}
.info .infoTwo .essentialInfor .essentialInforCont .wscnph{
  max-width: 1080px;
}