<template>
  <!--添加征订周期-->
  <div class="addbidding" id="addCascaderCss">

    <!-- 添加 -->
    <div class="backBtn" @click="backBtn">
      <i class="el-icon-arrow-left"></i>
      返回
    </div>
    <el-form
      :rules="rules"
      ref="departForm"
      :model="formList"
      label-position="right"
      label-width="120px"
      class="form-container"
    >
      <el-row>
        <!-- <el-form-item label="供应商名称：" class="distributorAdd">
          <input type="text" v-if="isModify" class="modifyCss" v-model="formList.distributorName" disabled style="background: #fff">
          <el-cascader
            v-model="distributor"
            :options="supplier"
            :show-all-levels="false"
            :props="{
             value: 'id',
            label: 'name',
            children: 'items'}"
            class="cascaderCss"
            :style="{border:(isdistributorAdd?'1px solid #F56C6C':'1px solid #DCDFE6'),'border-radius':' 4px'}"
            @change="handleChange"></el-cascader>

          <div class="provinceCont"><i>*</i></div>
          <div class="provinceError" v-if="isdistributorAdd">请填写供应商名称</div>

        </el-form-item> -->
        <el-form-item label="供应商名称：" prop="distributorName">
          <el-select v-model="formList.distributorName" @change="selectChange" clearable placeholder="请选择部门">
              <el-option
              v-for="item in supplier"
              :key="item.id"
              :label="item.name"
              :value="item.name">
              </el-option>
          </el-select>
        </el-form-item>
        <el-form-item label="联系人姓名：" prop="name">
          <el-col :span="12">
            <el-input v-model="formList.name" placeholder="请先选择供应商" disabled></el-input>
          </el-col>

          <!--<el-col :span="12">
            <el-input v-model="formList.sort" placeholder="请输入排序号"></el-input>
          </el-col>-->
        </el-form-item>
        <el-form-item label="联系人电话：" prop="phone">
          <el-col :span="12">
            <el-input v-model="formList.phone" placeholder="请先选择供应商" :span="12" disabled></el-input>
          </el-col>
        </el-form-item>
        <el-form-item label="备注：" prop="remark">
          <el-col :span="12">
            <el-input
              type="textarea"
              :autosize="{ minRows: 4 }"
              placeholder="请输入内容"
              v-model="formList.remark"
              maxlength="150"
            ><!--show-word-limit-->
            </el-input>
          </el-col>

        </el-form-item>
        <el-form-item>
          <el-button class="form-submit" @click="submitBtn(formList)">确定</el-button>
          <el-button plain @click="backBtn">关闭</el-button>
        </el-form-item>
      </el-row>
    </el-form>

  </div>
</template>

<script>
  import {addAPI, getSupplierListAPI, getDetailsAPI, updateAPI,getDetails2API} from '@/api/backstage/distrbutor.js';
  import {getmemberAPI} from '@/api/resources.js';

  export default {
    name: 'HelloWorld',
    data() {
      // 排序数
      const validateSort = (rule, value, callback) => {
        let reg = /^([1-9]\d{0,4})$/;
        if (!reg.test(value)) {
          callback(new Error("请输入1-9999之间的整数"));
        } else {
          callback();
        }
      };

      const checkPhone = (rule, value, callback) => {
        if (!value) {
          return callback(new Error('手机号不能为空'));
        } else {
          const reg = /^1[1-9][0-9]\d{8}$/
          if (reg.test(value)) {
            callback();
          } else {
            return callback(new Error('请输入正确的手机号'));
          }
        }
      };


      return {
        formList: {
          distributorName: '',
          name: '',
          phone: '',
          value: [],
        },
        id:null,
        distributorName:{},
        distributor: [],
        isModify: false,
        isdistributorAdd: false,
        userMsg: {},
        supplier: [],
        distributorList: [],
        options: [{
          value: 'zhinan',
          label: '指南',
          children: [{
            value: 'shejiyuanze',
            label: '设计原则',
            children: [{
              value: 'yizhi',
              label: '一致'
            }, {
              value: 'fankui',
              label: '反馈'
            }, {
              value: 'xiaolv',
              label: '效率'
            }, {
              value: 'kekong',
              label: '可控'
            }]
          }]
        }],
        season: [
          {value: 0, label: '春季'},
          {value: 1, label: '秋季'}
        ],
        userCompanyt: {},
        dialogAddVisible: false,
        pickerOptions0: {
          disabledDate(time) {
            return time.getTime() < Date.now() - 8.64e7;
          }
        },
        rules: {
          distributorName: [
            {required: true, message: "请输入供应商名称", trigger: "change"}
          ],

          name: [{required: true, message: "请输入联系人姓名", trigger: "change",}],
          phone: [{required: true, validator: checkPhone, trigger: 'change'}]
        },
      }
    },
    created() {
      this.id=this.$route.query.id;
      if (this.id != undefined) {
        this.isModify = true;
        this.getDetails();
      }
      this.getmember();
      this.$route.meta.title = this.$route.query.id ? '修改经销商' : '添加经销商';
      this.getSupplierList();


    },
    watch: {
      distributor(o,n){
        if(o.length==0){
          this.isdistributorAdd=true;
        }else{
          this.isdistributorAdd=false;

        }
      },
    },
    methods: {
      /*获取用户信息*/
      getmember() {
        getmemberAPI().then(res => {
          if (res.data.status) {
            this.userMsg = res.data.data;
          }
        })
      },
      /*获取供应商详情*/
      getDetails() {
        getDetailsAPI(this.id).then(res => {
          const data = res.data.data
          if (res.data.code == 0) {
            this.formList = data;
            // this.distributor.push(data.distributorName)
            // this.distributorName.id = data.distributorId
            // this.distributorName.name = data.distributorName
          }
        })
      },
      /*获取供应商下拉列表*/
      getSupplierList() {

        getSupplierListAPI().then(res => {
          if (res.data.code == 0) {
            // for (let i = 0; i < res.data.data.tree.length; i++) {
            //   res.data.data.tree[i].name = res.data.data.tree[i].province;
            // }
            this.supplier = res.data.data;
            // this.distributorList = res.data.data.list;
          }
        })
      },
      // 查看返回
      backBtn() {
        this.$router.back();
      },
      submitBtn() {
        // if(this.distributor.length==0){
        //   this.isdistributorAdd=true;
        // }
        this.$refs["departForm"].validate((valid) => {
          if (valid&&!this.isdistributorAdd) {
            this.distributorList.forEach(item => {
              if(item.id == this.distributor[this.distributor.length - 1]) {
                this.formList.distributorId = item.id;
                this.formList.distributorName = item.name;
              }
            })
            if (this.$route.query.id != undefined) {//修改
              updateAPI(
              //   {
              //   distributorId: this.distributorName.id,
              //   distributorName: this.distributorName.name,
              //   id: this.$route.query.id,
              //   name: this.formList.name,
              //   phone: this.formList.phone,
              //   remark: this.formList.remark,
              // }
              this.formList
              ).then(res => {
                if(res.data.code==0){
                  this.$message.success('修改成功')
                  this.$router.back();
                }else{
                  this.$message.error(res.data.msg)
                }
              })
            } else {//增加
              addAPI(this.formList
              //   {
              //   creater: this.userMsg.id,
              //   createrName: this.userMsg.name,
              //   distributorId: this.distributorName.id,
              //   distributorName: this.distributorName.name,
              //   name: this.formList.name,
              //   phone: this.formList.phone,
              //   remark: this.formList.remark,
              // }
              ).then(res => {
                if (res.data.code == 0) {
                  this.$message.success('保存成功')
                  this.$router.back();
                } else {
                  this.$message.error(res.data.msg)
                }
              })
            }
          } else {
            return false;
          }
        });

      },
      /*选择供应商*/
      // handleChange(value) {
      //   let oneList = [];
      //   this.isModify = false;
      //   this.supplier.filter(item => {
      //     if (value[0] == item.id) {
      //       item.items.filter(itm=>{
      //         if(value[1] == itm.id){
      //             this.distributorName=itm;
      //         }
      //       })

      //     }
      //   })

      //   this.id=value[1];
      //   getDetails2API(this.id).then(res => {
      //     if (res.data.code == 0) {
      //       res.data.data.name=res.data.data.userName;
      //       this.formList = res.data.data;
      //       this.distributor.push(res.data.data.distributorName)
      //     }
      //   })
      // },
      selectChange(value){
        let obj = {}
        this.supplier.forEach(item=>{
          if(item.name == value){
            obj.id = item.id
            obj.name = item.name
          }
          
        })
        if(obj.id){
          this.formList.distributorId = obj.id
          this.formList.distributorName = obj.name
          getDetails2API(obj.id).then(res => {
            if (res.data.code == 0) {
              const data = res.data.data
              // res.data.data.name=res.data.data.userName;
              // this.formList = res.data.data;
              this.formList.name = data.userName
              this.formList.phone = data.phone
              // this.distributor.push(res.data.data.distributorName)
            }
          })
        }else{
          this.formList.distributorId = ''
          this.formList.distributorName = ''
          this.formList.name = ''
          this.formList.phone = ''
        }
      }
    },
  }
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped lang="less">
  .backBtn {
    margin-bottom: 20px;
    font-weight: bold;
  }

  .backBtn:hover {
    cursor: pointer;
  }

  .addbidding {
    padding: 50px;

  }

  .distributorAdd {
    position: relative;
    .modifyCss {
      position: absolute;
      z-index: 11;
      border-radius: 4px;
      border: 1px solid #DCDFE6;
      box-sizing: border-box;
      color: #606266;
      display: inline-block;
      font-size: inherit;
      height: 40px;
      line-height: 40px;
      width: 219px;
      padding: 0 15px;
    }
    .provinceCont {
      position: absolute;
      top: 0;
      left: -105px;
      i {
        color: #F56C6C;
      }
    }
    .provinceError {
      color: #F56C6C;
      font-size: 12px;
      line-height: 1;
      padding-top: 4px;
      position: absolute;
      top: 100%;
      left: 0;
    }
  }


</style>
