<template>
  <!--经销商管理-->
  <div class="process">

    <el-container>
      <el-main>
        <div class="nav-buttons-container">
          <router-link to="addDistributor"><el-button v-if="authBtns.map(i => i.idName).indexOf('addBtn') >= 0">{{authBtns.filter(i => i.idName=='addBtn')[0].name}}<i v-if="authBtns.filter(i => i.idName=='addBtn').length>0 && authBtns.filter(i => i.idName=='addBtn')[0].icon" :class="[authBtns[authBtns.map(i => i.idName).indexOf('addBtn')].icon, 'el-icon--right']"></i></el-button></router-link>
          <el-button v-if="authBtns.map(i => i.idName).indexOf('batchDeleteBtn') >= 0" @click="deleteBtn(false)"> {{authBtns.filter(i => i.idName=='batchDeleteBtn')[0].name}}<i v-if="authBtns.filter(i => i.idName=='batchDeleteBtn').length>0 && authBtns.filter(i => i.idName=='batchDeleteBtn')[0].icon" :class="[authBtns[authBtns.map(i => i.idName).indexOf('batchDeleteBtn')].icon, 'el-icon--right']"></i></el-button>

          <el-button v-if="authBtns.map(i => i.idName).indexOf('batchPrintBtn') >= 0" @click="exportList"> {{authBtns.filter(i => i.idName=='batchPrintBtn')[0].name}}<i v-if="authBtns.filter(i => i.idName=='batchPrintBtn').length>0 && authBtns.filter(i => i.idName=='batchPrintBtn')[0].icon" :class="[authBtns[authBtns.map(i => i.idName).indexOf('batchPrintBtn')].icon, 'el-icon--right']"></i></el-button>
          <!-- <el-button v-if="authBtns.map(i => i.idName).indexOf('onlinebtn') >= 0" @click="auditSuccess"> {{authBtns.filter(i => i.idName=='onlinebtn')[0].name}}<i v-if="authBtns.filter(i => i.idName=='onlinebtn').length>0 && authBtns.filter(i => i.idName=='onlinebtn')[0].icon" :class="[authBtns[authBtns.map(i => i.idName).indexOf('onlinebtn')].icon, 'el-icon--right']"></i></el-button>
          <el-button v-if="authBtns.map(i => i.idName).indexOf('outlinebtn') >= 0" @click="auditFaile"> {{authBtns.filter(i => i.idName=='outlinebtn')[0].name}}<i v-if="authBtns.filter(i => i.idName=='outlinebtn').length>0 && authBtns.filter(i => i.idName=='outlinebtn')[0].icon" :class="[authBtns[authBtns.map(i => i.idName).indexOf('outlinebtn')].icon, 'el-icon--right']"></i></el-button>
          <el-button v-if="authBtns.map(i => i.idName).indexOf('setbtn') >= 0" @click="setbookBtn"> {{authBtns.filter(i => i.idName=='setbtn')[0].name}}<i v-if="authBtns.filter(i => i.idName=='setbtn').length>0 && authBtns.filter(i => i.idName=='setbtn')[0].icon" :class="[authBtns[authBtns.map(i => i.idName).indexOf('setbtn')].icon, 'el-icon--right']"></i></el-button>
          <el-button v-if="authBtns.map(i => i.idName).indexOf('searchbtn') >= 0" @click="expressBtn"> {{authBtns.filter(i => i.idName=='searchbtn')[0].name}}<i v-if="authBtns.filter(i => i.idName=='searchbtn').length>0 && authBtns.filter(i => i.idName=='searchbtn')[0].icon" :class="[authBtns[authBtns.map(i => i.idName).indexOf('searchbtn')].icon, 'el-icon--right']"></i></el-button> -->
        </div>
        <!-- <el-form inline class="form-inline">
          <el-form-item>

              <el-button>添加</el-button>

          </el-form-item>
          <el-form-item>
            <el-button @click="deleteBtn(false)">批量删除</el-button>
          </el-form-item>
          <el-form-item>
            <el-button @click="exportList">批量导出</el-button>
          </el-form-item>
        </el-form> -->

        <el-table :key='tableKey' :data="list" v-loading="listLoading" element-loading-text="给我一点时间" border
                  highlight-current-row stripe @selection-change="batchDeletion">
          <el-table-column
            type="selection"
            width="55">
          </el-table-column>
          <el-table-column type="index" label="序号" width="60" align="center"></el-table-column>
          <el-table-column label="供应商名称" min-width="160" align="center">
            <template slot-scope="scope">
              <span>{{scope.row.distributorName}}</span>
            </template>
          </el-table-column>
          <el-table-column label="联系人姓名" min-width="150" align="center">
            <template slot-scope="scope">
              <span>{{scope.row.name }}</span>
            </template>
          </el-table-column>
          <el-table-column label="联系人电话" min-width="150" align="center">
            <template slot-scope="scope">
              <span>{{scope.row.phone}}</span>
            </template>
          </el-table-column>
          <el-table-column label="备注" min-width="150" align="center">
            <template slot-scope="scope">
              <span>{{scope.row.remark }}</span>
            </template>
          </el-table-column>

          <el-table-column class-name="small-padding fixed-width" label="操作" width="150" align="center">
            <template slot-scope="scope">
              <router-link :to="{path:'addDistributor',query:{id:scope.row.id}}"> <i v-if="authBtns.filter(i => i.idName=='editBtn').length > 0" :class="authBtns.filter(i => i.idName=='editBtn')[0].icon" :title="authBtns.filter(i => i.idName=='editBtn')[0].name"></i></router-link>
              <!-- <i class="el-icon-delete" title="删除" "></i> -->
               <i v-if="authBtns.filter(i => i.idName=='deleteBtn').length > 0" @click="deleteBtn(scope.row)" :class="authBtns.filter(i => i.idName=='deleteBtn')[0].icon" :title="authBtns.filter(i => i.idName=='deleteBtn')[0].name"></i>

            </template>
          </el-table-column>
        </el-table>
        <div class="pagination-container">
          <el-pagination @size-change="handleSizeChange" @current-change="handleCurrentChange"
                         :current-page="listQuery.pageNum" :page-sizes="[30,50,100,200,500]"
                         :page-size="listQuery.pageSize" layout="total, sizes, prev, pager, next, jumper" :total="total"
                         align="center">
          </el-pagination>
        </div>
      </el-main>
    </el-container>

    <!--添加步骤-->
    <el-dialog :title="`${title}步骤`" :visible.sync="dialogFormVisible" width="30%">
      <el-form style="height: 40px;">
        <el-form-item label="步骤名称：" label-width="100px">
          <el-input v-model="step" autocomplete="off"></el-input>
        </el-form-item>

      </el-form>
      <div slot="footer" class="dialog-footer">
        <el-button type="primary" @click="submitBtn">确 定</el-button>
        <el-button @click="dialogFormVisible = false">取 消</el-button>
      </div>
    </el-dialog>

    <!--添加步骤人员-->
    <el-dialog :title="islook?'查看':'新增'" :visible.sync="addPeople" :width="islook?'600px':'1000px'">
      <el-form style="height: 40px;" class="demo-form-inline" :inline="true">
        <el-form-item label="角色：" label-width="80px">
          <el-select v-model="selete.role" placeholder="请选择" style="width: 140px;">
            <el-option
              v-for="item in rolelist"
              :key="item.value"
              :label="item.label"
              :value="item.value">
            </el-option>
          </el-select>
        </el-form-item>
        <el-form-item label="部门：" label-width="80px">
          <el-select v-model="selete.department" placeholder="请选择" style="width: 220px;">
            <el-option
              v-for="item in departmentlist"
              :key="item.value"
              :label="item.label"
              :value="item.value">
            </el-option>
          </el-select>
        </el-form-item>
      </el-form>
      <div class="displayChange">
        <el-table
          ref="multipleTable"
          :data="tableData"
          border
          tooltip-effect="dark"
          max-height="500"
          @selection-change="handleSelectionChange"
          style="width:600px;float: left">
          <el-table-column
            type="selection"
            width="45"
            align="center" v-if="!islook">
          </el-table-column>
          <el-table-column
            label="教职工号"
            width="130"
            align="center">
            <template slot-scope="scope">{{ scope.row.code }}</template>
          </el-table-column>
          <el-table-column
            prop="bm"
            label="部门"
            width="120"
            align="center">
          </el-table-column>
          <el-table-column
            prop="name"
            label="姓名"
            width="100"
            align="center"
            show-overflow-tooltip>
          </el-table-column>
          <el-table-column
            prop="sex"
            label="性别"
            width="60"
            align="center"
            show-overflow-tooltip>
          </el-table-column>
          <el-table-column
            prop="phone"
            label="手机号"
            width="144"
            align="center"
            show-overflow-tooltip>
          </el-table-column>
        </el-table>
        <div class="displayPeople" v-if="!islook">
          <span>已选择{{multipleSelection.length}}个会员，点击删除</span>
          <ul>
            <li v-for="(item,index) in multipleSelection" :key="index" @mouseenter="onmouseDelete(item)"
                @mouseleave="ismouse=null"><h1 :title="item.code">{{item.code}}</h1>
              <h2 :title="item.name">{{item.name}}</h2>
              <h3 :title="item.bm">{{item.bm}}</h3><i class="el-icon-error" v-if="ismouse==item.id"
                                                      @click="detleteBtn(item)"></i></li>
          </ul>
        </div>
      </div>

      <div slot="footer" class="dialog-footer">
        <el-button type="primary" @click="submitBtn">确 定</el-button>
      </div>
    </el-dialog>


  </div>
</template>

<script>
  import {getListAPI, batchDeteleAPI,exportListAPI} from '@/api/backstage/distrbutor.js';
  import { requestPath } from '@/utils/global.js'
  import store from '@/store'
  export default {
    data() {
      return {
        //   checkVisible:false,
        //   bookVisible:false,
        //   authBtns: [],
        tableKey: 0,
        list: [],
        total: null,
        listLoading: true,
        listQuery: {
          pageNum: 1,
          pageSize: 100,
          schoolName: null,
          userName: null,
          phone: null,
          applyNumber: null
        },
        batchList: [],
        activeName: 'books',
        departList: [],
        timeLimit: null,
        roleList: null,
        dialogFormVisible: false,
        step: '',
        addPeople: false,
        tableData: [{id: 1, code: '20180398', bm: '机械系', name: '栓斌', sex: '男', phone: '1388888888'}, {
          id: 2,
          code: '201905111111',
          bm: '计算机工东方闪电程系',
          name: '栓斌sd发生的方式sad',
          sex: '男',
          phone: '13666666666'
        }, {id: 3, code: '201905111111', bm: '计算机工东方闪电程系', name: '王丽', sex: '女', phone: '13666666666'}, {
          id: 4,
          code: '201905111111',
          bm: '计算机工东方闪电程系',
          name: '张帅',
          sex: '男',
          phone: '13666666666'
        }, {id: 5, code: '201905111111', bm: '计算机工东方闪电程系', name: '李晓', sex: '女', phone: '13777777777'}, {
          id: 6,
          code: '201905111111',
          bm: '计算机工东方闪电程系',
          name: '张帅',
          sex: '男',
          phone: '13666666666'
        }, {id: 7, code: '201905111111', bm: '计算机工东方闪电程系', name: '李晓', sex: '女', phone: '13777777777'}, {
          id: 8,
          code: '201905111111',
          bm: '计算机工东方闪电程系',
          name: '李晓',
          sex: '女',
          phone: '13777777777'
        }],
        deleteList: [],
        multipleSelection: [],
        rolelist: [{value: 0, label: '老师'}, {label: '系教务', value: 1}, {label: '校教务', value: 2}],
        departmentlist: [{label: '机械系', value: 0}, {label: '计算机工东方闪电程系', value: 1}],
        selete: {role: '', department: ''},
        ismouse: null,
        title: '',
        islook: false,
      }
    },
    computed: {},
    watch: {
      multipleSelection(n, o) {
        let self = this;
        self.tableData.filter(function (val, index) {
          if (val.id == self.ismouse) {
            self.$refs.multipleTable.toggleRowSelection(self.tableData[index], false);
          }
        })
      },
      addPeople(n, o) {
        let self = this;
        if (!n) {
          self.tableData.filter(function (val, index) {
            self.$refs.multipleTable.toggleRowSelection(self.tableData[index], false);
          })
        }
      },
    },
    created() {

      this.authBtns = store.getters.pageBtn[this.$route.meta.routerIds[0]]
    },
    mounted() {
      this.getList()
    },
    methods: {

      getList() {
        this.listLoading = true
        getListAPI(this.listQuery).then(res => {
          if (res.data.code === 0) {
            this.list = res.data.data.list

            this.total = res.data.data.total
          } else {
            this.$message.error('获取数据失败');
          }
          this.listLoading = false
        })
      },

      handleSizeChange(val) {
        this.listQuery.pageSize = val
        this.listQuery.applyStatus = this.listQuery.applyStatus
        this.getList()
      },
      handleCurrentChange(val) {
        this.listQuery.pageNum = val
        this.listQuery.applyStatus = this.listQuery.applyStatus
        this.getList()
      },

      /*新增步骤*/
      submitBtn() {
        let str = this.step.replace(/(^\s*)|(\s*$)/g, '');
      },
      /*添加*/
      addBtn(val) {
        let self = this;
        this.islook = false;
        this.addPeople = true;
        this.multipleSelection = [];
        this.ismouse = null;

      },
      /*修改*/
      editBtn(val) {
        this.dialogFormVisible = true;
        this.title = '修改';
      },
      /*批量删除勾选*/
      batchDeletion(val) {
        this.deleteList = val;
      },
      /*批量删除*/
      deleteBtn(val) {
        if(this.deleteList.length==0&&!val){
          this.$message.warning('请选择要操作的数据');
          return
        }
        this.$confirm('确定要删除吗？', '删除提示', {
          confirmButtonText: '确定',
          cancelButtonText: '取消',
          type: 'warning'
        }).then(() => {
          /*this.$message({
            type: 'success',
            message: '删除成功!'
          });*/
          let aryId = [];
          if (!val) {//批量删除
            this.deleteList.forEach(item => {
              aryId.push(item.id)
            })
          } else {
            aryId.push(val.id)
          }
          batchDeteleAPI(aryId).then(res=>{
            if(res.data.code==0){
              this.$message.success('删除成功');
              this.getList();
            }else{
              this.$message.success(res.data.msg);
            }
          })

        })
      },
      /*批量导出*/
      exportList(){
        window.open(`${process.env.BASE_API}${requestPath.school}/supplier/export?token=${this.$store.getters.userToken}&pageNum=${this.listQuery.pageNum}&pageSize=${this.listQuery.pageSize}`)
      },
      /*勾选数据*/
      handleSelectionChange(val) {
        this.multipleSelection = val;
        this.ismouse = null;
      },
      /*放上显示删除*/
      onmouseDelete(item) {
        this.ismouse = item.id;
      },
      /*删除*/
      detleteBtn(item) {
        let aa = this.multipleSelection.filter(function (teacher) {
          return teacher.id != item.id
        });
        this.multipleSelection = aa;
      },
    }
  }
</script>

<style lang="less">
  .el-tabs__header, .el-tabs--card > .el-tabs__header {
    border: 0;
    margin-bottom: 0;
  }

  .process .el-dialog__body {
    padding: 15px 20px 30px 20px !important;
  }

  .process .displayChange {
    width: 100%;
    display: block;
    overflow: hidden;
    padding-top: 20px;
  }

  .process .displayPeople {
    float: right;
    display: block;
    span {
      height: 40px;
      line-height: 40px;
    }
    ul {
      width: 320px;
      min-height: 40px;
      max-height: 600px;
      overflow-y: scroll;
      border: 1px solid #ccc;
      padding: 10px 10px;
      li {
        height: 42px;
        display: block;
        overflow: hidden;
        line-height: 42px;
        h1, h2 {
          padding-right: 10px;
          font-size: 14px;
          font-weight: normal;
          float: left;
          display: block;
          width: 85px;
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap
        }
        h3 {
          padding-right: 5px;
          font-size: 14px;
          font-weight: normal;
          float: left;
          display: block;
          width: 90px;
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap
        }
        i {
          cursor: pointer;
        }
      }
    }
  }
</style>
