<template>
    <div class="app-container calendar-list-container">
        <!-- <div class="nav-buttons-container"> -->
          <!-- <el-button v-if="authBtns.map(i => i.idName).indexOf('batchPrintBtn') >= 0" @click="batchPrintBtn"> {{authBtns.filter(i => i.idName=='batchPrintBtn')[0].name}}<i v-if="authBtns.filter(i => i.idName=='batchPrintBtn').length>0 && authBtns.filter(i => i.idName=='batchPrintBtn')[0].icon" :class="[authBtns[authBtns.map(i => i.idName).indexOf('batchPrintBtn')].icon, 'el-icon--right']"></i></el-button>              
          <el-button v-if="submitStatus != '0'&&submitStatus != '2'"  @click="submitData">提交</el-button>
          <el-button class="submitBtn" v-if="submitStatus == '0'||submitStatus == '2'"  >已提交</el-button> -->
        <!-- </div> -->
        <el-form>
            <el-row style="position:relative">
                <el-col :span="20" >
                    <el-form-item>
                      <div class="choise">
                          <div class="menu-choise" >学级：</div>
                          <div class="con-choise" style="width:400px">
                          <!-- <div class="all-choise" :class="academicStatus == -1 ? 'blue' :''"  @click="choiseAcademicResource()"  v-if="deptList" >全部</div> -->
                          <ul>
                              <li v-if="academicstatus?index<academicList.length:index<10" v-for="(item,index) in academicList" :key="index" @click="choiseAcademicResource(item,index)" :class="academicStatus == index ?'blue':''">{{item}}</li>
                              <li v-show="academicList.length >10&&academicstatus == false" @click="academicstatus=true">更多</li>
                              <li v-show="academicList.length >10&&academicstatus ==true" @click="academicstatus=false">收起</li>
                          </ul>
                          </div>
                      </div>
                      </el-form-item>
                      <el-form-item>
                      <div class="choise">
                          <div class="menu-choise" >部门：</div>
                          <div class="con-choise">
                          <div class="all-choise" :class="deptStatus == -1 ? 'blue' :''"  @click="choisedept()"  v-if="deptList" >全部</div>
                          <ul>
                              <li v-if="deptstatus?index<deptList.length:index<10" v-for="(item,index) in deptList" :key="index" @click="choisedept(item,index)" :class="deptStatus == index ?'blue':''">{{item.name}}</li>
                              <li v-show="deptList.length >10&&deptstatus == false" @click="deptstatus=true">更多</li>
                              <li v-show="deptList.length >10&&deptstatus ==true" @click="deptstatus=false">收起</li>
                          </ul>
                          </div>
                      </div>
                      </el-form-item>
                      <el-form-item v-show="majorList.length > 0">
                      <div class="choise">
                          <div class="menu-choise" >专业：</div>
                          <div class="con-choise">
                          <div class="all-choise" :class="majorStatus == -1 ? 'blue' :''"  @click="choisemajor()"  v-if="deptList" >全部</div>
                          <ul>
                              <li v-if="majorstatus?index<majorList.length:index<10" v-for="(item,index) in majorList" :key="index" @click="choisemajor(item,index)" :class="majorStatus == index ?'blue':''">{{item.name}}</li>
                              <li v-show="majorList.length >10&&majorstatus == false" @click="majorstatus=true">更多</li>
                              <li v-show="majorList.length >10&&majorstatus ==true" @click="majorstatus=false">收起</li>
                          </ul>
                          </div>
                      </div>
                      </el-form-item>
                      <el-form-item v-show="status==true&&studentResourceList.length > 0">
                      <div class="choise">
                          <div class="menu-choise" >生源：</div>
                          <div class="con-choise">
                          <div class="all-choise" :class="studentResourceStatus == -1 ? 'blue' :''"  @click="choiseStudentResource	()"  v-if="deptList" >全部</div>
                          <ul>
                              <li v-if="studentResourcestatus?index<studentResourceList.length:index<10" v-for="(item,index) in studentResourceList" :key="index" @click="choiseStudentResource(item,index)" :class="studentResourceStatus == index ?'blue':''">{{item.cnkey}}</li>
                              <li v-show="studentResourceList.length >10&&studentResourcestatus == false" @click="studentResourcestatus=true">更多</li>
                              <li v-show="studentResourceList.length >10&&studentResourcestatus ==true" @click="studentResourcestatus=false">收起</li>
                          </ul>
                          </div>
                      </div>
                    </el-form-item>
                  </el-col>
                <el-row style="position:absolute;bottom:10px;right:20px;">
                  <el-button class="btnRight" v-if="authBtns.map(i => i.idName).indexOf('batchPrintBtn') >= 0" @click="batchPrintBtn"> {{authBtns.filter(i => i.idName=='batchPrintBtn')[0].name}}<i v-if="authBtns.filter(i => i.idName=='batchPrintBtn').length>0 && authBtns.filter(i => i.idName=='batchPrintBtn')[0].icon" :class="[authBtns[authBtns.map(i => i.idName).indexOf('batchPrintBtn')].icon, 'el-icon--right']"></i></el-button>              
                <el-button class="btnRight" v-if="submitStatus != '0'&&submitStatus != '2'"  @click="submitData">提交</el-button>
                <el-button class="submitBtn btnRight" v-if="submitStatus == '0'||submitStatus == '2'"  >已提交</el-button>
                    <div class="lookMore" v-show="status == false" @click="status=true"><i class="el-icon-arrow-down"></i></div>
                    <div class="lookMore" v-show="status ==true" @click="status=false"><i class="el-icon-arrow-up"></i></div>
                </el-row>
                
                
            </el-row>
        </el-form>

        <div v-if="list&&Object.keys(list)&&Object.keys(list).length == 0">
          <nullData></nullData>
        </div>
        <div v-else class="reList_item"   v-for="(item,index) in list" :key="index">
          <div class="item_tit">部门：<span>{{JSON.parse(index).dptName}}</span>专业：<span>{{JSON.parse(index).majorName}}</span>代码：<span>{{JSON.parse(index).code}}</span>生源：<span>{{JSON.parse(index).studentResource}}</span>职业资格：<span>{{JSON.parse(index).professionalQualification}}</span></div>
            <el-table  :key="tableKey" :data="item" v-loading="listLoading" element-loading-text="给我一点时间"  border=""  highlight-current-row stripe>
                <!-- <el-table-column type="selection" align="center"></el-table-column> -->
                <el-table-column type="index" label="序号" width="60"  align="center" ></el-table-column>
                <el-table-column prop="courseDesign" label="课程设置" min-width="160" align="center"></el-table-column>
                <el-table-column prop="theoryClassHour" label="理论课时" width="80" align="center"></el-table-column>
                <el-table-column prop="trainingHours" label="实训课时" width="80" align="center"></el-table-column>
                <el-table-column :label='"第一学期"+weekData(list[index],0)+"周"' width="110" align="center" >
                    <template slot-scope="scope">
                        <span v-if="scope.row.pcrs[0]&&scope.row.pcrs[0].weeklyHours">{{scope.row.pcrs[0].weeklyHours}}</span>
                        <span v-else>-</span>
                    </template>
                </el-table-column>
                <el-table-column :label='"第二学期"+weekData(list[index],1)+"周"'  width="110" align="center" v-if="len > 1">
                    <template slot-scope="scope">
                        <span  v-if="scope.row.pcrs[1]&&scope.row.pcrs[1].weeklyHours">{{scope.row.pcrs[1].weeklyHours}}</span>
                        <span v-else>-</span>
                    </template>
                </el-table-column>
                <el-table-column :label='"第三学期"+weekData(list[index],2)+"周"' width="110" align="center" v-if="len > 2">
                    <template slot-scope="scope">
                        <span  v-if="scope.row.pcrs[2]&&scope.row.pcrs[2].weeklyHours">{{scope.row.pcrs[2].weeklyHours}}</span>
                        <span v-else>-</span>
                    </template>
                </el-table-column>
                <el-table-column :label='"第四学期"+weekData(list[index],3)+"周"' width="110" align="center" v-if="len > 3">
                    <template slot-scope="scope">
                        <span  v-if="scope.row.pcrs[3]&&scope.row.pcrs[3].weeklyHours">{{scope.row.pcrs[3].weeklyHours}}</span>
                        <span v-else>-</span>
                    </template>
                </el-table-column>
                <el-table-column :label='"第五学期"+weekData(list[index],4)+"周"' width="110" align="center" v-if="len > 4">
                    <template slot-scope="scope">
                        <span  v-if="scope.row.pcrs[4]&&scope.row.pcrs[4].weeklyHours">{{scope.row.pcrs[4].weeklyHours}}</span>
                        <span v-else>-</span>
                    </template>
                </el-table-column>
                <el-table-column :label='"第六学期"+weekData(list[index],5)+"周"' width="110" align="center" v-if="len > 5">
                    <template slot-scope="scope">
                        <span  v-if="scope.row.pcrs[5]&&scope.row.pcrs[5].weeklyHours">{{scope.row.pcrs[5].weeklyHours}}</span>
                        <span v-else>-</span>
                    </template>
                </el-table-column>
                <el-table-column :label='"第七学期"+weekData(list[index],6)+"周"' width="110" align="center" v-if="len > 6">
                    <template slot-scope="scope">
                        <span  v-if="scope.row.pcrs[6]&&scope.row.pcrs[6].weeklyHours">{{scope.row.pcrs[6].weeklyHours}}</span>
                        <span v-else>-</span>
                    </template>
                </el-table-column>
                <el-table-column :label='"第八学期"+weekData(list[index],7)+"周"' width="110" align="center" v-if="len > 7">
                    <template slot-scope="scope">
                        <span  v-if="scope.row.pcrs[7]&&scope.row.pcrs[7].weeklyHours">{{scope.row.pcrs[7].weeklyHours}}</span>
                        <span v-else>-</span>
                    </template>
                </el-table-column>
                <el-table-column :label='"第九学期"+weekData(list[index],8)+"周"' width="110" align="center" v-if="len > 8">
                    <template slot-scope="scope">
                        <span  v-if="scope.row.pcrs[8]&&scope.row.pcrs[8].weeklyHours">{{scope.row.pcrs[8].weeklyHours}}</span>
                        <span v-else>-</span>
                    </template>
                </el-table-column>
                <el-table-column :label='"第十学期"+weekData(list[index],9)+"周"' width="110" align="center" v-if="len > 9">
                    <template slot-scope="scope">
                        <span  v-if="scope.row.pcrs[9]&&scope.row.pcrs[9].weeklyHours">{{scope.row.pcrs[9].weeklyHours}}</span>
                        <span v-else>-</span>
                    </template>
                </el-table-column>
            </el-table>
        </div>
    </div>
</template>

<script>
import { getDepListAPI,getMajListAPI,getListAPI,getStudentResourceListAPI ,getAcademicListAPI,submitDataAPI } from "@/api/backstage/system/teachingPlan";
import { getMultipleSelectionIDs } from "@/filters/getIds";
import { requestMsg, confirm } from "@/utils/publicFunctions";
import {baseUrl} from '@/utils/global'
import store from "@/store";
import nullData from '@/view/workbench/components/nullData'

export default {
  components: {nullData},
  data() {
    // 排序数
    const validateSort = (rule, value, callback) => {
      let reg = /^([1-9]\d{0,4})$/;
      if (!reg.test(value)) {
        callback(new Error("请输入1-9999之间的整数"));
      } else {
        callback();
      }
    };
    return {
      deptList:[],
      majorList:[],
      academicList:[],
      studentResourceList:[],
      authBtns: [],
      batchList: [],
      listQuery: {
        departmentId:'',
        majorId:'',
        studentResource:'',
        academicLevel:'',
        status:'1',
      },
      deptListQuery:{
          status:'4'
        },
      majListQuery:{
        departmentId:'',
        status:'4'
      },
      deptStatus:-1,
      majorStatus:-1,
      academicStatus: -1,
      studentResourceStatus: -1,
      academicstatus:false,
      majorstatus:false,
      deptstatus:false,
      studentResourcestatus:false,
      status:false,
      baseUrl:baseUrl,
      subHidden:true,
      tableKey1: 1,
      tableKey: 0,
      list: null,
      total: null,
      listLoading: true,
      title: "添加",
      importExcDialog:false,
       errorExcDialog:false,
      errorList:[],
      errorId:'',
      len:'',
      submitStatus:''//0 通过 1 退回 2 未提交

    };
  },
  created() {
    this.authBtns = store.getters.pageBtn[this.$route.meta.routerIds[0]];
    this.majListQuery.departmentId = this.listQuery.departmentId
    this.getAcademicList()
  },
  mounted() {
    // this.getList();

    this.getDepartmentList()
    this.getMajorList()
    this.getStudentResourceList()
  },
  methods: {
    weekData(data,num){
      // list[index][0].pcrs[8].week
      let str = 0
      if(data.length>0){
        data.forEach(item=>{
          let obj = item.pcrs[num]
          
          let len = Object.keys(obj).length
          if(len>0){
            str = obj.week
          }
        })
      }
      return str
    },
    //   获取用户列表
    getList() {
      this.listLoading = true;
      getListAPI(this.listQuery).then(res => {
        const array = res.data.data
        if (res.data.code === 0) {
          this.list = array||{};
          if(Object.keys(array).length > 0){
              this.submitStatus = JSON.parse(Object.keys(array)[0]).status
              this.len = JSON.parse(Object.keys(array)[0]).educationalSystem*2
          }else{
              this.submitStatus = ''
              this.len = 0
          }
          Object.values(array).forEach(item => {
            item.forEach(el => {
              let arr = []
              let list = []
              for(var i = 0;i<this.len;i++){
                  arr[i] = {}
                  list[i] = {}
                  }
                  arr.forEach((it,ind) =>{
                      el.pcrs.forEach((item,index) =>{
                      if(item.semester-1 == ind){
                          list[ind] ={
                          semester:item.semester,
                          weeklyHours:item.weeklyHours,
                          week:item.week
                          }
                      }
                      })
                  })
                  el.pcrs = list
              });
          })

        } else {
          this.$message.error("获取数据失败");
        }
        this.listLoading = false;
      });
     },
     // 获取学级
    getAcademicList(){
       getAcademicListAPI().then(res => {
           const data = res.data.data
          res.data.code === 0
            ? (this.academicList = data)
            : this.$message.error("请求出错啦");
            data.length > 0? this.choiseAcademicResource(data[0],0):""

        });
    },

    //   获取部门列表
    getDepartmentList(){
      getDepListAPI(this.deptListQuery).then(res => {
          res.data.code === 0
            ? (this.deptList = res.data.data)
            : this.$message.error("请求出错啦");
        });
    },

    //   获取专业列表
    getMajorList(){
      getMajListAPI(this.majListQuery).then(res => {
          res.data.code === 0
            ? (this.majorList = res.data.data)
            : this.$message.error("请求出错啦");
        });
    },
    //   获取生源列表
    getStudentResourceList(){
      getStudentResourceListAPI().then(res => {
          res.data.code === 0
            ? (this.studentResourceList = res.data.data)
            : this.$message.error("请求出错啦");
        });
    },
    // 批量导出
    batchPrintBtn(){
      if(Object.keys(this.list).length > 0){
        let obj = this.listQuery
        var test=this.baseUrl + '/school-sysuser/fg/supervise/export?token='+this.$store.getters.userToken+'&'
        for(var prop in obj){
            if(obj[prop]){
                test = test+prop+'='+obj[prop]+'&'
            }
        }
        test = test.substr(0,test.length-1)
        window.open(test,'_blank')
        this.$message.success("数据导出成功")
      }else{
          this.$message.error('当前暂无数据可供导出')
      }
    },
    // 选择学级
    choiseAcademicResource(item,index){
      this.academicStatus = index
      this.listQuery.academicLevel = ''
      item ? (this.listQuery.academicLevel = Number(item)):(this.academicStatus = -1)
      this.getMajorList()
      this.majorStatus = -1
      this.getList()
    },
    // 选择部门
    choisedept(item,index){
      this.deptStatus = index
      this.listQuery.departmentId = ''
      this.majListQuery.departmentId = ''
      this.listQuery.majorId = ''
      if(item){
        this.listQuery.departmentId = item.id
        this.majListQuery.departmentId = item.id
      }else{
        this.deptStatus = -1
      }
      this.getMajorList()
      this.majorStatus = -1
      this.getList()
    },
    // 选择专业
    choisemajor(item,index){
      this.majorStatus = index
      this.listQuery.majorId = ''
      item ? (this.listQuery.majorId = item.id):(this.majorStatus = -1)
      this.getList()
    },
    // 选择生源
    choiseStudentResource(item,index){
      this.studentResourceStatus = index
      this.listQuery.studentResourceStatus = ''
      item ? (this.listQuery.studentResource = item.value):(this.studentResourceStatus = -1)
      this.getList()
    },
    // 提交
    submitData(){
        submitDataAPI(this.listQuery.academicLevel).then(res=>{
          if(res.data.code == 0){
              this.$message.success("提交成功");
              this.getList()
          }else{
            this.$message.error(res.data.msg);
          }
        })

    },
    // // 批量删除
    // batchDelete(){
    //   if (this.batchList.length == 0) {
    //     this.$message.error("请选择至少一条记录进行操作");
    //   } else {
    //     const ids = getMultipleSelectionIDs(this.batchList);
    //     confirm.apply(this, ["确认删除吗？"]).then(() => {
    //       batchDeleteAPI(ids).then(res => {
    //         requestMsg.apply(this, [res.data, "删除"]);
    //         this.getList();
    //       });
    //     });
    //   }
    // },
    // // 删除一条
    // deleteBtn(item){

    //   const ids = [item.id]
    //     confirm.apply(this, ["确认删除吗？"]).then(() => {
    //       batchDeleteAPI(ids).then(res => {
    //         requestMsg.apply(this, [res.data, "删除"]);
    //         this.getList();
    //       });
    //     });
    // },
    // // 导出
    // printBtn(){
    //   if(this.list.length > 0){
    //     let obj = this.listQuery
    //     var test=this.baseUrl + '/school-sysuser/fg/basic-teaching-plan/export?token='+this.$store.getters.userToken+'&'
    //     for(var prop in obj){
    //         if(obj[prop]){
    //             test = test+prop+'='+obj[prop]+'&'
    //         }
    //     }
    //     test = test.substr(0,test.length-1)
    //     window.open(test,'_blank')
    //     this.$message.success("数据导出成功")
    //   }else{
    //       this.$message.error('当前暂无数据可供导出')
    //   }
    // },
    // // 错误导出
    // printError(){
    //   this.errorExcDialog = false
    //   var test=this.baseUrl + '/school-sysuser/fg/basic-teaching-plan/error?id='+this.errorId
    //   window.open(test,'_blank')

    // },

    // //勾选
    // chioceList(val) {
    //   this.batchList = val;
    // },

    // // 导入
    // importBtn() {
    //   // this.$message('导入功能开发中')
    //   this.importExcDialog = true
    //   this.$refs.file ? this.$refs.file.value = null : true
    // },
    // // 文件选择
    // fileSelect() {
    //   if (this.$refs.file.files[0]) {
    //     let file = this.$refs.file.files[0];
    //     if (file.type !=="application/vnd.ms-excel"&&file.type !=='application/vnd.openxmlformats-officedocument.spreadsheetml.sheet') {
    //       this.$message.warning("导入文件只能是 xls/xlsx 格式！");
    //       this.$refs.file.value = null;
    //     }else{
    //       let formData = new FormData();
    //       formData.append("file", file);
    //       // excelImportAPI(formData).then(res =>{
    //       //   if(res.data.code!= 0){
    //       //     this.$message.error(JSON.parse(res.data.msg).msg)
    //       //   }else{
    //       //   }
    //       // })
    //     }
    //   }
    // },
    // // 确认导入
    // confirmImport(){
    //   if (this.$refs.file.files[0]) {
    //     let formData = new FormData();
    //     formData.append("file", this.$refs.file.files[0]);
    //     excelImportAPI(formData).then(res => {
    //       if (res.data.status) {
    //         const data = res.data.data
    //         if(data.list.length > 0){
    //           this.errorExcDialog = true;
    //           this.errorList = data.list
    //           this.errorId = data.errId
    //         }else{
    //           this.$message.success("导入成功！");
    //           this.importExcDialog = false;
    //           this.getList()
    //         }

    //       } else {
    //         this.$message.error(res.data.msg);
    //       }
    //     });
    //   } else {
    //     this.$message.warning("请选择文件后再执行导入！");
    //   }
    // },
    // // 筛选
    // handleFilter() {
    //   store.dispatch("SetSupplierSerKeys", this.listQuery).then(res => {
    //   });
    //   this.listQuery.pageNum = 1;
    //   this.getList();
    // },
    // //重置
    // resetFilter() {
    //   this.listQuery = {
    //     pageNum: 1,
    //     pageSize: this.listQuery.pageSize
    //   };
    //   this.getList();
    // },
    // // 改变分页大小
    // handleSizeChange(val) {
    //   this.listQuery.pageSize = val;
    //   this.getList();
    // },
    // // 页数改变
    // handleCurrentChange(val) {
    //   this.listQuery.pageNum = val;
    //   this.getList();
    // }
  }
};
</script>

<style scoped lang="less">
.el-tabs__header,
.el-tabs--card > .el-tabs__header {
  border: 0;
  margin-bottom: 0;
}
.submitBtn{
  background: #606266;
  color: #fff;
  border:1px solid #606266;
}
.aa {
  margin-left: 80px;
}
.aa input {
  height: 30px;
}
.blue{
  color:blue;
}
ul{
    margin:0;
    padding:0;
}
li{
    float:left;
    list-style-type: none;
    margin:0 6px;
}
li:hover{
    cursor: pointer;
}
.lookMore{
  font-size: 30px;
  font-weight: 900;
  color: #606266;
}
.lookMore:hover{
  cursor: pointer;

  color: rgb(50, 50, 245);
}
.reList_item {
    font-size: 14px;
    font-weight: bold;
    color: rgba(69, 69, 69, 1);
    line-height: 30px;
    margin-bottom: 10px;
    .item_tit {
        // width: 922px;
        padding-left: 20px;
        width: auto;
        height: 56px;
        line-height: 56px;
        text-align: left;
        background: rgba(250, 250, 250, 1);
        border: 1px solid #eeeeee;
        border-bottom: none;
        position: relative;
        span{
          margin-right: 40px;
        }
    }
}
</style>
