<template>
  <div class="contain" >
    <div class="regulatory">

        <ul>
            <li>
            <Screen :listData="timeList" title="时间"  :status="timeStatus" :len="5" :showAll="true" @changeStatus='changeTime'></Screen>
            </li>
        </ul>
        <div class="list-container">
            <div class="down" @click="batchDownLoad">
                <span>批量下载</span>
            </div>
            <div class="table-con">
              <el-table :data="list"  border v-loading="listLoading" highlight-current-row element-loading-text="给我一点时间" style="width: 100%" @selection-change="chioceList">
                <el-table-column align="center" type="selection"></el-table-column>
                <el-table-column type="index" label="序号" align="center" width="55"></el-table-column>
                <el-table-column prop="schoolName" label="学校" align="center" min-width="170"></el-table-column>
                <el-table-column prop="academicLevel" label="学级" align="center" min-width="80"></el-table-column>
                <el-table-column prop="userName" label="联系人" align="center" min-width="80"></el-table-column>
                <el-table-column prop="phone" label="联系方式" align="center" min-width="100"></el-table-column>
                <!-- <el-table-column label="状态" align="center" width="80">
                    <template slot-scope="scope">
                        <span v-if="scope.row.status === '0'||scope.row.status === '1'">{{scope.row.status === '0'?'通过':'退回'}}</span>
                        <span v-else>--</span> 
                    </template>
                </el-table-column> -->
                <el-table-column label="操作" align="center" width="180">
                    <template slot-scope="scope">
                        <router-link class="view" :to="{name:'trainDetail',query:{aca:scope.row.academicLevel,id:scope.row.relationId}}">查看</router-link>
                        <span class="view" @click="downLoad(scope.row)">下载</span>
                    </template>
                </el-table-column>
            </el-table>
            </div>
            
            
            <div class="pagination-list" v-if="total&&total> 0">
                <pagination class="paddingTop" @change="pageChange"
                :current-page="listQuery.pageNum"
                :page-size="listQuery.pageSize" :total-page="lastPage"></pagination>
            </div>
            <form  method="post" class="downFrom">
            </form>
        </div>
    </div>
  </div>
</template>

<script>
import {getListAPI,getTimeListAPI,downLoadAPI,} from '@/api/train';
import Screen from '@/view/component/screen.vue';
import { requestMsg, confirm } from "@/utils/publicFunctions";
import store from '@/store'
import {baseUrl} from '@/utils/global'
//   import router from '../../router'
  export default {
    name: 'login',
    data() {
      return {
        baseUrl:baseUrl,
        timeList:[],
        list:[],
        timeStatus:'',
        schoolStatus:'',
        listLoading:false,
        listQuery:{
            pageNum:1,
            pageSize:10,
          relationId:"",
          status:"",
        },
        batchList:[],
        minHeight:100+'px',
        total:0,
        lastPage:0,
      }
    },
    created() {
        this.minHeight =this.tableHeigh(650)
    },
    mounted() {
      this.getList()
      this.getTimeList()
    },
    methods: {
      getList(){
        getListAPI(this.listQuery).then(res =>{
          const data = res.data.data
          if(res.data.code == 0){
            this.list = data.list
            this.total = data.total;
            this.lastPage = Math.ceil(Number(data.total) / Number(this.listQuery.pageSize));
            this.listLoading = false
          }else{
            this.$message.error(data.msg)
          }
        })
      },
      // 获取时间列表
      getTimeList(){
        getTimeListAPI().then(res=>{
          if(res.data.code == 0 ){
            this.timeList = res.data.data
          }else{
            this.$message.error(res.data.msg)
          }
        })
      },

      // 更改时间
      changeTime(value,index){
        this.timeStatus = index
        this.listQuery.academicLevel = value
        this.getList()
      },

      chioceList(val) {//勾选
        this.batchList = val;
      },
      // 批量下载
      batchDownLoad(){
        var fromClass = document.getElementsByClassName('downFrom')[0]
        let child = fromClass.childNodes
        if(child&&child.length > 0){
          for(let i = child.length - 1; i >= 0; i--) {
            fromClass.removeChild(child[i]);
          }
        }
        if(this.batchList.length == 0){
          this.$message.error('请至少选择一条数据')
        }else{
            fromClass.action = `${this.baseUrl}/school-sysuser/fg/supervise/statistics/exportList`
            this.batchList.forEach((item,index)=>{
              let input0 = document.createElement("input");
              let input1 = document.createElement("input");
              let input2 = document.createElement("input");
                input0.name = `list[${index}].relationId`
                input0.value = item.relationId
                input1.name = `list[${index}].academicLevel`
                input1.value = item.academicLevel
                // input2.name = `list[${index}].status`
                // input2.value = 2
              fromClass.appendChild(input0); 
              fromClass.appendChild(input1); 
              // fromClass.appendChild(input2); 
            })
          let button = document.createElement("button");
          fromClass.appendChild(button); 
          fromClass.submit()
        }
      },
      // 下载
      downLoad(row){
        var test=this.baseUrl + `/school-sysuser/fg/supervise/statistics/export?status=2&academicLevel=${row.academicLevel}&relationId=${row.relationId}`
        window.open(test,'_blank')
        this.$message.success("数据导出成功")
      },
      /*切换page*/
      pageChange(val) {
        this.listQuery.pageNum = val
        this.getList();
      },
    },
    components: {Screen},

  }
</script>

<style lang="less" scoped>
.downFrom{
  display: none;
}
.contain{
    width: 100%;
    background: #F4F5F9;
    .regulatory{
        width: 1200px;
        margin: auto;
        position: relative;
        ul{
            padding: 27px 20px;
            margin-bottom: 20px;
            border-top: 3px solid #3279FF;
            background: #fff;
        }
        .list-container{
            position: relative;
            background: #fff;
            min-height: 400px;
            border-bottom: 30px solid #F4F5F9;
            padding:60px 28px 20px 24px;
            .down{
                position: absolute;
                right: 28px;
                top: 20px;
                margin-bottom: 6px;
                width: 89px;
                height: 34px;
                line-height: 34px;
                background: #3279FF;
                color: #fff;
                font-size: 14px;
                text-align: center;
            }
            .down:hover{
                cursor: pointer;
            }
            .table-con{
              min-height: 300px;
            }
            .pagination-list{
                margin: 15px 0 ;
            }

        }
        .view{
        color: #3279FF;
        }
        .view:hover{
        cursor: pointer;
        }
        .out{
        position: absolute;
        top: 10px;
        right: 40px;
        }
        .out:hover {
        cursor: pointer;
        color: #3279FF;
        }
    }
}
</style>
