<template>
    <div class="contain" >
        <div class="regulatory">
          <div class="list-container">
            <div class="table-con">
              <el-table  :key="tableKey" :data="list" v-loading="listLoading" element-loading-text="给我一点时间"  border=""  highlight-current-row stripe>
                <!-- <el-table-column type="selection" align="center"></el-table-column> -->
                <el-table-column type="index" label="序号" align="center" width="50"></el-table-column>
                <el-table-column prop="publisher" label="出版社名称" min-width="120" align="center"></el-table-column>
                <el-table-column prop="resName" label="教材名称" min-width="140" align="center"></el-table-column>
                <el-table-column prop="isbn" label="ISBN" width="180" align="center"></el-table-column>
                <el-table-column  label="单价" width="100" align="center">
                  <template slot-scope="scope">
                    <span>{{filterPrice(scope.row.price)}}</span>
                  </template>
                </el-table-column>
                <el-table-column prop="num" label="数量" width="100" align="center"></el-table-column>
              </el-table>
            </div>
            <div class="pagination-list" v-if="total&&total> 0">
                <pagination class="paddingTop" @change="pageChange"
                :current-page="listQuery.pageNum"
                :page-size="listQuery.pageSize" :total-page="lastPage"></pagination>
            </div>
          </div>
        </div>
    </div>
</template>

<script>
import { getDetailsListAPI } from "@/api/train";
import { requestMsg, confirm } from "@/utils/publicFunctions";
import {baseUrl} from '@/utils/global'
import store from "@/store";

export default {
  data() {
    return {
      list:[
        // {
        //   press:'出版社111',
        //   bookName:"",
        //   isbn:'12312312423141241',
        //   price:'12',
        //   num:'45',
        // }
      ],
      listQuery:{
        pageNum:1,
        pageSize:100,
        relationId:'',
        academicLevel:'',
      },
      total:0,
      lastPage:0,
      listLoading:false,
      tableKey:'1'
    };
  },
  created() {

    const query = this.$route.query
    this.listQuery.relationId = query.id
    this.listQuery.academicLevel = query.aca
  },
  mounted() {
    this.getList();

  },
  methods: {

    //   获取用户列表
    getList() {
      this.listLoading = true;
      getDetailsListAPI(this.listQuery).then(res => {
          const data = res.data.data
        if (res.data.code === 0) {
          this.list = data.list
          this.total = data.total;
          this.lastPage = Math.ceil(Number(data.total) / Number(this.listQuery.pageSize));
          this.listLoading = false
        } else {
          this.$message.error("获取数据失败");
        }
      })
    },
    /*切换page*/
        pageChange(val) {

            this.listQuery.pageNum = val
            this.getList();
        },
  }
};
</script>

<style scoped lang="less">
.contain{
    width: 100%;
    background: #F4F5F9;
    .regulatory{
        width: 1200px;
        margin: auto;
        position: relative;
        .list-container{
          background: #fff;
          min-height: 500px;
          border-bottom: 30px solid #F4F5F9;
          padding:20px 28px 20px 24px;
          .table-con{
            min-height: 400px;
          }
        }

    }
}





.el-tabs__header,
.el-tabs--card > .el-tabs__header {
  border: 0;
  margin-bottom: 0;
}
.aa {
  margin-left: 80px;
}
.aa input {
  height: 30px;
}
.blue{
  color:blue;
}
ul{
    margin:0;
    padding:0;
}
li{
    float:left;
    list-style-type: none;
    margin:0 6px;
}
li:hover{
    cursor: pointer;
}
.lookMore{
  font-size: 30px;
  font-weight: 900;
  color: #606266;
}
.lookMore:hover{
  cursor: pointer;
  
  color: rgb(50, 50, 245);
}
.reList_item {
    font-size: 14px;
    font-weight: bold;
    color: rgba(69, 69, 69, 1);
    line-height: 30px;
    margin-bottom: 10px;
    .item_tit {
        // width: 922px;
        padding-left: 20px;
        width: auto;
        height: 56px;
        line-height: 56px;
        text-align: left;
        background: rgba(250, 250, 250, 1);
        border: 1px solid #eeeeee;
        border-bottom: none;
        position: relative;
        span{
          margin-right: 40px;
        }
    }
}
</style>
