<template>
    <div class="createPost-container">
        <div class="createPost-main-container">
            <div v-if="title == '查看学校用户'" class="backBtn" @click="backBtn">
                <i class="el-icon-arrow-left"></i>
                返回
            </div>
            <el-form
                :rules="rules"
                ref="dataForm"
                :model="formList"
                label-position="right"
                label-width="150px"
                class="form-container"
            >
            <el-row>
              <el-col :span="12">
                <el-form-item label="姓名：" prop="name">
                    <el-col :span="20">
                        <el-input
                            v-model="formList.name"
                            placeholder="请输入用户名"
                            :disabled="title == '查看学校用户'"
                        ></el-input>
                    </el-col>
                </el-form-item>
                <el-form-item label="手机号：" prop="phone">
                    <el-col :span="20">
                        <el-input
                            v-model="formList.phone"
                            placeholder="请输入手机号"
                            :disabled="title == '查看学校用户'"
                        ></el-input>
                    </el-col>
                </el-form-item>
                <el-form-item label="密码：" prop="password">
                    <el-col :span="20">
                        <el-input
                            v-model="formList.password"
                            placeholder="请输入密码"
                            :disabled="title == '查看学校用户'"
                        ></el-input>
                    </el-col>
                </el-form-item>
                <el-form-item label="教职工号：" prop="num">
                    <el-col :span="20">
                        <el-input
                            v-model="formList.num"
                            placeholder="请输入教职工号"
                            :disabled="title == '查看学校用户'"
                        ></el-input>
                    </el-col>
                </el-form-item>
                <el-form-item label="部门：" prop="departmentId">
                    <el-col :span="20">
                        <el-select  v-model="formList.departmentId" placeholder="请输入部门" :disabled="title == '查看学校用户'">
                            <el-option
                            v-for="item in departList"
                            :key="item.id"
                            :label="item.name"
                            :value="item.id"
                            >
                            </el-option>
                        </el-select>
                    </el-col>
                </el-form-item>
                <el-form-item label="性别：" prop="sex">
                    <el-col :span="20">
                        <el-radio-group v-model="formList.sex">
                          <el-radio :label="'1'">男</el-radio>
                          <el-radio :label="'0'">女</el-radio> 
                        </el-radio-group>
                    </el-col>
                </el-form-item>
                <el-form-item label="邮箱：" prop="email">
                    <el-col :span="20">
                        <el-input
                            v-model="formList.email"
                            placeholder="请输入邮箱"
                            :disabled="title == '查看学校用户'"
                        ></el-input>
                    </el-col>
                </el-form-item>
                <el-form-item label="角色(可多选)：" prop="roleIdList">
                    <el-col :span="20">
                      <!-- <el-button style="margin-bottom:6px" type="primary" @click="openChoiseRole" :disabled="title == '查看学校用户'">选择</el-button> -->
                      <!-- <el-input v-model="formList.roleIdList"  placeholder="请选择角色" disabled>{{roleStr}}</el-input> -->
                      <el-select  v-model="formList.roleIdList" no-data-text="请选择角色" filterable  multiple clearable :disabled="title == '查看学校用户'">
                        <!-- <el-option label="全部" :value="null"></el-option> -->
                        <el-option
                        v-for="item in roleList"
                        :key="item.id"
                        :label="item.name"
                        :value="item.id"
                        >
                        </el-option>
                      </el-select>
                    </el-col>
                </el-form-item>
                <!-- <el-form-item label="超级管理员：" prop="isAdmin">
                    <el-col :span="20">
                        <el-radio-group v-model="formList.isAdmin">
                          <el-radio :label="'1'">是</el-radio>
                          <el-radio :label="'0'">否</el-radio>
                        </el-radio-group>
                    </el-col>
                </el-form-item> -->
                </el-col>
                <el-col :span="12">
                  <el-row>
                        <img
                            v-if="!formList.img"
                            src="../../../../assets/img/default.png"
                            class="avatar"
                        >
                        <img
                            v-if="formList.img"
                            :src="imgUrl(formList.img)"
                            class="avatar"
                        >
                        <el-upload
                            :action="`${uploadUrl}upload/img`"
                            accept="image/jpeg, image/gif, image/png, image/bmp"
                            :on-success="handleSuccess"
                            :show-file-list="false"
                        >
                            <el-button size="small" type="primary" v-if="title != '查看学校用户'">点击上传</el-button>
                        </el-upload>
                        </el-row>
                    <div class="picture-tip">建议尺寸286*390，仅支持jpg、jpeg、png、gif、png格式，不超过2M</div>
                </el-col>
                </el-row>
                <el-row>
                <el-form-item v-if="title != '查看学校用户'">
                    <el-button class="form-submit" @click="submitFrom('dataForm')">保存</el-button>
                    <el-button @click="$router.back()">取消</el-button>
                </el-form-item>
                </el-row>
            </el-form>
             <!-- 选择角色 -->
            <!-- <el-dialog
              title="选择角色"
              :visible.sync="dialogVisible"
              width="60%"
              top="15vh">
              <el-form inline class="form-inline">
                <el-form-item label="角色名称">
                  <el-input @keyup.enter.native="handleFilter" v-model="roleListQuery.name" clearable></el-input>
                </el-form-item>
                <el-form-item >
                  <el-button @click="handleFilter">搜索</el-button>
                </el-form-item>
              </el-form>
              <el-table :data="list" v-loading="listLoading" element-loading-text="给我一点时间" border highlight-current-row stripe @selection-change="chioceList" >
                <el-table-column type="selection" align="center"></el-table-column>    
                <el-table-column label="角色名称" min-width="160" align="center">
                  <template slot-scope="scope">
                    <span>{{scope.row.name}}</span>
                  </template>
                </el-table-column>
                <el-table-column label="排序号" min-width="140" align="center">
                  <template slot-scope="scope">
                    <span v-if="scope.row.sort">{{scope.row.sort}}</span>
                    <span v-else>——</span>
                  </template>
                </el-table-column>
              </el-table>
              <div class="pagination-container">
                <el-pagination @size-change="handleSizeChange" @current-change="handleCurrentChange" :current-page="roleListQuery.pageNum" :page-sizes="[30,50,100,200,500]" :page-size="roleListQuery.pageSize" layout="total, sizes, prev, pager, next, jumper" :total="total" align="center">
                </el-pagination>
              </div>
              <span slot="footer" class="dialog-footer">
                <el-button type="primary" @click="choiseRole">确 定</el-button>
                <el-button @click="dialogVisible = false">取 消</el-button>
              </span>
            </el-dialog> -->
        </div>
    </div>
</template>

<script>
import {
  saveAPI,
  detailsAPI,
  departListAPI,
  editAPI,
  roleListAPI
} from "@/api/backstage/permissions/teachInfo";
import { uploadUrl } from "@/utils/global.js";
import { getMultipleSelectionIDs } from "@/filters/getIds";
// import Tinymce from "@/components/Tinymce";
import store from "@/store";

export default {
//   components: { Tinymce },
  data() {
    const validatePhone = (rule,value,callback) => {
      let reg=/^[1][3,4,5,7,8][0-9]{9}$/;  
      if (!reg.test(value)) {  
          callback(new Error('请输入11位正确格式的手机号')) 
      } else {  
          callback() 
      }
    };
    // const validatePassword = (rule, value, callback) => {
    //     let reg = /^[0-9A-Za-z]{6,10}$/
    //     if (!reg.test(value)) {
    //       callback(new Error("请输入以字母或数字开头，英文、数字组成的6-10位密码"))
    //     } else {
    //       callback()
    //     }
    //   }
    const regPwd = /^[a-zA-Z0-9-_~\!\@\#\$\%\^\&\*\(\)\+\=]{6,20}$/;
    const validatePassword = (rule, value, callback) => {
      if(value.length > 20 || value.length < 6){
        callback(new Error(`密码6-20位！现${value.length}位！`))
      } else if ( !regPwd.test(value) ) {
        callback(new Error('请使用字母、数字或符号“~!@#$%^&*()_+-=”的组合，6-20个字符'));
      } else {
        callback()
      }
    };

    return {
      title: "添加学校用户",
      formList: {
        name: "",
        phone: "",
        password: "",
        sex: '1',
        departmentId: "",
        relationName:'',
        roleIdList:[],
        img:'',
        type:0,
        // isAdmin:'0',
      },
      provinceOptions:[],
      cityOptions:[],
      provinceForm:{
          province:''
      },
      schoolName:'',
      rules: {
        name: [ {required: true,message: "请输入用户名",trigger: "change"},{max: 20,message: "请输入20字以内的用户名",trigger: "change"}],
        // logo: [{ required: true, trigger: "change", message: "请上传学校用户logo图片"}],
        // roleIdList: [{ required: true, trigger: "change", message: "请选择角色" }],
        num: [{ required: true, trigger: "change", message: "请输入教职工号" },{max: 20,message: "请输入20字以内的教职工号",trigger: "change"}],
        departmentName: [{ required: true, trigger: "change", message: "请选择部门" }],
        sex: [{ required: true, trigger: "change", message: "请选中性别" }],
        phone: [{ required: true, trigger: "change",validator:validatePhone}],
        password: [{ required: true, trigger: "change",validator:validatePassword}],
        sex: [{ required: true, trigger: "change", message: "请选中性别" }],
        email:[{ required: false, trigger: "change", pattern: "^[a-zA-Z0-9_.-]+@[a-zA-Z0-9-]+(\.[a-zA-Z0-9-]+)*\.[a-zA-Z0-9]{2,6}$",message: "请输入正确格式的邮箱" }],
        
      },
      uploadUrl: uploadUrl,
      departList:[],
      departListQuery: {
        pageNum: 1,
        pageSize: 100,
      },
      roleListQuery: {
        pageNum: 1,
        pageSize: 100,
        type:0,
        relationId:''
      },
      roleList:[],
    };
  },
  mounted() {
    this.getOid();
    this.getDepartList()
    this.getRoleList()
  },
  methods: {
    //   判断添加还是修改
    getOid() {
      const info = this.$route.query
      this.title = info.title;
      let id = info.id;
      this.$route.meta.title = this.title;
      if (id && this.title != "添加学校用户") {
        detailsAPI(id).then(res => {
          if(res.data.code === 0){
            this.formList = res.data.data;
            let list = [];
            this.formList.password = '******'
            if(this.formList.roleIdList){
              this.formList.roleIdList.forEach(item => {
                list.push(item.id)
              });
            }
            this.formList.roleIdList = list
          }
        });
      }
    },
    // 获取部门列表
   getDepartList(){ 
      departListAPI().then(res => {
          res.data.code === 0
            ? (this.departList = res.data.data.list)
            : this.$message.error("请求出错啦");
        });
    },
    // 获取角色列表
    getRoleList(){
      roleListAPI().then(res => {
        if(res.data.code === 0){
          this.roleList = res.data.data.list
        } else {
          this.$message.error('获取数据失败');
        }
      })
    },

    // 获取图片
    getImg() {},

    // 图片上传成功
    handleSuccess(res, file) {
      // this.pictureName = res.filePath;
      this.formList.img = res.filePath;
    },
    // 添加学校用户 修改学校用户
    submitFrom(dataForm) {
      this.$refs["dataForm"].validate(valid => {
        if (valid) {
          if (this.title == "添加学校用户") {
            saveAPI(this.formList).then(res => {
              if (res.data.code === 0) {
                this.$message.success("添加学校用户成功");
                this.$router.back();
              } else {
                this.$message.error(res.data.msg);
              }
            });
          } else if (this.title == "修改学校用户") {
            editAPI(this.formList).then(res => {
              if (res.data.code === 0) {
                this.$message.success("修改学校用户成功");
                this.$router.back();
              } else {
                this.$message.error(res.data.msg);
              }
            });
          }
        } 
      });
    },


    // 查看返回
    backBtn() {
      this.$router.back();
    }
  }
};
</script>

<style rel="stylesheet/scss" lang="scss" scoped>
@import "src/style/mixin.scss";

.createPost-container {
  position: relative;
  .createPost-main-container {
    padding: 50px;
    .el-dialog__header {
      background: #15d;
      color: #fff;
    }
  }
}
.backBtn {
  margin-bottom: 20px;
  font-weight: bold;
}
.backBtn:hover {
  cursor: pointer;
}
.picture-tip {
  color: gray;
  font-size: 12px;
  margin-top: 7px;
  line-height: 20px;
}
.avatar-uploader-icon {
  font-size: 28px;
  color: #8c939d;
  width: 178px;
  height: 178px;
  line-height: 178px;
  text-align: center;
}
.avatar {
  width: 100px;
  height: 100px;
  border-radius: 50%;
}
.upload-demo {
  margin-left: 10px;
}
</style>

