<template>
    <div class="app-container calendar-list-container">
        <div class="nav-buttons-container">
            <router-link :to="{ path:`addTeach`,query:{title:'添加学校用户'}}" ><el-button v-if="authBtns.filter(i => i.idName=='addBtn').length>0 && authBtns.filter(i => i.idName=='addBtn')[0].icon">{{authBtns.filter(i => i.idName=='addBtn')[0].name}}<i  :class="[authBtns[authBtns.map(i => i.idName).indexOf('addBtn')].icon, 'el-icon--right']"></i></el-button></router-link>
            <el-button  v-if="authBtns.filter(i => i.idName=='importBtn').length>0 && authBtns.filter(i => i.idName=='importBtn')[0].icon" @click="importBtn">{{authBtns.filter(i => i.idName=='importBtn')[0].name}}<i :class="[authBtns[authBtns.map(i => i.idName).indexOf('importBtn')].icon, 'el-icon--right']"></i></el-button>
            <el-button  v-if="authBtns.filter(i => i.idName=='batchDeleteBtn').length>0 && authBtns.filter(i => i.idName=='batchDeleteBtn')[0].icon" @click="batchDeleteBtn">{{authBtns.filter(i => i.idName=='batchDeleteBtn')[0].name}}<i :class="[authBtns[authBtns.map(i => i.idName).indexOf('batchDeleteBtn')].icon, 'el-icon--right']"></i></el-button>
            <el-button  v-if="authBtns.filter(i => i.idName=='printBtn').length>0 && authBtns.filter(i => i.idName=='printBtn')[0].icon" @click="printBtn">{{authBtns.filter(i => i.idName=='printBtn')[0].name}}<i  :class="[authBtns[authBtns.map(i => i.idName).indexOf('printBtn')].icon, 'el-icon--right']"></i></el-button>
            <el-button v-if="authBtns.filter(i => i.idName=='upBtn').length>0 && authBtns.filter(i => i.idName=='upBtn')[0].icon" @click="onlineBtn(1)">{{authBtns.filter(i => i.idName=='upBtn')[0].name}}<i :class="[authBtns[authBtns.map(i => i.idName).indexOf('upBtn')].icon, 'el-icon--right']"></i></el-button>
            <el-button  v-if="authBtns.filter(i => i.idName=='downBtn').length>0 && authBtns.filter(i => i.idName=='downBtn')[0].icon" @click="outlineBtn(0)">{{authBtns.filter(i => i.idName=='downBtn')[0].name}}<i :class="[authBtns[authBtns.map(i => i.idName).indexOf('downBtn')].icon, 'el-icon--right']"></i></el-button>

             <router-link :to="{ path:`addMajor`,query:{title:'添加专业'}}" ></router-link>


        </div>
        <!-- 检索 -->
        <el-form inline class="form-inline">
          <el-col :span="24">
          <el-form-item>
            <div class="choise">
              <div class="menu-choise" >部门：</div>
              <div class="con-choise">
                <div class="all-choise" :class="departStatus == -1 ? 'blue':''" v-if="departList" @click="choiseDepart()">全部</div>
                <ul>
                    <li v-for="(item,index) in departList" :key="index" @click="choiseDepart(item.id,index)" :class="departStatus == index ? 'blue':''">{{item.name}}</li>
                </ul>
              </div>
            </div>
          </el-form-item>
          </el-col>
          <el-form-item label="角色：" >

            <el-select v-model="listQuery.roleId"  clearable>
              <el-col :span="24">
              <el-option label="全部" :value="null"></el-option>
                <el-option
                  v-for="item in roleList"
                  :key="item.id"
                  :label="item.name"
                  :value="item.id"
                  >
              </el-option>
              </el-col>
            </el-select>

          </el-form-item>
          <el-form-item label="状态：">
            <el-select v-model="listQuery.status">
              <el-option label="全部" value=""></el-option>
              <el-option label="禁用" value="0"></el-option>
              <el-option label="启用" value="1"></el-option>
            </el-select>
          </el-form-item>
          <el-form-item label="用户名：">
            <el-input @keyup.enter.native="handleFilter" v-model="listQuery.name" clearable></el-input>
          </el-form-item>
          <el-form-item label="手机号：">
            <el-input @keyup.enter.native="handleFilter" v-model="listQuery.phone" clearable></el-input>
          </el-form-item>
          <el-form-item>
            <el-button @click="handleFilter">检索</el-button><el-button @click="resetFilter">重置</el-button>
          </el-form-item>
        </el-form>

        <!-- 用户列表 -->
        <el-table
            :key="tableKey"
            :data="list"
            v-loading="listLoading"
            element-loading-text="给我一点时间"
            border=""
            highlight-current-row
            stripe
            @selection-change="chioceList"
        >
            <el-table-column type="selection" align="center"></el-table-column>
            <el-table-column type="index" label="序号" width="60" align="center"></el-table-column>
            <el-table-column label="UID" min-width="160" align="center">
                <template slot-scope="scope">
                    <span>{{scope.row.name}}</span>
                </template>
            </el-table-column>
            <el-table-column label="用户名" min-width="160" align="center">
                <template slot-scope="scope">
                    <span>{{scope.row.name}}</span>
                </template>
            </el-table-column>
            <el-table-column label="手机号" min-width="120" align="center">
                <template slot-scope="scope">
                    <span>{{scope.row.phone}}</span>
                </template>
            </el-table-column>
            <el-table-column label="部门" min-width="140" align="center">
                <template slot-scope="scope">
                    <span>{{scope.row.departmentName}}</span>
                </template>
            </el-table-column>
            <el-table-column label="角色" min-width="140" align="center">
                <template slot-scope="scope">
                    <span v-if="scope.row.roleIdList">{{scope.row.roleIdList}}</span>
                    <span v-else>-</span>
                </template>
            </el-table-column>
            <el-table-column label="状态" min-width="140" align="center">
                <template slot-scope="scope">
                    <span v-if="scope.row.status==1">启用</span>
                    <span v-if="scope.row.status==0" style="color:red">禁用</span>
                </template>
            </el-table-column>
            <el-table-column label="最后登录时间" min-width="140" align="center">
                <template slot-scope="scope">
                    <span v-if="scope.row.loginTime">{{scope.row.loginTime.substr(0,10)}}</span>
                    <span v-else>——</span>
                </template>
            </el-table-column>
            <el-table-column class-name="small-padding fixed-width" width="180" label="操作"  align="center">
                <template slot-scope="scope">
                <router-link :to="{path:`addTeach`,query:{title:'查看学校用户',id:scope.row.id}}">
                    <i v-if="authBtns.filter(i => i.idName=='viewBtn').length > 0" :class="authBtns.filter(i => i.idName=='viewBtn')[0].icon" :title="authBtns.filter(i => i.idName=='viewBtn')[0].name"></i>
                </router-link>
                <router-link :to="{path:`addTeach`,query:{title:'修改学校用户',id:scope.row.id}}">
                    <i v-if="authBtns.filter(i => i.idName=='editBtn').length > 0" :class="authBtns.filter(i => i.idName=='editBtn')[0].icon" :title="authBtns.filter(i => i.idName=='editBtn')[0].name"></i>
                </router-link>
                    <i v-if="authBtns.filter(i => i.idName=='deleteBtn').length > 0"  @click="deleteBtn(scope.row)" :class="authBtns.filter(i => i.idName=='deleteBtn')[0].icon" :title="authBtns.filter(i => i.idName=='deleteBtn')[0].name"></i>
                </template>
            </el-table-column>
        </el-table>
        <div class="pagination-container">
            <el-pagination
                @size-change="handleSizeChange"
                @current-change="handleCurrentChange"
                :current-page="listQuery.pageNum"
                :page-sizes="[30,50,100,200,500]"
                :page-size="listQuery.pageSize"
                layout="total, sizes, prev, pager, next, jumper"
                :total="total"
                align="center"
            ></el-pagination>
        </div>
        <!-- 加减积分 -->
        <el-dialog :title="integralTitle" :visible.sync="dialogPvVisible" width="30%">
            <el-form :rules="rules" ref="dataForm" :model="formList">
                <el-form-item label="积分值：" prop="num">
                  <el-col :span="10">
                    <el-input v-model="formList.num" placeholder="请填写整数值"></el-input>
                  </el-col>
                </el-form-item>
                <el-form-item>
                    <el-button class="form-submit" @click="submitFrom('dataForm')">确定</el-button>
                    <el-button @click="dialogPvVisible=false">取消</el-button>
                </el-form-item>
            </el-form>
        </el-dialog>
        <!-- 导入 -->
        <el-dialog
          title="导入Excel"
          :visible.sync="importExcDialog"
          width="25%"
          style="height:auto !important;"
        >
          <p>请选择要导入的文件，文件类型只支持Excel。</p>
          <div class="importExc">
            <input type="file" @change="fileSelect" ref="file">
            <a class="fake-download" :href="`${baseUrl}/bg-member/%E7%94%A8%E6%88%B7%E5%88%97%E8%A1%A8%E5%AF%BC%E5%85%A5%E6%A8%A1%E6%9D%BF.xls`">下载模板文件</a>
          </div>
          <!-- <el-progress :percentage="downLoadVal" :stroke-width="12" color="#67C23A"></el-progress> -->
          <div slot="footer" class="dialog-footer">
            <el-button @click="confirmImport">确 定</el-button>
            <el-button @click="importExcDialog = false">取 消</el-button>
          </div>
        </el-dialog>
        <!-- 导入错误信息 -->
        <el-dialog
          title="错误信息"
          :visible.sync="errorExcDialog"
          width="55%"
          style="height:auto !important;"
        >
          <div class="importExc">
             <!-- 错误列表 -->
            <el-table
                :key="tableKey1"
                :data="errorList"
                v-loading="listLoading"
                element-loading-text="给我一点时间"
                border=""
                highlight-current-row
                stripe
                @selection-change="chioceList"
            >
                <el-table-column label="部门名称" prop="departmentName" min-width="80" align="center"></el-table-column>
                <el-table-column label="姓名" prop="name" min-width="60" align="center"></el-table-column>
                <el-table-column label="教职工号" prop="num" min-width="100" align="center"></el-table-column>
                <el-table-column label="性别" prop='sex' min-width="40" align="center"></el-table-column>
                <el-table-column label="电话" prop="phone" min-width="80" align="center"></el-table-column>
                <el-table-column label="错误信息" min-width="120" align="center">
                    <template slot-scope="scope">
                        <span>{{scope.row.msg}}</span>
                    </template>
                </el-table-column>
            </el-table>
          </div>
          <div slot="footer" class="dialog-footer">
            <!-- <el-button @click="confirmImport">确 定</el-button> -->
            <el-button @click="printError">导出信息</el-button>
            <el-button @click="errorExcDialog = false">取 消</el-button>
          </div>
        </el-dialog>
    </div>
</template>

<script>
import {
  getListAPI,
  saveAPI,
  batchDeleteAPI,
  detailsAPI,
  updateAPI,
  changeStatusAPI,
  departListAPI,
  roleListAPI,
  resetPasswordAPI,
  excelImportAPI
} from "@/api/backstage/permissions/teachInfo";
import { getMultipleSelectionIDs,getMultipleSelectionRole } from "@/filters/getIds";
import { requestMsg, confirm } from "@/utils/publicFunctions";
import Cookies from "js-cookie";
import store from "@/store";
import {baseUrl} from '@/utils/global'

export default {
  data() {
    // 排序数
    const validateNum = (rule, value, callback) => {
      let reg = /^([1-9]\d{0,4})$/;
      if (!reg.test(value)) {
        callback(new Error("请输入1-9999之间的整数"));
      } else {
        callback();
      }
    };
    return {
      baseUrl:baseUrl,
      subHidden:true,
      authBtns: [],
      tableKey: 0,
      tableKey1: 1,
      list: null,
      total: null,
      listLoading: true,
      title: "添加",
      dialogAddVisible: false,
      formList: {
        ids:[],
        num:''
      },
      integralNum:'',
      rules: {
        num: [{ required: true, trigger: "blur,change", validator: validateNum }]
      },
      listQuery: {
        pageNum: 1,
        pageSize: 100,
        type:0
      },
      departList:[],
      departListQuery: {
        pageNum: 1,
        pageSize: 100,
      },
      departStatus:-1,
      roleListQuery: {
        pageNum: 1,
        pageSize: 100,
        type:0,
        relationId:''
      },
      roleList:[],
      batchList: [],
      integralTitle:'发放积分',
      dialogPvVisible: false,
      importExcDialog:false,
      dialogAddVisible: false,
      errorExcDialog:false,
      errorList:[],
      errorId:''
    };
  },
  created() {
    this.authBtns = store.getters.pageBtn[this.$route.meta.routerIds[0]];
  },
  mounted() {
    this.getList();
    this.getDepartList();
    this.getRoleList()
  },
  methods: {
    //   获取用户列表
    getList() {
      this.listLoading = true;
      const info = this.$route.query
      getListAPI(this.listQuery).then(res => {
        if (res.data.code === 0) {
          this.list = res.data.data.list;
          this.list.forEach(item => {
            let str = '';
            item.roleIdList.forEach(e =>{
              str += e.name + ','
            })
            item.roleIdList = str.slice(0,str.length-1)
          });
            this.total = res.data.data.total;
          } else {
            this.$message.error("获取数据失败");
          }
          this.listLoading = false;
        });
     },
    // 获取部门列表
    getDepartList(){
      this.departListQuery.token = this.$store.getters.userToken
      departListAPI(this.departListQuery).then(res => {
          res.data.code === 0
            ? (this.departList = res.data.data.list)
            : this.$message.error("请求出错啦");
        });
    },
    // 选择部门
     choiseDepart(item, index){
        if(item){
          this.departStatus = index
          this.listQuery.departmentId = item
        }else{
          this.departStatus = -1
          this.listQuery.departmentId = ""
        }
        this.getList();
    },
    // 获取角色
    getRoleList(){
      roleListAPI(this.roleListQuery).then(res => {
          res.data.code === 0
            ? (this.roleList = res.data.data.list)
            : this.$message.error("请求出错啦");
        });
    },




    // 导入
    importBtn() {
      this.importExcDialog = true
      this.$refs.file ? this.$refs.file.value = null : true
    },
    // 文件选择
    fileSelect() {
      if (this.$refs.file.files[0]) {
        let file = this.$refs.file.files[0];
        if (file.type !=="application/vnd.ms-excel"&&file.type !=='application/vnd.openxmlformats-officedocument.spreadsheetml.sheet') {
          this.$message.warning("导入文件只能是 xls/xlsx 格式！");
          this.$refs.file.value = null
        }else{
          let formData = new FormData();
          formData.append("file", file);
          // excelImportAPI(formData).then(res =>{
          //   if(res.data.code!= 0){
          //     this.$message.error(JSON.parse(res.data.msg).msg)
          //   }else{
          //   }
          // })
        }
      }
    },
    // 确认导入
    confirmImport(){
      if (this.$refs.file.files[0]) {
        let formData = new FormData();
        formData.append("file", this.$refs.file.files[0]);
        excelImportAPI(formData).then(res => {
          if (res.data.status) {
            const data = res.data.data
            if(data.list.length > 0){
              this.errorExcDialog = true;
              this.errorList = data.list
              this.errorId = data.errId
            }else{
              this.$message.success("导入成功！");
              this.importExcDialog = false;
              this.getList()
            }
            // this.$message.success("导入成功！");
            // this.importExcDialog = false;
            // this.getList()
          } else {
            this.$message.error(res.data.msg);
          }
        });
      } else {
        this.$message.warning("请选择文件后再执行导入！");
      }
    },


    // 错误导出
    printError(){
      this.errorExcDialog = false
      var test=this.baseUrl + '/fg-member/fg/teacher/error?id='+this.errorId
      window.open(test,'_blank')
    },






    // 删除一条
    deleteBtn(item){
      const ids = [item.id]
        confirm.apply(this, ["确认删除吗？"]).then(() => {
          batchDeleteAPI(ids).then(res => {
            requestMsg.apply(this, [res.data, "删除"]);
            this.getList();
          });
        });
    },
    // 删除
    batchDeleteBtn() {
      if (this.batchList.length == 0) {
        this.$message.error("请选择至少一条记录进行操作");
      } else {
        const ids = getMultipleSelectionIDs(this.batchList);
        confirm.apply(this, ["确认删除吗？"]).then(() => {
          batchDeleteAPI(ids).then(res => {
            requestMsg.apply(this, [res.data, "删除"]);
            this.getList();
          });
        });
      }
    },

    // 导出
    printBtn(){

    if(this.list.length > 0){
        let obj = this.listQuery
        var test=this.baseUrl + '/fg-member/fg/teacher/export?token='+this.$store.getters.userToken+'&'
        for(var prop in obj){
            if(obj[prop]){
                test = test+prop+'='+obj[prop]+'&'
            }
        }
        test = test.substr(0,test.length-1)
        window.open(test,'_blank')
        this.$message.success("数据导出成功")
      }else{
          this.$message.error('当前暂无数据可供导出')
      }
    },
    // 启用
    onlineBtn(status){
        if (this.batchList.length == 0) {
            this.$message.error("请选择至少一条记录进行操作");
        } else {
            const ids = getMultipleSelectionIDs(this.batchList);
            const data = {
                ids:ids,
                status:status
            }
            changeStatusAPI(data).then(res => {
                requestMsg.apply(this, [res.data, "启用"]);
                this.getList();
            });
        }
    },
    // 禁用
    outlineBtn(status){
        if (this.batchList.length == 0) {
            this.$message.error("请选择至少一条记录进行操作");
        } else {
            const ids = getMultipleSelectionIDs(this.batchList);
            const data = {
                ids:ids,
                status:status
            }
            changeStatusAPI(data).then(res => {
                requestMsg.apply(this, [res.data, "禁用"]);
                this.getList();
            });
        }
    },
    // 发放积分
    plusBtn(){
      if (this.batchList.length == 0) {
        this.$message.error("请选择至少一条记录进行操作");
      } else {
        this.dialogPvVisible =true
        this.integralNum = '+'
      }
    },
    // 减少积分
    minusBtn(){
      if (this.batchList.length == 0) {
        this.$message.error("请选择至少一条记录进行操作");
      } else {
        this.dialogPvVisible =true
        this.integralNum = '-'
      }
    },
    // 改变积分
    submitFrom(dataForm){
      this.$refs["dataForm"].validate(valid => {
        if (valid) {
          this.formList.ids = getMultipleSelectionIDs(this.batchList);
          this.formList.num = this.integralNum + this.formList.num
          changeIntegalAPI(this.formList).then(res => {
            requestMsg.apply(this, [res.data, "修改积分"]);
            this.getList();
            this.dialogPvVisible = false
            this.formList.num = ''
          });
        }
      })
    } ,
    chioceList(val) {
      //勾选
      this.batchList = val;
    },
    // 筛选
    handleFilter() {
      store.dispatch("SetSupplierSerKeys", this.listQuery).then(res => {

      });
      this.listQuery.pageNum = 1;
      this.getList();
    },
    //重置
    resetFilter() {
      this.listQuery = {
        pageNum: 1,
        pageSize: this.listQuery.pageSize
      };
      this.getList();
    },
    // 改变分页大小
    handleSizeChange(val) {
      this.listQuery.pageSize = val;
      this.getList();
    },
    // 页数改变
    handleCurrentChange(val) {
      this.listQuery.pageNum = val;
      this.getList();
    }
  }
};
</script>

<style scoped>
.blue{
  color:blue;
}
ul{
    margin:0;
    padding:0;
}
li{
    float:left;
    list-style-type: none;
    margin:0 6px;
}
li:hover{
    cursor: pointer;
}
.el-tabs__header,
.el-tabs--card > .el-tabs__header {
  border: 0;
  margin-bottom: 0;
}
.aa {
  margin-left: 80px;
}
.aa input {
  height: 30px;
}
</style>
