<template>
    <div>
        <div class="personal-top" v-cloak>
            <div class="personal-info">
                <div>

                  <img class="personal-avatar" :src="imgUrl(this.$store.getters.userImg)" alt="" v-if="this.$store.getters.userImg&&this.$store.getters.userImg!='null'&&this.$store.getters.userImg!=''" @mouseenter="changeUser =true">
                  <img class="personal-avatar" src="../../../static/img/defoultH.png" alt="" v-if="this.$store.getters.userImg=='null'||this.$store.getters.userImg==''||!this.$store.getters.userImg" @mouseenter="changeUser =true">
                  <div class="change-info" v-show="changeUser" @mouseenter="changeUser =true">
                    <div class="change-info-text" @click="toChangeDetail">编辑信息</div>
                  </div>
                </div>
                <div class="personal-detail" @click="toChangeDetail">
                    <span class="personal-name">{{$store.getters.userName}}</span>
                    <span class="personal-phone">{{userPhone}}</span>
                </div>
            </div>
            <div class="other-info">
                <div class="register">
                    <div class="register-con">
                        <img class="register-img" src="../../assets/img/icon9.png" alt="">
                        <div class="register-text">

                            <div class="register-btn mark" v-if="signInfo.mark == '1'">已签到</div>
                            <div class="register-btn" v-else @click="signIn">签到（+{{signInfo.score}}积分）</div>
                            <div class="register-title">
                                已连续签到{{signInfo.continueSign}}天
                                <img
                                    class="tip-img"
                                    src="../../assets/img/icon10.png"
                                    alt=""
                                    @mouseenter="tipInfo =true"
                                    @mouseout="tipInfo = false"
                                >
                            </div>
                        </div>
                    </div>
                    <div class="tip-info" v-if="tipInfo" >
                        <img src="../../assets/img/tip_info_bg.png" alt="">
                        <div class="tip-info-img">
                        <img src="../../assets/img/tip_info_title.png" alt=""><span class="con-title">签到有礼</span></div>
                        <div class="tip-info-con">
                            <div class="con-title1">今日签到积分：<span>{{signInfo.score}}积分</span></div>
                            <div class="con-title2" v-html="signInfo.text"></div>
                        </div>
                    </div>
                </div>
                <img class="bg-img" src="../../assets/img/separate.png" alt="">
                <integral-mode :integralNum="integralNum" @toExchange="toExchange"></integral-mode>
            </div>
        </div>
        <div class="book-apply">
            <title-nav :titleMsg="bookTitle" @toActivity="applyBook"></title-nav>
            <div class="book-container">
                <div class="book-nav" v-if="newBookapply">
                    <span class="nav-title title1">图书信息</span>
                    <span class="nav-title title2">单号</span>
                    <span class="nav-title title2">申请时间</span>
                    <span class="nav-title title3">状态</span>
                </div>
                <loading v-if="LoadStatus"></loading>
                <div v-else>
                  <div class="book-con" v-if="newBookapply">
                      <div class="book-seat con1">
                          <div class="book-img">
                            <img class="img" v-if="newBookapply.cover" :src="imgUrl(filterImgAddress(newBookapply.cover))" alt="" @error="imgError(newBookapply)">
                            <img class="img" v-else src="@/assets/img/01-图书.png" alt="">
                          </div>
                          <div class="book-info">
                              <span class="info-title" :title="newBookapply.resourceName">{{newBookapply.resourceName}}</span>
                              <span class="info-text">{{newBookapply.author}}著 | {{newBookapply.press}}</span>
                              <span class="info-text">出版时间 ：<span v-if="newBookapply.publishDate">{{newBookapply.publishDate.substr(0,10)}}</span></span>
                              <span class="info-text">ISBN : {{newBookapply.isbn}}0</span>
                              <span class="info-text">
                                  定价
                                  <span class="info-price">￥{{filterPrice(newBookapply.price)}}</span>
                              </span>
                          </div>
                      </div>
                      <div class="book-seat con2">{{newBookapply.applyNumber}}</div>
                      <div class="book-seat con2">{{newBookapply.applyDate}}</div>
                      <div class="book-seat con3">{{status[newBookapply.applyStatus]}}</div>
                  </div>
                  <div v-else>
                      <img class="book-none" src="@/assets/img/12-暂无内容.jpg" alt="">
                  </div>
                </div>
            </div>
        </div>
        <!-- 最近活动 -->
        <!-- <div class="new-activity">
          <titleNav :titleMsg="activityTitle" @toActivity="toActivity" ></titleNav>
          <loading v-if="isLoading"></loading>
          <div v-else>
            <div v-if="actList.length > 0">
              <activityList :list="actList" @signUp="signUp"></activityList>
            </div>
            <div v-else class="activity-none">
                <img  src="@/assets/img/12-暂无内容.jpg" alt="">
            </div>
          </div>
        </div> -->


        <!-- 报名弹窗 -->
        <!-- <div v-if="signUpShow">
        <activity-sign :list="list" :form="form" :title="title" :disabled="disabled" @onSubmit="onSubmit" @closeSign="signUpShow=false"></activity-sign>
        </div> -->
    </div>
</template>
<script>
import titleNav from "./components/title";
import Loading from "./components/loading";
import activityList from "./components/activityList";
import integralMode from "./components/integralMode";
import activitySign from "./components/activitySign"
import {getNewActListAPI,getApplyFromAPI,saveActApplyAPI,getactivityDetailAPI,getUserIntegrallNumAPI,getNewBookApplyAPI,getUserSignInfoAPI,userSignInAPI } from "@/api/personal/detail"
import {changeContent} from "@/utils/changeContent"
import {changeFromData,judgeValue} from "@/utils/changedata"
export default {
  data() {
    return {
      title:'填写报名信息',
      bookTitle: "最近样书申请",
      activityTitle: "最新活动",
      tipInfo:false,
      signUpShow:false,
      activityId:'',
      form:{},
      applyDetail:{},
      userPhone:'',
      list:[],
      listQuery:{
        pageNum:1,
        pageSize:2,
      },
      actList:[],
      integralNum:null,
      newBookapply:{},
      status:[// 0：待审核 1：审核中 2：已通过 3：未通过 4：已发货 5：已收货 ,6：已反馈 ,7：已取消
        // '待审核',
        '审核中',
        '审核中',
        '待发货',
        '未通过',
        '待收货',
        '待反馈',
        '已反馈',
        '已取消',

      ],

      disabled:false,
      signInfo:{
        continueSign:'',
        count:'',
        createTime:'',
        mark:'',
        score:'',
      },
      changeUser:false,
      isLoading:false,
      LoadStatus:false,
    };
  },
  mounted(){
    this.userPhone=this.$store.getters.userPhone.replace(/1(\d{2})\d{4}(\d{4})/g,"1$1****$2");
    this.getNewBookApply()
    this.singInfo()
    this.getActList()
    this.getIntegralNum();
    this.userPhone=this.$store.getters.userPhone.replace(/1(\d{2})\d{4}(\d{4})/g,"1$1****$2");
  },
  methods:{
    imgError(item) {
       item.cover = '/img/01-图书.png'
      },
    // 最新样书申请列表
    getNewBookApply(){
      this.LoadStatus = true
      getNewBookApplyAPI().then(res =>{
        if(res.data.code === 0){
          this.newBookapply = res.data.data
          this.LoadStatus = false
        }else{
          this.$message.error('请求最新样书申请失败')
        }
      })
    },
    // 签到说明
    singInfo(){
      getUserSignInfoAPI().then(res =>{
        if(res.data.code === 0){
          this.signInfo = res.data.data
        }else{
          this.$message.error('请求最新样书申请失败')
        }
      })
    },
    // 当前积分数量
    getIntegralNum(){
      getUserIntegrallNumAPI().then(res =>{
        res.data.code === 0 ? (this.integralNum = res.data.data):this.$message.error('请求用户积分数据失败')
      })
    },
    // 最近活动列表
    getActList(){
      this.isLoading = true
      getNewActListAPI(2).then(res =>{
        if(res.data.code === 0){
          this.actList = changeContent(res.data.data)
          this.isLoading = false
        }else{
          this.$message.error('请求活动列表数据失败')
        }
      })
    },
    // 跳转样书申请页面
    applyBook(){
    },
    // 跳转个人信息编辑
    toChangeDetail(){
      this.$router.push({path:'/personal/infoMess'})
    },
    // 签到
    signIn(){
      userSignInAPI().then(res =>{
        if(res.data.code === 0){
          this.singInfo()
          this.getIntegralNum()
          this.$message.success('签到成功')
        }else{
          this.$message.error('签到失败')
        }
      })
    },
    // 跳转兑换积分页面
    toExchange(val){
        this.$router.push({
            name:'integralExchange'
        })
    },
    // 修改返显数据
    // changeDetail(){
    //   let obj ={}
    //   for(var prop in this.applyDetail){
    //     obj[prop] = this.applyDetail[prop].value
    //   }
    //   this.form = obj
    //     this.signUpShow = true
    // },
    // 报名弹窗
    signUp(item){
      this.activityId = ''
        getApplyFromAPI(item.formId).then(res=>{
        if(res.data.code === 0){
          this.list = res.data.data
          this.list.forEach(element => {
            if(element.type =='checkbox'){
              this.form[element.name] = []
            }
          });
        }else{
          this.$message.error('获取报名表单失败')
          }
        })
        this.activityId = item.id
        this.signUpShow = true

    },
    // // 判断活动中的所有字段是否都填完整
    // judgeValue(value,list){

    //   let status = list.length
    //   for(var prop in value){
    //     if(value[prop]){
    //       status -= 1
    //     }
    //   }

    //   return status ===0
    // },
    // 报名创建
    onSubmit(value){
      if(judgeValue(value,this.list)){
        const data = {
          'activityId':this.activityId,
          'value':JSON.stringify(changeFromData(this.list,value))
        }
        saveActApplyAPI(JSON.stringify(data)).then(res=>{
          if(res.data.code == 0){
            this.form = {}
            this.signUpShow = false
            this.$message.success('报名信息提交成功')
            this.getActList()
          }else{
            this.$message.error(res.data.msg)
            this.signUpShow = false
          }
        })
      }else{
          this.$message.error("所有项目为必填")
        }
    },
    toActivity(data){

    },

  },
  components: { titleNav, activityList, integralMode,activitySign,Loading },
};
</script>
<style scoped>
.personal-top {
  height: 132px;
  display: flex;
  justify-content: space-between;
  border-bottom: 9px solid #f4f5f9;
}
.personal-avatar {
  margin: 30px 27px;
  height: 72px;
  width: 72px;
  border-radius: 50%;
}
.personal-info {
  display: flex;
  position: relative;
}
.change-info{
  position: absolute;
  top: 30px;
  left: 28px;
  height: 70px;
  width: 70px;
  border-radius: 50%;
  /* background: rgba(235, 224, 224,0.6); */
}
.change-info-text{
  cursor:pointer;
  display: none;
}
.personal-detail {
  display: flex;
  flex-direction: column;
  padding-top: 42px;
  margin: 0  auto;
}
.personal-detail:hover{
  cursor: pointer;
}
.personal-name {
  text-align: center;
}
.personal-phone{
  color: #AAAAAA;
}
.other-info {
  display: flex;
}
.register {
  position: relative;
  display: flex;
  align-items: center;
  width: 266px;
  margin: 19px 0 21px;
  border-left: 1px solid #eee;
}
.register-con {
  display: flex;
  align-items: center;
  padding-left: 41px;
  font-size: 0;
}
.register-img {
  width: 34px;
  height: 34px;
}
.register-text {
  display: inline-block;
  margin-left: 16px;
  font-size: 14px;
}
.register-btn {
  padding: 11px 9px;
  line-height: 14px;
  border-radius: 4px;
  color: #fff;
  background: #3279ff;
  cursor: pointer;
  text-align: center;
}
.mark{
  color:#666666;
  background: #E3E3E3;
}
.register-title {
  color: #ffa32b;
  line-height: 30px;
  margin-top: 2px;
}
.tip-img{
    height: 16px;
    width: 16px;
}

.bg-img {
  width: 26px;
  height: 132px;
}

.integral-btn {
  height: 34px;
  line-height: 34px;
  margin-left: 16px;
}
.integral-btn span {
  background: #3279ff;
  padding: 10px 11px;
  font-size: 14px;
  color: #fff;
}
/* 最近申请图书 */
.book-apply {
  /* min-height: 340px; */
  min-height: 400px;
  border-bottom: 9px solid #f4f5f9;
}
.book-container {
  text-align: center;
  margin: 21px 27px 25px 27px;
}
.book-nav {
  line-height: 36px;
  height: 36px;
  font-size: 0px;
  background: #eee;
}
.nav-title {
  display: inline-block;
  font-size: 14px;
  color: #454545;
  font-weight: bold;
  text-align: center;
}
.title1 {
  width: 412px;
}
.title2 {
  width: 180px;
}
.title3 {
  width: 152px;
}
.book-con {
  display: flex;
  font-size: 0px;
  line-height: 188px;
}
.book-seat {
  text-align: center;
  font-size: 14px;
  border-left: 1px solid #eee;
  border-bottom: 1px solid #eee;
}
.con1 {
  display: flex;
  width: 410px;
}
.con2 {
  width: 179px;
  color: #454545;
}
.con3 {
  width: 151px;
  color: #ffa32b;
  border-right: 1px solid #eee;
}
.book-img {
  margin: 26px 16px 22px 26px;
  height: 140px;
  width: 104px;
  /* background: #333; */
}
.img{
  margin: 0 auto;
  max-width: 104px;
  max-height: 140px;
}
.book-info {
  display: flex;
  flex-direction: column;
  text-align: left;
  width: 240px;
  margin: 26px 22px 22px 0px;
}
.info-text {
  color: #666666;
  font-size: 14px;
  line-height: 26px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.info-title {
  color: #333333;
  font-size: 16px;
  line-height: 36px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.info-price {
  color: #fd4444;
  font-weight: bold;
}
.book-none{
  /* height: 200px; */
  min-height: 200px;
}

/* 最新活动 */
.new-activity{
  min-height: 300px;
}
.activity-none{
  width: 100%;
  display: flex;
  justify-content: center;
}
.act-title {
  display: flex;
  justify-content: space-between;
  font-size: 16px;
  line-height: 34px;
  color: #333;
  margin-bottom: 10px;
}
.act-con {
  font-size: 14px;
  line-height: 26px;
  color: #666;
}
.act-post-time {
  color: #999999;
  font-size: 14px;
  line-height: 26px;
}
.sign-btn {
  height: 34px;
  width: 93px;
  border-radius: 41px;
  background: #3279ff;
  color: #fff;
  font-size: 14px;
  line-height: 34px;
  text-align: center;
}
.sign-btn-alr {
  background: #e3e3e3;
  color: #333;
}
</style>
<style>
.el-main {
  overflow: visible;
}

/* 积分提示 */
.tip-info{
  position: absolute;
  z-index: 10;
  left: 20px;
  right: 0;
  top: 70px;
  bottom: 40px;
  /* opacity: 0; */
}
/* .tip-info-hover{ */
    /* opacity: 1; */
/* } */
.tip-info-img {
    position: absolute;
    z-index:20;
    top: 13px;
    left: 50%;
    transform:translateX(-50%);
}
.tip-info-con{
    position: absolute;
    z-index:15;
    top: 24px;
    left: 19px;
    right: 20px;
    bottom: 12px;
    padding: 15px 16px;
    background: #FFF6CE;
    height:60px;
    border-radius: 6px;
}
.con-title{
    position: absolute;
    z-index:25;
    top: 0px;
    left: 50%;
    transform:translateX(-50%);
    white-space: nowrap;
    font-weight: bold;
    color: #fff;
}
.con-title1{
    text-align: center;
    color: #8E762D;
    font-size: 12px;
    line-height: 30px;
}
.con-title1 span{
    color: #fd4444;
}
.con-title2{
    color: #9F9A8E;
    font-size: 12px;
    line-height: 18px;
}
</style>

<style lang="less" scoped>
.change-info:hover{
  .change-info-text{
    display: inline-block;
    position: absolute;
    line-height: 20px;
    width: 70px;
    top: 25px;
    left: 0px;
    border-radius: 4px;
    background: #313030;
    text-align: center;
    font-size: 14px;
    color: #fff;
  }
}
</style>
