<template>
  <div class="bg">
    <ComHeader @searchResult="searchResult"></ComHeader>
    <!-- <router-view/> -->

    <el-container class="personal">
      <el-aside style="width:210px" v-if="isShow">
        <div class="userInfo" v-if="avatarShow&&userType == 'school'">
          <img src="../../../static/img/defoultH.png" alt="" v-if="this.$store.getters.userImg=='null'||this.$store.getters.userImg==''||!this.$store.getters.userImg">
          <img :src="imgUrl(this.$store.getters.userImg)" alt="" v-if="this.$store.getters.userImg&&this.$store.getters.userImg!=''&&this.$store.getters.userImg!='null'">
          <h1>{{$store.getters.userName}}</h1>
          <h2>{{userPhone}}</h2>
        </div>

        <router-link to="/personal/detail" class="personal-title">个人中心</router-link>
        <div class="content-manage">
          <span class="nav-title">内容管理</span>
          <router-link class="nav-link" v-if="userType == 'school'" to="/personal/book" :style="{color:this.$route.path=='/personal/book'?'#3279FF':'#333333'}">样书申请</router-link>
          <router-link class="nav-link" v-if="userType == 'school'" to="/personal/integral" :style="{color:this.$route.path=='/personal/integral'?'#3279FF':'#333333'}">我的积分</router-link>
          <!-- <router-link class="nav-link" to="/personal/activity" :style="{color:this.$route.path=='/personal/activity'?'#3279FF':'#333333'}">活动报名</router-link> -->
          <!-- <router-link class="nav-link" to="/personal/gift" :style="{color:this.$route.path=='/personal/gift'?'#3279FF':'#333333'}">我的礼品</router-link> -->
          <router-link class="nav-link" to="/personal/evaluate" :style="{color:this.$route.path=='/personal/evaluate'?'#3279FF':'#333333'}">我的评价</router-link>
          <router-link class="nav-link" to="/personal/feedback" :style="{color:this.$route.path=='/personal/feedback'?'#3279FF':'#333333'}">我的反馈</router-link>
          <router-link class="nav-link" to="/personal/collection" :style="{color:this.$route.path=='/personal/collection'?'#3279FF':'#333333'}">我的收藏</router-link>
          <router-link class="nav-link" to="/personal/record" :style="{color:this.$route.path=='/personal/record'?'#3279FF':'#333333'}">浏览记录</router-link>
        </div>
        <div class="account-set" v-if="userType == 'school'">
                    <span class="nav-title">
                        账户设置
                    </span>
          <router-link class="nav-link" to="/personal/infomess" :style="{color:this.$route.path=='/personal/infomess'?'#3279FF':'#333333'}">个人信息</router-link>
          <router-link class="nav-link" to="/personal/account" :style="{color:this.$route.path=='/personal/account'?'#3279FF':'#333333'}">账户安全</router-link>
        </div>
        <div class="teach-up">
                    <!-- <span class="nav-title">
                        教学提升
                    </span> -->
          <!-- <router-link class="nav-link" to="/personal/train" :style="{color:this.$route.path=='/personal/train'?'#3279FF':'#333333'}">在线培训</router-link> -->

        </div>
      </el-aside>

      <el-main class="personal-container" :style="{borderLeft:isShow?'12px solid #f4f5f9':''}">
        <router-view ref="searchAct" ></router-view>
      </el-main>
    </el-container>
    <LoginFooter></LoginFooter>
  </div>
</template>
<script>
  import ComHeader from "../../components/header";
  import LoginFooter from "../../components/loginFooter";
  import store from "@/store"

  export default {
    name: "personal",
    data() {
      return {
        listQuery:{
          pageNum:1,
          pageSize:4,
        },
        isShow: true,
        avatarShow:true,
        userPhone:'',
        userImg:null,
        userType:''
      }
    },
    watch: {
      '$route': 'historyWatch'
    },
    created() {
      this.historyWatch()
      this.userType = store.getters.userType
    },
    mounted(){
      
    },
    methods: {
      // 搜索列表
      searchResult(data){
        // this.$emit('search',data)
        this.listQuery.title = data
        this.listQuery.pageNum = 1
        this.$refs.searchAct.getActList(this.listQuery)
      },

      historyWatch() {
        if (this.$route.name == 'activityList' || this.$route.name == 'activityDetail' || this.$route.name == 'integralExchange'||this.$route.name == 'feedBackDetail') {
          this.isShow = false;
        } else {
          this.isShow = true;
          if(this.$route.name == 'detail'){
            this.avatarShow=false
          }else{
            this.avatarShow=true
          }
        }
        this.userPhone=this.$store.getters.userPhone&&this.$store.getters.userPhone.replace(/1(\d{2})\d{4}(\d{4})/g,"1$1****$2");
      }
    },
    components: {ComHeader, LoginFooter}
  };
</script>
<style scoped>
  .bg {
    background: #f4f5f9;
    width: auto;
    margin: 0 auto;
  }

  .personal {
    width: 1200px;
    margin: 0 auto;
    font-size: 16px;
    color: #333;
    background: #fff;
    margin-bottom: 30px;
  }

  .userInfo {
    width: 100%;
    height: 165px;
    border-bottom: 8px solid #f4f5f9;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }

  .userInfo img {
    height: 72px;
    width: 72px;
    border-radius: 50%;
  }

  .userInfo h1 {
    font-size: 16px;
    height:30px;
    font-family: 'Microsoft YaHei';
    font-weight: bold;
    color: rgba(0, 0, 0, 1);
    padding-top: 8px;
    padding-bottom: 4px;
    line-height: 30px;
  }

  .userInfo h2 {
    font-size: 14px;
    height: 14px;
    line-height: 14px;
    font-family: 'Microsoft YaHei';
    font-weight: 400;
    color: rgba(170, 170, 170, 1);
  }

  .personal-title {
    line-height: 64px;
    height: 64px;
    padding-left: 36px;
    font-weight: bold;
    /* border-bottom: 1px solid #eee; */
  }

  .content-manage, .account-set, .teach-up {
    padding: 16px 0;
    padding-left: 36px;
    border-top: 1px solid #eee;
  }

  .nav-title {
    line-height: 36px;
    font-size: 16px;
    font-weight: bold;
  }

  .nav-link {
    display: block;
    font-size: 14px;
    line-height: 34px;
  }

  .nav-link:hover {
    color: #3279FF;
  }

  .personal-container {

    padding: 0;
  }
</style>
