<template>
  <div class="createPost-container">
    <div class="createPost-main-container">
      <el-form
        :rules="rules"
        ref="dataForm"
        :model="formList"
        label-position="right"
        label-width="100px"
        class="form-container"
      >
        <div class="type-title">发放样书券</div>
        <el-form-item label="优惠券：">
          <el-col :span="12">
            <el-input v-model="name" placeholder="请选择优惠券"></el-input>
            </el-col>
        </el-form-item>
        <el-form-item label="发放张数：" prop="num">
          <el-col :span="12">
            <el-input v-model="formList.num" placeholder="请输入发放张数"></el-input>
          </el-col>
        </el-form-item>
        <div class="type-title">发放对象</div>
        <el-form-item label="已选择用户：" prop="memberName">
          <el-col :span="12">
            <el-input v-model="formList.memberName" placeholder="请添加用户"></el-input>
          </el-col>
          <el-col :span="4"><el-button type="primary" @click="getMemberList" style="margin-left:6px">添加</el-button></el-col>
        </el-form-item>
        <div class="type-title">消息设置</div>
        <el-form-item label="内容：" prop="text">
          <el-col :span="12">
            <el-input type="textarea" v-model="formList.text" placeholder=""></el-input>
          </el-col>
        </el-form-item>
        <el-form-item>
          <el-button class="form-submit" @click="submitFrom('dataForm')">保存</el-button>
          <el-button plain @click="$router.back()">取消</el-button>
        </el-form-item>
      </el-form>
      <!-- 选择会员 -->
      <el-dialog
        title="选择会员"
        :visible.sync="dialogVisible"
        width="60%"
        top="30vh">
        <el-form inline class="form-inline">
      <!-- <el-form-item label="学校">
        <el-input @keyup.enter.native="handleFilter" v-model="listQuery.schoolName" clearable></el-input>
      </el-form-item>
      <el-form-item label="用户名">
        <el-input @keyup.enter.native="handleFilter" v-model="listQuery.userlName" clearable></el-input>
      </el-form-item> -->
        <el-form-item label="部门：">
            <el-col :span="20">
                <el-select v-model="listQuery.departmentId" placeholder="请选择部门">
                    <el-option label="全部" :value="null">
                    </el-option>
                    <el-option v-for="item in departList" :key="item.id" :label="item.name" :value="item.id">
                    </el-option>
                </el-select>
            </el-col>
        </el-form-item>
        <el-form-item label="角色：">
            <el-col :span="20">
                <el-select  v-model="listQuery.roleId" placeholder="请选择角色">
                    <el-option label="全部" :value="null">
                    </el-option>
                    <el-option v-for="item in roleList" :key="item.id" :label="item.name" :value="item.id">
                    </el-option>
                </el-select>
            </el-col>
        </el-form-item>

      <el-form-item label="手机">
        <el-input @keyup.enter.native="handleFilter" v-model="listQuery.phone" clearable></el-input>
      </el-form-item>
      <el-form-item label="地区">
        <el-input @keyup.enter.native="handleFilter" v-model="listQuery.address" clearable></el-input>
      </el-form-item>
      <el-form-item >
        <el-button @click="choiseAll">全部学校</el-button>
      </el-form-item>
      <el-form-item >
        <el-button @click="handleFilter">搜索</el-button><el-button @click="resetFilter">重置</el-button>
      </el-form-item>
    </el-form>
    <el-row>
        <el-col :span="18">
        <el-table :data="list" ref="singleTable" v-loading="listLoading" element-loading-text="给我一点时间" border highlight-current-row stripe @selection-change="chioceList" >
      <el-table-column type="selection" align="center"></el-table-column>
      <el-table-column label="学校" min-width="160" align="center">
        <template slot-scope="scope">
          <span>{{scope.row.relationName}}</span>
        </template>
      </el-table-column>
      <!-- <el-table-column label="地区" min-width="120" align="center">
        <template slot-scope="scope">
          <span>{{scope.row.address}}</span>
        </template>
      </el-table-column> -->
      <el-table-column label="用户名" min-width="120" align="center">
        <template slot-scope="scope">
          <span>{{scope.row.name}}</span>
        </template>
      </el-table-column>
      <el-table-column label="手机号" min-width="120" align="center">
        <template slot-scope="scope">
          <span>{{scope.row.phone}}</span>
        </template>
      </el-table-column>
    </el-table>
    </el-col>
    <el-col :span="6">
      <h3 class="transfer-title">已选择{{selectList.length}}个会员，点击删除</h3>
      <div class="transfer">
          <ul>
              <li v-for="(item,index) in selectList" :key="index" @click="deselected(item,index)">{{item.name}}</li>
          </ul>
      </div>
    </el-col>
    </el-row>
    <div class="pagination-container">
      <el-pagination @size-change="handleSizeChange" @current-change="handleCurrentChange" :current-page="listQuery.pageNum" :page-sizes="[10,30,50,100,200,500]" :page-size="listQuery.pageSize" layout="total, sizes, prev, pager, next, jumper" :total="total" align="center">
      </el-pagination>
    </div>
        <span slot="footer" class="dialog-footer">
          <el-button type="primary" @click="choiseMember">确 定</el-button>
          <el-button @click="dialogVisible = false">取 消</el-button>
        </span>
      </el-dialog>
    </div>
  </div>
</template>

<script>
import { getMemberListAPI,bookExtendAPI,departListAPI,roleListAPI } from "@/api/backstage/system/bookCoupon";
import { uploadUrl } from '@/utils/global.js'
import { getMultipleSelectionName,getMultipleName,getMultipleMemberId,getMultipleMemberName   } from '@/filters/getIds'
// import Tinymce from "@/components/Tinymce";
import store from '@/store'

export default {
//   components: { Tinymce },
  data() {
    return {
      name:'样书券',
    listQuery: {
        pageNum: 1,
        pageSize: 100,
    },
    roleListQuery:{
        pageNum: 1,
        pageSize: 100,
    },
    departListQuery:{
        pageNum: 1,
        pageSize: 100,
    },
    formList:{
        num:'',
        memberList:[],
    },
    roleList:[],
    departList:[],
    memberName:'',
      rules: {
        num: [{ trigger: 'change', pattern: /^([1-9]\d*)$/, message: '请输入正整数表示的样书券数量' }]

      },
      choiseForm:null,
      dialogVisible:false,
      tableKey: 0,
      list: null,
      total: null,
      listLoading: true,
      // batchList: [],
      title:null,
      selectList:[],
    };
  },
  mounted() {},
  methods: {
    // 获取会员列表
    getMemberList(){
      this.listLoading = true
      this.dialogVisible = true
      getMemberListAPI(this.listQuery).then(res => {
        if(res.data.code === 0){
          this.list = res.data.data.list
          this.total = res.data.data.total
          this.$nextTick(function () {
            this.selectionList()
          })
        } else {
          this.$message.error('获取数据失败');
        }
        this.listLoading = false
      })
      this.getDepartList()
      this.getRoleList()
    },
     // 获取部门列表
    getDepartList(){
        // this.departListQuery.schoolId =7
        departListAPI(this.departListQuery).then(res => {
          res.data.code === 0
            ? (this.departList = res.data.data.list)
            : this.$message.error("请求出错啦");
        });
    },
    // 获取角色列表
    getRoleList(){
      roleListAPI(this.roleListQuery).then(res => {
        if(res.data.code === 0){
          this.roleList = res.data.data.list
        } else {
          this.$message.error('获取数据失败');
        }

      })
    },

    // 如果页面中有选中用户的数据，进行选中状态更改
    selectionList(){

      if(this.selectList.length > 0){
        this.selectList.forEach(item => {
            const ind = this.findIndex(this.list,item)

            if(ind !== -1){
              this.$refs.singleTable.toggleRowSelection(this.list[ind],true)
            }else{
            }
        });
      }
    },
     // // 选中全部学校
    choiseAll(){
      this.list.forEach(item => {
        const ind = this.findIndex(this.list,item)

        if(ind !== -1){
          this.$refs.singleTable.toggleRowSelection(this.list[ind],true)
        }else{
        }
      });
    },

    // 判断删除元素再列表中的索引位置 obj再list中的索引位置
    findIndex(list,obj){
      var objStr = JSON.stringify(obj)
      return list.reduce((index,ele,i)=>{
        if(JSON.stringify(ele) === objStr) {
            return i
        } else {
            return index
        }
      },-1)
    },

    // 取消选择用户
    deselected(item,index){
      const deleteMember = this.selectList.splice(index,1)[0]
      const ind = this.findIndex(this.list,deleteMember)
      ind !== -1 ? (this.$refs.singleTable.toggleRowSelection(this.list[ind],false)):''
    },
    // 确定用户人员
    choiseMember(){
      if(this.selectList.length ==0){
        this.$message.error('请至少选择一个用户')
      }else{
        this.formList.memberList = getMultipleMemberId(this.selectList)
        this.formList.memberName = getMultipleMemberName(this.selectList).join(',')
        this.dialogVisible = false
      }
    },
    // 发送样书券
    submitFrom(){
      this.$refs['dataForm'].validate((valid) => {
        if (valid) {
          this.formList.memberName =='' ? (this.$message('请添加会员'))
          : bookExtendAPI(this.formList).then(res=>{
            if(res.data.code === 0){
              this.$router.back();
              this.$message({
                message: '保存成功',
                type: 'success'
              })
            }else{
              this.$message.error(res.data.msg)
            }
          })
        }
      })
    },
    chioceList(val) {//勾选
        if(val.length !==0){
        val.forEach(item => {
          if(this.findIndex(this.selectList,item) ==-1){
            this.selectList.push(item)
          }
        });
      }
    },
    // 搜索
    handleFilter(){

    //   store.dispatch('SetGoodsInfoSerKeys',this.listQuery).then(res => {

    //   })
      this.listQuery.pageNum = 1
      this.getMemberList()
    },
    resetFilter(){//重置
      this.listQuery = {
        pageNum: 1,
        pageSize: this.listQuery.pageSize,
      }
      this.getMemberList()
    },
    // 改变分页大小
    handleSizeChange(val) {
      this.listQuery.pageSize = val
      this.getMemberList()
    },
    // 页数改变
    handleCurrentChange(val) {
      this.listQuery.pageNum = val
      this.getMemberList()
    },
    // 查看返回
    backBtn() {
      this.$router.back();
    }
  }
};
</script>

<style rel="stylesheet/scss" lang="scss" scoped>
@import "src/style/mixin.scss";

.createPost-container {
  position: relative;
  .createPost-main-container {
    padding: 50px;
    .el-dialog__header {
      background: #15d;
      color: #fff;
    }
  }
}
.backBtn {
  margin-bottom: 20px;
  font-weight: bold;
}
.backBtn:hover {
  cursor: pointer;
}
.picture-tip{
  color:gray;
  font-size: 12px;
  margin-top: 7px;
  line-height: 20px;
}
.transfer-title{
  margin: 10px;
}
.transfer{
    margin: 0 10px;
    height:380px;
    border: 1px solid #999;
    overflow: scroll;
}
ul{
    margin: 0;
    padding: 0;
    li{
        list-style-type: none;
        line-height: 36px;
        font-size: 16px;
        margin-left:6px;
        &:hover{
            cursor:pointer;
        }
    }
}
.type-title{
  color: #a5abb3;
  width: 800px;
  padding-bottom: 20px;
  border-bottom:1px solid #a5abb3;
  margin: 40px 0;
}
.type-title:first-child{
  margin-top: 0px;
}
</style>

