<template>
  <div class="app-container calendar-list-container">
    <div class="bookNum">样书券剩余：<span>{{bookNum}}</span> 张</div>
    <div class="nav-buttons-container">
       <router-link :to="{ path:`grantBook`}">
      <el-button  v-if="authBtns.filter(i => i.idName=='grantBtn').length > 0">{{authBtns.filter(i => i.idName=='grantBtn')[0].name}}<i v-if="authBtns.filter(i => i.idName=='grantBtn').length>0 && authBtns.filter(i => i.idName=='grantBtn')[0].icon" :class="[authBtns[authBtns.map(i => i.idName).indexOf('grantBtn')].icon, 'el-icon--right']"></i></el-button>
       </router-link>
      <el-button v-if="authBtns.map(i => i.idName).indexOf('printBtn') >= 0"  @click="printBtn"> {{authBtns.filter(i => i.idName=='printBtn')[0].name}}<i v-if="authBtns.filter(i => i.idName=='printBtn').length>0 && authBtns.filter(i => i.idName=='printBtn')[0].icon" :class="[authBtns[authBtns.map(i => i.idName).indexOf('printBtn')].icon, 'el-icon--right']"></i></el-button>

    </div>

    <el-form inline class="form-inline">
        <el-form-item label="部门：">
            <el-col :span="20">
                <el-select v-model="listQuery.departmentId" placeholder="请选择部门">
                    <el-option label="全部" :value="null">
                    </el-option>
                    <el-option v-for="item in departList" :key="item.id" :label="item.name" :value="item.id">
                    </el-option>
                </el-select>
            </el-col>
        </el-form-item>
        <el-form-item label="角色：">
            <el-col :span="20">
                <el-select v-model="listQuery.roleId" placeholder="请选择角色">
                    <el-option label="全部" :value="null">
                    </el-option>
                    <el-option v-for="item in roleList" :key="item.id" :label="item.name" :value="item.id">
                    </el-option>
                </el-select>
            </el-col>
        </el-form-item>
      <el-form-item label="用户名:">
        <el-input @keyup.enter.native="handleFilter" v-model="listQuery.userName" clearable></el-input>
      </el-form-item>
      <el-form-item label="手机号:">
        <el-input @keyup.enter.native="handleFilter" v-model="listQuery.phone" clearable></el-input>
      </el-form-item>
      <el-form-item label="发放时间:">
        <el-date-picker v-model="timeLimit" value-format="yyyy-MM-dd" type="daterange" range-separator="至" start-placeholder="开始日期" end-placeholder="结束日期" @keyup.enter.native="handleFilter">
        </el-date-picker>
      </el-form-item>
      <el-form-item>
        <el-button @click="handleFilter">检索</el-button><el-button @click="resetFilter">重置</el-button>
      </el-form-item>
    </el-form>

    <el-table :key='tableKey' :data="list" v-loading="listLoading" element-loading-text="给我一点时间" border highlight-current-row stripe @selection-change="chioceList" >
      <el-table-column type="selection" align="center"></el-table-column>
      <el-table-column type="index" label="序号" width="60" align="center"></el-table-column>
      <el-table-column label="用户名" min-width="160" align="center">
        <template slot-scope="scope">
          <span>{{scope.row.memberName}}</span>
        </template>
      </el-table-column>
      <el-table-column label="部门" min-width="140" align="center">
        <template slot-scope="scope">
          <span>{{scope.row.departmentName}}</span>
        </template>
      </el-table-column>
      <el-table-column label="角色" min-width="140" align="center">
        <template slot-scope="scope">
          <span>{{scope.row.roleName}}</span>
        </template>
      </el-table-column>
      <el-table-column label="手机号" min-width="120" align="center">
        <template slot-scope="scope">
          <span>{{scope.row.phone}}</span>
        </template>
      </el-table-column>

      <el-table-column label="数量" min-width="140" align="center">
        <template slot-scope="scope">
          <span>{{scope.row.num}}</span>
        </template>
      </el-table-column>
      <el-table-column label="发放人" min-width="140" align="center">
        <template slot-scope="scope">
          <span>{{scope.row.sendMember}}</span>
        </template>
      </el-table-column>
      <el-table-column label="发放时间" min-width="140" align="center">
        <template slot-scope="scope">
          <span v-if="scope.row.sendTime">{{scope.row.sendTime.substr(0,10)}}</span>
          <span v-else>——</span>
        </template>
      </el-table-column>
      <el-table-column label="过期时间" min-width="140" align="center">
        <template slot-scope="scope">
          <span v-if="scope.row.overdueTime">{{scope.row.overdueTime.substr(0,10)}}</span>
          <span v-else>——</span>
        </template>
      </el-table-column>
      <!-- <el-table-column label="过期时间" min-width="140" align="center">
        <template slot-scope="scope">
          <span v-if="scope.row.overdueTime">{{scope.row.overdueTime.substr(0,10)}}</span>
          <span v-else>——</span>
        </template>
      </el-table-column> -->
    </el-table>

    <div class="pagination-container">
      <el-pagination @size-change="handleSizeChange" @current-change="handleCurrentChange" :current-page="listQuery.pageNum" :page-sizes="[30,50,100,200,500]" :page-size="listQuery.pageSize" layout="total, sizes, prev, pager, next, jumper" :total="total" align="center">
      </el-pagination>
    </div>

  </div>
</template>

<script>
import {departListAPI,roleListAPI,getListAPI,getBookNumAPI } from '@/api/backstage/system/bookCoupon'
import { getMultipleSelectionIDs } from '@/filters/getIds'
import { requestMsg, confirm } from '@/utils/publicFunctions'
import Cookies from 'js-cookie'
import store from '@/store'
import {baseUrl} from '@/utils/global'
export default {
  data() {
    return {
        bookNum:null,
        departList:[],
        roleList:[],
        baseUrl:baseUrl,
        timeLimit: null,
        batchList: [],




      authBtns: [],
      tableKey: 0,
      list: null,
      total: null,
      listLoading: true,
      listQuery: {
        pageNum: 1,
        pageSize: 100
      },


    }
  },
  created(){
    this.authBtns = store.getters.pageBtn[this.$route.meta.routerIds[0]]
  },
  mounted() {
    this.getBookNum()
    this.getList()
    this.getDepartList()
    this.getRoleList()
  },
  methods: {
    getBookNum(){
      getBookNumAPI().then(res => {
        if(res.data.code === 0){
          this.bookNum = res.data.data||0
        } else {
          this.$message.error('获取样书券数量失败');
        }
      })
    },
    getList() {
      this.listLoading = true
      getListAPI(this.listQuery).then(res => {
        if(res.data.code === 0){
          this.list = res.data.data.list
          this.total = res.data.data.total
        } else {
          this.$message.error('获取数据失败');
        }
        this.listLoading = false
      })
    },

     // 获取部门列表
    getDepartList(){
      departListAPI().then(res => {
        res.data.code === 0
          ? (this.departList = res.data.data.list)
          : this.$message.error("请求出错啦");
      });
    },


     // 获取角色列表
    getRoleList(){
        roleListAPI().then(res => {
          res.data.code === 0
            ? (this.roleList = res.data.data.list)
            : this.$message.error("请求出错啦");
        });
    },




    deleteBtn(row){//单条删除 只能删除未上架的
      confirm.apply(this,['确定要删除吗？']).then(() => {
        deleteAPI(row.id).then(res => {
          requestMsg.apply(this,[res.data,'删除'])
        })
      })
    },
    batchDeleteBtn(){//批量删除--不能删除已上架的资源
      if(this.batchList.length == 0){
        this.$message.error('请选择至少一条记录进行操作')
      } else{
        const ids = getMultipleSelectionIDs(this.batchList);
        confirm.apply(this,['确认删除吗？']).then(() => {
          batchDeleteAPI(ids).then(res => {
            requestMsg.apply(this,[res.data,'删除'])
            this.getList()
          })
        })
      }
    },
    onlineBtn(index) {//批量上/下线
      if(this.batchList.length == 0){
        this.$message.error('请选择至少一条记录进行操作')
      } else{
        const ids = getMultipleSelectionIDs(this.batchList);
        const data = { //status (integer): 状态：0上线，1下线
          ids:ids,
          status:index
        }
        changeStatusAPI(data).then(res =>{
          if(res.data.code === 0){
            this.$message.success('操作成功');
            this.getList();
          } else {
            this.$message.error('操作失败');
          }
        })
      }
    },



    // 导出
    printBtn(){
      if(this.list.length > 0){
        let obj = this.listQuery
        var test=this.baseUrl + '/fg-member/fg/samplebookvoucher/export?token='+this.$store.getters.userToken+'&'
        for(var prop in obj){
            if(obj[prop]){
                test = test+prop+'='+obj[prop]+'&'
            }
        }
        test = test.substr(0,test.length-1)

        window.open(test,'_blank')
        this.$message.success("数据导出成功")
    }else{
        this.$message.error('当前暂无数据可供导出')
    }
    },
    chioceList(val) {//勾选
      this.batchList = val;
    },
    // 筛选
    handleFilter(){
      if(this.timeLimit){
          this.listQuery.beginTime = this.timeLimit[0]
          this.listQuery.endTime = this.timeLimit[1]
        } else {
          this.listQuery.beginTime = null
          this.listQuery.endTime = null
        }
      store.dispatch('SetSupplierSerKeys',this.listQuery).then(res => {

      })
      this.listQuery.pageNum = 1
      this.getList()
    },
    resetFilter(){//重置
      this.timeLimit = []
      this.listQuery = {
        pageNum: 1,
        pageSize: this.listQuery.pageSize,
      }
      this.getList()
    },
    handleSizeChange(val) {
      this.listQuery.pageSize = val
      this.getList()
    },
    handleCurrentChange(val) {
      this.listQuery.pageNum = val
      this.getList()
    }
  }
}
</script>

<style>
.el-tabs__header,.el-tabs--card>.el-tabs__header{
  border: 0;
  margin-bottom: 0;
}
.aa{
  margin-left: 80px;
}
.aa input{
  height: 30px;
}
</style>
<style lang="less" scoped>
.bookNum{
    padding-bottom: 20px;
    span{
        color: red;
    }
}
</style>
