<template>
  <!--分单管理-->
  <div>
    <workBench></workBench>
    <div class="branchCss" :style="`min-height:${tableHeigh(546)}`">
      <!--筛选-->
      <div class="re_screen">
        <ul>
          <li v-show="!edit&&semeStatus == '0'">
            <Screen :listData="semesterList" title="学期" prop="name" :status="semeStatus" :len="5" @changeStatus='changeSemester'></Screen>
          </li>
          <li v-show="!edit&&semeStatus == '0'">
            <Screen :listData="status" title="状态" prop="name" :status="listQuery.status" :showAll="true" @changeStatus='changeStatus'></Screen>
          </li>
          <li v-if="semeStatus == '1'">
            <Screen :listData="semList" title="学期" prop="name" :status="semeOtherStatus" :len="5" @changeStatus='changeOtherSemester'></Screen>
          </li>
          <li v-show="edit||true">
            <Screen :listData="academicList" title="学级"  :status="acaStatus" :len="5" :showAll="true" @changeStatus='changeAca'></Screen>
          </li>
          <li v-show="edit||isOpen||semeStatus == '1'">
            <Screen :listData="deptList" title="部门" prop="name" :status="deptStatus" :len="5" :showAll="true" @changeStatus='changeDept'></Screen>
          </li>
          <li v-show="edit||isOpen">
            <Screen :listData="pressList" title="出版社"  :status="pressStatus" :showAll="true" :len="5" @changeStatus='changePress'></Screen>
          </li>
          <li v-show="isOpen&&typeIn == 1">
            <Screen :listData="trainList" title="培养层次"   prop="name" :status="trainStatus" :showAll="true" :len="5" @changeStatus='changeTrain'></Screen>
          </li>
        </ul>
        <div class="re_open" @click="openBtn">
          <h2>{{isOpen ? '收起' : '展开'}}</h2>
          <span class="typeImg">
                <img src="@/assets/img/bom.png" alt="" :class="isOpen?'inverted':''">
          </span>
        </div>
      </div>
      <!--搜索-->
      <div class="re_Submission">
        <div class="branchLeft">
          <ul>
            <li :class="listQuery.tab==tabInd?'clickHover':''" v-for="(tab,tabInd) in tabList" :key="tabInd">
              <div class="typeB" @click="clickType(tabInd)"><h2>{{tab}}</h2></div>
              <span v-if="tabInd<tabList.length-1"></span></li>
          </ul>
        </div>
        <div class="branchRight">
          <div class="branchRL">
            <input type="text" v-model="listQuery.condition" placeholder="请输入ISBN或教材名称进行检索">
            <span class="el-icon-search" @click="searchOrder">检索</span>
          </div>
          <div class="branchRR">
            <span class="btn1" @click="printOrder" v-if="!edit">导出</span>
            <span class="btn2" v-if="semeStatus == '0'&&listQuery.isValid ==1&&typeIn !=0" @click="makeUp">补订</span>
            <!-- <span class="btn3" v-if="typeIn==1">退订</span> -->
          </div>
        </div>
      </div>
      <!--列表-->
      <div class="re_list" v-loading="listLoading">
        <div v-if="Object.keys(list).length == 0">
          <nullData></nullData>
        </div>
        <div v-else class="reList_item"   v-for="(item,index) in list" :key="index">
          <div class="item_tit" v-if="editIndex == index">{{index}}<span v-if="semeStatus == '0'&&typeIn==1" @click="haveChange(index)">完成</span></div>
          <div class="item_tit" v-else>{{index}}<span v-if="semeStatus == '0'&&typeIn==1&&!edit" @click="editNum(item,index)">编辑</span></div>
          <el-table :data="item" border  ref='multipleTable' highlight-current-row element-loading-text="给我一点时间" style="width: 984px"  @select="chioceList" @select-all="chioceAllList" @selection-change="selectionChange(item,index)">
            <el-table-column key="edit" v-if="typeIn==0" type="selection" align="center" width="40"></el-table-column>
            <el-table-column key="typeIn0" v-if="typeIn==2&&!edit" type="selection" align="center" width="40"></el-table-column>
            <el-table-column key="typeIn1" v-if="edit" type="selection" align="center" width="40"></el-table-column>
            <el-table-column type="index" label="序号" width="60"  align="center" ></el-table-column>
            <el-table-column key="academicLevel" prop="academicLevel" v-if="listQuery.tab !=1&&!edit" label="学级" align="center" width="60"></el-table-column>
            <el-table-column prop="lessonName" label="课程"  align="center" min-width="200"></el-table-column>
            <el-table-column key="resName" prop="resName" label="教材" v-if="!edit" align="center" min-width="200"></el-table-column>
            <el-table-column key="bookName" prop="resName" label="教材" v-if="edit" align="center" min-width="200"></el-table-column>
            <el-table-column prop="isbn" label="ISBN"  align="center" min-width="200"></el-table-column>
            <el-table-column prop="publisher" label="出版社"  align="center" min-width="200"></el-table-column>
            <el-table-column key="status" prop="status" label="状态" v-if="!edit" align="center" width="70">
              <template slot-scope="scope">
                <span>{{statusList[scope.row.status]}}</span>
              </template>
            </el-table-column>
            <el-table-column key="discount" prop="discount" label="折扣" v-if="edit" align="center" min-width="60"></el-table-column>
            <el-table-column prop="supplierName" label="经销商"  align="center" min-width="100"></el-table-column>
            <el-table-column key="price" prop="price" label="书价"  align="center" width="80"></el-table-column>
            <el-table-column key="num" prop="num" label="班级人数" v-if="!edit&&listQuery.tab == 1"  align="center" width="80"></el-table-column>
            <el-table-column key="totalNum" prop="totalNum" label="数量"  fixed="right"  align="center" width="80" v-if="listQuery.tab == 0||(listQuery.tab == 2&&!edit)">
              <template slot-scope="scope">
                <el-input v-model="scope.row.totalNum" @input="scope.row.totalNum = scope.row.totalNum.replace(/[^-\d]/g,'')" :min="1" label="描述文字" size="mini"
                                 v-if="editIndex == index&&scope.row.status == 0"></el-input>
                <span v-else>{{scope.row.totalNum}}</span>
              </template>
            </el-table-column>
            <el-table-column key="orderNum" prop="orderNum" label="数量"  fixed="right" align="center" width="120" v-if="listQuery.tab == 1||(listQuery.tab == 2&&edit)">
              <template slot-scope="scope">
                <el-input-number v-if="editIndex == index&&scope.row.status == 0" :precision="0" :step="1" v-model="scope.row.orderNum" size="mini" :min="1" :max="10000" label="描述文字"></el-input-number>
                <!-- <el-input v-model="scope.row.orderNum" @input="scope.row.orderNum = scope.row.orderNum.replace(/[^-\d]/g,'')"  :min="1" label="描述文字" size="mini"
                                 v-if="editIndex == index&&scope.row.status == 0"></el-input> -->
                <span v-else>{{scope.row.orderNum}}</span>
              </template>
            </el-table-column>
          </el-table>
        </div>
        <div class="branchBtn" v-if="semeStatus == '0'&&listQuery.isValid ==1">
          <span class="submit" @click="openBranch" v-if="!edit&&typeIn!=1&&listQuery.status !=1&&Object.keys(list).length > 0">提交</span>
          <span class="submit" @click="openBranch" v-if="edit&&Object.keys(list).length > 0">确认</span>
          <span class="cancel" @click="closeMakeUp" v-if="edit&&Object.keys(list).length > 0">取消</span>
        </div>
      </div>
      <!--弹窗-->
      <div class="infoAlert" v-if="isShowR">
        <div class="infoAlertC">
          <div class="infoAlertT">
            <h1>提示</h1>
            <span @click="closeBtn">×</span>
          </div>
          <div class="isTypeTwo" v-if="isType==1">
            <el-form inline class="form-inline">
              <el-form-item label="经销商名称">
                <el-select  v-model="orderFrom.supplierId " placeholder="">
                  <el-option :label="item.name" :value="item.id" v-for='(item,val) in supplierList' :key="val"></el-option>
                </el-select>
              </el-form-item>
            </el-form>
            <template>
              <el-table :data="orderFrom.orders" border v-loading="smallLoading" highlight-current-rowelement-loading-text="给我一点时间" style="width: 100%" @selection-change="smallList(orderFrom.orders)">
                <el-table-column key="academicLevel" prop="academicLevel" v-if="!edit" label="学级" align="center" width="60"></el-table-column>
                <el-table-column prop="lessonName" label="课程"  align="center" min-width="200"></el-table-column>
                <el-table-column key="resName" prop="resName" label="教材" v-if="!edit" align="center" min-width="200"></el-table-column>
                <el-table-column key="bookName" prop="resName" label="教材" v-if="edit" align="center" min-width="200"></el-table-column>
                <el-table-column prop="isbn" label="ISBN"  align="center" min-width="200"></el-table-column>
                <el-table-column prop="publisher" label="出版社"  align="center" min-width="200"></el-table-column>
                <el-table-column key="discount" prop="discount" label="折扣" v-if="edit" align="center" min-width="60"></el-table-column>
                <el-table-column prop="price" label="书价"  align="center" width="80"></el-table-column>
                <el-table-column prop="totalNum" label="数量"  align="center" width="80"  v-if="listQuery.tab == 0||(listQuery.tab == 2&&!edit)">
                  <template slot-scope="scope">
                    <el-input v-model="scope.row.totalNum" @input="scope.row.totalNum = scope.row.totalNum.replace(/[^-\d]|./g,'')" :min="1" label="描述文字" size="mini"
                                    v-if="classOrderEdit"></el-input>
                    <span v-else>{{scope.row.totalNum}}</span>
                  </template>
                </el-table-column>
                <el-table-column key="editorderNum" prop="orderNum" label="数量"  align="center" width="120"  v-if="listQuery.tab == 1&&edit||listQuery.tab == 2&&edit">
                  <template slot-scope="scope">
                    <el-input-number v-if="classOrderEdit" v-model="scope.row.orderNum" :precision="0" :step="1" size="mini" :min="1" :max="10000" label="描述文字"></el-input-number>
                    <!-- <el-input v-model="scope.row.orderNum" @input="scope.row.orderNum = scope.row.orderNum.replace(/[^-\d]/g,'')" :min="1" label="描述文字" size="mini"
                                    v-if="classOrderEdit"></el-input> -->
                    <span v-else>{{scope.row.orderNum}}</span>
                  </template>
                </el-table-column>
              </el-table>
            </template>
          </div>
          <div class="isTypeTwo" v-if="isType==2">
            <div class="submitCont">是否提交订到给该经销商！</div>
          </div>
          <div class="infoevaluateB">
            <span class="commit" @click="openType2" v-if="isType==1">确定</span>
            <span class="commit" @click="submitUp" v-if="isType==2&&!upLoading">确定</span>
            <span class="commit"  v-if="isType==2&&upLoading">确定</span>
            <span class="cancel" @click="closeBtn">取消</span>
          </div>
        </div>

      </div>
    </div>
  </div>

</template>
<script>

import { getListAPI,getAcademicListAPI,getDeptListAPI,getPressListAPI,getSupplierListAPI,submitUpAPI,editOrderAPI,submitMakeUpAPI,getTrainListAPI,
 getAcademicAPI,getDeptAPI,getPressAPI,getTrainAPI,getMakeUpListAPI,getMakeUpBookListAPI,getOtherListAPI} from '@/api/workbench/branch.js';
import Screen from '@/view/workbench/components/screen.vue';
import {baseUrl} from '@/utils/global'
import nullData from '../components/nullData'

  export default {
    data() {
      return {
        baseUrl:baseUrl,
        listQuery:{
          tab:0,
          isValid:1,
          status:'',
          academicLevel:"",
          departmentId:"",
          publisher:"",
          basicPlanId:"",
          condition:"",
        },
        list:{},
        status:[
          {
            index:'0',
            name:'未提交'
          },
          {
            index:'1',
            name:'已提交'
          }
        ],
        statusList:{
          '0':"未提交",
          '1':'已提交'
        },
        semesterList:[
          {
            index:'1',
            name:'当前学期'
          },
          {
            index:'0',
            name:'其他学期'
          }
        ],
        tabList:{
          0:'学生教材汇总',
          1:'学生教材分班',
          2:'教参汇总'
        },
        isMore: {
          aca:false,
          dept:false,
          pre:false
        },
        acaStatus:'',
        deptStatus:'',
        pressStatus:'',
        trainStatus:'',
        semeStatus:'0',
        academicList:[],
        deptList:[],
        pressList:[],
        trainList:[],
        listLoading: true,
        smallLoading: false,
        isOpen: false,
        isShowR: false,
        orderFrom:{
          supplierId:'',
          orders:[]
        },
        supplierList:[],
        editIndex:null,
        classOrderEdit:false,
        isType: 2,
        batchList: [],
        typeIn: 0,
        edit: false,
        upLoading:false,
        semList:[],
        semeOtherStatus:'',
        semterList:[ {
            name:'第一学期',
            value:'1',
          }, {
            name:'第二学期',
            value:'2',
          }, {
            name:'第三学期',
            value:'3',
          },{
            name:'第四学期',
            value:'4',
          }, {
            name:'第五学期',
            value:'5',
          },{
            name:'第六学期',
            value:'6',
          }, {
            name:'第七学期',
            value:'7',
          }, {
            name:'第八学期',
            value:'8',
          }, {
            name:'第九学期',
            value:'9',
          }, {
            name:'第十学期',
            value:'10',
          }],
      };
    },
    created() {
      //从浏览器中拿到保存的筛选数据
      if(window.localStorage.getItem('branch')){
        let data = JSON.parse(window.localStorage.getItem('branch'))
        let list = this.listQuery
        this.typeIn = data.typeIn,
        this.edit = data.edit,
        this.acaStatus = data.acaStatus,
        this.deptStatus = data.deptStatus,
        this.pressStatus = data.pressStatus,
        this.trainStatus = data.trainStatus,
        this.semeOtherStatus = data.semeOtherStatus,
        list.tab = data.tab,
        list.isValid = data.isValid,
        list.status = data.status,
        list.academicLevel = data.academicLevel,
        list.departmentId = data.departmentId,
        list.basicPlanId = data.basicPlanId,
        list.condition = data.condition
        if(list.isValid == '0'){
          this.getOtherList()
        }
        window.localStorage.removeItem('branch')
      }
      this.get()
    },
    mounted() {
      // 注册刷新事件，向浏览器中保存相关的数据
      window.addEventListener('beforeunload', e => {
        let obj = this.listQuery
        const data = {
          typeIn:this.typeIn,
          edit:this.edit,
          acaStatus:this.acaStatus,
          deptStatus:this.deptStatus,
          pressStatus:this.pressStatus,
          trainStatus:this.trainStatus,
          semeOtherStatus:this.semeOtherStatus,
          tab:obj.tab,
          isValid:obj.isValid,
          status:obj.status,
          academicLevel:obj.academicLevel,
          departmentId:obj.departmentId,
          basicPlanId:obj.basicPlanId,
          condition:obj.condition
        }
          window.localStorage.setItem('branch',JSON.stringify(data))
      });
    },
    methods: {
      // 请求列表
      get(){
        this.batchList = []
        this.getAcademicList()
        this.getDeptList()
        this.getPressList()
        this.edit||this.listQuery.tab == 1?this.getTrainList():''
        // this.listQuery.tab == 1?this.getTrainList():''
        this.getList();
      },
      // 获取学级列表
      getAcademicList(){
        const _API = this.edit?getAcademicAPI():getAcademicListAPI()
        _API.then(res=>{
          if(res.data.code == 0 ){
            this.academicList = res.data.data
          }else{
            this.$message.error(res.data.msg)
          }
        })
      },
      // 部门列表
      getDeptList(){
        const _API = this.edit?getDeptAPI():getDeptListAPI()
        _API.then(res=>{
          if(res.data.code == 0 ){
            this.deptList = res.data.data
          }else{
            this.$message.error(res.data.msg)
          }
        })
      },
      // 出版社列表
      getPressList(){
        const _API = this.edit?getPressAPI():getPressListAPI()
        _API.then(res=>{
          if(res.data.code == 0 ){
            this.pressList = res.data.data
          }else{
            this.$message.error(res.data.msg)
          }
        })
      },
      // 培养层次列表
      getTrainList(){
        const _API = this.edit?getTrainAPI():getTrainListAPI()
        _API.then(res=>{
          if(res.data.code == 0 ){
            this.trainList = res.data.data||[]
          }else{
            this.$message.error(res.data.msg)
          }
        })
      },
      // 分单列表
      getList(){
        this.listLoading= true
        const query = this.listQuery
        let _API = getListAPI(query)
        if(this.edit&&query.tab ==1){
          _API = getMakeUpListAPI(query)
        }else if(this.edit&&query.tab ==2){
          _API = getMakeUpBookListAPI(query)
        }
        _API.then(res=>{
          if(res.data.code == 0){
            this.list = res.data.data
            this.listLoading= false
          }else{
            this.$message.error(res.data.msg)
          }
        })
      },
      // 经销商列表
      getSupplierList(){
        getSupplierListAPI().then(res=>{
          if(res.data.code == 0){
            this.supplierList = res.data.data
          }else{
            this.$message.error(res.data.msg)
          }
        })
      },
      // 其他学期
      getOtherList(){
        this.semeOtherStatus = ''
        this.semList = []
        this.semList.push({
          name:'当前学期',
          value:'0',
        })
        getOtherListAPI(this.listQuery.academicLevel).then( res=>{
          const data = res.data.data
          if(res.data.code == 0){
            data.forEach(item => {
              this.semterList.forEach(el=>{
                if(el.value == item){
                  this.semList.push(el)
                }

              })
            });
          }
        })
      },

      // 按钮
      moreBtn(val) {
        this.isMore[val] = true
        // this.isMore[val] = !this.isMore[val];
      },
      // 更改列表状态
      changeStatus(value,index){
        this.listQuery.status = value.index||''
        this.getList()
      },
      // 切换学期
      changeSemester(value,index){
        this.semeStatus = index
        this.listQuery.isValid = value.index
        if(value.index == '0'){
          this.getOtherList()
        }
        this._resetSemester()
      },
      _resetSemester(){
        this.listQuery.academicLevel = ''
        this.listQuery.departmentId = ''
        this.listQuery.publisher = ''
        this.acaStatus = ''
        this.deptStatus = ''
        this.pressStatus = ''
        this.getList();
      },
      // 切换其他学期
      changeOtherSemester(value,index){
        this.semeOtherStatus = index
        this.listQuery.isValid = '0'
        if(value.value == '0'){
          this.listQuery.isValid = '1'
          this.semeStatus = '0'
          this.listQuery.semester = ''
        }else{
          this.listQuery.semester = value.value
        }
        this._resetSemester()
      },
      // 更改学级状态
      changeAca(value,index){
        this.acaStatus = index
        value?this.listQuery.academicLevel = value:this.listQuery.academicLevel = ''
        this.listQuery.departmentId = ''
        this.listQuery.publisher = ''
        this.deptStatus = ''
        this.pressStatus = ''
        this.trainStatus =''
        this.getList()
      },
      // 更改部门状态
      changeDept(value,index){
        if(value){
          this.listQuery.departmentId = value.id
        }else{
          this.listQuery.departmentId = ''
        }
        this.deptStatus = index
        this.getList()
      },
      // 更改出版社
      changePress(value,index){
        if(value){
          this.listQuery.publisher = value
        }else{
          this.listQuery.publisher = ''
        }
        this.pressStatus = index
        this.getList()
      },

      // 更改培养层次
      changeTrain(value,index){
        if(value){
          this.listQuery.basicPlanId = value.basicPlanId
        }else{
          this.listQuery.basicPlanId = ''
        }
        this.trainStatus = index
        this.getList()
      },


      // 展开收起
      openBtn() {
        this.isOpen = !this.isOpen;
      },
      /*点击类型*/
      clickType(val) {
        // this.batchList = []
        this.listQuery.tab = val
        this.typeIn = val;
        this.list ={}
        this.edit = false
        this._resetSelect()
        this.get()
        // this.getList()
      },
      // 检索
      searchOrder(){
        this.getList()
      },
      // 导出
      printOrder(){
        if(Object.keys(this.list).length > 0){
        let obj = this.listQuery
        var test=this.baseUrl + '/school-sysuser/fg/split-order/export?token='+this.$store.getters.userToken+'&'
        for(var prop in obj){
            if(obj[prop]){
                test = test+prop+'='+obj[prop]+'&'
            }
        }
        test = test.substr(0,test.length-1)
        window.open(test,'_blank')
        this.$message.success("数据导出成功")
      }else{
          this.$message.error('当前暂无数据可供导出')
      }
      },
      // 补订
      makeUp(){
        // this.batchList = []
        this.edit=true
        this.get()
        this._resetSelect()

      },
      // 重置条件筛选
      _resetSelect(){
        let obj = this.listQuery
        obj.status=''
        obj.academicLevel=''
        obj.departmentId=''
        obj.basicPlanId=''
        obj.publisher=''
        obj.condition=''
        this.acaStatus = ''
        this.deptStatus = ''
        this.pressStatus = ''
        this.trainStatus = ''
      },

      // 判断数据状态
      _judgeStatus(data,index){
        //index   1未提交     0提交
        let status = 0
        data.forEach(item => {
          if(item.status ==index){
            status += 1
          }
        })
        return status
      },
      // 打开分单弹窗
      openBranch(){

        let tab = this.listQuery.tab

        if(tab ==0||(tab ==2&&this.edit == false)){//学生教材汇总    //教参汇总

          if(this.batchList.length ==0){
            this.$message.error('请至少选择一条未提交的数据')
          }else if(this._judgeStatus(this.batchList,1) == 0){
            this.orderFrom.supplierId = ''
            this.getSupplierList()
            this.isShowR=true,
            this.isType=1
            this.orderFrom.orders = this.batchList
          }else{
            this.$message.error('请选择未提交的数据')
          }

        }else if(tab == 1&&this.edit||tab == 2&&this.edit){//学生教材分班 教参汇总（补丁）
          let list =[]
          this.batchList.forEach(value=>{
            let obj = JSON.parse(JSON.stringify(value))
            obj.orderNum = 0
            // delete obj.id
            list.push(obj)
          })

          if(this.batchList.length ==0){
            this.$message.error('请至少选择一条数据')
          }
          else{
            this.classOrderEdit = true
            this.orderFrom.supplierId = ''
            this.getSupplierList()
            this.isShowR=true,
            this.isType=1
            this.orderFrom.orders = list
          }
        }
      },
      // 取消补丁
      closeMakeUp(){

        this.edit = false
        this.get()
        this._resetSelect()
      },

      // 打开确认弹窗
      openType2(){
        if(this.orderFrom.supplierId){
          let list = this.orderFrom.orders
          let num = list.filter((value,index)=>{
            return  value.orderNum||value.totalNum
          })
          if(num.length == list.length){
            this.isType=2
          }else{
            this.$message.error('教材数量不能为空')
          }

        }else{
          this.$message('请选择经销商')
        }
      },

      // 提交分单
      submitUp(){
        this.upLoading=true
        let tab = this.listQuery.tab
        if(tab ==0||(tab ==2&&this.edit == false)){//学生教材汇总
          this.orderFrom.type = tab == 0?'0':'4'
          submitUpAPI(this.orderFrom).then(res=>{
            if(res.data.code == 0){
              this.$message.success('提交成功')
              this.upLoading=false
              this.batchList =[]
              this.isShowR=false
              this.changeStatus('0')
            }else{
              this.$message.error(res.data.msg)
            }
          })
        }else if(tab == 1||(tab ==2&&this.edit)){//学生教材分班
          this.orderFrom.variety = '2'
          this.orderFrom.list = this.orderFrom.orders
          delete this.orderFrom.orders
          let type = ''
          if(tab == 1){
            type = '0'
          }else if(tab ==2&&this.edit){
            type = '1'
          }
          this.orderFrom.type = type
          submitMakeUpAPI(this.orderFrom).then(res=>{
            if(res.data.code == 0){
              this.$message.success('补订成功')
              this.upLoading=false
              this.batchList =[]
              this.isShowR=false
              this.getList()
            }else{
              this.$message.error(res.data.msg)
            }
          })
        }
      },
      // 弹窗取消
      closeBtn(){
        if(this.isType ==1){
          this.isShowR=false
        }else if(this.isType == 2){
          this.isType =1
        }
        this.upLoading =false
      },

      // 学生教材分班
      // 编辑
      editNum(data,index){

        if(this._judgeStatus(data,0) == 0){
          this.$message.error('当前班级没有未提交数据')
        }else{
          this.editIndex = index
        }
      },
      // 完成
      haveChange(index){
        let num = 0
        let list =[]
        let data = this.list[index]
        data.forEach(item=>{
          if(item.status == 0){
            let obj = {
              splitOrderNumId:item.orderNumId,
              num:item.orderNum
            }
            list.push(obj)
            if(item.orderNum == ''){
              num +=1
            }
          }
        })
        if(num == 0&&list.length > 0){
          editOrderAPI(list).then(res=>{
            if(res.data.code == 0){
              this.editIndex = ''
              this.$message.success("修改成功")
            }else{
              this.$message(res.data.msg)
            }
          })
        }else{
          this.$message.error('数量不能为空')
        }

      },










      /*提交*/
      submit(val) {
        this.isShowR = true;
        this.isType = 3;
      },

      // 判断删除元素再列表中的索引位置 obj再list中的索引位置
      _findIndex(list,obj){
        var objStr = JSON.stringify(obj)
        return list.reduce((index,ele,i)=>{
          if(JSON.stringify(ele) === objStr) {
              return i
          } else {
              return index
          }
        },-1)
      },

      /*勾选事件*/
      chioceList(selection,row) {
        const index = this._findIndex(this.batchList,row)
        if(index == -1){
          // this.batchList.push(JSON.parse(JSON.stringify(row)))
          this.batchList.push(row)
        }else{
          this.batchList.splice(index,1)
        }
      },

      // 全选事件
      chioceAllList(selection) {
        let list = selection.length > 0?selection:this.closeList
        list.forEach(row =>{
          const index = this._findIndex(this.batchList,row)
          if(index == -1){
            this.batchList.push(row)
          }
          else{
            this.batchList.splice(index,1)
          }
        })

      },
      selectionChange(item,index){
        this.closeList = item

      },

      /*小列表弹出框勾选事件*/
      smallList(val){

      },

    },
    components: {Screen,nullData},
  };
</script>
<style scoped lang="less">

  .branchCss {
    width: 100%;
    background: #fff;
    overflow: hidden;
    height: auto;
    /*筛选*/
    .re_screen {
      padding: 17px 27px 0px 27px;
      overflow: hidden;
      ul {
        li {
          width: 100%;
          display: flex;
          justify-content: space-between;
          .re_screenTit {
            width: 85px;
            font-size: 14px;
            color: #454545;
            line-height: 34px;
            height: 34px;
            display: flex;
            justify-content: flex-start;
            h1 {
              width: 61px;
              text-align: justify;
              text-justify: distribute-all-lines;
              font-weight: bold;font-size: 14px;
            }
            h1:after {
              content: '.';
              width: 100%;
              display: inline-block;
              overflow: hidden;
              height: 0;
            }
          }
          .re_screenCont {
            width: 830px;
            font-size: 14px;
            color: #454545;
            line-height: 34px;
            span {
              margin-right: 30px;
              display: inline-block;
              cursor: pointer;
            }
            .screenCont_hover {
              color: #3279FF;
              font-weight: bold;

            }
            .inverted {
              transform: rotate(180deg);
              -ms-transform: rotate(180deg); /* Internet Explorer */
              -moz-transform: rotate(180deg); /* Firefox */
              -webkit-transform: rotate(180deg); /* Safari 和 Chrome */
              -o-transform: rotate(180deg); /* Opera */

            }
          }

        }
      }
      .re_open {
        float: right;
        width: 100px;
        line-height: 20px;
        font-size: 14px;
        font-weight: bold;
        color: rgba(50, 121, 255, 1);
        display: flex;
        justify-content: flex-end;
        align-items: center;
        cursor: pointer;
        h2 {font-size: 14px;
          font-weight: bold;
          float: left;
          padding-right: 3px;
        }
        .typeImg {
          padding-top: 0;;
          margin-top: -4px;
          img {
            padding-top: 0;
          }
          .inverted {
            transform: rotate(180deg);
            -ms-transform: rotate(180deg); /* Internet Explorer */
            -moz-transform: rotate(180deg); /* Firefox */
            -webkit-transform: rotate(180deg); /* Safari 和 Chrome */
            -o-transform: rotate(180deg); /* Opera */

          }
        }
      }
    }
    /*提交按钮*/
    .re_Submission {
      width: 982px;
      margin: 10px auto 10px;
      height: 55px;
      line-height: 55px;
      background: rgba(255, 255, 255, 1);
      border: 1px solid rgba(238, 238, 238, 1);
      display: flex;
      justify-content: space-between;
      .branchLeft {
        margin-left: 15px;
        ul {
          display: flex;
          justify-content: flex-start;
          align-items: center;
          li {

            .typeB {
              float: left;
              margin: 0 9px;
              h2 {
                padding: 0 10px;
                font-size: 14px;
                font-weight: 400;
                color: rgba(102, 102, 102, 1);
                cursor: pointer;

              }
            }
            span {
              content: '';
              border-right: 1px solid #eee;
              overflow: hidden;
              padding: 0;
              margin: 0 8px;
            }
          }
          .clickHover {
            .typeB{
              h2 {
                height: 51px;
                color: #3279FF;
                font-weight: bold;
                border-bottom: 4px solid #3279FF;
                font-size:14px;
              }
            }
          }
        }
      }
      .branchRight {
        width: auto;
        padding-top: 15px;
        display: flex;
        font-size: 14px;
        .branchRL {
          width: 300px;
          overflow: hidden;
          margin-right: 10px;
          display: flex;
          justify-content: flex-start;
          input {
            width: 222px;
            height: 26px;
            line-height: 26px;
            background: rgba(255, 255, 255, 1);
            border: 1px solid rgba(220, 223, 230, 1);
            border-radius: 2px;
            margin: 0;
            border-right: none;
            padding-left: 10px;
            font-size: 14px;
          }
          span {
            width: 65px;
            height: 28px;
            line-height: 28px;
            text-align: center;
            background: rgba(50, 121, 255, 1);
            border-radius: 0px 2px 2px 0px;
            color: #fff;
            cursor: pointer;
          }
        }
        .branchRR {
          width: auto;
          height: 28px;
          line-height: 28px;
          border-radius: 2px;
          text-align: center;
          margin-right: 10px;
          cursor: pointer;
          span {
            width: 59px;
            display: inline-block;
          }
          .btn1 {
            background: rgba(235, 102, 106, 1);
            color: #fff;
          }
          .btn2 {
            width: 57px;
            height: 26px;
            line-height: 26px;
            background: rgba(250, 234, 235, 1);
            border: 1px solid rgba(247, 177, 179, 1);
            border-radius: 2px;
            color: #EB666A;
          }
          .btn3 {
            width: 57px;
            height: 26px;
            line-height: 26px;
            background: rgba(253, 239, 221, 1);
            border: 1px solid rgba(245, 147, 75, 1);
            border-radius: 2px;
            color: #ED6704;
          }
        }
      }

    }
    /*列表数据*/
    .re_list {
      margin: 0 27px 27px 27px;
      /*border: 1px solid rgba(238, 238, 238, 1);*/
      .reList_item {
        font-size: 14px;
        font-weight: bold;
        color: rgba(69, 69, 69, 1);
        line-height: 30px;
        margin-bottom: 10px;
        .item_tit {
          // width: 922px;
          width: 982px;
          height: 56px;
          line-height: 56px;
          text-align: center;
          background: rgba(250, 250, 250, 1);
          border: 1px solid #eeeeee;
          border-bottom: none;
          position: relative;
          span {
            position: absolute;
            right: 37px;
            font-size: 14px;
            font-weight: 400;
            color: #3279FF;
            cursor: pointer;
          }
        }
        .item_list {
          border-top: 1px solid rgba(238, 238, 238, 1);
          .item_Olist {
            border: 1px solid #fff;
            background: #F3F8FF;
            height: 42px;
            line-height: 42px;
            li {
              float: left;
              display: block;
              text-align: center;
              border-right: 1px solid rgba(238, 238, 238, 1);
              h1 {
                display: inline-block;
                color: #EB666B
              }
              span {
                color: #3279FF;
                padding: 0 12px;
                cursor: pointer;
              }
            }
            li:nth-child(1) {
              width: 122px;
            }
            li:nth-child(2) {
              width: 140px;
            }
            li:nth-child(3) {
              width: 200px;
            }
            li:nth-child(4) {
              width: 222px;
            }
            li:last-child {
              width: 230px;
              border-right: none;
            }

          }
          .item_Tlist {
            li {
              border-top: 1px solid #EEEEEE;
              padding: 20px 0px 20px 50px;
              display: flex;
              justify-content: flex-start;
              /*border-bottom: 1px solid #EEEEEE;*/
              align-items: center;
              .item_img {
                width: 61px;
                height: 82px;
                img {
                  width: 61px;
                  height: 82px;
                }
              }
              .item_name {
                width: 170px;
                padding-left: 15px;
                h1 {
                  font-size: 16px;
                  font-weight: 400;
                  color: rgba(51, 51, 51, 1);
                  line-height: 18px;
                  height: 37px;
                  text-overflow: ellipsis;
                  overflow: hidden;
                  white-space: nowrap;
                }
                p {
                  font-size: 14px;
                  font-weight: 400;
                  color: rgba(102, 102, 102, 1);
                  line-height: 18px;
                  height: 23px;
                  text-overflow: ellipsis;
                  overflow: hidden;
                  white-space: nowrap;
                }
              }

              .item_recom {
                padding-left: 35px;
                width: 170px;
                line-height: 24px;
                font-size: 14px;
                color: #666666;

                h1 {
                  text-overflow: ellipsis;
                  overflow: hidden;
                  white-space: nowrap;
                  padding-top: 5px;font-size: 14px; font-weight:normal;
                }
                p {
                  span {
                    color: #3279FF
                  }
                  font-weight: normal;
                }
              }
              .item_explain {
                padding-left: 35px;
                width: 180px;
                color: #666;
                font-size: 14px;
                font-weight: normal;
                display: flex;
                align-items: center;
                h1 {font-size: 14px; font-weight:normal;
                  display: inline-block;
                  color: #02B4D0;
                }
                h2 {font-size: 14px; font-weight:normal;
                  display: inline;
                  color: #EB666B;
                  cursor: pointer
                }
              }
              .item_btn {
                width: 150px;
                padding-left: 34px;
                display: flex;
                align-items: center;
                justify-content: center;
                span {
                  display: inline-block;
                  width: 60px;
                  height: 28px;
                  line-height: 28px;
                  text-align: center;
                  border-radius: 3px;
                  font-size: 12px;
                  font-weight: 400;
                  cursor: pointer;
                  margin: 0 5px;
                }
                .return {
                  background: rgba(255, 240, 241, 1);
                  border: 1px solid rgba(255, 213, 215, 1);

                  color: rgba(235, 102, 107, 1);

                }
                /*推荐人*/
                .look {

                  background: rgba(236, 245, 255, 1);
                  border: 1px solid rgba(198, 226, 255, 1);
                  color: rgba(64, 158, 255, 1);
                }
                .recommend {
                  background: rgba(235, 252, 255, 1);
                  border: 1px solid rgba(208, 249, 255, 1);
                  color: rgba(2, 180, 208, 1);
                }

              }
              /*推荐人*/
              .item_msg {
                width: 170px;
                padding-right: 30px;
                h1 {
                  font-size: 16px;
                  font-weight: 400;
                  color: rgba(51, 51, 51, 1);
                  line-height: 18px;
                  height: 37px;
                  text-overflow: ellipsis;
                  overflow: hidden;
                  white-space: nowrap;
                }
                p {
                  font-size: 14px;
                  font-weight: 400;
                  color: rgba(102, 102, 102, 1);
                  line-height: 18px;
                  height: 23px;
                  text-overflow: ellipsis;
                  overflow: hidden;
                  white-space: nowrap;
                }
              }
            }
          }
        }

      }
      .branchBtn {
        display: flex;
        justify-content: center;
        padding-top: 15px;
        padding-bottom: 3px;
        span {
          width: 89px;
          height: 34px;
          border-radius: 4px;
          font-size: 14px;
          display: inline-block;
          text-align: center;
          line-height: 34px;
          cursor: pointer;
          margin: 0 10px;
        }
        .submit {
          background: rgba(50, 121, 255, 1);
          color: #fff;
        }
        .cancel {
          width: 89px;
          height: 32px;
          line-height: 32px;
          background: rgba(255, 255, 255, 1);
          border: 1px solid rgba(220, 223, 230, 1);
          border-radius: 4px;
          color: #999999;
        }
      }

    }

    /*弹出框*/
    .infoAlert {
      width: 100%;
      height: 100%;
      position: fixed;
      z-index: 111;
      top: 0;
      left: 0;
      background: rgba(0, 0, 0, 0.2);
      display: flex;
      align-items: center;
      justify-content: center;

      .infoAlertC {
        width: auto;
        height: auto;
        background: rgba(255, 255, 255, 1);
        box-shadow: 0px 2px 8px 0px rgba(170, 170, 170, 0.49);
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-bottom: 30px;
        overflow: hidden;
        .infoAlertT {
          width:96%;
          height: 36px;
          padding: 0 2%;
          background: rgba(244, 244, 244, 1);
          display: flex;
          justify-content: space-between;
          line-height: 36px;
          h1 {
            font-size: 14px;
            font-family: "Microsoft Yahei", "simsun", "arial", "tahoma";
            font-weight: bold;
            color: rgba(68, 68, 68, 1);
          }
          span {
            color: #999999;
            font-size: 20px;
            cursor: pointer;

          }

        }
        .isTypeTwo {
          width: auto;
          margin: 32px auto 20px;
          font-size: 14px;
          color: #454545;
          line-height: 26px;
          padding: 0 20px;
          a {
            color: #3279FF;
          }
          h1 {
            font-size: 14px;
            display: inline-block;
            font-weight: bold;
          }
          p {
            font-size: 14px;
            font-weight: 400;
            color: rgba(102, 102, 102, 1);
            line-height: 30px;
            padding-bottom: 10px;
          }
          .isTypeinput {
            span {
              font-size: 14px;
              font-weight: 400;
              color: rgba(102, 102, 102, 1);
              line-height: 40px;
            }
            input {
              float: right;
              width: 316px;
              height: 38px;
              background: rgba(255, 255, 255, 1);
              border: 1px solid rgba(220, 223, 230, 1);
              border-radius: 3px;

            }
          }
          .submitCont {
            width:350px;
            height: 50px;
            line-height: 50px;
            text-align: center;
            font-size: 18px;
          }
        }
        .isTypeTwoBtn {
          width: 100%;
          display: flex;
          justify-content: center;
          .commit {
            display: inline-block;
            cursor: pointer;
            width: 96px;
            height: 32px;
            background: rgba(50, 121, 255, 1);
            border-radius: 4px;
            font-size: 12px;
            font-family: "Microsoft Yahei", "simsun", "arial", "tahoma";
            font-weight: 400;
            color: rgba(255, 255, 255, 1);
            line-height: 32px;
            text-align: center;
            margin-right: 5px;
          }

        }
        /*p {
          width: 378px;
          font-size: 18px;
          font-family: "Microsoft Yahei","simsun","arial","tahoma";
          font-weight: 400;
          color: rgba(69, 69, 69, 1);
          margin-top: 40px;
          margin-bottom: 25px;
          line-height: 30px;
          a {
            color: #3279FF;

          }
        }*/
        .infoAlertB {
          width: 96px;
          height: 32px;
          background: rgba(50, 121, 255, 1);
          border-radius: 4px;
          font-size: 12px;
          font-family: "Microsoft Yahei", "simsun", "arial", "tahoma";
          font-weight: 400;
          color: rgba(255, 255, 255, 1);
          text-align: center;
          line-height: 32px;
          cursor: pointer;

        }

        .errorMsg {
          width: 444px;
          height: 20px;
          padding: 0;
          margin-top: 5px;
          text-align: left;
          font-size: 12px;
          color: #f40303;
        }
        .infoevaluateB {
          width: 100%;
          margin: 0 auto;
          display: flex;
          justify-content:center;
          /*margin-top: 20px;*/
          span{
            margin: 0 10px;
          }
          .commit {
            display: inline-block;
            cursor: pointer;
            width: 96px;
            height: 32px;
            background: rgba(50, 121, 255, 1);
            border-radius: 4px;
            font-size: 12px;
            font-family: "Microsoft Yahei", "simsun", "arial", "tahoma";
            font-weight: 400;
            color: rgba(255, 255, 255, 1);
            line-height: 32px;
            text-align: center;
          }
          .cancel {
            display: inline-block;
            cursor: pointer;
            width: 94px;
            height: 30px;
            border: 1px solid rgba(220, 223, 230, 1);
            border-radius: 4px;
            font-size: 12px;
            font-family: "Microsoft Yahei", "simsun", "arial", "tahoma";
            font-weight: 400;
            color: rgba(153, 153, 153, 1);
            line-height: 30px;
            text-align: center;
          }
        }
      }
    }
  }
</style>
