<template>
    <div class="notice"  v-cloak>
        <ComHeader @searchResult="searchResult"></ComHeader>
        <div v-if="isLoading" class="noticeList">
          <loading></loading>
        </div>

        <div v-else class="noticeList">
          <ul v-if="noticeList.length >0">
            <li @click="linkHref(item.id)" v-for="(item,index) in noticeList" :key="index">
                <div class="noticeTit" :title="item.title"><span></span>{{item.title}}</div>
                <div class="noticeTime" v-if="item.releaseTime">{{item.releaseTime.substr(0,10)}}</div>
                <div class="noticeTime" v-if="item.sendTime">{{item.sendTime.substr(0,10)}}</div>
            </li>
          </ul>
          <ul v-else-if="stationList.length > 0">
            <li @click="linkHref(item.id)" v-for="(item,index) in stationList" :key="index" :class="item.isRead == 1? 'isRead':'red'">
                <div class="noticeTit" :title="item.title"><span></span>{{item.title}}</div>
                <div class="noticeTime" v-if="item.releaseTime">{{item.releaseTime.substr(0,10)}}</div>
                <div class="noticeTime" v-if="item.sendTime">{{item.sendTime.substr(0,10)}}</div>
            </li>
          </ul>
          <div v-else class="none">
              <img class="none-img" src="@/assets/img/12-暂无内容.jpg" alt="">
          </div>
          <div class="pagination-container" v-if="total&&total> 0">
            <pagination class="paddingTop" @change="pageChange"
              :current-page="listQuery.pageNum"
              :page-size="listQuery.pageSize" :total-page="lastPage"></pagination>
          </div>
        </div>
        <LoginFooter></LoginFooter>
    </div>
</template>

<script>
import Loading from "../personal/components/loading";
import { getNotiiceListAPI,getOtherListAPI,getStationListAPI,editMessageStatuskAPI } from '@/api/notice'
export default {

  data() {
      return {
        isLoading:false,
        noticeList:[],
        stationList:[],
        listQuery:{
          pageNum:1,
          pageSize:10,
          columnName:'公告通知'
        },
        total:null,
        lastPage:0,
      }
  },
  watch:{
    '$route':['getList']
  },
  components: { Loading},
  mounted(){
    // this.isLoading = true
    this.getList()
  },
  methods: {
    getList(){
      this.isLoading = true
      this.noticeList=[]
      this.stationList=[]
      const name = this.$route.name

      switch (name) {
        case 'noticeList':
          this.listQuery.columnName = '公告通知'
          this.list()
          break;
        case 'stationList':
          this.listQuery.columnName = '站内信息'

          this.getStationList()
          break;
      }

    },
    // 搜索列表
    searchResult(data){
      this.listQuery.title = data
      this.getList()
    },
    list(){
      getNotiiceListAPI(this.listQuery).then(res =>{
        const data = res.data.data
        if(res.data.code ===0){
          this.noticeList = data.list
          this.isLoading = false

          this.total = data.total;
          this.lastPage = Math.ceil(Number(res.data.data.total) / Number(this.listQuery.pageSize));
        }else{
          this.$message.error('请求公告通知列表出错')
        }
      })
    },

    getStationList(){
      getStationListAPI(this.listQuery).then(res =>{
        const data = res.data.data
        if(res.data.code ===0){
          this.stationList = data.list
          this.isLoading = false
          this.total = data.total;
          this.lastPage = Math.ceil(Number(res.data.data.total) / Number(this.listQuery.pageSize));
        }else{
          this.$message.error('请求站内信出错')
        }
        })
    },
    linkHref(id){
      const name = this.$route.name

      switch (name) {
        case 'noticeList':
          this.listQuery.columnName = '公告通知'


          this.link(id,'/noticeIndex/noticeDetail','公告详情')
          break;
        case 'stationList':
          this.listQuery.columnName = ''

            editMessageStatuskAPI(id).then(res =>{

            res.data.code ===0 ?(this.link(id,'/stationIndex/stationDetail','消息通知'))
            :this.$message.error('修改站内消息状态失败')
          })
          break;
      }
    },
    link(id,path,title){
      // this.$router.push({path:path,query:{id:id,title:title}})
      let routeData = this.$router.resolve({path:path,query:{id:id,title:title}})
      window.open(routeData.href, '_blank');
      this.getList()
    },
  /*切换page*/
  pageChange(val) {

    this.listQuery.pageNum = val
    this.getList();
  },
    // 页数改变
    handleCurrentChange(val) {
      this.listQuery.pageNum = val
      this.getList()
    }

  }
}
</script>

<style scoped lang="less">
  .notice{
    width:auto;
    margin: 0 auto;
    height:auto;
    overflow: hidden;
    background: #f4f5f9;
    .noticeList{
      width:1200px;
      min-height:500px;
      margin: 0 auto 30px;
      background:rgba(255,255,255,1);
      box-shadow:0px 2px 8px 0px rgba(1,2,2,0.06);
      border-top:3px solid #3279FF;
      overflow: hidden;


      ul{
        padding: 17px 30px 66px 30px;
        min-height:300px;
        height:auto!important;
        li{
          width:100%;
          display: flex;
          justify-content: space-between;
          height:50px;
          line-height: 50px;
          border-bottom: 1px solid #EDEDED;
          color:#555;
          .noticeTit{
            font-size:14px;
            font-family: "Microsoft Yahei", "simsun", "arial", "tahoma";
            font-weight:400;

            line-height:50px;
            span{
              width:3px;
              height:3px;
              background:rgba(50,121,255,1);
              border-radius:50%;
              float: left;
              display: block;
              margin-top:22px;
              margin-right: 10px;
            }

          }

          .noticeTime{
            font-size:14px;
            font-family: "Microsoft Yahei", "simsun", "arial", "tahoma";
            font-weight:400;
            line-height:50px;

          }
        }
        .isRead{
          color: #BDBDBD;
        }
        .red{
          color: red;
        }
        li:hover{
          color:#3279FF;
          cursor: pointer;
        }
      }
      .none{
        // width: 1200px;
        margin: 0 300px;
        .none-img{
          display: flex;
          justify-content: center;
          width: 100%;
        }
      }

    }
  }

</style>
