<template>
  <!--公告详情-->
    <div class="notice"  v-cloak>
      <div class="noticeDetail">
        <div class="noticeDetailTit">
          <h1>{{detail.title}}</h1>
          <div v-if="$route.meta.title =='公告详情'"><h2 >发信人：{{detail.releaser? detail.releaser:'网民'}}</h2>{{detail.releaseTime.substr(0,10)}}</div>
          <div v-else><h2>发信人：{{detail.sendMember? detail.sendMember:'网民'}}</h2><h2 v-if="detail.sendTime">{{detail.sendTime.substr(0,10)}}</h2></div>
        </div>
        <div class="noticeDetailCont">
          <p v-html="detail.content" ></p>
          <p v-html="detail.text" ></p>
        </div>
      </div>
    </div>
</template>

<script>
import { getNoticeDetailAPI,getStationDetailAPI } from '@/api/notice'
export default {
  data() {
      return {
        detail:{
          title:'',
          releaseTime:'',
          content:''
        }
      }
  },
  components: {},
  watch:{
    '$route':['getDetail']
  },
  mounted(){
    this.getDetail()
  },
  methods: {
    getDetail(){
      const id = this.$route.query.id

      if(this.$route.query.title =='公告详情'){

        this.$route.meta.title =='公告详情'
        getNoticeDetailAPI(id).then(res =>{
          res.data.code === 0 ?
          (this.detail = res.data.data)
          :this.$message.error('获取公告详情失败')
        })
      }else{
        getStationDetailAPI(id).then(res =>{

          res.data.code === 0 ?
          (this.detail = res.data.data)
          :this.$message.error('获取资讯详情失败')
        })
      }
    }

  }
}
</script>

<style scoped lang="less">
  .notice{
    width:auto;
    margin: 0 auto;
    overflow: hidden;
    background: #F9F9F9;
    .noticeDetail{
      width:1140px;
      min-height: 380px;
      margin: 0 auto 30px;
      background:rgba(255,255,255,1);
      box-shadow:0px 2px 8px 0px rgba(1,2,2,0.06);
      border-top:3px solid #3279FF;
      padding: 40px 30px 80px 30px;
      overflow: hidden;
      .noticeDetailTit{
        display: flex;
        align-items: center;
        flex-direction: column;
        border-bottom:1px dashed #CCCCCC;
        padding-bottom: 10px;
        h1{
          font-size:18px;
          font-family: "Microsoft Yahei", "simsun", "arial", "tahoma";
          font-weight:bold;
          color:rgba(85,85,85,1);
          line-height:50px;

        }
        div{
          font-size:12px;
          font-family: "Microsoft Yahei", "simsun", "arial", "tahoma";
          font-weight:400;
          color:rgba(153,153,153,1);
          line-height:30px;
          display: flex;
          flex-direction:row;
          h2{
            margin-right: 30px;
            font-size:12px;
            font-family: "Microsoft Yahei", "simsun", "arial", "tahoma";
            font-weight:400;
          }
        }
      }
    .noticeDetailCont{
      padding-top:40px;
      p{
      text-indent: 2em;
       font-size:14px;
        font-family: "Microsoft Yahei", "simsun", "arial", "tahoma";
       font-weight:400;
       color:rgba(85,85,85,1);
       line-height:36px;
     }}
    }
  }

</style>
