<template>
  <!--我的评价-->
  <div class="evaluate" style="min-height:700px;">
    <titleNav :titleMsg="bookTitle"></titleNav>
    <loading v-if="isLoading"></loading>
    <div v-else>
      <ul v-if="evaluateList.length > 0" class="evaluateList">
        <li class="evaluateItem" v-for="(item,index) in evaluateList" :key="index">
          <div class="itemImg">
            <img class="img" v-if="item.resourceCover" @click="linkHref(item)" :src="imgUrl(filterImgAddress(item.resourceCover))" alt="" @error="imgError(item)">
            <img class="img" v-else @click="linkHref(item)" src="@/assets/img/01-图书.png" alt="">
            <h1 v-if="item.status=='-1'" :class="item.status=='-1'?'noPass':''">{{item.statusZh}}</h1>
            <h1 v-else-if="item.status=='0'" :class="item.status == '0'?'inAudit':''">{{item.statusZh}}</h1>
            <h1 v-else :class="item.status == '1'?'pass':''">{{item.statusZh}}</h1>
          </div>
          <div class="itemWord">
            <h1 @click="linkHref(item)" :title="item.resourceName">{{item.resourceName}}</h1>
            <p :id="'info'+index"><!--{{filterWord(item.comment,80)}}-->{{Ellipsis('info'+index,2,item.comment,26)}}</p>
            <div class="itemOther">
              <span class="time">{{item.createTime}}</span>
              <span @click="deleteComment(item.commentId)">
                <img src="../../../assets/img/delete.png" alt="">
                <h3>删除评论</h3>
              </span>
            </div>
            <div class="itemtriangle"></div>
            <div class="itemReply" v-if="item.reply">
              <h2>回复：</h2>
              <p>{{item.reply}}</p>
            </div>
          </div>
        </li>
      </ul>
      <div v-else class="evaluate-none">
        <img  src="@/assets/img/12-暂无内容.jpg" alt="">
      </div>
    </div>
    <div class="pagination-container">
      <!--<el-pagination @current-change="handleCurrentChange" :current-page="listQuery.pageNum"  :page-size="listQuery.pageSize" layout="  prev, pager, next, total, jumper" :total="total" align="center">
      </el-pagination>-->
      <pagination class="paddingTop" @change="pageChange" :current-page="listQuery.pageNum" :page-size="listQuery.pageSize" :total-page="lastPage" v-if="total&&total>0"></pagination>
    </div>
  </div>
</template>
<script>
import titleNav from './../components/title';
import Loading from "../components/loading";
import {isBindAPI} from "@/api/resources.js";
import {getEvaluateListAPI,deleteCommentAPI} from "@/api/personal/evaluate"
  export default {
    data() {
      return {
        bookTitle: '我的评价',
        isShow: false,
        evaluateList:[],
        listQuery:{
          pageNum:1,
          pageSize:10,
        },
        total:null,
        lastPage:0,
        isLoading:false,
        minHeight:''
      }
    },
    components: {titleNav,Loading},
    created() {
      this.minHeight =this.tableHeigh(450)
    },
    watch: {},
    mounted(){
      this.getEvaluateList()
    },
    methods: {

      imgError(item) {
       item.resourceCover = '/img/01-图书.png'
      },
    // 评论列表
    getEvaluateList(){
      this.isLoading = true
      getEvaluateListAPI(this.listQuery).then(res =>{
        const data = res.data.data
        if(res.data.code === 0){
          this.evaluateList = data.list
          this.total = data.total;
          this.lastPage = Math.ceil(Number(data.total) / Number(this.listQuery.pageSize));
          this.isLoading = false
        }else{
          this.$message.error('请求评论列表数据失败')
        }
      })
    },
    // 删除评论
    deleteComment(id){

        deleteCommentAPI(id).then(res=>{

          if(res.data.code === 0){
            this.$message.success('删除评论成功')
            this.getEvaluateList()
          }else{
            this.$message.error('删除评论失败')
          }
        })
    },
    linkHref(item){
        let routeData = ''
        if(item.resourceType.indexOf('2-')>=0){//电子
          // this.$router.push({path:'/resources/teaching',query:{id:item.id}});
          routeData = this.$router.resolve({path:'/resources/teaching',query:{id:item.id}});
          window.open(routeData.href, '_blank');
        }else{
          isBindAPI({oid:item.resourceId}).then(res=>{
            if(res.data.status){
              if(res.data.data){//绑定资源
                // this.$router.push({path:'/resources/info',query:{id:item.resourceId}});
                routeData = this.$router.resolve({path:'/resources/info',query:{id:item.resourceId}});
                window.open(routeData.href, '_blank');
              }else{//没有绑定
                // this.$router.push({path:'/resources/vocation',query:{id:item.resourceId}});
                routeData = this.$router.resolve({path:'/resources/vocation',query:{id:item.resourceId}});
                window.open(routeData.href, '_blank');
              }

            }
          })
        }

      },
    // 页数改变
    pageChange(val) {
      this.listQuery.pageNum = val
      this.getEvaluateList()
    },

      /*切换page*/
      pageChange(val) {

        this.listQuery.pageNum = val
        this.getEvaluateList();
      },

      checkT() {
        this.isShow = true;
      },
    },
  }
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped lang="less">
  .evaluate {
    .evaluateList {
      width: 924px;
      margin: 0 auto 50px;
      .evaluateItem {
        display: flex;
        justify-content: space-between;
        overflow: hidden;
        border-bottom: 1px solid #E6E6E6;
        padding-bottom: 30px;
        margin-top: 20px;

        .itemImg {
          background: #e3eefd;
          display:flex;
          justify-content: center;
          align-items: center;
          width: 150px;
          height: 200px;
          box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.1);
          position: relative;
          overflow: hidden;
          .img {
            max-width: 150px;
            max-height: 200px;
          }
          h1 {
            position: absolute;
            width: 52px;
            height: 22px;
            top: 5px;
            left: 0;
            line-height: 22px;
            text-align: center;
            font-size: 14px;
            font-family: 'Microsoft YaHei';
            font-weight: 400;
            color: rgba(255, 255, 255, 1);
          }
          .noPass{
            background: #EB666B;
          }
          .inAudit{
            background: #FFA32B;
          }
          .pass{
            background: #4BB932;
          }
        }
        .itemImg:hover{
          cursor: pointer;
        }
        .itemWord {
          width: 744px;
          overflow: hidden;
          height: auto;
          h1 {
            font-size: 14px;
            font-family: 'Microsoft YaHei';
            font-weight: bold;
            color: rgba(51, 51, 51, 1);
            line-height: 24px;
            padding-bottom: 15px;
          }
          h1:hover{
            cursor: pointer;
          }
          p {
            font-size: 14px;
            font-family: 'Microsoft YaHei';
            font-weight: 400;
            color: rgba(85, 85, 85, 1);
            line-height: 26px;
          }
          .itemOther {
            width: 100%;
            overflow: hidden;
            font-size: 12px;
            font-family: 'Microsoft YaHei';
            font-weight: 400;
            color: rgba(183, 183, 183, 1);
            line-height: 34px;
            display: flex;
            justify-content: space-between;
            .time{
              font-size: 12px;
            }
            span {
              display: block;
              cursor: pointer;
              img {
                width: 16px;
                height: 14px;
                // padding-top: 10px;
                display: inline-block;
                margin-right: 3px;
              }
              h3 {
                float: right;
                display: block;font-size: 12px;
                font-family: 'Microsoft YaHei';
                font-weight: 400;
              }
            }
          }
          .itemtriangle {
            width: 0;
            height: 0;
            border-width: 0 10px 10px;
            margin-left: 30px;
            border-style: solid;
            border-color: transparent transparent #F9FAFF; /*透明 透明  灰F9FAFF*/
          }
          .itemReply {
            width: 704px;
            height:auto;
            overflow: hidden;
            background: rgba(249, 250, 255, 1);
            border-radius: 5px;
            padding: 20px 20px;
            h2{
              height:28px;
              font-size:14px;
              font-family: 'Microsoft YaHei';
              font-weight:bold;
              color:rgba(50,121,255,1);
              line-height:28px;
            }
            p{
              font-size:14px;
              font-family: 'Microsoft YaHei';
              font-weight:400;
              color:rgba(102,102,102,1);
              line-height:26px;
            }
          }
        }

      }
    }
    .evaluate-none{
      display: flex;
      justify-content: center;
      width: 100%;
    }

  }
</style>
