<template>
  <div class="createPost-container">
    <div class="createPost-main-container">
    <div class="backBtn" @click="$router.back()" v-if="title =='查看站内信'">
        <i class="el-icon-arrow-left"></i>
        返回
      </div>
      <!-- 发送站内信 -->
      <el-form ref="dataForm" :rules="rules" :model="temp" label-position="right" label-width="110px" style='margin-right:20px;'>
        <el-form-item label="站内信标题：" prop="title">
          <el-col :span="12">
            <el-input v-model="temp.title" maxlength='35' :disabled="title =='查看站内信'"></el-input>
          </el-col>
        </el-form-item>
        <!-- <el-form-item label="发布时间：" prop="sendTime">
          <el-col :span="12">
            <div class="block">
                <el-date-picker
                v-model="temp.sendTime"
                type="datetime"
                placeholder="选择日期时间"
                value-format="yyyy-MM-dd HH:mm:ss"
                :disabled="title =='查看站内信'">
                </el-date-picker>
            </div>
          </el-col>
        </el-form-item> -->
        
        <el-form-item label="收信人选择：" prop="type">
          <el-radio-group v-model="temp.type" :disabled="title =='查看站内信'">
            <el-radio :label="'0'">全部用户</el-radio>
            <!-- <el-radio :label="'1'">指定用户组</el-radio> -->
            <el-radio :label="'2'">指定用户</el-radio>
          </el-radio-group>
        </el-form-item>
        <!-- <el-form-item v-if="temp.type==1" label="选择用户组：" prop="groupType" >
          <el-checkbox-group v-model="temp.groupType" :disabled="title =='查看站内信'">
            <el-checkbox :label="'1'">学校用户</el-checkbox>
            <el-checkbox :label="'2'">出版社用户</el-checkbox>
            <el-checkbox :label="'3'">技校联盟用户</el-checkbox>
            <el-checkbox :label="'4'">校长论坛用户</el-checkbox>
          </el-checkbox-group>
        </el-form-item> -->
        <el-form-item v-if="temp.type==2" label="已选择用户：" prop="memberName">
          <el-col :span="12">
            <!-- <el-input v-model="temp.memberName"></el-input> -->
            <el-input v-model="temp.memberName" :disabled="title =='查看站内信'"></el-input>
          </el-col>
          <el-col :span="12" style="padding-left:15px;">
            <el-button @click="getMemberList">选择用户</el-button>
          </el-col>
        </el-form-item>
        <el-form-item label="站内信内容：" prop="text" v-if="temp.text||title!='查看站内信'" style="position:relative">
          <el-col :span="16">
            <tinymce :height="300" ref="editor" v-model="temp.text" style="width:800px" :disabled="title =='查看站内信'"></tinymce>
            <el-input type="input" style="position:absolute;bottom:80px;left:10px;z-index:-10;width:100px;"  v-model="temp.text" ></el-input>
          </el-col>
        </el-form-item>
      </el-form>
      <div slot="footer" class="dialog-footer" align="center" v-if="title!='查看站内信'">
        <el-button class="form-submit" @click="createSubmit">保存</el-button>
        <el-button @click="$router.back()">取消</el-button>
      </div>
      <!-- 选择用户 -->
      <el-dialog
        title="选择用户"
        :visible.sync="dialogVisible"
        width="60%"
        top="30vh">
        <el-form inline class="form-inline">
      
      <el-form-item label="用户名">
        <el-input @keyup.enter.native="handleFilter" v-model="listQuery.name" clearable></el-input>
      </el-form-item>
      <el-form-item label="手机">
        <el-input @keyup.enter.native="handleFilter" v-model="listQuery.phone" clearable></el-input>
      </el-form-item>
      <el-form-item label="部门：">
            <el-col :span="20">
                <el-select v-model="listQuery.departmentId" placeholder="请选择部门">
                    <el-option label="全部" :value="null">
                    </el-option>
                    <el-option v-for="item in departList" :key="item.id" :label="item.name" :value="item.id">
                    </el-option>
                </el-select>
            </el-col>
        </el-form-item>
      <el-form-item >
        <el-button @click="handleFilter">搜索</el-button><el-button @click="resetFilter">重置</el-button>
      </el-form-item>
    </el-form>
    <el-row>
        <el-col :span="18">
        <el-table :data="list" ref="singleTable" v-loading="listLoading" element-loading-text="给我一点时间" border highlight-current-row stripe @selection-change="chioceList" >
      <el-table-column type="selection" align="center"></el-table-column>
      <!-- <el-table-column label="学校" min-width="160" align="center">
        <template slot-scope="scope">
          <span>{{scope.row.schoolName}}</span>
        </template>
      </el-table-column> -->
      <!-- <el-table-column label="地区" min-width="120" align="center">
        <template slot-scope="scope">
          <span>{{scope.row.address}}</span>
        </template>
      </el-table-column> -->
      <el-table-column label="会员名" min-width="120" align="center">
        <template slot-scope="scope">
          <span>{{scope.row.name}}</span>
        </template>
      </el-table-column>
      <el-table-column label="手机号" min-width="120" align="center">
        <template slot-scope="scope">
          <span>{{scope.row.phone}}</span>
        </template>
      </el-table-column>
      <el-table-column label="部门" min-width="120" align="center">
        <template slot-scope="scope">
          <span>{{scope.row.departmentName}}</span>
        </template>
      </el-table-column>
    </el-table>
    </el-col>
    <el-col :span="6">
        <h3 class="transfer-title">已选择{{selectList.length}}个用户，点击删除</h3>
        <div class="transfer">
            <ul>
                <li v-for="(item,index) in selectList" :key="index" @click="deselected(item,index)">{{item.name}}</li>
            </ul>
        </div>
    </el-col>
    </el-row>
    <div class="pagination-container">
      <el-pagination @size-change="handleSizeChange" @current-change="handleCurrentChange" :current-page="listQuery.pageNum" :page-sizes="[10,30,50,100,200,500]" :page-size="listQuery.pageSize" layout="total, sizes, prev, pager, next, jumper" :total="total" align="center">
      </el-pagination>
    </div>
        <span slot="footer" class="dialog-footer">
          <el-button type="primary" @click="choiseMember">确 定</el-button>
          <el-button @click="dialogVisible = false">取 消</el-button>
        </span>
      </el-dialog>
    </div>
  </div>
</template>

<script>
import { addAPI, viewAPI,getMemberListAPI,departListAPI} from '@/api/backstage/system/mailManage'
import { operationMsg, confirm } from '@/utils/publicFunctions'
import { getMultipleMemberName,getMultipleMemberId } from '@/filters/getIds'
import Tinymce from "@/components/Tinymce";
import store from '@/store'

export default {
  components: { Tinymce },
  data() {
    return {
        rules: {
            title: [{ type: 'string', required: true, trigger: 'change', message: '请填写标题' }],
            type: [{ type: 'string', required: true, trigger: 'change', message: '请选择收信人' }],
            sendTime:[{  required: true, trigger: 'blur', message: '请选择发布时间' }],
            memberName: [{ required: false, trigger: 'change', message: '请选择用户' }],
            text: [{ type: 'string', required: true, trigger: 'change', message: '请填写内容' }],
            
        },
        temp: {
            title: '',
            text: '',
            groupType: '1',
            memberIds: [],
            type:''
        },
        listQuery: {
            pageNum: 1,
            pageSize: 100,
            type:0,
        },
        departListQuery:{
        pageNum: 1,
        pageSize: 100,
    },
        
        dialogVisible:false,
        list: null,
        total: null,
        listLoading: true,
        title:null,
        selectList:[],
        departList:[]
    };
  },
  mounted() {
      this.getOid()
      this.getDepartList()
  },
  methods: {
    //   判断是添加还是修改
      getOid(){
      this.title = this.$route.query.title;
      let id = this.$route.query.id;
      this.$route.meta.title = this.title;
      if (id && this.title != "发送站内信") {
        viewAPI(id).then(res => {
          const data = res.data.data
            if(res.data.code === 0) {
            this.temp = res.data.data
            data.groupType ? (this.temp.groupType = data.groupType.split(',')):''
            data.memberIds ? (this.temp.memberName = data.memberIds.join(',')):''
            }
        })
         
      }
    },
     // 获取部门列表
    getDepartList(){ 
        // this.departListQuery.schoolId =7
        departListAPI(this.departListQuery).then(res => {
          res.data.code === 0
            ? (this.departList = res.data.data.list)
            : this.$message.error("请求出错啦");
        });
    },
    // 获取用户列表
    getMemberList(){
      this.listLoading = true
      this.dialogVisible = true
      getMemberListAPI(this.listQuery).then(res => {
        if(res.data.code === 0){
          this.list = res.data.data.list
          this.total = res.data.data.total      
          this.$nextTick(function () {
            this.selectionList()
          })
        } else {
          this.$message.error('获取数据失败');
        }
        this.listLoading = false
      })
    },
    // 如果页面中有选中用户的数据，进行选中状态更改
    selectionList(){
      if(this.selectList.length > 0){
        this.selectList.forEach(item => {
            const ind = this.findIndex(this.list,item)
            if(ind !== -1){
              this.$refs.singleTable.toggleRowSelection(this.list[ind],true)
            }else{
            }
        });
      }
    },

    // 判断删除元素再列表中的索引位置 obj再list中的索引位置
    findIndex(list,obj){
      var objStr = JSON.stringify(obj)
      return list.reduce((index,ele,i)=>{
        if(JSON.stringify(ele) === objStr) {
            return i
        } else {
            return index
        }
      },-1)
    },

    // 取消选择用户
    deselected(item,index){
      const deleteMember = this.selectList.splice(index,1)[0]
      const ind = this.findIndex(this.list,deleteMember)
      ind !== -1 ? (this.$refs.singleTable.toggleRowSelection(this.list[ind],false)):''
    },
    // 确定用户人员
    choiseMember(){
      if(this.selectList.length ==0){
        this.$message.error('请至少选择一个用户')
      }else{
        this.temp.memberIds = getMultipleMemberId(this.selectList)
        this.temp.memberName = getMultipleMemberName(this.selectList).join(',')
        this.dialogVisible = false
      }
    },
    
    // 创建站内信
    createSubmit(dataForm){
      if(this.temp.type == '2'&&this.temp.memberIds.length == 0){
          this.temp.type = ''
        }
      this.$refs['dataForm'].validate((valid) => {
        if (valid) {
          
          let { groupType, memberIds, ...tempData } = this.temp // 深拷贝
          if (tempData.type == '1') {
            this.temp.groupType.length > 0 ? tempData.groupType = this.temp.groupType.join(',') : tempData
          } else if (tempData.type == '2') {
            tempData.memberIds = [...this.temp.memberIds] //深拷贝
          }
          tempData.groupType = '1'
          
          addAPI(tempData).then(res => {
              res.data.code === 0 ?(this.$router.back()):''
            operationMsg.apply(this,[res.data.code,'站内信创建'])
            
          })
        }
      })
    },

    chioceList(val) {//勾选
        if(val.length !==0){
        val.forEach(item => {
          if(this.findIndex(this.selectList,item) ==-1){
            this.selectList.push(item)
          } 
        });
      }
    },
    // 搜索
    handleFilter(){
      this.listQuery.pageNum = 1
      this.getMemberList()
    },
    resetFilter(){//重置
      this.listQuery = {
        pageNum: 1,
        pageSize: this.listQuery.pageSize,
      }
      this.getMemberList()
    },
    // 改变分页大小
    handleSizeChange(val) {
      this.listQuery.pageSize = val
      this.getMemberList()
    },
    // 页数改变
    handleCurrentChange(val) {
      this.listQuery.pageNum = val
      this.getMemberList()
    },
    // 查看返回
    backBtn() {
      this.$router.back();
    }
  }
};
</script>

<style rel="stylesheet/scss" lang="scss" scoped>
@import "src/style/mixin.scss";

.createPost-container {
  position: relative;
  .createPost-main-container {
    padding: 50px;
    .el-dialog__header {
      background: #15d;
      color: #fff;
    }
  }
}
.backBtn {
  margin-bottom: 20px;
  font-weight: bold;
}
.backBtn:hover {
  cursor: pointer;
}
.picture-tip{
  color:gray;
  font-size: 12px;
  margin-top: 7px;
  line-height: 20px;
}
.transfer-title{
    margin: 10px;
}
.transfer{
    margin: 0 10px;
    height:400px;
    border: 1px solid #999;
    overflow: scroll;
}
ul{
    margin: 0;
    padding: 0;
    li{
        list-style-type: none;
        line-height: 36px;
        font-size: 16px;
        margin-left:6px;
        &:hover{
            cursor:pointer;
        } 
    }
}
</style>

