<template>

  <div class="app-container calendar-list-container xyw">
    <div class="filter-container">
      <div class="nav-buttons-container">
        <router-link :to="{ path:'addMail',query:{title:'发送站内信'}}">
          <el-button  v-if="authBtns.filter(i => i.idName=='grantBtn').length > 0">{{authBtns.filter(i => i.idName=='grantBtn')[0].name}}<i v-if="authBtns.filter(i => i.idName=='grantBtn').length>0 && authBtns.filter(i => i.idName=='grantBtn')[0].icon" :class="[authBtns[authBtns.map(i => i.idName).indexOf('grantBtn')].icon, 'el-icon--right']"></i></el-button>
        </router-link>
      <el-button v-if="authBtns.map(i => i.idName).indexOf('batchDeleteBtn') >= 0"  @click="massDelete"> {{authBtns.filter(i => i.idName=='batchDeleteBtn')[0].name}}<i v-if="authBtns.filter(i => i.idName=='batchDeleteBtn').length>0 && authBtns.filter(i => i.idName=='batchDeleteBtn')[0].icon" :class="[authBtns[authBtns.map(i => i.idName).indexOf('batchDeleteBtn')].icon, 'el-icon--right']"></i></el-button>

      </div>
      <!-- 检索 -->
      <el-form :inline="true" class="form-inline">
        <el-form-item label="信息标题：">
          <el-input style="width: 180px;" clearable v-model="listQuery.title">
          </el-input>
        </el-form-item>
        <el-form-item label="发送时间：">
          <el-date-picker v-model="time" type="daterange" range-separator="至" start-placeholder="开始日期" end-placeholder="结束日期" value-format="yyyy-MM-dd"></el-date-picker>
        </el-form-item>
        <el-form-item>
          <el-button  @click="handleFilter">检索</el-button>
          <el-button type="danger" @click="resetFilter">重置</el-button>
        </el-form-item>
      </el-form>
    </div>
    <!-- 站内信列表 -->
    <el-table :key='tableKey' stripe :data="list" v-loading="listLoading" element-loading-text="给我一点时间" border highlight-current-row @current-change="handleCurChange" ref="multipleTable" @selection-change="handleSelectionChange">
      <el-table-column type="index" label="序号" width="60" align="center"></el-table-column>
      <el-table-column align="center" type="selection"></el-table-column>
      <el-table-column min-width="150" align="center" label="信息标题">
        <template slot-scope="scope">
          <span>{{scope.row.title}}</span>
        </template>
      </el-table-column>
      <el-table-column label="发送方式" width="120" align="center">
        <template slot-scope="scope">
          <span v-if="scope.row.sendType == 1" style="color:#008000;">手动发送</span>
          <span v-else style="color:#CC6600;">自动发送</span>
        </template>
      </el-table-column>
      <el-table-column width="180" align="center" label="发送时间">
        <template slot-scope="scope">
          <span>{{scope.row.sendTime}}</span>
        </template>
      </el-table-column>
      <el-table-column align="center" label="操作" width="120" class-name="small-padding fixed-width">
        <template slot-scope="scope">
          <router-link :to="{ path:'addMail',query:{id:scope.row.id,title:'查看站内信'}}"><i :class="authBtns.filter(i => i.idName=='viewBtn')[0].icon" :title="authBtns.filter(i => i.idName=='viewBtn')[0].name" v-if="authBtns.filter(i => i.idName=='viewBtn').length > 0" ></i></router-link>
          <router-link :to="{ path:'addMail',query:{id:scope.row.id,title:'修改站内信'}}" v-if="scope.row.sendType == 1"><i :class="authBtns.filter(i => i.idName=='editBtn')[0].icon" :title="authBtns.filter(i => i.idName=='editBtn')[0].name" v-if="authBtns.filter(i => i.idName=='editBtn').length > 0" ></i></router-link>
          <i @click="singleDelete(scope.row.id)" :class="authBtns.filter(i => i.idName=='deleteBtn')[0].icon" :title="authBtns.filter(i => i.idName=='deleteBtn')[0].name" v-if="authBtns.filter(i => i.idName=='deleteBtn').length > 0" ></i>
        </template>
      </el-table-column>
    </el-table>

    <div class="pagination-container">
      <el-pagination @size-change="handleSizeChange" @current-change="handleCurrentChange" :current-page="listQuery.pageNum" :page-sizes="[30,50,100,200,500]" :page-size="listQuery.pageSize" layout="total, sizes, prev, pager, next, jumper" :total="total" align="center">
      </el-pagination>
    </div>

  </div>
</template>
<script>
import { getListAPI, deleteAPI, addAPI, viewAPI, getMemberAPI, getMemberQueryAPI} from '@/api/backstage/system/mailManage'
import { operationMsg, confirm } from '@/utils/publicFunctions'
import { getMultipleSelectionIDs } from '@/filters/getIds'
import store from '@/store'

export default {
  name: "complexTable",
  data() {
    return {
      authBtns:[],
      imageUrl:'',
      tableKey: 0,
      memberTableKey: 1,
      list: null,
      total: null,
      listLoading: true,
      time: null,
      listQuery: {
        pageNum: 1,
        pageSize: 100,
        title: null,
        beginTime: null,
        endTime: null
      },
      massQuery: {
        ids: [],
        status: null
      },
      memberQuery: {
        pageNum: 1,
        pageSize: 10,
        keyword: ''
      },
      memberSelection:[],
      memberSelect: '',
      member:{
        listLoading: true,
        list: null,
        total: null,
        memberSelection:[],
        ids: []
      },
      temp: {
        type: '0',
        title: '',
        text: '',
        groupType: [],
        memberIds: '',
      },
      dialogFormVisible: false,
      dialogPvVisible: false,
      dialogStatus: '',
      getRowKeys(row) {
        return row.account;
      },
      multipleSelection:[]
    };
  },
   created(){
    this.authBtns = store.getters.pageBtn[this.$route.meta.routerIds[0]]
  },
  mounted() {
    this.getList();
  },
  methods: {
    getList(){
      this.listLoading = true;
      getListAPI(this.listQuery).then(res => {
        if(res.data.code === 0){
          this.list = res.data.data.list
          this.total = res.data.data.total
        } else {
          this.$message.error('获取数据失败')
        }
        this.listLoading = false;
      });
    },

    handleCurChange(val){
      this.$refs.multipleTable.clearSelection();
      this.$refs.multipleTable.toggleRowSelection(val)
    },

    handleSelectionChange(val) {
      this.multipleSelection = val;
      this.multipleSelection.length>0 ? this.massQuery.ids = getMultipleSelectionIDs(this.multipleSelection) : true
    },
    // 批量删除
    massDelete(){
      if(this.multipleSelection.length!=0){
        confirm.apply(this,['确定要删除选择的站内信吗？']).then(() => {
          deleteAPI(this.massQuery.ids).then(res => {
            operationMsg.apply(this,[res.data.code,`批量删除${this.multipleSelection.length}项`])
          })
        })
      } else {
        this.$message.warning('请先选择需要删除的内容')
      }
    },
    // 删除单条
    singleDelete(id) {
      confirm.apply(this,['确定要删除这条站内信吗？']).then(() => {
        deleteAPI([id]).then(res => {
          operationMsg.apply(this,[res.data.code,'删除'])
        })
      })
    },
    // 重置
    resetFilter(){
      this.listQuery = {
        pageNum: 1,
        pageSize: this.listQuery.pageSize,
        title: null,
        beginTime: null,
        endTime: null
      }
      this.time = null
      this.getList()
    },
    // 检索
    handleFilter() {
    //   store.dispatch('SetMailSerKeys',this.listQuery).then(res => {

    //   })
      if (this.time) {
        this.listQuery.beginTime = this.time[0]
        this.listQuery.endTime = this.time[1]
      } else {
        this.listQuery.beginTime = null
        this.listQuery.endTime = null
      }
      this.getList()
    },
    handleSizeChange(val) {
      this.listQuery.pageSize = val
      this.getList()
    },
    handleCurrentChange(val) {
      this.listQuery.pageNum = val
      this.getList()
    },
    memberFilter(){
      this.memberQuery.pageNum = 1
      this.getMember()
    },
    memberCurrentChange(val){
      this.memberQuery.pageNum = val
      this.getMember()
    },
  }
};
</script>

<style>
  .box-card {
    width: 100%;
    height: 100%;
    min-height: 200px;
    max-height: 400px;
    overflow-y: auto;
  }
  .inline{
    text-align: right
  }
  /* .xyw .filter-container .el-form--inline .el-form-item--medium .el-form-item__text .el-button:not(:last-child) {
    margin-right: 10px;
    color: #fff;
    background-color: #409EFF;
    border-color: #409EFF;
  } */
</style>
