@import './variables.scss';
@import './mixin.scss';
// @import './transition.scss';
@import './element-ui.scss';
@import './sidebar.scss';
// @import './sidebar.scss';
@import './btn.scss';

body {
  margin: 0;
  padding: 0;
  height: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  // font-family: Helvetica Neue, Helvetica, PingFang SC, Hiragino Sans GB, Microsoft YaHei, Arial, sans-serif;
}
//  h1, h2, h3, h4, h5, h6{
//   margin: 0;
//   padding: 0;
// }
ul, li {
  list-style: none;
  padding: 0;
  margin: 0;
}

html {
  height: 100%;
  box-sizing: border-box;
}

#app {
  height: 100%;
}

[v-cloak] {
  display: none !important;
}

/**,
*:before,
*:after {
    box-sizing: inherit;
}*/

.app-container {
  padding: 20px;
}

.components-container {
  margin: 30px 50px;
  position: relative;
}

.pagination-container {
  margin-top: 30px;
}

.btn-prev {
  border: 1px solid #DADADA;
  margin: 0 4px;
}

.el-dialog {
  width: 1000px;
}

.vue-ip.material-theme input[data-v-042676a4] {
  color: #ccc !important;
}

.vue-ip.material-theme input[data-v-042676a4] {
  color: #000;
}

.avatar-uploader-icon[data-v-4482238c],
.avatar-uploader-icon[data-v-4d8af68b],
.avatar-uploader-icon[data-v-53d05e79],
.avatar-uploader-icon[data-v-73134de2],
.avatar-uploader-icon[data-v-48ec9ff9],
.avatar-uploader-icon {
  border: 1px dashed #ccc;
}

.avatar-uploader-icon[data-v-53d05e79],
.avatar-uploader-icon[data-v-73134de2],
.avatar-uploader-icon[data-v-165b1b82],
.avatar-uploader-icon {
  font-size: 28px;
  color: #8c939d;
  width: 178px;
  height: 178px;
  line-height: 178px;
  text-align: center;
}

label {
  font-weight: 700;
}

html {
  height: 100%;
  box-sizing: border-box;
}

.no-padding {
  padding: 0px !important;
}

.padding-content {
  padding: 4px 0;
}

a:focus,
a:active {
  outline: none;
}

a,
a:focus,
a:hover {
  cursor: pointer;
  color: inherit;
  text-decoration: none;
}

div:focus {
  outline: none;
}

.fr {
  float: right;
}

.fl {
  float: left;
}

.pr-5 {
  padding-right: 5px;
}

.pl-5 {
  padding-left: 5px;
}

.block {
  display: block;
}

.pointer {
  cursor: pointer;
}

.inlineBlock {
  display: block;
}

.clearfix {
  &:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
  }
}

code {
  background: #eef1f6;
  padding: 15px 16px;
  margin-bottom: 20px;
  display: block;
  line-height: 36px;
  font-size: 15px;
  font-family: "Source Sans Pro", "Helvetica Neue", Arial, sans-serif;
  a {
    color: #337ab7;
    cursor: pointer;
    &:hover {
      color: rgb(32, 160, 255);
    }
  }
}

.warn-content {
  background: rgba(66, 185, 131, .1);
  border-radius: 2px;
  padding: 16px;
  padding: 1rem;
  line-height: 1.6rem;
  word-spacing: .05rem;
  a {
    color: #42b983;
    font-weight: 600;
  }
}

//main-container全局样式
.app-container {
  padding: 20px;
}

.components-container {
  margin: 30px 50px;
  position: relative;
}

.text-center {
  text-align: center
}

.sub-navbar {
  height: 50px;
  line-height: 50px;
  position: relative;
  width: 100%;
  text-align: right;
  padding-right: 20px;
  transition: 600ms ease position;
  background: linear-gradient(90deg, rgba(32, 182, 249, 1) 0%, rgba(32, 182, 249, 1) 0%, rgba(33, 120, 241, 1) 100%, rgba(33, 120, 241, 1) 100%);
  .subtitle {
    font-size: 20px;
    color: #fff;
  }
  &.draft {
    background: #d0d0d0;
  }
  &.deleted {
    background: #d0d0d0;
  }
}

.link-type,
.link-type:focus {
  color: #337ab7;
  cursor: pointer;
  &:hover {
    color: rgb(32, 160, 255);
  }
}

.filter-container {
  padding-bottom: 10px;
  .filter-item {
    display: inline-block;
    vertical-align: middle;
    margin-bottom: 10px;
  }
}

//refine vue-multiselect plugin
.multiselect {
  line-height: 16px;
}

.multiselect--active {
  z-index: 1000 !important;
}

.el-button {
  background: #d9dee4;
  border-color: #d9dee4;
  border-radius: 0;
  color: #546478;
  + .el-button {
    margin-left: 0;
  }
  &:not(:last-child) {
    margin-right: 10px;
  }
}

.el-button:hover {
  background: #546478;
  color: #fff;
  border-color: #546478;
}

.nav-operation .el-button {
  background: #0099cc;
  border-color: #0099cc;
  color: #fff;
}

.nav-buttons-container {
  button {
    margin-bottom: 20px;
  }
  a {
    margin-right: 10px;
  }
  + .el-form.el-form--inline {
    padding-top: 20px;
    border-top: 1px solid #d0d0d0;
  }
}

.filter-container {
  padding: 0;
}

.el-table__header-wrapper th {
  background: #f5f6fa;
}

// .operation-icon{
//   padding: 0 10px;
// }
.el-table td,
.el-table th {
  padding: 8px 0;
}

span.el-range-separator {
  width: 12% !important;
}

.small-padding {
  i {
    cursor: pointer;
    &:hover {
      color: #409eff;
    }
    &:not(:first-child) {
      margin-left: 20px;
    }
  }
  a:not(:first-child) {
    margin-left: 20px;
  }
}

.editor-custom-btn-container .el-button--mini {
  color: #fff;
}

.hidden-selection {
  display: none;
}

.el-message {
  top: 18vh;
}

.dialog-footer,
.el-dialog__footer {
  text-align: center;
}

.el-aside {
  color: #333;
  &.tree-aside {
    // width: 200px;
    // min-height: calc(100vh - 50px);
    background-color: #fff;
    border-right: 1px solid #ddd;
  }
}

.relative-uploader .el-upload {
  border: 1px dashed #d9d9d9;
  border-radius: 6px;
  cursor: pointer;
  position: relative;
  overflow: hidden;
  &:hover {
    border-color: #409EFF;
  }
}

.pic-uploader-icon {
  font-size: 28px;
  color: #8c939d;
  width: 178px;
  height: 178px;
  line-height: 178px;
  text-align: center;
}

.relatedPic {
  width: 178px;
  height: 178px;
  display: block;
}

.avatar[data-v-53d05e79] {
  width: 500px;
  height: 300px;
  display: block;
}

.el-dialog {
  margin-bottom: 50px;
  &.image-preview {
    position: absolute;
    left: 50%;
    width: unset;
    // max-width: 90vw;
    transform: translate(-50%, 0);
    .el-dialog__body {
      // overflow: auto;
      // max-width: 90vw;
      // max-height: 65vh;
    }
    img {
      display: block;
      // margin: 0 auto;
      max-width: 600px;
      max-height: 600px;
      // object-fit: contain;
    }
  }
  .el-dialog__title {
    line-height: 1;
  }
  .el-dialog__headerbtn {
    float: right;
    position: unset;
  }
}

.video-uploader {
  .el-upload {
    // display: block;
    float: left;
    width: 400px;
    height: 400px;
    border: 1px dashed #d9d9d9;
    border-radius: 6px;
    cursor: pointer;
    position: relative;
    overflow: hidden;
    &:hover {
      border-color: #409EFF;
    }
    video {
      width: 100%;
      height: 100%;
    }
  }
}

.audio-uploader {
  .el-upload {
    // display: block;
    float: left;
    width: 300px;
    height: 54px;
    border: 1px dashed #d9d9d9;
    border-radius: 6px;
    cursor: pointer;
    position: relative;
    overflow: hidden;
    &:hover {
      border-color: #409EFF;
    }
    video {
      width: 100%;
      height: 100%;
    }
  }
}

.video-uploader-icon {
  font-size: 28px;
  color: #8c939d;
  width: 400px;
  height: 400px;
  line-height: 400px;
  text-align: center;
}

.audio-uploader-icon {
  font-size: 28px;
  color: #8c939d;
  width: 300px;
  height: 54px;
  line-height: 54px;
  text-align: center;
}

.double-column-form {
  max-width: 1200px;
  margin-right: 20px;
  margin-top: 20px;
  .el-form-item {
    width: 50%;
    margin-right: 0;
    float: left;
    &.width100 {
      width: 100%;
    }
  }
  .mce-tinymce.mce-container.mce-panel {
    box-sizing: border-box;
  }
  .line {
    float: left;
    width: 100%;
  }
}

.line {
  margin-bottom: 22px;
  border-bottom: 1px dashed #606266;
}

.related-goods {
  padding-bottom: 20px;
  border-top: 1px solid #606266;
}

.img-column img {
  display: block;
  margin: 0 auto;
  max-height: 50px;
}

.once-search-input {
  width: 300px;
}

.captcha-input {
  width: 73% !important;
}

.captcha-img {
  display: inline-block;
  margin-bottom: -16px;
  cursor: pointer;
}

.operationBtns li {
  list-style: none;
  text-align: left;
  color: #0099cc;
  cursor: pointer;
}

// .operationBtns i{
//   font-style: normal;
//   color: #0099cc;
// }
.el-message-box__btns {
  padding-left: 120px;
  padding-right: 120px;
  button:nth-child(2) {
    float: left;
  }
}

.summary-data {
  padding-top: 20px;
  text-align: right;
}

.el-tree {
  overflow: auto;
  background: unset;
}

.category-popover > .el-tree {
  max-height: 400px;
  min-width: 400px;
}

.app-main > .el-container {
  height: calc(100vh - 50px);
  & > .el-aside > .el-tree {
    height: 100%;
  }
}

.el-tree-node.is-expanded > .el-tree-node__children {
  overflow: unset;
}

.el-notification__content p {
  word-break: break-all;
}

.printOrder {
  width: 100%;
  margin-bottom: 30px;
  border: 1px solid #ebeef5;
  border-spacing: 0;
}

.printOrder tr:first-child td {
  border-top: 0;
}

.printOrder tr td:first-child {
  border-left: 0;
}

.printOrder td {
  border-left: 1px solid #ebeef5;
  border-top: 1px solid #ebeef5;
  padding: 10px;
  font-size: 16px;
  line-height: 30px;
}

.order-form > .el-form-item {
  float: left;
  width: 320px;
  margin-right: 0;
  margin-bottom: 0;
}

p.divider {
  border-bottom: 1px solid #eee;
}

.footer-margin {
  margin-top: 20px;
}

.inline-block {
  display: inline-block;
}

.bookLink {
  &:hover {
    text-decoration: underline;
    color: #409EFF;
  }
}

.color-red {
  color: red;
}

.loadingCss {
  width: 100%;
  height: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
  img {
    width: 64px;
    height: 64px;
  }
}

.nohaveCss {
  width: 100%;
  height: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
  img {
    width: 600px;
    height: 460px;
  }

}

.choise {
  display: flex;
  font-size: 16px;
  color: #606266;
  justify-content: flex-start;
  width: 900px;
  height: auto;
  overflow: hidden;
}

.menu-choise {

  flex: 0 0 50px;
}

.con-choise {
  flex: 1;
  display: flex;
  width: 900px;
}

.all-choise {
  flex: 0 0 50px;
}

.all-choise:hover {
  cursor: pointer;
}

.branchCss .re_list .el-table th {
  background: #F3F8FF;
  color: #454545;
  font-weight: bold;
}

.branchCss .re_list .el-table .el-table__row td {
  font-weight: normal;
  font-size: 14px;
  color: #666;
}

.branchCss .el-input-number--mini {
  width: 100px;
  line-height: 26px;
}

#addCascaderCss .el-cascader__label, #addMajorCss .el-cascader__label {
  /*display: none !important;*/
  font-size: 14px;
}

/*#app .el-cascader__label{
  display: none !important;
  font-size: 0;
}*/
#addCascaderCss .el-input__suffix {
  z-index: 1111;
  width: 217px;
  right: 10px;
}

#addMajorCss .el-input__suffix {
  z-index: 1111;
  /*width: 217px;*/
  right: 10px;
}

#addCascaderCss .el-cascader .el-input__icon {
  width: 217px;
  display: flex;
  justify-content: flex-end;
  background: rgba(0, 0, 0, 0);

}

#addMajorCss .el-cascader .el-input__icon {
  width: 285px;
  display: flex;
  justify-content: flex-end;
  background: rgba(0, 0, 0, 0);

}

#addCascaderCss .el-cascader .el-icon-arrow-down.is-reverse, #addMajorCss .el-cascader .el-icon-arrow-down.is-reverse {
  -webkit-transform: rotateY(180deg);
  transform: rotateX(180deg);
  /*padding-right: 15px;*/
}

#addCascaderCss .cascaderCss .el-input__inner {
  border: none !important;
  height: 38px;
  line-height: 38px;
  width: 217px;
  padding: 0 15px;

}

#addCascaderCss .el-form-item__content, #addCascaderCss .el-cascader, #addMajorCss .major .el-form-item__content, #addMajorCss .major .el-cascader {
  height: 38px;
  line-height: 38px;
}

#addMajorCss .major .el-input {
  position: relative;
  font-size: 14px;
  display: inline-block;
  width: 298px;
}

#addMajorCss .cascaderCss .el-input__inner {
  border: none !important;
  height: 38px;
  line-height: 38px;
  width: 100%;
  padding: 0 15px;
}

#addCascaderCss .el-input.is-disabled .el-input__inner {
  background: none;
  border-color: #E4E7ED;
  color: #606266;
  cursor: not-allowed;
}

#hCss .essentialInforCont ul, #hCss .essentialInforCont li, #hCss .essentialCatalogCont ul, #hCss .essentialCatalogCont li,#hCss .teachingIn ul, #hCss .teachingIn li {
  list-style: inherit !important;

}
.xiaoe-iframe-audio{
  border: none;
}
/*.el-slider__runway .el-slider__button-wrapper .el-slider__button {
  width: 16px;
  height: 16px;
  border: 2px solid green;
  background-color: #fff;
  border-radius: 50%;
  transition: .2s;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}*/
.toolbar{display: none}
