<template>
	<div class="mark-layer" v-show="alertModelOptions.show">
		<div class="alert-box" :class="{'alert-box-input' :alertModelOptions.input} " :style="{width:alertModelOptions.width + 'px'}" >
		<div class="alert-top">
			<span class="title">{{alertModelOptions.warning || '系统提示消息'}}</span>
			<i @click="alertClose" v-if="alertModelOptions.showClose">×</i>
		</div>
		<div class="alert-main">
			<div class="input" v-if="alertModelOptions.input" :class="{'min':alertModelOptions.max<1000}">
				<textarea v-model="alertModelOptions.html" :maxlength="alertModelOptions.max"  :placeholder="alertModelOptions.placeholder"></textarea>
				<span class="count">{{count(alertModelOptions.html)}}/{{alertModelOptions.max || 2000}}</span>
			</div>
			<div class="alert-center" v-else>
				<h2 v-if="alertModelOptions.title" class="main-title">{{alertModelOptions.title}}</h2>
				<p class="main-msg" :style="{width:alertModelOptions.textWidth + 'px'}">
				{{alertModelOptions.msg}}
				</p>
			</div>
			<div v-if="alertModelOptions.btn == 1">
				<span class="sure btn" @click="alertSubmit">{{alertModelOptions.sureText || '确定'}}</span>
			</div>
      <div v-if="alertModelOptions.btn == 2">
        <span class="sure btn" @click='alertCancel'>{{alertModelOptions.cancelText || '取消'}}</span>
      </div>
			<div v-if="alertModelOptions.btn == 3">
				<span class="sure btn" @click="alertSubmit">{{alertModelOptions.sureText || '确定'}}</span>
				<span class="close btn" @click='alertCancel'>{{alertModelOptions.cancelText || '取消'}}</span>
			</div>
		</div>
		</div>
	</div>

</template>
<script>
export default{
	props:['alertModelOptions'],
	data(){
		return {
			// success:false
		}
	},
	methods:{
		alertCancel(){
			if(typeof (this.alertModelOptions.cancel) == 'function'){
				this.alertModelOptions.cancel()
			}
		},
		alertSubmit(){
			if(typeof (this.alertModelOptions.sure) == 'function'){
				this.alertModelOptions.sure()
			}
			// this.smallAlert();

		},
		alertClose() {
			if(this.alertModelOptions.disting){
				if(typeof (this.alertModelOptions.close) == 'function'){
					this.alertModelOptions.close()
				}
			}else {
				this.alertModelOptions.cancel()
			}
		},
		smallAlert(){
			this.success=true;
			let timer = setTimeout(()=>{
				this.success = false;
				clearTimeout(timer);
				timer=null;
			},this.alertModelOptions.duration)
		},
		count(str){//输入框字数显示待确认，输入空格是否算入字数内
			if(str.length>0){
				return str.length
			}else {
				return 0
			}
		},

	}
}
</script>
<style lang="less" scoped>
	.mark-layer {
		position:fixed;
		top:0;
		left:0;
		z-index:999;
		width:100%;
		height:100%;
		background:rgba(0,0,0,0.2);
    display: flex;
    justify-content: center;
    align-items: center;
	}
	.alert-box{
    box-shadow:0px 2px 8px 0px rgba(170,170,170,0.49);

	}
	.alert-box-input{
		width:550px !important;
	}
	.alert-box .alert-top{
		width:100%;
		height:38px;
		line-height:38px;
		text-align:left;
		box-sizing: border-box;
		background:#F4F4F4;
		padding-left:14px;
		color:#fff;
		position:relative;
	}
	.alert-box .alert-top .title{
    font-size:14px;
    font-family:MicrosoftYaHei-Bold;
    font-weight:bold;
    color:rgba(68,68,68,1);
    line-height:36px;
	}
	.alert-box .alert-top i{
		display:inline-block;
		position:absolute;
		top:0;
		right:14px;
		cursor:pointer;
    color: #999999;
    font-size: 16px;
    font-family:MicrosoftYaHei-Bold;
	}
	.alert-main{
		text-align:center;
		padding:39px 0 30px;
		background:#fff;
    .alert-center{
      display: flex;
      justify-content: center;
    }
	}
	.alert-main .input{
		width:510px;
		height:220px;
		margin:0 auto;
		position:relative;
	}
	.alert-main .min{
		height:120px;
	}
	.alert-main .input textarea{
		width:100%;
		height:100%;
		padding:10px;
		background:#F8F7F3;
		border:1px solid #AAAAAA;
		resize:none;
		box-sizing:border-box;
		font-size:14px;
		line-height:24px;
		outline:none;
	}
	.alert-main .input .count{
		position:absolute;
		right:20px;
		bottom:5px;
		color:#A7A7A7;
		font-size:14px;
	}
	.alert-main .main-title{
		color:#454545;
		font-size:16px;
		font-weight:bold;
	}
	.alert-main .main-msg{
    font-size:16px;
    font-family:MicrosoftYaHei;
    margin-bottom: 45px;
    font-weight:400;
    color:#454545;
    text-align: left;
	}
	.alert-main .btn{
    display: inline-block;
    width:96px;
    height:32px;
		cursor:pointer;
    text-align: center;
    line-height: 32px;
    font-size: 12px;
	}
	.alert-main .sure{
    width:96px;
    height:32px;
    background:rgba(50,121,255,1);
    border-radius:4px;
    color:#fff;
	}
  .alert-main .close{
    width:96px;
    height:32px;
    border:1px solid rgba(220,223,230,1);
    border-radius:4px;
    color:#999999;
    margin-left: 10px;
  }

</style>

