<template>
  <div class="comHeader" v-cloak>
    <div class="comHeaderTop">
      <div class="comHeaderTopLf fl" v-if="$store.getters.userType == 'school'&&$store.getters.userToken&&$store.getters.cycleTime&&$store.getters.cycleTime != 'null'">
        当前征订季：
        <span>{{$store.getters.cycleTime}}</span>
      </div>
      <div class="comHeaderTopRl fr">
        <ul>
          <li @click="linkHref('/index')">主页</li>
          <li @click="linkHref('/stationList')" v-if="this.$store.getters.userToken&&$store.getters.userType == 'school'">站内消息 <span class="messageInfo" v-if="messageNum">{{messageNum}}</span></li>
          <li @click="linkHref('/personal/detail')" v-if="this.$store.getters.userToken">
            <img :src="imgUrl(this.$store.getters.userImg)" alt="" v-if="this.$store.getters.userImg&&this.$store.getters.userImg!='null'&&this.$store.getters.userImg!=''">
            <img src="../../static/img/defoultHS.png" alt="" v-if="this.$store.getters.userImg=='null'||this.$store.getters.userImg==''||!this.$store.getters.userImg">
            <span>{{$store.getters.userName}}</span>
          </li>
          <li v-if="!this.$store.getters.userToken">
            <router-link to="/login">登录</router-link>
          </li>
          <li @click="loginOut"  v-if="this.$store.getters.userToken">
            退出
          </li>
        </ul>
      </div>
    </div>
    <div class="comHeaderBanner">
      <div class="comHeaderBanCenter">
        <div class="comHeaderBanLogo"  @click="linkHref('/index')">
          <img v-if="$store.getters.userCompanyt&&$store.getters.userCompanyt.logo&&$store.getters.userType == 'school'" :src="imgUrl($store.getters.userCompanyt.logo)" alt="" class="logoImg1">
          <img v-else-if="$store.getters.userCompanyt&&!$store.getters.userCompanyt.logo&&$store.getters.userType == 'school'" src="@/assets/img/logo.png" alt=""  class="logoImg2">
          <h1 v-if="$store.getters.userCompanyt&&$store.getters.userType == 'school'" >{{$store.getters.userCompanyt.relationName}}</h1>

          <span class="noSignLogo"  v-else>
            <img class="img" src="@/assets/img/logoHome.png" alt="">
            <h1>技工教育和职业培训资源服务平台</h1>
          </span>
        </div>
        <div class="comHeaderBanSearch">
          <div class="comHeaderBanSearchTop">
            <input type="text" class="comHeaderBanSearchSearch fl" placeholder="请输入关键字查询" v-model="inputVal" @keyup.enter="searchBtn">
            <div class="comHeaderBanSearchSearchBtn fr" @click="searchBtn">
              <img src="@/assets/img/search.png" alt="">
            </div>
          </div>

          <div class="schoolSuggest" v-if="suggest.length>0&&inputVal!=''&& $store.state.issuggest">
            <ul>
              <li v-for="(iv,indO) in suggest" :key="indO" @click="searchSuggest(iv)">
                <img :src="`${uploadUrlT}`+ iv.cover" alt=""  style='width:26px;height:34px;float:left;margin-top:10px' :onerror="errorGoodsImg">
                <span style='width:45%;margin-left:8px;'>{{iv.term}}</span>
                <h1 style='width:45%;'>{{iv.publisher}}</h1>
              </li>
            </ul>
          </div>
        </div>

      </div>
    </div>
    <div class="comHeader">
      <div class="comHeaderMap">
        <img src="@/assets/img/map.png" alt="">
        <ul>
          <li>您的当前位置：</li>
          <li v-for="(val,index) in mapList" :key="index" v-if="val.meta.title">
            <router-link :to="{path:val.path==''?'/':val.path}">{{val.meta.title}}</router-link>
            {{mapList.length==index+1?'':'>'}}
          </li>
        </ul>
      </div>
      <div class="comHeaderSearch" v-if="$route.name == 'noticeList'||$route.name == 'mechanicList'||$route.name == 'forumList'||$route.name == 'unionList'||$route.name == 'activityList'||$route.name == 'stationList'">
        <input type="text" class="comHeaderSearchBtn" placeholder="请输入标题查询" v-model="inputSearchVal" @keyup.enter="searchList">
        <div class="comHeaderSearchBtnImg" @click="searchList">
              <img src="@/assets/img/search.png" alt="">
            </div>
      </div>

    </div>
  </div>
</template>

<script>
import {getMessageNumAPI,getUserCompanytAPI,getBiddingCycleAPI} from '@/api/global';
import {getsuggestAPI} from '@/api/resources.js';
import { uploadUrlT } from "@/utils/global";
import { getUserType } from '@/utils/auth'
import Cookies from 'js-cookie'

  export default {
    name: 'HelloWorld',
    data() {
      return {
        msg: 'Welcome to Your Vue.js App',
        mapList:[],
        messageNum:null,
        userCompanyt:{
          relationName:'技工教育平台'
        },
        suggest:[],
        issuggest:false,
        aaa:0,
        inputVal:this.$route.query.searchWord?this.$route.query.searchWord:'',
        errorGoodsImg:'this.src="' + require('../assets/img/01-searList.png') + '"',
        uploadUrlT:uploadUrlT,
        inputSearchVal:null,
        cycleTime:null,
      }
    },
    created(){
      this.$store.commit('suggest',false)
      /*this.inputVal=this.$route.query.searchWord?this.$route.query.searchWord:'';*/
      this.mapList=this.$route.matched;
      let b='';
      for(let i=0;i<this.mapList.length;i++){
        let a=this.mapList[i].meta.title;

        if(a==b){
          this.mapList.splice(i,1)
          return
        }
        b=this.mapList[i].meta.title;
      }
    },
    computed:{
    },
    watch:{
      $route(){
        this.mapList=this.$route.matched;
        let b='';
        for(let i=0;i<this.mapList.length;i++){
          let a=this.mapList[i].meta.title;

          if(a==b){

            this.mapList.splice(i,1)
            return
          }
          b=this.mapList[i].meta.title;
        }
      },
      inputVal(newVal,oldVal){
        this.inputChange();
      },

    },
    mounted(){
      if(this.$store.getters.userType != 'supervise'){
        getBiddingCycleAPI().then(res=>{
            if(res.data.status){
                this.$store.commit('GET_BIDDING_CYCLE',res.data.data)
                Cookies.set("cycleTime",res.data.data);
            }
        })
        this.getUserCompanyt();
        this.getMessageNum();
      }
    },
    methods:{
      // 获取登录用户单位信息
      getUserCompanyt(){
        this.$store.dispatch('GetUserCompany')
        // if(this.$store.getters.userToken){
        //   getUserCompanytAPI().then(res =>{
        //   if(res.data.code === 0){
        //     this.userCompanyt = res.data.data
        //   }else{
        //     this.$message.error(res.data.msg)
        //   }
        // })
        // }
      },
      getMessageNum(){
        getMessageNumAPI().then(res =>{
          res.data.code === 0?
          this.messageNum = res.data.data:
          this.$message.error('请求用户未读数量失败')
        })
      },
      /*权限跳转*/
      linkHref(link){
        this.$router.push(link)
      },
      searchBtn(){
        var result=this.filterSpace(this.inputVal);
        let name=this.$route.name=='promote'?'/promote':'/materialType';
        if(result!=''){
          this.$router.push({path:name,query:{type: this.$route.query.type, typeZh: this.$route.query.typeZh,searchWord:this.inputVal}});
          this.$emit('lisChildren',this.inputVal)
          this.$emit('getDiyType',this.inputVal)
        }else{
          this.$router.push({path:name,query:{type: this.$route.query.type, typeZh: this.$route.query.typeZh,searchWord:this.inputVal}});
          this.$emit('lisChildren',this.inputVal)
          this.$emit('getDiyType',this.inputVal)
        }
        this.issuggest=false;
        this.$store.commit('suggest',this.issuggest)
      },
      // 列表搜索
      searchList(){

        // if(this.$route.name == 'activityList'){
        //  this.$router.push({name:'activityList',query:{title:this.inputSearchVal}});
        // }else{
          this.$emit('searchResult',this.inputSearchVal)
        // }

      },
      /*退出登录*/
      loginOut(){
        let self=this;
        self.$store.dispatch('LoginOut')
      },

      /*自动补全*/
      inputChange() {
        if(this.inputVal!=''){
          var that = this
          this.antiShaking(this.getInputChange,400,that)()
        }else{
          this.suggest=[];
          this.issuggest=false;
          this.$store.commit('suggest',this.issuggest)
        }
      },
      getInputChange(){
        let type=this.$route.name=='promote'?'1-5':'';
        getsuggestAPI({
          term: this.inputVal,
          num: 8,
          type:type
        }).then(res => {
          if (res.data.status) {
            this.suggest = res.data.data;
            this.issuggest=true;
            this.$store.commit('suggest',this.issuggest)
          }
        })
      },
      antiShaking(fn,wait,that){
        return function(){
          clearTimeout(that.timeout)
            that.timeout = window.setTimeout(function(){
              fn.apply(that)
            },wait)   
        }
      },
      /*自动补全搜索*/
      searchSuggest(val) {
        if(val){
          this.inputVal=val.term;
        }
        var result=this.filterSpace(this.inputVal)
        let name=this.$route.name=='promote'?'/promote':'/materialType';
        // const data = {type: this.$route.query.type, typeZh: this.$route.query.typeZh,searchWord:this.inputVal}
        if(result!=''){
          this.$router.push({path:name,query:{type: this.$route.query.type, typeZh: this.$route.query.typeZh,searchWord:this.inputVal,publisher: val.publisher?val.publisher:null}});
          this.$emit('lisChildren',this.inputVal)
          this.$emit('getDiyType',this.inputVal)
        }else{
          this.$router.push({path:name,query:{type: this.$route.query.type, typeZh: this.$route.query.typeZh,searchWord:this.inputVal}});
          this.$emit('lisChildren',this.inputVal)
          this.$emit('getDiyType',this.inputVal)
        }
        this.suggest = []
        this.issuggest=false;
        this.$store.commit('suggest',this.issuggest)
      },
    },
  }
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped lang="less">
[v-cloak]{
  display: none !important;
}
  .comHeader {
    width: auto;
    margin: 0 auto;
    color: #666666;
    background: #f4f5f9;
    .comHeaderTop {
      width: 1200px;
      margin: 0 auto;
      height: 34px;
      background: #f4f5f9;
      .comHeaderTopLf {
        font-size: 12px;
        color: #666666;
        width: 400px;
        line-height: 34px;
      }
      .comHeaderTopRl {
        width: 450px;
        font-size: 12px;
        font-family: "Microsoft Yahei", "simsun", "arial", "tahoma";
        font-weight: 400;
        color: rgba(102, 102, 102, 1);
        line-height: 34px;

        ul {
          display: flex;
          justify-content: flex-end;
          li {
            float: left;
            display: block;
            height: 16px;
            line-height: 14px;
            margin-top: 9px;
            padding: 0 12px;
            border-right: 2px solid #999;
            cursor: pointer;
            .messageInfo{
              display: inline-block;
              margin-left: 4px;
              font-size: 12px;
              color: #F2332F;
            }
            img {
              width: 26px;
              height: 26px;
              border-radius: 50%;
              background: #bbb;
              margin-top: -5px;
              float: left;
              margin-right: 6px;
            }
          }
          li:last-child {
            border-right: none;
          }
        }
      }
    }
    .comHeaderBanner {
      background: url("../../static/img/top-bg.png") no-repeat center top;
      // width: auto;
      width: 100%;
      height: 120px;
      margin: 0 auto;
      .comHeaderBanCenter {
        width: 1200px;
        height: 120px;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
        align-items: center;
        .comHeaderBanLogo {
          display: flex;
          align-items: center;
          width: auto;
          height: 64px;
          cursor: pointer;
          .logoImg1{
            width: 44px;
            height: 41px;
          }
          .noSignLogo {
            display: flex;
            height: 64px;
            img{
              height: 64px;
            }
            h1{
              margin:0 0 0 12px;
              font-size: 24px;
              line-height: 64px;
              color: #fff;
            }

          // .logoImg2{
          //   max-height:64px;
          }
          h1{
            margin:0 0 0 12px;
            font-size: 24px;font-weight:normal;
            line-height: 38px;
            color: #fff;
          }
        }
        .comHeaderBanSearch {
          width: 530px;
          position: relative;
          .comHeaderBanSearchTop{
            width: 530px;
            height: 44px;
            margin-top: 0px;
            background: rgba(255, 255, 255, 1);
            border-radius: 22px;
            .comHeaderBanSearchSearch {
              margin-left: 25px;
              height: 42px;
              line-height: 42px;
              width: 400px;
              border: none;
              font-size:14px;
            }
            .comHeaderBanSearchSearch::-ms-clear{display: none;}
            .comHeaderBanSearchSearch::-ms-reveal{display: none;}
            .comHeaderBanSearchSearchBtn {
              width: 94px;
              height: 44px;
              cursor: pointer;
              background: linear-gradient(90deg, rgba(86, 158, 255, 1) 0%, rgba(50, 121, 255, 1) 100%);
              border-radius: 0px 22px 22px 0px;
              img {
                display: block;
                margin: 9px auto 0;
                width: 28px;
                height: 27px;

              }
            }

          }
          .schoolSuggest {
            position: absolute;
            width:490px;
            top:44px;
            left: 19px;
            margin-top: 0px;
            border: 1px solid #ededed;
            background: #fff;
            display: block;
            float: left;
            z-index: 111;
            ul {
              padding: 10px 0;
              li {
                line-height: 54px;
                margin:0 10px;
                border-bottom: 1px solid #f5f5f5;
                height: 54px;
                cursor: pointer;
                span{
                  float: left;
                  width:250px;
                  white-space: nowrap;
                  overflow: hidden;
                  text-overflow: ellipsis;
                }
                h1{
                  float: right;
                  display: block;
                  width:215px;
                  text-align: right;
                  white-space: nowrap;
                  overflow: hidden;
                  text-overflow: ellipsis;
                  font-size:16px;
                  font-family:Microsoft YaHei;
                  font-weight:400;
                }
              }
              li:hover{
                color: #3279ff;
              }
              li:last-child{
                // border-bottom:none;
              }
            }

          }

        }
      }
    }
    .comHeader{
      width: 1200px;
        margin: 0 auto;
        height: 54px;
        display: flex;
        justify-content: space-between;
        align-items: center;
      .comHeaderMap {
        display: flex;
        color: #999999;
        font-size: 14px;
        font-family: "Microsoft Yahei", "simsun", "arial", "tahoma";
        font-weight: 400;
        align-items: center;
        img {
          float: left;
          display: block;
          width: 12px;
          height: 21px;
          margin-right: 7px;
        }
        ul {
          li {
            float: left;;
            display: block;
            line-height: 30px;
            font-size: 14px;
            margin-right: 5px;

          }
          li:last-child a{
            color: #3279FF;
            cursor: text;
          }
          a{
            color: #999999;
          }
          .lastMap {
            color:#3279FF
          }
        }
      }
      .comHeaderSearch{
        width: 335px;
        background: #ffffff;
        border-radius: 54px;
        display: flex;
        .comHeaderSearchBtn {
              margin-left: 25px;
              height: 34px;
              line-height: 34px;
              width: 300px;
              border: none;
              font-size:14px;
            }
            .comHeaderSearchBtn::-ms-clear{display: none;}
            .comHeaderSearchBtn::-ms-reveal{display: none;}
            .comHeaderSearchBtnImg {
              width: 54px;
              height: 34px;
              cursor: pointer;
              background: linear-gradient(90deg, rgb(172, 176, 180) 0%, rgb(182, 184, 189) 100%);
              border-radius: 0px 22px 22px 0px;
              img {
                display: block;
                margin: 8px auto 0;
                width: 20px;
                height: 18px;

              }
            }
      }
    }

  }
</style>
