<template>
  <div id="loginFooter">
    <div class="loginPartTwo">
      <div class="loginFooterOne" v-if="list.length > 0">
        <span>友情链接 <i>/</i></span>
        <ul>
          <li v-for="(item,index) in list" :key="index">
            <a @click="toLink(item)" :title="item.title">{{item.title}}</a>
          </li>
        </ul>
      </div>
      <div class="loginFooterTwo">
        <ul>
          <li v-for="(item,index) in footList" :key="index">
            <span>|</span><a @click="toDetail(item)">{{item.title}}</a>
          </li>
        </ul>
        <div v-html="copyRight" class="loginFooterS"></div>
      </div>
    </div>
    <div class="loginPartThree">
      温馨提示，为了获得最佳用户体验，建议您使用Chrome，Firefox，IE9+，360浏览器极速模式
    </div>
  </div>
</template>

<script>
import {changeContent,changeValue} from "@/utils/changeContent"
import { getFriendLinkAPI,getFooterListAPI,changeClickNumAPI,getFooterCopyrightAPI } from '@/api/global'
export default {
  name: 'froget',
  data(){
    return {
        list:[],
        footList:[],
        copyRight:'',
    }
  },
  created(){},
  mounted(){
    this.getFriendLink()
    this.getFooterList()
    this.getFooterCopyright()
  },
  methods:{
    // 获取友情链接
    getFriendLink(){
      getFriendLinkAPI().then(res =>{

        res.data.code === 0 ?
        this.list = res.data.data
        :this.$message.error("请求友情链接出错")
      })
    },
    // 跳转友情链接
    toLink(item){
      const data = {
        clickNum:item.clickNum+1,
        id:item.id
      }
      changeClickNumAPI(data).then(res=>{
        res.data.data == true?
        window.open(item.url):this.$message.error('跳转友情链接失败')
        this.getFriendLink()
      })
    },
    // 页脚详情
      toDetail(item) {
        this.$router.push({name: 'footerDetail', query:{name:item.title,id:item.id}})
      },
    // 页脚说明
    getFooterList(){
      getFooterListAPI().then(res =>{
        const data = res.data.data
        if(res.data.code === 0){
          this.footList = data
          this.footList.content = changeContent(data)
        }else{
          this.$message.error("请求页脚出错")
        }
      })
    },
    // 底部版权信息
    getFooterCopyright(){
      getFooterCopyrightAPI().then(res=>{
        res.data.code ===0?
        (this.copyRight = res.data.data.value):this.$message.error("请求页脚出错")
      })
    }
  }
}
</script>

<style lang="less" scoped>
  #loginFooter{
    width: auto;
    margin: 0 auto;
    .loginPartTwo{
      width:auto;
      height:192px;
      background:rgba(65,65,65,1);
      .loginFooterOne{
        width:1200px;
        margin: 0 auto;
        border-bottom: 1px solid rgba(98,98,98,1);
        height:43px;
        padding-top: 15px;

        span{
          float: left;
          width:98px;
          line-height: 28px;
          font-size:18px;
          font-family: "Microsoft Yahei", "simsun", "arial", "tahoma";
          font-weight:400;
          color:rgba(197,197,197,1);
          display: flex;
          justify-content: space-between;
          margin-right: 55px;
        }
        ul{
          width:1480px;
          list-style: disc;
          display: block;
          margin-top: 5px;
          li{
            float:left ;
            /*display: block;*/
            color:#8F8F8F;
            list-style: disc;
            padding-left: 30px;
            font-size: 14px;

            a{
              display:block;
              color:#8F8F8F;
              margin-right: 60px;
              /* overflow: hidden;*/
              float: left;
            }
            a:hover{
              color: rgba(50, 121, 255, 1);
              cursor: pointer;
            }
          }
          li:first-child{list-style: none;margin: 0;padding: 0}
        }
      }
      .loginFooterTwo{
        width:100%;
        height:148px;
        background:rgba(65,65,65,1);
        /*display: flex;
        flex-direction:row;*/
        /*justify-content: center;
        align-items: center;*/
        ul{
          width:auto;
          height:50px;
          margin: 0 auto;
          padding-top: 10px;
          /*display: block;
          text-align: center;*/
          display: flex;
          justify-content: center;
          align-items: center;
          /*height:50px;
          flex-direction:row;*/

          li{
            float: left;
            display: block;
            color:#CFCFCF;
            a{
              color:#CFCFCF;
              font-size:14px;
              font-family: "Microsoft Yahei", "simsun", "arial", "tahoma";
              font-weight:400;
              line-height:22px;
              padding: 0 20px;
            }
            a:hover{
              color: rgba(50, 121, 255, 1);
              cursor: pointer;
            }
          }
          li:first-child{
              span{
                font-size: 0px;
              }
            }
        }

        .loginFooterS{
          width:auto;
          text-align: center;
          color: #A09F9F;
          font-size: 14px;
          height:31px;
          line-height: 31px;

        }

      }
    }

    .loginPartThree{
      width:auto;
      text-align: center;
      height:34px;
      background:rgba(34,34,34,1);
      font-size:14px;
      font-family: "Microsoft Yahei", "simsun", "arial", "tahoma";
      font-weight:400;
      color:rgba(94,94,94,1);
      line-height:34px;
    }
  }
</style>
