<template>
    <div>
      <embed src="http://192.168.2.230:8296/file/ueditor/jsp/upload/video/20190911/1568183849993093144.mp4"
             quality="high" width="480" height="400" align="middle" allowScriptAccess="always"
             allowFullScreen="true" mode="transparent" type="application/x-shockwave-flash">
      </embed>

    </div>
</template>

<script>
    export default {
        name: 'HelloWorld',
        data() {
            return {}
        },
        created() {
        },
        watch: {},
        methods: {},
    }
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>

</style>
