<template>
  <!--账户安全-->
  <div class="account">
    <titleNav :titleMsg="bookTitle"></titleNav>
    <div class="accountCont">
      <ul>
        <li class="accountItem">
          <div class="accountIMG"><img src="../../../assets/img/setpass.png" alt=""><span>修改密码</span></div>
          <div class="accountWord">互联网账号存在被盗风险，建议您定期更改密码以保护账户安全。</div>
          <div class="accountBtn" @click="clickSet('password')">修改密码</div>
        </li>
        <li class="accountItem">
          <div class="accountIMG"><img src="../../../assets/img/answer.png" alt=""><span>密保问题</span></div>
          <div class="accountWord">设置密保问题，在您忘记密码时可以通过密保问题找回密码。</div>
          <div class="accountBtn" @click="clickSet('answer')">设置/修改</div>
        </li>
        <li class="accountItem">
          <div class="accountIMG"><img src="../../../assets/img/bindEmail.png" alt=""><span>绑定邮箱</span></div>
          <div class="accountWord">绑定邮箱后，在您忘记密码时可以通过邮箱找回密码。</div>
          <div class="accountBtn" @click="clickSet('email')">绑定/更换</div>
        </li>
      </ul>
    </div>


    <!--弹窗-->
    <div class="accountEla" v-if="isShow">
      <div class="accountECont">
        <div class="accountECTit">
          <h1>{{isShowTit == 'password' ? '修改密码' : isShowTit == 'answer' ? '密保设置' : '绑定邮箱'}}</h1>
          <span @click="isShow=false">×</span>
        </div>
        <!--修改密码-->
        <div v-if="isShowTit=='password'" class="password">
          <div class="accountECC">
            <ul>
              <li>
                <div class="pwdInput">
                  <span>旧密码：</span>
                  <input type="password" placeholder="输入旧密码" v-model="oldPass" v-validate="'required'" name="oldPass">
                </div>

                <p class="tsy" v-if="errorBags.first('oldPass')">请输入您现在使用的密码</p>
              </li>
              <li>
                <div class="pwdInput">
                  <span>新密码：</span>
                  <input type="password" placeholder="建议使用至少两种字符组合" v-model="newPass"
                         v-validate="{required:true,regex :/^[_0-9A-Za-z]{6,20}$/}" name="newPass">
                </div>

                <p class="tsy" v-if="errorBags.first('newPass')">请输入您的新密码</p>
              </li>
              <li>
                <div class="pwdInput">
                  <span>确认密码：</span>
                  <input type="password" placeholder="请再次输入密码" v-model="confirmPass"
                         v-validate="{required:true,confirmed:newPass}" name="confirmPass">
                </div>

                <p class="tsy" v-if="errorBags.first('confirmPass')">{{newPass==''?'请输入确认密码':'密码不一致'}}</p>
              </li>

            </ul>
          </div>
          <div class="accountECBtn">
            <ul>
              <li class="saveBtn" @click="savePassBtn">保存</li>
              <li class="cencalBtn" @click="isShow=false">取消</li>
            </ul>
          </div>
        </div>

        <!--密保验证-->
        <div v-if="isShowTit=='answer'" class="answer">
          <div v-if="!isShowNext">
            <div class="accountACC">
              <p>为了您的账户安全，请您在设置密保问题前输入密码</p>
              <ul>
                <li>
                  <div class="pwdInput">
                    <span>密码：</span>
                    <input type="password" placeholder="请输入密码" v-model="veriPass" v-validate="'required'"
                           name="veriPass">
                  </div>
                  <span class="tsy" v-if="errorBags.first('veriPass')||isShowMag">{{veriPass!=''?isShowMag?'密码输入不正确':'':'请输入密码'}}</span>
                </li>
              </ul>
            </div>
            <div class="accountACBtn">
              <ul>
                <li class="nextBtn" @click="nextBtn">下一步</li>
              </ul>
            </div>
          </div>
          <!--密保问题 下一步-->
          <div v-if="isShowNext">
            <div class="accAnsNC">
              <ul class="accAnsNCUL">
                <li class="accAnsNCULLI">
                  <span>密保问题1：</span>
                  <div class="accAnsNCIn" @click="answerList(1)">
                    <input type="text" placeholder="请选择密保问题" v-model="questionOne" disabled>

                    <div class="accAnsNCInBtn" >
                      <img src="../../../assets/img/bomG.png" alt="" v-if="!isAnswer1">
                      <img src="../../../assets/img/topG.png" alt="" v-if="isAnswer1">
                    </div>
                    <div class="answerList" v-show="isAnswer1">
                      <ul>
                        <li v-for="(ques,index) in questionList" :key="index" @click="checkOne(ques,index,1)">{{ques}}
                        </li>
                        <!--<li>你的学号是多少？</li>
                        <li>你的学号是多少？</li>
                        <li>你的学号是多少？</li>-->
                      </ul>
                    </div>
                  </div>

                </li>
                <li v-if="isquestionOne"><span class="tsy">请选择问题</span></li>
                <li class="accAnsNCULLI">
                  <span>答案：</span>
                  <input type="text" v-model="answerOne" @input="changeAns(1)">
                </li>
                <li v-if="isAnswerOne"><span class="tsy">请填入回答内容</span></li>
                <li class="accAnsNCULLI">
                  <span>密保问题2：</span>
                  <div class="accAnsNCIn" @click="answerList2(2)">
                    <input type="text" placeholder="请选择密保问题" v-model="questionTwo" disabled v-validate="'required'"
                           name="questionTwo">
                    <div class="accAnsNCInBtn" >
                      <img src="../../../assets/img/bomG.png" alt="" v-if="!isAnswer2">
                      <img src="../../../assets/img/topG.png" alt="" v-if="isAnswer2">
                    </div>
                    <div class="answerList" v-show="isAnswer2">
                      <ul>
                        <li v-for="(ques,index) in questionList" :key="index" @click="checkOne(ques,index,2)">{{ques}}
                        </li>
                      </ul>
                    </div>

                  </div>
                </li>
                <li v-if="isquestionTwo"><span class="tsy">请选择问题</span></li>
                <li class="accAnsNCULLI">
                  <span>答案：</span>
                  <input type="text" v-model="answerTwo" @input="changeAns(2)">
                </li>
                <li v-if="isAnswerTwo"><span class="tsy">请填入回答内容</span></li>

              </ul>
            </div>
            <div class="accAnsNCBtn">
              <ul>
                <li class="saveBtn" @click="setQues">保存</li>
                <li class="cencalBtn" @click="isShow=false">取消</li>
              </ul>
            </div>
          </div>
        </div>


        <!--绑定邮箱-->
        <div v-if="isShowTit=='email'" class="email">
          <div class="accountEMCC">
            <ul>
              <li>
                <div class="emailInput">
                <span>用户名：</span>
                <h1>{{$store.getters.userName}}</h1>
                </div>
              </li>
              <li>
                <div class="emailInput">
                  <span>密码：</span>
                  <input type="password" placeholder="建议使用至少两种字符组合" v-model="email.password" v-validate="'required'"
                         name="empassword"  data-vv-scope="bingEmail">
                </div>
                <p class="tsy" v-if="errorBags.has('bingEmail.empassword')">请输入密码</p>
              </li>
              <li>
                <div class="emailInput">
                <span>新邮箱：</span>
                <input type="text" placeholder="请输入邮箱" v-model="email.email" v-validate="{required:true,email:true}"
                       name="ememail" data-vv-scope="bingEmail">
                </div>
                <p class="tsy" v-if="errorBags.has('bingEmail.ememail')">请输入正确的邮箱格式</p>
              </li>
              <li>
                <div class="emailInput">
                <span>验证码：</span>
                <div class="accountEMCCCode">
                  <input type="text" placeholder="请输入验证码" v-model="email.code" v-validate="'required'" name="emCode" data-vv-scope="bingEmail">
                  <div class="codeCss" @click="getEmailcode" v-if="sendAuthCode">获取验证码</div>
                  <div class="codeCss" v-if="!sendAuthCode">{{time}}秒之后重发</div>
                  <!--<a class="dfkjckdsd" @click.prevent="getPhonecode" v-if="sendAuthCode">免费获取验证码</a>
            <a v-if="!sendAuthCode" class="dfkjckdsd">{{auth_time}}秒之后重发</a>-->
                </div>
                </div>
                <p class="tsy" v-if="errorBags.has('bingEmail.emCode')">请输入验证码</p>
              </li>

            </ul>
          </div>
          <div class="accountEMCBtn">
            <ul>
              <li class="saveBtn" @click="saveEmail">保存</li>
              <li class="cencalBtn" @click="isShow=false">取消</li>
            </ul>
          </div>
        </div>


      </div>

    </div>


  </div>
</template>
<script>
  import titleNav from './../components/title';
  import {
    updatePassAPI,
    getQuestionAPI,
    permissionsAPI,
    getAllQuestionAPI,
    saveSecretsecAPI,
    saveEmailAPI,
    getEmailCode
  } from '@/api/resources.js';
  import md5 from 'blueimp-md5';
  import Cookies from 'js-cookie';

  export default {
    data() {
      return {
        bookTitle: '账户安全',
        isShow: false,
        isShowTit: null,
        isShowNext: false,
        isShowMag: false,
        isAnswer1: null,
        isAnswer2: null,
        oldPass: null,
        newPass: null,
        confirmPass: null,
        questionList: [],
        veriPass: null,
        questionOne: '',
        questionTwo: '',
        answerOne: '',
        answerTwo: '',
        isquestionOne: false,
        isquestionTwo: false,
        questionCodeOne: null,
        questionCodeTwo: null,
        isAnswerOne: false,
        isAnswerTwo: false,
        email: {
          password:'',
          email:'',
          code:''
        },
        time:60,
        sendAuthCode:true,
        isShowEmail:false,
      }
    },
    components: {titleNav},
    created() {
      this.getQuestion();
    },
    watch:{
      isShow(o,n){

        if(!o){
          this.isAnswerOne=false;
          this.isAnswerTwo=false;
        }
      },
    },
    methods: {
      clickSet(val) {
        this.isShow = true;
        this.isShowTit = val;
        this.isAnswer1 = null;
        this.isAnswer2 = null;
        this.isShowNext = false;
        this.isShowMag = false;
        this.oldPass='';
        this.newPass='';
        this.confirmPass='';
        this.veriPass='';
        /*this.questionOne='';*/
        this.answerOne='';
        /*this.questionTwo='';*/
        this.answerTwo='';
        this.email.password='';
        this.email.email='';
        this.email.code='';
        this.time = 60;
      },
      /*验证密码*/
      nextBtn() {
        /*this.isShowNext = true;*/
        this.$validator.validate().then(result => {
          if (result) {
            permissionsAPI({
              password: md5(this.veriPass)
            }).then(res => {
              if (res.data.status && res.data.data) {
                this.isShowNext = true;
                this.isShowMag = false;
              }else{
                this.isShowMag = true;

              }

            })
          }
        })


      },
      answerList(val) {
        this.isAnswer1 = !this.isAnswer1;
      },
      answerList2(val) {
        this.isAnswer2 = !this.isAnswer2;
      },

      /*修改密码*/
      savePassBtn() {
        this.$validator.validate().then(result => {
          if (result) {
            updatePassAPI({
              newPassword: md5(this.newPass),
              oldPassword: md5(this.oldPass)
            }).then(res => {
              if (res.data.status) {
                this.isShow=false;
                this.isShowTit=null;
                res.data.data?this.msg('修改密码成功'):this.msg('修改密码失败');
                Cookies.remove('Y-Token')

                let timer=setTimeout(()=>{
                  clearTimeout(timer)
                  this.$router.push('/login')
                },2000)
              }else{
                this.msg(res.data.msg)
              }
            })

          }
        })
      },
      /*获取密保问题*/
      getQuestion() {
        getAllQuestionAPI().then(res => {
          if (res.data.status) {
            this.questionList = res.data.data;
            this.questionOne=this.questionList[1];
            this.questionTwo=this.questionList[1];
          }
        })
      },
      /*选择问题*/
      checkOne(item, index, num) {
        for (let i in this.questionList) {
          if (this.questionList[i] == item && this.questionList[index] == item) {
            if (num == 1) {
              this.questionOne = item;
              this.answerList()
              this.isAnswer1 = !this.isAnswer1;
              this.isquestionOne = false;
              this.questionCodeOne = i;
            } else {
              this.questionTwo = item;
              this.isAnswer2 = true;
              this.isquestionTwo = false;
              this.questionCodeTwo = i;
            }
          }

        }

      },
      /*回答问题*/
      changeAns(num) {

        if (num == 1) {
          /*.replace(/(^\s+)|(\s+$)/g,"")*/
          if (this.answerOne.replace(/(^\s+)|(\s+$)/g, "") == '') {
            this.isAnswerOne = true;
          } else {
            this.isAnswerOne = false;
          }

        } else {
          if (this.answerOne.replace(/(^\s+)|(\s+$)/g, "") == '') {
            this.isAnswerTwo = true;
          } else {
            this.isAnswerTwo = false;
          }

        }


      },
      /*保存密保问题*/
      setQues() {
        if (this.questionOne == '') {
          this.isquestionOne = true;
          return;
        }
        if (this.answerOne == '') {
          this.isAnswerOne = true;
          return;
        }
        if (this.questionTwo == '') {
          this.isquestionTwo = true;
          return;
        }

        if (this.answerTwo == '') {
          this.isAnswerTwo = true;
          return;
        }

        let ary = [
          {
            answer: this.answerOne,
            question: this.questionOne,
            questionCode: this.questionCodeOne,
          },
          {
            answer: this.answerTwo,
            question: this.questionTwo,
            questionCode: this.questionCodeTwo,
          }
        ];


        saveSecretsecAPI(ary).then(res => {
          if(res.data.data){
            this.msg('设置成功')
            this.isShow=false;
            this.isShowTit=null;
          }else{
            this.msg('设置成功')
          }
        })

      },
      // 获取邮箱验证码
      getEmailcode() {
        this.$validator.validate('bingEmail.ememail').then(result => {
          if(result){

            getEmailCode(this.email.email).then(res=>{
              this.getCode()
              this.email.uuid=res.data;
            })
          }
        })
      },
      /*获取验证码*/
      getCode() {
        this.email.uuid = '';
        this.sendAuthCode = false;
        this.time = 60;
        let auth_timetimer = setInterval(() => {
          this.time--;
          if (this.time < 0) {
            this.sendAuthCode = true;
            clearInterval(auth_timetimer);
          }
        }, 1000);

      },
      /*保存修改邮箱*/
      saveEmail() {
        this.$validator.validate('bingEmail.*').then(result => {
          if (result) {
            saveEmailAPI({
              code:this.email.code,
              email:this.email.email,
              password:md5(this.email.password),
              uuid:this.email.uuid,
            }).then(res => {
              if (res.data.status) {
                this.isShowTit=null;
                this.isShow=false;
                this.$message.success("绑定邮箱成功")
              }else{
                this.$message.error(res.data.msg)
              }
            })
          }
        })

      },

    }
  }
</script>
<style scoped lang="less">
  .account {
    width: 978px;
    height: auto;
    .accountCont {
      width: 867px;
      margin: 0 auto;
      ul {
        margin-top: 50px;
        .accountItem {
          height: 95px;
          display: flex;
          align-items: center;
          justify-content: space-between;
          border-bottom: 1px dashed #D3D2CE;
          .accountIMG {
            width: 120px;
            margin-left: 6px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            img {
              width: 35px;
              height: 35px;
            }
            span {
              font-size: 16px;
              font-family: 'Microsoft YaHei';
              font-weight: bold;
              color: rgba(51, 51, 51, 1);
              line-height: 95px;
            }
          }
          .accountWord {
            width: 590px;
            font-size: 14px;
            font-family: 'Microsoft YaHei';
            font-weight: 400;
            color: rgba(69, 69, 69, 1);
            line-height: 95px;
          }
          .accountBtn {
            color: #3279ff;
            font-size: 14px;
            font-family: 'Microsoft YaHei';
            font-weight: 400;
            margin-right: 17px;
            cursor: pointer;
            line-height: 95px;
          }
        }
      }

    }
    /*弹框*/
    .accountEla {
      width: 100%;
      height: 100%;
      position: fixed;
      top: 0;
      left: 0;
      z-index: 1;
      background: rgba(0, 0, 0, 0.2);
      display: flex;
      justify-content: center;
      align-items: center;
      .accountECont {
        width: 500px;
        height: auto;
        background: #fff;
        .accountECTit {
          width: 100%;
          height: 36px;
          line-height: 36px;
          background: rgba(244, 244, 244, 1);
          border-radius: 3px 3px 0px 0px;
          display: flex;
          justify-content: space-between;
          h1 {
            font-size: 14px;
            font-family: MicrosoftYaHei-Bold;
            font-weight: bold;
            color: rgba(69, 69, 69, 1);
            padding-left: 15px;
          }
          span {
            font-size: 16px;
            font-family: MicrosoftYaHei-Bold;
            color: #999999;
            margin-right: 15px;
            cursor: pointer;

          }
        }
        /*修改密码*/
        .password {
          .accountECC {
            ul {
              margin-top: 16px;
              li {
                /*display: block;
                width:100%;*/
                margin-top: 12px;
                overflow: hidden;
                .pwdInput {
                  display: flex;
                  justify-content: space-between;
                  span {
                    width: 82px;
                    padding-left: 53px;
                    text-align: right;
                    line-height: 38px;
                    color: #666666;
                  }
                  input {
                    width: 294px;
                    height: 38px;
                    background: rgba(255, 255, 255, 1);
                    border: 1px solid rgba(220, 223, 230, 1);
                    border-radius: 3px;
                    padding-left: 10px;
                    margin-right: 54px;
                  }
                  input::-ms-clear{display: none;}
                  input::-ms-reveal{display: none;}
                }
                .tsy {
                  float: left;
                  display: block;
                  padding-left: 140px;
                  color: red;
                  font-size: 14px;
                }

              }
            }
          }
          .accountECBtn {
            overflow: hidden;
            margin: 20px 0 20px 234px;
            ul {
              li {
                width: 96px;
                height: 32px;
                font-size: 12px;
                font-family: MicrosoftYaHei;
                font-weight: 400;
                border-radius: 4px;
                text-align: center;
                line-height: 32px;
                float: left;
                margin-left: 10px;
                cursor: pointer;
              }
              .saveBtn {
                background: rgba(50, 121, 255, 1);
                color: rgba(255, 255, 255, 1);
              }
              .cencalBtn {
                width: 94px;
                height: 30px;
                border: 1px solid rgba(220, 223, 230, 1);
                color: #999999;
              }
            }
          }
        }
        /*密保问题*/
        .answer {
          .accountACC {
            padding-top: 35px;
            p {
              width: 100%;
              text-align: center;
              font-size: 14px;
              font-family: MicrosoftYaHei;
              font-weight: 400;
              color: rgba(102, 102, 102, 1);
              height: 20px;
            }
            ul {
              margin-top: 16px;
              li {
                margin-top: 12px;
                overflow: hidden;
                .pwdInput {
                  display: flex;
                  justify-content: space-between;
                  span {
                    width: 82px;
                    padding-left: 53px;
                    text-align: right;
                    line-height: 38px;
                    color: #666666;
                  }
                  input {
                    width: 294px;
                    height: 38px;
                    background: rgba(255, 255, 255, 1);
                    border: 1px solid rgba(220, 223, 230, 1);
                    border-radius: 3px;
                    padding-left: 10px;
                    margin-right: 54px;
                  }
                  input::-ms-clear{display: none;}
                  input::-ms-reveal{display: none;}
                }
                .tsy {
                  float: left;
                  display: block;
                  padding-left: 140px;
                  color: red;
                  padding-top: 5px;
                  font-size: 14px;
                }
              }
            }
          }
          .accountACBtn {
            overflow: hidden;
            margin: 20px 0 20px 340px;
            ul {
              li {
                width: 96px;
                height: 32px;
                font-size: 12px;
                font-family: MicrosoftYaHei;
                font-weight: 400;
                border-radius: 4px;
                text-align: center;
                line-height: 32px;
                float: left;
                margin-left: 10px;
                cursor: pointer;
              }
              .nextBtn {
                background: rgba(50, 121, 255, 1);
                color: rgba(255, 255, 255, 1);
              }
            }
          }

          /*密保问题 下一步*/
          .accAnsNC {
            .accAnsNCUL {
              margin-top: 16px;
              .tsy {
                float: left;
                display: block;
                padding-left: 140px;
                color: red;
                height: 30px;
                line-height: 24px;
                font-size: 14px;
              }
              .accAnsNCULLI {
                width: 100%;
                margin-top: 12px;
                display: flex;
                justify-content: space-between;
                span {
                  width: 92px;
                  padding-left: 45px;
                  text-align: right;
                  line-height: 38px;
                  color: #666666;
                }
                input {
                  width: 294px;
                  height: 38px;
                  background: rgba(255, 255, 255, 1);
                  border: 1px solid rgba(220, 223, 230, 1);
                  border-radius: 3px;
                  padding-left: 10px;
                  margin-right: 54px;
                }
                input::-ms-clear{display: none;}
                input::-ms-reveal{display: none;}
                .accAnsNCIn {
                  width: 304px;
                  height: 38px;
                  background: rgba(255, 255, 255, 1);
                  border: 1px solid rgba(220, 223, 230, 1);
                  border-radius: 3px;
                  padding-left: 0px;
                  margin-right: 54px;
                  display: flex;
                  justify-content: space-between;
                  position: relative;
                  .answerList {
                    width: 304px;
                    position: absolute;
                    z-index: 4;
                    background: #f4f5f9;
                    border: 1px solid rgba(220, 223, 230, 1);
                    top: 38px;
                    left: -1px;
                    ul {
                      padding: 5px 0;
                      li {
                        cursor: pointer;
                        line-height: 38px;
                        margin: 0 15px;
                        border-bottom: 1px dashed #D3D2CE;
                      }
                      li:last-child {
                        border-bottom: none;
                      }
                    }
                  }
                  input {
                    width: 260px;
                    border: none;
                  }
                  input::-ms-clear{display: none;}
                  input::-ms-reveal{display: none;}
                  .accAnsNCInBtn {
                    width: 12px;
                    height: 7px;
                    margin-right: 11px;
                    cursor: pointer;
                    img {
                      width: 12px;
                      height: 7px;
                      display: inline;
                      margin-top: 15px;
                      opacity: 0.6;

                    }
                  }

                }
              }
            }
          }
          .accAnsNCBtn {
            overflow: hidden;
            margin: 20px 0 20px 234px;
            ul {
              li {
                width: 96px;
                height: 32px;
                font-size: 12px;
                font-family: MicrosoftYaHei;
                font-weight: 400;
                border-radius: 4px;
                text-align: center;
                line-height: 32px;
                float: left;
                margin-left: 10px;
                cursor: pointer;
              }
              .saveBtn {
                background: rgba(50, 121, 255, 1);
                color: rgba(255, 255, 255, 1);
              }
              .cencalBtn {
                width: 94px;
                height: 30px;
                border: 1px solid rgba(220, 223, 230, 1);
                color: #999999;
              }
            }
          }

        }
        /*绑定邮箱*/
        .email {
          .accountEMCC {
            ul {
              margin-top: 16px;
              li {
                margin-top: 12px;

                .emailInput{
                  width:100%;
                  display: flex;
                  justify-content: space-between;
                  span {
                    width: 82px;
                    padding-left: 53px;
                    text-align: right;
                    line-height: 38px;
                    color: #666666;
                  }
                  input {
                    width: 294px;
                    height: 38px;
                    background: rgba(255, 255, 255, 1);
                    border: 1px solid rgba(220, 223, 230, 1);
                    border-radius: 3px;
                    padding-left: 10px;
                    margin-right: 54px;
                  }
                  input::-ms-clear{display: none;}
                  input::-ms-reveal{display: none;}
                  h1 {
                    width: 304px;
                    font-size: 14px;
                    font-family: MicrosoftYaHei;
                    font-weight: 400;
                    color: rgba(119, 119, 119, 1);
                    line-height: 40px;
                    margin-right: 54px;
                  }
                  .accountEMCCCode {
                    width: 304px;
                    height: 38px;
                    background: rgba(255, 255, 255, 1);
                    border: 1px solid rgba(220, 223, 230, 1);
                    border-radius: 3px;
                    padding-left: 0px;
                    margin-right: 54px;
                    input {
                      width: 190px;
                      border: none;
                      margin: 0;
                      padding: 0 0 0 10px;
                      float: left;
                      display: block;
                    }
                    input::-ms-clear{display: none;}
                    input::-ms-reveal{display: none;}
                    .codeCss {
                      width: 96px;
                      cursor: pointer;
                      display: block;
                      float: right;
                      height: auto;
                      line-height: 38px;
                      text-align: center;
                      background: rgba(241, 246, 255, 1);
                      border-radius: 0px 2px 2px 0px;
                      font-size: 14px;
                      font-family: MicrosoftYaHei;
                      font-weight: 400;
                      color: rgba(50, 121, 255, 1);
                    }
                  }
                }

                .tsy {
                  float: left;
                  display: block;
                  padding-left: 140px;
                  color: red;
                  height: 30px;
                  line-height: 24px;
                  font-size: 14px;
                }

              }
            }
          }
          .accountEMCBtn {
            overflow: hidden;
            margin: 20px 0 20px 234px;
            ul {
              li {
                width: 96px;
                height: 32px;
                font-size: 12px;
                font-family: MicrosoftYaHei;
                font-weight: 400;
                border-radius: 4px;
                text-align: center;
                line-height: 32px;
                float: left;
                margin-left: 10px;
                cursor: pointer;
              }
              .saveBtn {
                background: rgba(50, 121, 255, 1);
                color: rgba(255, 255, 255, 1);
              }
              .cencalBtn {
                width: 94px;
                height: 30px;
                border: 1px solid rgba(220, 223, 230, 1);
                color: #999999;
              }
            }
          }

        }

      }

    }
    ::-webkit-input-placeholder { /* WebKit, Blink, Edge */
      font-size: 14px;
    }
    :-moz-placeholder { /* Mozilla Firefox 4 to 18 */
      font-size: 14px;
    }
    ::-moz-placeholder { /* Mozilla Firefox 19+ */
      font-size: 14px;
    }
    :-ms-input-placeholder { /* Internet Explorer 10-11 */
      font-size: 14px;
    }
  }
</style>
