<template>
  <!--职业能力提升模块-->
  <div class="materiaType">
    <ComHeader @lisChildren="getMsgFormSon" @getDiyType="getDiyType"></ComHeader>
    <div class="materiaTypeOne">
      <div>
        <!--分类-->
        <div class="type1">
          <div class="typeHeader">
            <div class="spaceBetween">分类</div>
            ：
          </div>
          <div class="typeBody">
            <ul>
              <li :class="curType==null?'checkItem':''" @click="changeType(null)">全部</li>
              <li v-for="(item,index) in diytypeList" :key="index" :class="curType==item.id?'checkItem':''"
                  @click="changeType(item.id,item)">{{item.showName}}
                <span class="typeImg" v-if="item.list.length>0">
                <img src="@/assets/img/bomG.png" alt="" v-if="curType!=item.id">
                <img src="@/assets/img/top.png" alt="" v-if="isShowChild&&curType==item.id">
                  <img src="@/assets/img/bom.png" alt="" v-if="!isShowChild&&curType==item.id">
              </span>
              </li>
              <li v-if="diytypeList.length>15" @click="moreBtn(diytypeList)">{{isMore ? '收起' : '更多'}}  <span><img
                src="@/assets/img/more2.png" alt="" :class="isMore?'inverted':''"></span></li>
            </ul>
          </div>

        </div>
        <!--分类下的子-->
        <!--<div class="typeC" v-if="curTypeChildren.length>0&&isShowChild">
          <ul>
            <li :class="curTypeChild==null?'checkChild':''" @click="changeTypeChild(null)">全部</li>
            &lt;!&ndash;<li class="checkChild">大类专业基础课</li>&ndash;&gt;
            <li v-for="(val,ind) in curTypeChildren" @click="changeTypeChild(val.id,val)"
                :class="curTypeChild==val.code?'checkChild':''">{{val.showName}}
            </li>
          </ul>
        </div>
        &lt;!&ndash;自定义分类&ndash;&gt;
        <div class="type1" v-if="customClass.length>0&&typeZh=='技工教育教材'">
          <div class="typeHeader">
            <div class="spaceBetween">自定义分类</div>：
          </div>
          <div class="typeBody">
            <ul>
              <li :class="customType==null?'checkItem':''" @click="customClassBtn(null)">全部</li>
              <li :class="customType==labelC.code?'checkItem':''" v-for="(labelC,inxC) in customClass" :key="labelC.id"
                  @click="customClassBtn(labelC.id,labelC)"
                  v-if="(!isMoreCustom?inxC<8:inxC<label.list.length)">{{labelC.showName}}

              </li>
              <li v-if="customClass.length>8">
                <span @click="isMoreCustom=!isMoreCustom" v-if="isMoreCustom"><img src="../../../static/img/topG.png"
                                                                                   alt=""></span>
                <span @click="isMoreCustom=!isMoreCustom" v-if="!isMoreCustom"><img src="../../../static/img/bomG.png"
                                                                                    alt=""></span>
              </li>
            </ul>
          </div>

        </div>-->

        <!--培养层次-->
        <!--<div class="type1" v-for="(label,inx) in labelList" :key="label.id"  v-if="label.showName!='自定义分类'">
          <div class="typeHeader" v-if="label.showName.length<=4">
            <div class="spaceBetween">{{label.showName}}</div>
            ：
          </div>
          &lt;!&ndash;<div class="typeHeader" v-else>
            <div class="spaceBetween">{{label.showName}}</div>
            ：
          </div>&ndash;&gt;
          <div class="typeBody">
            <ul>
              <li :class="labelC.checked?'checkItem':''" v-for="(labelC,inxC) in label.list" :key="labelC.id"
                  @click="labelClick(labelC,label)" v-if="label.showName!='自定义分类'">{{labelC.showName}}
              </li>
              &lt;!&ndash;<li :class="labelC.checked?'checkItem':''" v-for="(labelC,inxC) in label.list" :key="labelC.id"
                  @click="labelClick(labelC,label)"
                  v-if="label.showName=='自定义分类'&&(!isMoreCustom?inxC<8:inxC<label.list.length)">{{labelC.showName}}

              </li>&ndash;&gt;
              <li v-if="customClass.length>8&&label.showName=='自定义分类'">
                <span @click="isMoreCustom=!isMoreCustom" v-if="isMoreCustom"><img src="../../../static/img/topG.png"
                                                                                   alt=""></span>
                <span @click="isMoreCustom=!isMoreCustom" v-if="!isMoreCustom"><img src="../../../static/img/bomG.png"
                                                                                    alt=""></span>
              </li>
            </ul>
          </div>

        </div>-->




        <!--types 载体类型-->
        <!--<div class="type1" v-if="typeZh=='教学资源'">
          <div class="typeHeader">
            <div class="spaceBetween">载体类型</div>
            ：
          </div>
          <div class="typeBody">
            <ul>

              <li v-for="(typeOne,inxT) in typesList" :key="inxT" @click="typesClick(typeOne)"  :class="typeOne.checked?'checkItem':''">
                {{typeOne.typeName}}
              </li>
            </ul>
          </div>

        </div>-->

      </div>
      <!--高级筛选-->
      <!--<div class="advSearch" v-if="isadvSearch">
        <ul>
          <li>
            <span>图书名称：</span>
            <input type="text" v-model="pass.name">
          </li>
          <li>
            <span>作者：</span>
            <input type="text" v-model="pass.author">
          </li>
          <li>
            <span>ISBN号：</span>
            <input type="text" v-model="pass.isbn">
          </li>
          <li>
            <span>出版社：</span>
            <input type="text" v-model="pass.publisher">
          </li>
          <li>
            <span>出版时间：</span>
            <el-date-picker
              v-model="timeList"
              type="daterange"
              value-format="yyyy-MM-dd"
              range-separator="至"
              start-placeholder="开始日期"
              end-placeholder="结束日期">
            </el-date-picker>
          </li>
          &lt;!&ndash; <li>
            <span>丛书名：</span>
            <input type="text" v-model="pass.bookSeries">
          </li> &ndash;&gt;
          <li>
            <span>价格区间：</span>
            <div class="advPrice">
              <input type="number" min="0" v-model="pass.priceStart">
              <h3>至</h3>
              <input type="number" min="0" v-model="pass.priceEnd">
            </div>
          </li>
          <li>
            <span>版次：</span>
            <input type="text" v-model="pass.revision">
          </li>
          &lt;!&ndash; <li>
            <span>开本：</span>
            <input type="text" v-model="pass.bookformat">
          </li> &ndash;&gt;
          &lt;!&ndash;<li>
            <span>装帧：</span>
            <el-select v-model="pass.bindid" placeholder="请选择">
              <el-option
                v-for="item in options"
                :key="item.value"
                :label="item.label"
                :value="item.value">
              </el-option>
            </el-select>
          </li>&ndash;&gt;
          <li>
            <span>发行书代号：</span>
            <input type="text" v-model="pass.bookNo">
          </li>
        </ul>
        <div class="advSearchButton">
          <span @click="advSearchBtn">搜索</span>
          <span style="background: gainsboro" @click="ClearAdvSearchBtn">清空条件</span>
        </div>
      </div>-->

    </div>


    <!--全部-->
   <!-- <div class="searchList">
      <div class="loadingCss" v-if="isLoading">
        <img src="../../../static/img/loading.gif" alt="">
      </div>
      <ul v-if="!isLoading&&list.length>0">
        <li v-for="(item,index) in list" :key="index" @click="linkHref(item)">
          <div class="listImg">
            <div class="listText listTextHover">
              &lt;!&ndash;<img :src="imgUrl(item.cover)" alt="" v-if="item.cover">&ndash;&gt;
              <img :src="filterImg(item)" alt="" :onerror="errorImg(item,true)"
                   :style="{maxWidth:item.type.indexOf('2-')>=0?'127px':'112px',maxHeight:item.type.indexOf('2-')>=0?'89px':'148px'}">
            </div>
            <div class="isJurisdiction"
                 v-if="item.type&&item.type.indexOf('1-')>=0&&(item.isHaveBinding==1||item.applyStatus==1||item.isTrialReading==1)">
              <span v-if="item.isHaveBinding==1">有配套资源</span>
              <span v-if="item.applyStatus==1">可申请样书</span>
              <span v-if="item.isTrialReading==1">可试读</span>
            </div>
            <h1>{{item.typeZh}}</h1>
          </div>
          <div class="listTitle">
            <h1>
              <a :title="item.name">{{item.name}}</a>
              &lt;!&ndash;<router-link :to="{path:'/resources/info',query:{id:item.id}}">{{item.name}}</router-link>&ndash;&gt;
            </h1>
            <h2 v-if="item.type&&item.type.indexOf('2-')>=0">文件大小：{{item.fileSize}}</h2>
            <div class="listTitleLast" v-if="item.type&&item.type.indexOf('2-')>=0">
              <span>{{filterTime(item.uploadTime)}}</span><span>下载次数：{{item.downloadCount}}</span></div>

            <h2 v-if="item.type&&item.type.indexOf('1-')>=0" :title="item.author">作者：{{item.author}}</h2>
            <h2 v-if="item.type&&item.type.indexOf('1-')>=0" :title="item.publisher">出版社：{{item.publisher}}</h2>

          </div>
        </li>

      </ul>
      <div class="nohaveCss" v-if="list.length==0&&!isLoading"><img src="../../../static/img/noHave.jpg" alt=""></div>
      <div class="page" v-if="!isLoading&&list.length>0">
        <pagination class="paddingTop" @change="pageChange"
                    :current-page="pass.pageNum"
                    :page-size="pass.pageSize" :total-page="lastPage"></pagination>
      </div>
    </div>-->


    <!--技工教育 职业教材-->
    <div class="materiaTypeAll"><!--v-if="typeZh!='教学资源'"-->

      <!--排序方式-->
<!--      <div class="materiaTypeTwo borderbottom">
        <div class="typeTwolf fl">
          <div class="typeHeader fl">
            <div class="spaceBetween">排序方式</div>
            ：
          </div>
          <ul class="materiaSort">
            <li :class="cursort==index?'checktypeTwolf':''" v-for="(item,index) in sort" :key="index"
                @click="changeSort(index,item.name)">
              <span>
                {{item.name}}
              </span>
              <span v-if="item.name!='综合'">
                <img src="../../assets/img/bomW.png" alt="" v-if="cursort==index&&item.mode==1" class="modebottom">
                <img src="../../assets/img/bomW.png" alt="" v-if="cursort==index&&item.mode!=1">
                <img src="../../assets/img/bomD.png" alt="" v-if="cursort!=index&&item.mode!=1"></span>
            </li>

          </ul>
        </div>

        <div class="typeTwort fr">
          共查到{{total}}条记录
          <ul>
            <li @click="changeShow('matrix')"><img :src="showType=='matrix'?img1:img2" alt=""><span
              :style="{color:showType=='matrix'?'#3279FF':''}">矩阵</span></li>
            <li :class="showType=='list'?'checkItem':''" @click="changeShow('list')"><img
              :src="showType=='list'?img3:img4" alt=""><span :style="{color:showType=='list'?'#3279FF':''}">列表</span>
            </li>
          </ul>
        </div>

      </div>-->


      <div class="materiaTypeThr">
        <div class="loadingCss" v-if="isLoading">
          <img src="../../../static/img/loading.gif" alt="">
        </div>
        <!--列表-->
        <!--<ul class="Matrix" v-if="showType=='list'&&list.length>0&&!isLoading">
          <li v-for="(evOne,index1) in list" :key="index1" @click="linkHref(evOne)">
            <div class="MbookImg">
              &lt;!&ndash;<img src="../../assets/img/shu1.png" alt="">&ndash;&gt;
              <img :src="filterImg(evOne)" alt="" :onerror="errorImg(evOne)">
            </div>
            <div class="MbookCont">
              <h1>书名：<a :title="evOne.name">{{filterWord(evOne.name, 43)}}</a></h1>
              <div class="MbookContO">
                <span :title="evOne.author">{{filterWord(evOne.author, 14)}}</span> 著 丨 {{filterTime(evOne.publishTime)}}出版 丨 <span
                :title="evOne.publisher">{{filterWord(evOne.publisher, 14)}}</span> 丨 ISBN: {{evOne.isbn}}
              </div>
              <p>{{filterWord(evOne.introduction, 106)}}</p>
              <div class="price">￥{{filterPrice(evOne.price)}}</div>
            </div>
            <div class="Mbtns">
              <div class="bg1" v-if="evOne.isHaveBinding==1">有配套资源</div>
              <div class="bg2" v-if="evOne.applyStatus==1">可申请样书</div>
              <div class="bg3" v-if="evOne.isTrialReading==1">可试读</div>
            </div>
          </li>

        </ul>-->
        <!--矩阵-->
        <ul class="List" v-if="showType=='matrix'&&list.length>0&&!isLoading">

          <li v-for="(evOne,index1) in list" :key="index1" @click="linkHref(evOne)">
            <div class="listImg">
              <div class="listText listTextHover">
                <img :src="filterImg(evOne)" alt="" :onerror="errorImg(evOne)">
              </div>

              <div class="isJurisdiction"
                   v-if="evOne.type&&evOne.type.indexOf('1-')>=0&&(evOne.isHaveBinding==1||evOne.applyStatus==1||evOne.isTrialReading==1)">
                <span v-if="evOne.isHaveBinding==1">有配套资源</span>
                <span v-if="evOne.applyStatus==1&&$store.getters.userType != 'supervise'">可申请样书</span>
                <span v-if="evOne.isTrialReading==1">可试读</span>
              </div>


              <h1 v-if="evOne.publishTime">{{filterTime(evOne.publishTime)}} 出版</h1>
            </div>
            <div class="listTitle">
              <h1>
                <a :title="evOne.name">{{evOne.name}}</a>
                <!--<router-link :to="{path:'/resources/info',query:{id:evOne.id}}">{{evOne.name}}</router-link>-->
              </h1>
              <p :title="evOne.author">作者: {{evOne.author}}  </p>
              <p :title="evOne.isbn">ISBN: {{evOne.isbn}}</p>
              <p :title="evOne.publisher">出版社: {{evOne.publisher}}</p>
              <div class="listTitleLast"><span>￥{{filterPrice(evOne.price)}}</span></div>
            </div>
          </li>


        </ul>

        <div class="nohaveCss" v-if="list.length==0&&!isLoading"><img src="../../../static/img/noHave.jpg" alt=""></div>

        <div class="page" v-if="list.length>0&&!isLoading">
          <!--{{pass.pageSize}}{{pass.pageNum}}-->
          <pagination class="paddingTop" v-show="list&&list.length>0" @change="pageChange" :current-page="pass.pageNum"
                      :page-size="pass.pageSize" :total-page="lastPage"></pagination>
        </div>

      </div>
    </div>

    <LoginFooter></LoginFooter>

  </div>
</template>

<script>
  import {getPageAPI, getdiytypeAPI, getlabelAPI, isBindAPI} from "@/api/resources.js";
  import img1 from "@/assets/img/matrixB.png";
  import img2 from "@/assets/img/matrixD.png";
  import img3 from "@/assets/img/listB.png";
  import img4 from "@/assets/img/listD.png";
  import Cookies from 'js-cookie';
  import qs from 'qs';
  import axios from 'axios';

  export default {
    name: 'resourceSearch',
    data() {
      return {
        errorGoodsImg: 'this.src="' + require('../../../static/img/imgHeight.png') + '"',
        resourcesType: null,
        list: [{cover: ''}],
        pass: {
          pageSize: 12,
          pageNum: 1,
          diytypeCodes: null,
          term: null,
          orderBy: null,

        },
        type: [{name: '全部'}, {name: '技工教育教材', type: '1-1'}, {name: '职业培训教材', type: '1-2'}, {
          name: '教学资源',
          type: '1-3'
        }],
        curType: null,
        curTypeCode: null,
        showType: 'matrix',
        img1: img1,
        img2: img2,
        img3: img3,
        img4: img4,
        screen: [{name: '可试读', type: 'isTrialReading'}, {name: '有配套资源', type: 'isHaveBinding'}, {
          name: '可申请样书',
          type: 'applyStatus'
        }, {
          name: '国家级技工教育规划教材',
          type: 'countryStatus'
        }],
        curScreenType: [0, 0, 0, 0],
        total: 0,
        sort: [{name: '综合', mode: 0}, {name: '出版时间', mode: 0}, {name: '人气', mode: 0}, {name: '价格', mode: 0}],
        cursort: 0,
        lastPage: 0,
        diytypeList: [],
        curTypeChildren: [],
        curTypeChild: null,
        customType: null,
        isShowChild: false,
        labelList: [],
        typesList: [],
        typeZh: null,
        searchWord: null,
        timeList: '',
        options: [{
          value: 1,
          label: '平装'
        }, {
          value: 2,
          label: '精装'
        }],
        isadvSearch: false,
        isLoading: true,
        isMore: false,
        isMoreCustom: false,
        recommend:{},
        customClass:[],
        diytypeAll:[],
      }
    },

    created() {

      this.resourcesType = this.$route.query.type ? this.$route.query.type : null;
      this.typeZh = this.$route.query.typeZh ? this.$route.query.typeZh : null;
      this.searchWord = this.$route.query.searchWord ? this.$route.query.searchWord : null;
      this.pass.term = this.$route.query.searchWord ? this.$route.query.searchWord : null;
      this.curType = this.$store.state.curType;
      this.curTypeChild = this.$store.state.curTypeChild;
      this.customType = this.$store.state.curCustomType;
      this.getdiytype(1);


    },
    computed: {
    },
    mounted(){

    },
    watch: {
      // $route() {
        // this.getdiytype(1);
      // },
    },
    methods: {
      getMsgFormSon(data) {
        this.resourcesType = null
        this.isLoading = true;
        this.pass.term = data;
        this.searchWord = data;
      },
      getDiyType(data){
        this.typeZh = this.$route.query.typeZh ? this.$route.query.typeZh : null;
        this.resourcesType = null
        this.isLoading = true;
        this.pass.term = data;
        this.searchWord = data;
        this.getdiytype()
        this.diytypeList.forEach(item=>{
          if(typeZh == item.typeZh){
            this.changeType(id,item)
          }
        })
        /*this.changeReType(null)*/
      },
      /*获取列表数据*/
      getList(num=1) {

        if (this.pass.term == '' || !this.pass.term) {
          delete this.pass.term;
        }
        if (!this.pass.orderBy) {
          delete this.pass.orderBy;
        }
        /*if (this.$route.query.publisher && this.$route.query.publisher != '' && this.pass.publisher != '') {
          this.pass.publisher = this.$route.query.publisher;
        } else if (!this.$route.query.publisher || this.$route.query.publisher == 'null' || this.$route.query.publisher == '') {
          delete this.pass.publisher;
        }*/
        getPageAPI(this.pass).then(res => {
          if (res.data.status) {

            this.isLoading = false;
            this.total = res.data.data.tatol ? res.data.data.tatol : 0;
            this.list = res.data.data.fgResourceVos ? res.data.data.fgResourceVos : [];

            this.lastPage = Math.ceil(Number(this.total) / Number(this.pass.pageSize));

            if (res.data.data.labelVos && res.data.data.labelVos.length > 0) {
              this.labelList = res.data.data.labelVos;
              this.labelList.forEach((item, index) => {
                item.list.unshift({
                  showName: '全部',
                  id: 'null'
                })
                item.list.forEach(val => {
                  this.$set(val, 'checked', false)
                })
                for (let i = 0; i < item.list.length; i++) {
                  if (item.list[i].checked) return;
                  item.list[0].checked = true;
                }
              })
              /*载体类型*/
              if(num==1&&this.typeZh == '教学资源'){
                this.typesList = res.data.data.types;
                this.typesList.unshift({
                  typeName: '全部',
                  typeCode: 'null',
                  checked: false,
                })
                this.typesList.forEach((item, index) => {
                  this.$set(item, 'checked', false)
                  this.typesList[0].checked = true;
                })
              }
            }else if(res.data.data.labelVos&&res.data.data.labelVos.length == 0){
              this.labelList = res.data.data.labelVos;
            }
          }
        })
      },
      /*获取分类*/
      getdiytype(num) {
        this.isLoading = true;
        this.pass.diytypeCodes = [];
        this.diytypeAll = [];
        const term = this.pass.term;//搜索词
        let _API = getdiytypeAPI()
        const data = {term: term}
        term? _API = getdiytypeAPI(data):_API = getdiytypeAPI()
        _API.then(res => {
          const list =  res.data.data
          if (res.data.status) {
            list.forEach((item)=>{

              if(item.showName=='职业能力提升'){
                this.diytypeList = item.list;
                this.diytypeAll.push(item.code);
                if(item.code==this.$route.query.code||!this.$route.query.code){
                  this.pass.diytypeCodes.push(item.code);
                  this.curType=null;
                }else{
                  this.pass.diytypeCodes.push(this.$route.query.code);
                  this.curType=this.$route.query.id;
                }

              }
            })

            /*for (let i = 0; i < list.length; i++) {
              if (this.$route.query.type == list[i].id) {
                this.pass.diytypeCodes.push(list[i].code);
              }
            }*/
            this._recommend(num)
          }
        })
        // if(this.pass.term){
        //   getdiytypeAPI({
        //     term: this.pass.term,
        //   }).then(res => {
        //     if (res.data.status) {
        //       this.diytypeList = res.data.data;
        //       for (let i = 0; i < this.diytypeList.length; i++) {
        //         if (this.$route.query.type == this.diytypeList[i].id) {
        //           this.pass.diytypeCodes.push(this.diytypeList[i].code);
        //         }
        //       }
        //        this._recommend(num)
        //     }
        //   })
        // }else{
        //   getdiytypeAPI().then(res => {
        //     if (res.data.status) {
        //       this.diytypeList = res.data.data;
        //       for (let i = 0; i < this.diytypeList.length; i++) {
        //         if (this.$route.query.type == this.diytypeList[i].id) {
        //           this.pass.diytypeCodes.push(this.diytypeList[i].code);
        //         }
        //       }
        //       this._recommend(num)
        //     }
        //   })
        // }
      },
      _recommend(num){
        if(window.localStorage.getItem('recommend')){
          this.recommend = JSON.parse(window.localStorage.getItem('recommend'))
          window.localStorage.removeItem('recommend')
          getdiytypeAPI({term: this.recommend.searchWord}).then(res => {
            if (res.data.status) {
              const obj =  res.data.data[0];
              /*this.changeReType(obj.id,obj)*/
            }
          })
        }else{
          this.getList(num);
        }
      },
      /*改变分类*/
      changeType(val, item) {
        this.isLoading = true;
        this.curTypeChildren = [];
        this.curTypeChild = null;
        if (this.curType == val) {
          this.isShowChild = !this.isShowChild;
          /* this.curType=null;*/
        } else {
          this.curType = val;
          this.isShowChild = true;
          this.pass.pageNum=1;
        }
        this.$store.commit('changeType', val);


        if (val == null) {
          this.pass.diytypeCodes=this.diytypeAll;
          this.$router.push({
            name: 'promote',
            query: {
              searchWord: this.searchWord,
            }
          })
        } else {
          this.pass.diytypeCodes = [];
          this.pass.diytypeCodes.push(item.code);
          this.curTypeCode = item.code;
          if (item.list.length > 0) {
            this.curTypeChildren = item.list;
          }
          this.$router.push({
            name: 'promote',
            query: {
              typeZh: item.showName,
              searchWord: this.searchWord,
              code: item.code,
              id: item.id,

            }
          })
        }

        this.getList();
      },
      /*分类下面的子*/
      /*changeTypeChild(id, val) {
        this.isLoading = true;
        this.$store.commit('changeTypeChild', val?val.code:null);
        this.pass.diytypeCodes = [];
        if (id == null) {
          this.pass.diytypeCodes.push(this.curTypeCode);
          this.curTypeChild = null;
          this.customClass=[];
          this.pass.pageNum=1;
        } else {
          if (this.curTypeChild == val.code) {
            this.pass.diytypeCodes.push(this.curTypeCode);
            this.curTypeChild = null;
          } else {
            this.curTypeChild = val.code;
            this.pass.diytypeCodes.push(val.code);
            this.pass.pageNum=1;
          }
          this.customClass=val.list;

        }
        this.pass.labelCodes =[];
        this.getList();
      },*/
      /*自定义分类*/
      /*customClassBtn(id, val) {

        this.isLoading = true;
        this.$store.commit('changeCustomType', val?val.code:null);
        this.pass.diytypeCodes = [];

        if (id == null) {
          this.pass.diytypeCodes.push(this.curTypeChild);
          this.customType = null;
          /!*this.customClass=[];*!/
        } else {

          if (this.customType == val.code) {
            this.pass.diytypeCodes.push(this.curTypeChild);
            this.customType = null;
          } else {
            this.customType = val.code;
            this.pass.diytypeCodes.push(val.code);
          }
          /!*this.customClass=val.list;*!/

        }
        /!*this.pass.labelCodes =[]*!/
        this.getList();
      },*/
      /*切换资源类型*/
      /*changeReType(id, val) {

        if (val && val.list.length > 15) {
          this.isMore = false;
        }
        this.isLoading = true;
        this.curTypeChild = null;
        this.isadvSearch = false;

        this.pass.diytypeCodes = [];
        this.isShowChild = false;
        this.resourcesType = id;
        this.pass.pageSize = 12;

        this.$set(this.pass, 'pageNum', 1)
        delete this.pass.applyStatus;
        delete this.pass.countryStatus;
        delete this.pass.isTrialReading;
        delete this.pass.isHaveBinding;

        this.curScreenType = [0, 0, 0, 0];
        this.cursort = 0;
        delete this.pass.orderBy;
        this.curType = null;
        this.curTypeCode = null;

        if (val) {
          this.pass.diytypeCodes.push(val.code);
          this.typeZh = val ? val.showName : null;
          this.$router.push({
            name: 'materialType',
            query: {
              type: id,
              typeZh: val.showName,
              searchWord: this.searchWord,
              publisher: this.$route.query.publisher ? this.$route.query.publisher : null
            }
          })
        } else {
          this.pass.diytypeCodes = [];
          this.typeZh = null;
          this.$router.push({
            name: 'materialType',
            query: {
              searchWord: this.searchWord,
              publisher: this.$route.query.publisher ? this.$route.query.publisher : null
            }
          })
        }
        this.labelList.forEach((item, index) => {

          item.list.forEach(val => {
            this.$set(val, 'checked', false)
          })

          for (let i = 0; i < item.list.length; i++) {
            if (item.list[i].checked) return;
            item.list[0].checked = true;
          }

        })
        this.pass.labelCodes = [];
        delete this.pass.labelCodes;
        if(val&&val.showName=='教学资源'){
          this.typesList.forEach((item, index) => {
            item.checked=false;
            this.typesList[0].checked = true;
          })
          this.pass.types=[];
          delete this.pass.types
        }else{
          delete this.pass.types
        }
        this.ClearAdvSearchBtn();
        // this.getList();

      },*/
      /*获取培训层级和自定义分类*/
/*      getlabel() {
        getlabelAPI({
          term: this.pass.term,
        }).then(res => {
          if (res.data.status) {
            this.labelList = res.data.data;
            this.labelList.forEach((item, index) => {
              item.list.unshift({
                showName: '全部',
                id: 'null'
              })
              item.list.forEach(val => {
                this.$set(val, 'checked', false)
              })

              for (let i = 0; i < item.list.length; i++) {
                if (item.list[i].checked) return;
                item.list[0].checked = true;
              }

            })
          }
        })
      },*/
      /*点击自定义分类*/
      /*labelClick(itemC, item) {
        this.pass.labelCodes = [];
        if (itemC.checked) {
          itemC.checked = false;
          item.list[0].checked = true;
        } else {
          for (let i = 0; i < item.list.length; i++) {
            item.list[i].checked = false;
          }
          itemC.checked = true;
        }


        this.labelList.forEach((val, index) => {
          val.list.forEach(it => {
            if (it.checked && it.id != 'null') {
              this.pass.labelCodes.push(it.code)
            }

          })

        })

        this.getList();

      },*/
      /*载体类型点击*/
      /*typesClick(item) {
        this.pass.types=[];
        /!*if (item.checked) {
          item.checked = false;
        } else {
          item.checked = true;
        }*!/
        item.checked=!item.checked;
        if(item.checked&&item.typeName=='全部'){
          this.typesList.forEach((val, index) => {
            if (val.checked && val.typeCode != 'null') {
              val.checked=false;
            }
          })
          delete this.pass.types;

        }else{
          this.typesList.forEach((val, index) => {
            if (val.checked && val.typeCode != 'null') {
              this.pass.types.push(val.typeCode);
            }
          })
          if(this.pass.types.length==0){
            this.typesList[0].checked=true;
            delete this.pass.types;
          }else{
            this.typesList[0].checked=false;
          }

        }


        this.getList();
      },*/
      /*矩阵列表*/
      /*changeShow(val) {
        this.isLoading = true;
        this.showType = val;
        this.pass.pageNum = 1;
        if (val == 'matrix') {
          this.pass.pageSize = 12;
          /!*this.pass.pageNum = 1;*!/
        } else {
          this.pass.pageSize = 5;
          /!*this.pass.pageNum = 1;*!/
        }
        this.getList();

      },*/
      /*筛选*/
      screenType(val) {
        this.isLoading = true;
        if (this.curScreenType[val] == 1) {
          this.curScreenType[val] = 0;
          delete this.pass[this.screen[val].type];
        } else {
          this.curScreenType[val] = 1;
          this.pass[this.screen[val].type] = 1;
          /*this.curScreenType.forEach((item, index) => {

          })*/
        }
        this.getList();

      },
      /*排序*/
      changeSort(index, name) {
        this.isLoading = true;
        let sort = null;
        if (this.cursort == index) {
          this.sort[index].mode == 1 ? this.sort[index].mode = 0 : this.sort[index].mode = 1;
        } else {
          this.sort.forEach(item => {
            item.mode = 0;
          });
          this.cursort = index;
          this.sort[index].mode = 0;

        }
        if (this.sort[index].mode == 0) {
          sort = 'desc';
        } else {
          sort = 'asc';
        }

        switch (name) {
          case '综合':
            this.pass.orderBy = null;
            break;
          case '出版时间':
            this.pass.orderBy = 'publishTime' + ' ' + sort;
            break;
          case '人气':
            this.pass.orderBy = 'hitCount ' + sort;
            break;
          case '价格':
            this.pass.orderBy = 'price ' + sort;
            break;
        }

        this.getList();


      },
      /*切换page*/
      pageChange(val) {
        this.isLoading = true;
        this.pass.pageNum = val
        this.getList();
      },
      /*跳转链接*/
      linkHref(item) {
        if (item.type.indexOf('2-') >= 0) {//电子
          let routeUrl0 = this.$router.resolve({
            path: "/resources/teaching",
            query: {id: item.id}
          });

          // window.localStorage.setItem('recommend',JSON.stringify(this.recommend))
          window.open(routeUrl0.href, '_blank');
          //this.$router.push({path:'/resources/teaching',query:{id:item.id}});
        } else {
          isBindAPI({oid: item.id}).then(res => {
            if (res.data.status) {
              if (res.data.data) {//绑定资源
                let routeUrl1 = this.$router.resolve({
                  path: "/resources/info",
                  query: {id: item.id}
                });

                window.localStorage.setItem('recommendInfo',JSON.stringify(this.recommend))
                window.open(routeUrl1.href, '_blank');
                //this.$router.push({path:'/resources/info',query:{id:item.id}});
              } else {//没有绑定
                let routeUrl2 = this.$router.resolve({
                  path: "/resources/vocation",
                  query: {id: item.id}
                });
                window.localStorage.setItem('recommendInfo',JSON.stringify(this.recommend))
                window.open(routeUrl2.href, '_blank');
                //this.$router.push({path:'/resources/vocation',query:{id:item.id}});
              }

            }
          })

        }

      },
      /*高级搜索按钮*/
      advancedSearch() {
        this.isadvSearch = !this.isadvSearch;
      },
      /*高级搜索条件按钮*/
      advSearchBtn() {

        this.isLoading = true;
        this.pass.pageNum = 1;
        if (this.timeList.length > 0) {
          this.pass.publishTimeStart = this.timeList[0];
          this.pass.publishTimeEnd = this.timeList[1];
        }
        if (Number(this.pass.priceStart) > Number(this.pass.priceEnd)) {
          let price = this.pass.priceStart;
          this.pass.priceStart = Number(this.pass.priceEnd);
          this.pass.priceEnd = Number(price);
        }
        /*if(!this.pass.publisher||this.pass.publisher==''){

          this.$router.push({path:this.$route.fullPath,query:{publisher:this.pass.publisher}})
          //this.$route.query.publisher=this.pass.publisher;
        }else{
          this.$router.push({path:this.$route.fullPath,query:{publisher:null}})
        }*/
        if(!this.pass.publisher||this.pass.publisher==''){
          delete this.pass.publisher;
        }
        this.getList();
      },
      /*高级搜索取消按钮*/
      ClearAdvSearchBtn() {
        delete this.pass.name;
        delete this.pass.author;
        delete this.pass.publisher;
        this.timeList = [];
        delete this.pass.publishTimeEnd;
        delete this.pass.publishTimeStart;
        delete this.pass.priceStart;
        delete this.pass.priceEnd;
        delete this.pass.bookSeries;
        delete this.pass.revision;
        delete this.pass.bookformat;
        /*delete this.pass.bindid;*/
        delete this.pass.bookNo;
        delete this.pass.isbn;
        this.getList();
      },
      /*分类下的更多*/
      moreBtn(val) {
        this.isMore = !this.isMore;
      },
    },

  }
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped lang="less">

  .materiaType {
    background: #f4f5f9;
    height: 100%;
    width: auto;
    .checkItem {
      color: #3279FF;
      font-weight: bold;

    }
    .materiaTypeOne {
      position: relative;
      width: 1127px;
      padding: 15px 53px 20px 20px;
      height: auto;
      overflow: hidden;
      line-height: 64px;
      margin: 0 auto 12px;
      background: rgba(255, 255, 255, 1);
      box-shadow: 0px 2px 8px 0px rgba(1, 2, 2, 0.06);
      border-top: 3px solid #3279FF;
      .seniorSearch {
        position: absolute;
        top: 0;
        right: 0;
        width: 98px;
        height: 24px;
        line-height: 22px;
        background: rgba(50, 121, 255, 1);
        cursor: pointer;
        span {
          font-size: 12px;
          font-family: "Microsoft Yahei", "simsun", "arial", "tahoma";
          font-weight: 400;
          color: rgba(255, 255, 255, 1);
          float: left;
          padding-left: 8px;
          padding-right: 2px;
        }
        img {
          width: 9px;
          height: 10px;
          margin-top: 1px;
        }
        .closeMore {
          transform: rotate(180deg);
          -ms-transform: rotate(180deg); /* Internet Explorer */
          -moz-transform: rotate(180deg); /* Firefox */
          -webkit-transform: rotate(180deg); /* Safari 和 Chrome */
          -o-transform: rotate(180deg); /* Opera */

        }
      }
      .type1 {
        display: flex;
        justify-content: space-between;
        margin-bottom: 6px;
        .typeHeader {
          width: 90px;
          font-size: 14px;
          font-family: "Microsoft Yahei", "simsun", "arial", "tahoma";
          font-weight: bold;
          color: rgba(51, 51, 51, 1);
          line-height: 36px;
          display: flex;
          justify-content: space-between;
          .spaceBetween {
            /*display: block;*/
            width: 76px;
            float: left;
            text-align: justify;
            text-justify: distribute-all-lines;
            height: 36px;
            line-height: 36px;
          }
          .spaceBetween:after {
            content: '.';
            width: 100%;
            display: inline-block;
            overflow: hidden;
            height: 0;
          }

        }
        .typeBody {
          width: 1026px;
          height: auto;
          overflow: hidden;
          display: block;
          font-size: 14px;
          font-family: "Microsoft Yahei", "simsun", "arial", "tahoma";
          font-weight: 400;
          color: rgba(85, 85, 85, 1);
          line-height: 36px;
          ul {
            li {
              float: left;
              display: block;
              margin-right: 20px;
              cursor: pointer;
              .typeImg {
                width: 10px;
                height: 6px;
                margin: 0px;
                padding: 0;
                img {
                  width: 10px;
                  height: 6px;
                }
              }
              .inverted {
                transform: rotate(180deg);
                -ms-transform: rotate(180deg); /* Internet Explorer */
                -moz-transform: rotate(180deg); /* Firefox */
                -webkit-transform: rotate(180deg); /* Safari 和 Chrome */
                -o-transform: rotate(180deg); /* Opera */

              }
            }

          }
        }
      }
      .typeC {
        width: 1058px;
        background: rgba(247, 249, 252, 1);
        overflow: hidden;
        margin-left: 78px;
        padding: 5px 0 15px;
        margin-bottom: 10px;
        ul {
          li {
            padding: 6px 12px;
            line-height: 14px;
            font-size: 14px;
            color: #545454;
            float: left;
            display: block;
            margin: 10px 10px 0;
            cursor: pointer;
          }
          .checkChild {
            background: #3279FF;
            color: #fff;

          }
        }
      }
      /*高级搜索*/
      .advSearch {
        padding-top: 30px;
        padding-bottom: 30px;
        background: aliceblue;
        ul {
          display: block;
          width: 100%;
          overflow: hidden;
          padding-bottom: 20px;
          li {
            height: 40px;
            line-height: 40px;
            float: left;
            padding-bottom: 15px;
            span {
              width: 100px;
              float: left;
              display: block;
              text-align: right;
              font-size: 14px;
              font-family: "Microsoft Yahei", "simsun", "arial", "tahoma";
              color: #333333;
            }
            input {
              width: 250px;
              height: 40px;
              line-height: 40px;
              border: 1px solid #DCDFE6;
              border-radius: 4px;
              padding: 0 8px;
            }
            input::-ms-clear {
              display: none;
            }
            input::-ms-reveal {
              display: none;
            }
            .advPrice {
              width: 350px;
              display: flex;
              justify-content: space-between;
              input {
                float: left;
                display: block;
                height: 40px;
                width: 134px;
              }
              input::-ms-clear {
                display: none;
              }
              input::-ms-reveal {
                display: none;
              }
              input::-webkit-outer-spin-button,
              input::-webkit-inner-spin-button {
                -webkit-appearance: none;
              }
              input[type="number"] {
                -moz-appearance: textfield;
              }
              h3{
                font-size: 14px;
                font-weight: normal;
              }
            }
          }
        }
        .advSearchButton {
          width: 230px;
          margin: 0 auto;
          display: flex;
          justify-content: space-between;
          span {
            width: 90px;
            height: 30px;
            line-height: 30px;
            text-align: center;
            cursor: pointer;
            display: block;
            background: #3279FF;
            color: #fff;
          }
        }
      }

    }
    /*全部*/
    .searchList {
      width: 1200px;
      height: auto;
      overflow: hidden;
      margin: 0px auto 30px;
      background: rgba(255, 255, 255, 1);
      box-shadow: 0px 2px 8px 0px rgba(1, 2, 2, 0.06);
      .itemhover {
        box-shadow: 0px 2px 8px 0px rgba(1, 2, 2, 0.1);
        .listTextHover {
          width: 230px;
          height: 170px;
          overflow: hidden;
          box-shadow: 0px 2px 8px 0px rgba(170, 170, 170, 0.49);
          display: block;
        }
        .isJurisdiction {
          position: absolute;
          width: 100%;
          height: 100%;
          background: rgba(0, 0, 0, 0.2);
          top: 0;
          left: 0;
          z-index: 11;
          display: flex;
          align-items: center;
          justify-content: center;
          flex-direction: column;
          span {
            width: 94px;
            height: 24px;
            border-radius: 12px;
            font-size: 14px;
            font-family: "Microsoft Yahei", "simsun", "arial", "tahoma";
            font-weight: 400;
            color: rgba(255, 255, 255, 1);
            line-height: 24px;
            display: block;
            text-align: center;
            margin: 5px 0;
          }
          span:nth-child(1) {
            background: rgba(58, 205, 213, 1);
          }
          span:nth-child(2) {
            background: rgba(111, 178, 255, 1);
          }
          span:nth-child(3) {
            background: rgba(225, 184, 125, 1);
          }
        }
        a {
          color: #3279FF;
        }
      }
      li:hover {
        cursor: pointer;
        .itemhover
      }
      ul {
        overflow: hidden;
        margin: 19px 15px 29px 15px;
        padding-top: 10px;
        li {
          width: 230px;
          height: 305px;
          float: left;
          display: block;
          padding: 35px 28px 0;
          margin: 0px 3px 9px 3px;
          .isJurisdiction {
            display: none
          }
          .listImg {
            width: 230px;
            height: 170px;
            cursor: pointer;
            position: relative;

            .listText {
              width: 230px;
              height: 170px;
              overflow: hidden;
              background: #e3eefd;
              display: flex;
              justify-content: center;
              align-items: center;

              img {
                max-width: 210px;
                max-height: 150px;
              }
            }
            .other {
              img {
                width: 120px;
                height: 89px;
              }
            }

            h1 {
              position: absolute;
              font-size:14px;
              font-weight: normal;
              right: 0;
              top: 0;
              width: auto;
              padding: 0 10px;
              height: 24px;
              background: rgba(43, 203, 115, 1);
              text-align: center;
              color: #fff;
              line-height: 24px;
            }
          }
          .listTitle {
            h1 {
              margin-top: 20px;
              height: 45px;
              font-size: 16px;
              font-family: "Microsoft Yahei", "simsun", "arial", "tahoma";
              font-weight: 400;
              color: rgba(51, 51, 51, 1);
              line-height: 30px;
              overflow: hidden;
              text-overflow: ellipsis;
              white-space: nowrap;
              cursor: pointer;
            }
            h2 {
              font-size: 14px;
              font-family: "Microsoft Yahei", "simsun", "arial", "tahoma";
              font-weight: 400;
              color: rgba(102, 102, 102, 1);
              line-height: 26px;
              overflow: hidden;
              text-overflow: ellipsis;
              white-space: nowrap;
            }
            .listTitleLast {
              width: 100%;
              display: flex;
              justify-content: space-between;
              font-size: 14px;
              font-family: "Microsoft Yahei", "simsun", "arial", "tahoma";
              font-weight: 400;
              color: rgba(153, 153, 153, 1);
              line-height: 26px;
            }
          }
        }

      }

    }

    /*技工 职业 教学*/

    .materiaTypeAll {
      width: 1200px;
      height: auto;
      padding-bottom: 44px;
      background: rgba(255, 255, 255, 1);
      box-shadow: 0px 2px 8px 0px rgba(1, 2, 2, 0.06);
      margin: 0 auto 30px;
      overflow: hidden;
      .materiaTypeTwo {
        width: 1200px;
        background: #F9F9F9;
        height: 50px;
        font-size: 14px;
        overflow: hidden;

        .typeTwolf {
          width: 680px;
          padding-left: 20px;
          .typeHeader {
            width: 90px;
            color: #333;
            line-height: 50px;
            display: flex;
            justify-content: space-between;
            .spaceBetween {
              display: block;
              width: 76px;
              float: left;
              text-align: justify;
              text-justify: distribute-all-lines;
              height: 50px;
              line-height: 50px;
            }
            .spaceBetween:after {
              content: '.';
              width: 100%;
              display: inline-block;
              overflow: hidden;
              height: 0;
            }
          }
          .materiaSort {
            margin-top: 11px;
            height: 50px;
            li {
              float: left;
              display: block;
              padding: 3px 15px;
              margin-right: 10px;
              overflow: hidden;
              cursor: pointer;
              span {
                padding-right: 3px;
              }
              .modebottom {
                transform: rotate(180deg);
                -ms-transform: rotate(180deg); /* Internet Explorer */
                -moz-transform: rotate(180deg); /* Firefox */
                -webkit-transform: rotate(180deg); /* Safari 和 Chrome */
                -o-transform: rotate(180deg); /* Opera */
              }

            }
            .checktypeTwolf {
              background: #3279FF;
              color: #fff;
            }
          }
          .materiaScreen {
            margin-top: 13px;
            li {
              float: left;
              display: block;
              margin-right: 35px;
              overflow: hidden;
              cursor: pointer;
              img {
                float: left;
                display: block;
                margin-top: 4px;
              }
              span {
                padding-left: 4px;
              }
            }
            .checktypeTwolf {
              background: #3279FF;
              color: #fff;
            }
          }
        }
        .typeTwort {
          width: 390px;
          display: flex;
          justify-content: space-between;
          line-height: 50px;
          color: #9B9B9B;
          ul {
            li {
              float: left;
              display: block;
              margin: 0 20px 0 4px;
              font-size: 14px;
              font-family: "Microsoft Yahei", "simsun", "arial", "tahoma";
              font-weight: 400;
              color: #666666;
              cursor: pointer;
              img {
                width: 16px;
                height: 16px;
                margin-top: 17px;
                float: left;
                display: block;
                margin-right: 4px;
              }
            }
            .checkItem {
              color: #3279FF;
            }
          }
        }

      }
      .borderbottom {
        border-bottom: 1px solid #ECECEC;
      }

      /*列表展示*/
      .materiaTypeThr {
        .Matrix {
          padding: 0px 36px;
          li {
            width: 1124px;
            padding: 30px 0;
            display: flex;
            justify-content: space-between;
            border-bottom: 1px solid #EEEEEE;
            cursor: pointer;
            .MbookImg {
              width: 120px;
              height: 160px;
              background: rgba(211, 211, 211, 1);
              box-shadow: -1px 3px 6px 0px rgba(170, 170, 170, 0.38);
              img {
                width: 120px;
                height: 160px;
              }
            }
            .MbookCont {
              width: 859px;
              h1 {
                height: 39px;
                font-size: 18px;
                font-family: "Microsoft Yahei", "simsun", "arial", "tahoma";
                font-weight: 400;
                color: rgba(51, 51, 51, 1);
                line-height: 19px;
              }
              .MbookContO {
                height: 32px;
                font-size: 14px;
                font-family: "Microsoft Yahei", "simsun", "arial", "tahoma";
                font-weight: 400;
                color: rgba(153, 153, 153, 1);
                line-height: 14px;

              }
              p {
                width: 784px;
                height: 66px;
                font-size: 14px;
                font-family: "Microsoft Yahei", "simsun", "arial", "tahoma";
                font-weight: 400;
                color: rgba(102, 102, 102, 1);
                line-height: 24px;
              }
              .price {
                height: 12px;
                font-size: 16px;
                font-family: "Microsoft Yahei", "simsun", "arial", "tahoma";
                font-weight: 400;
                color: rgba(244, 77, 74, 1);
                line-height: 24px;
              }
            }
            .Mbtns {
              margin-right: 10px;
              width: 94px;
              margin-top: 23px;
              overflow: hidden;
              .bg1, .bg2, .bg3 {
                height: 24px;
                line-height: 24px;
                border-radius: 12px;
                width: 94px;
                color: #fff;
                font-size: 14px;
                font-family: "Microsoft Yahei", "simsun", "arial", "tahoma";
                font-weight: 400;
                text-align: center;
                cursor: pointer;
                margin-bottom: 10px;
              }
              .bg1 {
                background: #3ACDD6;
              }
              .bg2 {
                background: #6FB2FF;
              }
              .bg3 {
                background: #E1B87D;
              }
            }
          }
        }
        /*矩阵形式*/
        .List {
          overflow: hidden;
          margin: 29px 0px 29px 20px;
          li {
            width: 218px;
            height: 405px;
            float: left;
            display: block;
            padding: 35px 33px 0;
            margin: 3px 3px 9px 3px;
            .listImg {
              width: 150px;
              height: 200px;
              left: 35px;
              cursor: pointer;
              position: relative;
              .isJurisdiction {
                display: none
              }
              .listText {
                width: 150px;
                height: 200px;
                overflow: hidden;
                background: #e3eefd;
                display: flex;
                justify-content: center;
                align-items: center;
                img {
                  max-width: 150px;
                  max-height: 200px;
                }
              }

              h1 {
                position: absolute;
                right: 0;
                bottom: 0;
                width: 150px;
                height: 25px;
                background: rgba(0, 0, 0, 1);
                opacity: 0.7;
                font-size: 14px;
                font-family: "Microsoft Yahei", "simsun", "arial", "tahoma";
                font-weight: 400;
                color: rgba(255, 255, 255, 1);
                line-height: 26px;
                text-align: center;
              }
            }
            .listTitle {

              h1 {
                margin-top: 20px;
                height: 40px;
                font-size: 16px;
                font-family: "Microsoft Yahei", "simsun", "arial", "tahoma";
                font-weight: 400;
                color: rgba(51, 51, 51, 1);
                line-height: 30px;
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;
                cursor: pointer;
              }
              p {
                font-size: 14px;
                font-family: "Microsoft Yahei", "simsun", "arial", "tahoma";
                font-weight: 400;
                color: rgba(102, 102, 102, 1);
                line-height: 28px;
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;
                cursor: pointer;
              }
              .listTitleLast {
                padding-top: 10px;
                width: 100%;
                color: #F44D4A;
                line-height: 26px;
              }
            }
          }
          .itemhover {
            box-shadow: 0px 2px 8px 0px rgba(1, 2, 2, 0.1);
            .listTextHover {
              width: 150px;
              height: 200px;
              overflow: hidden;
              box-shadow: 0px 2px 8px 0px rgba(170, 170, 170, 0.49);
            }
            .isJurisdiction {
              position: absolute;
              width: 100%;
              height: 100%;
              background: rgba(0, 0, 0, 0.2);
              top: 0;
              left: 0;
              z-index: 11;
              display: flex;
              align-items: center;
              justify-content: center;
              flex-direction: column;
              span {
                width: 94px;
                height: 24px;
                border-radius: 12px;
                font-size: 14px;
                font-family: "Microsoft Yahei", "simsun", "arial", "tahoma";
                font-weight: 400;
                color: rgba(255, 255, 255, 1);
                line-height: 24px;
                display: block;
                text-align: center;
                margin: 5px 0;
              }
              span:nth-child(1) {
                background: rgba(58, 205, 213, 1);
              }
              span:nth-child(2) {
                background: rgba(111, 178, 255, 1);
              }
              span:nth-child(3) {
                background: rgba(225, 184, 125, 1);
              }
            }
            a {
              color: #3279FF;
            }
          }
          li:hover {
            cursor: pointer;
            .itemhover
          }
        }

      }

    }
    .teachingTypeAll {
      width: 1200px;
      height: auto;
      padding-bottom: 44px;
      background: rgba(255, 255, 255, 1);
      box-shadow: 0px 2px 8px 0px rgba(1, 2, 2, 0.06);
      margin: 0 auto 30px;
      .materiaTypeTwo {
        width: 1200px;
        background: #F9F9F9;
        height: 50px;
        font-size: 14px;

        .typeTwolf {
          width: 680px;
          padding-left: 20px;
          .typeHeader {
            width: 90px;
            color: #333;
            line-height: 50px;
            .spaceBetween {
              /*display: block;*/
              width: 76px;
              float: left;
              text-align: justify;
              text-justify: distribute-all-lines;
              height: 50px;
              line-height: 50px;
            }
            .spaceBetween:after {
              content: '.';
              width: 100%;
              display: inline-block;
              overflow: hidden;
              height: 0;
            }
          }
          .materiaSort {
            margin-top: 11px;
            li {
              float: left;
              display: block;
              padding: 3px 15px;
              margin-right: 10px;
              overflow: hidden;
              cursor: pointer;
              span {
                padding-right: 3px;
              }
              .modebottom {
                transform: rotate(180deg);
                -ms-transform: rotate(180deg); /* Internet Explorer */
                -moz-transform: rotate(180deg); /* Firefox */
                -webkit-transform: rotate(180deg); /* Safari 和 Chrome */
                -o-transform: rotate(180deg); /* Opera */
              }
            }
            .checktypeTwolf {
              background: #3279FF;
              color: #fff;
            }
          }
          .materiaScreen {
            margin-top: 13px;
            li {
              float: left;
              display: block;
              margin-right: 35px;
              overflow: hidden;

              img {
                float: left;
                display: block;
                margin-top: 4px;
              }
              span {
                padding-left: 4px;
              }
            }
            .checktypeTwolf {
              background: #3279FF;
              color: #fff;
            }
          }
        }
        .typeTwort {
          margin-right: 20px;
          display: flex;
          justify-content: space-between;
          line-height: 50px;
          color: #9B9B9B;
          ul {
            li {
              float: left;
              display: block;
              margin: 0 20px 0 4px;
              font-size: 14px;
              font-family: "Microsoft Yahei", "simsun", "arial", "tahoma";
              font-weight: 400;
              color: #666666;
              img {
                width: 16px;
                height: 16px;
                margin-top: 17px;
                float: left;
                display: block;
                margin-right: 4px;
              }
            }
            .checkItem {
              color: #3279FF;
            }
          }
        }

      }

      /*列表展示*/
      .teachingTypeThr {
        /*列表形式*/
        .itemhover {
          box-shadow: 0px 2px 8px 0px rgba(1, 2, 2, 0.1);
          .listTextHover {
            width: 230px;
            height: 170px;
            overflow: hidden;
            box-shadow: 0px 2px 8px 0px rgba(170, 170, 170, 0.49);
            display: block;
          }
          .isJurisdiction {
            position: absolute;
            width: 100%;
            height: 100%;
            background: rgba(0, 0, 0, 0.2);
            top: 0;
            left: 0;
            z-index: 11;
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            span {
              width: 94px;
              height: 24px;
              border-radius: 12px;
              font-size: 14px;
              font-family: "Microsoft Yahei", "simsun", "arial", "tahoma";
              font-weight: 400;
              color: rgba(255, 255, 255, 1);
              line-height: 24px;
              display: block;
              text-align: center;
              margin: 5px 0;
            }
            span:nth-child(1) {
              background: rgba(58, 205, 213, 1);
            }
            span:nth-child(2) {
              background: rgba(111, 178, 255, 1);
            }
            span:nth-child(3) {
              background: rgba(225, 184, 125, 1);
            }
          }
          a {
            color: #3279FF;
          }
        }
        li:hover {
          cursor: pointer;
          .itemhover
        }
        ul {
          overflow: hidden;
          margin: 19px 15px 29px 15px;
          padding-top: 10px;
          li {
            width: 230px;
            height: 305px;
            float: left;
            display: block;
            padding: 35px 28px 0;
            margin: 0px 3px 9px 3px;
            .isJurisdiction {
              display: none
            }
            .listImg {
              width: 230px;
              height: 170px;
              cursor: pointer;
              position: relative;

              .listText {
                width: 230px;
                height: 170px;
                overflow: hidden;
                background: #e3eefd;
                display: flex;
                justify-content: center;
                align-items: center;

                .img1 {
                  max-width: 210px;
                  max-height: 150px;
                }
                .img2 {
                  max-width: 160px;
                  max-height: 112px;
                }
              }
              .other {
                img {
                  width: 120px;
                  height: 89px;
                }
              }

              h1 {
                position: absolute;
                right: 0;
                top: 0;
                width: auto;
                padding: 0 10px;
                height: 24px;
                background: rgba(43, 203, 115, 1);
                text-align: center;
                color: #fff;
                line-height: 24px;
                font-size:14px;
                font-weight: normal;

              }
            }
            .listTitle {
              h1 {
                margin-top: 20px;
                height: 45px;
                font-size: 16px;
                font-family: "Microsoft Yahei", "simsun", "arial", "tahoma";
                font-weight: 400;
                color: rgba(51, 51, 51, 1);
                line-height: 30px;
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;
                cursor: pointer;
              }
              h2 {
                font-size: 14px;
                font-family: "Microsoft Yahei", "simsun", "arial", "tahoma";
                font-weight: 400;
                color: rgba(102, 102, 102, 1);
                line-height: 26px;
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;
              }
              .listTitleLast {
                width: 100%;
                display: flex;
                justify-content: space-between;
                font-size: 14px;
                font-family: "Microsoft Yahei", "simsun", "arial", "tahoma";
                font-weight: 400;
                color: rgba(153, 153, 153, 1);
                line-height: 26px;
              }
            }
          }

        }

      }

    }

  }
</style>
