<template>
  <!--资源检索-->
  <div class="resourceSearch">
    <ComHeader></ComHeader>
    <div class="searchCont">
      <ul>
        <li>资源类型：</li>
        <li>
          <router-link to="/">全部</router-link>
        </li>
        <li>
          <router-link to="/">技工教育教材</router-link>
        </li>
        <li>
          <router-link to="/">职业培训教材</router-link>
        </li>
        <li>
          <router-link to="/">教学资源</router-link>
        </li>
      </ul>
    </div>

    <LoginFooter></LoginFooter>

  </div>
</template>

<script>

  export default {
    name: 'resourceSearch',
    data() {
      return {}
    },

    created() {

    },
  }
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped lang="less">

  .resourceSearch {
    background: #F9F9F9;
    height: 100%;
    width: auto;
    .searchCont {
      width: 1200px;
      height: 64px;
      line-height: 64px;
      margin: 0 auto 12px;
      background: rgba(255, 255, 255, 1);
      box-shadow: 0px 2px 8px 0px rgba(1, 2, 2, 0.06);
      border-top: 3px solid #3279FF;
      ul {
        li {
          float: left;
          display: block;
          font-size: 14px;
          margin: 0 8px 0 20px;
          a {
            color: #555555;
          }
          a:hover {
            color: #3279FF;
            font-weight: bold;
          }
        }
        li:first-child {
          font-size: 14px;
          font-family: MicrosoftYaHei-Bold;
          font-weight: bold;
          color: rgba(51, 51, 51, 1);
        }
      }
    }
    .searchList {
      width: 1200px;
      height: auto;
      overflow: hidden;
      margin: 0 auto 30px;
      background: rgba(255, 255, 255, 1);
      box-shadow: 0px 2px 8px 0px rgba(1, 2, 2, 0.06);
      .itemhover {
        box-shadow: 0px 2px 8px 0px rgba(1, 2, 2, 0.1);
        .listTextHover{
          width:230px;
          height:170px;
          overflow: hidden;
          box-shadow:0px 2px 8px 0px rgba(170,170,170,0.49);
        }
        a{
          color: #3279FF;
        }
      }
      ul {
        overflow: hidden;
        margin: 29px 15px;
        li {
          width: 230px;
          height: 305px;
          float: left;
          display: block;
          padding: 35px 28px 0;
          margin: 0px 3px  9px 3px;
          .listImg {
            width: 230px;
            height: 170px;
            position: relative;
            .listText{
              width:230px;
              height:170px;
              overflow: hidden;
              background:rgba(227,238,253,1);
              display: flex;
              justify-content: center;
              align-items: center;
            }
            .other{
              img{
                width: 120px;
                height: 89px;
              }
            }

            h1 {
              position: absolute;
              right: 0;
              top: 0;
              width: 50px;
              height: 24px;
              background: rgba(43, 203, 115, 1);
              text-align: center;
              color: #fff;
              line-height: 24px;
            }
          }
          .listTitle {
            h1 {
              margin-top: 20px;
              height: 45px;
              font-size: 16px;
              font-family: MicrosoftYaHei;
              font-weight: 400;
              color: rgba(51, 51, 51, 1);
              line-height: 30px;
            }
            h2 {
              font-size: 14px;
              font-family: MicrosoftYaHei;
              font-weight: 400;
              color: rgba(102, 102, 102, 1);
              line-height: 26px;
            }
            .listTitleLast {
              width: 100%;
              display: flex;
              justify-content: space-between;
              font-size: 14px;
              font-family: ArialMT;
              font-weight: 400;
              color: rgba(153, 153, 153, 1);
              line-height: 26px;
            }
          }
        }

      }

    }

  }
</style>
