<template>
  <!--资源默认页面-->
  <div class="searchDefault">
    <ComHeader></ComHeader>
    <div class="searchCont">
      <ul>
        <li>资源类型：</li>
        <li>
          <router-link :to="{path:'/materialType'}">全部</router-link>
        </li> <!--class="curItem"-->
        <li v-for="(item,index) in diytypeList" :key="index" @click="curIndex=index"  v-if="item.showName!='职业能力提升'">
          <router-link :to="{path:'/materialType',query:{type:item.id,typeZh:item.showName}}">{{item.showName}}
          </router-link>
        </li>
      </ul>
    </div>


    <div class="searchDefaultBan">
      <div id="picBox" class="picBox yiyin02">
        <!--<el-carousel height="150px">
          <el-carousel-item v-for="item in 4" :key="item">
            <h3 class="small">{{ item }}</h3>
          </el-carousel-item>
        </el-carousel>-->
        <div v-if="imgList==null" class="loading">
          <img src="../../../static/img/loading.gif" alt="">
        </div>
        <ul id="show_pic" class="show_pic" :style="'left: -' + 1200 * actIndex + 'px'" v-if="imgList!=null">
          <li v-for="(item,index) in imgList" :key="index" class="swiperItem" @click="allHref(item)">
            <img :src="imgUrl(item.picture)">
          </li>
        </ul>
        <div class="picBoxTitDesc">
          <ul>
            <li v-for="(val,index1) in imgList" :key="index1" :class="actIndex==index1?'curIndex':''"
                @click="clickItem(index1)"></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="searchDefaultList">

      <div class="searchDefaultTit">
        <span></span>推荐图书
      </div>
      <div class="loadingCss" v-if="isLoadingTwo">
        <img src="../../../static/img/loading.gif" alt="">
      </div>
      <ul  v-if="recommendBook.length>0&&!isLoadingTwo">
        <li v-for="(val,ind) in recommendBook" :key="ind" @click="linkHref(val)">
          <div class="listImg">
            <div class="listText listTextHover">
              <img :src="filterImg(val)" alt=""  :onerror="errorGoodsImg">
            </div>
            <div class="isJurisdiction"
                 v-if="val.type&&val.type.indexOf('1-')>=0&&(val.isHaveBinding==1||val.applyStatus==1||val.isTrialReading==1)">
              <span v-if="val.isHaveBinding==1">有配套资源</span>
              <span v-if="val.applyStatus==1&&$store.getters.userType != 'supervise'">可申请样书</span>
              <span v-if="val.isTrialReading==1">可试读</span>
            </div>
            <h1 v-if="val.publishTime">{{filterTime(val.publishTime)}} 出版</h1>
          </div>
          <div class="listTitle">
            <h1>
              {{val.name}}
            </h1>
            <p>作者: {{val.author}}  </p>
            <p>ISBN: {{val.isbn}}</p>
            <p>出版社: {{val.publisher}}</p>
            <div class="listTitleLast"><span>￥{{filterPrice(val.price)}}</span></div>
          </div>
        </li>
      </ul>
      <div class="nohaveCss" v-if="recommendBook.length==0&&!isLoadingTwo"><img src="../../../static/img/noHave.jpg" alt=""></div>


      <div class="searchDefaultTit">
        <span></span>最新图书
      </div>
      <div class="loadingCss" v-if="isLoading">
        <img src="../../../static/img/loading.gif" alt="">
      </div>
      <ul v-if="newList.length>0&&!isLoading">
        <li v-for="(item,index) in newList" :key="index" @click="linkHref(item)">
          <div class="listImg">
            <div class="listText listTextHover">
              <img :src="filterImg(item)" alt="" @error="'../../../static/img/imgHeight.png'">
            </div>
            <div class="isJurisdiction"
                 v-if="item.type&&item.type.indexOf('1-')>=0&&(item.isHaveBinding==1||item.applyStatus==1||item.isTrialReading==1)">
              <span v-if="item.isHaveBinding==1">有配套资源</span>
              <span v-if="item.applyStatus==1&&$store.getters.userType != 'supervise'">可申请样书</span>
              <span v-if="item.isTrialReading==1">可试读</span>
            </div>
            <h1 v-if="item.publishTime">{{filterTime(item.publishTime)}} 出版</h1>
          </div>
          <div class="listTitle">
            <h1>
              <a :title="item.name">
                {{item.name}}
              </a>
            </h1>
            <p>作者: {{item.author}}  </p>
            <p>ISBN: {{item.isbn}}</p>
            <p>出版社: {{item.publisher}}</p>
            <div class="listTitleLast"><span>￥{{filterPrice(item.price)}}</span></div>
          </div>
        </li>
      </ul>
      <div class="nohaveCss" v-if="newList.length==0&&!isLoading"><img src="../../../static/img/noHave.jpg" alt=""></div>

    </div>
    <LoginFooter></LoginFooter>

  </div>
</template>

<script>
  import {getApictureAPI, getresourceAPI, getrecommendAPI, getdiytypeAPI} from "@/api/resources.js";
  import img1 from "@/assets/img/banner1.png";
  import img2 from "@/assets/img/banner.png";
import {baseUrl} from '@/utils/global.js'
  export default {
    name: 'resourceSearch',
    data() {
      return {
        baseUrl:baseUrl,
        imgList: null,
        actIndex: 0,
        resourceType: [{name: '全部', url: '/materialType'}, {
          name: '技工教育教材',
          url: '/materialType?type=1-1'
        }, {name: '职业培训教材', url: '/materialType?type=1-2'}, {name: '教学资源', url: '/materialType?type=1-3'}],
        newList: [],
        isLoading: true,
        isLoadingTwo: true,
        recommendBook: [],
        diytypeList: [],
        /*'this.src="' + require('../../assets/img/timg.jpg') + '"'*/
        errorGoodsImg:/*"this.src='../../../static/img/imgHeight.png'"*/'this.src="' + require('../../../static/img/imgHeight.png') + '"',
      }
    },

    created() {
      this.getdiytype();
      this.getApicture();

    },
    watch:{
      $route() {
        this.getdiytype();
      },
    },
    mounted() {

      this.getresource();
    },
    methods: {
      /*轮播图数据*/
      getApicture() {
        getApictureAPI({
          signValue: 'Res_SlideShow',
          num: 4
        }).then(res => {
          if (res.data.status) {
            this.imgList = res.data.data;
            this.autoplay();
          }

        })
      },
      // 自动轮播
      autoplay(clearTimer) {
        if (this.imgList.length == 1) return;
        var timer = setInterval(() => {
          this.actIndex++;
          if (this.actIndex > this.imgList.length - 1) {
            this.actIndex = 0;
          }
        }, 5000)
        // 停止自动轮播
        document.getElementById('picBox').onmouseover = () => {
          clearInterval(timer)
        }
        document.getElementById('picBox').onmouseout = () => {
          timer = setInterval((maxL) => {
            this.actIndex++;
            if (this.actIndex > this.imgList.length - 1) {
              this.actIndex = 0;
            }
          }, 5000)
        }
        if (clearTimer) {
          clearInterval(timer)
        }
      },
      /*点击轮播*/
      clickItem(index) {
        this.actIndex = index;
      },
      /*最新商品数据*/
      getresource() {
        getresourceAPI({
          num: 8
        }).then(res => {
          if (res.data.status) {
            this.isLoading=false;
            this.newList = res.data.data;
            this.getrecommend();
          }
        })
      },
      /*推荐图书*/
      getrecommend() {
        getrecommendAPI({
          num: 8,
        }).then(res => {
          if (res.data.status) {
            this.isLoadingTwo=false;
            this.recommendBook = res.data.data;
          }
        })
      },
      /*获取分类子分类*/
      getdiytype() {
        getdiytypeAPI(/*{
          term:this.resourcesType,
        }*/).then(res => {
          if (res.data.status) {
            this.diytypeList = res.data.data;

          }
        })
      },
      /*跳转详情*/
      linkHref(item) {
        if (item.type.indexOf('1-') >= 0) {
          if (item.isHaveBinding == 0) {
            let routeUrl = this.$router.resolve({
              path: "/resources/vocation",
              query: {id:item.id}
            });
            window.open(routeUrl.href, '_blank');
            /*this.$router.push({
              path: '/resources/vocation',
              query: {id: item.id}
            })*/

          } else {
            let routeUrl = this.$router.resolve({
              path: "/resources/info",
              query: {id:item.id}
            });
            window.open(routeUrl .href, '_blank');
            /*this.$router.push({
              path: '/resources/info',
              query: {id: item.id}
            })*/
          }

        } else {
          let routeUrl = this.$router.resolve({
            path: "/resources/teaching",
            query: {id:item.id}
          });
          window.open(routeUrl .href, '_blank');

          /*this.$router.push({
            path: '/resources/teaching',
            query: {id: item.id}
          })*/

        }

      },
      /*广告位链接*/
      allHref(item){
        window.open(item.url, "_blank")
      },
    },
    watch: {
      curIndex() {
      },
    },
  }
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped lang="less">

  .searchDefault {
    background: #f4f5f9;
    height: 100%;
    width: auto;
    .searchCont {
      width: 1200px;
      height: 64px;
      line-height: 64px;
      margin: 0 auto 12px;
      background: rgba(255, 255, 255, 1);
      box-shadow: 0px 2px 8px 0px rgba(1, 2, 2, 0.06);
      border-top: 3px solid #3279FF;
      ul {
        li {
          float: left;
          display: block;
          font-size: 14px;
          margin: 0 8px 0 20px;
          cursor: pointer;
          a {
            color: #555555;
          }
          a:hover {
            color: #3279FF;
            font-weight: bold;
          }

        }
        li:first-child {
          font-size: 14px;
          font-family: 'Microsoft YaHei';
          font-weight: bold;
          color: rgba(51, 51, 51, 1);
        }
        li.curItem {
          color: #3279FF;
          font-weight: bold;
        }
      }
    }

    .searchDefaultBan {
      width: 1200px;
      height: 308px;
      margin: 0 auto 12px;
      box-shadow: 0px 2px 8px 0px rgba(1, 2, 2, 0.06);
      overflow: hidden;
      position: relative;
      background: #fff;
      .picBox {
        width: 1200px;
        height: 308px;
        overflow: hidden;

        .show_pic {
          transition: 0.7s linear;
          margin: 0;
          padding: 0;
          width: 10000px;
          height: 308px;
          position: absolute;
          float: left;
          .swiperItem {
            float: left;
            width: 1200px;
            height: 308px;
            position: relative;
          }
          img {
            width: 1200px;
            height: 308px;
            cursor: pointer;

          }
          .picBoxTit {
            position: absolute;
            bottom: 0;
            left: 0;
            width: 1200px;
            height: 54px;
            line-height: 54px;
            background: rgba(0, 0, 0, 1);
            opacity: 0.7;
            color: #fff;
            span {
              padding-left: 20px;
              font-size: 16px;
              font-family: 'Microsoft YaHei';
              font-weight: 400;
            }

          }
        }
      }

      .picBoxTitDesc {
        position: absolute;
        right: 10px;
        bottom: 22px;
        ul {
          li {
            float: left;
            width: 10px;
            height: 10px;
            border-radius: 50%;
            background: rgba(255, 255, 255, 1);
            opacity: 0.3;
            border-radius: 50%;
            margin-right: 10px;
          }
          .curIndex {
            width: 10px;
            height: 10px;
            border-radius: 50%;
            background: rgba(255, 255, 255, 1);
            opacity: 0.7;
            border-radius: 50%;
          }
        }
      }
    }
    .searchDefaultList {
      width: 1200px;
      height: auto;
      overflow: hidden;
      margin: 0 auto 30px;
      background: rgba(255, 255, 255, 1);
      box-shadow: 0px 2px 8px 0px rgba(1, 2, 2, 0.06);
      .searchDefaultTit {
        width: 1160px;
        border-bottom: 1px solid #E5E5E5;
        font-size: 20px;
        font-family: 'Microsoft YaHei';
        font-weight: bold;
        color: rgba(51, 51, 51, 1);
        line-height: 20px;
        padding-bottom: 29px;
        margin: 30px 20px 0 20px;
        span {
          width: 5px;
          height: 19px;
          margin-top: 1px;
          margin-right: 8px;
          background: rgba(50, 121, 255, 1);
          border-radius: 3px;
          float: left;
          display: block;

        }
      }
      .itemhover {
        box-shadow: 0px 2px 8px 0px rgba(1, 2, 2, 0.1);
        .listTextHover {
          width: 150px;
          height: 200px;
          overflow: hidden;
          box-shadow: 0px 2px 8px 0px rgba(170, 170, 170, 0.49);
          img {
            width: 150px;
            height: 200px;
          }
        }
        .isJurisdiction {
          position: absolute;
          width: 100%;
          height: 100%;
          background: rgba(0, 0, 0, 0.2);
          top: 0;
          left: 0;
          z-index: 11;
          display: flex;
          align-items: center;
          justify-content: center;
          flex-direction: column;
          span {
            width: 94px;
            height: 24px;
            border-radius: 12px;
            font-size: 14px;
            font-family: 'Microsoft YaHei';
            font-weight: 400;
            color: rgba(255, 255, 255, 1);
            line-height: 24px;
            display: block;
            text-align: center;
            margin: 5px 0;
          }
          span:nth-child(1) {
            background: rgba(58, 205, 213, 1);
          }
          span:nth-child(2) {
            background: rgba(111, 178, 255, 1);
          }
          span:nth-child(3) {
            background: rgba(225, 184, 125, 1);
          }
        }
        a {
          color: #3279FF;
        }
      }
      ul {
        overflow: hidden;
        margin: 29px 15px;
        li {
          width: 220px;
          height: 405px;
          float: left;
          display: block;
          padding: 35px 33px 0;
          margin: 3px 3px 9px 3px;
          cursor: pointer;
          .isJurisdiction {
            display: none
          }
          .listImg {
            width: 150px;
            height: 200px;
            left: 35px;
            position: relative;
            .listText {
              width: 150px;
              height: 200px;
              overflow: hidden;
              background: rgba(227, 238, 253, 1);
              display: flex;
              justify-content: center;
              align-items: center;
              a {
                width: 150px;
                height: 200px;
              }
              img {
                width: 150px;
                height: 200px;
              }
            }

            h1 {
              position: absolute;
              right: 0;
              bottom: 0;
              width: 150px;
              height: 25px;
              background: rgba(0, 0, 0, 1);
              opacity: 0.7;
              font-size: 14px;
              font-family: 'Microsoft YaHei';
              font-weight: 400;
              color: rgba(255, 255, 255, 1);
              line-height: 26px;
              text-align: center;
            }
          }
          .listTitle {
            h1 {
              margin-top: 20px;
              height: 40px;
              font-size: 16px;
              font-family: 'Microsoft YaHei';
              font-weight: 400;
              color: rgba(51, 51, 51, 1);
              line-height: 30px;
              overflow: hidden;
              text-overflow: ellipsis;
              white-space: nowrap;
            }
            p {
              font-size: 14px;
              font-family: 'Microsoft YaHei';
              font-weight: 400;
              color: rgba(102, 102, 102, 1);
              line-height: 28px;
              overflow: hidden;
              text-overflow: ellipsis;
              white-space: nowrap;
            }
            .listTitleLast {
              padding-top: 10px;
              width: 100%;
              color: #F44D4A;
              line-height: 26px;
            }
          }
        }
        li:hover {
          .itemhover /*.listImg{
            img{
              width:150px;
              height:200px;
              overflow: hidden;
              box-shadow:0px 2px 8px 0px rgba(170,170,170,0.49);
            }
          }*/
        }
        /*li:hover*/

      }

    }

  }
</style>
