<template>
  <!--我的收藏-->
  <div class="collection" style="min-height:700px;">
    <titleNav :titleMsg="bookTitle"></titleNav>

    <div class="collTit">
      <div class="collTitlt">
        <span v-for="(item,index) in title"  :key="index" @click="checkTit(index)"
              :class="isShowTit==index?'hoverCss':''">{{item}}</span>
      </div>
      <div class="collTitRt" v-if="collectionList.length > 0">
        <ul>
          <li><input type="checkbox" v-model="checked" @click="choiseAll">全部</li>
          <li class="cencalAll" @click="cencalAll">批量取消</li>
        </ul>
      </div>
    </div>
    <!--全部-->
    <div class="collAll" v-if="isShowTit==0">
      <loading v-if="isLoading"></loading>
      <div v-else>
        <ul class="List" v-if="collectionList.length > 0">
          <li class="itemhover" v-for="(item,index) in collectionList" :key="index">
            <div v-if="item.fgEleSysResourceVo">
              <input type="checkbox" class="checkItem"  :value="index" v-model="checkeds" @click="check(index)">
              <div class="listImg" @mouseenter="enter(index)" @mouseleave="leave()">
                <div class="listTextHover">
                  <img class="imgBig" v-if="item.fgEleSysResourceVo.cover" :src="imgUrl(filterImgAddress(item.fgEleSysResourceVo.cover))" alt="">
                  <img class="imgBig" v-else :src="`${type[item.fgEleSysResourceVo.typeZh]}`" alt="">
                </div>
                <p>{{item.fgEleSysResourceVo.typeZh}}</p>
                <div class="showChoise" v-if="index == showIndex">
                  <div class="bg4" @click="closeCollection(item)">取消收藏</div>
                </div>
              </div>
              <div class="listTitle"  @click="linkHref(item.fgEleSysResourceVo)">
                <h1 :title="item.fgEleSysResourceVo.name">
                  <div>{{item.fgEleSysResourceVo.name}}</div>
                </h1>
                <p>文件大小:{{item.fgEleSysResourceVo.fileSize}}</p>
                <div class="listTitleLast"><span>{{item.fgEleSysResourceVo.uploadTime?item.fgEleSysResourceVo.uploadTime.substr(0,10):0}}</span><span>下载次数：{{item.fgEleSysResourceVo.downloadCount}}</span></div>
              </div>
            </div>
            <div v-if="item.fgPhySysResourceVo">
              <input type="checkbox" class="checkItem" :value="index" v-model="checkeds" @click="check(index)">
              <div class="listImg" @mouseenter="enter(index)" @mouseleave="leave()">
                <div class="listText" @click="linkHref(item.fgPhySysResourceVo)">
                  <img  class="imgSmall" v-if="item.fgPhySysResourceVo.cover" :src="imgUrl(filterImgAddress(item.fgPhySysResourceVo.cover))" @error="imgError(item.fgPhySysResourceVo)">
                  <img v-else :src="type['图书']" class="imgSmall" alt="">
                </div>
                <!-- <p>{{item.fgPhySysResourceVo.typeZh}}</p> -->
                <p>图书</p>
                <div class="showChoise" v-if="index == showIndex">
                  <div class="bg1" v-if="item.fgPhySysResourceVo.isHaveBinding">有配套资源</div>
                  <div class="bg2" v-if="item.fgPhySysResourceVo.applyStatus&&$store.getters.userType != 'supervise'">可申请样书</div>
                  <div class="bg3" v-if="item.fgPhySysResourceVo.isTrialReading">可试读</div>
                  <div class="bg4" @click="closeCollection(item)">取消收藏</div>
                </div>
              </div>
              <div class="listTitle" @click="linkHref(item.fgPhySysResourceVo)">
                <h1 :title="item.fgPhySysResourceVo.name">
                  <div>{{item.fgPhySysResourceVo.name}}</div>
                </h1>
                <p>作者: {{item.fgPhySysResourceVo.author}}</p>
                <!-- <p>ISBN: {{item.fgPhySysResourceVo.isbn}}</p> -->
                <p>出版社:{{item.fgPhySysResourceVo.publisher}}</p>
              </div>
            </div>
          </li>
        </ul>
        <div v-else class="collection-none">
          <img src="@/assets/img/12-暂无内容.jpg" alt="">
        </div>
      </div>
    </div>
    <!--技工教育教材-->
    <div class="collMechanic" v-if="isShowTit==1">
      <loading v-if="isLoading"></loading>
      <div v-else>
        <ul class="Matrix" v-if="collectionList.length > 0">
          <li v-for="(item,index) in collectionList" :key="index">
            <div class="checkItem"><input type="checkbox"  :value="index" v-model="checkeds" @click="check(index)"></div>
            <div class="MbookImg"  @click="linkHref(item.fgPhySysResourceVo)">
              <img v-if="item.fgPhySysResourceVo.cover" :src="imgUrl(filterImgAddress(item.fgPhySysResourceVo.cover))" @error="imgError(item.fgPhySysResourceVo)">
              <!-- <img v-else :src="`${typeh[item.fgPhySysResourceVo.typeZh]}`" alt=""> -->
              <img v-else :src="type['图书']" class="imgSmall" alt="">
            </div>
            <div class="MbookCont"  @click="linkHref(item.fgPhySysResourceVo)">
              <h1 :title="item.fgPhySysResourceVo.name">书名：{{item.fgPhySysResourceVo.name}}</h1>
              <div class="MbookContO">
                {{item.fgPhySysResourceVo.author}} 著 丨 {{item.fgPhySysResourceVo.publishTime.substr(0,10)}}出版 丨 {{item.fgPhySysResourceVo.publisher}} 丨 ISBN: {{item.fgPhySysResourceVo.isbn}}
              </div>
              <p :id="'word'+index">{{Ellipsis('word'+index,2,item.fgPhySysResourceVo.introduction,24)}}</p>
              <div class="price">￥{{filterPrice(item.fgPhySysResourceVo.price)}}</div>
            </div>
            <div class="Mbtns">
              <div class="bg1" v-if="item.fgPhySysResourceVo.isHaveBinding">有配套资源</div>
              <div class="bg2" v-if="item.fgPhySysResourceVo.applyStatus&&$store.getters.userType != 'supervise'">可申请样书</div>
              <div class="bg3" v-if="item.fgPhySysResourceVo.isTrialReading">可试读</div>
              <div class="bg4" @click="closeCollection(item)">取消收藏</div>
            </div>
          </li>
        </ul>
        <div v-else class="collection-none">
          <img src="@/assets/img/12-暂无内容.jpg" alt="">
        </div>
      </div>
    </div>
    <!--职业培训教材-->
    <div class="collOcc" v-if="isShowTit==2">
      <loading v-if="isLoading"></loading>
      <div v-else>
        <ul class="List" v-if="collectionList.length > 0">
          <li class="itemhover" v-for="(item,index) in collectionList" :key="index">
            <div class="checkItem"><input type="checkbox"  :value="index" v-model="checkeds" @click="check(index)"></div>
            <div class="listImg" @mouseenter="enter(index)" @mouseleave="leave()">
              <div class="listTextHover">
                <img v-if="item.fgPhySysResourceVo.cover" :src="imgUrl(filterImgAddress(item.fgPhySysResourceVo.cover))" @error="imgError(item.fgPhySysResourceVo)">
                <!-- <img v-else :src="`${typeh[item.fgPhySysResourceVo.typeZh]}`" alt=""> -->
                <img v-else :src="type['图书']" class="imgSmall" alt="">
              </div>
              <h1 v-if="item.fgPhySysResourceVo.publishTime">{{item.fgPhySysResourceVo.publishTime.substr(0,10)}}出版</h1>
              <div class="showChoise" v-if="index == showIndex" >
                  <div class="bg1" v-if="item.fgPhySysResourceVo.isHaveBinding">有配套资源</div>
                  <div class="bg2" v-if="item.fgPhySysResourceVo.applyStatus&&$store.getters.userType != 'supervise'">可申请样书</div>
                  <div class="bg3" v-if="item.fgPhySysResourceVo.isTrialReading">可试读</div>
                  <div class="bg4" @click="closeCollection(item)">取消收藏</div>
                </div>
            </div>
            <div class="listTitle"  @click="linkHref(item.fgPhySysResourceVo)">
              <h1 :title="item.fgPhySysResourceVo.name">
                <div>{{item.fgPhySysResourceVo.name}}</div>
              </h1>
              <p>作者: {{item.fgPhySysResourceVo.author}}</p>
              <p>ISBN: {{item.fgPhySysResourceVo.isbn}}</p>
              <p>出版社:{{item.fgPhySysResourceVo.publisher}}</p>

              <div class="listTitleLast"><span>￥{{filterPrice(item.fgPhySysResourceVo.price)}}</span></div>
            </div>
          </li>
        </ul>
        <div v-else class="collection-none">
          <img src="@/assets/img/12-暂无内容.jpg" alt="">
        </div>
      </div>
    </div>
    <!-- 职业能力提升 -->
    <div class="collOcc" v-if="isShowTit==3">
      <loading v-if="isLoading"></loading>
      <div v-else>
        <ul class="List" v-if="collectionList.length > 0">
          <li class="itemhover" v-for="(item,index) in collectionList" :key="index">
            <div class="checkItem"><input type="checkbox"  :value="index" v-model="checkeds" @click="check(index)"></div>
            <div class="listImg" @mouseenter="enter(index)" @mouseleave="leave()">
              <div class="listTextHover">
                <img v-if="item.fgPhySysResourceVo.cover" :src="imgUrl(filterImgAddress(item.fgPhySysResourceVo.cover))" @error="imgError(item.fgPhySysResourceVo)">
                <!-- <img v-else :src="`${typeh[item.fgPhySysResourceVo.typeZh]}`" alt=""> -->
                <img v-else :src="type['图书']" class="imgSmall" alt="">
              </div>
              <h1 v-if="item.fgPhySysResourceVo.publishTime">{{item.fgPhySysResourceVo.publishTime.substr(0,10)}}出版</h1>
              <div class="showChoise" v-if="index == showIndex" >
                  <div class="bg1" v-if="item.fgPhySysResourceVo.isHaveBinding">有配套资源</div>
                  <div class="bg2" v-if="item.fgPhySysResourceVo.applyStatus&&$store.getters.userType != 'supervise'">可申请样书</div>
                  <div class="bg3" v-if="item.fgPhySysResourceVo.isTrialReading">可试读</div>
                  <div class="bg4" @click="closeCollection(item)">取消收藏</div>
                </div>
            </div>
            <div class="listTitle"  @click="linkHref(item.fgPhySysResourceVo)">
              <h1 :title="item.fgPhySysResourceVo.name">
                <div>{{item.fgPhySysResourceVo.name}}</div>
              </h1>
              <p>作者: {{item.fgPhySysResourceVo.author}}</p>
              <p>ISBN: {{item.fgPhySysResourceVo.isbn}}</p>
              <p>出版社:{{item.fgPhySysResourceVo.publisher}}</p>

              <div class="listTitleLast"><span>￥{{filterPrice(item.fgPhySysResourceVo.price)}}</span></div>
            </div>
          </li>
        </ul>
        <div v-else class="collection-none">
          <img src="@/assets/img/12-暂无内容.jpg" alt="">
        </div>
      </div>
    </div>
    <!--教学资源-->
    <div class="collTheach" v-if="isShowTit==4">
      <loading v-if="isLoading"></loading>
      <div v-else>
        <ul v-if="collectionList.length > 0">
          <li class="itemhover" v-for="(item,index) in collectionList" :key="index">
            <div v-if="item.fgEleSysResourceVo ">
              <input type="checkbox" class="checkItem"  :value="index" v-model="checkeds" @click="check(index)">
              <div class="listImg"  @mouseenter="enter(index)" @mouseleave="leave()">
                <div class="listTextHover">
                  <img class="imgBig" v-if="item.fgEleSysResourceVo.cover" :src="imgUrl(filterImgAddress(item.fgEleSysResourceVo.cover))" alt="">
                  <img class="imgBig" v-else :src="`${type[item.fgEleSysResourceVo.typeZh]}`" alt="">
                </div>
                <p>{{item.fgEleSysResourceVo.typeZh}}</p>
                <div class="showChoise" v-if="index == showIndex" >
                  <div class="bg4" @click="closeCollection(item)">取消收藏</div>
                </div>
              </div>
              <div class="listTitle"  @click="linkHref(item.fgEleSysResourceVo)">
                <h1 :title="item.fgEleSysResourceVo.name">
                  <div>{{item.fgEleSysResourceVo.name}}</div>
                </h1>
                <p>文件大小:{{item.fgEleSysResourceVo.fileSize}}</p>
                <div class="listTitleLast"><span>{{item.fgEleSysResourceVo.uploadTime?item.fgEleSysResourceVo.uploadTime.substr(0,10):0}}</span><span>下载次数：{{item.fgEleSysResourceVo.downloadCount}}</span></div>
              </div>
            </div>
            <div v-if="item.fgPhySysResourceVo">
              <input type="checkbox" class="checkItem"  :value="index" v-model="checkeds" @click="check(index)">
              <div class="listImg"  @mouseenter="enter(index)" @mouseleave="leave()">
                <div class="listText">
                  <img  class="imgSmall" v-if="item.fgPhySysResourceVo.cover" :src="imgUrl(filterImgAddress(item.fgPhySysResourceVo.cover))" @error="imgError(item.fgPhySysResourceVo)">
                  <img v-else :src="`${type['图书']}`" class="imgSmall" alt="">
                </div>
                <!-- <p>{{item.fgPhySysResourceVo.typeZh}}</p> -->
                <p>图书</p>
                <div class="showChoise" v-if="index == showIndex" >
                  <div class="bg1" v-if="item.fgPhySysResourceVo.isHaveBinding">有配套资源</div>
                  <div class="bg2" v-if="item.fgPhySysResourceVo.applyStatus&&$store.getters.userType != 'supervise'">可申请样书</div>
                  <div class="bg3" v-if="item.fgPhySysResourceVo.isTrialReading">可试读</div>
                  <div class="bg4" @click="closeCollection(item)">取消收藏</div>
                </div>
              </div>
              <div class="listTitle"  @click="linkHref(item.fgPhySysResourceVo)">
                <h1 :title="item.fgPhySysResourceVo.name">
                  <div>{{item.fgPhySysResourceVo.name}}</div>
                </h1>
                <p>作者: {{item.fgPhySysResourceVo.author}}</p>
                <p>ISBN: {{item.fgPhySysResourceVo.isbn}}</p>
              </div>
            </div>
          </li>
        </ul>
        <div v-else class="collection-none">
          <img src="@/assets/img/12-暂无内容.jpg" alt="">
        </div>
      </div>
    </div>
    <div class="pagination-container">
      <pagination class="paddingTop" @change="pageChange"
                  :current-page="listQuery.pageNum"
                  :page-size="listQuery.pageSize" :total-page="lastPage" v-if="total&&total>0"></pagination>
      </div>

  </div>
</template>

<script>
import titleNav from './../components/title';
import Loading from "../components/loading";
import {isBindAPI} from "@/api/resources.js";
import {batchDeleteColltctionAPI,getCollectionListAPI,deleteColltctionAPI} from "@/api/personal/collection"
import book from '@/assets/img/01-图书.png'
import Execl from '@/assets/img/Excel.png'
import  pdf from  '@/assets/img/PDF.png'
import  ppt from  '@/assets/img/ppt.png'
import  video from  '@/assets/img/视频.png'
import  audio from  '@/assets/img/音频.png'
import  picture from  '@/assets/img/03-图片1.png'
import  text from  '@/assets/img/word.png'
import  smallVideo from  '@/assets/img/视频.png'
import  web from  '@/assets/img/课件.png'
import  gif from  '@/assets/img/视频.png'
import  simulation from  '@/assets/img/附件.png'
import  richMedia from  '@/assets/img/视频.png'
import  other from  '@/assets/img/附件.png'
import  pictureH from  '@/assets/img/04-图片2.png'

  export default {
    data() {
      return {
        bookTitle: '我的收藏',
        title: ['全部', '技工教育教材', '职业培训教材','职业能力提升','教学资源'],
        isShowTit: 0,
        listQuery:{
          pageNum:1,
          pageSize:9,
        },
        collectionList:[],
        total:null,
        lastPage:0,
        showIndex:{},
        checkeds:[],
        checked:false,
        list:[],
        lastPage:null,
        isLoading:false,
        type:{
          '图书':book,
          'Excel':Execl,
          'pdf':ppt,
          'ppt':ppt,
          '视频':video,
          '音频':audio,
          '图形/图像':picture,
          '文本':text,
          '微课视频':smallVideo,
          '网页课件':web,
          '动画':gif,
          '虚拟仿真':simulation,
          '富媒体':richMedia,
          '其他':other,
        },
        typeh:{
          '图书':book,
          'Excel':Execl,
          'pdf':ppt,
          'ppt':ppt,
          '视频':video,
          '音频':audio,
          '图形/图像':pictureH,
          '文本':text,
          '微课视频':smallVideo,
          '网页课件':web,
          '动画':gif,
          '虚拟仿真':simulation,
          '富媒体':richMedia,
          '其他':other,
        },
      }
    },
    components: {titleNav,Loading},
    created() {


    },
    mounted(){
      this.getCollectionList()
    },
    methods: {
      imgError(item) {
       item.cover = '/img/01-图书.png'
      },
      // 收藏记录
    getCollectionList(){
      this.isLoading = true
      getCollectionListAPI(this.listQuery).then(res=>{
        const data =res.data.data
        if(res.data.code === 0){
          this.collectionList = data.list
          this.total = data.total

          this.lastPage = Math.ceil(Number(data.total) / Number(this.listQuery.pageSize));
          this.checkeds=[]
          this.checked=false
          this.list=[]
          this.isLoading = false
        }else{
          this.$message.error('请求收藏列表数据失败')
        }
      })
    },
    enter(index){
      this.showIndex = index
    },
    leave(){
      this.showIndex = {}
    },

    // 切换类型
      checkTit(index) {
        this.isShowTit = index;
        this.listQuery.pageNum=1;
        this.listQuery.pageSize=9;

        if(index == 0){

          this.listQuery={
            pageNum:1,
            pageSize:9,
        },
          this.getCollectionList()
        }else if(index == 1){

          this.listQuery.type = '1-1'
          this.getCollectionList()
        }else if(index == 2){

          this.listQuery.type = '1-2'
          this.getCollectionList()

        }else if(index == 3){

          this.listQuery.type = '1-5'
          this.getCollectionList()
        }else if(index == 4){

          this.listQuery.type = '9-9'
          this.getCollectionList()
        }
      },
      /*跳转链接*/
      linkHref(item){
        let routeData = ''
        if(item.type.indexOf('2-')>=0){//电子
          // this.$router.push({path:'/resources/teaching',query:{id:item.id}});
          routeData = this.$router.resolve({path:'/resources/teaching',query:{id:item.id}});
          window.open(routeData.href, '_blank');
        }else{
          isBindAPI({oid:item.id}).then(res=>{
            if(res.data.status){
              if(res.data.data){//绑定资源
                // this.$router.push({path:'/resources/info',query:{id:item.id}});
                routeData = this.$router.resolve({path:'/resources/info',query:{id:item.id}});
                window.open(routeData.href, '_blank');
              }else{//没有绑定
                // this.$router.push({path:'/resources/vocation',query:{id:item.id}});
                routeData = this.$router.resolve({path:'/resources/vocation',query:{id:item.id}});
                window.open(routeData.href, '_blank');
              }

            }
          })
        }
      },
      // 选中数据
      check(index){
        let key = this.checkeds.indexOf(index)
        this.list = this.checkeds
        if(key == -1){
          this.list.push(index)
        }else{
          this.list.splice(key,1)
          this.checked = false
        }
      },
      // 选中全部数据
      choiseAll(){
        this.checkeds =[]

        if(!this.checked){
          let len = this.collectionList.length
          for(var i= 0;i<len; i++){

            this.checkeds.push(i)
          }
          this.list = this.checkeds
        }
      },
      // 取消单个收藏
      closeCollection(item){

        const arr = [item.id]

        batchDeleteColltctionAPI(arr).then(res=>{
            if(res.data.code === 0){
              this.$message.success('收藏取消成功')
              this.list =[]
              this.getCollectionList()
            }else{
              this.$message.error('收藏取消失败')
            }
          })
      },
      // 批量取消
      cencalAll(){

        if(this.list.length == 0){
          this.$message.error('请至少选择一项')
        }else{
          let arr = []
          this.list.forEach(item=>{
            arr.push(this.collectionList[item].id)
          })

          batchDeleteColltctionAPI(arr).then(res=>{
            if(res.data.code === 0){
              this.$message.success('批量取消成功')
              this.list = []
              this.getCollectionList()
            }else{
              this.$message.error('批量取消失败')
            }
          })
        }
      },
      // 页数改变
      pageChange(val) {
        this.listQuery.pageNum = val
        this.getCollectionList()
      },
      /*切换page*/
      pageChange(val) {

        this.listQuery.pageNum = val
        this.getCollectionList();
      },
    }

  }
</script>

<style scoped lang="less">
  .collection {
    width: 978px;
    height: auto;
    .collTit {
      margin: 0 26px;
      border-bottom: 1px solid #EEEEEE;
      display: flex;
      justify-content: space-between;
      .collTitlt {
        span {
          padding: 0 15px;
          font-size: 14px;
          font-family: 'Microsoft YaHei';
          height: 55px;
          line-height: 55px;

          display: inline-block;
        }
        span:hover{
          cursor: pointer;
        }
      }
      .collTitRt {
        ul {
          li {
            height: 55px;
            line-height: 55px;
            float: left;
            margin: 0 11px;
            font-size: 14px;
            font-family: 'Microsoft YaHei';
            font-weight: 400;
            color: rgba(51, 51, 51, 1);

            input {
              margin-right: 3px;
              float: left;
              margin-top: 22px;

            }
            input:hover{
              cursor: pointer;
            }
          }
          li:hover{
            cursor: pointer;
          }
          .cencalAll {
            color: #3279FF;
            text-decoration: underline;
          }

        }

      }

      .hoverCss {
        height: 55px;
        line-height: 55px;
        color: #3279FF;
        font-weight: bold;
        border-bottom: 2px solid #3279FF;
        display: inline-block;

      }
    }
    /*全部*/
    .collAll {
      .List {
        overflow: hidden;
        margin: 29px 0px 29px 40px;
        .itemhover {
          width: 286px;
          height: 340px;
          float: left;
          display: block;
          margin: 3px 5px 9px 5px;
          position: relative;
          .checkItem{
            position: absolute;
            top:13px;
            left:13px;
          }
          .checkItem:hover{
            cursor: pointer;
          }
          .listImg {
            position: relative;
            width: 230px;
            height: 170px;
            padding-left: 28px;
            margin-top: 35px;
            cursor: pointer;

            .listText {
              width: 230px;
              height: 170px;
              overflow: hidden;
              background: rgba(227, 238, 253, 1);
              display: flex;
              justify-content: center;
              align-items: center;

            }
            .listTextHover {
              display:flex;
              margin: 0 auto;
              width:230px;
              height:170px;
              overflow:hidden;
              box-shadow: 0px 2px 8px 0px rgba(170, 170, 170, 0.49);
              background: #E3EEFD;
              justify-content: center;
              align-items: center;
              cursor: pointer;
              .imgBig {
                max-width: 230px;
                max-height: 170px;
              }

            }
            .imgSmall{
              max-width: 210px;
              max-height: 150px;
            }
            p {
              position: absolute;
              // width: 46px;
              padding: 0 6px;
              height: 24px;
              background: rgba(43, 203, 115, 1);
              text-align: center;
              line-height: 24px;
              font-size: 14px;
              font-family: 'Microsoft YaHei';
              font-weight: 400;
              color: rgba(255, 255, 255, 1);
              top: 0;
              right: 0;
            }
            .showChoise{
              position: absolute;
              left: 76px;
              top: 0px;
              width: 94px;
              margin-top: 23px;
              overflow: hidden;
              text-align: center;
              padding-left: 20px;
              .bg1, .bg2, .bg3, .bg4 {
                height: 24px;
                line-height: 24px;
                border-radius: 12px;
                width: 94px;
                color: #fff;
                font-size: 14px;
                font-family: 'Microsoft YaHei';
                font-weight: 400;
                text-align: center;
                margin-bottom: 10px;
              }
              .bg1 {
                background: #3ACDD6;
              }
              .bg2 {
                background: #6FB2FF;
              }
              .bg3 {
                background: #E1B87D;
              }
              .bg4 {
                cursor: pointer;
                background: rgb(51, 94, 214);
              }
            }

            a {
              color: #3279FF;
            }
          }
          .listTitle {
            width: 230px;
            margin-left: 28px;
            cursor: pointer;
            h1 {
              margin-top: 15px;
              height: 35px;
              font-size: 16px;
              font-family: 'Microsoft YaHei';
              font-weight: 400;
              color: rgba(51, 51, 51, 1);
              line-height: 30px;
              overflow:hidden;
              text-overflow:ellipsis;
              white-space:nowrap;
              div{
                overflow: hidden;
                white-space: nowrap;
                text-overflow: ellipsis;
              }
              div:hover{
                color: #3279FF;
              }
            }
            p {
              font-size: 14px;
              font-family: 'Microsoft YaHei';
              font-weight: 400;
              color: rgba(102, 102, 102, 1);
              line-height: 30px;
              width: 220px;
              overflow:hidden;
              white-space:nowrap;
              text-overflow:ellipsis;
            }
            .listTitleLast {
              padding-top: 0px;
              line-height: 30px;
              width: 100%;
              font-size: 14px;
              font-family: 'Microsoft YaHei';
              font-weight: 400;
              color: rgba(153, 153, 153, 1);
              display: flex;
              justify-content: space-between;

            }
          }
        }
        .itemhover:hover{
              box-shadow: 0px 2px 8px 0px rgba(1, 2, 2, 0.1);
        }

      }
      .collection-none{
        display: flex;
        justify-content: center;
        width: 100%;
      }
    }
    /*技工教育教材*/
    .collMechanic{
      .Matrix {
        padding: 0px 36px;
        li {
          padding: 30px 0;
          display: flex;
          justify-content: space-between;
          border-bottom: 1px solid #EEEEEE;
          .checkItem{
            height: 100%;
            line-height: 160px;
          }
          .checkItem:hover{
            cursor: pointer;
          }
          .MbookImg {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 120px;
            height: 160px;
            background: rgba(211, 211, 211, 1);
            box-shadow: -1px 3px 6px 0px rgba(170, 170, 170, 0.38);
            cursor: pointer;
            img {
              max-width: 120px;
              max-height: 160px;
            }
          }
          .MbookCont {
            width: 573px;
            cursor: pointer;
            h1 {
              height: 39px;
              font-size: 18px;
              font-family: 'Microsoft YaHei';
              font-weight: 400;
              color: rgba(51, 51, 51, 1);
              line-height: 19px;
              white-space: nowrap;
              text-overflow: ellipsis;
              overflow: hidden;
              padding: 0;
              margin: 0;
            }
            h1:hover{
              color: #3279FF;
            }
            .MbookContO {
              height: 32px;
              font-size: 14px;
              font-family: 'Microsoft YaHei';
              font-weight: 400;
              color: rgba(153, 153, 153, 1);
              line-height: 14px;

            }
            p {
              width: 573px;
              min-height: 48px;
              font-size: 14px;
              font-family: 'Microsoft YaHei';
              font-weight: 400;
              color: rgba(102, 102, 102, 1);
              line-height: 24px;
              padding: 0;
              margin: 0;
              // overflow: hidden;
              // display: -webkit-box;
              // -webkit-box-orient:vertical;
              // -webkit-line-clamp:2;
              // line-clamp: 2;
              // overflow:hidden;
              // text-overflow: ellipsis;
              // -webkit-box-orient: vertical;

            }
            .price {
              margin-top: 18px;
              height: 12px;
              font-size: 16px;
              font-family: 'Microsoft YaHei';
              font-weight: 400;
              color: rgba(244, 77, 74, 1);
              line-height: 24px;
            }
          }
          .Mbtns {
            margin-right: 10px;
            width: 94px;
            margin-top: 23px;
            overflow: hidden;
            padding-left: 20px;
            .bg1, .bg2, .bg3, .bg4 {
              height: 24px;
              line-height: 24px;
              border-radius: 12px;
              width: 94px;
              color: #fff;
              font-size: 14px;
              font-family: 'Microsoft YaHei';
              font-weight: 400;
              text-align: center;
              margin-bottom: 10px;
            }
            .bg1 {
              background: #3ACDD6;
            }
            .bg2 {
              background: #6FB2FF;
            }
            .bg3 {
              background: #E1B87D;
            }
            .bg4 {
                cursor: pointer;
                background: rgb(51, 94, 214);
              }
          }
        }
      }
      .collection-none{
        display: flex;
        justify-content: center;
        width: 100%;
      }
    }

    /*职业培训教材*/
    .collOcc{
      ul{
        overflow: hidden;
        margin: 29px 0px 29px 40px;
        li {
          width: 218px;
          height: 405px;
          float: left;
          display: block;
          padding: 35px 34px 0;
          margin: 3px 5px 9px 5px;
          position: relative;
          .checkItem{
            position: absolute;
            left:15px;
            top:13px;
          }
          .checkItem:hover{
            cursor: pointer;
          }
          .listImg {
            position: relative;
            width: 150px;
            height: 200px;
            left: 35px;
            cursor: pointer;
            .listTextHover {
              display: flex;
              justify-content: center;
              align-items: center;
              width: 150px;
              height: 200px;
              overflow: hidden;
              box-shadow: 0px 2px 8px 0px rgba(170, 170, 170, 0.49);
              cursor: pointer;
              img{
                max-height: 150px;
                max-height: 200px;
              }
            }
              .listText {
              width: 150px;
              height: 200px;
              overflow: hidden;
              background: rgba(227, 238, 253, 1);
              display: flex;
              justify-content: center;
              align-items: center;
            }

            h1 {
              position: absolute;
              right: 0;
              bottom: 0;
              width: 150px;
              height: 25px;
              background: rgba(0, 0, 0, 1);
              opacity: 0.7;
              font-size: 14px;
              font-family: 'Microsoft YaHei';
              font-weight: 400;
              color: rgba(255, 255, 255, 1);
              line-height: 26px;
              text-align: center;
            }
            .showChoise{
              position: absolute;
              left: 10px;
              top: 0px;
              width: 94px;
              margin-top: 23px;
              overflow: hidden;
              text-align: center;
              padding-left: 20px;
              .bg1, .bg2, .bg3, .bg4 {
                height: 24px;
                line-height: 24px;
                border-radius: 12px;
                width: 94px;
                color: #fff;
                font-size: 14px;
                font-family: 'Microsoft YaHei';
                font-weight: 400;
                text-align: center;
                margin-bottom: 10px;
              }
              .bg1 {
                background: #3ACDD6;
              }
              .bg2 {
                background: #6FB2FF;
              }
              .bg3 {
                background: #E1B87D;
              }
              .bg4 {
                cursor: pointer;
                background: rgb(51, 94, 214);
              }
            }
          }
          .listTitle {
            width: 220px;
            overflow:hidden;
            white-space:nowrap;
            text-overflow:ellipsis;
            cursor: pointer;
            h1 {
              margin-top: 20px;
              height: 40px;
              font-size: 16px;
              font-family: 'Microsoft YaHei';
              font-weight: 400;
              color: rgba(51, 51, 51, 1);
              line-height: 30px;
              overflow:hidden;
              text-overflow:ellipsis;
              white-space:nowrap;
              div{
                overflow: hidden;
                white-space: nowrap;
                text-overflow: ellipsis;
              }
              div:hover{
                color: #3279FF;
              }
            }
            p {
              font-size: 14px;
              font-family: 'Microsoft YaHei';
              font-weight: 400;
              color: rgba(102, 102, 102, 1);
              line-height: 28px;
            }
            .listTitleLast {
              padding-top: 0px;
              width: 100%;
              color: #F44D4A;
              line-height: 26px;
              font-family: 'Microsoft YaHei';
            }
          }
        }
        .itemhover {
          .listTextHover {
            display: flex;
            width: 150px;
            height: 200px;
            overflow: hidden;
            box-shadow: 0px 2px 8px 0px rgba(170, 170, 170, 0.49);
            cursor: pointer;
            img{
              height: 200px;
            }
          }
          a {
            color: #3279FF;
          }
        }
        .itemhover:hover{
          box-shadow: 0px 2px 8px 0px rgba(1, 2, 2, 0.1);
        }
      }
      .collection-none{
        display: flex;
        justify-content: center;
        width: 100%;
      }
    }

    /*教学资源*/
    .collTheach{
      ul{
        overflow: hidden;
        margin: 29px 0px 29px 40px;
        li {
          width: 286px;
          height: 340px;
          float: left;
          display: block;
          margin: 3px 5px 9px 5px;
          position: relative;
          .checkItem{
            position: absolute;
            top:13px;
            left:13px;
          }
          .checkItem:hover{
            cursor: pointer;
          }
          .listImg {
            position: relative;
            width: 230px;
            height: 170px;
            padding-left: 28px;
            margin-top: 35px;
            cursor: pointer;
            .listText {
              width: 230px;
              height: 170px;
              overflow: hidden;
              background: rgba(227, 238, 253, 1);
              display: flex;
              justify-content: center;
              align-items: center;
              .imgSmall{
                // margin:auto;
                max-width: 210px;
                max-height: 150px;
              }
            }
            .listTextHover {

              display: flex;
              justify-content: center;
              align-items: center;
              width:230px;
              height:170px;
              overflow:hidden;
              box-shadow: 0px 2px 8px 0px rgba(170, 170, 170, 0.49);
              background: #E3EEFD;
              cursor: pointer;
              .imgBig {
                // margin:auto;
                max-width: 230px;
                max-height: 170px;
              }

            }

            p {
              position: absolute;
              // width: 46px;
              padding: 0 6px;
              height: 24px;
              background: rgba(43, 203, 115, 1);
              text-align: center;
              line-height: 24px;
              font-size: 14px;
              font-family: 'Microsoft YaHei';
              font-weight: 400;
              color: rgba(255, 255, 255, 1);
              top: 0;
              right: 0;
            }
            .showChoise{
              position: absolute;
              left: 76px;
              top: 0px;
              width: 94px;
              margin-top: 23px;
              overflow: hidden;
              padding-left: 20px;
              text-align: center;
              .bg1, .bg2, .bg3, .bg4 {
                height: 24px;
                line-height: 24px;
                border-radius: 12px;
                width: 94px;
                color: #fff;
                font-size: 14px;
                font-family: 'Microsoft YaHei';
                font-weight: 400;
                text-align: center;
                margin-bottom: 10px;
              }
              .bg1 {
                background: #3ACDD6;
              }
              .bg2 {
                background: #6FB2FF;
              }
              .bg3 {
                background: #E1B87D;
              }
              .bg4 {
                cursor: pointer;
                background: rgb(51, 94, 214);
              }
            }
          }
          .listTitle {
            width: 220px;
            overflow:hidden;
            white-space:nowrap;
            text-overflow:ellipsis;
            margin-left: 28px;
            cursor: pointer;
            h1 {
              margin-top: 15px;
              height: 35px;
              font-size: 16px;
              font-family: 'Microsoft YaHei';
              font-weight: 400;
              color: rgba(51, 51, 51, 1);
              line-height: 30px;
              overflow:hidden;
              text-overflow:ellipsis;
              white-space:nowrap;
              div{
                overflow: hidden;
                white-space: nowrap;
                text-overflow: ellipsis;
              }
              div:hover{
                color: #3279FF;
              }
            }
            p {
              font-size: 14px;
              font-family: 'Microsoft YaHei';
              font-weight: 400;
              color: rgba(102, 102, 102, 1);
              line-height: 30px;
            }
            .listTitleLast {
              padding-top: 0px;
              line-height: 30px;
              width: 100%;
              font-size: 14px;
              font-family: 'Microsoft YaHei';
              font-weight: 400;
              color: rgba(153, 153, 153, 1);
              display: flex;
              justify-content: space-between;

            }
          }
        }
        .itemhover {


          a {
            color: #3279FF;
          }
        }
        .itemhover:hover{
          box-shadow: 0px 2px 8px 0px rgba(1, 2, 2, 0.1);
        }
      }
      .collection-none{
        display: flex;
        justify-content: center;
        width: 100%;
      }
    }
  }
</style>
