<template>
    <div>
        <workBench></workBench>
        <div class="createPost-container">
            <div class="createPost-main-container">
                <el-form :rules="rules" ref="dataForm" :model="formList" label-position="right" label-width="150px" class="form-container">
                    <el-row>
                        <el-col :span="10">
                        <el-form-item label="学级：" prop="academicLevel">
                            <el-select v-model="formList.academicLevel" @change="choiseasademic"  style="width:300px" :disabled="disabled" clearable placeholder="请选择学级">
                                <el-option v-for="item in academicList" :key="item" :label="item" :value="item"></el-option>
                            </el-select>
                        </el-form-item>
                        <el-form-item label="部门名称：" prop="departmentId">
                            <el-select v-model="formList.departmentId" @change="choisedept"  style="width:300px" :disabled="disabled" clearable placeholder="请选择部门">
                                <el-option v-for="item in deptList" :key="item.departmentId" :label="item.name" :value="item.departmentId"></el-option>
                            </el-select>
                        </el-form-item>
                        <el-form-item label="培养层次：" prop="basicPlanId">
                            <el-select v-model="formList.basicPlanId" clearable  @change="choiseBasic" style="width:300px" :disabled="disabled" placeholder="请选择培养层次">
                                <el-option v-for="item in trainList" :key="item.basicPlanId" :label="item.name" :value="item.basicPlanId"></el-option>
                            </el-select>
                        </el-form-item>
                        <el-form-item label="班级名称：" prop="classId">
                            <el-select v-model="formList.classId" clearable  style="width:300px" placeholder="请选择班级">
                                <el-option v-for="item in classList" :key="item.id" :label="item.name" :value="item.id"></el-option>
                            </el-select>
                        </el-form-item>
                        <el-form-item label="经销商：" prop="supplierId">
                            <el-select v-model="formList.supplierId" clearable  style="width:300px" placeholder="请选择经销商">
                                <el-option v-for="item in disList" :key="item.distributorId" :label="item.distributorName" :value="item.distributorId"></el-option>
                            </el-select>
                        </el-form-item>
                        </el-col>
                        <el-col :span="12">
                                <el-form-item>
                                    <div class="addBtn">
                                        <el-button class="form-submit add"  @click="openAdd">添加</el-button>
                                    </div>
                                </el-form-item>
                        </el-col>
                        <el-table v-show="formList.list&&formList.list.length > 0" :data="formList.list" border v-loading="listLoading" highlight-current-row element-loading-text="给我一点时间" style="width: 100%">
                            <!-- <el-table-column type="index" label="序号" width="60" align="center" ></el-table-column> -->
                            <el-table-column type="index" label="序号" width="60"  align="center" ></el-table-column>
                            <el-table-column prop="semName" label="学期" align="center" min-width="80"></el-table-column>
                              <!-- <template slot-scope="scope"> -->
                                <!-- <span>{{scope.row.semester}}</span>
                                  <span>{{semlist}}</span> -->
                                <!-- <span>{{semlist[scope.row.semester]}}</span> -->
                              <!-- </template> -->
                            
                            <el-table-column prop="lessonName" label="课程" align="center" min-width="120"></el-table-column>
                            <el-table-column prop="resName" label="教材名称" align="center" min-width="100"></el-table-column>
                            <el-table-column prop="isbn" label="ISBN" align="center" min-width="100"></el-table-column>
                            <el-table-column prop="isNot" label="是否为教师教材" align="center" min-width="80">
                                <template slot-scope="scope">
                                    <span>{{scope.row.isNot ==1?"是":"否"}}</span>
                                </template>
                            </el-table-column>
                            <el-table-column  label="操作" align="center" width="100">
                                <template slot-scope="scope">
                                    <i class="el-icon-edit" title="修改" @click='editBtn(scope.row,scope.$index)'></i>
                                    <i class="el-icon-delete" title="删除" @click="deleteBtn(scope.row,scope.$index)"></i>
                                </template>
                            </el-table-column>
                        </el-table>
                        </el-row>
                        <el-form-item style="margin-top:20px;width:600px">
                            <el-button class="form-submit" @click="submitFrom()">保存</el-button>
                            <el-button @click="$router.go(-1)">取消</el-button>
                        </el-form-item>
                </el-form>
            </div>
            <div class="infoAlert" v-if="isShowR">
                <div class="infoAlertC">
                <div class="infoAlertT">
                    <h1>添加</h1><span @click="isShowR=false">×</span>
                </div>
                <div class="isTypeTwo">
                    <template>
                        <el-form :rules="rulesAdd" ref="dataAddForm" :model="formOrderList" label-position="right" label-width="100px" class="form-container">
                        <!-- <el-row> -->
                            <el-col>
                            <el-form-item label="学期：" prop="semester">
                                <el-select clearable v-model="formOrderList.semester"  style="width:300px">
                                    <el-option v-for="(item) in semesterList" :key="item.name" :label="item.name" :value="item.value"  :disabled="item.disabled"></el-option>
                                </el-select>
                            </el-form-item>
                            <el-form-item label="课程：" prop="lessonId">
                                <el-select clearable v-model="formOrderList.lessonId"  style="width:300px"  @change="lessonChange">
                                    <el-option v-for="(item) in lessonList" :key="item.id" :label="item.courseDesign" :value="item.id" ></el-option>
                                </el-select>
                            </el-form-item>
                            
                            <el-form-item label="教材名称：" prop="resName" class="addRoleCss">         
                                <div class="textBook">
                                    <div class="choiseBook">
                                      <input type="text"  class="homeSearch" v-model="formOrderList.resName"
                                      @keyup.enter="searchBtn"
                                      @input="inputChange(formOrderList)"
                                      @click="focusInput()">
                                      <div class="select">
                                        <el-select v-model="formOrderList.type" @change="typeChange(formOrderList)">
                                          <el-option label="系统教材"  value="0"></el-option>
                                          <el-option label="校本库" value="1"></el-option>
                                        </el-select>
                                      </div> 
                                    </div>
                                    <div class="searchResult" v-if="formOrderList.resName!= '' &&suggest.length>0&&isSuggestList">
                                        <ul>
                                            <li v-for="(iv,indO) in suggest" :key="indO" @click="searchSuggest(iv,formOrderList)">
                                            <img :src="`${uploadUrlT}`+ iv.cover" alt="" :onerror="errorGoodsImg">
                                            <span  v-if="formOrderList.type == 0">{{iv.term}}</span>
                                            <span v-if="formOrderList.type == 1">{{iv.resourceName}}</span>
                                            </li>
                                        </ul>
                                    </div>
                                </div>  
                                <div class="redStart">*</div>
                            </el-form-item>
                            <!-- <el-form-item label="ISBN：" prop="isbn">
                                <el-input v-model="formOrderList.isbn"  placeholder="请填写ISBN" clearable></el-input>
                            </el-form-item> -->
                            <el-form-item label="数量：" prop="num">
                                <el-input v-model="formOrderList.num"  placeholder="请填写数量" clearable></el-input>
                            </el-form-item>
                            <el-form-item label="教师用书：" prop="isNot">
                                <el-radio-group v-model="formOrderList.isNot" style="width:300px">
                                    <el-radio :label="'0'">否</el-radio>
                                    <el-radio :label="'1'">是</el-radio>
                                </el-radio-group>
                            </el-form-item>
                            </el-col>
                            <!-- </el-row> -->
                        </el-form>
                    </template>
                </div>
                <div class="infoevaluateB">
                    <span class="commit"  @click="addOrderToList">确定</span>
                    <span class="cancel" @click="isShowR=false">取消</span>
                </div>
                </div>

            </div>
        </div>
    </div>
</template>

<script>
import { getDepartmentListAPI,getDisListAPI ,saveAPI,getAcademicListAPI,getTrainListAPI,getClassListAPI,getLessonListAPI  } from "@/api/workbench/order.js";
import {getBookSuggestAPI,getBookListAPI} from '@/api/resources.js';
import store from "@/store";
import { uploadUrlT } from "@/utils/global";

export default {
  data() {

    return {
      timeout:null,
      disabled:false,
        uploadUrlT:uploadUrlT,
        errorGoodsImg:'this.src="' + require('../../../../src/assets/img/01-searList.png') + '"',
        listLoading:false,
        formList:{
          variety:'1',
          academicLevel:'',
          departmentId:'',
          basicPlanId:"",
          // educationalSystem:null,
          supplierId:'',
          classId:'',
          list:[]
        },
        formOrderList:{
            semester:'',
            lessonId:'',
            lessonName:'',
            resName:'',
            isNot:'0',
            isbn:'',
            price:'',
            type:'0'
        },
        deptList:[],
        trainList:[],
        academicList:[],
        classList:[],
        listQuery: {
          pageNum: 1,
          pageSize: 100,
          departmentId:''
        },
        trainListQuery: {
          pageNum: 1,
          pageSize: 100,
          status:2,
          departmentId:''
        },
        classListQuery: {
          pageNum: 1,
          pageSize: 100,
          departmentId:''
        },
        disListquery:{
          pageNum:1,
          pageSize:100
        },//经销商请求列表
        lessonListquery:{
          pageNum:1,
          pageSize:100,
          basicPlanId:''
        },
        lessonList:[],
        dataList:[],
        disList:[],
        isShowR:false,
        suggest:[],
        isSuggestList:false,
        semesterList:[
          {
            name:'第一学期',
            value:1,
            disabled:false
          },
          {
            name:'第二学期',
            value:2,
            disabled:false
          },
          {
            name:'第三学期',
            value:3,
            disabled:false
          },
          {
            name:'第四学期',
            value:4,
            disabled:false
          },
          {
            name:'第五学期',
            value:5,
            disabled:false
          },
          {
            name:'第六学期',
            value:6,
            disabled:false
          },
          {
            name:'第七学期',
            value:7,
            disabled:false
          },
          {
            name:'第八学期',
            value:8,
            disabled:false
          },
          {
            name:'第九学期',
            value:9,
            disabled:false
          },
          {
            name:'第十学期',
            value:10,
            disabled:false
          }],
        // [ {name:'第一学期', value:1},{name:'第二学期', value:2},{name:'第三学期', value:3},{name:'第四学期', value:4},{name:'第五学期', value:5},{name:'第六学期', value:6},{name:'第七学期', value:7},{name:'第八学期', value:8},{name:'第九学期', value:9},{name:'第十学期', value:10},],
        semlist:['','第一学期','第二学期','第三学期', '第四学期','第五学期','第六学期','第七学期','第八学期','第九学期','第十学期',],
        rules: {
            academicLevel: [ {required: true,message: "请选择学级",trigger: "change"}],
            departmentId: [ {required: true,message: "请选择部门",trigger: "change"}],
            basicPlanId: [ {required: true,message: "请选择培养层次",trigger: "change"}],
            classId: [ {required: true,message: "请选择班级",trigger: "change"}],
            supplierId:[ {required: true,message: "请选择经销商",trigger: "change"}],
        },
        rulesAdd:{
            semester: [ {required: true,message: "请选择学期",trigger: "change"}],
            lessonId: [ {required: true,message: "请选择课程",trigger: "change"}],
            resName: [ {required: true,message: "请选择教材",trigger: "blur"}],
            isNot: [ {required: true,message: "请选择是否教师",trigger: "change"}],
            num:[ {required: true,message: "请填写数量",trigger: "change"},{ pattern:/^\d{1,4}$/,trigger: 'change',message:'请填写整数的教材数量' }],
        },
        orderStatus:"",
        orderIndex:''
    };
  },
  created(){

  },
  mounted() {
    this.getAcademicList()
    this.getDepartmentList()
    this.getDisList()
    this.getTrainList()
    this.getClassList()
  },
  methods: {
    // 获取学级
    getAcademicList(){
       getAcademicListAPI(2).then(res => {
          res.data.code === 0
            ? (this.academicList = res.data.data)
            : this.$message.error("请求出错啦");
        }); 
    },
    //   获取部门列表
    getDepartmentList(){
      getDepartmentListAPI().then(res => {
          res.data.code === 0
            ? (this.deptList = res.data.data)
            : this.$message.error("请求出错啦");
        });
    },
    
    //   获取培养层次列表
    getTrainList(){
      getTrainListAPI(this.trainListQuery).then(res => {
          res.data.code === 0
            ? (this.trainList = res.data.data)
            : this.$message.error("请求出错啦");
        });
    },
    // 获得班级
    getClassList() {
      getClassListAPI(this.classListQuery).then(res => {
        if (res.data.code === 0) {
          this.classList = res.data.data.list;
            this.total = res.data.data.total;
          } else {
            this.$message.error("获取数据失败");
          }
          this.listLoading = false;
        });
     },
     // 经销商列表
    getDisList() {
      getDisListAPI(this.disListquery).then(res=>{
        if(res.data.code == 0){
          this.disList = res.data.data.list
        }else{
          this.$message.error(res.data.msg)
        }
      })
    },
    // 课程列表
    getLessonList(){
      getLessonListAPI(this.lessonListquery).then(res=>{
        if(res.data.code == 0){
          this.lessonList = res.data.data.list
        }else{
          this.$message.error(res.data.msg)
        }
      })
    },




    // 选择学级
    choiseasademic(val){
        this.formList.basicPlanId = ''
        this.formList.classId = ''
        this.trainListQuery.academicLevel = val
        this.classListQuery.academicLevel = val
        this.getTrainList()
        this.getClassList()
    },
    // 选择部门
    choisedept(val){
      this.formList.basicPlanId = ''
      this.formList.classId = ''
      this.trainListQuery.departmentId = val
      this.classListQuery.departmentId = val
      this.getTrainList()
      this.getClassList()
    },
    // 选择培养层次
    choiseBasic(val){
        this.formList.classId = ''
        // this.trainListQuery.classId = ''
        this.classListQuery.bptId = val
        this.lessonListquery.basicPlanId = val
        this.getClassList()
    },
    // 选中课程
    lessonChange(ind){
      this.formOrderList.lessonName =this.lessonList.filter(value=>value.id == ind)[0].courseDesign
    },
    // 打开添加订单
    openAdd(){
      this.formOrderList={
          semester:'',
          lessonId:'',
          lessonName:'',
          resName:'',
          isNot:'0',
          isbn:'',
          price:'',
          resourceId:'',
          type:'0'
      }
      this.orderStatus = '添加订单'
      const data = this.formList
      // this._changeSemesterStatus()
      if(data.basicPlanId&&data.departmentId&&data.academicLevel){
        this.getLessonList()
        this.orderStatus = '添加订单'
        this.isShowR = true
      }else{
        this.$message('请选择学级、部门、培养层次')
      }
    },
    // 学期限制
    // _changeSemesterStatus(){
    //   let list = this.formList.list
    //   this.semesterList.forEach(item=>{
    //     item.disabled = false
    //     list.forEach(el=>{
    //       if(item.value == el.semester){
    //         item.disabled = true
    //       }
    //     })
    //   })
    // },
    // 修改订单
    editBtn(item,index){
      this.orderStatus = '修改订单'
      this.orderIndex = index
      this.formOrderList = JSON.parse(JSON.stringify(item))
      this.isShowR = true
      this._changeSemesterStatus()
    },
    // 删除订单
    deleteBtn(item,index){
      this.formList.list.splice(index,1)
      this.$message.success('删除成功')
    },
    

    /*  添加订单 */
    // input框聚焦
      focusInput(){
        if(this.formOrderList.type){
        }else{
          this.$message('请选择资源库')
        }
      },
    /*自动补全*/
      inputChange(item) {
        if (this.formOrderList.resName != ''&&this.formOrderList.type != '') {
          this.bookStatus = false
          var that = this
          if(item.type == 0){
            this.antiShaking(this.getInputChange0,400,that)()
          }else{
            this.antiShaking(this.getInputChange1,400,that)()
          }
        } else if(this.formOrderList.type == ''){
          this.$message('请选择资源库')
        }
        else {
          this.suggest = [];
          this.isSuggestList = false;
        }
      },
      getInputChange0(){
        getBookSuggestAPI({term: this.formOrderList.resName,num: 20}).then(res => {
          if (res.data.status) {
            this.suggest = res.data.data;
            this.isSuggestList = true;
          }
        })
      },
      getInputChange1(){
        getBookListAPI({pageNum:1,pageSize:20,resourceName:this.formOrderList.resName}).then(res=>{
          if(res.data.code == 0){
            this.suggest = res.data.data.list;
            this.isSuggestList = true;
          }
        })
      },
      antiShaking(fn,wait,that){
        return function(){
          clearTimeout(that.timeout)
            that.timeout = window.setTimeout(function(){
              fn.apply(that)
            },wait)   
        }
      },



    //   选中教材
    searchSuggest(val,item){
      const li = this.formOrderList
      this.isSuggestList = false;
      li.publisher = val.publisher
      li.resourceId = val.id 
      li.isbn = val.isbn
      li.lessonType  = 1
      if(item.type == 0){
        li.price = val.price
        li.resName = val.term
      }else if(item.type == 1){
        li.resName = val.resourceName        
        li.price = 0  
      }
      this.$refs["dataAddForm"].validate(valid => {})
    },
    // 资源库类型选择
    typeChange(item){
      item.resourceId =''
      item.resName = ''
      item.lessonType='1'
      item.isbn = '',
      item.price=''
      // if(item.type == 0){
      //   item.resourceId =''
      //   item.resName = ''
      //   item.lessonType='1'
      //   item.isbn = '',
      //   item.price=''
      // }else{
      //     item.resourceId =''
      //     item.resName = ''
      //     item.lessonType='1'
      //     item.price='',
      //     item.isbn = ''
      // }
        this.suggest = []
    },
    // 添加订单到列表
    addOrderToList(){
      if(this.formOrderList.resourceId == ''){
        this.formOrderList.resName = ''
      }
      this.$refs["dataAddForm"].validate(valid => {
        if (valid) {

          this.formOrderList.semName =this.semlist[this.formOrderList.semester]
          if(this.orderStatus == '修改订单'){
            this.formList.list[this.orderIndex] = this.formOrderList
            this.isShowR=false
            this.$message.success('修改成功')
          }else{
            this.formList.list.push(this.formOrderList)
            this.isShowR=false
            this.$message.success('添加成功')
          }
          this.disabled = true 
          this.orderStatus = ''
        } 
      })
    },
  // 保存
    submitFrom() {
      this.$refs["dataForm"].validate(valid => {
        if (valid && this.formList.list.length > 0) {
          // this.formList.educationalSystem = +this.formList.educationalSystem
          saveAPI(this.formList).then(res=>{
              const code = res.data.code
            if (code === 0) {
              this.$message.success("添加订单成功");
              this.$router.back(-1);
            } else {
              this.$message.error(res.data.msg);
            }
          })
        } else if(valid &&this.formList.list.length == 0){
            this.$message('请添加教材订单数据')
        }
      })
    },
    // 查看返回
    backBtn() {
      this.$router.back();
    }
  }
};
</script>

<style rel="stylesheet/scss" lang="scss" scoped>
@import "src/style/mixin.scss";

.createPost-container {
    width: 100%;
    background: #fff;
    overflow: hidden;
    height: auto;
  position: relative;
  .createPost-main-container {
    padding: 50px;
    .el-dialog__header {
      background: #15d;
      color: #fff;
    }
  }
}
.upload-demo {
  margin-left: 10px;
}
.addBtn{
    position: relative;
    
    .add{
        position: absolute;
        top: 240px;
        right: 0;
        background: rgb(90, 190, 236);
        color: #fff;
    }
}
/*弹出框*/
    .infoAlert {
      width: 100%;
      height: 100%;
      position: fixed;
      z-index: 111;
      top: 0;
      left: 0;
      background: rgba(0, 0, 0, 0.2);
      display: flex;
      align-items: center;
      justify-content: center;

      .infoAlertC {
        width: 600px;
        height: auto;
        background: rgba(255, 255, 255, 1);
        box-shadow: 0px 2px 8px 0px rgba(170, 170, 170, 0.49);
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-bottom: 30px;
        overflow: hidden;
        .infoAlertT {
          width:96%;
          height: 36px;
          padding: 0 2%;
          background: rgba(244, 244, 244, 1);
          display: flex;
          justify-content: space-between;
          line-height: 36px;
          h1 {
            font-size: 14px;
            font-family: "Microsoft Yahei", "simsun", "arial", "tahoma";
            font-weight: bold;
            color: rgba(68, 68, 68, 1);
          }
          span {
            color: #999999;
            font-size: 20px;
            cursor: pointer;

          }

        }
        .isTypeTwo {
          width: 500px;
          margin: 32px 30px 20px;
          font-size: 14px;
          color: #454545;
          line-height: 26px;
          padding: 0 20px;
          a {
            color: #3279FF;
          }
          h1 {
            font-size: 14px;
            display: inline-block;
            font-weight: bold;
          }
          p {
            font-size: 14px;
            font-weight: 400;
            color: rgba(102, 102, 102, 1);
            line-height: 30px;
            padding-bottom: 10px;
          }
          .isTypeinput {
            span {
              font-size: 14px;
              font-weight: 400;
              color: rgba(102, 102, 102, 1);
              line-height: 40px;
            }
            input {
              float: right;
              width: 316px;
              height: 38px;
              background: rgba(255, 255, 255, 1);
              border: 1px solid rgba(220, 223, 230, 1);
              border-radius: 3px;

            }
          }
          .submitCont {
            width:350px;
            height: 50px;
            line-height: 50px;
            text-align: center;
            font-size: 18px;
          }
        }

        .infoevaluateB {
          width: 100%;
          margin: 0 auto;
          display: flex;
          justify-content:center;
          /*margin-top: 20px;*/
          span{
            margin: 0 10px;
          }
          .commit {
            display: inline-block;
            cursor: pointer;
            width: 96px;
            height: 32px;
            background: rgba(50, 121, 255, 1);
            border-radius: 4px;
            font-size: 12px;
            font-family: "Microsoft Yahei", "simsun", "arial", "tahoma";
            font-weight: 400;
            color: rgba(255, 255, 255, 1);
            line-height: 32px;
            text-align: center;
          }
          .cancel {
            display: inline-block;
            cursor: pointer;
            width: 94px;
            height: 30px;
            border: 1px solid rgba(220, 223, 230, 1);
            border-radius: 4px;
            font-size: 12px;
            font-family: "Microsoft Yahei", "simsun", "arial", "tahoma";
            font-weight: 400;
            color: rgba(153, 153, 153, 1);
            line-height: 30px;
            text-align: center;
          }
        }
      }
    }
    .addRoleCss {
    position: relative;
    .redStart {
      position: absolute;
      top: 0;
      color: #F56C6C;
      left: -92px;
    }

  }
  .lesson-position {
    position: relative;
    .redStart {
      top: 0;
      left: -92px;
      position: absolute;
      color: #F56C6C;
      
    }

  }
  .errorMess {
    /*position: absolute;*/
    color: #F56C6C;
    font-size: 12px;
    line-height: 1;
    padding-top: 0px;
    margin-top: -15px;
    /*position: absolute;
    top: 100%;
    left: 0;*/
  }

.textBook{
  margin-bottom: 10px;
    position: relative;
    .choiseBook{
        display: flex;
        .homeSearch {
          padding-left:16px;
            display: inline-block;
            height: 40px;
            line-height: 40px;
            width: 550px;
            border: 1px solid #ddd;
            border-radius: 4px;
            font-size: 14px;
        }
        .homeSearch::-ms-clear{display: none;}
        .homeSearch::-ms-reveal{display: none;}
        .homtSearchBtn {
            width: 128px;
            height: 55px;
            background: linear-gradient(90deg, rgba(86, 158, 255, 1) 0%, rgba(50, 121, 255, 1) 100%);
            border-radius: 0px 28px 28px 0px;
            cursor: pointer;
            img {
            display: block;
            margin: 12px auto 0;
            width: 32px;
            height: 32px;

            }
        }
        .select{
          margin-left:20px;
            display: inline-block;
        }
    }
    .searchResult {
        position: absolute;
        width: 337px;
        height: 300px;
        overflow: scroll;
        // margin-left: 20px;
        top: 40px;
        margin-top: 0px;
        border: 1px solid #ddd;
        background: #fff;
        display: block;
        z-index: 11;
        ul {
            padding: 8px 0;
            li {
              display: flex;
              width: 310px;
              line-height: 54px;
              margin: 0 10px;
              border-bottom: 1px solid #f5f5f5;
              height: 54px;
              cursor: pointer;
              span {
                padding-left: 6px;
                width: 270px;
                width: 300px;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
              }
            // h1 {
            //     float: right;
            //     display: block;
            //     width: 200px;
            //     text-align: right;
            //     white-space: nowrap;
            //     overflow: hidden;
            //     text-overflow: ellipsis;
            // }
                img{
                  padding-top: 6px;
                max-height: 40px;
                max-width: 40px;
            }
            }
            li:hover {
            color: #3279FF;
            }
            li:last-child {
            // border-bottom: none;
            }
        }
    }
}
</style>

