<template>
  <!--工作台-->
  <div class="bg">
    <ComHeader @searchResult="searchResult"></ComHeader>
    <!-- <router-view/> -->
    <el-container class="personal" :style="`min-height:${minHeight}`">
      <!-- <el-aside style="width:210px" v-if="isShow"> -->
        <el-aside style="width:150px" v-if="isShow">
        <router-link :to="`/workbench/${userFlowRouter[linkIndex]}`" class="personal-title">工作台</router-link>
        <div class="content-manage">
          <!--<span class="nav-title">教材征订</span>-->
          <router-link class="nav-link" :to="`/workbench/${userFlowRouter[linkIndex]}`" :style="{color:this.$route.path.indexOf('workbench')>=0?'#3279FF':'#333333'}">教材征订</router-link>
          <router-link class="nav-link" to="/searchDefault" :style="{color:this.$route.path=='/searchDefault'?'#3279FF':'#333333'}">资源检索</router-link>
          <router-link class="nav-link" to="/personal/activity" :style="{color:this.$route.path=='/personal/activity'?'#3279FF':'#333333'}">活动报名</router-link>
           <router-link class="nav-link" to="/personal/book" :style="{color:this.$route.path=='/personal/book'?'#3279FF':'#333333'}">样书申请</router-link>
          <router-link class="nav-link" to="/personal/detail" :style="{color:this.$route.path=='/personal/detail'?'#3279FF':'#333333'}">个人中心</router-link>
          <router-link class="nav-link" to="/backstage/department" :style="{color:this.$route.path=='/backstage/department'?'#3279FF':'#333333'}">管理系统</router-link>
        </div>
      </el-aside>
      <el-main class="work-container" :style="{borderLeft:isShow?'12px solid #f4f5f9':''}">
        <div v-cloak>
          <router-view ref="searchAct" ></router-view>
        </div>
      </el-main>
    </el-container>
    <LoginFooter></LoginFooter>
  </div>
</template>
<script>
import { getUserCompanytAPI,} from '@/api/global'
import ComHeader from "../../components/header";
import LoginFooter from "../../components/loginFooter";
import { getUserFlowAPI} from '@/api/global'
import Cookies from 'js-cookie';
  export default {
    name: "personal",
    data() {
      return {
        listQuery:{
          pageNum:1,
          pageSize:4,
        },
        isShow: true,
        avatarShow:true,
        userPhone:'',
        userImg:null,
        minHeight:100+'px',
        userFlowStatus:null,
        flowCode:null,
        userFlow:{
          flowCode:'',
          stauts:''
        },
        linkIndex:'',
        userFlowRouter:{ //1：终审， 2：中审， 3：初审， 4：推荐，null：未绑定征订流程
          '4':'recommend',
          '3':'examine',
          '2':'middleExamine',
          '1':'judgment',
          '0402':'branch',
          '0403':'order',
          '0405':'supplements',
          '0406':'unsubscribe',
          '0407':'trainBook',
          '0408':'organizationOrder'
        },
      }
    },

    created() {
      this.minHeight =this.tableHeigh(464)
      if(this.$store.getters.userToken){
        getUserCompanytAPI().then(res => {
          if (res.data.code === 0) {
            this.trainStatus = res.data.data.trainStatus
            if(this.trainStatus == '1'){
              this.getTrainRouter()
            }else{
              this.getUserFlow()
            }
          }
        })
      }
      
      
    },
    mounted(){
    },
    methods: {
      getUserFlow(){
        getUserFlowAPI().then(res => {
          const list = res.data.data
          if (res.data.code === 0) {
            this.userFlow=list
            const routerList = this.$store.state.user.routerList
            let data = this.userFlowRouter
            let obj = {}
            Object.keys(data).forEach(function(key){
              if(list.flowCode == key &&list.status ==='0'){
                obj[key] = data[key]
                return
              }else{
                if(list.status === '0'){//征订季开启
                  routerList.forEach(item=>{
                    if(item ==key){
                      obj[item] = data[key]
                      return
                    }
                  })
                }else{
                  routerList.forEach(item=>{
                    if(item =='0407'){
                      obj[item] = data[key]
                      return
                    }
                  })
                }
              }
            })
            this.linkIndex = Object.keys(obj)[0]
          }
        })
      },
      // 机构用户路由
      getTrainRouter(){
        const routerList = this.$store.state.user.routerList
          routerList.forEach(item=>{
            if(item =='0408'){
              this.linkIndex = '0408'
              return
            }
          })
          this.switchData = {
            '0408':"机构教材订购"
          }
      },
      // 搜索列表
      searchResult(data){
        // this.$emit('search',data)
        this.listQuery.title = data
        this.listQuery.pageNum = 1
        this.$refs.searchAct.getActList(this.listQuery)
      },
    },
    components: {ComHeader, LoginFooter}
  };
</script>
<style scoped lang="less">
  [v-cloak] {
    display: none;
  }
  .bg {
    background: #f4f5f9;
    width: auto;
    margin: 0 auto;
  }
  .personal {
    width: 1200px;
    margin: 0 auto;
    font-size: 16px;
    color: #333;
    background: #fff;
    margin-bottom: 30px;
  }
  .userInfo {
    width: 100%;
    height: 165px;
    border-bottom: 8px solid #f4f5f9;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  .userInfo img {
    height: 72px;
    width: 72px;
    border-radius: 50%;
  }
  .userInfo h1 {
    font-size: 16px;
    height:30px;
    font-family: 'Microsoft YaHei';
    font-weight: bold;
    color: rgba(0, 0, 0, 1);
    padding-top: 8px;
    padding-bottom: 4px;
    line-height: 30px;
  }
  .userInfo h2 {
    font-size: 14px;
    height: 14px;
    line-height: 14px;
    font-family: 'Microsoft YaHei';
    font-weight: 400;
    color: rgba(170, 170, 170, 1);
  }
  .personal-title {
    line-height: 64px;
    height: 64px;
    padding-left: 36px;
    font-weight: bold;
    /* border-bottom: 1px solid #eee; */
  }
  .content-manage, .account-set, .teach-up {
    padding: 16px 0;
    padding-left: 36px;
    border-top: 1px solid #eee;
  }
  .nav-title {
    line-height: 36px;
    font-size: 16px;
    font-weight: bold;
  }
  .nav-link {
    display: block;
    font-size: 14px;
    line-height: 34px;
  }
  .nav-link:hover {
    color: #3279FF;
  }
  .work-container {
    padding: 0;
    background: #f4f5f9;
  }
</style>
