<template>
  <!--教材推荐管理-->
  <div>
    <workBench></workBench>
    <div class="recommend">

      <!--筛选-->
      <div class="re_screen">
        <ul>
          <li>
            <div class="re_screenTit"><h1>状态</h1>:</div>
            <div class="re_screenCont">
              <span :class="recomStatus == 0? 'screenCont_hover':''" @click="changeStatus(0)">已提交</span>
              <span :class="recomStatus == 1? 'screenCont_hover':''" @click="changeStatus(1)">未提交</span>
              <span :class="recomStatus == 2? 'screenCont_hover':''" @click="changeStatus(2)">已退回</span>
            </div>
          </li>
          <li>
            <div class="re_screenTit"><h1>学期</h1>:</div>
            <div class="re_screenCont">
              <span class="screenCont_hover">当前学期</span>
              <span>其他学期</span>
            </div>
          </li>
          <li>
            <div class="re_screenTit"><h1>学级</h1>:</div>
            <div class="re_screenCont">
              <span :class="acaStatus ==  'null'?'screenCont_hover':''" @click="changeAca('null')">全部</span>
              <span :class="acaStatus == aca?'screenCont_hover':''" v-for="(acade,aca) in academicList" :key="aca"
                    v-if="!isMore['aca']?aca<2:aca<academicList.length" @click="changeAca(aca,acade)">{{acade}}</span>
              <span v-if="academicList.length>2" @click="moreBtn('aca')">{{isMore['aca'] ? '收起' : '更多'}}<img
                src="@/assets/img/more2.png" alt="" :class="isMore['aca']?'inverted':''"></span>
            </div>
          </li>
          <li>
            <div class="re_screenTit"><h1>专业</h1>:</div>
            <div class="re_screenCont">
              <span :class="majStatus =='null'?'screenCont_hover':''" @click="changeMaj('null')">全部</span>
              <span :class="majStatus == maj?'screenCont_hover':''" v-for="(major,maj) in majorList" :key="maj"
                    v-if="!isMore['maj']?maj<2:maj<majorList.length" @click="changeMaj(maj,major)">{{major.majorName}}</span>
              <span v-if="majorList.length>2" @click="moreBtn('maj')">{{isMore['maj'] ? '收起' : '更多'}}<img
                src="@/assets/img/more2.png" alt="" :class="isMore['maj']?'inverted':''"></span>
            </div>
          </li>
           <!-- v-if="isOpen" -->
          <li>
            <div class="re_screenTit"><h1>培养层次</h1>:</div>
            <div class="re_screenCont">
              <span :class="traStatus == 'null'?'screenCont_hover':''" @click="changeTra('null')">全部</span>
              <span :class="traStatus == tra?'screenCont_hover':''"  v-for="(train,tra) in trainList" :key="tra"
                    v-if="!isMore['tra']?tra<2:tra<trainList.length"  @click="changeTra(tra,train)">{{train.name}}</span>
              <span v-if="trainList.length>2" @click="moreBtn('tra')">{{isMore['tra'] ? '收起' : '更多'}}<img
                src="@/assets/img/more2.png" alt="" :class="isMore['tra']?'inverted':''"></span>
            </div>
          </li>
          <!-- <li v-for="(item,index) in isOpen?list:listOpen" :key="index">
            <div class="re_screenTit"><h1>{{index}}</h1>:</div>
            <div class="re_screenCont">
              <span class="screenCont_hover">全部</span>
              <span v-for="(itChild,inIC) in item" :key="inIC"
                    v-if="!isMore[index]?inIC<8:inIC<item.length">{{itChild}}</span>
              <span v-if="item.length>8" @click="moreBtn(index)">{{isMore[index] ? '收起' : '更多'}}<img
                src="@/assets/img/more2.png" alt="" :class="isMore[index]?'inverted':''"></span>
            </div>
          </li> -->

        </ul>
        <div class="re_open" @click="openBtn">
          <h2>{{isOpen ? '收起' : '展开'}}</h2>
          <span class="typeImg">
                <img src="@/assets/img/bom.png" alt="" :class="isOpen?'inverted':''"><!--
                <img src="@/assets/img/top.png" alt="" v-if="isShowChild&&curType==item.id">
                  <img src="@/assets/img/bom.png" alt="" v-if="!isShowChild&&curType==item.id">-->
          </span>
        </div>
      </div>
      <!--提交按钮-->
      <!-- <div class="re_Submission">
        <span>提交</span>
      </div> -->
      <!--列表-->
      <div class="re_list">
        <div class="reList_item" v-for="(item,index) in bookRecomList" :key="index">
          <!-- <div class="item_tit">机械设备装配与自动化控制（初中）</div> -->
          <div class="item_tit">{{index}}</div>
          <!--二级审核人-->
          <!-- <div class="item_list">
            <ul class="item_Olist">
              <li>01</li>
              <li>18级</li>
              <li>机械系</li>
              <li>机械基础（<h1>3</h1>）</li>
              <li><span>展开</span><span>选择</span></li>
            </ul>
            <ul class="item_Tlist">
              <li>
                <div class="item_img">
                  <img src="@/assets/img/shu1.png" alt="">
                </div>
                <div class="item_name">
                  <h1>待定教材</h1>
                  <p>机械基础学生指导用书系列书系列</p>
                  <p>作者：罗江红</p>
                </div>
                <div class="item_recom">
                  <h1>推荐人：李树杰</h1>
                  <p><span>推荐理由</span>：{{filterWord('这本书不错，可以推荐给您读一读', 15)}}</p>
                </div>
                <div class="item_explain">
                  <span><h1>说明</h1>：{{filterWord('此教教材与实际教学目 标不东方嘉盛快递费检索都', 14)}}... <h2 @click="lookDetail">查看详情>></h2></span>
                </div>
                <div class="item_btn">
                  <span  class="return" @click="returnBtn">退回</span>
                </div>
              </li>
              <li>
                <div class="item_img">
                  <img src="@/assets/img/shu1.png" alt="">
                </div>
                <div class="item_name">
                  <h1>待定教材</h1>
                  <p>机械基础学生指导用书系列书系列</p>
                  <p>作者：罗江红</p>
                </div>
                <div class="item_recom">
                  <h1>推荐人：李树杰</h1>
                  <p><span>推荐理由</span>：{{filterWord('这本书不错，可以推荐给您读一读', 15)}}</p>
                </div>
                <div class="item_explain">
                  <span><h1>说明</h1>：{{filterWord('此教教材与实际教学目 标不东方嘉盛快递费检索都', 14)}}... <h2>查看详情>></h2></span>
                </div>
                <div class="item_btn">
                  <span  class="return">退回</span>
                </div>
              </li>
              <li>
                <div class="item_img">
                  <img src="@/assets/img/shu1.png" alt="">
                </div>
                <div class="item_name">
                  <h1>待定教材</h1>
                  <p>机械基础学生指导用书系列书系列</p>
                  <p>作者：罗江红</p>
                </div>
                <div class="item_recom">
                  <h1>推荐人：李树杰</h1>
                  <p><span>推荐理由</span>：{{filterWord('这本书不错，可以推荐给您读一读', 15)}}</p>
                </div>
                <div class="item_explain">
                  <span><h1>说明</h1>：{{filterWord('此教教材与实际教学目 标不东方嘉盛快递费检索都', 14)}}... <h2>查看详情>></h2></span>
                </div>
                <div class="item_btn">
                  <span  class="return">退回</span>
                </div>
              </li>
            </ul>
          </div> -->
          <div class="item_list">
            <!--审核人-->
            <!-- <ul class="item_Olist">
              <li>02</li>
              <li>19级</li>
              <li>计算机系</li>
              <li>计算机网络（<h1>1</h1>）</li>
              <li><span>展开</span><span>选择</span><span>退回</span></li>
            </ul>
            <ul class="item_Tlist">
              <li>
                <div class="item_img">
                  <img src="@/assets/img/shu1.png" alt="">
                </div>
                <div class="item_name">
                  <h1>待定教材</h1>
                  <p>机械基础学生指导用书系列书系列</p>
                  <p>作者：罗江红</p>
                </div>
                <div class="item_recom">
                  <h1>推荐人：李树杰</h1>
                  <p><span>推荐理由</span>：{{filterWord('这本书不错，可以推荐给您读一读', 15)}}</p>
                </div>
                <div class="item_explain">
                  <span><h1>说明</h1>：{{filterWord('此教教材与实际教学目 标不东方嘉盛快递费检索都', 14)}}... <h2 @click="lookDetail">查看详情>></h2></span>
                </div>
                <div class="item_btn">
                  <span class="look" @click="submit">提交</span>
                </div>
              </li>
            </ul> -->
            <!--推荐人-->
            <ul class="item_Tlist" v-for="(it,ind) in item" :key="ind">
              <li>
                <div class="item_msg">
                  <h1>课程名称：{{it.courseDesign}}</h1>
                  <p>专业：{{it.majorName}}</p>
                  <p>生源：{{it.studentResource}}</p>
                </div>
                <div class="item_img">
                  <img :src="imgUrl(it.cover)" alt="" @error="imgError(it)">
                  <!-- <img src="@/assets/img/shu1.png" alt=""> -->
                </div>
                <div class="item_name">
                  <h1 v-show="it.resourceId">待定教材</h1>
                  <p v-show="it.resourceId" :title="it.resourceName">{{it.resourceName}}</p>
                  <p v-show="it.resourceId"  :title="it.author">作者：{{it.author}}</p>
                </div>
                <!--<div class="item_recom">
                  <h1>推荐人：李树杰</h1>
                  <p><span>推荐理由</span>：{{filterWord('这本书不错，可以推荐给您读一读', 15)}}</p>
                </div>-->
                <div class="item_explain">
                  <!-- <span><h1>说明</h1>：{{filterWord('此教教材与实际教学目 标不东方嘉盛快递费检索都', 14)}}... <h2>查看详情>></h2></span> -->
                </div>
                <div class="item_btn">
                  <span class="look" v-show="it.resourceId" @click="viewBook(it)">查看</span>
                  <span v-show="recomStatus == 1" class="recommend" @click="recommendBook(it)">推荐</span>
                  <!--<span class="return">退回</span>-->
                </div>
              </li>
            </ul>
            <!-- <ul class="item_Tlist">
              <li>
                <div class="item_msg">
                  <h1>课程名称：机械基础</h1>
                  <p>专业：18机械</p>
                  <p>生源：初中</p>
                </div>
                <div class="item_img">
                  <img src="@/assets/img/shu1.png" alt="">
                </div>
                <div class="item_name">
                  <h1>待定教材</h1>
                  <p>机械基础学生指导用书系列书系列</p>
                  <p>作者：罗江红</p>
                </div>
                <div class="item_explain">
                  <span><h1>说明</h1>：{{filterWord('此教教材与实际教学目 标不东方嘉盛快递费检索都', 14)}}... <h2>查看详情>></h2></span>
                </div>
                <div class="item_btn">
                  <span class="look">查看</span>
                  <span class="recommend">推荐</span>
                </div>
              </li>
            </ul> -->
          </div>

        </div>
      </div>

      <!--弹窗-->
      <div class="infoAlert" v-if="isShowR">

        <div class="infoAlertC">
          <div class="infoAlertT">
            <h1>提示</h1>
            <span @click="isShowR=false">×</span>
          </div>
          <div class="isTypeTwo" v-if="isType==1"><h1>说明</h1>：此教教材与实际教学目标不相符请重新选择，此教教材与实际教学目标不相符请重新选择，此教教材与实际教学目标不相符请重新选择，此教教材与实际教学目标不相符请重新选择，此教教材与实际教学目标不相符请重新选择，此教教材与实际教学目标不相符请重新选择。
          </div>
          <div class="isTypeTwo" v-if="isType==2">
            <p>如不使用该教材，教师将重新发起推荐</p>
            <div class="isTypeinput"><span>退回理由：</span><input type="text"></div>
          </div>
          <div class="isTypeTwo" v-if="isType==3">
            <div class="submitCont">确定要使用该教材吗？</div>
          </div>


          <div class="infoevaluateB">
            <span class="commit" @click="isShowR=false">确定</span>
            <span class="cancel" @click="isShowR=false" v-if="isType!=1">取消</span>
          </div>
        </div>

      </div>
    </div>
  </div>

</template>
<script>
import {getBookRecomListAPI,getAcademicListAPI,getMajorListAPI,getTrainListAPI} from '@/api/workbench/recommend.js';
  import { isBindAPI} from "@/api/resources.js";
  export default {
    data() {
      return {
        status:1,
        recomStatus:1,
        lsitQuery:{
          semester:'',
          academicLevel:'',
          majorId:'',
          basicPlanId:'',
        },
        bookRecomList:{},
        trainQuery:{

        },
        academicList:[],
        majorList:[],
        trainList:[],
        isMore: {
          aca:false,
          maj:false,
          tra:false
        },
        acaStatus:'null',
        majStatus:'null',
        traStatus:'null',
        isOpen: false,
        isShowR:false,
        isType:2,

      };
    },
    created() {
      this.getAcademicList()
      this.getMajorList()
      this.getTrainList()
    },
    mounted() {
      const query = this.$route.query

      if(query&&query.status == 'already'){
        this.status = 0
        this.recomStatus = 0
        this.getBookRecomList()
      }else{
        this.getBookRecomList()
      }

    },
    methods: {
      imgError(item) {
       item.cover = '/img/01-图书.png'
      },

      // 获取数据列表
      getAcademicList(){
        getAcademicListAPI().then(res=>{
          if(res.data.code == 0 ){
            this.academicList = res.data.data
          }
        })
      },
      // 专业列表
      getMajorList(){
        getMajorListAPI().then(res=>{
          if(res.data.code == 0 ){
            this.majorList = res.data.data
          }
        })
      },
      // 培养层次列表
      getTrainList(){
        getTrainListAPI(this.trainQuery).then(res=>{
          if(res.data.code == 0 ){
            this.trainList = res.data.data
          }
        })
      },
      // 教材推荐列表
      getBookRecomList(){
        getBookRecomListAPI(this.lsitQuery,this.status).then(res=>{

          if(res.data.code == 0){
            this.bookRecomList = res.data.data

          }

        })
      },




      // 按钮方法
      // 展开收起
      moreBtn(val) {
        this.isMore[val] = !this.isMore[val];
      },
      // 更改列表状态
      changeStatus(index){
        this.status = index
        this.recomStatus = index
        this.getBookRecomList()
      },
      // 更改学级状态
      changeAca(index,value){
        value?this.lsitQuery.academicLevel = value:this.lsitQuery.academicLevel = ''
        value?this.trainQuery.academicLevel = value:this.trainQuery.academicLevel = ''
        this.lsitQuery.basicPlanId = ''
        this.acaStatus = index
        this.traStatus = 'null'
        this.getTrainList()
        this.getBookRecomList()
      },
      // 更改专业状态
      changeMaj(index,value){
        if(value){
          this.lsitQuery.majorId = value.majorId
          this.trainQuery.majorId = value.majorId
        }else{
          this.lsitQuery.majorId = ''
          this.trainQuery.majorId = ''
        }
        this.lsitQuery.basicPlanId = ''
        this.majStatus = index
        this.traStatus = 'null'
        this.getTrainList()
        this.getBookRecomList()
      },
      // 更改培养层次
      changeTra(index,value){
        value? this.lsitQuery.basicPlanId = value.basicPlanId:this.lsitQuery.basicPlanId = ''
        this.traStatus = index
        this.getBookRecomList()
      },

      // 查看书籍
      viewBook(it){
        isBindAPI({oid: it.resourceId}).then(res => {
            if (res.data.status) {
              if (res.data.data) {//绑定资源
                let routeUrl1 = this.$router.resolve({
                  path: "/resources/info",
                  query: {id: it.resourceId}
                });
                window.open(routeUrl1.href, '_blank');
                //this.$router.push({path:'/resources/info',query:{id:item.id}});
              } else {//没有绑定
                let routeUrl2 = this.$router.resolve({
                  path: "/resources/vocation",
                  query: {id: it.resourceId}
                });
                window.open(routeUrl2.href, '_blank');
                //this.$router.push({path:'/resources/vocation',query:{id:item.id}});
              }

            }
          })
      },
      // 推荐
      recommendBook(it){

        const info = {
          lessonId :it.lessonId,
          listId:it.id,
          resourceType:1,
          searchWord: it.courseDesign
        }
        window.localStorage.setItem('recommend',JSON.stringify(info))
        this.$router.push({path: '/materialType', query: {searchWord: it.courseDesign}})
      },
      openBtn() {
        this.isOpen = !this.isOpen;
      },
      /*查看详情*/
      lookDetail(val){
        this.isShowR=true;
        this.isType=1;
      },
      /*退回*/
      returnBtn(val){
        this.isShowR=true;
        this.isType=2;
      },
      /*提交*/
      submit(val){
        this.isShowR=true;
        this.isType=3;
      },

    },
    components: {},
  };
</script>
<style scoped lang="less">
  .recommend {
    width: 100%;
    background: #fff;
    overflow: hidden;
    height: auto;
    /*筛选*/
    .re_screen {
      padding: 27px 27px 0px 27px;
      overflow: hidden;
      ul {
        li {
          width: 100%;
          display: flex;
          justify-content: space-between;
          .re_screenTit {
            width: 85px;
            font-size: 14px;
            color: #454545;
            line-height: 34px;
            height: 34px;
            display: flex;
            justify-content: flex-start;
            h1 {
              width: 61px;
              text-align: justify;
              text-justify: distribute-all-lines;
              font-weight: bold;
            }
            h1:after {
              content: '.';
              width: 100%;
              display: inline-block;
              overflow: hidden;
              height: 0;
            }
          }
          .re_screenCont {
            width: 830px;
            font-size: 14px;
            color: #454545;
            line-height: 34px;
            span {
              margin-right: 30px;
              display: inline-block;
              cursor: pointer;
            }
            .screenCont_hover {
              color: #3279FF;
              font-weight: bold;

            }
            .inverted {
              transform: rotate(180deg);
              -ms-transform: rotate(180deg); /* Internet Explorer */
              -moz-transform: rotate(180deg); /* Firefox */
              -webkit-transform: rotate(180deg); /* Safari 和 Chrome */
              -o-transform: rotate(180deg); /* Opera */

            }
          }

        }
      }
      .re_open {
        float: right;
        width: 100px;
        line-height: 20px;
        font-size: 14px;
        font-weight: bold;
        color: rgba(50, 121, 255, 1);
        display: flex;
        justify-content: flex-end;
        align-items: center;
        cursor: pointer;
        h2 {
          float: left;
          padding-right: 3px;font-size: 14px;
          font-weight: bold;
        }
        .typeImg {
          padding-top: 0;;
          margin-top: -4px;
          img {
            padding-top: 0;
          }
          .inverted {
            transform: rotate(180deg);
            -ms-transform: rotate(180deg); /* Internet Explorer */
            -moz-transform: rotate(180deg); /* Firefox */
            -webkit-transform: rotate(180deg); /* Safari 和 Chrome */
            -o-transform: rotate(180deg); /* Opera */

          }
        }
      }
    }
    /*提交按钮*/
    .re_Submission {
      width: 100%;
      text-align: right;
      padding-top: 32px;
      padding-bottom: 20px;
      span {
        margin-right: 27px;
        width: 89px;
        height: 30px;
        background: rgba(50, 121, 255, 1);
        border-radius: 4px;
        cursor: pointer;
        text-align: center;
        line-height: 30px;
        font-size: 14px;
        display: inline-block;
        color: #fff;
      }
    }
    /*列表数据*/
    .re_list {
      min-height: 300px;
      margin: 0 27px 27px 27px;
      border: 1px solid rgba(238, 238, 238, 1);
      .reList_item {
        font-size: 14px;
        font-weight: bold;
        color: rgba(69, 69, 69, 1);
        line-height: 30px;
        .item_tit {
          width: 100%;
          height: 56px;
          line-height: 56px;
          text-align: center;
          background: rgba(250, 250, 250, 1);

        }
        .item_list {
          border-top: 1px solid rgba(238, 238, 238, 1);
          .item_Olist {
            border: 1px solid #fff;
            background: #F3F8FF;
            height: 42px;
            line-height: 42px;
            li {
              float: left;
              display: block;
              text-align: center;
              border-right: 1px solid rgba(238, 238, 238, 1);
              h1 {
                display: inline-block;
                color: #EB666B
              }
              span {
                color: #3279FF;
                padding: 0 12px;
                cursor: pointer;
              }
            }
            li:nth-child(1) {
              width: 122px;
            }
            li:nth-child(2) {
              width: 140px;
            }
            li:nth-child(3) {
              width: 200px;
            }
            li:nth-child(4) {
              width: 222px;
            }
            li:last-child {
              width: 230px;
              border-right: none;
            }

          }
          .item_Tlist {
            li {
              border-top: 1px solid #EEEEEE;
              padding: 20px 0px 20px 50px;
              display: flex;
              justify-content: flex-start;
              /*border-bottom: 1px solid #EEEEEE;*/
              align-items: center;
              .item_img {
                width: 61px;
                height: 82px;
                img {
                  width: 61px;
                  height: 82px;
                }
              }
              .item_name {
                width: 170px;
                padding-left: 15px;
                h1 {
                  font-size: 16px;
                  font-weight: 400;
                  color: rgba(51, 51, 51, 1);
                  line-height: 18px;
                  height: 37px;
                  text-overflow: ellipsis;
                  overflow: hidden;
                  white-space: nowrap;
                }
                p {
                  font-size: 14px;
                  font-weight: 400;
                  color: rgba(102, 102, 102, 1);
                  line-height: 18px;
                  height: 23px;
                  text-overflow: ellipsis;
                  overflow: hidden;
                  white-space: nowrap;
                }
              }

              .item_recom {
                padding-left: 35px;
                width: 170px;
                line-height: 24px;
                font-size: 14px;
                color: #666666;

                h1 {
                  text-overflow: ellipsis;
                  overflow: hidden;
                  white-space: nowrap;
                  padding-top: 5px;
                }
                p {
                  span {
                    color: #3279FF
                  }
                  font-weight: normal;
                }
              }
              .item_explain {
                padding-left: 35px;
                width: 180px;
                color: #666;
                font-size: 14px;
                font-weight: normal;
                display: flex;
                align-items: center;
                h1 {
                  display: inline-block;
                  color: #02B4D0;
                }
                h2 {
                  display: inline;
                  color: #EB666B;
                  cursor: pointer; font-size: 14px;
                  font-weight: normal;
                }
              }
              .item_btn {
                width: 150px;
                padding-left: 34px;
                display: flex;
                align-items: center;
                justify-content:center;
                span{
                  display: inline-block;
                  width:60px;
                  height:28px;
                  line-height: 28px;
                  text-align: center;
                  border-radius: 3px;
                  font-size: 12px;
                  font-weight: 400;
                  cursor: pointer;
                  margin: 0 5px;
                }
                .return {
                  background: rgba(255, 240, 241, 1);
                  border: 1px solid rgba(255, 213, 215, 1);

                  color: rgba(235, 102, 107, 1);

                }
                /*推荐人*/
                .look{

                  background:rgba(236,245,255,1);
                  border:1px solid rgba(198,226,255,1);
                  color:rgba(64,158,255,1);
                }
                .recommend{
                  background:rgba(235,252,255,1);
                  border:1px solid rgba(208,249,255,1);
                  color:rgba(2,180,208,1);
                }

              }
              /*推荐人*/
              .item_msg {
                width: 170px;
                padding-right: 30px;
                h1 {
                  font-size: 16px;
                  font-weight: 400;
                  color: rgba(51, 51, 51, 1);
                  line-height: 18px;
                  height: 37px;
                  text-overflow: ellipsis;
                  overflow: hidden;
                  white-space: nowrap;
                }
                p {
                  font-size: 14px;
                  font-weight: 400;
                  color: rgba(102, 102, 102, 1);
                  line-height: 18px;
                  height: 23px;
                  text-overflow: ellipsis;
                  overflow: hidden;
                  white-space: nowrap;
                }
              }
            }
          }
        }

      }
    }




    /*弹出框*/
    .infoAlert {
      width: 100%;
      height: 100%;
      position: fixed;
      top: 0;
      left: 0;
      background: rgba(0, 0, 0, 0.2);
      display: flex;
      align-items: center;
      justify-content: center;

      .infoAlertC {
        width: 482px;
        height: auto;
        background: rgba(255, 255, 255, 1);
        box-shadow: 0px 2px 8px 0px rgba(170, 170, 170, 0.49);
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-bottom: 30px;
        overflow: hidden;
        .infoAlertT {
          width: 452px;
          height: 36px;
          padding: 0 15px;
          background: rgba(244, 244, 244, 1);
          display: flex;
          justify-content: space-between;
          line-height: 36px;
          h1 {
            font-size: 14px;
            font-family: "Microsoft Yahei","simsun","arial","tahoma";
            font-weight: bold;
            color: rgba(68, 68, 68, 1);
          }
          span {
            color: #999999;
            font-size: 20px;
            cursor: pointer;

          }

        }
        .isTypeTwo {
          width: 402px;
          margin: 32px auto 20px;
          font-size: 14px;
          color: #454545;
          line-height: 26px;
          a {
            color: #3279FF;
          }
          h1{
            font-size: 14px;
            display: inline-block;
            font-weight: bold;
          }
          p{font-size:14px;
            font-weight:400;
            color:rgba(102,102,102,1);
            line-height:30px;
            padding-bottom: 10px;
          }
          .isTypeinput{
            span{
              font-size:14px;
              font-weight:400;
              color:rgba(102,102,102,1);
              line-height:40px;
            }
            input{
              float: right;
              width:316px;
              height:38px;
              background:rgba(255,255,255,1);
              border:1px solid rgba(220,223,230,1);
              border-radius:3px;

            }
          }
          .submitCont{
            width: 100%;
            text-align:center;
            font-size:18px;
          }
        }
        .isTypeTwoBtn {
          width: 100%;
          display: flex;
          justify-content: center;
          .commit {
            display: inline-block;
            cursor: pointer;
            width: 96px;
            height: 32px;
            background: rgba(50, 121, 255, 1);
            border-radius: 4px;
            font-size: 12px;
            font-family: "Microsoft Yahei","simsun","arial","tahoma";
            font-weight: 400;
            color: rgba(255, 255, 255, 1);
            line-height: 32px;
            text-align: center;
            margin-right: 5px;
          }

        }
        /*p {
          width: 378px;
          font-size: 18px;
          font-family: "Microsoft Yahei","simsun","arial","tahoma";
          font-weight: 400;
          color: rgba(69, 69, 69, 1);
          margin-top: 40px;
          margin-bottom: 25px;
          line-height: 30px;
          a {
            color: #3279FF;

          }
        }*/
        .infoAlertB {
          width: 96px;
          height: 32px;
          background: rgba(50, 121, 255, 1);
          border-radius: 4px;
          font-size: 12px;
          font-family: "Microsoft Yahei","simsun","arial","tahoma";
          font-weight: 400;
          color: rgba(255, 255, 255, 1);
          text-align: center;
          line-height: 32px;
          cursor: pointer;

        }

        .errorMsg {
          width: 444px;
          height: 20px;
          padding: 0;
          margin-top: 5px;
          text-align: left;
          font-size: 12px;
          color: #f40303;
        }
        .infoevaluateB {
          width: 402px;
          margin: 0 auto;
          display: flex;
          justify-content: flex-end;
          /*margin-top: 20px;*/
          .commit {
            display: inline-block;
            cursor: pointer;
            width: 96px;
            height: 32px;
            background: rgba(50, 121, 255, 1);
            border-radius: 4px;
            font-size: 12px;
            font-family: "Microsoft Yahei","simsun","arial","tahoma";
            font-weight: 400;
            color: rgba(255, 255, 255, 1);
            line-height: 32px;
            text-align: center;
            margin-right: 5px;
          }
          .cancel {
            display: inline-block;
            cursor: pointer;
            width: 94px;
            height: 30px;
            border: 1px solid rgba(220, 223, 230, 1);
            border-radius: 4px;
            font-size: 12px;
            font-family: "Microsoft Yahei","simsun","arial","tahoma";
            font-weight: 400;
            color: rgba(153, 153, 153, 1);
            line-height: 30px;
            text-align: center;
          }
        }
      }
    }
  }

</style>
