<template>
  <div class="yizhu">
    <el-container>
      <el-main>
        <!-- <div class="nav-buttons-container">
          <el-button v-if="authBtns.map(i => i.idName).indexOf('printbtn') >= 0" @click="printBtn"> {{authBtns.filter(i => i.idName=='printbtn')[0].name}}<i v-if="authBtns.filter(i => i.idName=='printbtn').length>0 && authBtns.filter(i => i.idName=='printbtn')[0].icon" :class="[authBtns[authBtns.map(i => i.idName).indexOf('printbtn')].icon, 'el-icon--right']"></i></el-button>
          <el-button v-if="authBtns.map(i => i.idName).indexOf('uploadbtn') >= 0" @click="uploadBtn"> {{authBtns.filter(i => i.idName=='uploadbtn')[0].name}}<i v-if="authBtns.filter(i => i.idName=='uploadbtn').length>0 && authBtns.filter(i => i.idName=='uploadbtn')[0].icon" :class="[authBtns[authBtns.map(i => i.idName).indexOf('uploadbtn')].icon, 'el-icon--right']"></i></el-button>
          <el-button v-if="authBtns.map(i => i.idName).indexOf('checkbtn') >= 0" @click="checkBtn"> {{authBtns.filter(i => i.idName=='checkbtn')[0].name}}<i v-if="authBtns.filter(i => i.idName=='checkbtn').length>0 && authBtns.filter(i => i.idName=='checkbtn')[0].icon" :class="[authBtns[authBtns.map(i => i.idName).indexOf('checkbtn')].icon, 'el-icon--right']"></i></el-button>
          <el-button v-if="authBtns.map(i => i.idName).indexOf('onlinebtn') >= 0" @click="auditSuccess"> {{authBtns.filter(i => i.idName=='onlinebtn')[0].name}}<i v-if="authBtns.filter(i => i.idName=='onlinebtn').length>0 && authBtns.filter(i => i.idName=='onlinebtn')[0].icon" :class="[authBtns[authBtns.map(i => i.idName).indexOf('onlinebtn')].icon, 'el-icon--right']"></i></el-button>
          <el-button v-if="authBtns.map(i => i.idName).indexOf('outlinebtn') >= 0" @click="auditFaile"> {{authBtns.filter(i => i.idName=='outlinebtn')[0].name}}<i v-if="authBtns.filter(i => i.idName=='outlinebtn').length>0 && authBtns.filter(i => i.idName=='outlinebtn')[0].icon" :class="[authBtns[authBtns.map(i => i.idName).indexOf('outlinebtn')].icon, 'el-icon--right']"></i></el-button>
          <el-button v-if="authBtns.map(i => i.idName).indexOf('setbtn') >= 0" @click="setbookBtn"> {{authBtns.filter(i => i.idName=='setbtn')[0].name}}<i v-if="authBtns.filter(i => i.idName=='setbtn').length>0 && authBtns.filter(i => i.idName=='setbtn')[0].icon" :class="[authBtns[authBtns.map(i => i.idName).indexOf('setbtn')].icon, 'el-icon--right']"></i></el-button>
          <el-button v-if="authBtns.map(i => i.idName).indexOf('searchbtn') >= 0" @click="expressBtn"> {{authBtns.filter(i => i.idName=='searchbtn')[0].name}}<i v-if="authBtns.filter(i => i.idName=='searchbtn').length>0 && authBtns.filter(i => i.idName=='searchbtn')[0].icon" :class="[authBtns[authBtns.map(i => i.idName).indexOf('searchbtn')].icon, 'el-icon--right']"></i></el-button>
        </div> -->

        <el-form inline class="form-inline">
          <template>
            <el-form-item label="用户名:">
              <el-input @keyup.enter.native="handleFilter" v-model="listQuery.userName" clearable></el-input>
            </el-form-item>
            <el-form-item label="图书名称:">
              <el-input @keyup.enter.native="handleFilter" v-model="listQuery.resourceName" clearable></el-input>
            </el-form-item>
            <el-form-item label="部门：">
                <el-col :span="20">
                    <el-select v-model="listQuery.departmentId" placeholder="请选择部门">
                        <el-option label="全部" :value="null">
                        </el-option>
                        <el-option v-for="item in departList" :key="item.id" :label="item.name" :value="item.id">
                        </el-option>
                    </el-select>
                </el-col>
            </el-form-item>
            <el-form-item label="角色：">
                <el-col :span="20">
                    <el-select v-model="listQuery.roleId" placeholder="请选择角色">
                        <el-option label="全部" :value="null">
                        </el-option>
                        <el-option v-for="item in roleList" :key="item.id" :label="item.name" :value="item.id">
                        </el-option>
                    </el-select>
                </el-col>
            </el-form-item>

            <el-form-item label="申请单号:">
              <el-input @keyup.enter.native="handleFilter" v-model="listQuery.applyNumber" clearable></el-input>
            </el-form-item>
            <el-form-item label="申请时间:">
              <el-date-picker v-model="timeLimit" value-format="yyyy-MM-dd" type="daterange" range-separator="至" start-placeholder="开始日期" end-placeholder="结束日期" @keyup.enter.native="handleFilter">
              </el-date-picker>
            </el-form-item>
          </template>
          <el-form-item>
            <el-button @click="handleFilter">检索</el-button><el-button @click="resetFilter">重置</el-button>
          </el-form-item>
        </el-form>

        <template>
          <el-tabs v-model="activeName" type="card" @tab-click="listSatus">
            <el-tab-pane label="所有图书" name="books"></el-tab-pane>
            <el-tab-pane v-for="(item) in status" :key="item" :label="item" :name="item"></el-tab-pane>
          </el-tabs>
        </template>
        <el-table :key='tableKey' :data="list" v-loading="listLoading" element-loading-text="给我一点时间" border highlight-current-row stripe @selection-change="chioceList" >
          <el-table-column type="selection" align="center"></el-table-column>
          <el-table-column type="index" label="序号" width="60" align="center"></el-table-column>
          <el-table-column label="图书名称" min-width="160" align="center">
            <template slot-scope="scope">
              <span>{{scope.row.resourceName}}</span>
            </template>
          </el-table-column>
          <el-table-column label="用户名" min-width="150" align="center">
            <template slot-scope="scope">
              <span>{{scope.row.memberName}}</span>
            </template>
          </el-table-column>
          <el-table-column label="部门" min-width="150" align="center">
            <template slot-scope="scope">
              <span>{{scope.row.departmentName}}</span>
            </template>
          </el-table-column>
          <el-table-column label="角色" min-width="180" align="center">
            <template slot-scope="scope">
              <span>{{scope.row.roleName}}</span>
            </template>
          </el-table-column>
          <el-table-column label="申请单号" min-width="180" align="center">
            <template slot-scope="scope">
              <span>{{scope.row.applyNumber}}</span>
            </template>
          </el-table-column>
          <el-table-column label="申请时间" min-width="120" align="center">
            <template slot-scope="scope">
              <span v-if="scope.row.applyDate">{{scope.row.applyDate.substr(0,10)}}</span>
              <span v-else>——</span>
            </template>
          </el-table-column>
          <el-table-column label="状态" min-width="120" align="center">
            <template slot-scope="scope">
              <span>{{status[scope.row.applyStatus]}}</span>
            </template>
          </el-table-column>
        </el-table>
        <div class="pagination-container">
          <el-pagination @size-change="handleSizeChange" @current-change="handleCurrentChange" :current-page="listQuery.pageNum" :page-sizes="[30,50,100,200,500]" :page-size="listQuery.pageSize" layout="total, sizes, prev, pager, next, jumper" :total="total" align="center">
          </el-pagination>
        </div>
      </el-main>
    </el-container>
  </div>
</template>

<script>
import { getBookListAPI,departListAPI,roleListAPI} from '@/api/backstage/system/bookCoupon'
import { requestMsg, confirm } from '@/utils/publicFunctions'
import { getMultipleSelectionIDs } from '@/filters/getIds'
import store from '@/store'
import { mapGetters } from 'vuex'

export default {
  data() {
    return {
    //   checkVisible:false,
    //   bookVisible:false,
    //   authBtns: [],
      tableKey: 0,
      list: null,
      total: null,
      listLoading: true,
      listQuery: {
        pageNum: 1,
        pageSize: 100,
        schoolName: null,
        userName: null,
        phone: null,
        applyNumber: null
      },
      batchList: [],
      activeName: 'books',
      departList:[],
      status:[// 0：待审核 1：审核中 2：已通过 3：未通过 4：已发货 5：已收货 ,6：已反馈 ,7：已取消
        '待审核',
        '审核中',
        '已通过',
        '未通过',
        '已发货',
        '已收货',
        '已反馈',
        '已取消',
      ],
    //   reviewVal:'',
    //   reviewValTitle:['提交审核中','审核已通过','审核未通过','已发货'
    //   ],
    //   moreFilter:false,
      timeLimit: null,
      roleList:null,
    //   typeList:[],
    //   bookId:[],
    //   formList:{
    //     applyNumber:'',
    //     bookName:'',
    //     expressNumber:'',
    //     expressType:'',
    //     id:''
    //   },
    //   rules:{

    //   }
    }
  },
  computed: {
    // ...mapGetters([
    //   'getNation'
    // ])
  },
  watch: {
    // getNation: function (val) {
    //   this.listQuery.nationsType = val
    //   this.getList()
    // },
  },
  created(){
    // this.authBtns = store.getters.pageBtn[this.$route.meta.routerIds[0]]
  },
  mounted() {
    this.getList()
    this.getDepartList()
    this.getRoleList()
  },
  methods: {

    getList() {
      this.listLoading = true
      getBookListAPI(this.listQuery).then(res => {
        if(res.data.code === 0){
          this.list = res.data.data.list

          this.total = res.data.data.total
        } else {
          this.$message.error('获取数据失败');
        }
        this.listLoading = false
      })
    },
     // 获取部门列表
    getDepartList(){
        departListAPI().then(res => {
          res.data.code === 0
            ? (this.departList = res.data.data.list)
            : this.$message.error("请求出错啦");
        });
    },
     // 获取角色列表
    getRoleList(){
        roleListAPI().then(res => {
          res.data.code === 0
            ? (this.roleList = res.data.data.list)
            : this.$message.error("请求出错啦");

        });
    },
    // 根据tab选择列表
    listSatus(tab,event) { //0：待审核 1：审核中 2：已通过 3：未通过 4：已发货 5：已收货 ,6：已反馈 ,7：已取消
      if (tab.index == 0) {
        this.listQuery.applyStatus = null
      } else{
        this.listQuery.applyStatus = tab.index-1
      }

      this.getList();
    },


    // //导出申请单
    // printBtn(){

    // },
    // //提交审核
    // uploadBtn(){
    //   if(this.batchList.length > 0){// 0：审核中 1：已通过 2：未通过 3：已发货 4：待审核 5：已收货 ,6：已反馈 ,7：待反馈,8：已取消,
    //     const type = this.batchList.every(data => data.applyStatus == 4||data.applyStatus == 2)
    //     if(type){
    //       this.audit(0,'提交审核中')
    //     }else{
    //       this.$message.error('请选择待审核或者未通过进行提交');
    //     }
    //   } else{
    //     this.$message.error('至少选择一条待审核或者未通过数据进行操作');
    //   }
    // },
    // //打开批量审核
    // checkBtn(){       // 0：审核中 1：已通过 2：未通过 3：已发货 4：待审核 5：已收货 ,6：已反馈 ,7：待反馈,8：已取消,
    //   if(this.batchList.length > 0){// 0：审核中 1：已通过 2：未通过  4：待审核
    //       const type = this.batchList.every(data => data.applyStatus == 2 || data.applyStatus == 4) ||this.batchList.every(data => data.applyStatus == 0 || data.applyStatus == 2)
    //                     ||this.batchList.every(data => data.applyStatus == 0 || data.applyStatus == 1)||this.batchList.every(data => data.applyStatus == 1)

    //     if(type) {
    //       this.checkVisible = true;
    //       this.reviewVal = ''
    //     }else if(this.batchList.every(data => data.applyStatus == 1 || data.applyStatus == 2)){
    //       this.$message.error('不能同时选择已通过和未通过进行批量审核操作');
    //     }else{
    //       this.$message.error('请选择审核中,已通过，未通过，待审核数据进行批量审核操作');
    //     }
    //   }
    //   else{
    //     this.$message.error('至少选择一条审核中,已通过，未通过，待审核数据进行操作');
    //   }
    // },

    // // 批量审核状态
    // reviewConfirm(){

    //   if(this.reviewVal){
    //     if(this.batchList.length > 0 ){
    //     const ids = getMultipleSelectionIDs(this.batchList);
    //     const data = {
    //       applyStatus:this.reviewVal,
    //       ids:ids
    //     }
    //     this.ToExamine(data)
    //     }else{
    //       const data = {
    //         applyStatus:this.reviewVal,
    //         ids:this.bookId
    //       }
    //       this.ToExamine(data)
    //     }
    //   }else{
    //     this.$message.error('请选择状态进行操作');
    //   }
    // },
    // // 确定审核
    // ToExamine(data){

    //   batchToExamineAPI(data).then(res => {

    //     if(res.data.code === 0){
    //       this.$message.success(this.reviewValTitle[this.reviewVal]);
    //       this.checkVisible = false;
    //       this.listQuery.applyStatus = this.listQuery.applyStatus
    //       this.getList();
    //     }
    //   })
    // },


    // //审核通过
    // auditSuccess(){
    //   if(this.batchList.length > 0){// 0：审核中 1：已通过 2：未通过 3：已发货 4：待审核 5：已收货 ,6：已反馈 ,7：待反馈,8：已取消,
    //     const type = this.batchList.every(data => data.applyStatus == 0||data.applyStatus == 4)
    //     if(type){
    //       this.audit(1,'审核通过')
    //     }else{
    //       this.$message.error('请选择审核中或者待审核进行提交');
    //     }
    //   } else{
    //     this.$message.error('至少选择一条审核中或者待审核数据进行操作');
    //   }

    // },
    // //审核不通过
    // auditFaile(){
    //   if(this.batchList.length > 0){// 0：审核中 1：已通过 2：未通过 3：已发货 4：待审核 5：已收货 ,6：已反馈 ,7：待反馈,8：已取消,
    //     const type = this.batchList.every(data => data.applyStatus == 0||data.applyStatus == 4)
    //     if(type){
    //       this.audit(2,'审核未通过')
    //     }else{
    //       this.$message.error('请选择审核中或者待审核进行提交');
    //     }
    //   } else{
    //     this.$message.error('至少选择一条审核中或者待审核数据进行操作');
    //   }
    // },
    // // 审核
    // audit(status,message){
    //     const ids = getMultipleSelectionIDs(this.batchList);

    //   const data = {
    //     applyStatus:status,
    //     ids:ids
    //   }
    //   batchToExamineAPI(data).then(res => {

    //     if(res.data.code === 0){
    //       this.$message.success(message);
    //       this.listQuery.applyStatus = this.listQuery.applyStatus
    //       this.getList();
    //     }
    //   })
    // },

    // // 设置发书
    // setbookBtn(){
    //   if(this.batchList.length > 0){// 0：审核中 1：已通过 2：未通过 3：已发货 4：待审核 5：已收货 ,6：已反馈 ,7：待反馈,8：已取消,
    //     const type = this.batchList.every(data =>  data.applyStatus == 1 )
    //     if(type) {
    //       this.bookVisible = true;

    //       this.formList.bookName = this.batchList[0].resourceName
    //       this.formList.applyNumber = this.batchList[0].applyNumber
    //       this.formList.id = this.batchList[0].id
    //     } else{
    //       this.$message.error('请选择已通过数据进行发书操作');
    //     }
    //   } else{
    //     this.$message.error('至少选择一条已通过数据进行操作');
    //   }
    // },
    // // 确定发书
    // submitFrom(){

    //   setDeliveBookAPI(this.formList).then(res=>{
    //     if(res.data.code === 0){
    //       this.bookVisible = false
    //       this.formList ={}
    //       this.listQuery.applyStatus = this.listQuery.applyStatus
    //       this.getList();
    //     }
    //   })
    // },
    // // 查快递
    // expressBtn(){

    // },
    // // 查看
    // viewBtn(){

    // },
    // // 发书
    // setbookOneBtn(row){

    //   this.formList.bookName = row.resourceName
    //   this.formList.applyNumber = row.applyNumber
    //   this.formList.id = row.id
    //   this.bookVisible = true;
    // },
    //  // 单个进行审核
    // checkOneBtn(row){
    //   this.batchList.push(row)

    //   this.bookId.push(row.id)
    //   this.checkVisible = true;
    //   this.reviewVal = ''
    // },

    // 获取勾选数据
    chioceList(val) {
      this.batchList = val;
    },
    handleFilter(){//检索
      if(this.timeLimit){
        this.listQuery.beginTime = this.timeLimit[0]
        this.listQuery.endTime = this.timeLimit[1]
      } else {
        this.listQuery.beginTime = null
        this.listQuery.endTime = null
      }
      // this.listQuery.diyTypeId = [];
      // this.listQuery.diyTypeCode = this.$refs.tree.getCheckedNodes().map(node => node.code).join(',');
      // this.$refs.tree.getCheckedNodes().map(el => {//自定义标签

      //   this.listQuery.diyTypeId.push(el.id)
      // })

      // this.listQuery.diyTypeId = this.$refs.tree.getCheckedNodes().map(node => this.listQuery.diyTypeId.push(node.id))
    //   store.dispatch('SetSupplierSerKeys',this.listQuery).then(res => {

    //   })
      this.listQuery.pageNum = 1
      this.listQuery.applyStatus = this.listQuery.applyStatus
      this.getList()
    },
    resetFilter(){//重置
      this.timeLimit = []
      this.listQuery = {
        pageNum: 1,
        pageSize: 100,
        schoolName: null,
        userName: null,
        phone: null,
        applyNumber: null
      }
      this.getList()
    },
    handleSizeChange(val) {
      this.listQuery.pageSize = val
      this.listQuery.applyStatus = this.listQuery.applyStatus
      this.getList()
    },
    handleCurrentChange(val) {
      this.listQuery.pageNum = val
      this.listQuery.applyStatus = this.listQuery.applyStatus
      this.getList()
    }
  }
}
</script>

<style>
.el-tabs__header,.el-tabs--card>.el-tabs__header{
  border: 0;
  margin-bottom: 0;
}
.yizhu .el-dialog__body {
  padding: 30px 55px !important;
}
</style>
