<template>
  <div class="createPost-container">
    <div class="createPost-main-container">
      <div class="backBtn" @click="backBtn">
        <i class="el-icon-arrow-left"></i>
        返回
      </div>
      <el-form

        :model="formList"
        label-position="right"
        label-width="120px"
        class="form-container"
      >
        <el-form-item label="图书名称" prop="resourceName">
          <el-col :span="12">
            <el-input v-model="formList.resourceName"  disabled></el-input>
          </el-col>
        </el-form-item>
        <el-form-item label="出版社" prop="press">
          <el-col :span="12">
            <el-input v-model="formList.press"  disabled></el-input>
          </el-col>
        </el-form-item>
        <el-form-item label="申请人用户名" prop="memberName">
          <el-col :span="12">
            <el-input v-model="formList.memberName"  disabled></el-input>
          </el-col>
        </el-form-item>
        <el-form-item label="手机号" prop="phone">
          <el-col :span="12">
            <el-input v-model="formList.phone"  disabled></el-input>
          </el-col>
        </el-form-item>
        <el-form-item label="学校" prop="schoolName">
          <el-col :span="12">
            <el-input v-model="formList.schoolName"  disabled></el-input>
          </el-col>
        </el-form-item>
        <el-form-item label="部门" prop="departmentName">
          <el-col :span="12">
            <el-input v-model="formList.departmentName"  disabled></el-input>
          </el-col>
        </el-form-item>
        <el-form-item label="收货地址" prop="address">
          <el-col :span="12">
            <el-input v-model="formList.address"  disabled></el-input>
          </el-col>
        </el-form-item>
        <el-form-item label="申请单号" prop="applyNumber">
          <el-col :span="12">
            <el-input v-model="formList.applyNumber"  disabled></el-input>
          </el-col>
        </el-form-item>
        <el-form-item label="申请时间" prop="aplyData">
          <el-col :span="12">
            <el-input v-model="formList.aplyData"  disabled></el-input>
          </el-col>
        </el-form-item>

        <el-form-item label="申请不通过原因" prop="examineFail" disabled>
             <el-col :span="12">
              <el-input type="textarea" v-model="formList.examineFail"  disabled></el-input>
            </el-col>
          </el-form-item>

        <el-form-item label="快递方式" prop="expressType">
          <el-col :span="12">
            <el-input placeholder="请输入快递方式" v-model="formList.expressType" disabled ></el-input>
          </el-col>
        </el-form-item>
        <el-form-item label="快递单号" prop="expressNumber">
          <el-col :span="6">
            <el-input placeholder="请输入快递单号" v-model="formList.expressNumber" disabled ></el-input>
          </el-col>
        </el-form-item>
      </el-form>
    </div>
  </div>
</template>

<script>
import {
  detailsBookApplyAPI,
  toExamineAPI
} from "@/api/backstage/system/bookCoupon";
export default {
  data() {
    return {
        formList: {
            address:"",
            applyDate:"",
            applyNumber:"",
            applyStatus:"",
            author:"",
            departmentName:"",
            examineFail:"",
            expressNumber:"",
            expressType:"",
            memberName:"",
            phone:"",
            press:"",
            resourceName:"",
            schoolName:"",
        },
    };
  },
  mounted() {
    this.getDetailsList()
  },
  methods: {
    // 获取申请详情
    getDetailsList(){
        const id = this.$route.query.id

        detailsBookApplyAPI(id).then(res=>{
            res.data.code ===0?
            (this.formList= res.data.data)
            :this.$message("获取申请详情出错")
        })
    },
    // 查看返回
    backBtn() {
      this.$router.back();
    }
  }
};
</script>

<style rel="stylesheet/scss" lang="scss" scoped>
@import "src/style/mixin.scss";

.createPost-container {
  position: relative;
  .createPost-main-container {
    padding: 50px;
    .el-dialog__header {
      background: #15d;
      color: #fff;
    }
  }
}
.backBtn {
  margin-bottom: 20px;
  font-weight: bold;
}
.backBtn:hover {
  cursor: pointer;
}
.picture-tip{
  color:gray;
  font-size: 12px;
  margin-top: 7px;
  line-height: 20px;
}
</style>

