<template>
  <div>
    <div class="workswitch">
      <ul>
        <li v-for="(val,index) in switchData" :key="index" :class="curSwitch==index?'curSwitchCss':''"
            @click="linkHref(index,val)">{{val}}
        </li>
      </ul>
    </div>
  </div>
</template>

<script>
import { getUserCompanytAPI,getUserFlowAPI} from '@/api/global'
import Cookies from 'js-cookie';
import store from '../../../store'
  export default {
    name: 'HelloWorld',
    data() {
      return {
        switchData:{ //1：终审， 2：中审， 3：初审， 4：推荐，null：未绑定征订流程
          // '4':'教材推荐',
          // '3':'教材推荐管理',
          // '2':'教材推荐管理',
          // '1':'教材推荐管理',
          // '0402':'分单管理',
          // '0403':'订单管理',
          // '0405':'补订记录',
          // '0406':'退订记录',
          // '0407':'培训教材订购',
        },
        allData:{ //1：终审， 2：中审， 3：初审， 4：推荐，null：未绑定征订流程
          '4':'教材征订',
          '3':'推荐管理',
          '2':'推荐管理',
          '1':'推荐管理',
          '0402':'分单管理',
          '0403':'订单管理',
          '0405':'补订记录',
          '0406':'退订记录',
          '0407':'培训教材订购',
          '0408':"机构教材订购"
        },
        curSwitch: 0,
      }
    },
    created() {

      if(this.$store.getters.userToken){
        getUserCompanytAPI().then(res => {
          if (res.data.code === 0) {
            this.trainStatus = res.data.data.trainStatus
            if(this.trainStatus == '1'){
              this.getTrainRouter()
            }else{
              this.getUserFlow()
              // this.getUserCompanyt()
            }
          }
        })
      }



      
    },
    watch: {},
    mounted(){
      this.judgeType();
    },
    methods: {
      getUserFlow(){
        getUserFlowAPI().then(res => {
          const list = res.data.data
          if (res.data.code === 0) {
            this.$store.dispatch('setUserFlow',list)
            this.userFlow =  list
            const routerList = this.$store.state.user.routerList
            // const flowCode =  Cookies.get('flowCode');
            // const userFlowStatus = Cookies.get('userFlowStatus');
            let data = this.allData
            let obj = {}
            Object.keys(data).forEach(function(key){
              if(list.flowCode == key&&list.status == '0'){
                obj[key] = data[key]
              }else{
                if(list.status === '0'){//征订季开启
                  routerList.forEach(item=>{
                    if(item ==key){
                      obj[item] = data[key]
                      return
                    }
                  })
                }else{
                  routerList.forEach(item=>{
                    if(item =='0407'){
                      obj[item] = data[key]
                      return
                    }
                  })
                }
              }
            })
            if(obj['0408']){
              delete obj['0408']
            }
            this.switchData = obj 
            Cookies.set('flowDepth', list.flowDepth);
            Cookies.set('flowCode', list.flowCode);
            Cookies.set('userFlowStatus', list.status);
          }
        })
      },
      // 机构用户路由
      getTrainRouter(){
        const routerList = this.$store.state.user.routerList
          routerList.forEach(item=>{
            if(item =='0408'){
              this.linkIndex = '0408'
              return
            }
          })
          this.switchData = {
            '0408':"机构教材订购"
          }
      },
      judgeType(){
        let pathUrl=this.$route.path;
        switch (pathUrl){
          case '/workbench/recommend':
            this.curSwitch='4';
            break;
          case '/workbench/examine':
            this.curSwitch='3';
            break;
          case '/workbench/middleExamine':
            this.curSwitch='2';
            break;
          case '/workbench/branch':
            this.curSwitch='0402';
            break;
          case '/workbench/order':
            this.curSwitch='0403';
            break;
          case '/workbench/addOrder':
            this.curSwitch='0403';
            break;
          case '/workbench/supplements':
            this.curSwitch='0405';
            break;
          case '/workbench/unsubscribe':
            this.curSwitch='0406';
            break;
          case '/workbench/trainBook':
            this.curSwitch='0407';
            break;
          case '/workbench/addTrainBook':
            this.curSwitch='0407';
            break;
          case '/workbench/organizationOrder':
            this.curSwitch='0408';
            break;
          case '/workbench/addOrganOrder':
            this.curSwitch='0408';
            break;
          case '/workbench/judgment':
            this.curSwitch='1';
            break;
            
        }
      },
      linkHref(index,val){
        this.curSwitch=index;
        switch (index){
          case '4':
            this.$router.push('/workbench/recommend')
            break;
          case '0402':
            this.$router.push('/workbench/branch')
            break;
          case '3':
            this.$router.push('/workbench/examine')
            break;
          case '0403':
            this.$router.push('/workbench/order')
            break;
          case '0405':
            this.$router.push('/workbench/supplements')
            break;
          case '0406':
            this.$router.push('/workbench/unsubscribe')
            break;
          case '0407':
            this.$router.push('/workbench/trainBook')
            break;
          case '0408':
            this.$router.push('/workbench/organizationOrder')
            break; 
          case '2':
            this.$router.push('/workbench/middleExamine')
            break;
          case '1':
            this.$router.push('/workbench/judgment')
            break;
        }
      },
    },
  }
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped lang="less">
  .workswitch {
    width: auto;
    background: #fff;
    box-shadow: 0px 3px 7px 0px rgba(226, 235, 229, 0.35);
    margin-bottom: 22px;
    ul {
      width: auto;
      height: 60px;
      line-height: 60px;
      display: flex;
      justify-content: flex-start;
      li {
        padding: 0 20px;
        font-size: 14px;
        font-weight: bold;
        color: #333333;
        cursor: pointer;
      }
      .curSwitchCss {
        border-top: 4px solid #2B72F5;
        height: 56px;
        line-height: 52px;
        color: #3279FF;
        background: rgba(43, 114, 245, 0.07);
      }

    }

  }
</style>
