<template>
  <div class="null">暂无数据
  </div>
</template>

<script>

import Cookies from 'js-cookie';
import store from '../../../store'
  export default {
    name: 'nullData',
    data() {
      return {

      }
    },
    created() {

    },
    watch: {},
    mounted(){

    },
    methods: {

    },
  }
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped lang="less">
.null{
    line-height: 60px;
    text-align: center;
    color: #909399;
}
</style>
