<template>
  <!-- <div> -->
    <div class="screen-container">
        <div class="class_name"><span>{{title}}</span>:</div>
        <div class="container" v-if="typeof(listData[0]) !='object'">
            <span v-if="showAll" :class="indexStatus ===  ''?'hover':''" @click="change('','')">全部</span>
            <span :class="indexStatus === String(index)?'hover':''" v-for="(item,index) in listData" :key="index"
                v-if="!isMore['index']?index<len:index<listData.length" @click="change(item,index)">{{item}}</span>
            <span v-if="listData.length>len" @click="moreBtn('index')">{{isMore['index'] ? '收起' : '更多'}}<img
            src="@/assets/img/more2.png" alt="" :class="isMore['index']?'inverted':''"></span>
        </div>
        <div class="container" v-if="typeof(listData[0]) =='object'">
            <span v-if="showAll" :class="indexStatus ===  ''?'hover':''" @click="change({},'')">全部</span>
            <span :class="indexStatus === String(index)?'hover':''" v-for="(item,index) in listData" :key="index"
                v-if="!isMore['index']?index<len:index<listData.length" @click="change(item,index)">{{item[prop]}}</span>
            <span v-if="listData.length>len" @click="moreBtn('index')">{{isMore['index'] ? '收起' : '更多'}}<img
            src="@/assets/img/more2.png" alt="" :class="isMore['index']?'inverted':''"></span>
        </div>

    </div>
  <!-- </div> -->
</template>

<script>
  export default {
    props:{
      title:{//筛选项名称
        type:String
      },
      status:{//选中的索引值
        type:String
      },
      showAll:{//是否显示全部
        type:Boolean
      },
      listData:{//传入由字符串\对象组成的数组
        type:Array,
        default: ()=>[]
      },
      prop:{
        type:String,
      },
      len:{//超过几个筛选项出现更多收起
        type:Number,
        default:10
      }
    },
    name: 'screen',
    data() {
      return {
        // indexStatus:"",
        isMore: {
          'index':false  
        },
      }
    },
    computed:{
      indexStatus:{
        get(){
          return this.status
        },
        set(){
          this.status = this.indexStatus
        }
      }
    },
    created() {
      this.indexStatus = this.status||''
    },
    watch: {},
    methods: {
        change(item,index){
          this.indexStatus= String(index)
          this.$emit('changeStatus',item,String(index))
        },
        moreBtn(index){
            this.isMore[index] = !this.isMore[index]
        }
    },
  }
</script>

<style scoped lang="less">
.screen-container{
      width: 100%;
      display: flex;
      text-align: left;
      .class_name {
        flex: 0 0 87px;
          width: 85px;
          font-size: 14px;
          color: #454545;
          line-height: 34px;
          height: 34px;
          display: flex;
          justify-content: flex-start;
          span {
              width: 61px;
              text-align: justify;
              text-justify: distribute-all-lines;
              font-weight: bold;
          }
          span:after {
            content: '.';
            width: 100%;
            display: inline-block;
            overflow: hidden;
            height: 0;
          }
      }
      .container{
      //     // width: 830px;
          font-size: 14px;
          color: #454545;
          line-height: 34px;
          span {
              margin-right: 30px;
              display: inline-block;
              cursor: pointer;
          }
          .hover {
              color: #3279FF;
              font-weight: bold;

          }
      //     .inverted {
      //         transform: rotate(180deg);
      //         -ms-transform: rotate(180deg); /* Internet Explorer */
      //         -moz-transform: rotate(180deg); /* Firefox */
      //         -webkit-transform: rotate(180deg); /* Safari 和 Chrome */
      //         -o-transform: rotate(180deg); /* Opera */

      //     }
      }
  }
</style>
