<template>
  <div id="app" @click.stop="isSuggest">
    <router-view/>
    <div class="Tips" v-if="this.$store.state.isShowtip">
      <div class="TipsCont">
        {{this.$store.state.tips}}
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: 'App',
  methods:{
    isSuggest(){
      this.$store.commit('suggest',false)
    },
  },
}
</script>

<style lang="less">
#app {/*
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;*/
  margin: 0;
  padding: 0;
}
  .Tips{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    z-index: 111;
    top:0;
    left:0;
    .TipsCont{
      width:auto;
      height:80px;
      padding: 0 50px;
      background:rgba(0,0,0,0.7);
      box-shadow:0px 2px 8px 0px rgba(170,170,170,0.49);
      border-radius:4px;
      font-size:18px;
      font-family:'Microsoft YaHei';
      font-weight:400;
      color:rgba(255,255,255,1);
      z-index: 111111;
      display: flex;
      justify-content: center;
      align-items: center;

    }
  }
.updateSchool,#addCascaderCss{
  .el-form-item.is-success .el-input__inner, .el-form-item.is-success .el-input__inner:focus, .el-form-item.is-success .el-textarea__inner, .el-form-item.is-success .el-textarea__inner:focus {
    border-color:#DCDFE6 !important;
  }
}
</style>
