<template>
  <!--添加征订周期-->
  <div class="addbidding">
    <!-- 添加 -->
    <div class="backBtn" @click="backBtn">
      <i class="el-icon-arrow-left"></i>
      返回
    </div>
    <el-form
      :rules="rules"
      ref="departForm"
      :model="formList"
      label-position="right"
      label-width="100px"
      class="form-container"
    >
      <el-row>
        <el-form-item label="征订学年：" prop="year">
          <el-select v-model="formList.year" placeholder="请选择">
            <el-option
              v-for="item in options"
              :key="item.value"
              :label="item.label"
              :value="item.label">
            </el-option>
          </el-select>
        </el-form-item>
        <el-form-item label="征订期：" prop="season">
          <el-select v-model="formList.season" placeholder="请选择">
            <el-option
              v-for="item in season"
              :key="item.value"
              :label="item.label"
              :value="item.value">
            </el-option>
          </el-select>

          <!--<el-col :span="12">
            <el-input v-model="formList.sort" placeholder="请输入排序号"></el-input>
          </el-col>-->
        </el-form-item>
        <el-form-item label="起止时间：" prop="time">


          <el-date-picker
            v-model="value"
            type="daterange"
            range-separator="至"
            start-placeholder="开始日期"
            end-placeholder="结束日期"
            value-format="yyyy-MM-dd"
            :picker-options="pickerOptions0"
            :disabled="formList.status==1"
            @change="changeTime"
          >
          </el-date-picker>
        </el-form-item>
        <el-form-item label="备注：">
          <el-col :span="12">
            <el-input
              type="textarea"
              :autosize="{ minRows: 4 }"
              placeholder="请输入内容"
              v-model="formList.remark"
              maxlength="150"

            ><!--show-word-limit-->
            </el-input>
          </el-col>

        </el-form-item>
        <el-form-item>
          <el-button class="form-submit" @click="submitBtn(formList)">确定</el-button>
          <el-button plain @click="backBtn">关闭</el-button>
        </el-form-item>
      </el-row>
    </el-form>

  </div>
</template>

<script>
  import {getMaxTimeAPI, saveAPI, updateAPI, getDetailAPI} from '@/api/backstage/biddingCycle.js'

  export default {
    name: 'HelloWorld',
    data() {
      // 排序数
      const validateSort = (rule, value, callback) => {
        let reg = /^([1-9]\d{0,4})$/;
        if (!reg.test(value)) {
          callback(new Error("请输入1-9999之间的整数"));
        } else {
          callback();
        }
      };
      return {
        maxTime: '',
        formList: {
          year: "",
          season: '',
          time: [],
          remark: '',
          value:[],
        },
        value:[],
        id: this.$route.query.id,
        options: [],
        season: [
          {value: '1', label: '春季'},
          {value: '0', label: '秋季'}
        ],
        userCompanyt: {},
        dialogAddVisible: false,
        pickerOptions0: {},
        rules: {
          year: [
            {required: true, message: "请输入征订学年", trigger: "change"}
          ],
          season: [{required: true, message: "请输入征订期", trigger: "change",}],
          time: [{required: true, message: "请输入起止时间", trigger: "change",}]
        },
      }
    },
    created() {
      this.$route.meta.title = this.$route.query.id ? '修改征订周期' : '添加征订周期';
      let now = new Date().getFullYear();
      for (let i = 0; i < 2; i++) {
        let obj = {value: 'index' + i, label: Number(now) + i};
        this.options.push(obj);
      }
      if (!this.id && this.id != 0) {

      } else {
        this.getDetail();
      }
      this.getMaxTime();


    },
    watch: {},
    methods: {
      /*改变时间*/
      changeTime(val) {
        let self=this;
        self.$set(self.formList,'time',val);
      },
      // 查看返回
      backBtn() {
        this.$router.push('/sysMenege/biddingCycle')
      },
      submitBtn() {
        this.$refs["departForm"].validate((valid) => {
          if (valid) {
            /*for(let i=0;i<this.formList.time.length;i++){

            }*/
            if (this.value) {
              this.formList.startTime = this.formList.time[0];
              this.formList.endTime = this.formList.time[1];
            }

            if (this.id != undefined) {//修改

              this.formList.id = this.id;
              delete this.formList.time;
              updateAPI(this.formList).then(res => {
                if (res.data.code == 0) {
                  this.$message.success('修改成功');
                  this.$router.push('/sysMenege/biddingCycle');
                } else {
                  this.$message.error(res.data.msg)
                }
              })
            } else {
              delete this.formList.time;
              saveAPI(this.formList).then(res => {
                if (res.data.code == 0) {
                  this.$message.success('添加成功');
                  this.$router.push('/sysMenege/biddingCycle');
                } else {
                  this.$message.error(res.data.msg)
                }

              })
            }
          } else {
            return false;
          }
        });

      },
      getMaxTime() {
        let data = this.id != undefined ? 1 : 0;
        getMaxTimeAPI(data).then(res => {
          if (res.data.code == 0) {
            var startTime = new Date(res.data.data).getTime();
            this.pickerOptions0 = {
              disabledDate(time) {
                return time.getTime() < startTime;
              }
            }
          }
        })
      },
      getDetail() {
        let  self=this;
        getDetailAPI(this.id).then(res => {
          if (res.data.code == 0) {
            this.formList = res.data.data;
            this.value = [];
            this.value[0] = this.formList.startTime;
            this.value[1] = this.formList.endTime;
            this.formList.time = this.value
          } else {
          }
        })
        this.$nextTick(() => {
          self.$refs.departForm.resetFields();
        })
      },
    },
  }
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
  .backBtn {
    margin-bottom: 20px;
    font-weight: bold;
  }

  .backBtn:hover {
    cursor: pointer;
  }

  .addbidding {
    padding: 50px;
  }

</style>
