<template>
  <!--征订周期管理-->
  <div class="yizhu">
    <el-container>
      <el-main>
        <div class="nav-buttons-container">
          <el-button v-if="authBtns.map(i => i.idName).indexOf('addBtn') >= 0" @click="addBtn"> {{authBtns.filter(i => i.idName=='addBtn')[0].name}}<i v-if="authBtns.filter(i => i.idName=='addBtn').length>0 && authBtns.filter(i => i.idName=='addBtn')[0].icon" :class="[authBtns[authBtns.map(i => i.idName).indexOf('addBtn')].icon, 'el-icon--right']"></i></el-button>
          <el-button v-if="authBtns.map(i => i.idName).indexOf('batchPrintBtn') >= 0" @click="batchExport"> {{authBtns.filter(i => i.idName=='batchPrintBtn')[0].name}}<i v-if="authBtns.filter(i => i.idName=='batchPrintBtn').length>0 && authBtns.filter(i => i.idName=='batchPrintBtn')[0].icon" :class="[authBtns[authBtns.map(i => i.idName).indexOf('batchPrintBtn')].icon, 'el-icon--right']"></i></el-button>
          <!-- <el-button v-if="authBtns.map(i => i.idName).indexOf('checkbtn') >= 0" @click="checkBtn"> {{authBtns.filter(i => i.idName=='checkbtn')[0].name}}<i v-if="authBtns.filter(i => i.idName=='checkbtn').length>0 && authBtns.filter(i => i.idName=='checkbtn')[0].icon" :class="[authBtns[authBtns.map(i => i.idName).indexOf('checkbtn')].icon, 'el-icon--right']"></i></el-button> -->
          <!-- <el-button v-if="authBtns.map(i => i.idName).indexOf('onlinebtn') >= 0" @click="auditSuccess"> {{authBtns.filter(i => i.idName=='onlinebtn')[0].name}}<i v-if="authBtns.filter(i => i.idName=='onlinebtn').length>0 && authBtns.filter(i => i.idName=='onlinebtn')[0].icon" :class="[authBtns[authBtns.map(i => i.idName).indexOf('onlinebtn')].icon, 'el-icon--right']"></i></el-button>
          <el-button v-if="authBtns.map(i => i.idName).indexOf('outlinebtn') >= 0" @click="auditFaile"> {{authBtns.filter(i => i.idName=='outlinebtn')[0].name}}<i v-if="authBtns.filter(i => i.idName=='outlinebtn').length>0 && authBtns.filter(i => i.idName=='outlinebtn')[0].icon" :class="[authBtns[authBtns.map(i => i.idName).indexOf('outlinebtn')].icon, 'el-icon--right']"></i></el-button>
          <el-button v-if="authBtns.map(i => i.idName).indexOf('setbtn') >= 0" @click="setbookBtn"> {{authBtns.filter(i => i.idName=='setbtn')[0].name}}<i v-if="authBtns.filter(i => i.idName=='setbtn').length>0 && authBtns.filter(i => i.idName=='setbtn')[0].icon" :class="[authBtns[authBtns.map(i => i.idName).indexOf('setbtn')].icon, 'el-icon--right']"></i></el-button>
          <el-button v-if="authBtns.map(i => i.idName).indexOf('searchbtn') >= 0" @click="expressBtn"> {{authBtns.filter(i => i.idName=='searchbtn')[0].name}}<i v-if="authBtns.filter(i => i.idName=='searchbtn').length>0 && authBtns.filter(i => i.idName=='searchbtn')[0].icon" :class="[authBtns[authBtns.map(i => i.idName).indexOf('searchbtn')].icon, 'el-icon--right']"></i></el-button> -->
        </div>

        <!-- <el-form inline class="form-inline">
          <el-form-item>
            <el-button @click="addBtn">添加</el-button><el-button @click="batchExport">批量导出</el-button>
          </el-form-item>
        </el-form> -->

        <el-table :key='tableKey' :data="list" v-loading="listLoading" element-loading-text="给我一点时间" border highlight-current-row stripe>

          <el-table-column  type="index" label="序号" width="60" align="center"></el-table-column>
          <el-table-column label="学年" min-width="160" align="center">
            <template slot-scope="scope">
              <span>{{scope.row.year}}</span>
            </template>
          </el-table-column>
          <el-table-column label="学期" min-width="150" align="center">
            <template slot-scope="scope">
              <span>{{scope.row.season==0?'秋季':'春季'}}</span>
            </template>
          </el-table-column>
          <el-table-column label="开始时间" min-width="150" align="center">
            <template slot-scope="scope">
              <span>{{scope.row.startTime}}</span>
            </template>
          </el-table-column>
          <el-table-column label="结束时间" min-width="180" align="center">
            <template slot-scope="scope">
              <span>{{scope.row.endTime}}</span>
            </template>
          </el-table-column>
          <el-table-column label="创建人" min-width="180" align="center">
            <template slot-scope="scope">
              <span>{{scope.row.creater}}</span>
            </template>
          </el-table-column>
          <el-table-column label="备注" min-width="120" align="center">
            <template slot-scope="scope">
              <span>{{scope.row.remark}}</span>
            </template>
          </el-table-column>
          <el-table-column label="操作" min-width="60" align="center">
            <template slot-scope="scope">
              <router-link :to="{ path:'addBbiddingCycle',query:{id:scope.row.id}}" v-if="scope.row.status==0">

                    <i v-if="authBtns.filter(i => i.idName=='editBtn').length > 0" :class="authBtns.filter(i => i.idName=='editBtn')[0].icon" :title="authBtns.filter(i => i.idName=='editBtn')[0].name"></i>

                <!-- <i class="el-icon-edit" title="修改"></i> -->

              </router-link>

            </template>
          </el-table-column>
        </el-table>
        <div class="pagination-container">
          <el-pagination @size-change="handleSizeChange" @current-change="handleCurrentChange" :current-page="listQuery.pageNum" :page-sizes="[30,50,100,200,500]" :page-size="listQuery.pageSize" layout="total, sizes, prev, pager, next, jumper" :total="total" align="center">
          </el-pagination>
        </div>
      </el-main>
    </el-container>
  </div>
</template>

<script>
  import { getListAPI} from '@/api/backstage/biddingCycle.js'
  import store from '@/store'
  import { mapGetters } from 'vuex';
  import { requestPath } from '@/utils/global.js'

  export default {
    data() {
      return {
        //   checkVisible:false,
        //   bookVisible:false,
        //   authBtns: [],
        tableKey: 0,
        list: null,
        total: null,
        listLoading: true,
        listQuery: {
          pageNum: 1,
          pageSize: 100,
          schoolName: null,
          userName: null,
          phone: null,
          applyNumber: null
        },
        batchList: [],
        activeName: 'books',
        departList:[],
        status:[// 0：待审核 1：审核中 2：已通过 3：未通过 4：已发货 5：已收货 ,6：已反馈 ,7：已取消
          '待审核',
          '审核中',
          '已通过',
          '未通过',
          '已发货',
          '已收货',
          '已反馈',
          '已取消',
        ],
        //   reviewVal:'',
        //   reviewValTitle:['提交审核中','审核已通过','审核未通过','已发货'
        //   ],
        //   moreFilter:false,
        timeLimit: null,
        roleList:null,

      }
    },
    computed: {

    },
    watch: {

    },
    created(){
      this.authBtns = store.getters.pageBtn[this.$route.meta.routerIds[0]]
    },
    mounted() {

      this.getList()

    },
    methods: {

      getList() {
        this.listLoading = true
        getListAPI(this.listQuery).then(res => {
          if(res.data.code === 0){
            this.list = res.data.data.list

            this.total = res.data.data.total
          } else {
            this.$message.error('获取数据失败');
          }
          this.listLoading = false
        })
      },


      handleSizeChange(val) {
        this.listQuery.pageSize = val
        this.listQuery.applyStatus = this.listQuery.applyStatus
        this.getList()
      },
      handleCurrentChange(val) {
        this.listQuery.pageNum = val
        this.listQuery.applyStatus = this.listQuery.applyStatus
        this.getList()
      },
      /*添加*/
      addBtn(){
        this.$router.push({path:'addBbiddingCycle'});
      },
      /*批量导出*/
      batchExport(){
        window.open(`${process.env.BASE_API}${requestPath.school}/bidding-cycle/export?token=${this.$store.getters.userToken}&pageNum=${this.listQuery.pageNum}&pageSize=${this.listQuery.pageSize}`)
      },
    }
  }
</script>

<style>
  .el-tabs__header,.el-tabs--card>.el-tabs__header{
    border: 0;
    margin-bottom: 0;
  }
  .yizhu .el-dialog__body {
    padding: 30px 55px !important;
  }
</style>
