<template>
    <div id="app">
      <!--<div class="block">
        <span class="demonstration">默认 click 触发子菜单</span>
        <el-cascader
          v-model="value"
          :options="options"
          :props="{
             value: 'value',
            label: 'label',
            children: 'children'}"
          :show-all-levels="false"
          @change="handleChange"></el-cascader>
      </div>-->
      <el-cascader
        ref="cascaderAddr"
        :options="options"
        change-on-select
        v-model="value"
        :props="{
             value: 'id',
            label: 'name',
            children: 'children'}"
        :show-all-levels="false"
        @change="handleAddressFun"
      ></el-cascader>
    </div>
</template>

<script>
  const thsAreaCode='';
    export default {
        name: 'HelloWorld',

        data() {
            return {
              value: ["zhinan","shejiyuanze","fankui"],
              options: [{
                id: 'zhinan',
                name: '指南',
                children: [{
                  id: 'shejiyuanze',
                  name: '设计原则',
                  children: [{
                    id: 'yizhi',
                    name: '一致'
                  }, {
                    id: 'fankui',
                    name: '反馈'
                  }, {
                    id: 'xiaolv',
                    name: '效率'
                  }, {
                    id: 'kekong',
                    name: '可控'
                  }]
                }]
              }]
            }
        },
        created() {
        },
        watch: {},
        methods: {
          handleChange(value) {

          },
          handleAddressFun: function(e,form,thsAreaCode){
            // thsAreaCode = this.form.areaCode    // 注意1：获取value值
            thsAreaCode = this.$refs['cascaderAddr'].currentLabels    //注意2： 获取label值
          },
        },
    }
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>

</style>
