<template>
  <!--论坛列表-->
    <div class="notice">
        <ComHeader @searchResult="searchResult"></ComHeader>
    <div v-if="isLoading" class="infoList">
      <loading></loading>
    </div>
      <div v-else class="infoList">
        <ul v-if="infoList.length >0">
          <li @click="linkHref(item.id)" v-for="(item,index) in infoList" :key="index">
              <div class="noticeTit" :title="item.title"><span></span>{{item.title}}</div>
              <div class="noticeTime" v-if="item.updateTime">{{item.updateTime.substr(0,10)}}</div>
          </li>
        </ul>
        <div v-else class="none">
          <img class="none-img" src="@/assets/img/12-暂无内容.jpg" alt="">
        </div>
        <div class="pagination-container" v-if="total&&total> 0">

        <pagination class="paddingTop" @change="pageChange"
            :current-page="listQuery.pageNum"
            :page-size="listQuery.pageSize" :total-page="lastPage"></pagination>
        </div>
      </div>
        <LoginFooter></LoginFooter>
    </div>
</template>

<script>
import { getOtherListAPI } from '@/api/notice'
import Loading from "../personal/components/loading";
export default {
    data() {
        return {
          infoList:[],
          listQuery:{
            pageNum:1,
            pageSize:10,
            columnName:'论坛之音'
          },
          total:null,
          lastPage:0,
          isLoading:false
        }
    },
    components: {Loading},
    mounted(){
      this.getList()
      // this.isLoading = true
    },
    methods: {
      /*切换page*/
      pageChange(val) {

        this.listQuery.pageNum = val
        this.getList();
      },
      getList(){
        this.isLoading = true
        const name = this.$route.name

        switch (name) {
          case 'mechanicList':
            this.listQuery.columnName = '技工动态'
            this.otherList()
            break;
          case 'unionList':
            this.listQuery.columnName = '联盟之声'

            this.otherList()
            break;
          case 'forumList':
            this.listQuery.columnName = '论坛之音'
            this.otherList()
            break;
        }

      },
      // 搜索列表
      searchResult(data){
        this.listQuery.title = data
        this.getList()
      },
      otherList(){
            getOtherListAPI(this.listQuery).then(res =>{
              const data = res.data.data
              if(res.data.code ===0){
                this.infoList = data.list
                this.isLoading = false
                this.total = data.total;
                this.lastPage = Math.ceil(Number(res.data.data.total) / Number(this.listQuery.pageSize));
              }else{
                this.$message.error('请求资讯列表出错')
              }
            })
          },
      linkHref(id){
        const name = this.$route.name

            switch (name) {

              case 'mechanicList':
                this.listQuery.columnName = '技工动态'

                this.link(id,'/mechanicIndex/mechanicDetail')
                break;
              case 'unionList':
                this.listQuery.columnName = '联盟之声'

                this.link(id,'/unionIndex/unionDetail')
                break;
              case 'forumList':
                this.listQuery.columnName = '论坛之音'

                this.link(id,'/forumIndex/forumDetail')
                break;
            }
      },

      link(id,path){
        // this.$router.push({path:path,query:{id:id}})
        let routeData = this.$router.resolve({path:path,query:{id:id}})
        window.open(routeData.href, '_blank');
        this.getList()
      },
      // 页数改变
      handleCurrentChange(val) {
        this.listQuery.pageNum = val
        this.getList()
      }
    }
}
</script>

<style scoped lang="less">
  .notice{
    width:auto;
    margin: 0 auto;
    height:auto;
    overflow: hidden;
    background: #F9F9F9;
    .infoList{
      width:1200px;
      min-height:500px;
      margin: 0 auto 30px;
      background:rgba(255,255,255,1);
      box-shadow:0px 2px 8px 0px rgba(1,2,2,0.06);
      border-top:3px solid #3279FF;
      overflow: hidden;


      ul{
        padding: 17px 30px 66px 30px;
        min-height:300px;
        height:auto!important;
        li{
          display: flex;
          justify-content: space-between;
          height:50px;
          line-height: 50px;
          border-bottom: 1px solid #EDEDED;
          color:#555;
          .noticeTit{
            font-size:14px;
            font-family:'Microsoft YaHei';
            font-weight:400;

            line-height:50px;
            span{
              width:3px;
              height:3px;
              background:rgba(50,121,255,1);
              border-radius:50%;
              float: left;
              display: block;
              margin-top:22px;
              margin-right: 10px;
            }

          }
          .noticeTime{
            font-size:14px;
            font-family:'Microsoft YaHei';
            font-weight:400;
            line-height:50px;

          }
        }
        li:hover{
          color:#3279FF;
          cursor: pointer;
        }
      }
      .none{
        width: 1200px;
        margin: 0 300px;
        .none-img{
          display: flex;
          justify-content: center;
          width: 100%;
        }
      }
    }
  }

</style>
