<template>
  <!--论坛详情-->
  <div class="notice">
    <div class="forumDetail">
      <div class="noticeDetailTit">
          <h1>{{detail.title}}</h1>
          <div><h2>发布时间：{{detail.createTime.substr(0,10)}}</h2><h2>来源：{{detail.source}}</h2></div>
        </div>
        <div v-html="detail.content" class="noticeDetailCont">
        </div>
      <div class="forumBtn" v-if="detail.formId">
        <span v-if="detail.pass" @click="feedback">填写反馈</span>
        <span v-else class='noClick'>填写反馈</span>
      </div>
    </div>

    <div v-if="feedBackShow">
        <feed-back :list="list" :title="title" :form="form" @onSubmit="onSubmit" @closeSign="feedBackShow=false"></feed-back>
    </div>
 <!-- 未登录提醒 -->
    <el-dialog title="跳转登录" :visible.sync="dialogChange" width="300px" top="40vh">
      <span style="font-size:20px">暂未登录，是否跳转登录页</span>
      <span slot="footer" class="dialog-footer">
        <div>
          <el-button type="primary" @click="submit">确定</el-button>
          <el-button @click="dialogChange = false">取消</el-button>
          </div>
      </span>
    </el-dialog>
  </div>
</template>

<script>
import { getOtherDetailAPI,getFeedBackFromAPI,saveFeedBackAPI } from '@/api/notice'
import feedBack from "../personal/components/feedBack";
import {changeFromData} from "@/utils/changedata"
  export default {
    data() {
      return {
        title:'意见反馈',
        radio: 1,
        detail:{
          title:'',
          releaseTime:'',
          content:''
        },
        feedBackShow:false,
        feedBackId:'',
        list:[],
        form:{},
        dialogChange:false,
      }
    },
    components: {},
    mounted(){
      this.getDetail()
    },
    methods: {
      // 获取资讯详情
      getDetail(){
        const id = this.$route.query.id

        getOtherDetailAPI(id).then(res =>{
          res.data.code === 0 ?
          (this.detail = res.data.data)
          :this.$message.error('获取资讯详情失败')
        })
      },
      /*填写反馈*/
      feedback(){

        if(this.$store.getters.userToken){

          this.feedBackId = ''
          getFeedBackFromAPI(this.detail.formId).then(res=>{
          if(res.data.code === 0){
            this.list = res.data.data
            this.list.forEach(element => {
            if(element.type =='checkbox'){
              this.form[element.name] = []
            }
          });
            this.feedBackId = this.detail.id
            this.feedBackShow = true

          }else{
            this.$message.error('获取反馈表单失败')
            }
          })
        }else{

          this.dialogChange = true
        }
      },
      // 跳转登录
      submit(){
        this.$router.push('/login')
      },
      // 反馈创建
      onSubmit(value){

        const data = {
          'newsId':this.feedBackId,
          'value':JSON.stringify(changeFromData(this.list,value))
        }
        saveFeedBackAPI(JSON.stringify(data)).then(res=>{
          if(res.data.code == 0){
            this.form = {}
            this.feedBackShow = false
            this.$message.success('反馈信息提交成功')
            this.getDetail()
          }else{
            this.$message.error(res.data.msg)
            this.feedBackShow = false
          }
        })
    },
      changRadio(value){

      },

    },
    components:{feedBack}
  }
</script>

<style scoped lang="less">
  .notice {
    width: auto;
    margin: 0 auto;
    overflow: hidden;
    background: #F9F9F9;
    .forumDetail {
      width: 1140px;
      min-height: 430px;
      margin: 0 auto 30px;
      background: rgba(255, 255, 255, 1);
      box-shadow: 0px 2px 8px 0px rgba(1, 2, 2, 0.06);
      border-top: 3px solid #3279FF;
      padding: 40px 30px 40px 30px;
      overflow: hidden;
      .noticeDetailTit {
        display: flex;
        align-items: center;
        flex-direction: column;
        border-bottom: 1px dashed #CCCCCC;
        padding-bottom: 10px;
        h1 {
          font-size: 18px;
          font-family: MicrosoftYaHei-Bold;
          font-weight: bold;
          color: rgba(85, 85, 85, 1);
          line-height: 50px;

        }
        div {
          font-size: 12px;
          font-family: MicrosoftYaHei;
          font-weight: 400;
          color: rgba(153, 153, 153, 1);
          line-height: 30px;
          display: flex;
          flex-direction: row;
          h2 {
            font-size: 12px;
            font-family: MicrosoftYaHei;
            font-weight: 400;
            margin-right: 30px;
          }
        }
      }
      .forumImg {
        padding-top: 40px;
        text-align: center;
      }
      .noticeDetailCont {
        padding-top: 15px;
        p {
          text-indent: 2em;
          font-size: 14px;
          font-family: 'Microsoft YaHei';
          font-weight: 400;
          color: rgba(85, 85, 85, 1);
          line-height: 36px;
        }
      }
      .forumBom {
        padding-top: 10px;
        display: flex;
        justify-content: space-between;
        font-size: 12px;
        font-family: 'Microsoft YaHei';
        font-weight: 400;
        color: rgba(153, 153, 153, 1);
        line-height: 48px;
        width: 100%;
        .forumBomLf {
          span {
            float: left;
            padding-right: 30px;
          }
        }
      }
      .forumBtn {
        display: flex;
        justify-content: center;
        padding-top: 20px;
        span {
          cursor: pointer;
          display: block;
          width: 168px;
          height: 34px;
          background: rgba(50, 121, 255, 1);
          border-radius: 4px;
          font-size: 14px;
          font-family: 'Microsoft YaHei';
          font-weight: 400;
          color: rgba(255, 255, 255, 1);
          line-height: 34px;
          text-align: center;
        }
        .noClick{
          background:#E3E3E3;
          color: rgba(255, 255, 255, 1);

        }
      }
    }
    .forumAlert {
      width: 100%;
      height: 100%;
      position: fixed;
      top: 0;
      left: 0;
      background: rgba(0, 0, 0, 0.2);
      display: flex;
      justify-content: center;
      align-items: center;
      .forumCont {
        width: 600px;
        height: auto;
        overflow: hidden;
        padding-bottom: 15px;
        background: rgba(255, 255, 255, 1);
        .forumCTit {
          width: 570px;
          height: 36px;
          line-height: 36px;
          background: rgba(244, 244, 244, 1);
          border-radius: 3px 3px 0px 0px;
          padding: 0 15px;
          display: flex;
          justify-content: space-between;
          h1 {
            font-size: 14px;
            font-family: 'Microsoft YaHei';
            font-weight: bold;
            color: rgba(69, 69, 69, 1);
          }
          span {
            font-size: 18px;
            font-family: 'Microsoft YaHei';
            color: #999999;
            cursor: pointer;
          }
        }
        .forumCInput {
          ul {
            padding-top: 28px;
            li {
              overflow: hidden;
              padding-left: 65px;
              padding-bottom: 10px;
              span {
                width: 75px;
                float: left;
                display: block;
                font-size: 14px;
                font-family: 'Microsoft YaHei';
                font-weight: 400;
                color: rgba(102, 102, 102, 1);
                line-height: 40px;
              }
              input{
                width:300px;
                height:38px;
                background:rgba(255,255,255,1);
                border:1px solid rgba(220,223,230,1);
                border-radius:3px;
                padding:0 5px;
              }
              textarea{
                width:395px;
                height:68px;
                background:rgba(255,255,255,1);
                border:1px solid rgba(220,223,230,1);
                border-radius:3px;
                resize:none;
                padding: 5px;
              }
              .forumUpload{
                display: block;
                overflow: hidden;
                .button{
                  cursor: pointer;
                  width:165px;
                  height:38px;
                  background:rgba(236,242,252,1);
                  border:1px solid rgba(50,121,255,1);
                  border-radius:3px;
                  font-size:14px;
                  font-family:'Microsoft YaHei';
                  font-weight:400;
                  color:rgba(50,121,255,1);
                  line-height:38px;
                  text-align: center;
                  margin-bottom: 8px;
                  float: left;
                  margin-right: 8px;
                }
                h1{
                  height:48px;
                  line-height: 40px;
                  font-size:12px;
                  font-family:'Microsoft YaHei';
                  font-weight:400;
                  color:rgba(242,161,45,1);
                }
                p{
                  width:100%;
                  height:auto;
                  font-size:14px;
                  font-family:'Microsoft YaHei';
                  font-weight:400;
                  color:rgba(153,153,153,1);
                  line-height:28px;
                }

              }

            }

          }
        }
        .forumCBtn{
          float: right;
          width:210px;
          display: flex;
          justify-content:space-between;
          padding-right: 53px;
          padding-bottom: 15px;
          .Btncom{
            background:rgba(50,121,255,1);
            width:96px;
            height:34px;
            border-radius:4px;
            font-size:12px;
            font-family:'Microsoft YaHei';
            font-weight:400;
            color:rgba(255,255,255,1);
            line-height:34px;
            display: block;
            cursor: pointer;
            text-align: center;
          }
          .Btncan{
            width:96px;
            height:32px;
            border:1px solid rgba(220,223,230,1);
            border-radius:4px;
            font-size:12px;
            font-family:'Microsoft YaHei';
            font-weight:400;
            color:#999999;
            line-height:32px;
            display: block;
            cursor: pointer;
            text-align: center;
          }
        }
      }
    }
  }

</style>
