<template>
  <!--我的礼品-->
  <div class="gift">
    <titleNav :titleMsg="bookTitle"></titleNav>
    <div class="giftList">
      <div class="giftTit">
        <span style="width: 231px;">礼品名称</span>
        <span style="width: 158px;">兑换码</span>
        <span style="width: 194px;">兑换日期</span>
        <span style="width: 225px;">使用网站</span>
        <span style="width: 112px;">操作</span>
      </div>
      <ul class="giftCont">
        <li v-for="(item , index) in tableData" :key="index">
          <div class="title">{{item.name}}</div>
          <div class="code">{{item.code}}</div>
          <div class="date">{{item.date}}</div>
          <div class="useWeb"><span>{{item.use}}</span></div>

          <div class="lookDetail"><span  @click="deleteBtn(item)">删除</span></div>
        </li>
      </ul>
    </div>

    <!--弹出框-->
    <div class="giftEla" v-if="isShow">
      <div class="giftECont">
        <div class="feedbackECTit">
          <h1>查看反馈信息</h1>
          <span @click="isShow=false">×</span>
        </div>
        <div class="feedbackMess">
          <ul>
            <li>
              <div class="feedbackM1">
                <h1>姓名：</h1>
                <span>侯勇</span>
              </div>
              <div class="feedbackM2">
                <h2>性别：</h2>
                <span>男</span>
              </div>
            </li>
            <li>
              <div class="feedbackM1">
                <h1>民族：</h1>
                <span>汉</span>
              </div>
              <div class="feedbackM2">
                <h2>手机：</h2>
                <span>13555555555</span>
              </div>
            </li>
            <li>
              <div class="feedbackM1">
                <h1>培训时间：</h1>
                <span>12月29-12月30</span>
                <!--<input type="text">-->
              </div>
              <div class="feedbackM2">
                <h2>城市：</h2>
                <span>成都</span>
              </div>
            </li>
            <li>
              <h1>单位及职务：</h1>
              <h3>教师</h3>
            </li>
            <li>
              <h1>备注：</h1>
              <p>惊世毒妃速度快解放看电视剧分类考试的缴费历史的积分惊世毒妃速度快解放看电视剧分类考试的缴费历史的积分惊世毒妃速度快解放看电视剧分类考试的缴费历史的积分惊世毒妃速度快解放看电视剧分类考试的缴费历史的积分</p>
            </li>
          </ul>
          <pagination class="paddingTop" @change="pageChange"
                      :current-page="listQuery.pageNum"
                      :page-size="listQuery.pageSize" :total-page="lastPage" v-if="total&&total>0"></pagination>
        </div>
        <div class="feedbackEBtn">
          <span @click="isShow=false">关闭</span>
        </div>
      </div>
    </div>





  </div>
</template>
<script>
  import titleNav from './../components/title';
  export default {
    name: 'HelloWorld',
    data() {
      return {
        bookTitle: '我的礼品',
        tableData:[
          {name:'20元礼品满减券',code:'SY2378498',date:'2019-02-16',use:'www.baidu.com',operation:'删除'},
          {name:'20元礼品满减券',code:'SY2378498',date:'2019-02-16',use:'www.baidu.com',operation:'删除'},
          {name:'20元礼品满减券',code:'SY2378498',date:'2019-02-16',use:'www.baidu.com',operation:'删除'},
          {name:'20元礼品满减券',code:'SY2378498',date:'2019-02-16',use:'www.baidu.com',operation:'删除'},
          {name:'20元礼品满减券',code:'SY2378498',date:'2019-02-16',use:'www.baidu.com',operation:'删除'}
        ],
        isShow:false,
        total:null,
        lastPage:0,
        listQuery:{
          pageNum:1,
          pageSize:12
        },

      }
    },
    components: {titleNav},
    created() {

    },
    watch: {},
    methods: {
      deleteBtn(item) {
        /*this.isShow = true;*/
      },
      /*切换page*/
      pageChange(val) {

        this.listQuery.pageNum = val
      },

    },
  }
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped lang="less">
  .gift{
    .giftList{
      width: 924px;
      margin: 20px auto;
      .giftTit{
        width:922px;
        height:46px;
        line-height: 46px;
        background:rgba(245,245,245,1);
        border:1px solid rgba(238,238,238,1);
        span{
          display: block;
          float: left;
          text-align: center;
          font-size:14px;
          font-family: 'Microsoft YaHei';
          font-weight:bold;
          color:rgba(69,69,69,1);
        }

      }
      .giftCont{
        width:922px;
        border-left:1px solid #EEEEEE;
        border-right:1px solid #EEEEEE;
        li{
          width:924px;
          height:60px;
          line-height: 60px;
          border-bottom: 1px solid #EEEEEE;
          text-align: center;
          display: flex;
          justify-content: space-between;
          font-size:14px;
          font-family: 'Microsoft YaHei';
          font-weight:400;
          color:rgba(102,102,102,1);
          .title{
            width: 231px;
            border-right:1px solid #EEEEEE;
          }
          .code{
            width: 153px;
            border-right:1px solid #EEEEEE;
          }
          .date{
            width:189px;
            border-right:1px solid #EEEEEE;
          }
          .useWeb{
            width:220px;
            border-right:1px solid #EEEEEE;
            color:#3279FF;
            span{
              cursor: pointer;
            }
          }
          .lookDetail{
            width: 110px;
            color:#EB666B;
            span{
              cursor: pointer;
            }
          }

        }
      }
    }
    /*弹出框*/
    .feedbackEla {
      width: 100%;
      height: 100%;
      position: fixed;
      top: 0;
      left: 0;
      z-index: 1;
      background: rgba(0, 0, 0, 0.2);
      display: flex;
      justify-content: center;
      align-items: center;
      .feedbackECont {
        width: 600px;
        height: auto;
        background: #fff;
        .feedbackECTit {
          width: 100%;
          height: 36px;
          line-height: 36px;
          background: rgba(244, 244, 244, 1);
          border-radius: 3px 3px 0px 0px;
          display: flex;
          justify-content: space-between;
          h1 {
            font-size: 14px;
            font-family: 'Microsoft YaHei';
            font-weight: bold;
            color: rgba(69, 69, 69, 1);
            padding-left: 15px;
          }
          span {
            font-size: 16px;
            font-family: 'Microsoft YaHei';
            color: #999999;
            margin-right: 15px;
            cursor: pointer;

          }
        }
        .feedbackMess{
          padding-left: 50px;
          padding-top: 25px;
          padding-right: 50px;
          padding-bottom: 20px;
          ul{
            li{
              display: flex;
              justify-content: space-between;
              overflow: hidden;
              h1{
                width:85px;
              }
              h2{
                width:50px;

              }
              h1,h2{
                font-size:14px;
                font-family: 'Microsoft YaHei';
                font-weight:400;
                color:rgba(102,102,102,1);
                line-height:38px;
                text-align: right;
              }
              h3{
                width:403px;
                font-size:14px;
                font-family: 'Microsoft YaHei';
                font-weight:400;
                color:rgba(102,102,102,1);
                line-height: 38px;
              }
              p{
                width:403px;
                font-size:14px;
                font-family: 'Microsoft YaHei';
                font-weight:400;
                color:rgba(102,102,102,1);
                line-height: 24px;
              }
              .feedbackM1,.feedbackM2{
                height: 38px;
                span{
                  width:160px;
                  line-height: 38px;
                  font-size:14px;
                  font-family: 'Microsoft YaHei';
                  font-weight:400;
                  color:rgba(102,102,102,1);
                }
              }
              .feedbackM1{
                width:255px;
                display: flex;
                justify-content: space-between;
              }
              .feedbackM2{
                width:215px;
                display: flex;
                justify-content: space-between;
              }
            }
          }
        }

      }
      .feedbackEBtn{
        width:100%;
        text-align: center;
        height:32px;
        line-height: 32px;
        margin-bottom: 30px;
        span{
          display: inline-block;
          width:96px;
          height:32px;
          background:rgba(50,121,255,1);
          border-radius:4px;
          font-size:12px;
          font-family: 'Microsoft YaHei';
          font-weight:400;
          color:rgba(255,255,255,1);
          cursor: pointer;
        }
      }

    }

  }
</style>
