<template>
  <div class="contain" >
    <div class="regulatory">
      <div class="screen">
        <el-form inline class="form-line">
          <el-form-item label="部门"  prop="departmentId">
            <el-select v-model="listQuery.departmentId" clearable placeholder="请选择部门" @change="deptChange">
              <el-option label="全部" value=""></el-option>
              <el-option
                v-for="item in depList"
                :key="item.id"
                :label="item.name"
                :value="item.id">
              </el-option>
            </el-select>
          </el-form-item>
          <el-form-item label="专业"  prop="majorId">
            <el-select v-model="listQuery.majorId" clearable placeholder="请选择专业" @change="majChange">
              <el-option label="全部" value=""></el-option>
              <el-option
                v-for="item in majList"
                :key="item.id"
                :label="item.name"
                :value="item.id">
              </el-option>
            </el-select>
          </el-form-item>
          <el-form-item label="班级"  prop="classId">
            <el-select v-model="listQuery.classId" clearable placeholder="请选择班级" @change="classChange">
              <el-option label="全部" value=""></el-option>
              <el-option
                v-for="item in classList"
                :key="item.id"
                :label="item.name"
                :value="item.id">
              </el-option>
            </el-select>
          </el-form-item>
        </el-form>
      </div>
        
        <div class="list-container" :style="`min-height:${minHeight}`">
            <el-table :data="list"  border v-loading="listLoading" highlight-current-row element-loading-text="给我一点时间" style="width: 100%"  @selection-change="chioceList">
                <!-- <el-table-column align="center" type="selection"></el-table-column> -->
                <el-table-column type="index" label="序号" align="center" width="55"></el-table-column>
                <el-table-column prop="organName" label="机构名称" align="center" min-width="150"></el-table-column>
                <el-table-column prop="deptName" label="部门" align="center" min-width="80"></el-table-column>
                <el-table-column prop="majorName" label="专业" align="center" min-width="100"></el-table-column>
                <el-table-column prop="className" label="班级" align="center" min-width="100"></el-table-column>
                <el-table-column prop="isbn" label="ISBN" align="center" width="160"></el-table-column>
                <el-table-column label="价格" align="center" width="100">
                  <template slot-scope="scope">
                    <span>{{filterPrice(scope.row.price)}}</span>
                  </template>
                </el-table-column>
                <el-table-column prop="num" label="数量" align="center" width="100"></el-table-column>
            </el-table>
            <div class="pagination-list" v-if="total&&total> 0">
                <pagination class="paddingTop" @change="pageChange"
                :current-page="listQuery.pageNum"
                :page-size="listQuery.pageSize" :total-page="lastPage"></pagination>
            </div>

            <form  method="post" class="downFrom">
            </form>
        </div>
    </div>
  </div>
</template>

<script>
import {getDetailListAPI,getDeptListAPI ,getMajListAPI,getClassListAPI} from '@/api/data';
import { requestMsg, confirm } from "@/utils/publicFunctions";
import store from '@/store'
import {baseUrl} from '@/utils/global'
  export default {
    name: 'login',
    data() {
      return {
        baseUrl:baseUrl,
        list:[],
        trainList:[],
        listLoading:false,
        listQuery:{
          pageNum:1,
          pageSize:10,
          relationId:'',
          departmentId:'',
          majorId:'',
          classId:"",
          isbn:'',
        },
        depQuery:{
          isbn:'',
          relationId:'',
        },
        majQuery:{
          isbn:'',
          relationId:'',
          departmentId:'',
        },
        classQuery:{
          isbn:'',
          relationId:'',
          departmentId:'',
          majorId:'',
        },
        depList:[],
        majList:[],
        classList:[],
        batchList:[],
        minHeight:100+'px',
        total:0,
        lastPage:0,
        timeLimit:[],
        pickerOptions: {
          shortcuts: [
          {
            text: '近一个月',
            onClick(picker) {
              const end = new Date();
              const start = new Date();
              start.setTime(start.getTime() - 3600 * 1000 * 24 * 30);
              picker.$emit('pick', [start, end]);
            }
          }, {
            text: '近三个月',
            onClick(picker) {
              const end = new Date();
              const start = new Date();
              start.setTime(start.getTime() - 3600 * 1000 * 24 * 90);
              picker.$emit('pick', [start, end]);
            }
          }, {
            text: '近半年',
            onClick(picker) {
              const end = new Date();
              const start = new Date();
              start.setTime(start.getTime() - 3600 * 1000 * 24 * 182);
              picker.$emit('pick', [start, end]);
            }
          }, {
            text: '近一年',
            onClick(picker) {
              const end = new Date();
              const start = new Date();
              start.setTime(start.getTime() - 3600 * 1000 * 24 * 365);
              picker.$emit('pick', [start, end]);
            }
          }]
        },
      }
    },
    created() {
        this.minHeight =this.tableHeigh(570)
        let id = this.$route.query.id
        let isbn = this.$route.query.isbn
        this.listQuery.relationId = id
        this.depQuery.relationId = id
        this.majQuery.relationId = id
        this.classQuery.relationId = id
        this.listQuery.isbn = isbn
        this.depQuery.isbn = isbn
        this.majQuery.isbn = isbn
        this.classQuery.isbn = isbn
    },
    mounted() {
      this.getList()
      this.getDeptList()
      this.getMajList()
      this.getClassList()

    },
    methods: {
      getList(){
        getDetailListAPI(this.listQuery).then(res =>{
          const data = res.data.data
          if(res.data.code == 0){
            this.list = data.list
            this.total = data.total;
            this.lastPage = Math.ceil(Number(data.total) / Number(this.listQuery.pageSize));
            this.listLoading = false
          }else{
            this.$message.error(res.data.msg)
          }
        })
      },
      // 部门列表
      getDeptList(){
        getDeptListAPI(this.depQuery).then(res=>{
          if(res.data.code == 0){
            this.depList = res.data.data
          }else{
            this.$message.error(res.data.msg)
          }
        })
      },
      // 专业列表
      getMajList(){
        getMajListAPI(this.majQuery).then(res=>{
          if(res.data.code == 0){
            this.majList = res.data.data
          }else{
            this.$message.error(res.data.msg)
          }
        })
      },
      // 班级列表
      getClassList(){
        getClassListAPI(this.classQuery).then(res=>{
          if(res.data.code == 0){
            this.classList = res.data.data
          }else{
            this.$message.error(res.data.msg)
          }
        })
      },
      chioceList(val) {//勾选
        this.batchList = val;
      },
      // 部门更改
      deptChange(value){
        if(value){
          this.listQuery.departmentId = value
          this.majQuery.departmentId = value
          this.classQuery.departmentId = value
        }else{
          this.listQuery.departmentId = ''
          this.majQuery.departmentId = ''
          this.classQuery.departmentId = ''
        }
        this.listQuery.majorId = ''
        this.listQuery.classId = ''
        this.classQuery.majorId = ''
        this.getList()
        this.getMajList()
        this.getClassList()
      },
      // 专业更改
      majChange(value){
        if(value){
          this.listQuery.majorId = value
          this.classQuery.majorId = value
        }else{
          this.listQuery.majorId = ''
          this.classQuery.majorId = ''
        }
        this.listQuery.classId = ''
        this.getList()
        this.getClassList()
      },
      // 班级更改
      classChange(value){
        if(value){
          this.listQuery.classId = value
        }else{
          this.listQuery.classId = ''
        }
        this.getList()
      },
      // 批量下载
      batchDownLoad(){
        var fromClass = document.getElementsByClassName('downFrom')[0]
        let child = fromClass.childNodes
        if(child&&child.length > 0){
          for(let i = child.length - 1; i >= 0; i--) {
            fromClass.removeChild(child[i]);
          }
        }
        if(this.batchList.length == 0){
          this.$message.error('请至少选择一条数据')
        }else{
            fromClass.action = `${this.baseUrl}/school-sysuser/fg/supervise/exportList`
            this.batchList.forEach((item,index)=>{
              let input0 = document.createElement("input");
              let input1 = document.createElement("input");
              let input2 = document.createElement("input");
                input0.name = `list[${index}].relationId`
                input0.value = item.relationId
                input1.name = `list[${index}].academicLevel`
                input1.value = item.academicLevel
                input2.name = `list[${index}].status`
                input2.value = 2
              fromClass.appendChild(input0); 
              fromClass.appendChild(input1); 
              fromClass.appendChild(input2); 
            })
          let button = document.createElement("button");
          fromClass.appendChild(button); 
          fromClass.submit()
        }
      },
      // 下载
      downLoad(row){
          var test=this.baseUrl + `/school-sysuser/fg/supervise/export?status=2&academicLevel=${row.academicLevel}&relationId=${row.relationId}`
          window.open(test,'_blank')
          this.$message.success("数据导出成功")
      },
      /*切换page*/
      pageChange(val) {

          this.listQuery.pageNum = val
          this.getList();
      },
    },

  }
</script>

<style lang="less" scoped>
.downFrom{
  display: none;
}
.contain{
    width: 100%;
    background: #F4F5F9;
    .regulatory{
        width: 1200px;
        margin: auto;
        position: relative;
        .screen{
            padding:20px 27px 10px;
            margin-bottom: 20px;
            border-top: 3px solid #3279FF;
            background: #fff;
        }
        .list-container{
            position: relative;
            background: #fff;
            border-bottom: 30px solid #F4F5F9;
            padding:20px 28px 20px 24px;
            .down{
                position: absolute;
                right: 28px;
                top: 20px;
                margin-bottom: 6px;
                width: 89px;
                height: 34px;
                line-height: 34px;
                background: #3279FF;
                color: #fff;
                font-size: 14px;
                text-align: center;
            }
            .down:hover{
                cursor: pointer;
            }
            .pagination-list{
                margin: 15px 0 20px 0px; ;
            }
        }

        .view{
        color: #3279FF;
        }
        .view:hover{
        cursor: pointer;
        }
        .out{
        position: absolute;
        top: 10px;
        right: 40px;
        }
        .out:hover {
        cursor: pointer;
        color: #3279FF;
        }
    }
}
</style>
