<template>
  <div class="contain" >
    <div class="regulatory">
      <div class="screen">
        <el-form inline class="form-line">
          <el-form-item label="时间" >
            <el-date-picker
              v-model="timeLimit"
              type="daterange"
              align="right"
               value-format="yyyy-MM-dd"
              unlink-panels
              range-separator="至"
              start-placeholder="开始日期"
              end-placeholder="结束日期"
              :picker-options="pickerOptions"
              @change="timeChange">
            </el-date-picker>
          </el-form-item>
          <el-form-item label="机构类型"  prop="trainStatus">
            <el-select v-model="listQuery.trainStatus" style="width:140px;" clearable placeholder="" @change="trainTypeChange">
              <el-option label="全部" value=""></el-option>
              <el-option label="学校" value="0"></el-option>
              <el-option label="培训机构" value="1"></el-option>
            </el-select>
          </el-form-item>
          <el-form-item label="机构"  prop="relationId">
            <el-select v-model="listQuery.relationId" clearable placeholder="" @change="trainChange">
              <el-option
                v-for="item in trainList"
                :key="item.id"
                :label="item.name"
                :value="item.id">
              </el-option>
            </el-select>
          </el-form-item>
          <el-form-item label="国家级规划教材"  prop="countryStatus">
            <el-select v-model="listQuery.countryStatus" style="width:100px;" clearable placeholder="" @change="countryChange">
              <el-option label="全部" value=""></el-option>
              <el-option label="是" value="1"></el-option>
              <el-option label="否" value="0"></el-option>
            </el-select>
          </el-form-item>
        </el-form>
      </div>
        
        <div class="list-container" :style="`min-height:${minHeight}`">
            <!-- <div class="down" @click="batchDownLoad">
                <span>批量下载</span>
            </div> -->
            <el-table :data="list"  border v-loading="listLoading" highlight-current-row element-loading-text="给我一点时间" style="width: 100%"  @selection-change="chioceList">
                <!-- <el-table-column align="center" type="selection"></el-table-column> -->
                <el-table-column type="index" label="序号" align="center" width="55"></el-table-column>
                <el-table-column prop="organName" label="机构名称" align="center" min-width="170"></el-table-column>
                <el-table-column label="机构类型" align="center" min-width="80">
                  <template slot-scope="scope">
                        <span>{{trainStatus[scope.row.trainStatus]}}</span>
                    </template>
                </el-table-column>
                <el-table-column label="是国家规划教材" align="center" min-width="60">
                  <template slot-scope="scope">
                          <span>{{countryStatus[scope.row.countryStatus]}}</span>
                      </template>
                  </el-table-column>
                <el-table-column prop="resName" label="教材名称" align="center" min-width="140"></el-table-column>
                <el-table-column prop="isbn" label="ISBN" align="center" width="160"></el-table-column>
                <el-table-column label="价格" align="center" width="100">
                  <template slot-scope="scope">
                    <span>{{filterPrice(scope.row.price)}}</span>
                  </template>
                </el-table-column>
                <el-table-column prop="totalNum" label="数量" align="center" width="100"></el-table-column>
                <el-table-column label="操作" align="center" width="80">
                    <template slot-scope="scope">
                        <router-link v-if="scope.row.trainStatus == 0" class="view" :to="{name:'dataDetail',query:{id:scope.row.relationId,isbn:scope.row.isbn}}">查看</router-link>
                        <span v-if="scope.row.trainStatus ==1">--</span>
                    </template>
                </el-table-column>
            </el-table>
            <div class="pagination-list" v-if="total&&total> 0">
                <pagination class="paddingTop" @change="pageChange"
                :current-page="listQuery.pageNum"
                :page-size="listQuery.pageSize" :total-page="lastPage"></pagination>
            </div>

            <div class="statistics">
              <div  class="data-con">
                <span class="name">总订购数量：<span class="dataNum">{{dataObj.totalOrderNum}}</span></span>
                <span class="name">国家规划教材数量：<span class="dataNum">{{dataObj.countryNum}}</span></span>
                <span class="name">非国家规划教材数量：<span class="dataNum">{{dataObj.noCountryNum}}</span></span>
                
              </div>
              <div  class="data-con">
                <span class="name">订购种类：<span class="dataNum">{{dataObj.totalOrderType}}</span></span>
                <span class="name">国家规划教材种类：<span class="dataNum">{{dataObj.countryType}}</span></span>
                <span class="name">非国家规划教材种类：<span class="dataNum">{{dataObj.noCountryType}}</span></span>
              </div>
            </div>

            <form  method="post" class="downFrom">
            </form>
        </div>
    </div>
  </div>
</template>

<script>
import {getListAPI,getTrainListAPI ,downLoadAPI,getDataAPI} from '@/api/data';
import { requestMsg, confirm } from "@/utils/publicFunctions";
import store from '@/store'
import {baseUrl} from '@/utils/global'
  export default {
    name: 'login',
    data() {
      return {
        baseUrl:baseUrl,
        list:[],
        trainList:[],
        listLoading:false,
        listQuery:{
          pageNum:1,
          pageSize:10,
          beginTime:'',
          endTime:'',
          trainStatus:'',
          relationId:"",
          countryStatus:"",
        },
        trainStatus:{
          '0':'学校',
          '1':'培训机构'
        },
        countryStatus:{
          '0':'否',
          '1':'是'
        },
        dataObj:{
          totalOrderType:'',
          totalOrderNum:'',
          countryType:'',
          countryNum:'',
          noCountryNum:'',
          noCountryType:'',
        },
        batchList:[],
        minHeight:100+'px',
        total:0,
        lastPage:0,
        timeLimit:[],
        pickerOptions: {
          shortcuts: [
          {
            text: '近一个月',
            onClick(picker) {
              const end = new Date();
              const start = new Date();
              start.setTime(start.getTime() - 3600 * 1000 * 24 * 30);
              picker.$emit('pick', [start, end]);
            }
          }, {
            text: '近三个月',
            onClick(picker) {
              const end = new Date();
              const start = new Date();
              start.setTime(start.getTime() - 3600 * 1000 * 24 * 90);
              picker.$emit('pick', [start, end]);
            }
          }, {
            text: '近半年',
            onClick(picker) {
              const end = new Date();
              const start = new Date();
              start.setTime(start.getTime() - 3600 * 1000 * 24 * 182);
              picker.$emit('pick', [start, end]);
            }
          }, {
            text: '近一年',
            onClick(picker) {
              const end = new Date();
              const start = new Date();
              start.setTime(start.getTime() - 3600 * 1000 * 24 * 365);
              picker.$emit('pick', [start, end]);
            }
          }]
        },
      }
    },
    created() {
        this.minHeight =this.tableHeigh(570)
    },
    mounted() {
      this.getList()
      this.getData()
      this.getTrainList()
    },
    methods: {
      getList(){
        getListAPI(this.listQuery).then(res =>{
          const data = res.data.data
          if(res.data.code == 0){
            this.list = data.list
            this.total = data.total;
            this.lastPage = Math.ceil(Number(data.total) / Number(this.listQuery.pageSize));
            this.listLoading = false
          }else{
            this.$message.error(data.msg)
          }
        })
      },
      getData(){
        getDataAPI(this.listQuery).then(res =>{
          const data = res.data
          if(data.code == 0){
            this.dataObj = data.data
          }else{
            this.$message.error(data.msg)
          }
        })
      },
      // 机构列表
      getTrainList(){
        const data = {
          type: this.listQuery.trainStatus
        }
        getTrainListAPI(data).then(res=>{
          if(res.data.code == 0){
            this.trainList = res.data.data
          }else{
            this.$message.error(res.data.msg)
          }
        })
      },
      chioceList(val) {//勾选
        this.batchList = val;
      },
      // 时间更改
      timeChange(value){
        if(this.timeLimit){
          this.listQuery.beginTime = this.timeLimit[0]
          this.listQuery.endTime = this.timeLimit[1]
        } else {
          this.listQuery.beginTime = null
          this.listQuery.endTime = null
        }
        this.getList()
      },
      // 机构类型改变
      trainTypeChange(value){
        this.listQuery.trainStatus = value
        this.listQuery.relationId = ''
        this.getTrainList()
        this.getList()
      },
      // 机构改变
      trainChange(value){
        this.listQuery.relationId = value
        this.getList()
      },
      //国家级规划教材更改
      countryChange(value){
        this.listQuery.countryStatus = value
        this.getList()
      },
      // 批量下载
      batchDownLoad(){
        var fromClass = document.getElementsByClassName('downFrom')[0]
        let child = fromClass.childNodes
        if(child&&child.length > 0){
          for(let i = child.length - 1; i >= 0; i--) {
            fromClass.removeChild(child[i]);
          }
        }
        if(this.batchList.length == 0){
          this.$message.error('请至少选择一条数据')
        }else{
            fromClass.action = `${this.baseUrl}/school-sysuser/fg/supervise/exportList`
            this.batchList.forEach((item,index)=>{
              let input0 = document.createElement("input");
              let input1 = document.createElement("input");
              let input2 = document.createElement("input");
                input0.name = `list[${index}].relationId`
                input0.value = item.relationId
                input1.name = `list[${index}].academicLevel`
                input1.value = item.academicLevel
                input2.name = `list[${index}].status`
                input2.value = 2
              fromClass.appendChild(input0); 
              fromClass.appendChild(input1); 
              fromClass.appendChild(input2); 
            })
          let button = document.createElement("button");
          fromClass.appendChild(button); 
          fromClass.submit()
        }
      },
      // 下载
      downLoad(row){
          var test=this.baseUrl + `/school-sysuser/fg/supervise/export?status=2&academicLevel=${row.academicLevel}&relationId=${row.relationId}`
          window.open(test,'_blank')
          this.$message.success("数据导出成功")
      },
      /*切换page*/
      pageChange(val) {

          this.listQuery.pageNum = val
          this.getList();
      },
    },

  }
</script>

<style lang="less" scoped>
.downFrom{
  display: none;
}
.contain{
    width: 100%;
    background: #F4F5F9;
    .regulatory{
        width: 1200px;
        margin: auto;
        position: relative;
        .screen{
            padding:20px 27px 10px;
            margin-bottom: 20px;
            border-top: 3px solid #3279FF;
            background: #fff;
        }
        .list-container{
            position: relative;
            background: #fff;
            border-bottom: 30px solid #F4F5F9;
            padding:20px 28px 20px 24px;
            .down{
                position: absolute;
                right: 28px;
                top: 20px;
                margin-bottom: 6px;
                width: 89px;
                height: 34px;
                line-height: 34px;
                background: #3279FF;
                color: #fff;
                font-size: 14px;
                text-align: center;
            }
            .down:hover{
                cursor: pointer;
            }
            .pagination-list{
                margin: 15px 0 100px 0px; ;
            }
            .statistics{
              position: absolute;
              left: 0;
              bottom: 20px;
              width: 1160px;
              line-height: 40px;
              height: 80px;
              background: #F4F5F9;
              margin: 0 20px;
              margin-top: 20px;
              .data-con{
                padding: 0 30px;
                display: flex;
                .name{
                  flex: 1;
                  .dataNum{

                  }
                }
              }
            }
        }

        .view{
        color: #3279FF;
        }
        .view:hover{
        cursor: pointer;
        }
        .out{
        position: absolute;
        top: 10px;
        right: 40px;
        }
        .out:hover {
        cursor: pointer;
        color: #3279FF;
        }
    }
}
</style>
