<template>
    <div class="createPost-container">
        <div class="createPost-main-container">
          <el-form
              :rules="rules"
              ref="dataForm"
              :model="formList"
              label-position="right"
              label-width="150px"
              class="form-container"
            >
            <el-row>
              <el-col :span="10">
                <el-row>
                  <el-form-item label="课程设置：" prop="courseDesign">
                      <el-col :span="20">
                          <el-input
                              v-model="formList.courseDesign"
                              placeholder=""
                          ></el-input>
                      </el-col>
                  </el-form-item>
                  <el-form-item label="教材数量：" prop="num">
                      <el-col :span="20">
                          <el-input
                              v-model="formList.num"
                              :maxlength=1
                              placeholder=""
                              @input="numChange"
                          ></el-input>
                      </el-col>
                  </el-form-item>
                  <el-form-item label="理论课时：" prop="theoryClassHour">
                      <el-col :span="20">
                          <el-input
                              v-model="formList.theoryClassHour"
                              placeholder=""
                          ></el-input>
                      </el-col>
                  </el-form-item>
                  <el-form-item label="实训课时：" prop="trainingHours">
                      <el-col :span="20">
                          <el-input
                              v-model="formList.trainingHours"
                              placeholder=""
                          ></el-input>
                      </el-col>
                  </el-form-item>
                  <!-- <el-form-item label="绑定培养层次：" prop="name">
                    <el-col :span="16">
                      <el-input v-model="formList.name"></el-input>
                    </el-col>
                    <el-col :span="8" style="padding-left:15px;">
                      <el-button @click="openTrain">选择培养层次</el-button>
                    </el-col>
                  </el-form-item> -->
                </el-row>
              </el-col>
              <el-col :span="14" >
                  <el-col :span="21" v-for="(item,inde) in formList.list" :key="inde" >
                    <el-form-item label="教材名称：" prop="resourceName" class="addRoleCss">         
                      <div class="textBook">
                        <div class="choiseBook">
                          <input type="text"  class="homeSearch" placeholder="" v-model="item.resourceName"
                          @keyup.enter="searchBtn"
                          @input="inputChange(inde,item)"
                          @click="focusInput(inde)">
                          <div class="select">
                            <el-select v-model="item.type" @change="typeChange(item)" placeholder="">
                              <el-option label="系统教材"  value="0"></el-option>
                              <el-option label="校本库" value="1"></el-option>
                            </el-select>
                          </div>     
                        </div>
                        <div class="searchResult" v-if="item.resourceName!= '' &&ind == inde&&suggest.length>0&&isSuggestList">
                          <ul>
                            <li v-for="(iv,indO) in suggest" :key="indO" @click="searchSuggest(iv,item)">
                              <img :src="`${uploadUrlT}`+ iv.cover" alt="" :onerror="errorGoodsImg">
                              <span  v-if="item.type == 0">{{iv.term}}</span>
                              <span v-if="item.type == 1">{{iv.resourceName}}</span>
                            </li>
                          </ul>
                        </div>
                      </div>  
                      <!-- <div class="redStart">*</div> -->
                    </el-form-item>
                    <!-- <el-form-item>
                      <div class="errorMess" v-if="bookStatus[inde] ==1">请选择教材</div>
                    </el-form-item> -->
                    
                    <el-form-item label="习题册：" prop="exerciseBookId" v-show="formList.list[inde].exerciseBookId">
                      <el-col :span="24">
                        <el-input
                            v-model="formList.list[inde].exerciseBook" :disabled="true"
                            placeholder=""
                        ></el-input>
                      </el-col>
                    </el-form-item>
                    <el-form-item label="教参：" prop="guidebooksId" v-show="formList.list[inde].guidebooksId">
                      <el-col :span="24">
                        <el-input
                            v-model="formList.list[inde].guideBook" :disabled="true"
                            placeholder=""
                        ></el-input>
                      </el-col>
                    </el-form-item>
                    <el-form-item label="课程安排：" prop="pcrs" class="lesson-position">
                      <el-col :span="19"  v-for="(item,index) in formList.list[inde].pcrs" :key="index">
                        <el-col :span="12">
                          <el-select clearable v-model="item.semester" @change="changeArrange(index,item,inde,formList.list[inde])">
                            <el-option
                              v-for="(item) in semesterList"
                              :key="item.name"
                              :label="item.name"
                              :value="item.value"
                              :disabled="item.disabled"
                              >
                            </el-option>
                          </el-select>
                        </el-col>
                        <el-col :span="5">
                          &nbsp&nbsp&nbsp周课时数：
                        </el-col>
                        <el-col :span="7">
                          <el-select clearable v-model="item.weeklyHours" @change="changeWeek(item,inde,formList.list[inde])">
                            <el-option
                                v-for="(item) in numList"
                                :key="item"
                                :label="item"
                                :value="item"
                                >
                            </el-option>
                          </el-select>
                        </el-col>
                      </el-col>
                      <!-- <div class="redStart">*</div> -->
                      <el-col :span="5">
                        <i class="el-icon-plus" @click="addArrange(inde)" title="添加"></i>
                        <i class="el-icon-close" v-if="formList.list[inde].pcrs.length > 1" @click="deleteArrange(inde)" title="删除"></i>
                      </el-col>
                    </el-form-item>
                    <el-form-item>
                      <div class="errorMess" v-if="lessonStatus[inde] ==1">请选择课程安排</div>
                    </el-form-item>
                  </el-col>
              </el-col>
            </el-row>
            <el-row>
              <el-form-item>
                  <el-button class="form-submit" @click="submitFrom()">保存</el-button>
                  <el-button @click="close">取消</el-button>
              </el-form-item>
            </el-row>
          </el-form>
           <!-- 选择培养层次 -->
          <!-- <el-dialog
            title="选择培养层次"
            :visible.sync="dialogVisible"
            width="60%"
            top="30vh">
            <el-form inline class="form-inline">
              <el-form-item label="学级：" prop="academicLevel">
                    <el-col :span="20">
                        <el-select v-model="trainListQuery.academicLevel" @change="choiseasademic" clearable placeholder="请选择学级">
                          <el-option label="全部" :value="null"></el-option>
                            <el-option
                            v-for="item in academicList"
                            :key="item"
                            :label="item"
                            :value="item">
                            </el-option>
                        </el-select>
                    </el-col>
                </el-form-item>
              <el-form-item label="部门：">
                  <el-col :span="20">
                      <el-select v-model="trainListQuery.departmentId" @change="choisedept" placeholder="请选择部门">
                          <el-option label="全部" :value="null">
                          </el-option>
                          <el-option v-for="item in departList" :key="item.id" :label="item.name" :value="item.id">
                          </el-option>
                      </el-select>
                  </el-col>
              </el-form-item>
              <el-form-item label="专业：" prop="majorId">
                    <el-col :span="20">
                        <el-select v-model="trainListQuery.majorId" @change="choisemajor" clearable placeholder="请选择专业">
                          <el-option label="全部" :value="null"></el-option>
                            <el-option
                            v-for="item in majorList"
                            :key="item.id"
                            :label="item.name"
                            :value="item.id">
                            </el-option>
                        </el-select>
                    </el-col>
                </el-form-item>
              <el-form-item >
                <el-button @click="resetFilter">重置</el-button>
              </el-form-item>
            </el-form>
            <el-row>
              <el-col :span="18">
                <el-table :data="list" ref="singleTable" v-loading="listLoading" element-loading-text="给我一点时间" border highlight-current-row stripe @selection-change="chioceList" >
                  <el-table-column type="selection" align="center"></el-table-column>

                  <el-table-column label="培养层次" min-width="120" align="center">
                    <template slot-scope="scope">
                      <span>{{scope.row.name}}</span>
                    </template>
                  </el-table-column>
                </el-table>
              </el-col>
              <el-col :span="6">
                <h3 class="transfer-title">已选择{{selectList.length}}个培养层次，点击删除</h3>
                <div class="transfer">
                    <ul>
                        <li v-for="(item,index) in selectList" :key="index" @click="deselected(item,index)">{{item.name}}</li>
                    </ul>
                </div>
              </el-col>
            </el-row>
            <div class="pagination-container">
              <el-pagination @size-change="handleSizeChange" @current-change="handleCurrentChange" :current-page="trainListQuery.pageNum" :page-sizes="[10,30,50,100,200,500]" :page-size="trainListQuery.pageSize" layout="total, sizes, prev, pager, next, jumper" :total="total" align="center">
              </el-pagination>
            </div>
            <span slot="footer" class="dialog-footer">
              <el-button type="primary" @click="choiseMember">确 定</el-button>
              <el-button @click="dialogVisible = false">取 消</el-button>
            </span>
          </el-dialog> -->
        </div>
    </div>
</template>

<script>
import {getMajorListAPI ,getAcademicListAPI,getTrainListAPI,getBookListAPI } from "@/api/backstage/basicInfo/publicLesson";
import {  saveLinkAPI,getDetailLinkAPI,updateLinkAPI} from "@/api/backstage/basicInfo/basicTeach";
import { getMultipleMemberName,getMultipleMemberId } from '@/filters/getIds'

import {getBookSuggestAPI} from '@/api/resources.js';
  import { uploadUrlT } from "@/utils/global";
import store from "@/store";

export default {
  data() {

    return {
        uploadUrlT:uploadUrlT,
        formList:{
            lessonType:'0',
            num:1,
            list:[],
            basicPlanId:''
        },
        departListQuery:{
            pageNum:1,
            pageSize:100
        },
        select:"",
        rules: {
            courseDesign: [ {required: true,max: 20,message: "请输入20字以内的课程名称",trigger: "change"}],
            num: [ {required: true,pattern: /^([1-9]|10)$/ , message: '请输入1-10之间的整数',trigger: "change"}],
            name: [ {required: true, message: '请绑定培养层次',trigger: "change"}],
            theoryClassHour: [ {required: true, pattern: /^([1-9]\d{0,5}|0)$/ , message: '请输入整数的理论课时',trigger: "change"}],
            trainingHours: [ {required: true,pattern: /^([1-9]\d{0,5}|0)$/ , message: '请输入整数的实训课时',trigger: "change"}],
        },
        suggest:[],
        isSuggestList:false,
        errorGoodsImg:'this.src="' + require('../../../../../src/assets/img/01-searList.png') + '"',
        ind:'',
        semesterList:[
          {
            name:'第一学期',
            value:1,
            disabled:false
          },
          {
            name:'第二学期',
            value:2,
            disabled:false
          },
          {
            name:'第三学期',
            value:3,
            disabled:false
          },
          {
            name:'第四学期',
            value:4,
            disabled:false
          },
          {
            name:'第五学期',
            value:5,
            disabled:false
          },
          {
            name:'第六学期',
            value:6,
            disabled:false
          },
          {
            name:'第七学期',
            value:7,
            disabled:false
          },
          {
            name:'第八学期',
            value:8,
            disabled:false
          },
          {
            name:'第九学期',
            value:9,
            disabled:false
          },
          {
            name:'第十学期',
            value:10,
            disabled:false
          }],
        numList:[0,1,2,3,4,5,6,7,8],
        dialogVisible:false,
        trainListQuery:{
            pageNum: 1,
            pageSize: 100,
        },
        listLoading: true,
        selectList:[],
        list:[],
        total:null,
        departList:[],
        majorList:[],
        trainList:[],
        academicList:[],
        schoolSystem:'',
        lessonStatus:[],
        // bookStatus:[]
    };
  },
  created(){

  },
  mounted() {


      this.numChange(1)

    //   this.getDepartmentList()
      this.getDetail()
      // this.$nextTick(()=>{
        this.getSemesterList()
      // })
      
  },
  methods: {
    //   教材数量更改
      numChange(val){
        if(val >0){
          this.formList.num = Number(val)
          let len = this.formList.list.length

          if(val > len){
            let list = Array.apply(null, {length:val-len})
            let newList = list.map((item,index,arrt)=>{
              return item =  {
                resourceName:'',
                exerciseBook:'',
                exerciseBookId:'',
                guideBook:'',
                guidebooksId:'',
                type:'0',
                id:'',
                lessonType:'1',
                pcrs:[{
                  semester:'',
                  // type:'1',
                  weeklyHours:''
                }]
              }
            })
            this.formList.list = this.formList.list.concat(newList)
          }else if(val < len){
              this.formList.list.splice(val,len-val)
          }
        }
      },
      // input框聚焦
      focusInput(index){
        if(this.formList.list[index].type){
        }else{
          this.$message('请选择资源库')
        }
      },
     /*自动补全*/
      inputChange(index,item) {
        this.ind = index
        if (this.formList.list[index].resourceName != ''&&this.formList.list[index].type != '') {
          // this.bookStatus[index] = false
          if(item.type == 0){
            getBookSuggestAPI({
              term: this.formList.list[index].resourceName,
              num: 3
            }).then(res => {
              if (res.data.status) {
                this.suggest = res.data.data;
                this.isSuggestList = true;
              }
            })
          }else{
            getBookListAPI({pageNum:1,pageSize:3,resourceName:this.formList.list[index].resourceName}).then(res=>{
              if(res.data.code == 0){
                this.suggest = res.data.data.list;
                this.isSuggestList = true;
              }
            })
          }

        } else if(this.formList.list[index].type == ''){
          this.$message('请选择资源库')
        }
        else {
          this.suggest = [];
          this.isSuggestList = false;
        }
      },
    //   选中教材
    searchSuggest(val,item){
          const li = this.formList.list[this.ind]
        if(item.type == 0){
          this.isSuggestList = false;
          li.resourceName = val.term
          li.resourceId = val.id  
          li.lessonType  = 1
          li.resourceType  = val.type
          li.exerciseBook = val.exercise
          li.exerciseBookId = val.exerciseBookId
          li.guideBook = val.guideBook
          li.guidebooksId = val.guideBooksId
        }else if(item.type == 1){
          this.isSuggestList = false;
          li.lessonType  = 1
          li.resourceName = val.resourceName
          li.resourceId = val.id          
        }
    },
    // 资源库类型选择
    typeChange(item){
      if(item.type == 0){
        item.resourceName = ''
        item.exerciseBook = ''
        item.exerciseBookId = ''
        item.guideBook = ''
        item.lessonType='1'
    }else{
        item.resourceName = ''
        item.exerciseBook = ''
        item.exerciseBookId = ''
        item.guideBook = ''
        item.lessonType='1'
    }
        this.suggest = []
    },
    // 选中学期
    changeArrange(index,item,inde,list){
      this.semesterList.forEach(el=>{
            el.disabled = false
        })
      this.formList.list.forEach(item=>{
        item.pcrs.forEach(obj=>{
          this.semesterList.forEach(el=>{
            if(el.value == obj.semester){
              el.disabled = true
            }
          })
        })
      })
      if(list.resourceId){
        if(item.semester&&item.weeklyHours||item.semester&&item.weeklyHours === 0){
          this.lessonStatus[inde] = false
        }else{
          this.lessonStatus[inde] = true
        }
        this.$forceUpdate()
      } 
    },
    // 选中周课时
    changeWeek(item,index,list){
      if(list.resourceId){
        if(item.semester&&item.weeklyHours||item.semester&&item.weeklyHours ===0){
          this.lessonStatus[index] = false
        }else{
          this.lessonStatus[index] = true
        }
        this.$forceUpdate()
      }
      
    },
     // 添加课程安排
    addArrange(index){
      let list = this.formList.list[index].pcrs
      if(list.length <this.schoolSystem*2){
        if(list[list.length - 1].semester === ''){
          this.$message('请选择学期')
        }else if(list[list.length - 1].weeklyHours === ''){
          this.$message('请选择周课时数')
        }
        else{
          this.formList.list[index].pcrs.push({semester:'',weeklyHours:''})
        }
      }else{
        return
      }
      
    },
    // 删除课程
    deleteArrange(index){
      this.formList.list[index].pcrs.pop()
      this.changeArrange(index)
    },
    resetFilter(){//重置
      this.trainListQuery = {
        pageNum: 1,
        pageSize: this.trainListQuery.pageSize,
      }
      this.getTrainList()
    },
    // 改变分页大小
    handleSizeChange(val) {
      this.trainListQuery.pageSize = val
      this.getTrainList()
    },
    // 页数改变
    handleCurrentChange(val) {
      this.listQutrainListQueryery.pageNum = val
      this.getTrainList()
    },

    // 获取详情
      getDetail() {
      const info = this.$route.query
      this.title = info.title;
      let id = info.id;
      this.schoolSystem = info.schoolSystem
      this.$route.meta.title = info.title;
      this.formList.basicPlanId = info.basicPlanId
      if (id && this.title != "添加基础教学计划") {
        getDetailLinkAPI(id).then(res => {
          const data = res.data.data
          if(res.data.code === 0){
              this.semesterList.forEach(el=>{
                el.disabled = false
              })
              data.list.forEach(item=>{
                item.pcrs.forEach(obj=>{
                  this.semesterList.forEach(el=>{
                    if(el.value == obj.semester){
                      el.disabled = true
                    }
                  })
                })
              }) 
              this.formList = data
          }else{
            this.$message.error("请求出错啦");
          }
        });
      }
    },
    getSemesterList(){
      this.semesterList = this.semesterList.slice(0,this.schoolSystem*2)
    },
    getStatus(){
        this.formList.list.forEach((el,index) => {
          // if(el.resourceId){
          //   this.bookStatus[index] = false
          // }else{
          //   this.bookStatus[index] = true
          // }
          if(el.resourceId){
            if(el.pcrs[el.pcrs.length-1].semester&&el.pcrs[el.pcrs.length-1].weeklyHours||el.pcrs[el.pcrs.length-1].semester&&el.pcrs[el.pcrs.length-1].weeklyHours ===0){
              this.lessonStatus[index] = false
            }else{
              this.lessonStatus[index] = true
            }
          }else{

          }
          
      });
    },
    // 保存
    submitFrom() {
      this.getStatus()
      this.$forceUpdate()
      this.$refs["dataForm"].validate(valid => {
        if (valid) {
            if (this.title == "添加基础教学计划"){
              saveLinkAPI(this.formList).then(res=>{
                  const code = res.data.code
                if (code === 0) {
                  this.$message.success("添加基础教学计划成功");
                  this.$router.back();
                } else {
                  this.$message.error(res.data.msg);
                }
              })
          } else if (this.title == "修改基础教学计划") {
            updateLinkAPI(this.formList).then(res=>{
                const code = res.data.code
                if (code === 0) {
                  this.$message.success("修改基础教学计划成功");
                  this.$router.back();
                } else {
                  this.$message.error(res.data.msg);
                }
            })
          }
        } 
      });
    },

      close(){
          this.$router.back()
      },
    // 查看返回
    backBtn() {
      this.$router.back();
    }
  }
};
</script>

<style rel="stylesheet/scss" lang="scss" scoped>
@import "src/style/mixin.scss";

.createPost-container {
  position: relative;
  .createPost-main-container {
    padding: 50px;
    .el-dialog__header {
      background: #15d;
      color: #fff;
    }
  }
}
.upload-demo {
  margin-left: 10px;
}
.choiseBook{
    display: flex;
}
.addRoleCss {
    position: relative;
    .redStart {
      position: absolute;
      top: 0;
      color: #F56C6C;
      left: -92px;
    }

  }
  .lesson-position {
    position: relative;
    .redStart {
      top: 0;
      left: -92px;
      position: absolute;
      color: #F56C6C;
      
    }

  }
  .errorMess {
    /*position: absolute;*/
    color: #F56C6C;
    font-size: 12px;
    line-height: 1;
    padding-top: 0px;
    margin-top: -15px;
    /*position: absolute;
    top: 100%;
    left: 0;*/
  }
.textBook{
  margin-bottom: 10px;
    position: relative;
    .choiseBook{
        display: flex;
        .homeSearch {
          padding-left:16px;
            display: inline-block;
            height: 40px;
            line-height: 40px;
            width: 550px;
            border: 1px solid #ddd;
            border-radius: 4px;
            font-size: 14px;
        }
        .homeSearch::-ms-clear{display: none;}
        .homeSearch::-ms-reveal{display: none;}
        .homtSearchBtn {
            width: 128px;
            height: 55px;
            background: linear-gradient(90deg, rgba(86, 158, 255, 1) 0%, rgba(50, 121, 255, 1) 100%);
            border-radius: 0px 28px 28px 0px;
            cursor: pointer;
            img {
            display: block;
            margin: 12px auto 0;
            width: 32px;
            height: 32px;

            }
        }
        .select{
          margin-left: 20px;
            display: inline-block;
        }
    }
    .searchResult {
        position: absolute;
        width: 337px;
        // margin-left: 20px;
        top: 40px;
        margin-top: 0px;
        border: 1px solid #ddd;
        background: #fff;
        display: block;
        // float: left;
        z-index: 11;
        ul {
            padding: 8px 0;
            li {
                display: flex;
                width: 310px;
                line-height: 54px;
                margin: 0 10px;
                border-bottom: 1px solid #f5f5f5;
                height: 54px;
                cursor: pointer;
                span {
                    // float: left;
                    padding-left: 6px;
                    width: 270px;
                    white-space: nowrap;
                    overflow: hidden;
                    text-overflow: ellipsis;
                }
                // h1 {
                //     float: right;
                //     display: block;
                //     width: 200px;
                //     text-align: right;
                //     white-space: nowrap;
                //     overflow: hidden;
                //     text-overflow: ellipsis;
                // }
                img{
                    padding-top: 6px;
                    max-height: 40px;
                    max-width: 40px;
                }
            }
            li:hover {
            color: #3279FF;
            }
            li:last-child {
            // border-bottom: none;
            }
        }
    }
}
.el-icon-plus{
  background: rgb(75, 130, 240);
  color: #fff;
  border-radius: 30px;
  margin-left: 14px;
  margin-top: 6px;
  line-height: 30px;
  font-size: 30px;
}
.el-icon-close{
  background: rgb(75, 130, 240);
  color: #fff;
  border-radius: 30px;
  line-height: 30px;
  font-size: 30px;
}

.el-icon-close:hover, .el-icon-plus:hover{
  cursor: pointer;
}

.transfer-title{
    margin: 10px;
}
.transfer{
    margin: 0 10px;
    height:400px;
    border: 1px solid #999;
    overflow: scroll;
}
</style>

