<template>
    <div class="createPost-container">
        <div class="createPost-main-container">
            <el-form
                :rules="rules"
                ref="dataForm"
                :model="formList"
                label-position="right"
                label-width="150px"
                class="form-container"
            >
            <el-row>
                <el-form-item label="学级：" prop="academicLevel">
                    <el-select v-model="formList.academicLevel"  style="width:300px" clearable placeholder="请选择学级">
                        <el-option
                        v-for="item in dataList"
                        :key="item"
                        :label="item"
                        :value="item">
                        </el-option>
                    </el-select>
                </el-form-item>
                <el-form-item label="部门：" prop="departmentId">
                    <el-select v-model="formList.departmentId" @change="choisedept"  style="width:300px" clearable placeholder="请选择部门">
                        <el-option  v-for="item in deptList" :key="item.id" :label="item.name" :value="item.id"></el-option>
                    </el-select>
                </el-form-item>
                <el-form-item label="专业：" prop="majorId">
                    <el-select v-model="formList.majorId" @change="choisemajor"  style="width:300px" clearable placeholder="请选择专业">
                        <el-option
                        v-for="item in majorList"
                        :key="item.id"
                        :label="item.name"
                        :value="item.id">
                        </el-option>
                    </el-select>
                </el-form-item>
                <el-form-item label="生源：" prop="studentResource">
                    <el-select v-model="formList.studentResource"  style="width:300px" clearable placeholder="请选择生源">
                        <el-option
                        v-for="item in studentResourceList"
                        :key="item.id"
                        :label="item.cnkey"
                        :value="item.value">
                        </el-option>
                    </el-select>
                </el-form-item>
                <el-form-item label="学制：" prop="educationalSystem">
                    <el-input
                        v-model="formList.educationalSystem"  style="width:300px"
                        placeholder="请输入学制"
                    ></el-input>
                </el-form-item>
                <el-form-item label="定向培养：" prop="train">
                    <el-select v-model="formList.train"  style="width:300px" clearable placeholder="">
                        <el-option
                        v-for="item in trainList"
                        :key="item.id"
                        :label="item.cnkey"
                        :value="item.value">
                        </el-option>
                    </el-select>
                </el-form-item>
                <el-form-item>
                    <el-button class="form-submit" @click="submitFrom()">保存</el-button>
                    <el-button @click="$router.back()">取消</el-button>
                </el-form-item>
                </el-row>
            </el-form>

        </div>
    </div>
</template>

<script>
import { getDepartmentListAPI,getMajorListAPI ,getStudentResourceListAPI,saveAPI,getDetailAPI,updateAPI,getLastDetAPI,getTrainListAPI } from "@/api/backstage/basicInfo/basicTeach";
import store from "@/store";

export default {
  data() {

    return {
        formList:{
          academicLevel:'',
          departmentId:'',
          majorId:'',
          studentResource:'',
          // educationalSystem:null
        },
        deptList:[],
        majorList:[],
        studentResourceList:[],
        listQuery: {
          pageNum: 1,
          pageSize: 100,
          departmentId:''
        },
        dataList:[],
        trainList:[],
        rules: {
            academicLevel: [ {required: true,message: "请选择学级",trigger: "change"}],
            departmentId: [ {required: true,message: "请选择部门",trigger: "change"}],
            majorId: [ {required: true,message: "请选择专业",trigger: "change"}],
            studentResource: [ {required: true,message: "请选择生源",trigger: "change"}],
            educationalSystem: [ {required: true,pattern: /^([1-5])$/ ,message: "请输入1-5年学制",trigger: "change"}],

      },
    };
  },
  created(){

  },
  mounted() {
      this.getData()
      this.getDepartmentList()
      this.getMajorList(this.listQuery.departmentId)
      this.getStudentResourceList()
      this.getDetail()
      this.getTrainList()
  },
  methods: {
    // 获取学级
    getData(){
      let myDate= new Date(); 
      let startYear=myDate.getFullYear()-5;//起始年份 
      let endYear=myDate.getFullYear()+5;//结束年份 
      for (var i=startYear;i<=endYear;i++){
        this.dataList.push(i)
      } 
    },
    //   获取部门列表
    getDepartmentList(){
      getDepartmentListAPI().then(res => {
          res.data.code === 0
            ? (this.deptList = res.data.data)
            : this.$message.error("请求出错啦");
        });
    },
    
    //   获取专业列表
    getMajorList(id){
      getMajorListAPI({departmentId:id}).then(res => {
          res.data.code === 0
            ? (this.majorList = res.data.data.list)
            : this.$message.error("请求出错啦");
        });
    },
    //   获取生源列表
    getStudentResourceList(){
      getStudentResourceListAPI().then(res => {
          res.data.code === 0
            ? (this.studentResourceList = res.data.data)
            : this.$message.error("请求出错啦");
        });
    },
    //   获取生源列表
    getTrainList(){
      getTrainListAPI().then(res => {
          res.data.code === 0
            ? (this.trainList = res.data.data)
            : this.$message.error("请求出错啦");
        });
    },
    // 选择部门
    choisedept(val){
      this.formList.majorId = ''
      this.getMajorList(val)
    },
    // 选择专业
    choisemajor(val){
      this.$forceUpdate()
    },

    // 获取详情
      getDetail() {
      const info = this.$route.query
      this.title = info.title;
      let id = info.id;
      this.$route.meta.title = this.title;
      if (id && this.title != "添加基础教学计划") {
        getDetailAPI(id).then(res => {
          const data  = res.data.data
          if(res.data.code === 0){
            this.formList = data
            this.getMajorList(data.departmentId)
          }else{
            this.$message.error("请求出错啦");
          }
        })
      }else{
        getLastDetAPI().then(res =>{
          const data  = res.data.data
          if(data){
            this.formList={
            academicLevel:data.academicLevel,
            departmentId:data.departmentId,
            majorId:data.majorId,
            studentResource:data.studentResource,
          }
          this.getMajorList(data.departmentId)
          }
          
        })
      }
    },


    // 保存
    submitFrom() {
      this.$refs["dataForm"].validate(valid => {
        if (valid) {
              this.formList.educationalSystem = +this.formList.educationalSystem
            if (this.title == "添加基础教学计划"){
              saveAPI(this.formList).then(res=>{
                  const code = res.data.code
                if (code === 0) {
                  this.$message.success("添加基础教学计划成功");
                  this.$router.back();
                } else {
                  this.$message.error(res.data.msg);
                }
              })
          } else if (this.title == "修改基础教学计划") {
            this.formList.id=this.$route.query.id, 
            this.formList.opreatIds=this.opreatIds, 
            this.formList.moduleIds=this.moduleIds
            updateAPI(this.formList).then(res=>{
                const code = res.data.code
                if (code === 0) {
                  this.$message.success("修改基础教学计划成功");
                  this.$router.back();
                } else {
                  this.$message.error(res.data.msg);
                }
            })
          }
        }
      });
    },



    // 查看返回
    backBtn() {
      this.$router.back();
    }
  }
};
</script>

<style rel="stylesheet/scss" lang="scss" scoped>
@import "src/style/mixin.scss";

.createPost-container {
  position: relative;
  .createPost-main-container {
    padding: 50px;
    .el-dialog__header {
      background: #15d;
      color: #fff;
    }
  }
}
.upload-demo {
  margin-left: 10px;
}
</style>

