<template>
    <div class="app-container calendar-list-container">
        <div class="nav-buttons-container">
            <router-link :to="{ path:`addLinkTeach`,query:{title:'添加基础教学计划',basicPlanId:basicPlanId,schoolSystem:schoolSystem}}" ><el-button v-if="authBtns.filter(i => i.idName=='addBtn').length>0 && authBtns.filter(i => i.idName=='addBtn')[0].icon">{{authBtns.filter(i => i.idName=='addBtn')[0].name}}<i  :class="[authBtns[authBtns.map(i => i.idName).indexOf('addBtn')].icon, 'el-icon--right']"></i></el-button></router-link>
            <el-button v-if="authBtns.filter(i => i.idName=='batchDeleteBtn').length>0 && authBtns.filter(i => i.idName=='batchDeleteBtn')[0].icon" @click="batchDelete">{{authBtns.filter(i => i.idName=='batchDeleteBtn')[0].name}}<i  :class="[authBtns[authBtns.map(i => i.idName).indexOf('batchDeleteBtn')].icon, 'el-icon--right']"></i></el-button>
            <el-button v-if="authBtns.filter(i => i.idName=='batchImportBtn').length>0 && authBtns.filter(i => i.idName=='batchImportBtn')[0].icon" @click="importBtn">{{authBtns.filter(i => i.idName=='batchImportBtn')[0].name}}<i  :class="[authBtns[authBtns.map(i => i.idName).indexOf('batchImportBtn')].icon, 'el-icon--right']"></i></el-button>
            <el-button v-if="authBtns.filter(i => i.idName=='batchPrintBtn').length>0 && authBtns.filter(i => i.idName=='batchPrintBtn')[0].icon"  @click="printBtn">{{authBtns.filter(i => i.idName=='batchPrintBtn')[0].name}}<i  :class="[authBtns[authBtns.map(i => i.idName).indexOf('batchPrintBtn')].icon, 'el-icon--right']"></i></el-button>
     
        </div>
        <!-- 部门列表 -->
        <el-table
            :key="tableKey"
            :data="list"
            v-loading="listLoading"
            element-loading-text="给我一点时间"
            border=""
            highlight-current-row
            stripe
            @selection-change="chioceList"
        >
            <el-table-column type="selection" align="center"></el-table-column>
            <el-table-column type="index"  label="序号" width="60" align="center"></el-table-column>
            <el-table-column label="课程设置" min-width="160" align="center">
                <template slot-scope="scope">
                    <span>{{scope.row.courseDesign}}</span>
                </template>
            </el-table-column>
            <el-table-column label="教材数量" width="80" align="center">
                <template slot-scope="scope">
                    <span>{{scope.row.num}}</span>
                </template>
            </el-table-column>
            <el-table-column label="教材名称" min-width="180" align="center">
                <template slot-scope="scope">
                    <span>{{scope.row.resourceName}}</span>
                </template>
            </el-table-column>
            <el-table-column label="习题册" min-width="140" align="center">
                <template slot-scope="scope">
                    <span v-if="scope.row.exerciseBook">{{scope.row.exerciseBook}}</span>
                    <span v-else>暂无习题册</span>
                </template>
            </el-table-column>
            <el-table-column label="理论课时" width="80" align="center">
                <template slot-scope="scope">
                    <span>{{scope.row.theoryClassHour}}</span>
                </template>
            </el-table-column>
            <el-table-column label="实训课时" width="80" align="center">
                <template slot-scope="scope">
                    <span>{{scope.row.trainingHours}}</span>
                </template>
            </el-table-column>
              <el-table-column label="第一学期" min-width="80" align="center" v-if="len > 0">
                <template slot-scope="scope">
                    <span v-if="scope.row.pcrs[0]&&scope.row.pcrs[0].weeklyHours">{{scope.row.pcrs[0].weeklyHours}}</span>
                    <span v-else>-</span>
                </template>
              </el-table-column>
              <el-table-column label="第二学期" width="80" align="center" v-if="len > 1">
                <template slot-scope="scope">
                    <span  v-if="scope.row.pcrs[1]&&scope.row.pcrs[1].weeklyHours">{{scope.row.pcrs[1].weeklyHours}}</span>
                    <span v-else>-</span>
                </template>
              </el-table-column>
              <el-table-column label="第三学期" width="80" align="center" v-if="len > 2">
                <template slot-scope="scope">
                    <span  v-if="scope.row.pcrs[2]&&scope.row.pcrs[2].weeklyHours">{{scope.row.pcrs[2].weeklyHours}}</span>
                    <span v-else>-</span>
                </template>
              </el-table-column>
              <el-table-column label="第四学期" width="80" align="center" v-if="len > 3">
                <template slot-scope="scope">
                    <span  v-if="scope.row.pcrs[3]&&scope.row.pcrs[3].weeklyHours">{{scope.row.pcrs[3].weeklyHours}}</span>
                    <span v-else>-</span>
                </template>
              </el-table-column>
              <el-table-column label="第五学期" width="80" align="center" v-if="len > 4">
                <template slot-scope="scope">
                    <span  v-if="scope.row.pcrs[4]&&scope.row.pcrs[4].weeklyHours">{{scope.row.pcrs[4].weeklyHours}}</span>
                    <span v-else>-</span>
                </template>
              </el-table-column>
              <el-table-column label="第六学期" width="80" align="center" v-if="len > 5">
                <template slot-scope="scope">
                    <span  v-if="scope.row.pcrs[5]&&scope.row.pcrs[5].weeklyHours">{{scope.row.pcrs[5].weeklyHours}}</span>
                    <span v-else>-</span>
                </template>
              </el-table-column>
              <el-table-column label="第七学期" width="80" align="center" v-if="len > 6">
                <template slot-scope="scope">
                    <span  v-if="scope.row.pcrs[6]&&scope.row.pcrs[6].weeklyHours">{{scope.row.pcrs[6].weeklyHours}}</span>
                    <span v-else>-</span>
                </template>
              </el-table-column>
              <el-table-column label="第八学期" width="80" align="center" v-if="len > 7">
                <template slot-scope="scope">
                    <span  v-if="scope.row.pcrs[7]&&scope.row.pcrs[7].weeklyHours">{{scope.row.pcrs[7].weeklyHours}}</span>
                    <span v-else>-</span>
                </template>
              </el-table-column>
              <el-table-column label="第九学期" width="80" align="center" v-if="len > 8">
                <template slot-scope="scope">
                    <span  v-if="scope.row.pcrs[8]&&scope.row.pcrs[8].weeklyHours">{{scope.row.pcrs[8].weeklyHours}}</span>
                    <span v-else>-</span>
                </template>
              </el-table-column>
              <el-table-column label="第十学期" width="80" align="center" v-if="len > 9">
                <template slot-scope="scope">
                    <span  v-if="scope.row.pcrs[9]&&scope.row.pcrs[9].weeklyHours">{{scope.row.pcrs[9].weeklyHours}}</span>
                    <span v-else>-</span>
                </template>
              </el-table-column>
            <el-table-column class-name="small-padding fixed-width" width="80" label="操作"  align="center">
                <template slot-scope="scope">
                  <router-link v-if="authBtns.filter(i => i.idName=='editBtn').length > 0&&scope.row.lessonType == 0" :to="{ path:`addLinkTeach`, query:{id:scope.row.id,title:'修改基础教学计划',basicPlanId:basicPlanId,schoolSystem:schoolSystem}}" >
                    <i  :class="authBtns.filter(i => i.idName=='editBtn')[0].icon" :title="authBtns.filter(i => i.idName=='editBtn')[0].name"></i>
                  </router-link>
                  <span v-else>-</span>
                  <i v-if="authBtns.filter(i => i.idName=='deleteBtn').length > 0&&scope.row.lessonType == 0" :class="authBtns.filter(i => i.idName=='deleteBtn')[0].icon" :title="authBtns.filter(i => i.idName=='deleteBtn')[0].name" @click="deleteBtn(scope.row)"></i>
                    <span v-else>-</span>
                </template>
            </el-table-column>
        </el-table>
        <div class="pagination-container">
            <el-pagination
                @size-change="handleSizeChange"
                @current-change="handleCurrentChange"
                :current-page="listQuery.pageNum"
                :page-sizes="[30,50,100,200,500]"
                :page-size="listQuery.pageSize"
                layout="total, sizes, prev, pager, next, jumper"
                :total="total"
                align="center"
            ></el-pagination>
        </div>
        <!-- 导入 -->
        <el-dialog
          title="导入Excel"
          :visible.sync="importExcDialog"
          width="25%"
          style="height:auto !important;" 
        >
          <p>请选择要导入的文件，文件类型只支持Excel。</p>
          <div class="importExc">
            <input type="file" @change="fileSelect" ref="file">
            <a class="fake-download" :href="`${baseUrl}/school-sysuser/课程导入模板.xls`">下载模板文件</a>
          </div>
          <!-- <el-progress :percentage="downLoadVal" :stroke-width="12" color="#67C23A"></el-progress> -->
          <div slot="footer" class="dialog-footer">
            <el-button @click="confirmImport">确 定</el-button>
            <el-button @click="importExcDialog = false">取 消</el-button>
          </div>
        </el-dialog>
         <!-- 导入错误信息 -->
        <el-dialog
          title="错误信息"
          :visible.sync="errorExcDialog"
          width="55%"
          style="height:auto !important;" 
        >
        
          <div class="importExc">
             <!-- 错误列表 -->
            <el-table
                :key="tableKey1"
                :data="errorList"
                v-loading="listLoading"
                element-loading-text="给我一点时间"
                border=""
                highlight-current-row
                stripe
                @selection-change="chioceList"
            > 
                
                <el-table-column label="课程名称" min-width="60" align="center">
                    <template slot-scope="scope">
                        <span>{{scope.row.courseDesign}}</span>
                    </template>
                </el-table-column>
                <el-table-column label="ISBN" min-width="100" align="center">
                    <template slot-scope="scope">
                        <span>{{scope.row.isbn}}</span>
                    </template>
                </el-table-column>
                <el-table-column label="数量" min-width="60" align="center">
                    <template slot-scope="scope">
                        <span>{{scope.row.num}}</span>
                    </template>
                </el-table-column>
                <el-table-column label="教材名称" min-width="120" align="center">
                    <template slot-scope="scope">
                        <span>{{scope.row.resourceName}}</span>
                    </template>
                </el-table-column>
                <el-table-column label="学期" min-width="40" align="center">
                    <template slot-scope="scope">
                        <span>{{scope.row.semester}}</span>
                    </template>
                </el-table-column>
                <el-table-column label="周课时" min-width="40" align="center">
                    <template slot-scope="scope">
                        <span>{{scope.row.weeklyHours}}</span>
                    </template>
                </el-table-column>
                <el-table-column label="理论课时" min-width="40" align="center">
                    <template slot-scope="scope">
                        <span>{{scope.row.theoryClassHour}}</span>
                    </template>
                </el-table-column>
                <el-table-column label="实训课时" min-width="40" align="center">
                    <template slot-scope="scope">
                        <span>{{scope.row.trainingHours}}</span>
                    </template>
                </el-table-column>
                <el-table-column label="错误信息" min-width="120" align="center">
                    <template slot-scope="scope">
                        <span>{{scope.row.msg}}</span>
                    </template>
                </el-table-column>
            </el-table>
          </div>
          <div slot="footer" class="dialog-footer">
            <!-- <el-button @click="confirmImport">确 定</el-button> -->
            <el-button @click="printError">导出信息</el-button>
            <el-button @click="errorExcDialog = false">取 消</el-button>
          </div>
        </el-dialog>
       
        
    </div>
</template>

<script>
import { getLinkListAPI,batchLinkDeleteAPI ,excelImportLessonAPI } from "@/api/backstage/basicInfo/basicTeach";
import { getMultipleSelectionIDs } from "@/filters/getIds";
import { requestMsg, confirm } from "@/utils/publicFunctions";
import {baseUrl} from '@/utils/global'
import store from "@/store";

export default {
  data() {
    return {
      basicPlanId:null,
      deptList:[],
      authBtns: [],
      batchList: [],
      listQuery: {
        pageNum: 1,
        pageSize: 100,
        basicPlanId:'',
        // type:0
      },

        status:false,
      baseUrl:baseUrl,
      subHidden:true,
      tableKey1: 1,
      tableKey: 0,
      list: null,
      total: null,
      listLoading: true,
      dialogAddVisible: false,
      len:'',
      schoolSystem:'',
      importExcDialog:false,
      errorExcDialog:false,
      errorList:[],
      errorId:''
    };
  },
  created() {
    this.authBtns = store.getters.pageBtn[this.$route.meta.routerIds[0]];
    this.schoolSystem = this.$route.query.schoolSystem
  },
  mounted() {
    this.getList();
  },
  methods: {
    //   获取用户列表
    getList() {
      this.listLoading = true;
      const info = this.$route.query
      this.basicPlanId = info.id
      this.listQuery.basicPlanId = info.id
      getLinkListAPI(this.listQuery).then(res => {
        if (res.data.code === 0) {
          const data = res.data.data
          this.len = Number(data.list.length > 0 ?data.list[0].educationalSystem*2:0)
          data.list.forEach(el => {
            let arr = []
            let list = []
            for(var i = 0;i<this.len;i++){
              arr[i] = {}
              list[i] = {}
            }
              arr.forEach((it,ind) =>{
                el.pcrs.forEach((item,index) =>{
                  if(item.semester-1 == ind){
                    list[ind] ={
                      semester:item.semester,
                      weeklyHours:item.weeklyHours
                    }
                  }
                })
              }) 
              el.pcrs = list
          });
          this.list = data.list;
          this.total =data.total;
          this.len = Number(data.list.length > 0 ?data.list[0].educationalSystem*2:0)
          } else {
            this.$message.error("获取数据失败");
          }
          this.listLoading = false;
        });
     },


    // 批量删除
    batchDelete(){
      if (this.batchList.length == 0) {
        this.$message.error("请选择至少一条记录进行操作");
      } else {
        const ids = getMultipleSelectionIDs(this.batchList);
        confirm.apply(this, ["确认删除吗？"]).then(() => {
          batchLinkDeleteAPI(ids).then(res => {
            requestMsg.apply(this, [res.data, "删除"]);
            this.getList();
          });
        });
      }
    },
    // 删除一条
    deleteBtn(item){

      const ids = [item.id]
        confirm.apply(this, ["确认删除吗？"]).then(() => {
          batchLinkDeleteAPI(ids).then(res => {
            requestMsg.apply(this, [res.data, "删除"]);
            this.getList();
          });
        });
    },
   // 导出
    printBtn(){
      if(this.list.length > 0){
        let obj = this.listQuery
        var test=this.baseUrl + '/school-sysuser/fg/pulic-lesson/export?type=0&token='+this.$store.getters.userToken+'&'
        for(var prop in obj){
            if(obj[prop]){
                test = test+prop+'='+obj[prop]+'&'
            }
        }
        test = test.substr(0,test.length-1)
        window.open(test,'_blank')
        this.$message.success("数据导出成功")
      }else{
          this.$message.error('当前暂无数据可供导出')
      }
    },
    // 错误导出
    printError(){
      this.errorExcDialog = false
      var test=this.baseUrl + '/school-sysuser/fg/pulic-lesson/error?id='+this.errorId
      window.open(test,'_blank')

    },

    // 导入
    importBtn() {
      // this.$message('导入功能开发中')
      this.importExcDialog = true
      this.$refs.file ? this.$refs.file.value = null : true
    },
    // 文件选择
    fileSelect() {
      if (this.$refs.file.files[0]) {
        let file = this.$refs.file.files[0];
        if (file.type !=="application/vnd.ms-excel"&&file.type !=='application/vnd.openxmlformats-officedocument.spreadsheetml.sheet') {
          this.$message.warning("导入文件只能是 xls/xlsx 格式！");
          this.$refs.file.value = null;
        }else{         
          let formData = new FormData();
          formData.append("file", file);
          // excelImportLessonAPI(formData).then(res =>{
          //   if(res.data.code!= 0){
          //     this.$message.error(JSON.parse(res.data.msg).msg)
          //   }else{
          //   }
          // })
        }
      }
    }, 
    // 确认导入
    confirmImport(){
      if (this.$refs.file.files[0]) {
        let formData = new FormData();
        formData.append("file", this.$refs.file.files[0]);
        excelImportLessonAPI(formData,this.basicPlanId,0).then(res => {
          if (res.data.status) {
            const data = res.data.data
            if(data.list.length > 0){
              this.errorExcDialog = true;
              this.errorList = data.list
              this.errorId = data.errId
            }else{
              this.$message.success("导入成功！");
              this.importExcDialog = false;
              this.getList()
            }
            
          } else {   
            this.$message.error(res.data.msg);
          }
        });
      } else {
        this.$message.warning("请选择文件后再执行导入！");
      }
    },
    chioceList(val) {
      //勾选
      this.batchList = val;
    },
    // 改变分页大小
    handleSizeChange(val) {
      this.listQuery.pageSize = val;
      this.getList();
    },
    // 页数改变
    handleCurrentChange(val) {
      this.listQuery.pageNum = val;
      this.getList();
    }
  }
};
</script>

<style scoped>
.el-tabs__header,
.el-tabs--card > .el-tabs__header {
  border: 0;
  margin-bottom: 0;
}
.aa {
  margin-left: 80px;
}
.aa input {
  height: 30px;
}

.blue{
  color:blue;
}
ul{
    margin:0;
    padding:0;
}
li{
    float:left;
    list-style-type: none;
    margin:0 6px;
}
li:hover{
    cursor: pointer;
}
</style>
