<template>
    <div class="createPost-container">
        <div class="createPost-main-container">
            <div v-if="title == '查看信息'" class="backBtn" @click="backBtn">
              <i class="el-icon-arrow-left"></i>
              返回
            </div>
            <el-form
                :rules="rules"
                ref="dataForm"
                :model="formList"
                label-position="right"
                label-width="100px"
                class="form-container"
            >
                <el-form-item label="教材名称" prop="resourceName">
                    <el-col :span="12">
                        <el-input v-model="formList.resourceName" style="width:300px" placeholder="请输入教材名称"></el-input>
                    </el-col>
                </el-form-item>
                <el-form-item label="ISBN" prop="isbn">
                    <el-col :span="12">
                        <el-input v-model="formList.isbn" style="width:300px" placeholder="请输入ISBN"></el-input>
                    </el-col>
                </el-form-item>
                <el-form-item label="作者" prop="auther">
                    <el-col :span="12">
                        <el-input v-model="formList.auther" style="width:300px" placeholder="请输入作者"></el-input>
                    </el-col>
                </el-form-item>
                <el-form-item>
                <el-button class="form-submit" @click="submitFrom('dataForm')">保存</el-button>
                <el-button @click="$router.back()">取消</el-button>
              </el-form-item>
            </el-form>
        </div>
    </div>
</template>

<script>
import {
  saveAPI,
  detailsAPI,
  updateAPI
} from "@/api/backstage/basicInfo/schoolBook";
import Tinymce from "@/components/Tinymce";

export default {
  components: { Tinymce },
  data() {
    return {
        title:"",
      pageStatus: 0,
      viewList: {},
      formList: {
        isbn:'',
        resourceName:'',
        auther:''
      },
      rules: {
        auther: [{ required: false, message: '请输入作者', trigger: 'change' },{ message: '请输入20字以内的作者', trigger: 'change' ,max:20}],
        isbn: [{ required: false, message: '请输入ISBN', trigger: 'change' },{ message: '请输入20字以内的isbn', trigger: 'change' ,max:20}],
        resourceName: [{ required: true, message: '请输入教材名称', trigger: 'change'},{ message: '请输入20字以内的教材名称', trigger: 'change' ,max:20}],
      },
    };
  },
  mounted() {
    this.getOid();
  },
  methods: {
    //   判断添加还是修改
    getOid() {
      this.title = this.$route.query.title;
      let id = this.$route.query.id;
      this.$route.meta.title = this.title;
      if (id && this.title != "添加信息") {
        detailsAPI(id).then(res => {
          res.data.code === 0
            ? (this.formList = res.data.data)
            : this.$message.error("请求出错啦");
        });

      }
    },

    // 添加信息 修改信息
    submitFrom(dataForm) {
      this.$refs["dataForm"].validate(valid => {
        if (valid) {
          if (this.title == "添加信息") {
            saveAPI(this.formList).then(res => {
              if (res.data.code === 0) {
                this.$message.success("添加信息成功");
                this.$router.back();
              } else {
                this.$message.error(res.data.msg);
              }
            });
          } else if (this.title == "修改信息") {
            updateAPI(this.formList).then(res => {
              if (res.data.code === 0) {
                this.$message.success("修改信息成功");
                this.$router.back();
              } else {
                this.$message.error(res.data.msg);
              }
            });
          }
        } 
      });
    },
    // 查看返回
    backBtn(){
        this.$router.back();
    }
  }
};
</script>

<style rel="stylesheet/scss" lang="scss" scoped>
@import "src/style/mixin.scss";

.createPost-container {
  position: relative;
  .createPost-main-container {
    padding: 50px;
    .el-dialog__header {
      background: #15d;
      color: #fff;
    }
  }
}
.backBtn{
    margin-bottom: 20px;
    font-weight: bold;
}
.backBtn:hover{
    cursor: pointer;

}
</style>

