<template>
    <div class="app-container calendar-list-container">
        <div class="nav-buttons-container">

            <router-link :to="{ path:`addBook`,query:{title:'添加信息'}}" ><el-button v-if="authBtns.filter(i => i.idName=='addBtn').length>0 && authBtns.filter(i => i.idName=='addBtn')[0].icon">{{authBtns.filter(i => i.idName=='addBtn')[0].name}}<i  :class="[authBtns[authBtns.map(i => i.idName).indexOf('addBtn')].icon, 'el-icon--right']"></i></el-button></router-link>
            <el-button v-if="authBtns.filter(i => i.idName=='batchDeleteBtn').length>0 && authBtns.filter(i => i.idName=='batchDeleteBtn')[0].icon" @click="batchDeleteBtn">{{authBtns.filter(i => i.idName=='batchDeleteBtn')[0].name}}<i  :class="[authBtns[authBtns.map(i => i.idName).indexOf('batchDeleteBtn')].icon, 'el-icon--right']"></i></el-button>
            <el-button v-if="authBtns.filter(i => i.idName=='batchPrintBtn').length>0 && authBtns.filter(i => i.idName=='batchPrintBtn')[0].icon"  @click="printBtn">{{authBtns.filter(i => i.idName=='batchPrintBtn')[0].name}}<i :class="[authBtns[authBtns.map(i => i.idName).indexOf('batchPrintBtn')].icon, 'el-icon--right']"></i></el-button>
            <!-- <el-button @click="importBtn">导入资源<i class="el-icon-setting"></i> -->
        </el-button>
        </div>
        <!-- 检索 -->
      <el-form :inline="true" class="form-inline">
        <el-form-item label="教材名称：">
          <el-input style="width: 180px;" clearable v-model="listQuery.resourceName">
          </el-input>
        </el-form-item>
        <el-form-item>
          <el-button  @click="handleFilter">检索</el-button>
          <el-button type="danger" @click="resetFilter">重置</el-button>
        </el-form-item>
      </el-form>
        <!-- 部门列表 -->
        <el-table
            :key="tableKey"
            :data="list"
            v-loading="listLoading"
            element-loading-text="给我一点时间"
            border=""
            highlight-current-row
            stripe
            @selection-change="chioceList"
        >
            <el-table-column type="selection" align="center"></el-table-column>
            <el-table-column type="index" label="序号" width="60" align="center"></el-table-column>
            <el-table-column label="教材名称" min-width="160" align="center">
                <template slot-scope="scope">
                    <span>{{scope.row.resourceName}}</span>
                </template>
            </el-table-column>
            <el-table-column label="ISBN" min-width="120" align="center">
                <template slot-scope="scope">
                    <span>{{scope.row.isbn}}</span>
                </template>
            </el-table-column>
            <el-table-column label="作者" min-width="140" align="center">
                <template slot-scope="scope">
                    <span>{{scope.row.auther}}</span>
                </template>
            </el-table-column>
            <el-table-column label="添加时间" min-width="140" align="center">
                <template slot-scope="scope">
                    <span v-if="scope.row.createTime">{{scope.row.createTime.substr(0,10)}}</span>
                    <span v-else>——</span>
                </template>
            </el-table-column>
            <el-table-column class-name="small-padding fixed-width" width="180" label="操作"  align="center">
                <template slot-scope="scope">
               <router-link  :to="{ path:`addBook`, query:{id:scope.row.id,title:'修改信息'}}" v-if="authBtns.filter(i => i.idName=='editBtn').length > 0">
                    <i :class="authBtns.filter(i => i.idName=='editBtn')[0].icon" :title="authBtns.filter(i => i.idName=='editBtn')[0].name"  v-if="authBtns.filter(i => i.idName=='editBtn').length > 0"></i>
                  </router-link>

                  <i  @click="deleteBtn(scope.row)" :class="authBtns.filter(i => i.idName=='deleteBtn')[0].icon" :title="authBtns.filter(i => i.idName=='deleteBtn')[0].name" v-if="authBtns.filter(i => i.idName=='deleteBtn').length > 0"></i>
                </template>
            </el-table-column>
        </el-table>
        <div class="pagination-container">
            <el-pagination
                @size-change="handleSizeChange"
                @current-change="handleCurrentChange"
                :current-page="listQuery.pageNum"
                :page-sizes="[30,50,100,200,500]"
                :page-size="listQuery.pageSize"
                layout="total, sizes, prev, pager, next, jumper"
                :total="total"
                align="center"
            ></el-pagination>
        </div>
        <!-- <el-dialog title="导入文件" :visible.sync="dialogPrice" :width="fileList.length > 0 ?'450px':'300px'">
          <template>
            <p>请选择要导入的文件，文件类型只支持Excel。</p>
            <el-form inline class="form-inline">
              <el-upload
                class="upload-demo"
                :action="`${uploadUrl}upload/file`"
                :on-change="handleChangeFile"
                :on-remove="handleRemove"
                :before-upload="beforeAvatarUpload"
                :on-progress="onProgress"
                multiple
                :file-list="fileList">
              <el-button size="small" type="primary">点击上传</el-button>
            </el-upload>
          </el-form>
        </template>
    </el-dialog> -->
    </div>
</template>

<script>
import { getListAPI, batchDeleteAPI,printAPI } from "@/api/backstage/basicInfo/schoolBook";
import { getMultipleSelectionIDs } from "@/filters/getIds";
import { requestMsg, confirm } from "@/utils/publicFunctions";
import {baseUrl} from '@/utils/global'
import store from "@/store";
  import { uploadUrl, uploadPath, requestPath } from '@/utils/global.js'

export default {
  data() {
    return {
      baseUrl:baseUrl,
      authBtns: [],
      tableKey: 0,
      list: null,
      total: null,
      listLoading: true,
      title: "添加",
      listQuery: {
        pageNum: 1,
        pageSize: 100,
      },
      batchList: [],
      importExcDialog: false,
      fileList:[],
      dialogPrice:false,
              uploadUrl:uploadUrl,

    };
  },
  created() {
    this.authBtns = store.getters.pageBtn[this.$route.meta.routerIds[0]];

  },
  mounted() {
    this.getList();
  },
  methods: {
    //   获取部门列表
    getList() {
      this.listLoading = true;
      let info = this.$route.query;
      getListAPI(this.listQuery).then(res => {
        if (res.data.code === 0) {
          this.list = res.data.data.list;
          this.total = res.data.data.total;
        } else {
          this.$message.error("获取数据失败");
        }
        this.listLoading = false;
      });
    },

    // 导出
    printBtn(){
       if(this.list.length > 0){
        let obj = this.listQuery

        var test=this.baseUrl + '/school-sysuser/fg/schoolased-library/export?token='+this.$store.getters.userToken+'&'
        for(var prop in obj){
            if(obj[prop]){
                test = test+prop+'='+obj[prop]+'&'
            }
        }
        test = test.substr(0,test.length-1)
        window.open(test,'_blank')
        this.$message.success("数据导出成功")
      }else{
          this.$message.error('当前暂无数据可供导出')
      }
    },
    // 批量删除
    batchDeleteBtn(){
      if (this.batchList.length == 0) {
        this.$message.error("请选择至少一条记录进行操作");
      } else {
        const ids = getMultipleSelectionIDs(this.batchList);
        confirm.apply(this, ["确认删除吗？"]).then(() => {
          batchDeleteAPI(ids).then(res => {
            requestMsg.apply(this, [res.data, "删除"]);
            this.getList();
          });
        });
      }
    },
    // 删除
    deleteBtn(item) {
        const ids = [item.id]
        confirm.apply(this, ["确认删除吗？"]).then(() => {
          batchDeleteAPI(ids).then(res => {
            requestMsg.apply(this, [res.data, "删除"]);
            this.getList();
          });
        });
    },
    chioceList(val) {
      //勾选
      this.batchList = val;
    },
    // 筛选
    handleFilter() {
      store.dispatch("SetSupplierSerKeys", this.listQuery).then(res => {
      });
      this.listQuery.pageNum = 1;
      this.getList();
    },
    //重置
    resetFilter() {
      this.listQuery = {
        pageNum: 1,
        pageSize: this.listQuery.pageSize
      };
      this.getList();
    },
    // 改变分页大小
    handleSizeChange(val) {
      this.listQuery.pageSize = val;
      this.getList();
    },
    // 页数改变
    handleCurrentChange(val) {
      this.listQuery.pageNum = val;
      this.getList();
    },
    // importBtn(){//导入文件
    //   this.dialogPrice=true;
    // },
    handleChangeFile(file, fileList) {
        this.fileList=fileList;
        this.isfileList=false;
      },
      handleRemove(file, fileList) {
        this.fileList=fileList;
        this.isfileList=false;
      },
      beforeAvatarUpload(file) {
        let num=this.fileList.length,boo=false;
        if(num<=100){
          this.isfileList=false;
          boo=false;
        }else{
          this.$message.warning('单次上传最多100个文件！');
          boo=true;
        }
        return !boo;
        },
        onProgress(event, file, fileList){
        }
  }
};
</script>

<style>
.el-tabs__header,
.el-tabs--card > .el-tabs__header {
  border: 0;
  margin-bottom: 0;
}
.aa {
  margin-left: 80px;
}
.aa input {
  height: 30px;
}
</style>
