<template>
  <transition name="fade">
    <div class="message" :class="type" v-if="visible">
      <div class="message-con">{{content}}</div>
      
      <!-- <i class="icon-type iconfont" :class="'icon-'+type"></i>
      <div class="content">
        <i v-if="hasClose" class="btn-close iconfont icon-close" @click="visible=false"></i>
      </div> -->
    </div>
  </transition>
</template>

<script>
  export default {
    name: "MyMessage",
    data() {
      return {
        content: '',
        time: 3000,
        visible: false,
        type:'info',//'success','warning','error'
        hasClose:false,
      }
    },
    mounted() {
      this.close()
    },
    methods: {
      close() {
        window.setTimeout(() =>{
          this.visible = false
        }, this.time);
      }
    }
  }
</script>
<style>
.message{
  position: fixed;
  top: 400px;
  left: 50%;
  transform: translateX(-50%);
}
.message-con{
  width: 280px;
  color: #fff;
  padding: 25px 30px;
  font-size: 18px;
  background: #4c4c4c;
  border-radius: 4px;
}
</style>
