<template>
  <div class="app-container calendar-list-container">
      <div class="changeStatus">
          <el-button @click="choiseUser" v-if="title == '添加用户'">选择用户</el-button>
          <el-button @click="addUser" v-if="title == '添加用户'">添加用户</el-button>
      </div>
      <div v-show="status">
          <el-form
          :rules="rules1"
                ref="dataForm1"
                :model="formData"
                label-position="right"
                label-width="200px"
                class="form-container"
            >
            <el-row>
              <el-col :span="18">
                  <el-form-item label="教师姓名（教职工号）：" prop="userId" v-if="$route.query.title =='添加用户'">
                    <!-- <el-col :span="20"> -->
                        <el-cascader
                            v-model="formData.userId"
                            popper-class
                            :options="options"
                            @active-item-change="handleItemChange"
                            :props="props"
                            expand-trigger="click"
                            @change="changeUser"
                            placeholder="请选择用户"
                        ></el-cascader>
                    <!-- </el-col> -->
                </el-form-item>
                <el-form-item label="教师姓名（教职工号）："  v-show="$route.query.title =='修改用户'">

                    <el-col :span="7">
                        <el-input :disabled="true" v-model="formData.name"></el-input>
                    </el-col>
                </el-form-item>
                <el-form-item label="角色(可多选)：" prop="roleIdList">
                    <el-col :span="20">
                      <el-select  v-model="formData.roleIdList" no-data-text="请选择角色" filterable  multiple clearable>
                        <el-option
                        v-for="item in roleIdList"
                        :key="item.id"
                        :label="item.name"
                        :value="item.id"
                        >
                        </el-option>
                      </el-select>
                    </el-col>
                </el-form-item>
                <!-- <el-form-item label="超级管理员：" prop="isAdmin">
                    <el-col :span="20">
                        <el-radio-group v-model="formData.isAdmin">
                          <el-radio :label="'1'">是</el-radio>
                          <el-radio :label="'0'">否</el-radio>
                        </el-radio-group>
                    </el-col>
                </el-form-item> -->
                </el-col>

                </el-row>
                <el-row>
                <el-form-item>
                    <el-button class="form-submit" @click="submit('dataForm1')">保存</el-button>
                    <el-button @click="$router.back()">取消</el-button>
                </el-form-item>
                </el-row>
        </el-form>
        </div>
        <div  v-show="!status">
            <el-form
                :rules="rules"
                ref="dataForm"
                :model="formList"
                label-position="right"
                label-width="150px"
                class="form-container"
            >
            <el-row>
              <el-col :span="12">
                <el-form-item label="姓名：" prop="name">
                    <el-col :span="20">
                        <el-input
                            v-model="formList.name"
                            placeholder="请输入用户名"
                        ></el-input>
                    </el-col>
                </el-form-item>
                <el-form-item label="手机号：" prop="phone">
                    <el-col :span="20">
                        <el-input
                            v-model="formList.phone"
                            placeholder="请输入手机号"
                        ></el-input>
                    </el-col>
                </el-form-item>
                <el-form-item label="教职工号：" prop="num">
                    <el-col :span="20">
                        <el-input
                            v-model="formList.num"
                            placeholder="请输入教职工号"
                        ></el-input>
                    </el-col>
                </el-form-item>
                <el-form-item label="密码：" prop="password">
                    <el-col :span="20">
                        <el-input
                            v-model="formList.password"
                            placeholder="请输入密码"
                        ></el-input>
                    </el-col>
                </el-form-item>
                <el-form-item label="部门：" prop="departmentId">

                    <el-col :span="20">
                        <el-select  v-model="formList.departmentId" placeholder="请输入部门" >
                            <el-option
                            v-for="item in departList"
                            :key="item.id"
                            :label="item.name"
                            :value="item.id"
                            >
                            </el-option>
                        </el-select>
                    </el-col>
                </el-form-item>
                <el-form-item label="角色(可多选)：" prop="roleIdList">
                    <el-col :span="20">
                      <el-select  v-model="formList.roleIdList" no-data-text="请选择角色" filterable  multiple clearable>
                        <el-option
                        v-for="item in roleList"
                        :key="item.id"
                        :label="item.name"
                        :value="item.id"
                        >
                        </el-option>
                      </el-select>
                    </el-col>
                </el-form-item>
                <!-- <el-form-item label="超级管理员：" prop="isAdmin">
                    <el-col :span="20">
                        <el-radio-group v-model="formList.isAdmin">
                          <el-radio :label="'1'">是</el-radio>
                          <el-radio :label="'0'">否</el-radio>
                        </el-radio-group>
                    </el-col>
                </el-form-item> -->
                </el-col>

                </el-row>
                <el-row>
                <el-form-item>
                    <el-button class="form-submit" @click="submitFrom('dataForm')">保存</el-button>
                    <el-button @click="$router.back()">取消</el-button>
                </el-form-item>
                </el-row>
            </el-form>

            </div>

  </div>
</template>

<script>

import { departListAPI, editAPI, roleListAPI,saveAPI,choiseSaveAPI,noUserListAPI,getDetailAPI } from '@/api/backstage/permissions/user'
// import { operationMsg, confirm } from '@/utils/publicFunctions'
// import { getMaxSort, getMultipleSelectionIDs, insertBtnRes } from '@/filters/getIds'
import store from '@/store'

export default {
  data() {
      const validatePhone = (rule,value,callback) => {
      let reg=/^[1][3,4,5,7,8][0-9]{9}$/;
      if (!reg.test(value)) {
          callback(new Error('请输入11位正确格式的手机号'))
      } else {
          callback()
      }
    };
    const regPwd = /^[a-zA-Z0-9-_~\!\@\#\$\%\^\&\*\(\)\+\=]{6,20}$/;
    const validatePassword = (rule, value, callback) => {
      if(value.length > 20 || value.length < 6){
        callback(new Error(`密码6-20位！现${value.length}位！`))
      } else if ( !regPwd.test(value) ) {
        callback(new Error('请使用字母、数字或符号“~!@#$%^&*()_+-=”的组合，6-20个字符'));
      } else {
        callback()
      }
    };
    const validateNumber = (rule,value,callback) => {
      let reg=/^\d{1,20}$/;
      if (!reg.test(value)) {
        callback(new Error('请输入20位正确教职工号'))
      } else {
        callback()
      }
    };
    return {
        status:true,
        formList: {
            name: "",
            phone: "",
            password:"",
            // sex: '1',
            departmentId: "",
            relationName:'',
            roleIdList:[],
            type:'0',
            isAdmin:'0',
        },
        formData: {
            name: "",
            userId : [],
            roleIdList:[],
            type:'0',
            isAdmin:'0',
        },
        rules1: {
            userId: [{ required: true, trigger: "change", message: "请选择用户" }],

            roleIdList: [{ required: true, trigger: "change", message: "请选择角色" }],
        },
        rules: {
            name: [ {required: true,max: 20,message: "请输入20字以内的用户名",trigger: "change"}],
            num: [{ required: true, trigger: "change", message: "请输入教职工号" },{ validator:validateNumber, trigger: "change",}],
            departmentId: [{ required: true, trigger: "change", message: "请选择部门" }],
            // sex: [{ required: true, trigger: "change", message: "请选中性别" }],
            phone: [{ required: true, trigger: "change",message: "请输入手机号"},{trigger: "change",validator:validatePhone,}],
            password: [{ required: true, trigger: "change",validator:validatePassword}],
            roleIdList: [{ required: true, trigger: "change", message: "请选择角色" }],
        },
        departListQuery: {
            pageNum: 1,
            pageSize: 100,
        },
        departList:[],
        roleList:[],
        roleIdList:[],
        options:[],
        // props: {
        //   value: 'id',
        //   children: 'user'
        // },
        title:'',
        props: {
          lazy: true,
          value: 'id',
          children: 'user',
          lazyLoad (node, resolve) {
            const { level } = node;
                const nodes =noUserListAPI({pageNum:1,pageSize:100,departmentId:node.data.id}).then(res=>{
                    let list = []
                    res.data.data.list.forEach(el=>{
                        const obj = {
                            label:el.name,
                            id:el.id,
                            level:level >2
                        }
                        list.push(obj)
                    })
                    return nodes
                })
                resolve({user:nodes})


            // const { level } = node;
            // setTimeout(() => {
            //   const nodes = Array.from({ length: level + 1 })
            //     .map(item => ({
            //       value: ++id,
            //       label: `选项${id}`,
            //       leaf: level >= 2
            //     }));
            //   // 通过调用resolve将子节点数据返回，通知组件数据加载完成
            //   resolve(nodes);
            // }, 1000);
          }
        }
    }
  },
  created() {

  },
  mounted() {
    this.getRoleList()
    this.getDepartList()
    this.getDetail()
  },
  methods: {
      getDetail() {
      const info = this.$route.query
      this.title = info.title;
      let id = info.id;
      this.$route.meta.title = this.title;
      if (id && this.title != "添加用户") {
        getDetailAPI(id).then(res => {
          if(res.data.code === 0){
              this.formData = res.data.data
              let list = [];
              this.formData.roleIdList.forEach(item => {
                list.push(item.id)
              });
            this.formData.roleIdList = list
            this.$forceUpdate()
          }else{
            this.$message.error("请求出错啦");
          }
        });
      }
    },
      choiseUser(){
          this.status = true;
        this.$nextTick(()=>{
          this.$refs["dataForm1"].resetFields();
        })
      },
      addUser(){
        this.status = false;
        this.$nextTick(()=>{
          this.$refs["dataForm"].resetFields();
          this.formList={
            name: "",
              phone: "",
              password:"",
              // sex: '1',
              departmentId: "",
              relationName:'',
              roleIdList:[],
              type:0,
              isAdmin:'0',
          }
        })
      },
      // 获取部门列表
   getDepartList(){
      departListAPI().then(res => {
          res.data.code === 0
            ? (this.departList = res.data.data)
            : this.$message.error("请求出错啦");
            this.departList.forEach(item=>{
                const obj = {
                    label:item.name,
                    user:[],
                    id:item.id
                }
                this.options.push(obj)
            })
        });
    },
    // 获取角色列表
    getRoleList(){
      roleListAPI().then(res => {
        if(res.data.code === 0){
          this.roleList = res.data.data.list
          this.roleIdList = res.data.data.list
          /*this.roleIds = res.data.data.list*/
        } else {
          this.$message.error('获取数据失败');
        }
      })
    },

    // 选中部门获取部门下的所有用户数据
    handleItemChange(val){
        this.options.forEach(item=>{
            if(item.id == val[0]){
                noUserListAPI({pageNum:1,pageSize:100,departmentId:item.id}).then(res=>{
                  
                    if(res.data.data.list.length > 0){
                      let list = []
                      res.data.data.list.forEach(el=>{
                          const obj = {
                              label:el.name,
                              id:el.id
                          }
                          list.push(obj)
                      })
                      item.user = list
                      this.formData.userId = [list[0].id]
                      

                    }else{     
                      const obj = {
                            label:'暂无用户',
                            id:''
                      }
                      item.user = [obj]
                      // this.formData.userId = []
                    }
                    
                })
            }

        })
    },
    // 选中用户
    changeUser(val){
      val.forEach(item=>{
        if(item){

        }else{
          this.formData.userId = []
        }
      })
    },
    // 加载部门底下的用户
    loadUser(id){

    },
     submit() {
      this.$refs["dataForm1"].validate(valid => {
        if (valid) {
          if (this.title == "添加用户") {
            if(this.formData.userId.length ==2){
              this.formData.userId = this.formData.userId[1]
            }
            choiseSaveAPI(this.formData).then(res => {
              const code = res.data.code
              if (code === 0) {
                this.$message.success("添加用户成功");
                this.$router.back();
              } else {
                this.$message.error(res.data.msg);
              }
            });
          } else if (this.title == "修改用户") {
            editAPI(this.formData).then(res => {
              if (res.data.code === 0) {
                this.$message.success("修改用户成功");
                this.$router.back();
              } else {
                this.$message.error(res.data.msg);
              }
            });
          }
        }
      });
    },


    submitFrom(dataForm) {
      
      this.$refs["dataForm"].validate(valid => {
        if (valid) {
        //   if (this.title == "添加用户") {
            saveAPI(this.formList).then(res => {
              const code = res.data.code
              if (code === 0) {
                this.$message.success("添加用户成功");
                this.$router.back();
              } else {
                this.$message.error(res.data.msg);
              }
            });
        //   } else if (this.title == "修改用户") {
        //     editAPI(this.formList).then(res => {
        //       if (res.data.code === 0) {
        //         this.$message.success("修改用户成功");
        //         this.$router.back();
        //       } else {
        //         this.$message.error(res.data.msg);
        //       }
        //     });
        //   }
        } 
      });
    },


  }
}
</script>
<style scoped>
.changeStatus{
    margin:20px 0 50px 100px;
}


</style>


