<template>
  <div class="app-container calendar-list-container">
    <div class="nav-buttons-container">
        <router-link :to="{ path:`addUser`,query:{title:'添加用户'}}"><el-button v-if="authBtns.filter(i => i.idName=='addBtn').length>0 && authBtns.filter(i => i.idName=='addBtn')[0].icon">{{authBtns.filter(i => i.idName=='addBtn')[0].name}}<i  :class="[authBtns[authBtns.map(i => i.idName).indexOf('addBtn')].icon, 'el-icon--right']"></i></el-button></router-link>
        <el-button v-if="authBtns.filter(i => i.idName=='batchDeleteBtn').length>0 && authBtns.filter(i => i.idName=='batchDeleteBtn')[0].icon" @click="massDelete">{{authBtns.filter(i => i.idName=='batchDeleteBtn')[0].name}}<i  :class="[authBtns[authBtns.map(i => i.idName).indexOf('batchDeleteBtn')].icon, 'el-icon--right']"></i></el-button>
        <el-button v-if="authBtns.filter(i => i.idName=='batchPrintBtn').length>0 && authBtns.filter(i => i.idName=='batchPrintBtn')[0].icon" @click="batchPrint">{{authBtns.filter(i => i.idName=='batchPrintBtn')[0].name}}<i  :class="[authBtns[authBtns.map(i => i.idName).indexOf('batchPrintBtn')].icon, 'el-icon--right']"></i></el-button>
        </div>
    <el-form inline class="form-inline">
        <el-form-item label="用户名称">
          <el-input @keyup.enter.native="handleFilter" v-model="listQuery.name" clearable></el-input>
        </el-form-item>
        <el-form-item>
          <el-button @click="handleFilter">检索</el-button>
        </el-form-item>
      </el-form>
    <el-table :key='tableKey' :data="list" v-loading="listLoading" element-loading-text="给我一点时间" border highlight-current-row stripe @selection-change="handleSelectionChange">
      <el-table-column type="index" label="序号" width="60" align="center"></el-table-column>
      <el-table-column type="selection" align="center"></el-table-column>
      <el-table-column label="姓名" min-width="160" align="center">
        <template slot-scope="scope">
          <span>{{scope.row.name}}</span>
        </template>
      </el-table-column>
      <el-table-column label="电话" min-width="180" align="center">
        <template slot-scope="scope">
          <span>{{scope.row.phone}}</span>
        </template>
      </el-table-column>
      <el-table-column label="注册时间" min-width="160" align="center">
        <template slot-scope="scope">
          <span v-if="scope.row.createTime">{{scope.row.createTime.substr(0,10)}}</span>
          <span v-else>--</span>
        </template>
      </el-table-column>
      <el-table-column label="部门" min-width="180" align="center">
        <template slot-scope="scope">
          <span>{{scope.row.departmentName}}</span>
        </template>
      </el-table-column>
      <el-table-column label="角色" min-width="180" align="center">
        <template slot-scope="scope">
          <span>{{scope.row.roleIdList}}</span>
        </template>
      </el-table-column>
      <el-table-column class-name="small-padding fixed-width" label="操作" width="140" align="center">
        <template slot-scope="scope">
            <router-link :to="{ path:`addUser`,query:{title:'修改用户',id:scope.row.id}}"><i :class="authBtns.filter(i => i.idName=='editBtn')[0].icon" :title="authBtns.filter(i => i.idName=='editBtn')[0].name" v-if="authBtns.filter(i => i.idName=='editBtn').length > 0" ></i></router-link>
             </template>
      </el-table-column>
    </el-table>

    <div class="pagination-container">
      <el-pagination @size-change="handleSizeChange" @current-change="handleCurrentChange" :current-page="listQuery.pageNum" :page-sizes="[30,50,100,200,500]" :page-size="listQuery.pageSize" layout="total, sizes, prev, pager, next, jumper" :total="total" align="center">
      </el-pagination>
    </div>


  </div>
</template>

<script>

import { getListAPI,batchDeleteAPI } from '@/api/backstage/permissions/user'
import { operationMsg, confirm } from '@/utils/publicFunctions'
import { getMaxSort, getMultipleSelectionIDs, insertBtnRes } from '@/filters/getIds'
import { requestMsg } from "@/utils/publicFunctions";
import {baseUrl} from '@/utils/global'
import store from '@/store' 

export default {
  data() {
    return {
      baseUrl:baseUrl,
        batchList:[],
        listQuery: {
            pageNum: 1,
            pageSize: 100
        },
        list: null,
        total: null,
        listLoading: true,

      authBtns: [],
      tableKey: 0,
      
      
      
      ids: [],

    }
  },
  created() {
    this.authBtns = store.getters.pageBtn[this.$route.meta.routerIds[0]]
  },
  mounted() {
    
    this.getList()
  },
  methods: {
    getList(){
        this.listLoading = true;
        getListAPI(this.listQuery).then(res=>{
            const list = res.data.data.list
            if (res.data.code === 0) {
                this.list = list
                this.list.forEach(item => {
                let str = '';
                item.roleIdList.forEach(e =>{
                    str += e.name + ','
                    })
                    item.roleIdList = str.slice(0,str.length-1)
                });
                this.total = res.data.data.total;
            } else {
                this.$message.error('获取用户列表失败')
            }
            this.listLoading = false;
        })
    },
    // 批量删除
    massDelete(){
      if (this.batchList.length == 0) {
        this.$message.error("请选择至少一条记录进行操作");
      } else {
          const ids = getMultipleSelectionIDs(this.batchList)
          confirm.apply(this, ["确认删除吗？"]).then(() => {
          batchDeleteAPI(ids).then(res => {
            requestMsg.apply(this, [res.data, "删除"]);
            this.getList();
          });
        });
      }
    },
    // 导出
    batchPrint(){
// this.$message('功能开发中')
      if(this.list.length > 0){
        let obj = this.listQuery
        var test=this.baseUrl + '/fg-member/fg/user/export?token='+this.$store.getters.userToken+'&'
        for(var prop in obj){
            if(obj[prop]){
                test = test+prop+'='+obj[prop]+'&'
            }
        }
        test = test.substr(0,test.length-1)
        window.open(test,'_blank')
        this.$message.success("数据导出成功")
      }else{
          this.$message.error('当前暂无数据可供导出')
      }


    },
    // 检索
    handleFilter(){
        this.listQuery.pageNum = 1
        this.getList()
      },
    // 选中数据
    handleSelectionChange(val){
        this.batchList = val;
    },
    // 分页
    handleSizeChange(val) {
      this.listQuery.pageSize = val
      this.getList()
    },
    handleCurrentChange(val) {
      this.listQuery.pageNum = val
      this.getList()
    },
  }
}
</script>
