
<template>
  <!--我的反馈-->
  <div class="feedback">
    <titleNav :titleMsg="bookTitle"></titleNav>
    <div class="down" @click="feedBack">
        <span>我要反馈</span>
    </div>
    <div class="feedbackList"  :style="`min-height:${minHeight}`">
      <div class="feedbackTit" v-if="feedBackList.length > 0">
        <!-- <span style="width: 342px;">文章标题</span> -->
        <span style="width: 230px;">反馈日期</span>
        <!-- <span style="width: 167px;">状态</span> -->
        <span style="width: 181px;">操作</span>
      </div>
      <loading v-if="isLoading"></loading>
      <div v-else>
        <ul v-if="feedBackList.length > 0" class="feedbackCont">
          <li v-for="(item , index) in feedBackList" :key="index">
            <!-- <router-link :to="{name:'activityDetail',query:{id:item.activityId}}">{{item.name}}</router-link> -->
            <!-- <div class="title"><router-link :to="{name:'feedBackDetail',query:{id:item.newsId}}" :title="item.name">{{item.name}}</router-link></div> -->
            <div class="date">{{item.createTime}}</div>
            <div class="lookDetail"><span  @click="viewFeedback(item)">查看反馈信息</span></div>
          </li>
        </ul>
        <div v-else class="feedback-none">
          <img  src="@/assets/img/12-暂无内容.jpg" alt="">
        </div>
      </div>
      <div class="pagination-container">
        <pagination class="paddingTop" @change="pageChange"
          :current-page="listQuery.pageNum"
          :page-size="listQuery.pageSize" :total-page="lastPage" v-if="total&&total>0"></pagination>
      </div>
    </div>
    <!-- 填写反馈 -->
    <div v-if="feedBackShow">
        <feed-back :list="list" :title="title" :form="form" @onSubmit="onSubmit" :disabled="disabled" @closeSign="feedBackShow=false"></feed-back>
    </div>
    <!-- 查看反馈 -->
    <!-- <div v-if="feedBackShow">
        <feed-back :list="list" :title="title" :form="form" :disabled="disabled" @closeSign="feedBackShow=false"></feed-back>
    </div> -->
    <v-alert :alertModelOptions="alertOptions"></v-alert>
  </div>
</template>
<script>
import titleNav from './../components/title';
import Loading from "../components/loading";
import {getFeedBackListAPI,getFeedBackAPI,saveFeedBackAPI } from "@/api/personal/feedback"
import feedBack from "../components/feedBack";
import {changeFromData,changeFromList} from "@/utils/changedata"

  export default {
    data() {
      return {
        title:'查看反馈信息',
        bookTitle: '反馈记录',
        feedBackList:[],
        total:null,
        isShow:false,
        status:{
          '-1':'未通过',
          '0':'审核中',
          '1':'通过',
        },
        listQuery:{
          pageNum:1,
          pageSize:10,
        },
        alertOptions: {},
        applyDetail:'',
        disabled:false,
        feedBackShow:false,
        lastPage:0,
        isLoading:false,
        form:{},
        minHeight:100+'px'
        }
    },
    components: {titleNav,feedBack,Loading},
    created() {
        this.minHeight =this.tableHeigh(500)
    },
    watch: {},
     mounted(){
      this.getFeedBackList()
    },
    methods: {
      // 反馈记录
    getFeedBackList(){
      this.isLoading = true
      getFeedBackListAPI(this.listQuery).then(res=>{
        const data = res.data.data
        if(res.data.code === 0){
          this.feedBackList = data.list
          this.total = data.total
          this.lastPage = Math.ceil(Number(data.total) / Number(this.listQuery.pageSize));
          this.isLoading = false
        }else{
          this.$message.error('请求活动列表数据失败')
        }
      })
    },
    // 查看未通过
    checkReason(item){
        /*this.reasonShow = true;*/
      this.alertOptions = {
        show: true,
        warning:'反馈',
        msg: item.remake,
        sureText: false,
        cancelText: '关闭',
        showClose:true,
        width:360,
        btn:2,
        sure() {
        },
        cancel() {
          this.show = false;
        }
      }
    },
    // 打开反馈
    feedBack(){
      this.form = {}
        this.title = "填写反馈消息"
        this.disabled = false
        getFeedBackAPI().then(res=>{
        if(res.data.code === 0){
          this.list = res.data.data
          this.feedBackShow = true
        
        }else{
          this.$message.error('获取反馈表单失败')
          }
        })
    },
    // 查看反馈
    viewFeedback(item){
        this.title = "查看反馈消息"
        this.disabled = true
        this.applyDetail = JSON.parse(item.text)
        this.list = changeFromList(JSON.parse(item.text))
        this.changeDetail()
    },
    // 修改返显数据
    changeDetail(){
      let obj ={}
      for(var prop in this.applyDetail){
        obj[prop] = this.applyDetail[prop].value
      }
        this.form = obj
        this.feedBackShow = true
    },
    // 反馈
    onSubmit(value){
        if(Object.keys(value).length > 0){
          const feedBack = {
            'text':JSON.stringify(changeFromData(this.list,value))
          }
          saveFeedBackAPI(feedBack).then(res=>{
            if(res.data.code == 0){
              this.form = {}
              this.feedBackShow = false
              this.$message.success('反馈信息提交成功')
              this.getFeedBackList()
            }else{
              this.$message.error(res.data.msg)
              this.feedBackShow = false
            }
          })
        }else{
          this.$message.error("请填写反馈信息")
        }
        
    },


    // feedback(item){

    //     this.disabled = true
    //     this.applyDetail = JSON.parse(item.value)

    //     this.list = changeFromList(JSON.parse(item.value))
    //     this.changeDetail()
    //   // }
    // },
    // // 修改返显数据
    // changeDetail(){

    //   let obj ={}
    //   for(var prop in this.applyDetail){
    //     obj[prop] = this.applyDetail[prop].value
    //   }
    //     this.form = obj
    //     this.feedBackShow = true
    // },


   // 页数改变
    pageChange(val) {
      this.listQuery.pageNum = val
      this.getFeedBackList()
    },
      /*切换page*/
      pageChange(val) {

        this.listQuery.pageNum = val
        this.getFeedBackList();
      },
    },

  }
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped lang="less">
.feedback{
    position: relative;
    .down{
        position: absolute;
        right: 28px;
        top: 20px;
        margin-bottom: 6px;
        width: 89px;
        height: 34px;
        line-height: 34px;
        background: #3279FF;
        color: #fff;
        font-size: 14px;
        text-align: center;
    }
    .down:hover{
        cursor: pointer;
    }
  .feedbackList{
    width: 924px;
    margin: 20px auto;
    .feedbackTit{
      width:922px;
      height:46px;
      line-height: 46px;
      background:rgba(245,245,245,1);
      border:1px solid rgba(238,238,238,1);
      span{
        display: block;
        float: left;
        text-align: center;
        font-size:14px;
        font-family: 'Microsoft YaHei';
        font-weight:bold;
        color:rgba(69,69,69,1);
      }

    }
    .feedbackCont{
      width:922px;
      border-left:1px solid #EEEEEE;
      border-right:1px solid #EEEEEE;
      li{
        width:924px;
        height:60px;
        line-height: 60px;
        border-bottom: 1px solid #EEEEEE;
        text-align: center;
        display: flex;
        // justify-content: space-between;
        font-size:14px;
        font-family: 'Microsoft YaHei';
        font-weight:400;
        color:rgba(102,102,102,1);
        .title{
          width: 343px;
          overflow:hidden;
          text-overflow:ellipsis;
          white-space:nowrap;
        }
        .title:hover{
          color: #3279FF;
        }
        .date{
          width:230px;
          border-left:1px solid #EEEEEE;
          border-right:1px solid #EEEEEE;
        }
        .status{
          width:167px;
          border-right:1px solid #EEEEEE;
          /*display: flex;
          justify-content: center;
          align-items: center;*/
        }
        .noOk{
          color:#3279FF;
          display: flex;
          align-items: center;
          justify-content: center;
          img{
            margin-bottom: 4px;
            margin-left: 6px;
            width: 17px;
            height:16px;
            display: inline-block;
          }
        }
        .lookDetail{
          width: 181px;
          color:#FFA32B;
          span{
            cursor: pointer;
          }
        }

      }
    }
    .feedback-none{
      display: flex;
      width: 100%;
      justify-content: center;
    }
  }
/*弹出框*/
  .feedbackEla {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    background: rgba(0, 0, 0, 0.2);
    display: flex;
    justify-content: center;
    align-items: center;
    .feedbackECont {
      width: 600px;
      height: auto;
      background: #fff;
      .feedbackECTit {
        width: 100%;
        height: 36px;
        line-height: 36px;
        background: rgba(244, 244, 244, 1);
        border-radius: 3px 3px 0px 0px;
        display: flex;
        justify-content: space-between;
        h1 {
          font-size: 14px;
          font-family: 'Microsoft YaHei';
          font-weight: bold;
          color: rgba(69, 69, 69, 1);
          padding-left: 15px;
        }
        span {
          font-size: 16px;
          font-family: 'Microsoft YaHei';
          color: #999999;
          margin-right: 15px;
          cursor: pointer;

        }
      }
      .feedbackMess{
        padding-left: 50px;
        padding-top: 25px;
        padding-right: 50px;
        padding-bottom: 20px;
        ul{
          li{
            display: flex;
            justify-content: space-between;
            overflow: hidden;
            h1{
              width:85px;
              font-size:14px;
              font-family: 'Microsoft YaHei';
              font-weight:400;
            }
            h2{
              width:50px;
              font-size:14px;
              font-family: 'Microsoft YaHei';
              font-weight:400;

            }
            h1,h2{
              font-size:14px;
              font-family: 'Microsoft YaHei';
              font-weight:400;
              color:rgba(102,102,102,1);
              line-height:38px;
              text-align: right;
            }
            h3{
              width:403px;
              font-size:14px;
              font-family: 'Microsoft YaHei';
              font-weight:400;
              color:rgba(102,102,102,1);
              line-height: 38px;
            }
            p{
              width:403px;
              font-size:14px;
              font-family: 'Microsoft YaHei';
              font-weight:400;
              color:rgba(102,102,102,1);
              line-height: 24px;
            }
            .feedbackM1,.feedbackM2{
              height: 38px;
              span{
                width:160px;
                line-height: 38px;
                font-size:14px;
                font-family: 'Microsoft YaHei';
                font-weight:400;
                color:rgba(102,102,102,1);
              }
            }
            .feedbackM1{
              width:255px;
              display: flex;
              justify-content: space-between;
            }
            .feedbackM2{
              width:215px;
              display: flex;
              justify-content: space-between;
            }
          }
        }
      }

    }
    .feedbackEBtn{
      width:100%;
      text-align: center;
      height:32px;
      line-height: 32px;
      margin-bottom: 30px;
      span{
        display: inline-block;
        width:96px;
        height:32px;
        background:rgba(50,121,255,1);
        border-radius:4px;
        font-size:12px;
        font-family: 'Microsoft YaHei';
        font-weight:400;
        color:rgba(255,255,255,1);
        cursor: pointer;
      }
    }

  }

}
</style>
